USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[SPPurchasingReadyQuantityCalculation]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE           PROCEDURE [dbo].[SPPurchasingReadyQuantityCalculation] AS
	
	delete	TBPurchasingQuantityCalculation
	IF exists (Select 1 From tempdb..sysobjects where name like '#RawRequestReady%')
		DROP TABLE #RawRequestReady
	-- 자재의뢰원장의 대기수량을 저장할 임시 Table
	CREATE TABLE #RawRequestReady
	(
		ItemNum VARCHAR(50),
		Quantity decimal(20,2),
	) 
	insert into #RawRequestReady
	Select ItemNum, Sum(DeliveryOrderRequestQuantity) From MRC_HT
	Where ProgressCondition = '대기' 
	Group by ItemNum
	IF exists (Select 1 From tempdb..sysobjects where name like '#PurchasingRequestReady%')
		DROP TABLE #PurchasingRequestReady
	-- 구매의뢰원장의 대기수량을 저장할 임시 Table
	CREATE TABLE #PurchasingRequestReady
	(
		ItemNum VARCHAR(50),
		Quantity decimal(20,2),
	) 
	insert into #PurchasingRequestReady
	Select ItemNum, Sum(OrderQuantity) From BR_HT
	Where ProgressCondition = '대기' 
	Group by ItemNum
	IF exists (Select 1 From tempdb..sysobjects where name like '#PurchasingOrderRemainder%')
		DROP TABLE #PurchasingOrderRemainder
	-- 구매발주원장의 대기,진행 잔량을 저장할 임시 Table
	CREATE TABLE #PurchasingOrderRemainder
	(
		ItemNum VARCHAR(50),
		Quantity decimal(20,2),
	) 
	insert into #PurchasingOrderRemainder
	Select ItemNum, Sum(RemainQuantity) From BO_HT
	Where ProgressCondition = '대기'  or ProgressCondition = '진행' 
	Group by ItemNum
	Insert into TBPurchasingQuantityCalculation
	Select T.ItemNum, 
	isnull(T.Quantity,0),			--총소요량
--	isnull(0-P.Quantity,0),			--순소요량
	isnull(0-P.Quantity,0)-isnull(R.Quantity,0)-isnull(PR.Quantity,0) -isnull(PO.Quantity,0),--순소요량
	isnull(R.Quantity,0),			--자재의뢰대기량
	isnull(PR.Quantity,0),			--구매의뢰대기량
	isnull(PO.Quantity,0)			--구매발주잔량
	From TBTotalNeedResult T			--총소요산출테이블
	left outer join TBPureNeed P		-- 순소요산출테이블
	on T.ItemNum = P.ItemNum	
	left outer join #RawRequestReady R		--자재의뢰원장
	on T.ItemNum = R.ItemNum	
	left outer join #PurchasingRequestReady PR	--구매의뢰원장
	on T.ItemNum = PR.ItemNum	
	left outer join #PurchasingOrderRemainder PO	--구매의뢰원장
	on T.ItemNum = PO.ItemNum	
	
	Select P.ItemNum, I.ItemDrawNum,I.ItemName, P.TotalNeed, PureNeed, RawRequestReady, PurchasingRequestReady, PurchasingOrderRemainder
	From TBPurchasingQuantityCalculation P inner join II_MT I on P.ItemNum = I.ItemNum
	Where RecodingState = 1
GO
