USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[Item_ProcessSequence]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE        proc [dbo].[Item_ProcessSequence] ( @ItemNum varchar(50) 
							, @Quantity decimal(20, 2) 
						    )
as
	select 
	  psi_mt.ItemNum
	, processSequenceNum
--	, workDistinction  as processSequenceNum
	, uci_mt.BusinessRegistrationNum
	, @Quantity as [모품수량]
	, ((ProgressRate / 100) * ii_mt.StandardUnitCost) as TotalCost 
	from psi_mt
	join  ii_mt
	on psi_mt.itemnum = ii_mt.itemnum
	left join uci_mt
	on psi_mt.ProcessCode = uci_mt.EndProcessCode and psi_mt.itemnum = uci_mt.itemnum
	where ( psi_mt.itemnum = @ItemNum ) 
	and ( psi_mt.RecodingState =1 ) and ( ii_mt.RecodingState =1 )
	order by processSequenceNum asc
GO
