USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[SPProdecutionPlanResult]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[SPProdecutionPlanResult]  AS
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[TempGroupViewPP_HT]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[TempGroupViewPP_HT]
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[TempViewPP_HT]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[TempViewPP_HT]
CREATE TABLE [dbo].[TempGroupViewPP_HT] (
	[Idx] [int] IDENTITY (1, 1) NOT NULL ,
	[ItemNum] [varchar] (50) COLLATE Korean_Wansung_CI_AS NULL ,
	[OrderRemainQuantity] [decimal](20, 2) NULL ,
	[PlanRemainQuantity] [decimal](20, 2) NULL ,
	[InsufficiencyQuantity] [decimal](20, 2) NULL ,
	[StockQuantity] [decimal](20, 2) NULL ,
	[ThisPlanQuantity] [decimal](20, 2) NULL ,
	[NeedQuantity] [decimal](20, 2) NULL ,
	[ProductionCompleteDate] [smalldatetime] NULL ,
	[ProductionBeginDate] [smalldatetime] NULL 
) ON [PRIMARY]
CREATE TABLE [dbo].[TempViewPP_HT] (
	[Idx] [int] IDENTITY (1, 1) NOT NULL ,
	[ItemNum] [varchar] (50) COLLATE Korean_Wansung_CI_AS NULL ,
	[OrderRemainQuantity] [decimal](20, 2) NULL ,
	[PlanRemainQuantity] [decimal](20, 2) NULL ,
	[InsufficiencyQuantity] [decimal](20, 2) NULL ,
	[StockQuantity] [decimal](20, 2) NULL ,
	[ThisPlanQuantity] [decimal](20, 2) NULL ,
	[NeedQuantity] [decimal](20, 2) NULL ,
	[ProductionCompleteDate] [smalldatetime] NULL ,
	[ProductionBeginDate] [smalldatetime] NULL 
) ON [PRIMARY]
ALTER TABLE [dbo].[TempGroupViewPP_HT] ADD 
	CONSTRAINT [DF_TempGroupViewPP_HT_OrderRemainQuantity] DEFAULT (0) FOR [OrderRemainQuantity],
	CONSTRAINT [DF_TempGroupViewPP_HT_PlanRemainQuantity] DEFAULT (0) FOR [PlanRemainQuantity],
	CONSTRAINT [DF_TempGroupViewPP_HT_InsufficiencyQuantity] DEFAULT (0) FOR [InsufficiencyQuantity],
	CONSTRAINT [DF_TempGroupViewPP_HT_StockQuantity] DEFAULT (0) FOR [StockQuantity],
	CONSTRAINT [DF_TempGroupViewPP_HT_ThisPlanQuantity] DEFAULT (0) FOR [ThisPlanQuantity],
	CONSTRAINT [DF_TempGroupViewPP_HT_NeedQuantity] DEFAULT (0) FOR [NeedQuantity],
	CONSTRAINT [PK_TempGroupViewPP_HT] PRIMARY KEY  CLUSTERED 
	(
		[Idx]
	)  ON [PRIMARY] 
ALTER TABLE [dbo].[TempViewPP_HT] ADD 
	CONSTRAINT [DF_TempViewPP_HT_OrderRemainQuantity] DEFAULT (0) FOR [OrderRemainQuantity],
	CONSTRAINT [DF_TempViewPP_HT_PlanRemainQuantity] DEFAULT (0) FOR [PlanRemainQuantity],
	CONSTRAINT [DF_TempViewPP_HT_InsufficiencyQuantity] DEFAULT (0) FOR [InsufficiencyQuantity],
	CONSTRAINT [DF_TempViewPP_HT_StockQuantity] DEFAULT (0) FOR [StockQuantity],
	CONSTRAINT [DF_TempViewPP_HT_ThisPlanQuantity] DEFAULT (0) FOR [ThisPlanQuantity],
	CONSTRAINT [DF_TempViewPP_HT_NeedQuantity] DEFAULT (0) FOR [NeedQuantity],
	CONSTRAINT [PK_TempViewPP_HT] PRIMARY KEY  CLUSTERED 
	(
		[Idx]
	)  ON [PRIMARY] 
DECLARE cur_ProdecutionPlan CURSOR 
FOR
Select ItemNum
	,OrderRemainQuantity
	,PlanRemainQuantity
	,InsufficiencyQuantity
	,StockQuantity
	,ThisPlanQuantity
	,NeedQuantity
	,ProductionCompleteDate
	,ProductionBeginDate
	
From
(
	Select 	ItemNum		--품목번호
	,RemainderQuantity as  OrderRemainQuantity	--수주잔량
	,0 as PlanRemainQuantity			--생산계획잔량
	,RemainderQuantity as InsufficiencyQuantity	--과부족량
	,0 as StockQuantity			--현재고
	,0 as ThisPlanQuantity			--금번계획량
	,0 as NeedQuantity			--필요량
	,DeliveryRequestDate1 as ProductionCompleteDate	--생산완료일
	,Null as ProductionBeginDate		--생산계획일
From RO_HT
where ProgressCondition = '대기' or ProgressCondition = '진행'
union all
Select 	ItemNum			--품목번호
	,0  as  OrderRemainQuantity			--수주잔량
	,ProductionPlanQuantity-ProductionCompleteQuantity	as PlanRemainQuantity	--생산계획잔량
	,0 as InsufficiencyQuantity			--과부족량
	,0 as StockQuantity			--현재고
	,0 as ThisPlanQuantity			--금번계획량
	,0  as NeedQuantity			--필요량
	,DeliveryDate as ProductionCompleteDate		--생산완료일
	,ProductionBeginDate as ProductionBeginDate		--생산계획일
From PP_HT
where ProgressCondition = '대기' or ProgressCondition = '진행'
union all
Select 	ItemNum			--품목번호
	,0  as  OrderRemainQuantity			--수주잔량
	,0 as PlanRemainQuantity	--생산계획잔량
	,0 as InsufficiencyQuantity			--과부족량
	,0 as StockQuantity			--현재고
	,ProductionPlan as ThisPlanQuantity		--금번계획량
	,0  as NeedQuantity			--필요량
	,DeliveryDate as ProductionCompleteDate		--생산완료일
	,Null as ProductionBeginDate		--생산계획일
From TempPP_HTGroup
)T
order by ItemNum, ProductionCompleteDate, ProductionBeginDate
	
--커서 오픈
OPEN cur_ProdecutionPlan
--변수 선언
DECLARE @ItemNum varchar(50)
DECLARE @ItemNum1 varchar(50)
DECLARE @RemainQuantity decimal(20,2)
DECLARE @PlanRemainQuantiy decimal(20,2)
DECLARE @InsufficiencyQuantity decimal(20,2)
DECLARE @StockQuantity decimal(20,2)
DECLARE @ThisPlanQuantity decimal(20,2)
DECLARE @NeedQuantity decimal(20,2)
DECLARE @DeliveryDate smalldatetime
DECLARE @BeginDate smalldatetime
Set @ItemNum1 = ''
--첫 로우 FETCH
FETCH NEXT FROM cur_ProdecutionPlan INTO @ItemNum
				,@RemainQuantity
				,@PlanRemainQuantiy
				,@InsufficiencyQuantity
				,@StockQuantity
				,@ThisPlanQuantity
				,@NeedQuantity
				,@DeliveryDate
				,@BeginDate
WHILE @@FETCH_STATUS = 0
BEGIN
if(@ItemNum1 = '')
begin
--FETCH된 데이터를 temptable에 삽입
	Set @ItemNum1 = @ItemNum
	Insert into TempGroupViewPP_HT values(@ItemNum
				,@RemainQuantity
				,@PlanRemainQuantiy
				,@InsufficiencyQuantity
				,@StockQuantity
				,@ThisPlanQuantity
				,@NeedQuantity
				,@DeliveryDate
				,@BeginDate
				)
end
else if(@ItemNum1 != @ItemNum)
begin
--FETCH된 데이터를 temptable에 삽입
	Set @ItemNum1 = @ItemNum
	Insert into TempGroupViewPP_HT values(@ItemNum
				,@RemainQuantity
				,@PlanRemainQuantiy
				,@InsufficiencyQuantity
				,@StockQuantity
				,@ThisPlanQuantity
				,@NeedQuantity
				,@DeliveryDate
				,@BeginDate
				)
end
else if(@ItemNum1 = @ItemNum)
begin
	if(@BeginDate = null)
	begin
	Update TempGroupViewPP_HT Set OrderRemainQuantity = OrderRemainQuantity + @RemainQuantity
				,PlanRemainQuantity = PlanRemainQuantity +@PlanRemainQuantiy
				,ThisPlanQuantity = ThisPlanQuantity+@ThisPlanQuantity				
	where ItemNum = @ItemNum
	end
	else
	begin
	Update TempGroupViewPP_HT Set OrderRemainQuantity = OrderRemainQuantity + @RemainQuantity
				,PlanRemainQuantity = PlanRemainQuantity +@PlanRemainQuantiy
				,ThisPlanQuantity = ThisPlanQuantity+@ThisPlanQuantity				
				, ProductionBeginDate = @BeginDate
	where ItemNum = @ItemNum
	end
end
--다음 로우 FEETCH - 루프
FETCH NEXT  FROM cur_ProdecutionPlan INTO @ItemNum
				,@RemainQuantity
				,@PlanRemainQuantiy
				,@InsufficiencyQuantity
				,@StockQuantity
				,@ThisPlanQuantity
				,@NeedQuantity
				,@DeliveryDate
				,@BeginDate
END
--커서 CLOSE
CLOSE cur_ProdecutionPlan
--커서 DEALLOCATE
DEALLOCATE cur_ProdecutionPlan
SELECT TempGroupViewPP_HT.Idx, TempGroupViewPP_HT.ItemNum, II_MT.ItemName, TempGroupViewPP_HT.OrderRemainQuantity, TempGroupViewPP_HT.PlanRemainQuantity, TempGroupViewPP_HT.InsufficiencyQuantity, TempGroupViewPP_HT.StockQuantity, TempGroupViewPP_HT.ThisPlanQuantity, TempGroupViewPP_HT.NeedQuantity, TempGroupViewPP_HT.ProductionCompleteDate, TempGroupViewPP_HT.ProductionBeginDate FROM TempGroupViewPP_HT INNER JOIN II_MT ON TempGroupViewPP_HT.ItemNum = II_MT.ItemNum WHERE (II_MT.RecodingState = 1)
order by TempGroupViewPP_HT.ItemNum, ProductionCompleteDate, ProductionBeginDate
GO
