USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[ItemSequenceStock_Commodity_Search]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
create   proc [dbo].[ItemSequenceStock_Commodity_Search] ( @itemnum as varchar(50) )
as
begin
	--영업창고, 생산창고, 납품창고
	select 
	 품목번호
	, '상품' as 자산분류
	, t1.[영업창고 수량]
	, t2.[생산창고 수량]
	, t3.[납품창고 수량]
	from 
	(
		select 
		itemnum as 품목번호
		, sum(stockquantity12) as [영업창고 수량]
		from bs_mt
		where itemnum = @itemnum
		and recodingstate = 1
		group by 
		itemnum
	) t1,
	(
		select 
		itemnum
		, sum(stockquantity12) as [생산창고 수량]
		from ps_mt
		where itemnum = @itemnum
		and recodingstate = 1
		group by 
		itemnum
	) t2,
	(
		select 
		itemnum
		, sum(stockquantity12) as [납품창고 수량]
		from ds_mt
		where itemnum =  @itemnum
		and recodingstate = 1
		group by 
		itemnum
	) t3
	group by 
	품목번호, 	 t1.[영업창고 수량]	, t2.[생산창고 수량]	, t3.[납품창고 수량]
end
GO
