USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[SPTempWorkPlanning]    Script Date: 07/02/2026 08:48:43 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE         PROCEDURE [dbo].[SPTempWorkPlanning] @ItemNum AS VARCHAR(50),  @ProcessCode AS VARCHAR(50), @Quantity AS DECIMAL(20, 3) AS
	
	delete TBTempWorkPlanning
	Insert Into  TBTempWorkPlanning 
	select T.ItemNum, P.ProcessSequenceNum, P.ProcessCode, P.WorkDistinction,T.Quantity, T.Lvl, T.Path
	From TBWorkDivision  T join PSI_MT P on  T.ItemNum = P.ItemNum and T.ProcessSequenceNum = P.ProcessSequenceNum
	Where P.RecodingState = 1
	order by Path, T.ProcessSequenceNum desc
	--delete TBTempWorkPlanning where ItemNum != @ItemNum or ProcessCode != @ProcessCode
	Select * From TBTempWorkPlanning order by Path, ProcessSequenceNum desc
GO
