USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[SPSalePC]    Script Date: 07/02/2026 08:48:43 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE                     PROCEDURE [dbo].[SPSalePC] 
@ItemNum AS VARCHAR(50), 
@ItemDrawNum AS VARCHAR(50), 
@ItemName AS VARCHAR(50), 
@CompanyName AS VARCHAR(50), 
@BusinessRegistrationNum AS VARCHAR(30), 
@StartDate AS smalldatetime, 
@EndDate AS smalldatetime
 AS
	if(@StartDate = '')
		Set @StartDate = '1999-01-01'
	if(@EndDate = '')
		Set @EndDate = '2050-12-31'
IF exists (Select 1 From tempdb..sysobjects where name like '#SaleTemp%')
		DROP TABLE #SaleTemp
	-- 특정제품을 생산하는데 필요한 부품과 수량을 임시로 기억할 Table
	CREATE TABLE #SaleTemp
	(
		CompanyName VARCHAR(50),
		BusinessRegistrationNum Varchar(20),
		ItemNum VARCHAR(50),		
		ItemDrawNum VARCHAR(50),	
		ItemName VARCHAR(50),
		SaleDate smalldatetime,
		SaleQuantity decimal(18,2),
		ApplyUnitCost decimal(18,2),
		--OutStorehouseQuantity decimal(18,2),
		--SuitabilityQuantity decimal(18,2),
		--UnInspectionQuantity decimal(18,2),
		--RemainderQuantity decimal(18,2),
		TotalSaleCost decimal(18,2),
	)  
	INSERT INTO #SaleTemp
		Select CompanyName, BusinessRegistrationNum, ItemNum, ItemDrawNum, ItemName, SaleDate, sum(SuitabilityQuantity),avg(ApplyUnitCost),
		 (isnull(avg(ApplyUnitCost),0) * isnull(sum(SuitabilityQuantity),0)) as TotalSaleCost
		From S_HT
		where ItemNum like '%'+@ItemNum+'%' and ItemDrawNum like '%'+@ItemDrawNum+'%'
		and ItemName like '%'+@ItemName+'%' and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
		and CompanyName like '%'+@CompanyName+'%'
		and (SaleDate BETWEEN @StartDate and @EndDate) 
		Group by CompanyName, BusinessRegistrationNum, ItemNum, ItemDrawNum, ItemName, SaleDate
	
	SELECT 
	CompanyName
	, BusinessRegistrationNum
	, ItemNum
	, ItemName 
	, SaleDate
	, ApplyUnitCost	
	, SaleQuantity
	, TotalSaleCost
 FROM 
(
	SELECT 
	CompanyName
	, BusinessRegistrationNum
	, ItemNum
	, ItemName
	, SaleDate
	, SaleQuantity
	, ApplyUnitCost	
	, TotalSaleCost
	, BusinessRegistrationNum as Num
	FROM #SaleTemp
	UNION ALL
	SELECT 
	NULL
	,  '소 계'	
	, '소 계'	
	, NULL
	, NULL
	, Sum(SaleQuantity)
	, NULL
	, Sum(TotalSaleCost)
	, BusinessRegistrationNum as Num
	FROM #SaleTemp
	GROUP BY BusinessRegistrationNum
	UNION ALL
	SELECT 
	 '합 계'
	, NULL
	, NULL
	, NULL
	, NULL
	, Sum(SaleQuantity)
	, NULL
	, Sum(TotalSaleCost)
	, '999' as Num
	FROM #SaleTemp
	
) T
ORDER BY Num, BusinessRegistrationNum, SaleDate
GO
