USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[procDeliveryRequestPC]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--납품의뢰 현황  프로시져....각각의 납품의뢰 원장을 뷰로 만들어 두었는데 그것을 검색해서 그리드에 바인딩
CREATE   proc [dbo].[procDeliveryRequestPC] (@userID varchar(10))
as 
Declare @BusinessRegistrationNum varchar(30)
set @BusinessRegistrationNum =(select BusinessRegistrationNum from UI_MT where ID =@userID)
 
select * from DeliveryRequestPC where (progresscondition ='대기' or progresscondition = '진행') and DeliveryRequestPC.BusinessRegistrationNum = @BusinessRegistrationNum
GO
