USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[UP_INSERT_HFREEREPLY]    Script Date: 07/02/2026 08:48:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE    PROC [dbo].[UP_INSERT_HFREEREPLY]
    @ParentHFreeBoardIndex	int,
    @PrevHFreeBoardIndex		int,
    @depth                 		int,
    @Title				Varchar(100),
    @RegistrationPerson		Varchar(50),
    @Contents		              Varchar(7000),
    @Password			Varchar(50)
AS
    SET NOCOUNT ON
    BEGIN TRAN
    UPDATE HFB_T 
    SET HFreeBoardIndex = HFreeBoardIndex - 1
    Where HFreeBoardIndex < @ParentHFreeBoardIndex and HFreeBoardIndex > @PrevHFreeBoardIndex
    IF (@@ERROR <> 0)
    BEGIN
        ROLLBACK TRAN
        RETURN
    END
    INSERT INTO HFB_T
        (HFreeBoardIndex, depth, RegistrationPerson, Title, Contents, Password) 
    Values 
        (@ParentHFreeBoardIndex-1, @depth, @RegistrationPerson, @Title, @Contents, @Password)
    IF (@@ERROR <> 0)
    BEGIN
        ROLLBACK TRAN
        RETURN
    END
    COMMIT TRAN
GO
