USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[QualityIndex_Search]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE      proc  [dbo].[QualityIndex_Search]
(
		  @ItemName_arg varchar(30) = ''			--품목명
		, @startDate varchar(11) = ''			-- 시작 등록날짜 
		, @endDate varchar(11) = '' 			-- 종료 등록날짜
)
as
begin
select  
ItemName as [품목명]
,  sum(qi.cnt) AS [총 Lot 수]   
,  sum(qi.y) as [부적합건수]
,  sum(cast(qi.y AS decimal(20,2))) / CAST(sum(qi.cnt) AS decimal(20,2)) * 100  AS [부적합율 (%)]
,  Sum(UnSuitabilityCost) as [손실 금액]    
,  sum(RequestQuantity) as [거래 수량]    
,  sum(UnSuitabilityQuantity) as [부적합 수량]    
,  cast( SUM(UnSuitabilityQuantity) as decimal(20,2)) / cast(SUM(RequestQuantity) as decimal(20,2))  * 1000000 as PPM   
from   
 (
	select qi_ht.ItemName , 1 as cnt, 
	case 
		when	UnSuitabilityStatusMeaning is not null		-- 부적합 사유가 발생하지 않았다면 1 발생하면 0
		then 	1
		else 	0
	end as y
	, UnSuitabilityCost
	, RequestQuantity
	, UnSuitabilityQuantity
	from qi_ht  
	join ii_mt
	on qi_ht.ItemNum = ii_mt.ItemNum
	where 
	(
		qi_ht.QualityInspectionCompleteDate between
		(
			case 
			when( @startDate <> '' )
			then @startDate
			else '2004-01-01'
			end
		)
		and 
		(
			case 
			when ( @endDate <> '' )
			then @endDate
			else	 '2050-01-01'
			end
		)	
		and
		(
			case
			when(@ItemName_arg <> '')
			then qi_ht.ItemName
			else ''
			end
		)		
		like
		(
			case
			when(@ItemName_arg <> '')
			then '%' + @ItemName_arg + '%'
			else ''
			end
		)
	) 
	--order by  QualityInspectionCompleteDate desc
) as qi
group by qi.ItemName
end
GO
