USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[SPTempOutWorkPlanning]    Script Date: 07/02/2026 08:48:43 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE         PROCEDURE [dbo].[SPTempOutWorkPlanning] @ItemNum AS VARCHAR(50),  @Quantity decimal(20,2)  AS
	
	delete TBTempWorkPlanning
	--declare @Quantity decimal(20,2)
	--Set @Quantity = '1'
	IF exists (Select 1 From tempdb..sysobjects where name like '#TempTree%')
		DROP TABLE #TempTree
	CREATE TABLE #TempTree
	(
		ItemNum VARCHAR(50),
		ItemDrawNum VARCHAR(50),
		ItemName VARCHAR(50),
		Quantity FLOAT,
		Lvl TINYINT,
		Path VARCHAR(500),
	)  
	IF exists (Select 1 From tempdb..sysobjects where name like '#TempItem%')
		DROP TABLE #TempItem
	CREATE TABLE #TempItem
	(
		ItemNum	VARCHAR(50),
		ItemDrawNum VARCHAR(50),
		ItemName VARCHAR(50),
		NeedQuantityDenominator DECIMAL(20, 3),
		ParentItemNum VARCHAR(50),
	)
	-- 자품번호입력
	INSERT INTO #TempItem
	SELECT IOI_MT.ChildItemNum AS ItemNum, II_MT.ItemDrawNum AS ItemDrawNum, II_MT.ItemName AS ItemName, 
		IOI_MT.NeedQuantityNumerator / IOI_MT.NeedQuantityDenominator AS NeedQuantityDenominator,
		IOI_MT.ParentItemNum  AS ParentItemNum
	FROM II_MT JOIN IOI_MT ON II_MT.ItemNum = IOI_MT.ChildItemNum
	WHERE (II_MT.RecodingState = 1) AND (IOI_MT.RecodingState = 1)
	-- 모품번호입력
	INSERT INTO #TempItem 
	SELECT ItemNum, ItemDrawNum,  ItemName, 1 AS NeedQuantityDenominator, null AS ParentItemNum
	FROM II_MT WHERE II_MT.RecodingState = 1 AND ItemNum = @ItemNum
	DECLARE @Lvl TINYINT, @Path VARCHAR(500)
	
	SET @Lvl = 1
	-- 모품ItemNum + 자기ItemNum
	SET @Path = ''
	INSERT INTO #TempTree
	SELECT TOP 1 ItemNum, ItemDrawNum,  ItemName, @Quantity, @Lvl, @Path + CAST(ItemNum as varchar(50))
	FROM #TempItem WHERE ItemNum = @ItemNum
	WHILE ( @@ROWCOUNT > 0 )
	BEGIN
		SET @Lvl = @Lvl + 1
		INSERT INTO #TempTree
		SELECT TempItem.ItemNum, TempItem.ItemDrawNum, TempItem.ItemName,
			TempItem.NeedQuantityDenominator * TempTree.Quantity,
			@Lvl, (TempTree.Path + CAST(TempItem.ItemNum as varchar(50)) ) 
		FROM #TempItem AS TempItem JOIN #TempTree AS TempTree
		ON TempItem.ParentItemNum = TempTree.ItemNum AND TempTree.Lvl = @Lvl - 1
		
	END
	
	Insert Into TBTempOutWorkPlanning 
	SELECT #TempTree.ItemNum, PSI_MT.ProcessSequenceNum as ProcessSequenceNum , PSI_MT.ProcessCode as ProcessCode, Quantity,Lvl,Path
	FROM #TempTree  join PSI_MT
	on #TempTree.ItemNum = PSI_MT.ItemNum
	ORDER BY Path ASC , ProcessSequenceNum desc
	Insert Into TBTempWorkPlanning 
	select T.ItemNum, T.ProcessSequenceNum, T.ProcessCode, P.WorkDistinction, T.Quantity, T.Lvl, T.Path
	From TBTempOutWorkPlanning T join PSI_MT P on  T.ItemNum = P.ItemNum and T.ProcessSequenceNum = P.ProcessSequenceNum
	Where P.RecodingState = 1
	order by Path, T.ProcessSequenceNum desc
	delete TBTempOutWorkPlanning
	select * From TBTempWorkPlanning order by Path, ProcessSequenceNum desc
GO
