USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[UP_INSERT_FREEREPLY]    Script Date: 07/02/2026 08:48:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[UP_INSERT_FREEREPLY]
    @ParentCFreeBoardIndex	int,
    @PrevCFreeBoardIndex		int,
    @depth                 		int,
    @Title				Varchar(100),
    @RegistrationPerson		Varchar(50),
    @Contents		              Varchar(7000)
AS
    SET NOCOUNT ON
    BEGIN TRAN
    UPDATE CFB_T 
    SET CFreeBoardIndex = CFreeBoardIndex - 1
    Where CFreeBoardIndex < @ParentCFreeBoardIndex and CFreeBoardIndex > @PrevCFreeBoardIndex
    IF (@@ERROR <> 0)
    BEGIN
        ROLLBACK TRAN
        RETURN
    END
    INSERT INTO CFB_T
        (CFreeBoardIndex, depth, RegistrationPerson, Title, Contents) 
    Values 
        (@ParentCFreeBoardIndex-1, @depth, @RegistrationPerson, @Title, @Contents)
    IF (@@ERROR <> 0)
    BEGIN
        ROLLBACK TRAN
        RETURN
    END
    COMMIT TRAN
GO
