USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[SPProductRawTablePlus]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE  PROCEDURE [dbo].[SPProductRawTablePlus]  AS
	
	delete TBProductRawTableResult
	Insert into TBProductRawTableResult
	select * From TBWorkRedundant
	union all
	select * From TBRawRedundant
	order by ItemNum, ProcessSequenceNum desc
GO
