USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[SPMonthStockQuantity]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE  PROCEDURE [dbo].[SPMonthStockQuantity]  
@ItemNum as varchar(100),
@Year as int,
@Month as int

 AS
	Declare @Division varchar(20)
	Set @Division  = (Select PropertyClassification From II_MT where RecodingState =1 and ItemNum = @ItemNum)
GO
