USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[TotalBom]    Script Date: 07/02/2026 08:48:43 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE  PROCEDURE  [dbo].[TotalBom] AS 

	if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[TotalBomTempItem]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
	drop table [dbo].[TotalBomTempItem]
GO
