USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[UP_INSERT_FREENEW]    Script Date: 07/02/2026 08:48:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[UP_INSERT_FREENEW]
    @RegistrationPerson     Varchar(50),
    @Title			Varchar(100),
    @Contents		Varchar(7000)
AS
    SET NOCOUNT ON
    DECLARE @NewCFreeBoardIndex int
    SELECT @NewCFreeBoardIndex = ISNULL(MAX(CFreeBoardIndex),0) + 1000 FROM CFB_T
    INSERT INTO CFB_T 
        (CFreeBoardIndex, depth, RegistrationPerson, Title, Contents) 
    Values 
        (@NewCFreeBoardIndex, 0, @RegistrationPerson, @Title, @Contents)
GO
