USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[BuyingDeliveryPC_Road]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[BuyingDeliveryPC_Road]
as
select * from BD_HT
GO
