USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[EtcBuyingDelivery_Search]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE       proc [dbo].[EtcBuyingDelivery_Search]
(
	@ItemName varchar(50) = ''
	, @CompanyName varchar(50) = ''
	, @BusinessRegistrationNum varchar(50) = ''
	, @DeliveryDemandDate varchar(50) = ''
	, @DeliveryDemandDate1 varchar(50) = ''
)
as
begin
	if(@BusinessRegistrationNum = '')
	begin		
		select 
		ItemName
		, CompanyName
		, BusinessRegistrationNum
		, OrderQuantity
		, RemainQuantity
		, ApplyUnitCost
		, TotalCost
		, ReasonCode
		, ReasonName
		, DeliveryDemandDate
	--	, convert(varchar, DeliveryDemandDate, 111) as DeliveryDemandDate
		, RegistrationPerson
		, RegistrationPersonID
		, RegistrationDate
	--	, convert(varchar, RegistrationDate, 111) as RegistrationDate
		, UpdatingPerson
		, UpdatingPersonID
		, UpdatingDate
	--	, convert(varchar, UpdatingDate, 111) as UpdatingDate
		, EtcBuyingOrderHistoryIndex
		, RecodingState
		 from etcbo_ht
		where
		(
			( case when @ItemName <> '' then ItemName else '' end )
			like
			( case when @ItemName <> '' then '%' + @ItemName + '%' else '' end )
			and 
			( case when @CompanyName <> '' then CompanyName else '' end )
			like
			( case when @CompanyName <> '' then '%' + @CompanyName + '%' else '' end )
			and DeliveryDemandDate between
		
			(
				case 
				when(@DeliveryDemandDate <> '')
				then @DeliveryDemandDate
				else '2004-01-01'
				end
			)
			and 
			(
				case 
				when ( @DeliveryDemandDate1 <> '')
				then @DeliveryDemandDate1
				else	 '2050-01-01'
				end
			)
			--and DeliveryDemandDate
			--<=
			--( case when @DeliveryDemandDate <> '' then @DeliveryDemandDate else '2050-12-31' end )
			and (RecodingState = '대기' or RecodingState = '진행'  )
		)
		order by DeliveryDemandDate desc
	end
	else
	begin
		select 
		ItemName
		, CompanyName
		, BusinessRegistrationNum
		, OrderQuantity
		, RemainQuantity
		, ApplyUnitCost
		, TotalCost
		, ReasonCode
		, ReasonName
		, DeliveryDemandDate
	--	, convert(varchar, DeliveryDemandDate, 111) as DeliveryDemandDate
		, RegistrationPerson
		, RegistrationPersonID
		, RegistrationDate
	--	, convert(varchar, RegistrationDate, 111) as RegistrationDate
		, UpdatingPerson
		, UpdatingPersonID
		, UpdatingDate
	--	, convert(varchar, UpdatingDate, 111) as UpdatingDate
		, EtcBuyingOrderHistoryIndex
		, RecodingState
		 from etcbo_ht
		where
		(
			( case when @ItemName <> '' then ItemName else '' end )
			like
			( case when @ItemName <> '' then '%' + @ItemName + '%' else '' end )
			and 
			( case when @CompanyName <> '' then CompanyName else '' end )
			like
			( case when @CompanyName <> '' then '%' + @CompanyName + '%' else '' end )
			and DeliveryDemandDate between
		
			(
				case 
				when(@DeliveryDemandDate <> '')
				then @DeliveryDemandDate
				else '2004-01-01'
				end
			)
			and 
			(
				case 
				when ( @DeliveryDemandDate1 <> '')
				then @DeliveryDemandDate1
				else	 '2050-01-01'
				end
			)
			--and DeliveryDemandDate
			--<=
			--( case when @DeliveryDemandDate <> '' then @DeliveryDemandDate else '2050-12-31' end )
			and (RecodingState = '대기' or RecodingState = '진행'  )
			and BusinessRegistrationNum = @BusinessRegistrationNum
		)
		order by DeliveryDemandDate desc
	end
end
GO
