USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[SPBundleforDeliveryDate]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SPBundleforDeliveryDate]  AS
	Delete TBBundleDelivery
	Insert into TBBundleDelivery
	Select ItemNum ,ProcessSequenceNum,  ProcessCode, WorkDistinction, Sum(WorkPlanQuantity) as WorkPlanQuantity , WorkDate,  Min(WorkCompleteDate) as WorkCompleteDate , DeliveryDate, ProductionPlanHistoryIndex From TBPreWorkPlan 
	group by ItemNum, ProcessSequenceNum, ProcessCode, WorkDistinction, WorkDate, DeliveryDate, ProductionPlanHistoryIndex
	Delete TBPreWorkPlan
	Insert into TBPreWorkPlan
	Select * From TBBundleDelivery
GO
