USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[QualityInspectionStatistics_Search]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE                  PROCEDURE [dbo].[QualityInspectionStatistics_Search]
						(	
							  @div varchar(1) 
							, @startDate varchar(50) = '' 
							, @endDate varchar(15) = '' 
						)
as
begin
	declare @SQL varchar(7000)
	 if (@div = '0') 
	 /*************************     전체선택     **************************/
	begin
		
		set @SQL = 'SELECT 
		   QI_HT.CompanyName as [거래처 명]
		,  COUNT(QualityInspectionHistoryIndex) AS [총 Lot 수]
		,  CASE WHEN un.[부적합 건수] IS NULL THEN 0 ELSE un.[부적합 건수]    END AS [부적합 건수]   
		,  CAST( un.[부적합 건수] AS decimal(20,2)) / CAST(COUNT(QualityInspectionHistoryIndex) AS decimal(20,2)) * 100  AS [부적합율 (%)]
		,  SUM(ApplyUnitCost * RequestQuantity) AS [총 금액]
		,  SUM(UnSuitabilityCost) AS [손실 금액]
		, CASE WHEN ApplyUnitCost > 0 THEN (CAST(SUM(UnSuitabilityCost) AS decimal(20,2)) / CAST(SUM(ApplyUnitCost * RequestQuantity) AS decimal(20,2)) * 100) ELSE null  END   AS [손실율 (%)]    
		,  SUM(RequestQuantity) AS [거래 수량]
		,  SUM(UnSuitabilityQuantity) AS [부적합 수량]
		,   cast(SUM(UnSuitabilityQuantity) as decimal(20,2) ) / cast(SUM(RequestQuantity) as decimal(20,2)) * 1000000  as PPM  
		FROM QI_HT LEFT OUTER join 
		(
				select CompanyName ,count(QualityInspectionHistoryIndex) AS [부적합 건수], BusinessRegistrationNum
				from qi_ht where  ( ProgressCondition = ''입고완료'' or ProgressCondition = ''검사완료'')
				AND (UnSuitabilityQuantity > 0)
				'
							if(@startDate <> '' and @endDate <> '')
									set @sql = @sql + ' and QualityInspectionCompleteDate between ''' + @startDate +''' and ''' + @endDate + ''''
							else if ( @startDate <> '' and @endDate = '' )
									set @sql = @sql + ' and QualityInspectionCompleteDate between ''' + @startDate +''' and ''2070-01-01'''
							else if (@startDate = '' and @endDate <> '')
									set @sql = @sql + ' and QualityInspectionCompleteDate between ''2004-01-01'' and '''+@endDate+''''
				
							set @SQL = @SQL + '
				group by BusinessRegistrationNum, CompanyName
		) as un
		on un.BusinessRegistrationNum = QI_HT.BusinessRegistrationNum
		where ( ProgressCondition = ''입고완료'' or ProgressCondition = ''검사완료'')
		'
					if(@startDate <> '' and @endDate <> '')
							set @sql = @sql + ' and QualityInspectionCompleteDate between ''' + @startDate +''' and ''' + @endDate + ''''
					else if ( @startDate <> '' and @endDate = '' )
							set @sql = @sql + ' and QualityInspectionCompleteDate between ''' + @startDate +''' and ''2070-01-01'''
					else if (@startDate = '' and @endDate <> '')
							set @sql = @sql + ' and QualityInspectionCompleteDate between ''2004-01-01'' and '''+@endDate+''''
		
		set @SQL = @SQL + ' 
		GROUP BY QI_HT.BusinessRegistrationNum,  QI_HT.CompanyName, un.[부적합 건수] , ApplyUnitCost
		
		union all
		
		select   wdr_ht.WCName  as [작업장 명]   
		 ,  COUNT(wdr_ht.WorkDailyReportHistoryIndex) AS [총 Lot 수]   
		 ,  case  when un.부적합건수 is null then 0 else un.부적합건수 end as [부적합 건수]   
		 ,  case when un.부적합건수  is null then 0 else CAST( un.부적합건수 AS decimal(20,2)) / CAST(COUNT(WorkDailyReportHistoryIndex) AS decimal(20,2)) * 100 end  AS [부적합율 (%)]    
		, null
		,  Sum(UnSuitabilityCost) as [손실 금액]    
		, null
		,  sum(ThisWorkCompletionQuantity) as [거래 수량]    
		,  sum(UnSuitabilityQuantity) as [부적합 수량]   
		 ,  cast(cast( SUM(UnSuitabilityQuantity) as decimal(20,2)) / cast(SUM(ThisWorkCompletionQuantity) as decimal(20,2))  * 1000000 as decimal(20,2)) as PPM   
		from wdr_ht 
		left outer join     
		(
				select WCName, count(WorkDailyReportHistoryIndex) as [부적합건수]   , WCInfoIndex
				from wdr_ht  where UnSuitabilityStatusMeaning is not null and UnSuitabilityStatusMeaning <> '''' '
					if(@startDate <> '' and @endDate <> '')
							set @sql = @sql + ' and RegistrationDate between ''' + @startDate +''' and ''' + @endDate + ''''
					else if ( @startDate <> '' and @endDate = '' )
							set @sql = @sql + ' and RegistrationDate between ''' + @startDate +''' and ''2070-01-01'''
					else if (@startDate = '' and @endDate <> '')
							set @sql = @sql + ' and RegistrationDate between ''2004-01-01'' and '''+@endDate+''''
		
				set @SQL = @SQL + ' group by WCInfoIndex, WCName
		)   as un    
		on un.WCInfoIndex = wdr_ht.WCInfoIndex  '
		
					if(@startDate <> '' and @endDate <> '')
							set @SQL = @SQL + ' where RegistrationDate between ''' + @startDate +''' and ''' + @endDate + ''''
					else if ( @startDate <> '' and @endDate = '' )
							set @SQL = @SQL + ' where RegistrationDate between ''' + @startDate +''' and ''2070-01-01'''
					else if (@startDate = '' and @endDate <> '')
							set @SQL = @SQL + ' where RegistrationDate between ''2004-01-01'' and '''+@endDate+''''
		set @SQL = @SQL + '
		group by wdr_ht.WCInfoIndex, wdr_ht.WCName, un.부적합건수'
				
	
	end
	else if (@div = '1') 
	begin
	/*************************     제품 부적합     **************************/
			set @SQL = 'SELECT 
		   QI_HT.CompanyName as [거래처 명]
		,  COUNT(QualityInspectionHistoryIndex) AS [총 Lot 수]
		,  un.[부적합 건수]
		,  CAST( un.[부적합 건수] AS decimal(20,2)) / CAST(COUNT(QualityInspectionHistoryIndex) AS decimal(20,2)) * 100  AS [부적합율 (%)]
		,  SUM(ApplyUnitCost * RequestQuantity) AS [총 금액]
		,  SUM(UnSuitabilityCost) AS [손실 금액]
		, null as [손실율]
		,  SUM(RequestQuantity) AS [거래 수량]
		,  SUM(UnSuitabilityQuantity) AS [부적합 수량]
		,   cast(SUM(UnSuitabilityQuantity) as decimal(20,2) ) / cast(SUM(RequestQuantity) as decimal(20,2)) * 1000000  as PPM  
		FROM QI_HT join 
		(
				select CompanyName ,count(QualityInspectionHistoryIndex) AS [부적합 건수], BusinessRegistrationNum
				from qi_ht where UnSuitabilityStatusMeaning is not null and UnSuitabilityStatusMeaning <> '''' 
				and (ProgressCondition = ''입고완료'' or ProgressCondition = ''검사완료'')  and HistorySection1 = ''작업일보''
				'
							if(@startDate <> '' and @endDate <> '')
									set @sql = @sql + ' and QualityInspectionCompleteDate between ''' + @startDate +''' and ''' + @endDate + ''''
							else if ( @startDate <> '' and @endDate = '' )
									set @sql = @sql + ' and QualityInspectionCompleteDate between ''' + @startDate +''' and ''2070-01-01'''
							else if (@startDate = '' and @endDate <> '')
									set @sql = @sql + ' and QualityInspectionCompleteDate between ''2004-01-01'' and '''+@endDate+''''
				
				set @SQL = @SQL + '
				group by BusinessRegistrationNum, CompanyName
		) as un
		
		on un.BusinessRegistrationNum = QI_HT.BusinessRegistrationNum 
		where (  ProgressCondition = ''입고완료'' or ProgressCondition = ''검사완료'' ) and HistorySection1 = ''작업일보''
		'
					if(@startDate <> '' and @endDate <> '')
							set @sql = @sql + ' and QualityInspectionCompleteDate between ''' + @startDate +''' and ''' + @endDate + ''''
					else if ( @startDate <> '' and @endDate = '' )
							set @sql = @sql + ' and QualityInspectionCompleteDate between ''' + @startDate +''' and ''2070-01-01'''
					else if (@startDate = '' and @endDate <> '')
							set @sql = @sql + ' and QualityInspectionCompleteDate between ''2004-01-01'' and '''+@endDate+''''
		
		set @SQL = @SQL + ' 
		GROUP BY QI_HT.BusinessRegistrationNum,  QI_HT.CompanyName, un.[부적합 건수] '
	
	end
	else if (@div = '2') 
	begin
	/*************************     자가     **************************/
				set @SQL = 'select   wdr_ht.WCName  as [작업장 명]  
		,  COUNT(wdr_ht.WorkDailyReportHistoryIndex) AS [총 Lot 수]  
		,  case  when un.부적합건수 is null then 0 else un.부적합건수 end as [부적합 건수]  
		,  case when un.부적합건수  is null then 0 else CAST( un.부적합건수 AS decimal(20,2)) / CAST(COUNT(WorkDailyReportHistoryIndex) AS decimal(20,2)) * 100 end  AS [부적합율 (%)]  
		,  Sum(UnSuitabilityCost) as [손실 금액]  
		,  sum(ThisWorkCompletionQuantity) as [거래 수량] 
		 ,  sum(UnSuitabilityQuantity) as [부적합 수량]  
		,  cast(cast( SUM(UnSuitabilityQuantity) as decimal(20,2)) / cast(SUM(ThisWorkCompletionQuantity) as decimal(20,2))  * 1000000 as decimal(20,2)) as PPM
		 from wdr_ht left outer join  
		 (
			select WCName, count(WorkDailyReportHistoryIndex) as [부적합건수] , WCInfoindex
			from wdr_ht  where UnSuitabilityStatusMeaning is not null and UnSuitabilityStatusMeaning <> '''' '
		
					if(@startDate <> '' and @endDate <> '')
							set @sql = @sql + ' and RegistrationDate between ''' + @startDate +''' and ''' + @endDate + ''''
					else if ( @startDate <> '' and @endDate = '' )
							set @sql = @sql + ' and RegistrationDate between ''' + @startDate +''' and ''2070-01-01'''
					else if (@startDate = '' and @endDate <> '')
							set @sql = @sql + ' and RegistrationDate between ''2004-01-01'' and '''+@endDate+''''
		
			set @SQL = @SQL + ' group by WCInfoindex, WCName
		) as un  
		on un.WCInfoindex = wdr_ht.WCInfoindex  
		'
					if(@startDate <> '' and @endDate <> '')
							set @SQL = @SQL + ' where RegistrationDate between ''' + @startDate +''' and ''' + @endDate + ''''
					else if ( @startDate <> '' and @endDate = '' )
							set @SQL = @SQL + ' where RegistrationDate between ''' + @startDate +''' and ''2070-01-01'''
					else if (@startDate = '' and @endDate <> '')
							set @SQL = @SQL + ' where RegistrationDate between ''2004-01-01'' and '''+@endDate+''''
		set @SQL = @SQL + '
		group by wdr_ht.WCInfoindex, wdr_ht.WCName, un.부적합건수'
				
	end
	else if (@div = '3')	 
	/*************************     구매납품     **************************/
	/***************  품질검사원장 에서 거래처명, 총로트수, 부적합건수, 부적합률, 
	총금액, 손실금액, 순실율, 총 거래수량, 부적합수량, PPM을 가져온다  **********/
	begin
	
			set @SQL = 'SELECT 
		   QI_HT.CompanyName as [거래처 명]
		,  COUNT(QualityInspectionHistoryIndex) AS [총 Lot 수]
		,  un.[부적합 건수]
		,  CAST( un.[부적합 건수] AS decimal(20,2)) / CAST(COUNT(QualityInspectionHistoryIndex) AS decimal(20,2)) * 100  AS [부적합율 (%)]
		,  SUM(ApplyUnitCost * RequestQuantity) AS [총 금액]
		,  SUM(UnSuitabilityCost) AS [손실 금액]
		,  CAST(SUM(UnSuitabilityCost) AS decimal(20,2)) / CAST(SUM(ApplyUnitCost * RequestQuantity) AS decimal(20,2)) * 100 AS [손실율 (%)]
		,  SUM(RequestQuantity) AS [거래 수량]
		,  SUM(UnSuitabilityQuantity) AS [부적합 수량]
		,   cast(SUM(UnSuitabilityQuantity) as decimal(20,2) ) / cast(SUM(RequestQuantity) as decimal(20,2)) * 1000000  as PPM  
		FROM QI_HT join 
		(
				select CompanyName ,count(QualityInspectionHistoryIndex) AS [부적합 건수], BusinessRegistrationNum
				from qi_ht where UnSuitabilityStatusMeaning is not null and UnSuitabilityStatusMeaning <> '''' 
				and (ProgressCondition = ''입고완료'' or ProgressCondition = ''검사완료'')  and HistorySection1 = ''구매납품''
				'
							if(@startDate <> '' and @endDate <> '')
									set @sql = @sql + ' and QualityInspectionCompleteDate between ''' + @startDate +''' and ''' + @endDate + ''''
							else if ( @startDate <> '' and @endDate = '' )
									set @sql = @sql + ' and QualityInspectionCompleteDate between ''' + @startDate +''' and ''2070-01-01'''
							else if (@startDate = '' and @endDate <> '')
									set @sql = @sql + ' and QualityInspectionCompleteDate between ''2004-01-01'' and '''+@endDate+''''
				
				set @SQL = @SQL + '
				group by BusinessRegistrationNum, CompanyName
		) as un
		
		on un.BusinessRegistrationNum = QI_HT.BusinessRegistrationNum 
		where (  ProgressCondition = ''입고완료'' or ProgressCondition = ''검사완료'' ) and HistorySection1 = ''구매납품''
		'
					if(@startDate <> '' and @endDate <> '')
							set @sql = @sql + ' and QualityInspectionCompleteDate between ''' + @startDate +''' and ''' + @endDate + ''''
					else if ( @startDate <> '' and @endDate = '' )
							set @sql = @sql + ' and QualityInspectionCompleteDate between ''' + @startDate +''' and ''2070-01-01'''
					else if (@startDate = '' and @endDate <> '')
							set @sql = @sql + ' and QualityInspectionCompleteDate between ''2004-01-01'' and '''+@endDate+''''
		
		set @SQL = @SQL + ' 
		GROUP BY QI_HT.BusinessRegistrationNum,  QI_HT.CompanyName, un.[부적합 건수] '
				
	
						
	end
	else if (@div = '4') 
	--------------------------------     외주납품     --------------------------------
	-----  품질검사원장 에서 거래처명, 총로트수, 부적합건수, 부적합률, 총금액 ,  손실금액 ,  손실율 ,  
	-----  총 거래수량 ,  부적합수량 ,  PPM 을 가져온다.
	-----  손실율 : 손실금액 / 총금액 * 100
	begin
			set @SQL = 'SELECT 
		   QI_HT.CompanyName as [거래처 명]
		,  COUNT(QualityInspectionHistoryIndex) AS [총 Lot 수]
		,  un.[부적합 건수]
		,  CAST( un.[부적합 건수] AS decimal(20,2)) / CAST(COUNT(QualityInspectionHistoryIndex) AS decimal(20,2)) * 100  AS [부적합율 (%)]
		,  SUM(ApplyUnitCost * RequestQuantity) AS [총 금액]
		,  SUM(UnSuitabilityCost) AS [손실 금액]
		,  CAST(SUM(UnSuitabilityCost) AS decimal(20,2)) / CAST(SUM(ApplyUnitCost * RequestQuantity) AS decimal(20,2)) * 100 AS [손실율 (%)]
		,  SUM(RequestQuantity) AS [거래 수량]
		,  SUM(UnSuitabilityQuantity) AS [부적합 수량]
		,   cast(SUM(UnSuitabilityQuantity) as decimal(20,2) ) / cast(SUM(RequestQuantity) as decimal(20,2)) * 1000000  as PPM  
		FROM QI_HT join 
		(
				select CompanyName ,count(QualityInspectionHistoryIndex) AS [부적합 건수], BusinessRegistrationNum
				from qi_ht where UnSuitabilityStatusMeaning is not null and UnSuitabilityStatusMeaning <> '''' 
				and (ProgressCondition = ''입고완료'' or ProgressCondition = ''검사완료'')  and HistorySection1 = ''외주납품''
				'
							if(@startDate <> '' and @endDate <> '')
									set @sql = @sql + ' and QualityInspectionCompleteDate between ''' + @startDate +''' and ''' + @endDate + ''''
							else if ( @startDate <> '' and @endDate = '' )
									set @sql = @sql + ' and QualityInspectionCompleteDate between ''' + @startDate +''' and ''2070-01-01'''
							else if (@startDate = '' and @endDate <> '')
									set @sql = @sql + ' and QualityInspectionCompleteDate between ''2004-01-01'' and '''+@endDate+''''
				
				set @SQL = @SQL + '
				group by BusinessRegistrationNum, CompanyName
		) as un
		on un.BusinessRegistrationNum = QI_HT.BusinessRegistrationNum
		where ( ProgressCondition = ''입고완료'' or ProgressCondition = ''검사완료'' ) and HistorySection1 = ''외주납품''
		'
					if(@startDate <> '' and @endDate <> '')
							set @sql = @sql + ' and QualityInspectionCompleteDate between ''' + @startDate +''' and ''' + @endDate + ''''
					else if ( @startDate <> '' and @endDate = '' )
							set @sql = @sql + ' and QualityInspectionCompleteDate between ''' + @startDate +''' and ''2070-01-01'''
					else if (@startDate = '' and @endDate <> '')
							set @sql = @sql + ' and QualityInspectionCompleteDate between ''2004-01-01'' and '''+@endDate+''''
		
		set @SQL = @SQL + ' 
		GROUP BY QI_HT.BusinessRegistrationNum, QI_HT.CompanyName, un.[부적합 건수] '
									
	end
	exec (@SQL)
end
GO
