USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[SPRedundantItemLastResult]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SPRedundantItemLastResult] AS
	delete TBRawRedundantItemLastResult
	delete TBWorkRedundantItemLastResult
	insert into TBRawRedundantItemLastResult
	Select * From TBRawRedundantItemPlanResult
	insert into TBWorkRedundantItemLastResult
	Select * From TBWorkRedundantItemPlanResult
GO
