USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[SPRedundantStockTableMaking]    Script Date: 07/02/2026 08:48:43 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE        PROCEDURE [dbo].[SPRedundantStockTableMaking] AS
	--생산창고 잉여테이블 생성
	delete From TBWorkRedundant
	insert into TBWorkRedundant
	Select P.ItemNum,  P.ProcessSequenceNum,P.ProcessCode, P.StockQuantity12
	From PS_MT P
	Where P.RecodingState  = 1 and [Year]= datepart(yy, getDate())
	order by P.ItemNum,  P.ProcessSequenceNum desc
	-- 원자재 창고 잉여테이블 생성
	delete From TBRawRedundant
	insert into TBRawRedundant
	Select R.ItemNum, '0' as ProcessSequenceNum, '14000000' as ProcessCode, R.StockQuantity12
	From RMS_MT R 
	Where R.RecodingState  = 1 and [Year]= datepart(yy, getDate())
	order by R.ItemNum
	--외주잉여창고 생성(group by 품목,거래처)	
	delete From TBOutOrderRedundant
	insert into TBOutOrderRedundant
	Select O.ItemNum,O.ProcessSequenceNum, O.ProcessCode, Sum(O.StockQuantity12) as Quantity
	From OS_MT O
	Where O.RecodingState  = 1 and [Year]= datepart(yy, getDate())
	Group by O.ItemNum,O.ProcessSequenceNum, O.ProcessCode
	order by O.ItemNum , ProcessSequenceNum desc
	--비활성화된 항목을 제외한 공정순서테이블
	delete TBTempPSI
	insert into TBTempPSI
	Select ItemNum, ProcessCode, ProcessSequenceNum From PSI_MT where RecodingState = 1
	/*
		Select * From TBOutOrderRedundant
		Select * From TBRawRedundant
		Select * From TBWorkRedundant
	*/
	delete TBPreWorkPlan
	delete TBTempOutWorkPlanning
GO
