USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[SPOutWorkRemainderQuantity]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE    PROCEDURE [dbo].[SPOutWorkRemainderQuantity]  AS
/*
	delete TBWorkRemainderQuantity
	Insert into TBWorkRemainderQuantity
	select ItemNum,ProcessSequenceNum, ProcessCode, sum(WorkPlanQuantity - WorkCompletionQuantity) AS Quantity
	from wdwp_ht
	where  ProgressCondition = '대기' and WorkDistinction = '외주'
	group by ItemNum, ItemDrawNum, ItemName, ProcessCode, ProcessSequenceNum
	order by ItemNum,ProcessSequenceNum desc
	
	select * From TBWorkRemainderQuantity order by ItemNum,ProcessSequenceNum desc
*/
	select ItemNum,ProcessSequenceNum, ProcessCode, sum(WorkPlanQuantity - WorkCompletionQuantity) AS Quantity
	from wdwp_ht
	where  ProgressCondition = '대기' and WorkDistinction = '외주'
	group by ItemNum, ItemDrawNum, ItemName, ProcessCode, ProcessSequenceNum
	order by ItemNum,ProcessSequenceNum desc
GO
