USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[MaterialRequirementCalculate]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE                 PROCEDURE [dbo].[MaterialRequirementCalculate] AS
	--select * From TempTreeProduct
	delete TempTreeProduct
	delete TempTreeRow
	delete TempTreeRow1
	delete TempTreeWork
	delete TempTreeItem
	delete TempTreePSI
	delete TempTreeOutOrder
/*
	
	select * From  TempTreeRow
	select * From  TempTreeRow1
	select * From  TempTreeProduct where ItemNum = '113794D'
	select * From  TempTreePSI where ItemNum = '113794D'
	select * From  TempTreeWork where ItemNum = '113794D'
*/
	-- 생산창고 잉여테이블 생성
	
	insert into TempTreeProduct
	Select P.ItemNum, I.ItemDrawNum, I.ItemName, P.ProcessSequenceNum,P.ProcessCode, P.StockQuantity12
	From PS_MT P join II_MT  I  
	on P.ItemNum = I.ItemNum
	Where P.RecodingState  = 1 and I.RecodingState = 1
	order by P.ItemNum,  P.ProcessSequenceNum desc
/*
	Select P.ItemNum, I.ItemDrawNum, I.ItemName, S.ProcessSequenceNum,P.ProcessCode, P.StockQuantity12
	From PS_MT P join II_MT  I  
	on P.ItemNum = I.ItemNum
	join PSI_MT S
	on P.ItemNum = S.ItemNum
	Where P.RecodingState  = 1 and I.RecodingState = 1 and S.RecodingState = 1 
*/
	-- 원자재 창고 잉여테이블 생성
	insert into TempTreeRow
	Select R.ItemNum, I.ItemDrawNum, I.ItemName, '0' as ProcessSequenceNum, '14000000' as ProcessCode, R.StockQuantity12
	From RMS_MT R join II_MT  I  
	on R.ItemNum = I.ItemNum
	Where R.RecodingState  = 1 and I.RecodingState = 1
	
	--insert into TempTreeRow1
	--Select * From TempTreeRow
	
	--공정정보테이블 생성
	Insert Into TempTreePSI
	Select ItemNum, ProcessCode, ProcessSequenceNum
	From PSI_MT
	Where RecodingState = 1
	order by ItemNum, ProcessSequenceNum desc
--/*	외주잉여창고 생성(group by 품목,거래처)	
	insert into TempTreeOutOrder
	Select O.ItemNum, I.ItemDrawNum, I.ItemName, Sum(O.StockQuantity12) as Quantity
	From OS_MT O join II_MT  I  
	on O.ItemNum = I.ItemNum
	Where O.RecodingState  = 1 and I.RecodingState = 1
	Group by O.ItemNum, I.ItemDrawNum, I.ItemName
--*/
	
	--작업계획원장의 대기/지시/진행인 품목 공정 들의 Group by 품목공정 => 품목별 작업계획 잔량테이블
	
	Insert into TempTreeWork
	select ItemNum, ItemDrawNum, ItemName, ProcessSequenceNum, ProcessCode, sum(WorkPlanQuantity - WorkCompletionQuantity) AS Quantity
	from wdwp_ht
	where  (ProgressCondition = '대기' or ProgressCondition = '지시' or ProgressCondition = '진행') and WorkDistinction = '자가'
	group by ItemNum, ItemDrawNum, ItemName, ProcessCode, ProcessSequenceNum
	order by ItemNum,ProcessSequenceNum desc
	
	select * From TempTreeWork order by ItemNum,ProcessSequenceNum desc
GO
