USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[WorkOrder_Search]    Script Date: 07/02/2026 08:48:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE           proc [dbo].[WorkOrder_Search]
(
	@ItemClassification1 varchar(50) = ''
,	@ItemClassification2 varchar(50) = ''
,	@ItemClassification3 varchar(50) = ''
,	@ItemClassification4 varchar(50) = ''
,	@workdate varchar(15) = ''
,	@ItemNum varchar(50) = ''
,	@ItemDrawNum varchar(50) = ''
,	@ItemName varchar(50) = ''
,	@ProgressCondition varchar(10) = ''
,	@WCName varchar(50) = ''
,	@Process varchar(50) = ''
)
as
begin
select 
II_MT.Standard
, wdwp_ht.ItemNum
, wdwp_ht.ItemDrawNum
, wdwp_ht.ItemName
, ProcessSequenceNum
, ProcessCode
, ProcessName
, ProductItemNum
, WCName
, WorkDistinction
, WorkPlanQuantity
, WorkCompletionQuantity
, OrderLeadTime
, WorkDate
, ProgressCondition
, wdwp_ht.RegistrationPerson
, wdwp_ht.RegistrationPersonID
, wdwp_ht.RegistrationDate
, wdwp_ht.UpdatingPerson
, wdwp_ht.UpdatingPersonID
, wdwp_ht.UpdatingDate
, ProductionPlanHistoryIndex
, WCDailyWorkPlanHistoryIndex 
from wdwp_ht 
join II_mt 
on ii_mt.itemnum = wdwp_ht.itemnum
left outer join puc_mt p1
on p1.SmallClassificationCode = ii_mt.ItemClassification1
left outer join puc_mt p2
on p2.SmallClassificationCode = ii_mt.ItemClassification2
left outer join puc_mt p3
on p3.SmallClassificationCode = ii_mt.ItemClassification3
left outer join puc_mt p4
on p4.SmallClassificationCode = ii_mt.ItemClassification4
	where  WorkDistinction = '자가' and II_MT.RecodingState = 1 and 
	(
		wdwp_ht.workdate between
		(
			case 
			when( @workdate <> '' )
			then @workdate
			else '2004-01-01'
			end
		)
		and 
		(
			 '2050-01-01'
		)
		and 
		(
			case 
			when ( @WCName <> '' )
			then WCname
			else ''
			end
		)
		like
		(
			case 
			when ( @WCName <> '' )
			then '%' + @WCName + '%'
			else  ''
			end
		)
		and 
		(
			case 
			when ( @ItemNum <> '' )
			then wdwp_ht.ItemNum
			else ''
			end
		)
		like
		(
			case 
			when ( @ItemNum <> '' )
			then '%' + @ItemNum + '%'
			else  ''
			end
		)
		and 
		(
			case 
			when ( @ItemName <> '' )
			then wdwp_ht.ItemName
			else ''
			end
		)
		like
		(
			case 
			when ( @ItemName <> '' )
			then '%' + @ItemName + '%'
			else  ''
			end
		)
		and 
		(
			case 
			when ( @ItemDrawNum <> '' )
			then wdwp_ht.ItemDrawNum
			else ''
			end
		)
		like
		(
			case 
			when ( @ItemDrawNum <> '' )
			then '%' + @ItemDrawNum + '%'
			else  ''
			end
		)
		and 
		(
			case 
			when ( @Process <> '' )
			then wdwp_ht.ProcessName
			else ''
			end
		)
		like
		(
			case 
			when ( @Process <> '' )
			then '%' + @Process + '%'
			else  ''
			end
		)
		and 
		(
			case 
			when ( @ProgressCondition <> '' )
			then ProgressCondition
			else ''
			end
		)
		like
		(
			case 
			when ( @ProgressCondition <> '' )
			then '%' + @ProgressCondition + '%'
			else  ''
			end
		)
		and
		(
			case 
			when	( @ItemClassification1 <> '' )
			then		ii_mt.ItemClassification1
			else		''
			end
		)
		=
		(
			case 
			when	( @ItemClassification1 <> '' )
			then		@ItemClassification1 
			else		''
			end
		)
		and
		(
			case 
			when	( @ItemClassification2 <> '' )
			then		ii_mt.ItemClassification2
			else		''
			end
		)
		=
		(
			case 
			when	( @ItemClassification2 <> '' )
			then		@ItemClassification2 
			else		''
			end
		)
		and
		(
			case 
			when	( @ItemClassification3 <> '' )
			then		ii_mt.ItemClassification3
			else		''
			end
		)
		=
		(
			case 
			when	( @ItemClassification3 <> '' )
			then		@ItemClassification3 
			else		''
			end
		)
		and
		(
			case 
			when	( @ItemClassification4 <> '' )
			then		ii_mt.ItemClassification4
			else		''
			end
		)
		=
		(
			case 
			when	( @ItemClassification4 <> '' )
			then		@ItemClassification4 
			else		''
			end
		)
	)	 
	order by DeliveryDate, wdwp_ht.ItemNum, wdwp_ht.ProcessSequenceNum, WorkDate
end
GO
