USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[SPCreateStore]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SPCreateStore]
AS
BEGIN

	Declare @Year	int
	Set @Year = (datepart(year,getutcdate()))
	
	
	
	-- 내년도  AS(보용품) 창고 생성
	INSERT AS_MT 

	SELECT ItemNum, ProcessSequenceNum, ProcessCode,  (@Year+1), 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, RecodingState
	FROM AS_MT WHERE RecodingState = 1 and [Year] = @Year 


			DECLARE curAS CURSOR 
			FOR
			



			Select ItemNum, ProcessSequenceNum, ProcessCode,  StockQuantity12, StockCost12  From AS_MT where RecodingState = 1 and [Year] = @Year and StockQuantity12 <>0 
			
			
			--커서 오픈
			OPEN curAS
			
			--변수 선언
			
			DECLARE @ItemNum varchar(150)
			DECLARE @ProcessSequenceNum int
			DECLARE @ProcessCode varchar(50)
			DECLARE @StockQuantity decimal(20,2)
			DECLARE @StockCost decimal(20,2)
			--첫 로우 FETCH
			FETCH NEXT FROM curAS INTO @ItemNum, @ProcessSequenceNum, @ProcessCode,   @StockQuantity, @StockCost
			WHILE @@FETCH_STATUS = 0
			BEGIN
			--FETCH된 데이터를 tempdb에 삽입
			Update AS_MT Set LastYearTransferQuantity = @StockQuantity, LastYearTransferCost = @StockCost 
			, StockQuantity1 = @StockQuantity , StockCost1 = @StockCost
			, StockQuantity2 = @StockQuantity , StockCost2 = @StockCost
			, StockQuantity3 = @StockQuantity , StockCost3 = @StockCost
			, StockQuantity4 = @StockQuantity , StockCost4 = @StockCost
			, StockQuantity5 = @StockQuantity , StockCost5 = @StockCost
			, StockQuantity6 = @StockQuantity , StockCost6 = @StockCost
			, StockQuantity7 = @StockQuantity , StockCost7 = @StockCost
			, StockQuantity8 = @StockQuantity , StockCost8 = @StockCost
			, StockQuantity9 = @StockQuantity , StockCost9 = @StockCost
			, StockQuantity10 = @StockQuantity , StockCost10 = @StockCost
			, StockQuantity11 = @StockQuantity , StockCost11 = @StockCost
			, StockQuantity12 = @StockQuantity , StockCost12 = @StockCost
			where ItemNum = @ItemNum and  ProcessSequenceNum = @ProcessSequenceNum and ProcessCode =  @ProcessCode and [Year] = (@Year+1)
			
			--다음 로우 FEETCH - 루프
			FETCH NEXT FROM curAS INTO @ItemNum, @ProcessSequenceNum, @ProcessCode,   @StockQuantity, @StockCost
			END
			--커서 CLOSE
			CLOSE curAS
			
			--커서 DEALLOCATE
			DEALLOCATE curAS

	
	
	
	-- (영업)BS창고 생성
INSERT BS_MT 

                SELECT ItemNum, ProcessSequenceNum, ProcessCode, BusinessStorehouseNum, (@Year+1), 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, RecodingState

                FROM BS_MT

                WHERE RecodingState = 1 and [Year] = @Year 


			DECLARE curBS CURSOR 
			FOR
			



			Select ItemNum, StockQuantity12, StockCost12  From BS_MT where RecodingState = 1 and [Year] = @Year and StockQuantity12 >0 and BusinessStorehouseNum = '1'
			
			
			--커서 오픈
			OPEN curBS
			
			--변수 선언
			--DECLARE @ItemNum varchar(150)
			--DECLARE @StockQuantity decimal(20,2)
			--DECLARE @StockCost decimal(20,2)
			--첫 로우 FETCH
			FETCH NEXT FROM curBS INTO @ItemNum, @StockQuantity, @StockCost
			WHILE @@FETCH_STATUS = 0
			BEGIN
			--FETCH된 데이터를 tempdb에 삽입
			--Update BS_MT Set LastYearTransferQuantity = @StockQuantity, LastYearTransferCost = @StockCost where ItemNum = @ItemNum and BusinessStorehouseNum = '1' and [Year] = '2012'
			Update BS_MT Set LastYearTransferQuantity = @StockQuantity, LastYearTransferCost = @StockCost 
			, StockQuantity1 = @StockQuantity , StockCost1 = @StockCost
			, StockQuantity2 = @StockQuantity , StockCost2 = @StockCost
			, StockQuantity3 = @StockQuantity , StockCost3 = @StockCost
			, StockQuantity4 = @StockQuantity , StockCost4 = @StockCost
			, StockQuantity5 = @StockQuantity , StockCost5 = @StockCost
			, StockQuantity6 = @StockQuantity , StockCost6 = @StockCost
			, StockQuantity7 = @StockQuantity , StockCost7 = @StockCost
			, StockQuantity8 = @StockQuantity , StockCost8 = @StockCost
			, StockQuantity9 = @StockQuantity , StockCost9 = @StockCost
			, StockQuantity10 = @StockQuantity , StockCost10 = @StockCost
			, StockQuantity11 = @StockQuantity , StockCost11 = @StockCost
			, StockQuantity12 = @StockQuantity , StockCost12 = @StockCost
			where ItemNum = @ItemNum and BusinessStorehouseNum = '1' and [Year] = (@Year+1)
			
			--다음 로우 FEETCH - 루프
			FETCH NEXT FROM curBS INTO @ItemNum, @StockQuantity, @StockCost
			END
			--커서 CLOSE
			CLOSE curBS
			
			--커서 DEALLOCATE
			DEALLOCATE curBS






-- 내년도 판매창고 생성
INSERT DS_MT 

                SELECT ItemNum, ProcessSequenceNum, ProcessCode,  (@Year+1), 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, RecodingState

                FROM DS_MT

                WHERE RecodingState = 1 and [Year] = @Year 


			DECLARE curDS CURSOR 
			FOR
			



			Select ItemNum, ProcessSequenceNum, ProcessCode,  StockQuantity12, StockCost12  From DS_MT where RecodingState = 1 and [Year] = @Year and StockQuantity12 <>0 
			
			
			--커서 오픈
			OPEN curDS
			
			--변수 선언
			--DECLARE @ItemNum varchar(150)
			--DECLARE @ProcessSequenceNum int
			--DECLARE @ProcessCode varchar(50)
			--DECLARE @StockQuantity decimal(20,2)
			--DECLARE @StockCost decimal(20,2)
			--첫 로우 FETCH
			FETCH NEXT FROM curDS INTO @ItemNum, @ProcessSequenceNum, @ProcessCode,   @StockQuantity, @StockCost
			WHILE @@FETCH_STATUS = 0
			BEGIN
			--FETCH된 데이터를 tempdb에 삽입
			Update DS_MT Set LastYearTransferQuantity = @StockQuantity, LastYearTransferCost = @StockCost 
			, StockQuantity1 = @StockQuantity , StockCost1 = @StockCost
			, StockQuantity2 = @StockQuantity , StockCost2 = @StockCost
			, StockQuantity3 = @StockQuantity , StockCost3 = @StockCost
			, StockQuantity4 = @StockQuantity , StockCost4 = @StockCost
			, StockQuantity5 = @StockQuantity , StockCost5 = @StockCost
			, StockQuantity6 = @StockQuantity , StockCost6 = @StockCost
			, StockQuantity7 = @StockQuantity , StockCost7 = @StockCost
			, StockQuantity8 = @StockQuantity , StockCost8 = @StockCost
			, StockQuantity9 = @StockQuantity , StockCost9 = @StockCost
			, StockQuantity10 = @StockQuantity , StockCost10 = @StockCost
			, StockQuantity11 = @StockQuantity , StockCost11 = @StockCost
			, StockQuantity12 = @StockQuantity , StockCost12 = @StockCost
			where ItemNum = @ItemNum and  ProcessSequenceNum = @ProcessSequenceNum and ProcessCode =  @ProcessCode and [Year] = (@Year+1)
			
			--다음 로우 FEETCH - 루프
			FETCH NEXT FROM curDS INTO @ItemNum, @ProcessSequenceNum, @ProcessCode,   @StockQuantity, @StockCost
			END
			--커서 CLOSE
			CLOSE curDS
			
			--커서 DEALLOCATE
			DEALLOCATE curDS





-- 내년도 외주 창고 생성
INSERT OS_MT 

                SELECT ItemNum, ProcessSequenceNum, ProcessCode, BusinessRegistrationNum, (@Year+1), 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, RecodingState

                FROM OS_MT

                WHERE RecodingState = 1 and [Year] = @Year 


			DECLARE curOS CURSOR 
			FOR
			



			Select ItemNum, ProcessSequenceNum, ProcessCode,BusinessRegistrationNum,  StockQuantity12, StockCost12  From OS_MT where RecodingState = 1 and [Year] = @Year and StockQuantity12 <>0 
			
			
			--커서 오픈
			OPEN curOS
			
			--변수 선언
			
			--DECLARE @ItemNum varchar(150)
			--DECLARE @ProcessSequenceNum int
			--DECLARE @ProcessCode varchar(50)
			DECLARE @BusinessRegistrationNum varchar(20)
			--DECLARE @StockQuantity decimal(20,2)
			--DECLARE @StockCost decimal(20,2)
			--첫 로우 FETCH
			FETCH NEXT FROM curOS INTO @ItemNum, @ProcessSequenceNum, @ProcessCode, @BusinessRegistrationNum,  @StockQuantity, @StockCost
			WHILE @@FETCH_STATUS = 0
			BEGIN
			--FETCH된 데이터를 tempdb에 삽입
			Update OS_MT Set LastYearTransferQuantity = @StockQuantity, LastYearTransferCost = @StockCost 
			, StockQuantity1 = @StockQuantity , StockCost1 = @StockCost
			, StockQuantity2 = @StockQuantity , StockCost2 = @StockCost
			, StockQuantity3 = @StockQuantity , StockCost3 = @StockCost
			, StockQuantity4 = @StockQuantity , StockCost4 = @StockCost
			, StockQuantity5 = @StockQuantity , StockCost5 = @StockCost
			, StockQuantity6 = @StockQuantity , StockCost6 = @StockCost
			, StockQuantity7 = @StockQuantity , StockCost7 = @StockCost
			, StockQuantity8 = @StockQuantity , StockCost8 = @StockCost
			, StockQuantity9 = @StockQuantity , StockCost9 = @StockCost
			, StockQuantity10 = @StockQuantity , StockCost10 = @StockCost
			, StockQuantity11 = @StockQuantity , StockCost11 = @StockCost
			, StockQuantity12 = @StockQuantity , StockCost12 = @StockCost
			where ItemNum = @ItemNum and  ProcessSequenceNum = @ProcessSequenceNum and ProcessCode =  @ProcessCode  and BusinessRegistrationNum = @BusinessRegistrationNum and [Year] = (@Year+1)
			
			--다음 로우 FEETCH - 루프
			FETCH NEXT FROM curOS INTO @ItemNum, @ProcessSequenceNum, @ProcessCode, @BusinessRegistrationNum,  @StockQuantity, @StockCost
			END
			--커서 CLOSE
			CLOSE curOS
			
			--커서 DEALLOCATE
			DEALLOCATE curOS





-- 내년도 생산 창고 생성
INSERT PS_MT 

                SELECT ItemNum, ProcessSequenceNum, ProcessCode,  (@Year+1), 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, RecodingState

                FROM PS_MT

                WHERE RecodingState = 1 and [Year] = @Year 


			DECLARE curPS CURSOR 
			FOR
			



			Select ItemNum, ProcessSequenceNum, ProcessCode,  StockQuantity12, StockCost12  From PS_MT where RecodingState = 1 and [Year] = @Year and StockQuantity12 <>0 
			
			
			--커서 오픈
			OPEN curPS
			
			--변수 선언
			
			--DECLARE @ItemNum varchar(150)
			--DECLARE @ProcessSequenceNum int
			--DECLARE @ProcessCode varchar(50)
			--DECLARE @StockQuantity decimal(20,2)
			--DECLARE @StockCost decimal(20,2)
			--첫 로우 FETCH
			FETCH NEXT FROM curPS INTO @ItemNum, @ProcessSequenceNum, @ProcessCode,   @StockQuantity, @StockCost
			WHILE @@FETCH_STATUS = 0
			BEGIN
			--FETCH된 데이터를 tempdb에 삽입
			--Update BS_MT Set LastYearTransferQuantity = @StockQuantity, LastYearTransferCost = @StockCost where ItemNum = @ItemNum and BusinessStorehouseNum = '1' and [Year] = '2012'
			Update PS_MT Set LastYearTransferQuantity = @StockQuantity, LastYearTransferCost = @StockCost 
			, StockQuantity1 = @StockQuantity , StockCost1 = @StockCost
			, StockQuantity2 = @StockQuantity , StockCost2 = @StockCost
			, StockQuantity3 = @StockQuantity , StockCost3 = @StockCost
			, StockQuantity4 = @StockQuantity , StockCost4 = @StockCost
			, StockQuantity5 = @StockQuantity , StockCost5 = @StockCost
			, StockQuantity6 = @StockQuantity , StockCost6 = @StockCost
			, StockQuantity7 = @StockQuantity , StockCost7 = @StockCost
			, StockQuantity8 = @StockQuantity , StockCost8 = @StockCost
			, StockQuantity9 = @StockQuantity , StockCost9 = @StockCost
			, StockQuantity10 = @StockQuantity , StockCost10 = @StockCost
			, StockQuantity11 = @StockQuantity , StockCost11 = @StockCost
			, StockQuantity12 = @StockQuantity , StockCost12 = @StockCost
			where ItemNum = @ItemNum and  ProcessSequenceNum = @ProcessSequenceNum and ProcessCode =  @ProcessCode and [Year] = (@Year+1)
			
			--다음 로우 FEETCH - 루프
			FETCH NEXT FROM curPS INTO @ItemNum, @ProcessSequenceNum, @ProcessCode,   @StockQuantity, @StockCost
			END
			--커서 CLOSE
			CLOSE curPS
			
			--커서 DEALLOCATE
			DEALLOCATE curPS






-- 내년도 원자재 창고 생성
INSERT RMS_MT 

                SELECT ItemNum, ProcessSequenceNum, ProcessCode,  (@Year+1), 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, RecodingState

                FROM RMS_MT

                WHERE RecodingState = 1 and [Year] = @Year 


			DECLARE curRMS CURSOR 
			FOR
			



			Select ItemNum, ProcessSequenceNum, ProcessCode,  StockQuantity12, StockCost12  From RMS_MT where RecodingState = 1 and [Year] = @Year and StockQuantity12 >0 
			
			
			--커서 오픈
			OPEN curRMS
			
			--변수 선언
			
			--DECLARE @ItemNum varchar(150)
			--DECLARE @ProcessSequenceNum int
			--DECLARE @ProcessCode varchar(50)
			--DECLARE @StockQuantity decimal(20,2)
			--DECLARE @StockCost decimal(20,2)
			--첫 로우 FETCH
			FETCH NEXT FROM curRMS INTO @ItemNum, @ProcessSequenceNum, @ProcessCode,   @StockQuantity, @StockCost
			WHILE @@FETCH_STATUS = 0
			BEGIN
			--FETCH된 데이터를 tempdb에 삽입
			Update RMS_MT Set LastYearTransferQuantity = @StockQuantity, LastYearTransferCost = @StockCost 
			, StockQuantity1 = @StockQuantity , StockCost1 = @StockCost
			, StockQuantity2 = @StockQuantity , StockCost2 = @StockCost
			, StockQuantity3 = @StockQuantity , StockCost3 = @StockCost
			, StockQuantity4 = @StockQuantity , StockCost4 = @StockCost
			, StockQuantity5 = @StockQuantity , StockCost5 = @StockCost
			, StockQuantity6 = @StockQuantity , StockCost6 = @StockCost
			, StockQuantity7 = @StockQuantity , StockCost7 = @StockCost
			, StockQuantity8 = @StockQuantity , StockCost8 = @StockCost
			, StockQuantity9 = @StockQuantity , StockCost9 = @StockCost
			, StockQuantity10 = @StockQuantity , StockCost10 = @StockCost
			, StockQuantity11 = @StockQuantity , StockCost11 = @StockCost
			, StockQuantity12 = @StockQuantity , StockCost12 = @StockCost
			where ItemNum = @ItemNum and  ProcessSequenceNum = @ProcessSequenceNum and ProcessCode =  @ProcessCode and [Year] = (@Year+1)
			
			--다음 로우 FEETCH - 루프
			FETCH NEXT FROM curRMS INTO @ItemNum, @ProcessSequenceNum, @ProcessCode,   @StockQuantity, @StockCost
			END
			--커서 CLOSE
			CLOSE curRMS
			
			--커서 DEALLOCATE
			DEALLOCATE curRMS





-- 내년도 매입매출테이블 창고 생성
INSERT BSI_MT

	SELECT BusinessRegistrationNum, SaleDistinction, BuyingDistinction,  (@Year+1), 0, 0
	, 0, 0, 0, 0, 0, 0
	, 0, 0, 0, 0, 0, 0
	, 0, 0, 0, 0, 0, 0
	, 0, 0, 0, 0, 0, 0
	, 0, 0, 0, 0, 0, 0
	, 0, 0, 0, 0, 0, 0
	, 0, 0, 0, 0, 0, 0
	, 0, 0, 0, 0, 0, 0
	, 0, 0, 0, 0, 0, 0
	, 0, 0, 0, 0, 0, 0
	, 0, 0, 0, 0, 0, 0
	, 0, 0, 0, 0, 0, 0
	, 1
	FROM BSI_MT WHERE RecodingState = 1 and [Year] = @Year 


			DECLARE curBSI CURSOR 
			FOR

			Select BusinessRegistrationNum,   TotalSaleCost12,  TotalBuyingCost12, SaleDistinction, BuyingDistinction 
			 From BSI_MT where RecodingState = 1 and [Year] = @Year
			
			
			--커서 오픈
			OPEN curBSI
			
			--변수 선언
			--DECLARE @BusinessRegistrationNum varchar(150)
			--DECLARE @StockQuantity decimal(20,2)
			--DECLARE @StockCost decimal(20,2)
			DECLARE @SaleDistinction bit
			DECLARE @BuyingDistinction bit

			--첫 로우 FETCH
			FETCH NEXT FROM curBSI INTO @BusinessRegistrationNum, @StockQuantity, @StockCost, @SaleDistinction, @BuyingDistinction
			WHILE @@FETCH_STATUS = 0
			BEGIN
			--FETCH된 데이터를 tempdb에 삽입
			--insert into BSI_MT ( BusinessRegistrationNum, SaleDistinction,  BuyingDistinction, RecodingState) values (@BusinessRegistrationNum, @SaleDistinction, @BuyingDistinction, 1)
			--Update BS_MT Set LastYearTransferQuantity = @StockQuantity, LastYearTransferCost = @StockCost where ItemNum = @ItemNum and BusinessStorehouseNum = '1' and [Year] = '2012'
			Update BSI_MT Set LastYearSaleTransferCost = @StockQuantity , LastYearBuyingTransferCost =  @StockCost
			, TotalSaleCost1 = @StockQuantity , TotalBuyingCost1  = @StockCost
			, TotalSaleCost2 = @StockQuantity , TotalBuyingCost2 = @StockCost
			, TotalSaleCost3 = @StockQuantity , TotalBuyingCost3 = @StockCost
			, TotalSaleCost4 = @StockQuantity , TotalBuyingCost4 = @StockCost
			, TotalSaleCost5 = @StockQuantity , TotalBuyingCost5 = @StockCost
			, TotalSaleCost6 = @StockQuantity , TotalBuyingCost6 = @StockCost
			, TotalSaleCost7 = @StockQuantity , TotalBuyingCost7 = @StockCost
			, TotalSaleCost8 = @StockQuantity , TotalBuyingCost8 = @StockCost
			, TotalSaleCost9 = @StockQuantity , TotalBuyingCost9 = @StockCost
			, TotalSaleCost10 = @StockQuantity , TotalBuyingCost10 = @StockCost
			, TotalSaleCost11 = @StockQuantity , TotalBuyingCost11 = @StockCost
			, TotalSaleCost12 = @StockQuantity , TotalBuyingCost12 = @StockCost
			where BusinessRegistrationNum = @BusinessRegistrationNum  and [Year] = (@Year+1)
			
			--다음 로우 FEETCH - 루프
			FETCH NEXT FROM curBSI INTO @BusinessRegistrationNum, @StockQuantity, @StockCost, @SaleDistinction, @BuyingDistinction
			END
			--커서 CLOSE
			CLOSE curBSI
			
			--커서 DEALLOCATE
			DEALLOCATE curBSI
END
GO
