USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[SPDeleteTempPP_HTGroup]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE     PROCEDURE [dbo].[SPDeleteTempPP_HTGroup] AS
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[TempPP_HT]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[TempPP_HT]
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[TempPP_HTGroup]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[TempPP_HTGroup]
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[TempGroupViewPP_HT]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[TempGroupViewPP_HT]
CREATE TABLE [dbo].[TempPP_HT] (
	[idx] [int] IDENTITY (1, 1) NOT NULL ,
	[ItemNum] [varchar] (50) COLLATE Korean_Wansung_CI_AS NOT NULL ,
	[DeliveryDate] [smalldatetime] NOT NULL ,
	[ProductionPlan] [decimal](20, 2) NOT NULL 
) ON [PRIMARY]
CREATE TABLE [dbo].[TempPP_HTGroup] (
	[idx] [int] IDENTITY (1, 1) NOT NULL ,
	[ItemNum] [varchar] (50) COLLATE Korean_Wansung_CI_AS NOT NULL ,
	[DeliveryDate] [smalldatetime] NOT NULL ,
	[ProductionPlan] [decimal](20, 2) NOT NULL 
) ON [PRIMARY]
CREATE TABLE [dbo].[TempGroupViewPP_HT] (
	[Idx] [int] IDENTITY (1, 1) NOT NULL ,
	[ItemNum] [varchar] (50) COLLATE Korean_Wansung_CI_AS NULL ,
	[OrderRemainQuantity] [decimal](20, 2) NULL ,
	[PlanRemainQuantity] [decimal](20, 2) NULL ,
	[InsufficiencyQuantity] [decimal](20, 2) NULL ,
	[StockQuantity] [decimal](20, 2) NULL ,
	[ThisPlanQuantity] [decimal](20, 2) NULL ,
	[NeedQuantity] [decimal](20, 2) NULL ,
	[ProductionCompleteDate] [smalldatetime] NULL ,
	[ProductionBeginDate] [smalldatetime] NULL 
) ON [PRIMARY]
ALTER TABLE [dbo].[TempPP_HT] ADD 
	CONSTRAINT [DF_TempPP_HT_ProductionPlan] DEFAULT (0) FOR [ProductionPlan]
ALTER TABLE [dbo].[TempPP_HTGroup] ADD 
	CONSTRAINT [DF_TempPP_HTGroup_ProductionPlan] DEFAULT (0) FOR [ProductionPlan]
ALTER TABLE [dbo].[TempGroupViewPP_HT] ADD 
	CONSTRAINT [DF_TempGroupViewPP_HT_OrderRemainQuantity] DEFAULT (0) FOR [OrderRemainQuantity],
	CONSTRAINT [DF_TempGroupViewPP_HT_PlanRemainQuantity] DEFAULT (0) FOR [PlanRemainQuantity],
	CONSTRAINT [DF_TempGroupViewPP_HT_InsufficiencyQuantity] DEFAULT (0) FOR [InsufficiencyQuantity],
	CONSTRAINT [DF_TempGroupViewPP_HT_StockQuantity] DEFAULT (0) FOR [StockQuantity],
	CONSTRAINT [DF_TempGroupViewPP_HT_ThisPlanQuantity] DEFAULT (0) FOR [ThisPlanQuantity],
	CONSTRAINT [DF_TempGroupViewPP_HT_NeedQuantity] DEFAULT (0) FOR [NeedQuantity],
	CONSTRAINT [PK_TempGroupViewPP_HT] PRIMARY KEY  CLUSTERED 
	(
		[Idx]
	)  ON [PRIMARY]
GO
