USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[WorkRowBomTree]    Script Date: 07/02/2026 08:48:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 특정제품을 생산하는데 필요한 부품과 수량
CREATE           PROC [dbo].[WorkRowBomTree] @ItemNum AS VARCHAR(50), @Quantity AS DECIMAL(20, 3), @Tree BIT
AS
/*
declare @ItemNum AS VARCHAR(50)
declare @Quantity AS DECIMAL(20, 3)
declare @Tree bit
Set @Tree = 1
Set @ItemNum = 'M3235-00001'
Set @Quantity = 20
*/
IF exists (Select 1 From tempdb..sysobjects where name like '#TempTree%')
		DROP TABLE #TempTree
	-- 특정제품을 생산하는데 필요한 부품과 수량을 임시로 기억할 Table
	CREATE TABLE #TempTree
	(
		ItemNum VARCHAR(150),
		ItemDrawNum VARCHAR(150),
		ItemName VARCHAR(150),
		Quantity FLOAT,
		PropertyClassification VARCHAR(50),
		Lvl TINYINT,
		Path VARCHAR(500),
	)  
	-- 품목을 구성하기 위해 임시로 만든 Table
	IF exists (Select 1 From tempdb..sysobjects where name like '#TempItem%')
		DROP TABLE #TempItem
	CREATE TABLE #TempItem
	(
		ItemNum	VARCHAR(150),
		ItemDrawNum VARCHAR(150),
		ItemName VARCHAR(150),
		NeedQuantityDenominator DECIMAL(20, 3),
		ParentItemNum VARCHAR(150),
		PropertyClassification VARCHAR(50)
	)
	-- 자품번호입력
	INSERT INTO #TempItem
	SELECT IOI_MT.ChildItemNum AS ItemNum, II_MT.ItemDrawNum AS ItemDrawNum, II_MT.ItemName AS ItemName, 
		IOI_MT.NeedQuantityNumerator / IOI_MT.NeedQuantityDenominator AS NeedQuantityDenominator,
		IOI_MT.ParentItemNum  AS ParentItemNum, II_MT.PropertyClassification AS PropertyClassification
	FROM II_MT JOIN IOI_MT ON II_MT.ItemNum = IOI_MT.ChildItemNum
	--WHERE (II_MT.RecodingState = 1) AND (IOI_MT.RecodingState = 1) and IOChackable <> 0
	WHERE (II_MT.RecodingState = 1) AND (IOI_MT.RecodingState = 1) and StockManagable <> 0
	-- 모품번호입력
	INSERT INTO #TempItem 
	SELECT ItemNum, ItemDrawNum,  ItemName, 1 AS NeedQuantityDenominator, null AS ParentItemNum, PropertyClassification
	FROM II_MT WHERE II_MT.RecodingState = 1 AND ItemNum = @ItemNum
	DECLARE @Lvl TINYINT, @Path VARCHAR(500)
	
	SET @Lvl = 1
	-- 모품ItemNum + 자기ItemNum
	SET @Path = ''
	INSERT INTO #TempTree
	SELECT TOP 1 ItemNum, ItemDrawNum,  ItemName, @Quantity, PropertyClassification, @Lvl, @Path + CAST(ItemNum as varchar(150))
	FROM #TempItem WHERE ItemNum = @ItemNum
	WHILE ( @@ROWCOUNT > 0 )
	BEGIN
		SET @Lvl = @Lvl + 1
		INSERT INTO #TempTree
		SELECT TempItem.ItemNum, TempItem.ItemDrawNum, TempItem.ItemName,
			TempItem.NeedQuantityDenominator * TempTree.Quantity, TempItem.PropertyClassification,
			@Lvl, (TempTree.Path + CAST(TempItem.ItemNum as varchar(50)) ) 
		FROM #TempItem AS TempItem JOIN #TempTree AS TempTree
		ON TempItem.ParentItemNum = TempTree.ItemNum AND TempTree.Lvl = @Lvl - 1
	END
	
	
	DELETE FROM #TempTree WHERE PropertyClassification != '원자재'
	
	IF @Tree = 1
	BEGIN
--	/*
		SELECT T.ItemNum, T.ItemDrawNum, T.ItemName, sum(T.Quantity) as  Quantity , T.PropertyClassification
		FROM #TempTree	T
		inner join II_MT on T.ItemNum = II_MT.ItemNum
		where IOChackable = 1 and II_MT.RecodingState = 1
		GROUP BY T.ItemNum, T.ItemDrawNum, T.ItemName,T.PropertyClassification
		order by T.ItemNum
--	*/
	/*	SELECT ItemNum, ItemDrawNum, ItemName, sum(Quantity) 'Quantity' , PropertyClassification
		FROM #TempTree
		GROUP BY ItemNum, ItemDrawNum, ItemName, PropertyClassification
	*/
	END
	ELSE
	BEGIN
		SELECT T.ItemNum, T.ItemDrawNum, T.ItemName, sum(T.Quantity) as  Quantity , T.PropertyClassification
		FROM #TempTree	T
		GROUP BY T.ItemNum, T.ItemDrawNum, T.ItemName,T.PropertyClassification
		order by T.ItemNum
		/*SELECT ItemNum, sum(Quantity) 'total' 
		FROM #TempTree
		GROUP BY ItemNum , Path
		ORDER BY Path
		*/
	END
RETURN 0
GO
