USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[SPTransperState12]    Script Date: 07/02/2026 08:48:43 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE        PROCEDURE [dbo].[SPTransperState12]

@Year varchar(10),
@Month varchar(10)

AS





Declare @Sql varchar(7000)
Declare @Division varchar(10)

Set @Division  ='상품'
--Set @Month = @Month -1




-----------
-- 전월 재고 금액 넣기
--------------

			
			Update TempResultTransperStateTable Set [전월재고금액] = 
			isnull(([전월재고수량]* 
			(
				Select Top 1  (U.StandardUnitCost) From UCI_MT U 
						where U.RecodingState =1 and U.ItemNum =  TempResultTransperStateTable.ItemNum 	and U.UnitCostDistinction = '구매단가' 
						and 	(U.OrderRate = 
								(Select 
									Max(OrderRate) From UCI_MT
									 where U.ItemNum = UCI_MT.ItemNum and UCI_MT.RecodingState =1
								)
					)
			
			
			 )),0)
						
						where (ProcessCode = '14000000' or ProcessCode = '14009999') and [전월재고수량] !=0			
						
	
/*

			DECLARE cur CURSOR 
			FOR
			
			
			Select Division , ItemNum,ItemDrawNum,ItemName, [전월재고수량]
			From TempResultTransperStateTable 
			where (ProcessCode = '14000000' or ProcessCode = '14009999') and [전월재고수량] !=0			
			
			
			--커서 오픈
			OPEN cur
			
			--변수 선언
			--DECLARE @Division varchar(50)
			DECLARE @Num varchar(100)
			DECLARE @DrawNum varchar(100)
			DECLARE @Name varchar(100)
			DECLARE @Quantity decimal(20,2)
			
			--첫 로우 FETCH
			FETCH NEXT FROM cur INTO @Division,@Num,@DrawNum, @Name, @Quantity
			WHILE @@FETCH_STATUS = 0
			BEGIN
			--FETCH된 데이터를 tempdb에 삽입
				Declare @Cost decimal(20,2)
				Set @Cost = @Quantity * (
					Select Top 1  (U.StandardUnitCost) From UCI_MT U 
					where U.RecodingState =1 and U.ItemNum =  @Num 
					and U.UnitCostDistinction = '구매단가' 
					and (U.OrderRate = (Select Max(OrderRate) From UCI_MT where U.ItemNum = UCI_MT.ItemNum and UCI_MT.RecodingState =1))
					)

				Update TempResultTransperStateTable Set  [전월재고금액]=@Cost where ItemNum = @Num and ItemDrawNum = @DrawNum and ItemName = @Name and Division = @Division
			
			--다음 로우 FEETCH - 루프
			FETCH NEXT FROM cur INTO @Division,@Num,@DrawNum, @Name, @Quantity
			END
			--커서 CLOSE
			CLOSE cur
			
			--커서 DEALLOCATE
			DEALLOCATE cur

------------------
-- 전월 재고 넣기 끝
------------------

*/

------------------
-- 금월 입고수량 및 금액 넣기
------------------

			DECLARE cur CURSOR 
			FOR
			
--구매품입고수량			
			Select PropertyClassification, II_MT.ItemNum,sum(QI_HT.SuitabilityQuantity) as StockQuantity  ,sum( QI_HT.ApplyUnitCost *  QI_HT.SuitabilityQuantity) as StockCost,'02300120' as ItemClassification3
			From QI_HT
			inner join II_MT on QI_HT.ItemNum = II_MT.ItemNum
			--inner join PUC_MT on II_MT.ItemClassification3 = PUC_MT.SmallClassificationCode
			--where [Year] = 2009 and [Month] = 5 and (PropertyClassification = '원자재' or PropertyClassification = '상품')
			where [Year] = @Year and [Month] = @Month and (PropertyClassification = '원자재' or PropertyClassification = '상품')
			and   QI_HT.ProgressCondition != '대기' and II_MT.RecodingState =1-- and PUC_MT.RecodingState =1
			group by II_MT.ItemNum, II_MT.ItemDrawNum ,II_MT.ItemName, PropertyClassification,ItemClassification3

	

			
			--커서 오픈
			OPEN cur
			
			--변수 선언
			DECLARE @ItemClassification varchar(50)
			DECLARE @ItemNum varchar(100)
			DECLARE @StockQuantity decimal(20,2)
			DECLARE @StockCost decimal(20,2)
			--첫 로우 FETCH
			FETCH NEXT FROM cur INTO @Division, @ItemNum, @StockQuantity, @StockCost,@ItemClassification
			WHILE @@FETCH_STATUS = 0
			BEGIN
			--FETCH된 데이터를 tempdb에 삽입
				

				Update TempResultTransperStateTable Set  [금월입고수량]=@StockQuantity, [금월입고금액] = @StockCost where ItemNum = @ItemNum and Division = @Division
			--다음 로우 FEETCH - 루프
			FETCH NEXT FROM cur INTO @Division, @ItemNum, @StockQuantity, @StockCost,@ItemClassification
			END
			--커서 CLOSE
			CLOSE cur
			
			--커서 DEALLOCATE
			DEALLOCATE cur
--------------------
-- 금월 입고수량 및 입고 금액넣기 끝
-- 기타구매의 경우 입고와 동시에 출고가 되므로 한번에 처리했음
-- Select * From TempResultTransperStateTable where ItemNum ='가스조정기'
--------------------


----------------
--금월출고수량 넣기
----------------

			DECLARE cur CURSOR 
			FOR
			
--출고가능한 곳(작업일보,공통소진,보용품)			
			Select  PropertyClassification, SH_HT.ItemNum,sum(Quantity) as StockQuantity 
			From SH_HT
			inner join II_MT on SH_HT.ItemNum = II_MT.ItemNum
			--where datepart(yy, [Date]) = 2009 and datepart(mm, [Date]) = 2 and (PropertyClassification = '원자재' or PropertyClassification ='상품')
			where datepart(yy, [Date]) = @Year and datepart(mm, [Date]) = @Month and (PropertyClassification = '원자재' or PropertyClassification ='상품')
			and RecodingState =1 and( HistoryDivision = '작업일보' or HistoryDivision = '보용품입고' or HistoryDivision = '공통소진') and Division = 0
			group by SH_HT.ItemNum, PropertyClassification
-- 출고가능한곳(기타입출고중 자산분류가 원자재, 상품인것만 가져올것)
			union all

			Select PropertyClassification, OIOS_HT.ItemNum, Sum(InOutStorehouseQuantity) as Quantity 
			From OIOS_HT 
			inner join II_MT on OIOS_HT.ItemNum = II_MT.ItemNum
			--where RecodingState =1 and  InOutStorehouseDistinction = 0 and datepart(yy, [InOutDate]) = 2009 and datepart(mm, [InOutDate]) = 2 
			where RecodingState =1 and  InOutStorehouseDistinction = 0 and datepart(yy, [InOutDate]) = @Year and datepart(mm, [InOutDate]) = @Month 
			and (PropertyClassification = '원자재' or PropertyClassification='상품')
			group by OIOS_HT.ItemNum,PropertyClassification

-- 상품의 경우 출고는 매출원장에서 가져와 사용한다
			union all
			Select PropertyClassification, S_HT.ItemNum, Sum(OutStorehouseQuantity) as Quantity
			From S_HT
			inner join II_MT on S_HT.ItemNum = II_MT.ItemNum
			--where RecodingState =1 and  datepart(yy, [SaleDate]) = 2009 and datepart(mm, [SaleDate]) = 2 
			where RecodingState =1 and datepart(yy, [SaleDate]) = @Year and datepart(mm, [SaleDate]) = @Month 
			and PropertyClassification='상품'
			group by S_HT.ItemNum,PropertyClassification
			

			--커서 오픈
			OPEN cur
			
			--변수 선언
			--DECLARE @Num varchar(50)
			--DECCLARE @Quantity decimal(20,2)
			--DECLARE @StockCost decimal(20,2)
			--첫 로우 FETCH
			FETCH NEXT FROM cur INTO @Division, @ItemNum, @StockQuantity
			WHILE @@FETCH_STATUS = 0
			BEGIN
			--FETCH된 데이터를 tempdb에 삽입
				Update TempResultTransperStateTable Set  [금월출고수량]=@StockQuantity where ItemNum = @ItemNum and Division =@Division
			
			--다음 로우 FEETCH - 루프
			FETCH NEXT FROM cur INTO @Division,@ItemNum, @StockQuantity
			END
			--커서 CLOSE
			CLOSE cur
			
			--커서 DEALLOCATE
			DEALLOCATE cur
-----------------
-- 금번 출고 수량 넣기 끝
------------------
GO
