USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[SPExcelStoreHouseStock]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE     PROCEDURE [dbo].[SPExcelStoreHouseStock]
  @ItemNum varchar(50)
, @ItemDrawNum varchar(50)
, @ItemName varchar(50)
, @HiddenItem varchar(50)
, @StoreName varchar(20)
, @BusinessRegistrationNum varchar(20)
, @Year int

 AS
/*
Declare   @ItemNum varchar(50)
Declare @ItemDrawNum varchar(50)
Declare @ItemName varchar(50)
Declare @HiddenItem varchar(50)
Declare @StoreName varchar(20)
Declare @BusinessRegistrationNum varchar(20)
Declare @Year int

Set @ItemNum = ''
Set @ItemDrawNum = ''
Set @ItemName = ''
Set @HiddenItem = ''
Set @StoreName = '원자재창고'
Set @BusinessRegistrationNum = ''
Set @Year = '2010'
*/
	IF exists (Select 1 From tempdb..sysobjects where name like '#TempStoreTable%')
	DROP TABLE #TempStoreTable
		CREATE TABLE #TempStoreTable
		(
			[ItemNum] [nvarchar] (50) COLLATE Korean_Wansung_CI_AS NULL ,
			[UnitCostDistinction] [nvarchar] (50) COLLATE Korean_Wansung_CI_AS NULL ,
			[BusinessRegistrationNum] [nvarchar] (50) COLLATE Korean_Wansung_CI_AS NULL ,
			[BeginProcessCode] [nvarchar] (50) COLLATE Korean_Wansung_CI_AS NULL ,
			[EndProcessCode] [nvarchar] (50) COLLATE Korean_Wansung_CI_AS NULL ,
			[OrderRate] [decimal](20, 2) NULL ,
			[StandardUnitCost] [decimal](20, 2) NULL ,
			[DiscountUnitCost] [decimal](20, 2) NULL ,
			[BeginDate] [smalldatetime] NULL ,
			[EndDate] [smalldatetime] NULL ,
			[RegistrationPerson] [nvarchar] (50) COLLATE Korean_Wansung_CI_AS NULL ,
			[RegistrationPersonID] [nvarchar] (50) COLLATE Korean_Wansung_CI_AS NULL ,
			[RegistrationDate] [smalldatetime] NULL ,
			[UpdatingPerson] [nvarchar] (50) COLLATE Korean_Wansung_CI_AS NULL ,
			[UpdatingPersonID] [nvarchar] (50) COLLATE Korean_Wansung_CI_AS NULL ,
			[UpdatingDate] [smalldatetime] NULL ,
			[UnitCostInfoIndex] [int]   NULL 
		)  




if(@HiddenItem = '')
begin
	 if(@StoreName = '영업창고')
	begin
		

		Insert into #TempStoreTable
		select ItemNum, UnitCostDistinction, BusinessRegistrationNum, BeginProcessCode, EndProcessCode, OrderRate, StandardUnitCost, DiscountUnitCost, BeginDate, EndDate, RegistrationPerson, RegistrationPersonID, RegistrationDate, UpdatingPerson, UpdatingPersonID, UpdatingDate, UnitCostInfoIndex
		From UCI_MT where RecodingState =1 and UnitCostDistinction ='판매단가'
		
		
		 SELECT Distinct BS_MT.ItemNum, PUC_MT.SmallClassificationName AS ProcessName, 
		#TempStoreTable.StandardUnitCost,
		PUC1.SmallClassificationName as ItemClassification1, 
		PUC2.SmallClassificationName as ItemClassification2,
		PUC3.SmallClassificationName as ItemClassification3,
		PUC4.SmallClassificationName as ItemClassification4,
		 II_MT.ItemDrawNum, II_MT.ItemName, BS_MT.ProcessSequenceNum,
		 BS_MT.ProcessCode, BS_MT.BusinessStorehouseIndex AS StorehouseIndex,LastYearTransferQuantity,
		(InStorehouseQuantity1 + InStorehouseQuantity2 + InStorehouseQuantity3 + InStorehouseQuantity4 + InStorehouseQuantity5 + InStorehouseQuantity6 + InStorehouseQuantity7 +  InStorehouseQuantity8 +  InStorehouseQuantity9 +  InStorehouseQuantity10 +  InStorehouseQuantity11 +  InStorehouseQuantity12 ) as 'InStorehouseQuantity',
		(OutStorehouseQuantity1 + OutStorehouseQuantity2 + OutStorehouseQuantity3 + OutStorehouseQuantity4 + OutStorehouseQuantity5 + OutStorehouseQuantity6 + OutStorehouseQuantity7 +  OutStorehouseQuantity8 +  OutStorehouseQuantity9 +  OutStorehouseQuantity10 +  OutStorehouseQuantity11 +  OutStorehouseQuantity12 )  as 'OutStorehouseQuantity', 
		 BS_MT.StockQuantity12,  ((BS_MT.StockQuantity12)*(II_MT.StandardUnitCost) ) as StockCost12  
		 FROM BS_MT INNER JOIN 
		 II_MT ON BS_MT.ItemNum = II_MT.ItemNum INNER JOIN 
		 PUC_MT ON BS_MT.ProcessCode = PUC_MT.SmallClassificationCode
		Left outer join #TempStoreTable ON II_MT.ItemNum = #TempStoreTable.ItemNum
		left outer join PUC_MT PUC1 on II_MT.ItemClassification1 = PUC1.SmallClassificationCode
		left outer join PUC_MT PUC2 on II_MT.ItemClassification2 = PUC2.SmallClassificationCode
		left outer join PUC_MT PUC3 on II_MT.ItemClassification3 = PUC3.SmallClassificationCode
		left outer join PUC_MT PUC4 on II_MT.ItemClassification4 = PUC4.SmallClassificationCode							
		 where BusinessStorehouseNum = 1 and BS_MT.RecodingState = 1 and II_MT.RecodingState = 1 
		and II_MT.ItemNum Like '%'+@ItemNum+ '%' and II_MT.ItemDrawNum Like '%'+@ItemDrawNum+'%' and II_MT.ItemName Like '%'+@Itemname+'%'
		and (StockQuantity12 !=0 or (InStorehouseQuantity1 + InStorehouseQuantity2 + InStorehouseQuantity3 + InStorehouseQuantity4 + InStorehouseQuantity5 + InStorehouseQuantity6 + InStorehouseQuantity7 +  InStorehouseQuantity8 +  InStorehouseQuantity9 +  InStorehouseQuantity10 +  InStorehouseQuantity11 +  InStorehouseQuantity12 ) != 0 or  (OutStorehouseQuantity1 + OutStorehouseQuantity2 + OutStorehouseQuantity3 + OutStorehouseQuantity4 + OutStorehouseQuantity5 + OutStorehouseQuantity6 + OutStorehouseQuantity7 +  OutStorehouseQuantity8 +  OutStorehouseQuantity9 +  OutStorehouseQuantity10 +  OutStorehouseQuantity11 +  OutStorehouseQuantity12 ) != 0 ) 
--		and ( #TempStoreTable.OrderRate = (Select isnull(Max(U.OrderRate),0) From #TempStoreTable U Where U.ItemNum = #TempStoreTable.ItemNum) or #TempStoreTable.OrderRate is null ) 
--		and ( #TempStoreTable.StandardUnitCost = (Select isnull(Max(U.StandardUnitCost),0) From #TempStoreTable U Where U.ItemNum = #TempStoreTable.ItemNum) or #TempStoreTable.StandardUnitCost is null ) 
		and (#TempStoreTable.StandardUnitCost =(Select isnull(Max(U.StandardUnitCost),0) From #TempStoreTable U Where U.ItemNum = #TempStoreTable.ItemNum and U.OrderRate = (Select isnull(Max(UI.OrderRate),0) From #TempStoreTable UI where UI.ItemNum = U.ItemNum) ) or #TempStoreTable.StandardUnitCost is null ) 
		and [Year] = @Year order by BS_MT.ItemNum		
			
	end
	else if(@StoreName = '생산창고') 	--생산창고
	begin
		
		
		Insert into #TempStoreTable
		select ItemNum, UnitCostDistinction, BusinessRegistrationNum, BeginProcessCode, EndProcessCode, OrderRate, StandardUnitCost, DiscountUnitCost, BeginDate, EndDate, RegistrationPerson, RegistrationPersonID, RegistrationDate, UpdatingPerson, UpdatingPersonID, UpdatingDate, UnitCostInfoIndex
		From UCI_MT where RecodingState =1 and UnitCostDistinction <>'판매단가'
		
		
		SELECT distinct II_MT.ItemDrawNum, II_MT.ItemName, II_MT.ItemNum, 
			#TempStoreTable.StandardUnitCost,
			PUC1.SmallClassificationName as ItemClassification1, 
			PUC2.SmallClassificationName as ItemClassification2,
			PUC3.SmallClassificationName as ItemClassification3,
			PUC4.SmallClassificationName as ItemClassification4,
			PS_MT.ProcessSequenceNum, PS_MT.ProcessCode, 
			PUC_MT.SmallClassificationName AS ProcessName,LastYearTransferQuantity,
			(InStorehouseQuantity1 + InStorehouseQuantity2 + InStorehouseQuantity3 + InStorehouseQuantity4 + InStorehouseQuantity5 + InStorehouseQuantity6 + InStorehouseQuantity7 +  InStorehouseQuantity8 +  InStorehouseQuantity9 +  InStorehouseQuantity10 +  InStorehouseQuantity11 +  InStorehouseQuantity12 ) as 'InStorehouseQuantity',
			(OutStorehouseQuantity1 + OutStorehouseQuantity2 + OutStorehouseQuantity3 + OutStorehouseQuantity4 + OutStorehouseQuantity5 + OutStorehouseQuantity6 + OutStorehouseQuantity7 +  OutStorehouseQuantity8 +  OutStorehouseQuantity9 +  OutStorehouseQuantity10 +  OutStorehouseQuantity11 +  OutStorehouseQuantity12 )  as 'OutStorehouseQuantity',  
			PS_MT.StockQuantity12,((PS_MT.StockQuantity12 * ProgressRate/100) * (II_MT.StandardUnitCost) ) as StockCost12
			FROM PS_MT INNER JOIN 
			II_MT ON PS_MT.ItemNum = II_MT.ItemNum INNER JOIN 
			PUC_MT ON PS_MT.ProcessCode = PUC_MT.SmallClassificationCode 
			Left outer join #TempStoreTable ON II_MT.ItemNum = #TempStoreTable.ItemNum
			left outer join PUC_MT PUC1 on II_MT.ItemClassification1 = PUC1.SmallClassificationCode
			left outer join PUC_MT PUC2 on II_MT.ItemClassification2 = PUC2.SmallClassificationCode
			left outer join PUC_MT PUC3 on II_MT.ItemClassification3 = PUC3.SmallClassificationCode
			left outer join PUC_MT PUC4 on II_MT.ItemClassification4 = PUC4.SmallClassificationCode		
			inner join PSI_MT on PS_MT.ItemNum = PSI_MT.ItemNum and PS_MT.ProcessCode = PSI_MT.ProcessCode
			Where PS_MT.RecodingState = 1 and II_MT.RecodingState = 1 
			and II_MT.ItemNum Like '%'+@ItemNum+ '%' and II_MT.ItemDrawNum Like '%'+@ItemDrawNum+'%' and II_MT.ItemName Like '%'+@Itemname+'%'
			and (StockQuantity12 !=0 or (InStorehouseQuantity1 + InStorehouseQuantity2 + InStorehouseQuantity3 + InStorehouseQuantity4 + InStorehouseQuantity5 + InStorehouseQuantity6 + InStorehouseQuantity7 +  InStorehouseQuantity8 +  InStorehouseQuantity9 +  InStorehouseQuantity10 +  InStorehouseQuantity11 +  InStorehouseQuantity12 ) != 0 or  (OutStorehouseQuantity1 + OutStorehouseQuantity2 + OutStorehouseQuantity3 + OutStorehouseQuantity4 + OutStorehouseQuantity5 + OutStorehouseQuantity6 + OutStorehouseQuantity7 +  OutStorehouseQuantity8 +  OutStorehouseQuantity9 +  OutStorehouseQuantity10 +  OutStorehouseQuantity11 +  OutStorehouseQuantity12 ) != 0 ) 
--			and ( #TempStoreTable.OrderRate = (Select isnull(Max(U.OrderRate),0) From #TempStoreTable U Where U.ItemNum = #TempStoreTable.ItemNum) or #TempStoreTable.OrderRate is null ) 
--			and ( #TempStoreTable.StandardUnitCost = (Select isnull(Max(U.StandardUnitCost),0) From #TempStoreTable U Where U.ItemNum = #TempStoreTable.ItemNum) or #TempStoreTable.StandardUnitCost is null ) 
			and (#TempStoreTable.StandardUnitCost =(Select isnull(Max(U.StandardUnitCost),0) From #TempStoreTable U Where U.ItemNum = #TempStoreTable.ItemNum and U.OrderRate = (Select isnull(Max(UI.OrderRate),0) From #TempStoreTable UI where UI.ItemNum = U.ItemNum) ) or #TempStoreTable.StandardUnitCost is null ) 
			and [Year] = @Year order by II_MT.ItemDrawNum,ProcessName,
			PS_MT.ProcessSequenceNum, PS_MT.ProcessCode, LastYearTransferQuantity
	end
	else if(@StoreName = '외주창고')	-- 외주 창고
	begin
		if(@BusinessRegistrationNum = '')
		begin
			Insert into #TempStoreTable
			select ItemNum, UnitCostDistinction, BusinessRegistrationNum, BeginProcessCode, EndProcessCode, OrderRate, StandardUnitCost, DiscountUnitCost, BeginDate, EndDate, RegistrationPerson, RegistrationPersonID, RegistrationDate, UpdatingPerson, UpdatingPersonID, UpdatingDate, UnitCostInfoIndex
			From UCI_MT where RecodingState =1 and UnitCostDistinction ='구매단가'
			
			
			 SELECT distinct  II_MT.ItemDrawNum, II_MT.ItemName, II_MT.ItemNum,  PUC_MT.SmallClassificationName AS ProcessName, 
				#TempStoreTable.StandardUnitCost,
				PUC1.SmallClassificationName as ItemClassification1, 
				PUC2.SmallClassificationName as ItemClassification2,
				PUC3.SmallClassificationName as ItemClassification3,
				PUC4.SmallClassificationName as ItemClassification4,
				OS_MT.ProcessSequenceNum, OS_MT.ProcessCode, OS_MT.StockQuantity12, 
				( (OS_MT.StockQuantity12 * ProgressRate/100) * (II_MT.StandardUnitCost) ) as StockCost12, LastYearTransferQuantity,
				(InStorehouseQuantity1 + InStorehouseQuantity2 + InStorehouseQuantity3 + InStorehouseQuantity4 + InStorehouseQuantity5 + InStorehouseQuantity6 + InStorehouseQuantity7 +  InStorehouseQuantity8 +  InStorehouseQuantity9 +  InStorehouseQuantity10 +  InStorehouseQuantity11 +  InStorehouseQuantity12 ) as 'InStorehouseQuantity',
				(OutStorehouseQuantity1 + OutStorehouseQuantity2 + OutStorehouseQuantity3 + OutStorehouseQuantity4 + OutStorehouseQuantity5 + OutStorehouseQuantity6 + OutStorehouseQuantity7 +  OutStorehouseQuantity8 +  OutStorehouseQuantity9 +  OutStorehouseQuantity10 +  OutStorehouseQuantity11 +  OutStorehouseQuantity12 )  as 'OutStorehouseQuantity', 
				CI_MT.CompanyName, CI_MT.BusinessRegistrationNum 
				FROM OS_MT
				INNER JOIN II_MT ON  II_MT.ItemNum = OS_MT.ItemNum 
				INNER JOIN PUC_MT ON OS_MT.ProcessCode =  PUC_MT.SmallClassificationCode 
				left outer JOIN PSI_MT on OS_MT.ItemNum = PSI_MT.ItemNum and OS_MT.ProcessCode = PSI_MT.ProcessCode
				INNER JOIN CI_MT ON OS_MT.BusinessRegistrationNum = CI_MT.BusinessRegistrationNum
				Left outer join #TempStoreTable ON II_MT.ItemNum = #TempStoreTable.ItemNum
				left outer join PUC_MT PUC1 on II_MT.ItemClassification1 = PUC1.SmallClassificationCode
				left outer join PUC_MT PUC2 on II_MT.ItemClassification2 = PUC2.SmallClassificationCode
				left outer join PUC_MT PUC3 on II_MT.ItemClassification3 = PUC3.SmallClassificationCode
				left outer join PUC_MT PUC4 on II_MT.ItemClassification4 = PUC4.SmallClassificationCode		
				WHERE OS_MT.RecodingState = 1 and II_MT.RecodingState = 1 and CI_MT.RecodingState = 1
				and II_MT.ItemNum Like '%'+@ItemNum+ '%' and II_MT.ItemDrawNum Like '%'+@ItemDrawNum+'%' and II_MT.ItemName Like '%'+@Itemname+'%' and CI_MT.BusinessRegistrationNum like '%'+ @BusinessRegistrationNum +'%'
				and (StockQuantity12 !=0 or (InStorehouseQuantity1 + InStorehouseQuantity2 + InStorehouseQuantity3 + InStorehouseQuantity4 + InStorehouseQuantity5 + InStorehouseQuantity6 + InStorehouseQuantity7 +  InStorehouseQuantity8 +  InStorehouseQuantity9 +  InStorehouseQuantity10 +  InStorehouseQuantity11 +  InStorehouseQuantity12 ) != 0 or  (OutStorehouseQuantity1 + OutStorehouseQuantity2 + OutStorehouseQuantity3 + OutStorehouseQuantity4 + OutStorehouseQuantity5 + OutStorehouseQuantity6 + OutStorehouseQuantity7 +  OutStorehouseQuantity8 +  OutStorehouseQuantity9 +  OutStorehouseQuantity10 +  OutStorehouseQuantity11 +  OutStorehouseQuantity12 ) != 0 )
	--			and ( #TempStoreTable.OrderRate = (Select isnull(Max(U.OrderRate),0) From #TempStoreTable U Where U.ItemNum = #TempStoreTable.ItemNum) or #TempStoreTable.OrderRate is null ) 
	--			and ( #TempStoreTable.StandardUnitCost = (Select isnull(Max(U.StandardUnitCost),0) From #TempStoreTable U Where U.ItemNum = #TempStoreTable.ItemNum) or #TempStoreTable.StandardUnitCost is null ) 
				and (#TempStoreTable.StandardUnitCost =(Select isnull(Max(U.StandardUnitCost),0) From #TempStoreTable U Where U.ItemNum = #TempStoreTable.ItemNum and U.OrderRate = (Select isnull(Max(UI.OrderRate),0) From #TempStoreTable UI where UI.ItemNum = U.ItemNum) ) or #TempStoreTable.StandardUnitCost is null ) 
				 and [Year] = @Year and OS_MT.RecodingState = 1 
				order by II_MT.ItemDrawNum,ProcessName,
				OS_MT.ProcessSequenceNum, OS_MT.ProcessCode, LastYearTransferQuantity
		end
		else
			begin
				Insert into #TempStoreTable
				select ItemNum, UnitCostDistinction, BusinessRegistrationNum, BeginProcessCode, EndProcessCode, OrderRate, StandardUnitCost, DiscountUnitCost, BeginDate, EndDate, RegistrationPerson, RegistrationPersonID, RegistrationDate, UpdatingPerson, UpdatingPersonID, UpdatingDate, UnitCostInfoIndex
				From UCI_MT where RecodingState =1 and UnitCostDistinction ='구매단가'
				
				
				 SELECT distinct  II_MT.ItemDrawNum, II_MT.ItemName, II_MT.ItemNum,  PUC_MT.SmallClassificationName AS ProcessName, 
					#TempStoreTable.StandardUnitCost,
					PUC1.SmallClassificationName as ItemClassification1, 
					PUC2.SmallClassificationName as ItemClassification2,
					PUC3.SmallClassificationName as ItemClassification3,
					PUC4.SmallClassificationName as ItemClassification4,
					OS_MT.ProcessSequenceNum, OS_MT.ProcessCode, OS_MT.StockQuantity12, 
					( (OS_MT.StockQuantity12 * ProgressRate/100) * (II_MT.StandardUnitCost) ) as StockCost12, LastYearTransferQuantity,
					(InStorehouseQuantity1 + InStorehouseQuantity2 + InStorehouseQuantity3 + InStorehouseQuantity4 + InStorehouseQuantity5 + InStorehouseQuantity6 + InStorehouseQuantity7 +  InStorehouseQuantity8 +  InStorehouseQuantity9 +  InStorehouseQuantity10 +  InStorehouseQuantity11 +  InStorehouseQuantity12 ) as 'InStorehouseQuantity',
					(OutStorehouseQuantity1 + OutStorehouseQuantity2 + OutStorehouseQuantity3 + OutStorehouseQuantity4 + OutStorehouseQuantity5 + OutStorehouseQuantity6 + OutStorehouseQuantity7 +  OutStorehouseQuantity8 +  OutStorehouseQuantity9 +  OutStorehouseQuantity10 +  OutStorehouseQuantity11 +  OutStorehouseQuantity12 )  as 'OutStorehouseQuantity', 
					CI_MT.CompanyName, CI_MT.BusinessRegistrationNum 
					FROM OS_MT
					INNER JOIN II_MT ON  II_MT.ItemNum = OS_MT.ItemNum 
					INNER JOIN PUC_MT ON OS_MT.ProcessCode =  PUC_MT.SmallClassificationCode 
					left outer JOIN PSI_MT on OS_MT.ItemNum = PSI_MT.ItemNum and OS_MT.ProcessCode = PSI_MT.ProcessCode
					INNER JOIN CI_MT ON OS_MT.BusinessRegistrationNum = CI_MT.BusinessRegistrationNum
					Left outer join #TempStoreTable ON II_MT.ItemNum = #TempStoreTable.ItemNum
					left outer join PUC_MT PUC1 on II_MT.ItemClassification1 = PUC1.SmallClassificationCode
					left outer join PUC_MT PUC2 on II_MT.ItemClassification2 = PUC2.SmallClassificationCode
					left outer join PUC_MT PUC3 on II_MT.ItemClassification3 = PUC3.SmallClassificationCode
					left outer join PUC_MT PUC4 on II_MT.ItemClassification4 = PUC4.SmallClassificationCode		
					WHERE OS_MT.RecodingState = 1 and II_MT.RecodingState = 1 and CI_MT.RecodingState = 1
					and II_MT.ItemNum Like '%'+@ItemNum+ '%' and II_MT.ItemDrawNum Like '%'+@ItemDrawNum+'%' and II_MT.ItemName Like '%'+@Itemname+'%' and CI_MT.BusinessRegistrationNum = @BusinessRegistrationNum
					and (StockQuantity12 !=0 or (InStorehouseQuantity1 + InStorehouseQuantity2 + InStorehouseQuantity3 + InStorehouseQuantity4 + InStorehouseQuantity5 + InStorehouseQuantity6 + InStorehouseQuantity7 +  InStorehouseQuantity8 +  InStorehouseQuantity9 +  InStorehouseQuantity10 +  InStorehouseQuantity11 +  InStorehouseQuantity12 ) != 0 or  (OutStorehouseQuantity1 + OutStorehouseQuantity2 + OutStorehouseQuantity3 + OutStorehouseQuantity4 + OutStorehouseQuantity5 + OutStorehouseQuantity6 + OutStorehouseQuantity7 +  OutStorehouseQuantity8 +  OutStorehouseQuantity9 +  OutStorehouseQuantity10 +  OutStorehouseQuantity11 +  OutStorehouseQuantity12 ) != 0 )
		--			and ( #TempStoreTable.OrderRate = (Select isnull(Max(U.OrderRate),0) From #TempStoreTable U Where U.ItemNum = #TempStoreTable.ItemNum) or #TempStoreTable.OrderRate is null ) 
		--			and ( #TempStoreTable.StandardUnitCost = (Select isnull(Max(U.StandardUnitCost),0) From #TempStoreTable U Where U.ItemNum = #TempStoreTable.ItemNum) or #TempStoreTable.StandardUnitCost is null ) 
					and (#TempStoreTable.StandardUnitCost =(Select isnull(Max(U.StandardUnitCost),0) From #TempStoreTable U Where U.ItemNum = #TempStoreTable.ItemNum and U.OrderRate = (Select isnull(Max(UI.OrderRate),0) From #TempStoreTable UI where UI.ItemNum = U.ItemNum) ) or #TempStoreTable.StandardUnitCost is null ) 
					 and [Year] = @Year and OS_MT.RecodingState = 1 
					order by II_MT.ItemDrawNum,ProcessName,
					OS_MT.ProcessSequenceNum, OS_MT.ProcessCode, LastYearTransferQuantity
			end	
		
	end
	else if(@StoreName = '원자재창고')	--원자재창고
	begin
		
		Insert into #TempStoreTable
		select ItemNum, UnitCostDistinction, BusinessRegistrationNum, BeginProcessCode, EndProcessCode, OrderRate, StandardUnitCost, DiscountUnitCost, BeginDate, EndDate, RegistrationPerson, RegistrationPersonID, RegistrationDate, UpdatingPerson, UpdatingPersonID, UpdatingDate, UnitCostInfoIndex
		From UCI_MT where RecodingState =1 and UnitCostDistinction ='구매단가'
		
		SELECT  Distinct II_MT.ItemDrawNum, II_MT.ItemName, II_MT.ItemNum,
		#TempStoreTable.StandardUnitCost,
		PUC1.SmallClassificationName as ItemClassification1, 
		PUC2.SmallClassificationName as ItemClassification2,
			PUC3.SmallClassificationName as ItemClassification3,
			PUC4.SmallClassificationName as ItemClassification4,
			'소재' AS ProcessName, 
			RMS_MT.ProcessSequenceNum, RMS_MT.ProcessCode, 
			RMS_MT.RowMetarialStorehouseIndex AS StorehouseIndex, LastYearTransferQuantity,
			(InStorehouseQuantity1 + InStorehouseQuantity2 + InStorehouseQuantity3 + InStorehouseQuantity4 + InStorehouseQuantity5 + InStorehouseQuantity6 + InStorehouseQuantity7 +  InStorehouseQuantity8 +  InStorehouseQuantity9 +  InStorehouseQuantity10 +  InStorehouseQuantity11 +  InStorehouseQuantity12 ) as 'InStorehouseQuantity',
			(OutStorehouseQuantity1 + OutStorehouseQuantity2 + OutStorehouseQuantity3 + OutStorehouseQuantity4 + OutStorehouseQuantity5 + OutStorehouseQuantity6 + OutStorehouseQuantity7 +  OutStorehouseQuantity8 +  OutStorehouseQuantity9 +  OutStorehouseQuantity10 +  OutStorehouseQuantity11 +  OutStorehouseQuantity12 )  as 'OutStorehouseQuantity', 
			RMS_MT.StockQuantity12,  isnull(((RMS_MT.StockQuantity12)*(#TempStoreTable.StandardUnitCost) ),0) as StockCost12 
			FROM II_MT 
		Left outer join #TempStoreTable ON II_MT.ItemNum = #TempStoreTable.ItemNum
		 INNER JOIN RMS_MT ON II_MT.ItemNum = RMS_MT.ItemNum
			left outer join PUC_MT PUC1 on II_MT.ItemClassification1 = PUC1.SmallClassificationCode
			left outer join PUC_MT PUC2 on II_MT.ItemClassification2 = PUC2.SmallClassificationCode
			left outer join PUC_MT PUC3 on II_MT.ItemClassification3 = PUC3.SmallClassificationCode
			left outer join PUC_MT PUC4 on II_MT.ItemClassification4 = PUC4.SmallClassificationCode		
			Where RMS_MT.RecodingState = 1 and II_MT.RecodingState = 1
			and II_MT.ItemNum Like '%'+@ItemNum+ '%' and II_MT.ItemDrawNum Like '%'+@ItemDrawNum+'%' and II_MT.ItemName Like '%'+@Itemname+'%'
			and (StockQuantity12 !=0 or (InStorehouseQuantity1 + InStorehouseQuantity2 + InStorehouseQuantity3 + InStorehouseQuantity4 + InStorehouseQuantity5 + InStorehouseQuantity6 + InStorehouseQuantity7 +  InStorehouseQuantity8 +  InStorehouseQuantity9 +  InStorehouseQuantity10 +  InStorehouseQuantity11 +  InStorehouseQuantity12 ) != 0 or  (OutStorehouseQuantity1 + OutStorehouseQuantity2 + OutStorehouseQuantity3 + OutStorehouseQuantity4 + OutStorehouseQuantity5 + OutStorehouseQuantity6 + OutStorehouseQuantity7 +  OutStorehouseQuantity8 +  OutStorehouseQuantity9 +  OutStorehouseQuantity10 +  OutStorehouseQuantity11 +  OutStorehouseQuantity12 ) != 0 ) 
--			and ( #TempStoreTable.OrderRate = (Select isnull(Max(U.OrderRate),0) From #TempStoreTable U Where U.ItemNum = #TempStoreTable.ItemNum) or #TempStoreTable.OrderRate is null ) 
--			and ( #TempStoreTable.StandardUnitCost = (Select isnull(Max(U.StandardUnitCost),0) From #TempStoreTable U Where U.ItemNum = #TempStoreTable.ItemNum) or #TempStoreTable.StandardUnitCost is null ) 
			and (#TempStoreTable.StandardUnitCost =(Select isnull(Max(U.StandardUnitCost),0) From #TempStoreTable U Where U.ItemNum = #TempStoreTable.ItemNum and U.OrderRate = (Select isnull(Max(UI.OrderRate),0) From #TempStoreTable UI where UI.ItemNum = U.ItemNum) ) or #TempStoreTable.StandardUnitCost is null ) 
			and [Year] = @Year  order by  II_MT.ItemDrawNum,ProcessName,
			RMS_MT.ProcessSequenceNum, RMS_MT.ProcessCode, LastYearTransferQuantity
	end
	else if(@StoreName = '납품창고')	--납품
	begin
		
		Insert into #TempStoreTable
		select ItemNum, UnitCostDistinction, BusinessRegistrationNum, BeginProcessCode, EndProcessCode, OrderRate, StandardUnitCost, DiscountUnitCost, BeginDate, EndDate, RegistrationPerson, RegistrationPersonID, RegistrationDate, UpdatingPerson, UpdatingPersonID, UpdatingDate, UnitCostInfoIndex
		From UCI_MT where RecodingState =1 and UnitCostDistinction = '판매단가'
		
		SELECT distinct II_MT.ItemDrawNum, II_MT.ItemName, II_MT.ItemNum, 
			#TempStoreTable.StandardUnitCost,
			PUC1.SmallClassificationName as ItemClassification1, 
			PUC2.SmallClassificationName as ItemClassification2,
			PUC3.SmallClassificationName as ItemClassification3,
			PUC4.SmallClassificationName as ItemClassification4,
			PUC_MT.SmallClassificationName AS ProcessName, LastYearTransferQuantity,
			(InStorehouseQuantity1 + InStorehouseQuantity2 + InStorehouseQuantity3 + InStorehouseQuantity4 + InStorehouseQuantity5 + InStorehouseQuantity6 + InStorehouseQuantity7 +  InStorehouseQuantity8 +  InStorehouseQuantity9 +  InStorehouseQuantity10 +  InStorehouseQuantity11 +  InStorehouseQuantity12 ) as 'InStorehouseQuantity',
			(OutStorehouseQuantity1 + OutStorehouseQuantity2 + OutStorehouseQuantity3 + OutStorehouseQuantity4 + OutStorehouseQuantity5 + OutStorehouseQuantity6 + OutStorehouseQuantity7 +  OutStorehouseQuantity8 +  OutStorehouseQuantity9 +  OutStorehouseQuantity10 +  OutStorehouseQuantity11 +  OutStorehouseQuantity12 )  as 'OutStorehouseQuantity', 
			DS_MT.ProcessSequenceNum, DS_MT.ProcessCode, DS_MT.StockQuantity12, 
			((DS_MT.StockQuantity12)*(II_MT.StandardUnitCost)) as StockCost12, DS_MT.DeliveryStorehouseIndex AS StorehouseIndex 
			FROM      II_MT INNER JOIN 
			DS_MT ON II_MT.ItemNum = DS_MT.ItemNum INNER JOIN
			PUC_MT ON DS_MT.ProcessCode = PUC_MT.SmallClassificationCode 
			Left outer join #TempStoreTable ON II_MT.ItemNum = #TempStoreTable.ItemNum
			left outer join PUC_MT PUC1 on II_MT.ItemClassification1 = PUC1.SmallClassificationCode
			left outer join PUC_MT PUC2 on II_MT.ItemClassification2 = PUC2.SmallClassificationCode
			left outer join PUC_MT PUC3 on II_MT.ItemClassification3 = PUC3.SmallClassificationCode
			left outer join PUC_MT PUC4 on II_MT.ItemClassification4 = PUC4.SmallClassificationCode		
			Where  DS_MT.RecodingState = 1 and II_MT.RecodingState = 1 
			and II_MT.ItemNum Like '%'+@ItemNum+ '%' and II_MT.ItemDrawNum Like '%'+@ItemDrawNum+'%' and II_MT.ItemName Like '%'+@Itemname+'%'
			and (StockQuantity12 !=0 or (InStorehouseQuantity1 + InStorehouseQuantity2 + InStorehouseQuantity3 + InStorehouseQuantity4 + InStorehouseQuantity5 + InStorehouseQuantity6 + InStorehouseQuantity7 +  InStorehouseQuantity8 +  InStorehouseQuantity9 +  InStorehouseQuantity10 +  InStorehouseQuantity11 +  InStorehouseQuantity12 ) != 0 or  (OutStorehouseQuantity1 + OutStorehouseQuantity2 + OutStorehouseQuantity3 + OutStorehouseQuantity4 + OutStorehouseQuantity5 + OutStorehouseQuantity6 + OutStorehouseQuantity7 +  OutStorehouseQuantity8 +  OutStorehouseQuantity9 +  OutStorehouseQuantity10 +  OutStorehouseQuantity11 +  OutStorehouseQuantity12 ) != 0 ) 
--			and ( #TempStoreTable.OrderRate = (Select isnull(Max(U.OrderRate),0) From #TempStoreTable U Where U.ItemNum = #TempStoreTable.ItemNum) or #TempStoreTable.OrderRate is null ) 
--			and ( #TempStoreTable.StandardUnitCost = (Select isnull(Max(U.StandardUnitCost),0) From #TempStoreTable U Where U.ItemNum = #TempStoreTable.ItemNum) or #TempStoreTable.StandardUnitCost is null ) 
			and (#TempStoreTable.StandardUnitCost =(Select isnull(Max(U.StandardUnitCost),0) From #TempStoreTable U Where U.ItemNum = #TempStoreTable.ItemNum and U.OrderRate = (Select isnull(Max(UI.OrderRate),0) From #TempStoreTable UI where UI.ItemNum = U.ItemNum) ) or #TempStoreTable.StandardUnitCost is null ) 
			and [Year] = @Year order by II_MT.ItemDrawNum,ProcessName,
			ProcessSequenceNum, ProcessCode, LastYearTransferQuantity
	end
	else				-- 보용품창고
	begin
		Insert into #TempStoreTable
		select ItemNum, UnitCostDistinction, BusinessRegistrationNum, BeginProcessCode, EndProcessCode, OrderRate, StandardUnitCost, DiscountUnitCost, BeginDate, EndDate, RegistrationPerson, RegistrationPersonID, RegistrationDate, UpdatingPerson, UpdatingPersonID, UpdatingDate, UnitCostInfoIndex
		From UCI_MT where RecodingState =1 and UnitCostDistinction ='판매단가'
		
		SELECT distinct II_MT.ItemDrawNum, II_MT.ItemName, II_MT.ItemNum, 
			#TempStoreTable.StandardUnitCost,
			PUC1.SmallClassificationName as ItemClassification1, 
			PUC2.SmallClassificationName as ItemClassification2,
			PUC3.SmallClassificationName as ItemClassification3,
			PUC4.SmallClassificationName as ItemClassification4,
			'99' as ProcessSequenceNum, '14009999' as ProcessCode, 
			'보용품' AS ProcessName,LastYearTransferQuantity,
			(InStorehouseQuantity1 + InStorehouseQuantity2 + InStorehouseQuantity3 + InStorehouseQuantity4 + InStorehouseQuantity5 + InStorehouseQuantity6 + InStorehouseQuantity7 +  InStorehouseQuantity8 +  InStorehouseQuantity9 +  InStorehouseQuantity10 +  InStorehouseQuantity11 +  InStorehouseQuantity12 ) as 'InStorehouseQuantity',
			(OutStorehouseQuantity1 + OutStorehouseQuantity2 + OutStorehouseQuantity3 + OutStorehouseQuantity4 + OutStorehouseQuantity5 + OutStorehouseQuantity6 + OutStorehouseQuantity7 +  OutStorehouseQuantity8 +  OutStorehouseQuantity9 +  OutStorehouseQuantity10 +  OutStorehouseQuantity11 +  OutStorehouseQuantity12 )  as 'OutStorehouseQuantity',  
			AS_MT.StockQuantity12,((AS_MT.StockQuantity12) * (II_MT.StandardUnitCost) ) as StockCost12
			FROM AS_MT INNER JOIN 
			II_MT ON AS_MT.ItemNum = II_MT.ItemNum
			Left outer join #TempStoreTable ON II_MT.ItemNum = #TempStoreTable.ItemNum
			left outer join PUC_MT PUC1 on II_MT.ItemClassification1 = PUC1.SmallClassificationCode
			left outer join PUC_MT PUC2 on II_MT.ItemClassification2 = PUC2.SmallClassificationCode
			left outer join PUC_MT PUC3 on II_MT.ItemClassification3 = PUC3.SmallClassificationCode
			left outer join PUC_MT PUC4 on II_MT.ItemClassification4 = PUC4.SmallClassificationCode	
			Where AS_MT.RecodingState = 1 and II_MT.RecodingState = 1 
			and II_MT.ItemNum Like '%'+@ItemNum+ '%' and II_MT.ItemDrawNum Like '%'+@ItemDrawNum+'%' and II_MT.ItemName Like '%'+@Itemname+'%'
			and (StockQuantity12 !=0 or (InStorehouseQuantity1 + InStorehouseQuantity2 + InStorehouseQuantity3 + InStorehouseQuantity4 + InStorehouseQuantity5 + InStorehouseQuantity6 + InStorehouseQuantity7 +  InStorehouseQuantity8 +  InStorehouseQuantity9 +  InStorehouseQuantity10 +  InStorehouseQuantity11 +  InStorehouseQuantity12 ) != 0 or  (OutStorehouseQuantity1 + OutStorehouseQuantity2 + OutStorehouseQuantity3 + OutStorehouseQuantity4 + OutStorehouseQuantity5 + OutStorehouseQuantity6 + OutStorehouseQuantity7 +  OutStorehouseQuantity8 +  OutStorehouseQuantity9 +  OutStorehouseQuantity10 +  OutStorehouseQuantity11 +  OutStorehouseQuantity12 ) != 0 ) 
--			and ( #TempStoreTable.OrderRate = (Select isnull(Max(U.OrderRate),0) From #TempStoreTable U Where U.ItemNum = #TempStoreTable.ItemNum) or #TempStoreTable.OrderRate is null ) 
--			and ( #TempStoreTable.StandardUnitCost = (Select isnull(Max(U.StandardUnitCost),0) From #TempStoreTable U Where U.ItemNum = #TempStoreTable.ItemNum) or #TempStoreTable.StandardUnitCost is null ) 
			and (#TempStoreTable.StandardUnitCost =(Select isnull(Max(U.StandardUnitCost),0) From #TempStoreTable U Where U.ItemNum = #TempStoreTable.ItemNum and U.OrderRate = (Select isnull(Max(UI.OrderRate),0) From #TempStoreTable UI where UI.ItemNum = U.ItemNum) ) or #TempStoreTable.StandardUnitCost is null ) 
			and [Year] = @Year order by II_MT.ItemDrawNum,ProcessName,
			ProcessSequenceNum, ProcessCode, LastYearTransferQuantity
	end
end
else
begin
	if(@StoreName = '영업창고')
	begin
		Insert into #TempStoreTable
			select ItemNum, UnitCostDistinction, BusinessRegistrationNum, BeginProcessCode, EndProcessCode, OrderRate, StandardUnitCost, DiscountUnitCost, BeginDate, EndDate, RegistrationPerson, RegistrationPersonID, RegistrationDate, UpdatingPerson, UpdatingPersonID, UpdatingDate, UnitCostInfoIndex
			From UCI_MT where RecodingState =1 and UnitCostDistinction ='판매단가'
			
			
			 SELECT Distinct BS_MT.ItemNum, PUC_MT.SmallClassificationName AS ProcessName, 
			#TempStoreTable.StandardUnitCost,
			PUC1.SmallClassificationName as ItemClassification1, 
			PUC2.SmallClassificationName as ItemClassification2,
			PUC3.SmallClassificationName as ItemClassification3,
			PUC4.SmallClassificationName as ItemClassification4,
			 II_MT.ItemDrawNum, II_MT.ItemName, BS_MT.ProcessSequenceNum,
			 BS_MT.ProcessCode, BS_MT.BusinessStorehouseIndex AS StorehouseIndex,LastYearTransferQuantity,
			(InStorehouseQuantity1 + InStorehouseQuantity2 + InStorehouseQuantity3 + InStorehouseQuantity4 + InStorehouseQuantity5 + InStorehouseQuantity6 + InStorehouseQuantity7 +  InStorehouseQuantity8 +  InStorehouseQuantity9 +  InStorehouseQuantity10 +  InStorehouseQuantity11 +  InStorehouseQuantity12 ) as 'InStorehouseQuantity',
			(OutStorehouseQuantity1 + OutStorehouseQuantity2 + OutStorehouseQuantity3 + OutStorehouseQuantity4 + OutStorehouseQuantity5 + OutStorehouseQuantity6 + OutStorehouseQuantity7 +  OutStorehouseQuantity8 +  OutStorehouseQuantity9 +  OutStorehouseQuantity10 +  OutStorehouseQuantity11 +  OutStorehouseQuantity12 )  as 'OutStorehouseQuantity', 
			 BS_MT.StockQuantity12,  ((BS_MT.StockQuantity12)*(II_MT.StandardUnitCost) ) as StockCost12  
			 FROM BS_MT INNER JOIN 
			 II_MT ON BS_MT.ItemNum = II_MT.ItemNum INNER JOIN 
			 PUC_MT ON BS_MT.ProcessCode = PUC_MT.SmallClassificationCode
			Left outer join #TempStoreTable ON II_MT.ItemNum = #TempStoreTable.ItemNum
			left outer join PUC_MT PUC1 on II_MT.ItemClassification1 = PUC1.SmallClassificationCode
			left outer join PUC_MT PUC2 on II_MT.ItemClassification2 = PUC2.SmallClassificationCode
			left outer join PUC_MT PUC3 on II_MT.ItemClassification3 = PUC3.SmallClassificationCode
			left outer join PUC_MT PUC4 on II_MT.ItemClassification4 = PUC4.SmallClassificationCode							
			 where BusinessStorehouseNum = 1 and BS_MT.RecodingState = 1 and II_MT.RecodingState = 1 
			and II_MT.ItemNum = @HiddenItem
			and (StockQuantity12 !=0 or (InStorehouseQuantity1 + InStorehouseQuantity2 + InStorehouseQuantity3 + InStorehouseQuantity4 + InStorehouseQuantity5 + InStorehouseQuantity6 + InStorehouseQuantity7 +  InStorehouseQuantity8 +  InStorehouseQuantity9 +  InStorehouseQuantity10 +  InStorehouseQuantity11 +  InStorehouseQuantity12 ) != 0 or  (OutStorehouseQuantity1 + OutStorehouseQuantity2 + OutStorehouseQuantity3 + OutStorehouseQuantity4 + OutStorehouseQuantity5 + OutStorehouseQuantity6 + OutStorehouseQuantity7 +  OutStorehouseQuantity8 +  OutStorehouseQuantity9 +  OutStorehouseQuantity10 +  OutStorehouseQuantity11 +  OutStorehouseQuantity12 ) != 0 ) 
--			and ( #TempStoreTable.OrderRate = (Select isnull(Max(U.OrderRate),0) From #TempStoreTable U Where U.ItemNum = #TempStoreTable.ItemNum) or #TempStoreTable.OrderRate is null ) 
--			and ( #TempStoreTable.StandardUnitCost = (Select isnull(Max(U.StandardUnitCost),0) From #TempStoreTable U Where U.ItemNum = #TempStoreTable.ItemNum) or #TempStoreTable.StandardUnitCost is null ) 
			and (#TempStoreTable.StandardUnitCost =(Select isnull(Max(U.StandardUnitCost),0) From #TempStoreTable U Where U.ItemNum = #TempStoreTable.ItemNum and U.OrderRate = (Select isnull(Max(UI.OrderRate),0) From #TempStoreTable UI where UI.ItemNum = U.ItemNum) ) or #TempStoreTable.StandardUnitCost is null ) 
			and [Year] = @Year order by BS_MT.ItemNum		
			
	end
	else if(@StoreName = '생산창고') 	--생산창고
	begin
		Insert into #TempStoreTable
		select ItemNum, UnitCostDistinction, BusinessRegistrationNum, BeginProcessCode, EndProcessCode, OrderRate, StandardUnitCost, DiscountUnitCost, BeginDate, EndDate, RegistrationPerson, RegistrationPersonID, RegistrationDate, UpdatingPerson, UpdatingPersonID, UpdatingDate, UnitCostInfoIndex
		From UCI_MT where RecodingState =1 and UnitCostDistinction <>'판매단가'
		
		
		SELECT distinct II_MT.ItemDrawNum, II_MT.ItemName, II_MT.ItemNum, 
			#TempStoreTable.StandardUnitCost,
			PUC1.SmallClassificationName as ItemClassification1, 
			PUC2.SmallClassificationName as ItemClassification2,
			PUC3.SmallClassificationName as ItemClassification3,
			PUC4.SmallClassificationName as ItemClassification4,
			PS_MT.ProcessSequenceNum, PS_MT.ProcessCode, 
			PUC_MT.SmallClassificationName AS ProcessName,LastYearTransferQuantity,
			(InStorehouseQuantity1 + InStorehouseQuantity2 + InStorehouseQuantity3 + InStorehouseQuantity4 + InStorehouseQuantity5 + InStorehouseQuantity6 + InStorehouseQuantity7 +  InStorehouseQuantity8 +  InStorehouseQuantity9 +  InStorehouseQuantity10 +  InStorehouseQuantity11 +  InStorehouseQuantity12 ) as 'InStorehouseQuantity',
			(OutStorehouseQuantity1 + OutStorehouseQuantity2 + OutStorehouseQuantity3 + OutStorehouseQuantity4 + OutStorehouseQuantity5 + OutStorehouseQuantity6 + OutStorehouseQuantity7 +  OutStorehouseQuantity8 +  OutStorehouseQuantity9 +  OutStorehouseQuantity10 +  OutStorehouseQuantity11 +  OutStorehouseQuantity12 )  as 'OutStorehouseQuantity',  
			PS_MT.StockQuantity12,((PS_MT.StockQuantity12 * ProgressRate/100) * (II_MT.StandardUnitCost) ) as StockCost12
			FROM PS_MT INNER JOIN 
			II_MT ON PS_MT.ItemNum = II_MT.ItemNum INNER JOIN 
			PUC_MT ON PS_MT.ProcessCode = PUC_MT.SmallClassificationCode 
			Left outer join #TempStoreTable ON II_MT.ItemNum = #TempStoreTable.ItemNum
			left outer join PUC_MT PUC1 on II_MT.ItemClassification1 = PUC1.SmallClassificationCode
			left outer join PUC_MT PUC2 on II_MT.ItemClassification2 = PUC2.SmallClassificationCode
			left outer join PUC_MT PUC3 on II_MT.ItemClassification3 = PUC3.SmallClassificationCode
			left outer join PUC_MT PUC4 on II_MT.ItemClassification4 = PUC4.SmallClassificationCode		
			inner join PSI_MT on PS_MT.ItemNum = PSI_MT.ItemNum and PS_MT.ProcessCode = PSI_MT.ProcessCode
			Where PS_MT.RecodingState = 1 and II_MT.RecodingState = 1 
			and II_MT.ItemNum = @HiddenItem
			and (StockQuantity12 !=0 or (InStorehouseQuantity1 + InStorehouseQuantity2 + InStorehouseQuantity3 + InStorehouseQuantity4 + InStorehouseQuantity5 + InStorehouseQuantity6 + InStorehouseQuantity7 +  InStorehouseQuantity8 +  InStorehouseQuantity9 +  InStorehouseQuantity10 +  InStorehouseQuantity11 +  InStorehouseQuantity12 ) != 0 or  (OutStorehouseQuantity1 + OutStorehouseQuantity2 + OutStorehouseQuantity3 + OutStorehouseQuantity4 + OutStorehouseQuantity5 + OutStorehouseQuantity6 + OutStorehouseQuantity7 +  OutStorehouseQuantity8 +  OutStorehouseQuantity9 +  OutStorehouseQuantity10 +  OutStorehouseQuantity11 +  OutStorehouseQuantity12 ) != 0 ) 
--			and ( #TempStoreTable.OrderRate = (Select isnull(Max(U.OrderRate),0) From #TempStoreTable U Where U.ItemNum = #TempStoreTable.ItemNum) or #TempStoreTable.OrderRate is null ) 
--			and ( #TempStoreTable.StandardUnitCost = (Select isnull(Max(U.StandardUnitCost),0) From #TempStoreTable U Where U.ItemNum = #TempStoreTable.ItemNum) or #TempStoreTable.StandardUnitCost is null ) 
			and (#TempStoreTable.StandardUnitCost =(Select isnull(Max(U.StandardUnitCost),0) From #TempStoreTable U Where U.ItemNum = #TempStoreTable.ItemNum and U.OrderRate = (Select isnull(Max(UI.OrderRate),0) From #TempStoreTable UI where UI.ItemNum = U.ItemNum) ) or #TempStoreTable.StandardUnitCost is null ) 
			and [Year] = @Year order by II_MT.ItemDrawNum,ProcessName,
			PS_MT.ProcessSequenceNum, PS_MT.ProcessCode, LastYearTransferQuantity
	end
	else if(@StoreName = '외주창고')	-- 외주 창고
	begin
		if(@BusinessRegistrationNum = '')
		begin
			Insert into #TempStoreTable
				select ItemNum, UnitCostDistinction, BusinessRegistrationNum, BeginProcessCode, EndProcessCode, OrderRate, StandardUnitCost, DiscountUnitCost, BeginDate, EndDate, RegistrationPerson, RegistrationPersonID, RegistrationDate, UpdatingPerson, UpdatingPersonID, UpdatingDate, UnitCostInfoIndex
				From UCI_MT where RecodingState =1 and UnitCostDistinction ='구매단가'
				
				
				 SELECT distinct  II_MT.ItemDrawNum, II_MT.ItemName, II_MT.ItemNum,  PUC_MT.SmallClassificationName AS ProcessName, 
					#TempStoreTable.StandardUnitCost,
					PUC1.SmallClassificationName as ItemClassification1, 
					PUC2.SmallClassificationName as ItemClassification2,
					PUC3.SmallClassificationName as ItemClassification3,
					PUC4.SmallClassificationName as ItemClassification4,
					OS_MT.ProcessSequenceNum, OS_MT.ProcessCode, OS_MT.StockQuantity12, 
					( (OS_MT.StockQuantity12 * ProgressRate/100) * (II_MT.StandardUnitCost) ) as StockCost12, LastYearTransferQuantity,
					(InStorehouseQuantity1 + InStorehouseQuantity2 + InStorehouseQuantity3 + InStorehouseQuantity4 + InStorehouseQuantity5 + InStorehouseQuantity6 + InStorehouseQuantity7 +  InStorehouseQuantity8 +  InStorehouseQuantity9 +  InStorehouseQuantity10 +  InStorehouseQuantity11 +  InStorehouseQuantity12 ) as 'InStorehouseQuantity',
					(OutStorehouseQuantity1 + OutStorehouseQuantity2 + OutStorehouseQuantity3 + OutStorehouseQuantity4 + OutStorehouseQuantity5 + OutStorehouseQuantity6 + OutStorehouseQuantity7 +  OutStorehouseQuantity8 +  OutStorehouseQuantity9 +  OutStorehouseQuantity10 +  OutStorehouseQuantity11 +  OutStorehouseQuantity12 )  as 'OutStorehouseQuantity', 
					CI_MT.CompanyName, CI_MT.BusinessRegistrationNum 
					FROM OS_MT
					INNER JOIN II_MT ON  II_MT.ItemNum = OS_MT.ItemNum 
					INNER JOIN PUC_MT ON OS_MT.ProcessCode =  PUC_MT.SmallClassificationCode 
					left outer JOIN PSI_MT on OS_MT.ItemNum = PSI_MT.ItemNum and OS_MT.ProcessCode = PSI_MT.ProcessCode
					INNER JOIN CI_MT ON OS_MT.BusinessRegistrationNum = CI_MT.BusinessRegistrationNum
					Left outer join #TempStoreTable ON II_MT.ItemNum = #TempStoreTable.ItemNum
					left outer join PUC_MT PUC1 on II_MT.ItemClassification1 = PUC1.SmallClassificationCode
					left outer join PUC_MT PUC2 on II_MT.ItemClassification2 = PUC2.SmallClassificationCode
					left outer join PUC_MT PUC3 on II_MT.ItemClassification3 = PUC3.SmallClassificationCode
					left outer join PUC_MT PUC4 on II_MT.ItemClassification4 = PUC4.SmallClassificationCode		
					WHERE OS_MT.RecodingState = 1 and II_MT.RecodingState = 1 and CI_MT.RecodingState = 1
					and II_MT.ItemNum = @HiddenItem  and  CI_MT.BusinessRegistrationNum like '%'+ @BusinessRegistrationNum +'%'
					and (StockQuantity12 !=0 or (InStorehouseQuantity1 + InStorehouseQuantity2 + InStorehouseQuantity3 + InStorehouseQuantity4 + InStorehouseQuantity5 + InStorehouseQuantity6 + InStorehouseQuantity7 +  InStorehouseQuantity8 +  InStorehouseQuantity9 +  InStorehouseQuantity10 +  InStorehouseQuantity11 +  InStorehouseQuantity12 ) != 0 or  (OutStorehouseQuantity1 + OutStorehouseQuantity2 + OutStorehouseQuantity3 + OutStorehouseQuantity4 + OutStorehouseQuantity5 + OutStorehouseQuantity6 + OutStorehouseQuantity7 +  OutStorehouseQuantity8 +  OutStorehouseQuantity9 +  OutStorehouseQuantity10 +  OutStorehouseQuantity11 +  OutStorehouseQuantity12 ) != 0 )
		--			and ( #TempStoreTable.OrderRate = (Select isnull(Max(U.OrderRate),0) From #TempStoreTable U Where U.ItemNum = #TempStoreTable.ItemNum) or #TempStoreTable.OrderRate is null ) 
		--			and ( #TempStoreTable.StandardUnitCost = (Select isnull(Max(U.StandardUnitCost),0) From #TempStoreTable U Where U.ItemNum = #TempStoreTable.ItemNum) or #TempStoreTable.StandardUnitCost is null ) 
					and (#TempStoreTable.StandardUnitCost =(Select isnull(Max(U.StandardUnitCost),0) From #TempStoreTable U Where U.ItemNum = #TempStoreTable.ItemNum and U.OrderRate = (Select isnull(Max(UI.OrderRate),0) From #TempStoreTable UI where UI.ItemNum = U.ItemNum) ) or #TempStoreTable.StandardUnitCost is null ) 
					 and [Year] = @Year and OS_MT.RecodingState = 1 
					order by II_MT.ItemDrawNum,ProcessName,
					OS_MT.ProcessSequenceNum, OS_MT.ProcessCode, LastYearTransferQuantity
		end		
		else
		begin
				Insert into #TempStoreTable
				select ItemNum, UnitCostDistinction, BusinessRegistrationNum, BeginProcessCode, EndProcessCode, OrderRate, StandardUnitCost, DiscountUnitCost, BeginDate, EndDate, RegistrationPerson, RegistrationPersonID, RegistrationDate, UpdatingPerson, UpdatingPersonID, UpdatingDate, UnitCostInfoIndex
				From UCI_MT where RecodingState =1 and UnitCostDistinction ='구매단가'
				
				
				 SELECT distinct  II_MT.ItemDrawNum, II_MT.ItemName, II_MT.ItemNum,  PUC_MT.SmallClassificationName AS ProcessName, 
					#TempStoreTable.StandardUnitCost,
					PUC1.SmallClassificationName as ItemClassification1, 
					PUC2.SmallClassificationName as ItemClassification2,
					PUC3.SmallClassificationName as ItemClassification3,
					PUC4.SmallClassificationName as ItemClassification4,
					OS_MT.ProcessSequenceNum, OS_MT.ProcessCode, OS_MT.StockQuantity12, 
					( (OS_MT.StockQuantity12 * ProgressRate/100) * (II_MT.StandardUnitCost) ) as StockCost12, LastYearTransferQuantity,
					(InStorehouseQuantity1 + InStorehouseQuantity2 + InStorehouseQuantity3 + InStorehouseQuantity4 + InStorehouseQuantity5 + InStorehouseQuantity6 + InStorehouseQuantity7 +  InStorehouseQuantity8 +  InStorehouseQuantity9 +  InStorehouseQuantity10 +  InStorehouseQuantity11 +  InStorehouseQuantity12 ) as 'InStorehouseQuantity',
					(OutStorehouseQuantity1 + OutStorehouseQuantity2 + OutStorehouseQuantity3 + OutStorehouseQuantity4 + OutStorehouseQuantity5 + OutStorehouseQuantity6 + OutStorehouseQuantity7 +  OutStorehouseQuantity8 +  OutStorehouseQuantity9 +  OutStorehouseQuantity10 +  OutStorehouseQuantity11 +  OutStorehouseQuantity12 )  as 'OutStorehouseQuantity', 
					CI_MT.CompanyName, CI_MT.BusinessRegistrationNum 
					FROM OS_MT
					INNER JOIN II_MT ON  II_MT.ItemNum = OS_MT.ItemNum 
					INNER JOIN PUC_MT ON OS_MT.ProcessCode =  PUC_MT.SmallClassificationCode 
					left outer JOIN PSI_MT on OS_MT.ItemNum = PSI_MT.ItemNum and OS_MT.ProcessCode = PSI_MT.ProcessCode
					INNER JOIN CI_MT ON OS_MT.BusinessRegistrationNum = CI_MT.BusinessRegistrationNum
					Left outer join #TempStoreTable ON II_MT.ItemNum = #TempStoreTable.ItemNum
					left outer join PUC_MT PUC1 on II_MT.ItemClassification1 = PUC1.SmallClassificationCode
					left outer join PUC_MT PUC2 on II_MT.ItemClassification2 = PUC2.SmallClassificationCode
					left outer join PUC_MT PUC3 on II_MT.ItemClassification3 = PUC3.SmallClassificationCode
					left outer join PUC_MT PUC4 on II_MT.ItemClassification4 = PUC4.SmallClassificationCode		
					WHERE OS_MT.RecodingState = 1 and II_MT.RecodingState = 1 and CI_MT.RecodingState = 1
					and II_MT.ItemNum = @HiddenItem  and  CI_MT.BusinessRegistrationNum = @BusinessRegistrationNum
					and (StockQuantity12 !=0 or (InStorehouseQuantity1 + InStorehouseQuantity2 + InStorehouseQuantity3 + InStorehouseQuantity4 + InStorehouseQuantity5 + InStorehouseQuantity6 + InStorehouseQuantity7 +  InStorehouseQuantity8 +  InStorehouseQuantity9 +  InStorehouseQuantity10 +  InStorehouseQuantity11 +  InStorehouseQuantity12 ) != 0 or  (OutStorehouseQuantity1 + OutStorehouseQuantity2 + OutStorehouseQuantity3 + OutStorehouseQuantity4 + OutStorehouseQuantity5 + OutStorehouseQuantity6 + OutStorehouseQuantity7 +  OutStorehouseQuantity8 +  OutStorehouseQuantity9 +  OutStorehouseQuantity10 +  OutStorehouseQuantity11 +  OutStorehouseQuantity12 ) != 0 )
					and (#TempStoreTable.StandardUnitCost =(Select isnull(Max(U.StandardUnitCost),0) From #TempStoreTable U Where U.ItemNum = #TempStoreTable.ItemNum and U.OrderRate = (Select isnull(Max(UI.OrderRate),0) From #TempStoreTable UI where UI.ItemNum = U.ItemNum) ) or #TempStoreTable.StandardUnitCost is null ) 
					 and [Year] = @Year and OS_MT.RecodingState = 1 
					order by II_MT.ItemDrawNum,ProcessName,
					OS_MT.ProcessSequenceNum, OS_MT.ProcessCode, LastYearTransferQuantity
		end
		
	end
	else if(@StoreName = '원자재창고')	--원자재창고
	begin
		Insert into #TempStoreTable
		select ItemNum, UnitCostDistinction, BusinessRegistrationNum, BeginProcessCode, EndProcessCode, OrderRate, StandardUnitCost, DiscountUnitCost, BeginDate, EndDate, RegistrationPerson, RegistrationPersonID, RegistrationDate, UpdatingPerson, UpdatingPersonID, UpdatingDate, UnitCostInfoIndex
		From UCI_MT where RecodingState =1 and UnitCostDistinction ='구매단가'
		
		SELECT  Distinct II_MT.ItemDrawNum, II_MT.ItemName, II_MT.ItemNum,
		#TempStoreTable.StandardUnitCost,
		PUC1.SmallClassificationName as ItemClassification1, 
		PUC2.SmallClassificationName as ItemClassification2,
			PUC3.SmallClassificationName as ItemClassification3,
			PUC4.SmallClassificationName as ItemClassification4,
			'소재' AS ProcessName, 
			RMS_MT.ProcessSequenceNum, RMS_MT.ProcessCode, 
			RMS_MT.RowMetarialStorehouseIndex AS StorehouseIndex, LastYearTransferQuantity,
			(InStorehouseQuantity1 + InStorehouseQuantity2 + InStorehouseQuantity3 + InStorehouseQuantity4 + InStorehouseQuantity5 + InStorehouseQuantity6 + InStorehouseQuantity7 +  InStorehouseQuantity8 +  InStorehouseQuantity9 +  InStorehouseQuantity10 +  InStorehouseQuantity11 +  InStorehouseQuantity12 ) as 'InStorehouseQuantity',
			(OutStorehouseQuantity1 + OutStorehouseQuantity2 + OutStorehouseQuantity3 + OutStorehouseQuantity4 + OutStorehouseQuantity5 + OutStorehouseQuantity6 + OutStorehouseQuantity7 +  OutStorehouseQuantity8 +  OutStorehouseQuantity9 +  OutStorehouseQuantity10 +  OutStorehouseQuantity11 +  OutStorehouseQuantity12 )  as 'OutStorehouseQuantity', 
			RMS_MT.StockQuantity12,  isnull(((RMS_MT.StockQuantity12)*(#TempStoreTable.StandardUnitCost) ),0) as StockCost12 
			FROM II_MT 
		Left outer join #TempStoreTable ON II_MT.ItemNum = #TempStoreTable.ItemNum
		 INNER JOIN RMS_MT ON II_MT.ItemNum = RMS_MT.ItemNum
			left outer join PUC_MT PUC1 on II_MT.ItemClassification1 = PUC1.SmallClassificationCode
			left outer join PUC_MT PUC2 on II_MT.ItemClassification2 = PUC2.SmallClassificationCode
			left outer join PUC_MT PUC3 on II_MT.ItemClassification3 = PUC3.SmallClassificationCode
			left outer join PUC_MT PUC4 on II_MT.ItemClassification4 = PUC4.SmallClassificationCode		
			Where RMS_MT.RecodingState = 1 and II_MT.RecodingState = 1
			and II_MT.ItemNum = @HiddenItem
			and (StockQuantity12 !=0 or (InStorehouseQuantity1 + InStorehouseQuantity2 + InStorehouseQuantity3 + InStorehouseQuantity4 + InStorehouseQuantity5 + InStorehouseQuantity6 + InStorehouseQuantity7 +  InStorehouseQuantity8 +  InStorehouseQuantity9 +  InStorehouseQuantity10 +  InStorehouseQuantity11 +  InStorehouseQuantity12 ) != 0 or  (OutStorehouseQuantity1 + OutStorehouseQuantity2 + OutStorehouseQuantity3 + OutStorehouseQuantity4 + OutStorehouseQuantity5 + OutStorehouseQuantity6 + OutStorehouseQuantity7 +  OutStorehouseQuantity8 +  OutStorehouseQuantity9 +  OutStorehouseQuantity10 +  OutStorehouseQuantity11 +  OutStorehouseQuantity12 ) != 0 ) 
--			and ( #TempStoreTable.OrderRate = (Select isnull(Max(U.OrderRate),0) From #TempStoreTable U Where U.ItemNum = #TempStoreTable.ItemNum) or #TempStoreTable.OrderRate is null ) 
--			and ( #TempStoreTable.StandardUnitCost = (Select isnull(Max(U.StandardUnitCost),0) From #TempStoreTable U Where U.ItemNum = #TempStoreTable.ItemNum) or #TempStoreTable.StandardUnitCost is null ) 
			and (#TempStoreTable.StandardUnitCost =(Select isnull(Max(U.StandardUnitCost),0) From #TempStoreTable U Where U.ItemNum = #TempStoreTable.ItemNum and U.OrderRate = (Select isnull(Max(UI.OrderRate),0) From #TempStoreTable UI where UI.ItemNum = U.ItemNum) ) or #TempStoreTable.StandardUnitCost is null ) 
			and [Year] = @Year  order by  II_MT.ItemDrawNum,ProcessName,
			RMS_MT.ProcessSequenceNum, RMS_MT.ProcessCode, LastYearTransferQuantity
	end
	else if(@StoreName = '납품창고')	--납품
	begin
		Insert into #TempStoreTable
		select ItemNum, UnitCostDistinction, BusinessRegistrationNum, BeginProcessCode, EndProcessCode, OrderRate, StandardUnitCost, DiscountUnitCost, BeginDate, EndDate, RegistrationPerson, RegistrationPersonID, RegistrationDate, UpdatingPerson, UpdatingPersonID, UpdatingDate, UnitCostInfoIndex
		From UCI_MT where RecodingState =1 and UnitCostDistinction = '판매단가'
		
		SELECT distinct II_MT.ItemDrawNum, II_MT.ItemName, II_MT.ItemNum, 
			#TempStoreTable.StandardUnitCost,
			PUC1.SmallClassificationName as ItemClassification1, 
			PUC2.SmallClassificationName as ItemClassification2,
			PUC3.SmallClassificationName as ItemClassification3,
			PUC4.SmallClassificationName as ItemClassification4,
			PUC_MT.SmallClassificationName AS ProcessName, LastYearTransferQuantity,
			(InStorehouseQuantity1 + InStorehouseQuantity2 + InStorehouseQuantity3 + InStorehouseQuantity4 + InStorehouseQuantity5 + InStorehouseQuantity6 + InStorehouseQuantity7 +  InStorehouseQuantity8 +  InStorehouseQuantity9 +  InStorehouseQuantity10 +  InStorehouseQuantity11 +  InStorehouseQuantity12 ) as 'InStorehouseQuantity',
			(OutStorehouseQuantity1 + OutStorehouseQuantity2 + OutStorehouseQuantity3 + OutStorehouseQuantity4 + OutStorehouseQuantity5 + OutStorehouseQuantity6 + OutStorehouseQuantity7 +  OutStorehouseQuantity8 +  OutStorehouseQuantity9 +  OutStorehouseQuantity10 +  OutStorehouseQuantity11 +  OutStorehouseQuantity12 )  as 'OutStorehouseQuantity', 
			DS_MT.ProcessSequenceNum, DS_MT.ProcessCode, DS_MT.StockQuantity12, 
			((DS_MT.StockQuantity12)*(II_MT.StandardUnitCost)) as StockCost12, DS_MT.DeliveryStorehouseIndex AS StorehouseIndex 
			FROM      II_MT INNER JOIN 
			DS_MT ON II_MT.ItemNum = DS_MT.ItemNum INNER JOIN
			PUC_MT ON DS_MT.ProcessCode = PUC_MT.SmallClassificationCode 
			Left outer join #TempStoreTable ON II_MT.ItemNum = #TempStoreTable.ItemNum
			left outer join PUC_MT PUC1 on II_MT.ItemClassification1 = PUC1.SmallClassificationCode
			left outer join PUC_MT PUC2 on II_MT.ItemClassification2 = PUC2.SmallClassificationCode
			left outer join PUC_MT PUC3 on II_MT.ItemClassification3 = PUC3.SmallClassificationCode
			left outer join PUC_MT PUC4 on II_MT.ItemClassification4 = PUC4.SmallClassificationCode		
			Where  DS_MT.RecodingState = 1 and II_MT.RecodingState = 1 
			and II_MT.ItemNum = @HiddenItem
			and (StockQuantity12 !=0 or (InStorehouseQuantity1 + InStorehouseQuantity2 + InStorehouseQuantity3 + InStorehouseQuantity4 + InStorehouseQuantity5 + InStorehouseQuantity6 + InStorehouseQuantity7 +  InStorehouseQuantity8 +  InStorehouseQuantity9 +  InStorehouseQuantity10 +  InStorehouseQuantity11 +  InStorehouseQuantity12 ) != 0 or  (OutStorehouseQuantity1 + OutStorehouseQuantity2 + OutStorehouseQuantity3 + OutStorehouseQuantity4 + OutStorehouseQuantity5 + OutStorehouseQuantity6 + OutStorehouseQuantity7 +  OutStorehouseQuantity8 +  OutStorehouseQuantity9 +  OutStorehouseQuantity10 +  OutStorehouseQuantity11 +  OutStorehouseQuantity12 ) != 0 ) 
--			and ( #TempStoreTable.OrderRate = (Select isnull(Max(U.OrderRate),0) From #TempStoreTable U Where U.ItemNum = #TempStoreTable.ItemNum) or #TempStoreTable.OrderRate is null ) 
--			and ( #TempStoreTable.StandardUnitCost = (Select isnull(Max(U.StandardUnitCost),0) From #TempStoreTable U Where U.ItemNum = #TempStoreTable.ItemNum) or #TempStoreTable.StandardUnitCost is null ) 
			and (#TempStoreTable.StandardUnitCost =(Select isnull(Max(U.StandardUnitCost),0) From #TempStoreTable U Where U.ItemNum = #TempStoreTable.ItemNum and U.OrderRate = (Select isnull(Max(UI.OrderRate),0) From #TempStoreTable UI where UI.ItemNum = U.ItemNum) ) or #TempStoreTable.StandardUnitCost is null ) 
			and [Year] = @Year order by II_MT.ItemDrawNum,ProcessName,
			ProcessSequenceNum, ProcessCode, LastYearTransferQuantity
	end
	else				-- 보용품창고
	begin
		Insert into #TempStoreTable
		select ItemNum, UnitCostDistinction, BusinessRegistrationNum, BeginProcessCode, EndProcessCode, OrderRate, StandardUnitCost, DiscountUnitCost, BeginDate, EndDate, RegistrationPerson, RegistrationPersonID, RegistrationDate, UpdatingPerson, UpdatingPersonID, UpdatingDate, UnitCostInfoIndex
		From UCI_MT where RecodingState =1 and UnitCostDistinction ='판매단가'
		
		SELECT distinct II_MT.ItemDrawNum, II_MT.ItemName, II_MT.ItemNum, 
			#TempStoreTable.StandardUnitCost,
			PUC1.SmallClassificationName as ItemClassification1, 
			PUC2.SmallClassificationName as ItemClassification2,
			PUC3.SmallClassificationName as ItemClassification3,
			PUC4.SmallClassificationName as ItemClassification4,
			'99' as ProcessSequenceNum, '14009999' as ProcessCode, 
			'보용품' AS ProcessName,LastYearTransferQuantity,
			(InStorehouseQuantity1 + InStorehouseQuantity2 + InStorehouseQuantity3 + InStorehouseQuantity4 + InStorehouseQuantity5 + InStorehouseQuantity6 + InStorehouseQuantity7 +  InStorehouseQuantity8 +  InStorehouseQuantity9 +  InStorehouseQuantity10 +  InStorehouseQuantity11 +  InStorehouseQuantity12 ) as 'InStorehouseQuantity',
			(OutStorehouseQuantity1 + OutStorehouseQuantity2 + OutStorehouseQuantity3 + OutStorehouseQuantity4 + OutStorehouseQuantity5 + OutStorehouseQuantity6 + OutStorehouseQuantity7 +  OutStorehouseQuantity8 +  OutStorehouseQuantity9 +  OutStorehouseQuantity10 +  OutStorehouseQuantity11 +  OutStorehouseQuantity12 )  as 'OutStorehouseQuantity',  
			AS_MT.StockQuantity12,((AS_MT.StockQuantity12) * (II_MT.StandardUnitCost) ) as StockCost12
			FROM AS_MT INNER JOIN 
			II_MT ON AS_MT.ItemNum = II_MT.ItemNum
			Left outer join #TempStoreTable ON II_MT.ItemNum = #TempStoreTable.ItemNum
			left outer join PUC_MT PUC1 on II_MT.ItemClassification1 = PUC1.SmallClassificationCode
			left outer join PUC_MT PUC2 on II_MT.ItemClassification2 = PUC2.SmallClassificationCode
			left outer join PUC_MT PUC3 on II_MT.ItemClassification3 = PUC3.SmallClassificationCode
			left outer join PUC_MT PUC4 on II_MT.ItemClassification4 = PUC4.SmallClassificationCode	
			Where AS_MT.RecodingState = 1 and II_MT.RecodingState = 1 
			and II_MT.ItemNum = @HiddenItem
			and (StockQuantity12 !=0 or (InStorehouseQuantity1 + InStorehouseQuantity2 + InStorehouseQuantity3 + InStorehouseQuantity4 + InStorehouseQuantity5 + InStorehouseQuantity6 + InStorehouseQuantity7 +  InStorehouseQuantity8 +  InStorehouseQuantity9 +  InStorehouseQuantity10 +  InStorehouseQuantity11 +  InStorehouseQuantity12 ) != 0 or  (OutStorehouseQuantity1 + OutStorehouseQuantity2 + OutStorehouseQuantity3 + OutStorehouseQuantity4 + OutStorehouseQuantity5 + OutStorehouseQuantity6 + OutStorehouseQuantity7 +  OutStorehouseQuantity8 +  OutStorehouseQuantity9 +  OutStorehouseQuantity10 +  OutStorehouseQuantity11 +  OutStorehouseQuantity12 ) != 0 ) 
--			and ( #TempStoreTable.OrderRate = (Select isnull(Max(U.OrderRate),0) From #TempStoreTable U Where U.ItemNum = #TempStoreTable.ItemNum) or #TempStoreTable.OrderRate is null ) 
--			and ( #TempStoreTable.StandardUnitCost = (Select isnull(Max(U.StandardUnitCost),0) From #TempStoreTable U Where U.ItemNum = #TempStoreTable.ItemNum) or #TempStoreTable.StandardUnitCost is null ) 
			and (#TempStoreTable.StandardUnitCost =(Select isnull(Max(U.StandardUnitCost),0) From #TempStoreTable U Where U.ItemNum = #TempStoreTable.ItemNum and U.OrderRate = (Select isnull(Max(UI.OrderRate),0) From #TempStoreTable UI where UI.ItemNum = U.ItemNum) ) or #TempStoreTable.StandardUnitCost is null ) 
			and [Year] = @Year order by II_MT.ItemDrawNum,ProcessName,
			ProcessSequenceNum, ProcessCode, LastYearTransferQuantity
	end

end
GO
