USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[SPOrderByDelivery]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[SPOrderByDelivery] 

@ItemNum AS VARCHAR(150), 		--품목번호
@ItemDrawNum AS VARCHAR(150), 	--도면번호
@ItemName AS VARCHAR(150), 		--품목명
@hdItemNum AS VARCHAR(150), 		--품목명
@CompanyName AS VARCHAR(50), 	--거래처명
@BusinessRegistrationNum AS VARCHAR(30), 	--사업자번호
@Division as varchar(10),		--구분(구매,외주)
@FromDate AS smalldatetime, 		--발주일자(시작일)
@ToDate AS smalldatetime,		--발주일자(종료일)
@StartDate AS smalldatetime, 		--납기일자(시작일)
@EndDate AS smalldatetime		--납기일자(종료일)
AS



IF exists (Select 1 From tempdb..sysobjects where name like '#BO_BD_HT%')
		DROP TABLE #BO_BD_HT
	CREATE TABLE #BO_BD_HT
	(
		[Model] [nvarchar] (150) COLLATE Korean_Wansung_CI_AS NULL ,
		[ItemNum] [nvarchar] (150) COLLATE Korean_Wansung_CI_AS NULL ,
		[ItemDrawNum] [nvarchar] (150) COLLATE Korean_Wansung_CI_AS NULL ,
		[ItemName] [nvarchar] (150) COLLATE Korean_Wansung_CI_AS NULL ,
		[ProcessCode] [nvarchar] (50) COLLATE Korean_Wansung_CI_AS NULL ,
		[ProcessName] [nvarchar] (50) COLLATE Korean_Wansung_CI_AS NULL ,
		[CompanyName] [nvarchar] (50) COLLATE Korean_Wansung_CI_AS NULL ,
		[BusinessRegistrationNum] [nvarchar] (50) COLLATE Korean_Wansung_CI_AS NULL ,
		[OrderDate] [smalldatetime] NULL ,
		[OrderQuantity] [decimal](20, 2) NULL ,
		[OrderUnitCost] [decimal](20, 2) NULL ,
		[OrderTotalCost] [decimal](20, 2) NULL,
		[OrderPerson] [nvarchar] (50) COLLATE Korean_Wansung_CI_AS NULL ,
		[DeliveryRequestDate] [smalldatetime] NULL ,
		[DeliveryDate] [smalldatetime] NULL ,
		[DeliveryQuantity] [decimal](20, 2) NULL ,
		[DeliveryUnitCost] [decimal](20, 2) NULL ,
		[DeliveryTotalCost] [decimal](20, 2) NULL,
		[NowStockQuantity] [decimal](20, 2) NULL ,
		[QuantityDiffer] [decimal](20, 2) NULL ,
		[CostDiffer] [decimal](20, 2) NULL ,
		[Division] [nvarchar] (50) COLLATE Korean_Wansung_CI_AS NULL 

	)  
	
	if(@Division= '구매')
		begin
			Select VO.Model, VO.ItemNum, VO.ItemDrawNum, VO.ItemName, VO.EndProcessCode, VO.EndProcess, VO.CompanyName
					, VO.BusinessRegistrationNum, OrderDate, OrderQuantity, OrderUnitCost, OrderTotalCost, OrderPerson
					, VO.DeliveryRequestDate, VD.DeliveryDate, isnull(VD.DeliveryQuantity,0) as DeliveryQuantity
					, isnull(VD.DeliveryUnitCost,0) as DeliveryUnitCost, isnull(VD.DeliveryTotalCost,0) as DeliveryTotalCost
					, isnull(NowStockQuantity,0) as NowStockQuantity, isnull(OrderQuantity-DeliveryQuantity,0) as [QuantityDiffer]
					, isnull( OrderTotalCost - (DeliveryTotalCost) ,0  )as [CostDiffer], isnull(Division,'') as Division
					From ViewOrder as VO left outer join ViewDelivery as VD on VO.BuyingOrderHistoryIndex = HistoryIndex2
					where VO.ItemNum like '%'+@ItemNum+'%' and VO.ItemDrawNum like '%'+@ItemDrawNum+'%'
											and VO.ItemName like '%'+@ItemName+'%' and VO.BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
											and VO.CompanyName like '%'+@CompanyName+'%'
											and (OrderDate BETWEEN @FromDate and @ToDate) 
											and (DeliveryRequestDate BETWEEN @StartDate and @EndDate)
					Order by CompanyName, OrderDate desc,  DeliveryDate desc, DeliveryRequestDate desc, VO.ItemNum
		end
	else
		begin
		
			Select VO.Model, VO.ItemNum, VO.ItemDrawNum, VO.ItemName, VO.EndProcessCode, VO.EndProcess
				, VO.CompanyName, VO.BusinessRegistrationNum
				, VO.OrderDate, VO.OrderQuantity, VO.OrderUnitCost, VO.OrderTotalCost, VO.OrderPerson
				, VO.DeliveryRequestDate, VD.DeliveryDate, isnull(VD.DeliveryQuantity,0) as DeliveryQuantity
				, isnull(VD.DeliveryUnitCost,0) as DeliveryUnitCost, isnull(VD.DeliveryTotalCost,0) as DeliveryTotalCost
				, isnull(NowStockQuantity,0) as NowStockQuantity, isnull(OrderQuantity -DeliveryQuantity,0) as QuantityDiffer
				, isnull(OrderTotalCost -DeliveryTotalCost,0) as CostDiffer, isnull(Division,'') as Division
				From ViewOutOrder VO left outer join ViewOutDelivery VD on VO.OutSideOrderHistoryIndex = HistoryIndex2				
				where VO.ItemNum like '%'+@ItemNum+'%' and VO.ItemDrawNum like '%'+@ItemDrawNum+'%'
										and VO.ItemName like '%'+@ItemName+'%' and VO.BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
										and VO.CompanyName like '%'+@CompanyName+'%'
										and (OrderDate BETWEEN @FromDate and @ToDate) 
										and (DeliveryRequestDate BETWEEN @StartDate and @EndDate)
				Order by CompanyName, OrderDate desc,  DeliveryDate desc, DeliveryRequestDate desc, VO.ItemNum
		end
/*
	if(@Division = '구매')
		begin
			insert into #BO_BD_HT
				Select VO.Model, VO.ItemNum, VO.ItemDrawNum, VO.ItemName, VO.EndProcessCode, VO.EndProcess, VO.CompanyName
				, VO.BusinessRegistrationNum, OrderDate, OrderQuantity, OrderUnitCost, OrderTotalCost, OrderPerson
				, VO.DeliveryRequestDate, VD.DeliveryDate, isnull(VD.DeliveryQuantity,0) as DeliveryQuantity
				, isnull(VD.DeliveryUnitCost,0) as DeliveryUnitCost, isnull(VD.DeliveryTotalCost,0) as DeliveryTotalCost
				, isnull(NowStockQuantity,0) as NowStockQuantity, isnull(OrderQuantity-DeliveryQuantity,0) as [QuantityDiffer]
				, isnull( OrderTotalCost - (DeliveryTotalCost) ,0  )as [CostDiffer], isnull(Division,'') as Division
				From ViewOrder as VO left outer join ViewDelivery as VD on VO.BuyingOrderHistoryIndex = HistoryIndex2
				where VO.ItemNum like '%'+@ItemNum+'%' and VO.ItemDrawNum like '%'+@ItemDrawNum+'%'
										and VO.ItemName like '%'+@ItemName+'%' and VO.BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
										and VO.CompanyName like '%'+@CompanyName+'%'
										and (OrderDate BETWEEN @FromDate and @ToDate) 
										and (DeliveryRequestDate BETWEEN @StartDate and @EndDate)
		end
	else
		begin
			insert into #BO_BD_HT
				Select VO.Model, VO.ItemNum, VO.ItemDrawNum, VO.ItemName, VO.EndProcessCode, VO.EndProcess
				, VO.CompanyName, VO.BusinessRegistrationNum
				, VO.OrderDate, VO.OrderQuantity, VO.OrderUnitCost, VO.OrderTotalCost, VO.OrderPerson
				, VO.DeliveryRequestDate, VD.DeliveryDate, isnull(VD.DeliveryQuantity,0) as DeliveryQuantity
				, isnull(VD.DeliveryUnitCost,0) as DeliveryUnitCost, isnull(VD.DeliveryTotalCost,0) as DeliveryTotalCost
				, isnull(NowStockQuantity,0) as NowStockQuantity, isnull(OrderQuantity -DeliveryQuantity,0) as QuantityDiffer
				, isnull(OrderTotalCost -DeliveryTotalCost,0) as CostDiffer, isnull(Division,'') as Division
				From ViewOutOrder VO left outer join ViewOutDelivery VD on VO.OutSideOrderHistoryIndex = HistoryIndex2				
				where VO.ItemNum like '%'+@ItemNum+'%' and VO.ItemDrawNum like '%'+@ItemDrawNum+'%'
										and VO.ItemName like '%'+@ItemName+'%' and VO.BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
										and VO.CompanyName like '%'+@CompanyName+'%'
										and (OrderDate BETWEEN @FromDate and @ToDate) 
										and (DeliveryRequestDate BETWEEN @StartDate and @EndDate)
				Order by CompanyName, OrderDate desc,  DeliveryDate desc, DeliveryRequestDate desc, VO.ItemNum
			
		end	
		

		Select * From #BO_BD_HT

*/


/*


Declare @ItemNum AS VARCHAR(150)
Declare @ItemDrawNum AS VARCHAR(150)
Declare @ItemName AS VARCHAR(150)
Declare @hdItemNum AS VARCHAR(150)
Declare @CompanyName AS VARCHAR(50)
Declare @BusinessRegistrationNum AS VARCHAR(30)
Declare @StartDate AS smalldatetime
Declare @EndDate AS smalldatetime
Declare @FromDate AS smalldatetime 	
Declare @ToDate AS smalldatetime
Declare @Division AS varchar(10)

set @ItemNum ='T2546-38121-2'
set @ItemDrawNum =''
set @ItemName =''
set @CompanyName  =''
set @BusinessRegistrationNum  =''
set @StartDate ='2013-07-01'
set @EndDate  =''
Set @FromDate =''
Set @TODate =''
Set @Division = '구매'
if(@StartDate = '')
		Set @StartDate = '1999-01-01'
	if(@EndDate = '')
		Set @EndDate = '2050-12-31'

	if(@FromDate = '')
		Set @FromDate = '1999-01-01'
	if(@ToDate = '')
		Set @ToDate = '2050-12-31'

	set @hdItemNum = ''
*/

/*
				Select Model, ItemNum, ItemDrawNum, ItemName, EndProcessCode, EndProcess
				, CompanyName, BusinessRegistrationNum
				, OrderDate, OrderQuantity, OrderUnitCost, OrderTotalCost
				, OrderPerson, DeliveryRequestDate, DeliveryDate, DeliveryQuantity , DeliveryUnitCost
				, DeliveryTotalCost, NowStockQuantity, QuantityDiffer, CostDiffer, Division
				From 
				(
					Select PUC_MT.SmallClassificationName as Model,  QI_HT.ItemNum, QI_HT.ItemDrawNum, QI_HT.ItemName, 
						(Select  
								case PropertyClassification
									when '원자재' then '14000000'
									when '상품' then '14009999'
									else EndProcessName end as EndProcess
								From II_MT where II_MT.RecodingState = 1 and II_MT.ItemNum = QI_HT.ItemNum
							) as EndProcessCode,
							(Select  
							case PropertyClassification
								when '원자재' then '소재'
								when '상품' then '최종품'
								else PUC.SmallClassificationName end as EndProcess
							From II_MT where II_MT.RecodingState = 1 and II_MT.ItemNum = QI_HT.ItemNum
							) as EndProcess,
							BO_HT.CompanyName, BO_HT.BusinessRegistrationNum, BO_HT.RegistrationDate as OrderDate, BO_HT.OrderQuantity as OrderQuantity,
							BO_HT.ApplyUnitCost as OrderUnitCost, BO_HT.TotalCost as OrderTotalCost, BO_HT.RegistrationPerson as OrderPerson,
							BO_HT.FirstDeliveryDemandDate as DeliveryRequestDate,
							QI_HT.QualityInspectionCompleteDate as DeliveryDate, SuitabilityQuantity as DeliveryQuantity , QI_HT.ApplyUnitCost as DeliveryUnitCost, (QI_HT.SuitabilityQuantity * QI_HT.ApplyUnitCost) as DeliveryTotalCost, '0' as NowStockQuantity
							, (BO_HT.OrderQuantity - SuitabilityQuantity) as QuantityDiffer, (BO_HT.TotalCost - (QI_HT.SuitabilityQuantity * QI_HT.ApplyUnitCost)) as CostDiffer,  '' as Division From BO_HT
							left outer join QI_HT on BO_HT.BuyingOrderHistoryIndex = QI_HT.HistoryIndex2
							Inner join  II_MT on QI_HT.ItemNum = II_MT.ItemNum
							Inner join  PUC_MT on II_MT.ItemClassification2 = PUC_MT.SmallClassificationCode
							--Inner join BO_HT on QI_HT.HistoryIndex2 = BO_HT.BuyingOrderHistoryIndex
							 inner join PUC_MT PUC on EndProcessName = PUC.SmallClassificationCode
							where II_MT.RecodingState = 1 and II_MT.ItemNum = QI_HT.ItemNum
							and QI_HT.ProgressCondition != '대기' and QI_HT.HistorySection2 = '구매발주'
							
/*
							where  Recognition = '승인' and II_MT.RecodingState = 1 and II_MT.ItemNum = QI_HT.ItemNum
							and QI_HT.ProgressCondition != '대기' and QI_HT.HistorySection2 = '구매발주'
*/
						) T
						where ItemNum like '%'+@ItemNum+'%' and ItemDrawNum like '%'+@ItemDrawNum+'%'
						and ItemName like '%'+@ItemName+'%' and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
						and CompanyName like '%'+@CompanyName+'%'
						and (OrderDate BETWEEN @FromDate and @ToDate) 
						and (DeliveryRequestDate BETWEEN @StartDate and @EndDate)
						--and (DeliveryDate BETWEEN @FromDate and @ToDate) 
						
						Order by CompanyName, OrderDate desc,  DeliveryDate desc, DeliveryRequestDate desc, ItemNum
						--order by CompanyName, OrderDate desc, ItemName
		*/
GO
