USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[IncongruityPresentIndex_Search]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE                      proc [dbo].[IncongruityPresentIndex_Search] (@div varchar(2) )
as
begin
------------------------- 부적합 현상 지표 (IncongruityPresentIndex.aspx) ---------------------
	IF exists (Select 1 From tempdb..sysobjects where name like '#Index%')
		DROP TABLE #Index
		create table #Index 
		( 
			Div varchar(20)
		,	PreYear decimal(20,2)	default 0
		,	Total decimal(20,2)	default 0
		,	[1Month] decimal(20,2) 	default 0
		,	[2Month] decimal(20,2)	default 0
		,	[3Month] decimal(20,2)	default 0
		,	[4Month] decimal(20,2)	default 0
		,	[5Month] decimal(20,2)	default 0
		,	[6Month] decimal(20,2)	default 0
		,	[7Month] decimal(20,2)	default 0
		,	[8Month] decimal(20,2)	default 0
		,	[9Month] decimal(20,2)	default 0
		,	[10Month] decimal(20,2)	default 0
		,	[11Month] decimal(20,2)	default 0
		,	[12Month] decimal(20,2)	default 0
		)
	insert into  #Index (Div) values('합계')
declare @UnSuitabilityStatusMeaning varchar(30)
declare @Month varchar(2)
declare @UnSuitabilityQuantity decimal(20,2)
declare @SQL1 varchar(7000)	SET @SQL1 = ''
declare @SQL2 varchar(7000)	SET @SQL2 = ''
declare @SQL3 varchar(7000)	SET @SQL3 = ''
declare @SQL4 varchar(7000)	SET @SQL4 = ''
declare @i int SET @i = 0
	 if ( @div = '0' )	-- 전체
	begin
		
		-- 품질검사원장의 각 부적합 원인 사항을 #index 테이블에 추가
		insert into  #index (Div) --select distinct UnSuitabilityStatusMeaning from qi_ht where  progressCondition = '완료' 
		select UnSuitabilityStatusMeaning from qi_ht where ( qi_ht.progressCondition = '검사완료' or  qi_ht.progressCondition = '입고완료' )  
		and datepart(YY, getdate()) = datepart(YY, QualityInspectionCompleteDate)
		and UnSuitabilityCauseMeaning is not null and UnSuitabilityStatusMeaning <> '' group by UnSuitabilityStatusMeaning 
		union
		select distinct UnSuitabilityStatusMeaning 
		from wdr_ht 
		where UnSuitabilityStatusMeaning is not null 	and UnSuitabilityStatusMeaning <> ''  and  datepart(YY, getdate()) = datepart(YY, WorkEndTime)
		union
		select distinct ClaimStatusMeaning 
		from cl_ht 
		where ClaimStatusMeaning is not null 	and ClaimStatusMeaning <> ''  and  datepart(YY, getdate()) = datepart(YY, ReceiptDate)
		declare CUR INSENSITIVE cursor
		for
			-- 품질검사 원장
			select UnSuitabilityStatusMeaning 
			, datepart(mm, QualityInspectionCompleteDate) 
			, sum(UnSuitabilityQuantity) 
--			, datepart(YY,updatingdate) as 년 
			from qi_ht
			where ( qi_ht.progressCondition = '검사완료' or  qi_ht.progressCondition = '입고완료' ) 
			and UnSuitabilityCauseMeaning is not null and UnSuitabilityStatusMeaning <> ''
			and datepart(YY, getdate()) = datepart(YY, QualityInspectionCompleteDate)
			group by UnSuitabilityStatusMeaning 
			,   datepart(mm, QualityInspectionCompleteDate)
			,   datepart(YY, QualityInspectionCompleteDate)
			
			union all
			
			-- 작업일보 원장
			select  
			  UnSuitabilityStatusMeaning  
			, datepart(mm, WorkEndTime)  as 월 
			, sum(UnSuitabilityQuantity) 
--			, case when  updatingdate is null then datepart(YY, RegistrationDate)  else datepart(YY,updatingdate) end as 년 
			from wdr_ht
			where UnSuitabilityStatusMeaning is not null and UnSuitabilityStatusMeaning <> ''
			and datepart(YY, getdate()) =  datepart(YY, WorkEndTime)
			group by UnSuitabilityStatusMeaning
			,  datepart(mm, WorkEndTime)  
			,  datepart(YY, WorkEndTime) 
			union all
			-- 클레임 원장
			select  
			  ClaimStatusMeaning  
			, datepart(mm, ReceiptDate)  as 월 
			, sum(ClaimQuantity) 
--			, case when  updatingdate is null then datepart(YY, RegistrationDate)  else datepart(YY,updatingdate) end as 년
			from cl_ht
			where ClaimStatusMeaning is not null 	and ClaimStatusMeaning <> ''
			and datePart(YY, getDate()) =  datepart(YY, ReceiptDate) 
			group by ClaimStatusMeaning 
			,  datepart(mm, ReceiptDate) 
			,  datepart(YY, ReceiptDate) 
			union all
			--불량변상
			select  
			  ClaimStatusMeaning  
			, datepart(mm, ReceiptDate)  as 월 
			, sum(ClaimQuantity) 
--			, case when  updatingdate is null then datepart(YY, RegistrationDate)  else datepart(YY,updatingdate) end as 년
			from pcl_ht
			where ClaimStatusMeaning is not null 	and ClaimStatusMeaning <> ''
			and datePart(YY, getDate()) =  datepart(YY, ReceiptDate) 
			group by ClaimStatusMeaning 
			,  datepart(mm, ReceiptDate) 
			,  datepart(YY, ReceiptDate) 
		for read only
		open	CUR
			IF( @@CURSOR_ROWS <> 0 )
			BEGIN
				WHILE ( @i < @@CURSOR_ROWS)
				BEGIN
						fetch from CUR into 	@UnSuitabilityStatusMeaning , @Month , @UnSuitabilityQuantity
						
						IF	( @@FETCH_STATUS = 0 )		-- 정상적으로 읽었으면
						BEGIN
							-- 각 월 컬럼에 값을 기록
							SET @SQL1 = @SQL1 + ' Update #index set ['+@Month+'Month] = ['+@Month+'Month] + ' + cast(@UnSuitabilityQuantity as varchar(20)) + ' where DIV = ''' + @UnSuitabilityStatusMeaning + ''''
							-- 합계 행의 월 컬럼을 += 으로 기록
							SET @SQL1 = @SQL1 + ' Update #index set ['+@Month+'Month] = ['+@Month+'Month] + ' + cast(@UnSuitabilityQuantity as varchar(20)) + ' where DIV = ''합계'''
							-- Total 컬럼을 += 으로 기록
							SET @SQL1 = @SQL1 + ' Update #index set Total = Total + ' + cast(@UnSuitabilityQuantity as varchar(20)) + ' where DIV = ''' + @UnSuitabilityStatusMeaning + ''''
							-- 합계행의 Total 컬럼값을 기록
							SET @SQL1 = @SQL1 +' Update #index set Total = (select sum(total) from #index where Div <> ''합계'') where Div = ''합계'''
						END 	-- IF
						exec (@SQL1)
						SET @SQL1 =''
				set @i = @i +1
				END  -- While ( @i < @@CURSOR_ROWS)
			END	 -- IF( @@CURSOR_ROWS <> 0 )
		CLOSE CUR
		DEALLOCATE CUR
	end
	else if ( @div = '1' )	-- 납품 / 클레임
	begin
		insert into  #index (Div)
			select distinct ClaimStatusMeaning 
			from cl_ht 
			where ClaimStatusMeaning is not null 	and ClaimStatusMeaning <> ''   and  datepart(YY, getdate()) = datepart(YY, ReceiptDate)
		declare CUR INSENSITIVE cursor
		for
			select  
			  ClaimStatusMeaning  
			, datepart(mm, ReceiptDate)   as 월 
			, sum(ClaimQuantity) 
--			, case when  updatingdate is null then datepart(YY, RegistrationDate)  else datepart(YY,updatingdate) end as 년
			from cl_ht
			where ClaimStatusMeaning is not null 	and ClaimStatusMeaning <> ''
			and datePart(YY, getDate()) = datepart(YY, ReceiptDate)  
			group by ClaimStatusMeaning 
			,  datepart(mm, ReceiptDate) 
			,  datepart(YY, ReceiptDate) 
		for read only
		open	CUR
			IF( @@CURSOR_ROWS <> 0 )
			BEGIN
				WHILE ( @i < @@CURSOR_ROWS)
				BEGIN
						fetch from CUR into 	@UnSuitabilityStatusMeaning , @Month , @UnSuitabilityQuantity
						
						IF	( @@FETCH_STATUS = 0 )		-- 정상적으로 읽었으면
						BEGIN
							-- 각 월 컬럼에 값을 기록
							SET @SQL1 = @SQL1 + ' Update #index set ['+@Month+'Month] = ' + cast(@UnSuitabilityQuantity as varchar(20)) + ' where DIV = ''' + @UnSuitabilityStatusMeaning + ''''
							-- 합계 행의 월 컬럼을 += 으로 기록
							SET @SQL1 = @SQL1 + ' Update #index set ['+@Month+'Month] = ['+@Month+'Month] + ' + cast(@UnSuitabilityQuantity as varchar(20)) + ' where DIV = ''합계'''
							-- Total 컬럼을 += 으로 기록
							SET @SQL1 = @SQL1 + ' Update #index set Total = Total + ' + cast(@UnSuitabilityQuantity as varchar(20)) + ' where DIV = ''' + @UnSuitabilityStatusMeaning + ''''
							-- 합계행의 Total 컬럼값을 기록
							SET @SQL1 = @SQL1 +' Update #index set Total = (select sum(total) from #index where Div <> ''합계'') where Div = ''합계'''
						END 	-- IF						
						exec (@SQL1)
						SET @SQL1 =''
				set @i = @i +1
				END  -- While ( @i < @@CURSOR_ROWS)
			END	 -- IF( @@CURSOR_ROWS <> 0 )
		CLOSE CUR
		DEALLOCATE CUR
	
	end
	else if ( @div = '2' )	-- 사내 부적합
	begin
			
		insert into  #index (Div)
			select distinct UnSuitabilityStatusMeaning 
			from wdr_ht 
			where UnSuitabilityStatusMeaning is not null 	and UnSuitabilityStatusMeaning <> ''
			and datepart(YY, getdate()) = datepart(YY, WorkEndTime)
		declare CUR INSENSITIVE cursor
		for
			select  
			  UnSuitabilityStatusMeaning  
			, datepart(mm, WorkEndTime)  as 월 
			, sum(UnSuitabilityQuantity) 
--			, case when  updatingdate is null then datepart(YY, RegistrationDate)  else datepart(YY,updatingdate) end as 년
			from wdr_ht
			where UnSuitabilityStatusMeaning is not null 	and UnSuitabilityStatusMeaning <> ''
			   and datepart(YY, getdate()) = datepart(YY, WorkEndTime)
			group by UnSuitabilityStatusMeaning 
			,  datepart(mm, WorkEndTime) 
			,  datepart(YY, WorkEndTime) 
		for read only
		open	CUR
			IF( @@CURSOR_ROWS <> 0 )
			BEGIN
				WHILE ( @i < @@CURSOR_ROWS)
				BEGIN
						fetch from CUR into 	@UnSuitabilityStatusMeaning , @Month , @UnSuitabilityQuantity
						
						IF	( @@FETCH_STATUS = 0 )		-- 정상적으로 읽었으면
						BEGIN
							-- 각 월 컬럼에 값을 기록
							SET @SQL1 = @SQL1 + ' Update #index set ['+@Month+'Month] = ' + cast(@UnSuitabilityQuantity as varchar(20)) + ' where DIV = ''' + @UnSuitabilityStatusMeaning + ''''
							-- 합계 행의 월 컬럼을 += 으로 기록
							SET @SQL1 = @SQL1 + ' Update #index set ['+@Month+'Month] = ['+@Month+'Month] + ' + cast(@UnSuitabilityQuantity as varchar(20)) + ' where DIV = ''합계'''
							-- Total 컬럼을 += 으로 기록
							SET @SQL1 = @SQL1 + ' Update #index set Total = Total + ' + cast(@UnSuitabilityQuantity as varchar(20)) + ' where DIV = ''' + @UnSuitabilityStatusMeaning + ''''
							-- 합계행의 Total 컬럼값을 기록
							SET @SQL1 = @SQL1 +' Update #index set Total = (select sum(total) from #index where Div <> ''합계'') where Div = ''합계'''
						END 	-- IF
						exec (@SQL1)
						SET @SQL1 =''
				set @i = @i +1
				END  -- While ( @i < @@CURSOR_ROWS)
			END	 -- IF( @@CURSOR_ROWS <> 0 )
		CLOSE CUR
		DEALLOCATE CUR
	end
	else if ( @div = '3' )	-- 구매 부적합
	begin
		insert into  #index (Div) 
			select distinct UnSuitabilityStatusMeaning from qi_ht 
			where  ( qi_ht.progressCondition = '검사완료' or  qi_ht.progressCondition = '입고완료' ) 
			and HistorySection1 = '구매납품' 
			and UnSuitabilityCauseMeaning is not null and UnSuitabilityStatusMeaning <> ''    and datepart(YY, getdate()) = datepart(YY, QualityInspectionCompleteDate)
			union
			select distinct ClaimStatusMeaning 
			from pcl_ht 
			where ClaimStatusMeaning is not null 	and ClaimStatusMeaning <> ''  and  datepart(YY, getdate()) = datepart(YY, ReceiptDate)
		declare CUR INSENSITIVE cursor
		for
			select UnSuitabilityStatusMeaning 
			, datepart(mm, QualityInspectionCompleteDate) 
			, sum(UnSuitabilityQuantity)
--			, datepart(YY, RegistrationDate) 
			from qi_ht
			where ( qi_ht.progressCondition = '검사완료' or  qi_ht.progressCondition = '입고완료' ) and HistorySection1 = '구매납품' 
			and UnSuitabilityCauseMeaning is not null and UnSuitabilityStatusMeaning <> ''
			and datePart(YY, getDate()) = datepart(YY, QualityInspectionCompleteDate) 
			group by UnSuitabilityStatusMeaning 
			, datepart(mm,QualityInspectionCompleteDate)
			, datepart(YY,QualityInspectionCompleteDate)
			union all
			--불량변상
			select  
			  ClaimStatusMeaning  
			, datepart(mm, ReceiptDate)  as 월 
			, sum(ClaimQuantity) 
--			, case when  updatingdate is null then datepart(YY, RegistrationDate)  else datepart(YY,updatingdate) end as 년
			from pcl_ht
			where ClaimStatusMeaning is not null 	and ClaimStatusMeaning <> ''
			and datePart(YY, getDate()) =  datepart(YY, ReceiptDate) 
			group by ClaimStatusMeaning 
			,  datepart(mm, ReceiptDate) 
			,  datepart(YY, ReceiptDate) 
		for read only
		open	CUR
			IF( @@CURSOR_ROWS <> 0 )
			BEGIN
				WHILE ( @i < @@CURSOR_ROWS)
				BEGIN
						fetch from CUR into 	@UnSuitabilityStatusMeaning , @Month , @UnSuitabilityQuantity
						
						IF	( @@FETCH_STATUS = 0 )		-- 정상적으로 읽었으면
						BEGIN
							-- 각 월 컬럼에 값을 기록
							SET @SQL1 = @SQL1 + ' Update #index set ['+@Month+'Month] = ' + cast(@UnSuitabilityQuantity as varchar(20)) + ' where DIV = ''' + @UnSuitabilityStatusMeaning + ''''
							-- 합계 행의 월 컬럼을 += 으로 기록
							SET @SQL1 = @SQL1 + ' Update #index set ['+@Month+'Month] = ['+@Month+'Month] + ' + cast(@UnSuitabilityQuantity as varchar(20)) + ' where DIV = ''합계'''
							-- Total 컬럼을 += 으로 기록
							SET @SQL1 = @SQL1 + ' Update #index set Total = Total + ' + cast(@UnSuitabilityQuantity as varchar(20)) + ' where DIV = ''' + @UnSuitabilityStatusMeaning + ''''
							-- 합계행의 Total 컬럼값을 기록
							SET @SQL1 = @SQL1 +' Update #index set Total = (select sum(total) from #index where Div <> ''합계'') where Div = ''합계'''
						END 	-- IF
						exec (@SQL1)
						SET @SQL1 =''
				set @i = @i +1
				END  -- While ( @i < @@CURSOR_ROWS)
			END	 -- IF( @@CURSOR_ROWS <> 0 )
		CLOSE CUR
		DEALLOCATE CUR
	end
	else if ( @div = '4' )	-- 외주 부적합
	begin
		insert into  #index (Div) 
			select distinct UnSuitabilityStatusMeaning from qi_ht 
			where  ( qi_ht.progressCondition = '검사완료' or  qi_ht.progressCondition = '입고완료' ) and HistorySection1 = '외주납품'
			 and UnSuitabilityCauseMeaning is not null and UnSuitabilityStatusMeaning <> ''
			and datepart(YY, getdate()) = datepart(YY, QualityInspectionCompleteDate)
		declare CUR INSENSITIVE cursor
		for
			select UnSuitabilityStatusMeaning 
			, datepart(mm, QualityInspectionCompleteDate) as 월 
			, sum(UnSuitabilityQuantity) 
			from qi_ht 
			where ( qi_ht.progressCondition = '검사완료' or  qi_ht.progressCondition = '입고완료' ) and HistorySection1 = '외주납품' 
			and UnSuitabilityCauseMeaning is not null and UnSuitabilityStatusMeaning <> ''
			and datePart(YY, getDate()) = datepart(YY, QualityInspectionCompleteDate) 
			group by UnSuitabilityStatusMeaning 
			,  datepart(mm, QualityInspectionCompleteDate) 
			,  datepart(YY, QualityInspectionCompleteDate) 
		for read only
		open	CUR
			IF( @@CURSOR_ROWS <> 0 )
			BEGIN
				WHILE ( @i < @@CURSOR_ROWS)
				BEGIN
						fetch from CUR into 	@UnSuitabilityStatusMeaning , @Month , @UnSuitabilityQuantity
						
						IF	( @@FETCH_STATUS = 0 )		-- 정상적으로 읽었으면
						BEGIN
							-- 각 월 컬럼에 값을 기록
							SET @SQL1 = ' Update #index set ['+@Month+'Month] = ' + cast(@UnSuitabilityQuantity as varchar(20)) + ' where DIV = ''' + @UnSuitabilityStatusMeaning + ''''
							-- 합계 행의 월 컬럼을 += 으로 기록
							SET @SQL1 = @SQL1 + ' Update #index set ['+@Month+'Month] = ['+@Month+'Month] + ' + cast(@UnSuitabilityQuantity as varchar(20)) + ' where DIV = ''합계'''
							-- Total 컬럼을 += 으로 기록
							SET @SQL1 = @SQL1 + ' Update #index set Total = Total + ' + cast(@UnSuitabilityQuantity as varchar(20)) + ' where DIV = ''' + @UnSuitabilityStatusMeaning + ''''
							-- 합계행의 Total 컬럼값을 기록
							SET @SQL1 = @SQL1 +' Update #index set Total = (select sum(total) from #index where Div <> ''합계'') where Div = ''합계'''
						END 	-- IF
						exec (@SQL1)
						SET @SQL1 =''
				set @i = @i +1
				END  -- While ( @i < @@CURSOR_ROWS)
			END	 -- IF( @@CURSOR_ROWS <> 0 )
		CLOSE CUR
		DEALLOCATE CUR
	end -- 외주 부적합 끝
		
		select Div as 구분, PreYear as 전년도, Total as 누계
		, [1Month] as [1월]
		, [2Month] as [2월]   
		, [3Month] as [3월]   
		, [4Month] as [4월]   
		, [5Month] as [5월]   
		, [6Month] as [6월]   
		, [7Month] as [7월]   
		, [8Month] as [8월]   
		, [9Month] as [9월]   
		, [10Month] as [10월]   
		, [11Month] as [11월]   
		, [12Month] as [12월]   
		from #index
end
GO
