USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[SPSampleTest]    Script Date: 07/02/2026 08:48:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SPSampleTest]
AS
BEGIN
	
	Declare @Year	int
	Set @Year = (datepart(year,getutcdate()))
	
	INSERT Test1Sample 

	SELECT ItemNum, ItemName, 0, (@Year+1)
	FROM Test1Sample WHERE [Year] = @Year 


			DECLARE curTest CURSOR 
			FOR

			Select ItemNum, Quantity  From Test1Sample where [Year] = @Year and Quantity <>0 
			
			
			--커서 오픈
			OPEN curTest
			
			--변수 선언
			
			DECLARE @ItemNum varchar(150)
			DECLARE @Quantity decimal(20,2)
			--첫 로우 FETCH
			FETCH NEXT FROM curTest INTO @ItemNum, @Quantity
			WHILE @@FETCH_STATUS = 0
			BEGIN
			--FETCH된 데이터를 tempdb에 삽입
			Update Test1Sample Set Quantity = @Quantity
			where ItemNum = @ItemNum and [Year] = (@Year+1)
			
			--다음 로우 FEETCH - 루프
			FETCH NEXT FROM curTest INTO @ItemNum, @Quantity
			END
			--커서 CLOSE
			CLOSE curTest
			
			--커서 DEALLOCATE
			DEALLOCATE curTest
	
	
	/*
	CREATE TABLE Test1Sample (
		seq			int				IDENTITY(1,1)	PRIMARY KEY
		,ItemNum	varchar(255)	not null
		,ItemName	varchar(255)	not null
		,Quantity	decimal(20,2)	default 0
		,[Year]		int				default (datepart(year,getutcdate()))
	)
	
	Insert into Test1Sample values('IDC-001','IDC-001',10,2017);
	Insert into Test1Sample values('IDC-002','IDC-002',20,2017);
	Insert into Test1Sample values('IDC-003','IDC-003',30,2017);
	Insert into Test1Sample values('IDC-004','IDC-004',0,2017);
	Insert into Test1Sample values('IDC-005','IDC-005',0,2017);
	Select * From Test1Sample;
	
	*/
	
	
END
GO
