USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[CompanyNameSearch_Popup]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE           proc [dbo].[CompanyNameSearch_Popup]
(
	  @Tag varchar(20)
	, @Value varchar(50)	
	, @UnitCostDistinction varchar(50) 
	, @ItemNum varchar(50)
)
as
begin
/*
	declare @Tag varchar(20)
	declare @Value varchar(50)	
	declare @UnitCostDistinction varchar(50) 
	declare @ItemNum varchar(50)
	set @Tag = 'CompanyName'
	set @Value = ''
	set @UnitCostDistinction = '구매단가'
	set @ItemNum = '00123-50828'
*/
	
	declare @SQL varchar(3000)
	if(@ItemNum = '')
	begin
		if(@UnitCostDistinction = '')
		begin
			set @SQL = '
			select CI_MT.CompanyName
			, CI_MT.BusinessRegistrationNum
			, CI_MT.PresidentName
			from CI_MT
			where (CI_MT.RecodingState = 1) and 
			CI_MT.' + @Tag + ' like ''%' + @Value + '%''
			order by CI_MT.CompanyName
			'
		end
		if(@UnitCostDistinction = '판매단가')
		begin
			set @SQL = '
			select distinct CI_MT.CompanyName
			, CI_MT.BusinessRegistrationNum
			, CI_MT.PresidentName
			from CI_MT inner join UCI_MT on CI_MT.BusinessRegistrationNum = UCI_MT.BusinessRegistrationNum
			where (CI_MT.RecodingState = 1 and UCI_MT.RecodingState = 1) and 
			UCI_MT.UnitCostDistinction = ''판매단가'' and 
			CI_MT.' + @Tag + ' like ''%' + @Value + '%''
			order by CI_MT.CompanyName
			'
		end
		else if(@UnitCostDistinction = '구매단가')
		begin
			set @SQL = '
			select distinct CI_MT.CompanyName
			, CI_MT.BusinessRegistrationNum
			, CI_MT.PresidentName
			from CI_MT inner join UCI_MT on CI_MT.BusinessRegistrationNum = UCI_MT.BusinessRegistrationNum
			where (CI_MT.RecodingState = 1 and UCI_MT.RecodingState = 1) and 
			UCI_MT.UnitCostDistinction = ''구매단가'' and 
			CI_MT.' + @Tag + ' like ''%' + @Value + '%''
			order by CI_MT.CompanyName
			'
		end
		else if(@UnitCostDistinction = '구매/외주')
		begin
			set @SQL = '
			select distinct CI_MT.CompanyName
			, CI_MT.BusinessRegistrationNum
			, CI_MT.PresidentName
			from CI_MT inner join UCI_MT on CI_MT.BusinessRegistrationNum = UCI_MT.BusinessRegistrationNum
			where (CI_MT.RecodingState = 1 and UCI_MT.RecodingState = 1) and 
			(UCI_MT.UnitCostDistinction = ''외주단가'' or
			UCI_MT.UnitCostDistinction = ''구매단가'') and 
			CI_MT.' + @Tag + ' like ''%' + @Value + '%''
			order by CI_MT.CompanyName
			'
		end
		else if(@UnitCostDistinction = '구매외주')
		begin
			set @SQL = '
			select CI_MT.CompanyName
			, CI_MT.BusinessRegistrationNum
			, CI_MT.PresidentName
			from CI_MT
			where (CI_MT.RecodingState = 1) and 
			(ReceiveingOrderCompany = 1 or
			OutSideOrderCompany = 1 or
			BuyingCompany = 1) and
			CI_MT.' + @Tag + ' like ''%' + @Value + '%''
			order by CI_MT.CompanyName
			'
		end
		else if(@UnitCostDistinction = '수주거래처')
		begin
			set @SQL = '
			select CI_MT.CompanyName
			, CI_MT.BusinessRegistrationNum
			, CI_MT.PresidentName
			from CI_MT
			where (CI_MT.RecodingState = 1) and 
			ReceiveingOrderCompany = 1 and
			CI_MT.' + @Tag + ' like ''%' + @Value + '%''
			order by CI_MT.CompanyName
			'
		end
		else if(@UnitCostDistinction = '구매거래처')
		begin
			set @SQL = '
			select CI_MT.CompanyName
			, CI_MT.BusinessRegistrationNum
			, CI_MT.PresidentName
			from CI_MT
			where (CI_MT.RecodingState = 1) and 
			BuyingCompany = 1 and
			CI_MT.' + @Tag + ' like ''%' + @Value + '%''
			order by CI_MT.CompanyName
			'
		end
		else if(@UnitCostDistinction = '외주거래처')
		begin
			set @SQL = '
			select distinct CI_MT.CompanyName
			, CI_MT.BusinessRegistrationNum
			, CI_MT.PresidentName
			from CI_MT inner join UCI_MT on CI_MT.BusinessRegistrationNum = UCI_MT.BusinessRegistrationNum
			where (CI_MT.RecodingState = 1 and UCI_MT.RecodingState = 1) and 
			UCI_MT.UnitCostDistinction = ''외주단가'' and 
			CI_MT.' + @Tag + ' like ''%' + @Value + '%''
			order by CI_MT.CompanyName
			'
		end
		exec ( @SQL )
		
	end
	else
	begin
		 if(@UnitCostDistinction = '외주거래처')
		begin
			set @SQL = '
				select distinct CI_MT.CompanyName
				, CI_MT.BusinessRegistrationNum
				, CI_MT.PresidentName
				from CI_MT inner join UCI_MT on CI_MT.BusinessRegistrationNum = UCI_MT.BusinessRegistrationNum
				where (CI_MT.RecodingState = 1 and UCI_MT.RecodingState = 1) and ItemNum like ''%'+@ItemNum+'%'' and 
				UCI_MT.UnitCostDistinction = ''외주단가'' and 
				CI_MT.' + @Tag + ' like ''%' + @Value + '%''
				order by CI_MT.CompanyName
				'
		end
		else if(@UnitCostDistinction = '수주거래처')
		begin
			set @SQL = '
			select distinct CI_MT.CompanyName
			, CI_MT.BusinessRegistrationNum
			, CI_MT.PresidentName
			from CI_MT inner join UCI_MT on CI_MT.BusinessRegistrationNum = UCI_MT.BusinessRegistrationNum
			where (CI_MT.RecodingState = 1 and UCI_MT.RecodingState = 1) and 
			UCI_MT.UnitCostDistinction = ''판매단가'' and 
			CI_MT.' + @Tag + ' like ''%' + @Value + '%''
			order by CI_MT.CompanyName
			'
		end
		else
		begin
			set @SQL = '
				select distinct CI_MT.CompanyName
				, CI_MT.BusinessRegistrationNum
				, CI_MT.PresidentName
				from CI_MT inner join UCI_MT on CI_MT.BusinessRegistrationNum = UCI_MT.BusinessRegistrationNum
				where (CI_MT.RecodingState = 1 and UCI_MT.RecodingState = 1) and ItemNum like ''%'+@ItemNum+'%'' and 
				UCI_MT.UnitCostDistinction = ''구매단가'' and 
				CI_MT.' + @Tag + ' like ''%' + @Value + '%''
				order by CI_MT.CompanyName
				'
		end
		exec ( @SQL )
	end
end
GO
