USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[BuyingAddWebComboItem]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE        proc [dbo].[BuyingAddWebComboItem]
(
	@ComNum varchar(50)
)
as
	select UCI_MT.ItemNum as [품목번호], II_MT.ItemDrawNum as [도면번호],II_MT.ItemName as [품목명]
	from UCI_MT inner join II_MT
	on UCI_MT.ItemNum = ii_mt.ItemNum
	where II_MT.RecodingState=1 and  UCI_MT.BusinessRegistrationNum = @ComNum and (II_MT.PropertyClassification = '원자재' or II_MT.PropertyClassification = '상품')
	order by II_MT.ItemName
GO
