USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[EtcBuyingDelivery_Regist]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE                           proc [dbo].[EtcBuyingDelivery_Regist]
(
	@itemNum varchar(50)
	, @CompanyName varchar(50)
	, @BusinessRegNum varchar(20)
	, @OrderQuantity decimal(20, 3)
	, @ApplyUnitCost decimal(20, 3)
	, @DeliveryQuantity decimal(20, 3)
	, @TotalCost decimal(20, 3)
	, @ReasonCode varchar(20)
	, @ReasonName varchar(50)
	, @RemainQuantity  decimal(20, 3)
	, @DeliveryDemandDate smalldatetime
	, @RegistrationPersonID varchar(50)
	, @RegistrationDate smalldatetime
	, @DeliveryYear int
	, @DeliveryMon int
	, @EtcBuyingOrderHistoryIndex int

)
as
begin
	declare @month smallint
	declare @Year int
	declare @SQL varchar(8000)
	declare @RegistrationPerson varchar(50)
	set 	@RegistrationPerson = (select Name from ui_mt where id = @RegistrationPersonID and RecodingState = 1)
	-- 납품원장 등록
	insert into EtcBD_HT( 
				ItemName
				, CompanyName
				, BusinessRegistrationNum
				, OrderQuantity
				, DeliveryQuantity
				, ApplyUnitCost
				, TotalCost
				, ReasonCode
				, ReasonName
				, DeliveryDemandDate
				, RegistrationDate
				, RegistrationPerson
				, RegistrationPersonID  
				, EtcBuyingOrderHistoryIndex
				, [Year]
				, [Month]
				)
	values (
		@itemNum
		, @CompanyName
		, @BusinessRegNum
		, @OrderQuantity
		, @DeliveryQuantity
		, @ApplyUnitCost
		, @TotalCost
		, @ReasonCode
		, @ReasonName
		, @DeliveryDemandDate
		, @RegistrationDate
		, @RegistrationPerson
		, @RegistrationPersonID
		, @EtcBuyingOrderHistoryIndex
		, @DeliveryYear
		, @DeliveryMon
		 )
	
	declare @index int
	Set @index = (Select Max(EtcBuyingDeliveryHistoryIndex) From EtcBD_HT)
	Insert into BOS_HT (ItemNum
			,ItemDrawNum
			,ItemName
			,ProcessSequenceNum
			,ProcessCode
			,ProcessName
			,CompanyName
			, BusinessRegistrationNum
			,Quantity
			,UnitCost
			,UpdateHistoryReason
			, [Date]
			,UpdatePerson
			, UpdatePersonID
			,HistoryDivision
			,HistoryIndex) 
	values(
		@itemNum
		,@itemNum
		,@itemNum
		,null
		,''
		,''
		,@CompanyName
		,@BusinessRegNum
		,@DeliveryQuantity
		,@ApplyUnitCost
		,'등록'
		,@DeliveryDemandDate
		,@RegistrationPerson
		, @RegistrationPersonID
		,'기타구매'
		,@index
	)
	-- 의뢰원장 잔량과 상태 수정
	if ( @RemainQuantity < 0  or  @RemainQuantity = 0 )
	begin
		update EtcBO_HT set RemainQuantity = @RemainQuantity, RecodingState = '완료'
		where EtcBuyingOrderHistoryIndex = @EtcBuyingOrderHistoryIndex
	end
	else
	begin
		update EtcBO_HT set RemainQuantity = @RemainQuantity, RecodingState = '진행'
		where EtcBuyingOrderHistoryIndex = @EtcBuyingOrderHistoryIndex
	end
	-- 매입매출 테이블 수정 쿼리 생성
	DECLARE @NowYear int				--매입매출테이블등 창고에 기록을 위한 검사완료년도
	Set @NowYear = ( select datepart(mm, getdate()) )
	SET @Month =@DeliveryMon
	Set @Year = @DeliveryYear
	set @SQL = ' update bsi_mt set TotalBuyingCost'+cast(@Month as varchar(3))+' = TotalBuyingCost' +cast(@Month as varchar(3))+' + ' + cast(@TotalCost as varchar(30)) + ' , UnPaymentMoney'+ cast(@Month as varchar(3)) + ' = UnPaymentMoney'+ cast(@Month as varchar(3)) +' + ' + cast(@TotalCost as varchar(30))
		set @Month = @Month + 1
		while ( @Month < 13 )
		begin
			set @SQL = @SQL + ', TotalBuyingCost'+cast(@Month as varchar(3))+' = TotalBuyingCost' +cast(@Month as varchar(3))+' + ' + cast(@TotalCost as varchar) + ' , UnPaymentMoney'+ cast(@Month as varchar(3)) + ' = UnPaymentMoney'+ cast(@Month as varchar(3)) +' + ' + cast(@TotalCost as varchar)
			set @Month = @Month + 1
		end
		set @SQL = @SQL + ' where [Year] = '+cast(@Year as varchar(5))+' and  BusinessRegistrationNum = ''' + @BusinessRegNum + ''' '
		
		
		while(@Year < @NowYear)
		begin
			set @SQL = @SQL + '  UPDATE BSI_MT SET TotalBuyingCost1 = TotalBuyingCost1 +'+cast(@TotalCost as varchar(30))+',
					TotalBuyingCost2 = TotalBuyingCost2 +'+cast(@TotalCost as varchar(30))+', 
					TotalBuyingCost3 = TotalBuyingCost3 + '+cast(@TotalCost as varchar(30))+', 
					TotalBuyingCost4 = TotalBuyingCost4 + '+cast(@TotalCost as varchar(30))+', 
					TotalBuyingCost5 = TotalBuyingCost5 + '+cast(@TotalCost as varchar(30))+', 
					TotalBuyingCost6 = TotalBuyingCost6 + '+cast(@TotalCost as varchar(30))+', 
					TotalBuyingCost7 = TotalBuyingCost7 + '+cast(@TotalCost as varchar(30))+', 
					TotalBuyingCost8 = TotalBuyingCost8 + '+cast(@TotalCost as varchar(30))+', 
					TotalBuyingCost9 = TotalBuyingCost9 + '+cast(@TotalCost as varchar(30))+', 
					TotalBuyingCost10 = TotalBuyingCost10 + '+cast(@TotalCost as varchar(30))+', 
					TotalBuyingCost11 = TotalBuyingCost11 + '+cast(@TotalCost as varchar(30))+', 
					TotalBuyingCost12 = TotalBuyingCost12 + '+cast(@TotalCost as varchar(30))+', 
					UnPaymentMoney1 = UnPaymentMoney1 + '+cast(@TotalCost as varchar(30))+', 
					UnPaymentMoney2 = UnPaymentMoney2 + '+cast(@TotalCost as varchar(30))+', 
					UnPaymentMoney3 = UnPaymentMoney3 + '+cast(@TotalCost as varchar(30))+', 
					UnPaymentMoney4 = UnPaymentMoney4 + '+cast(@TotalCost as varchar(30))+', 
					UnPaymentMoney5 = UnPaymentMoney5 + '+cast(@TotalCost as varchar(30))+', 
					UnPaymentMoney6 = UnPaymentMoney6 + '+cast(@TotalCost as varchar(30))+', 
					UnPaymentMoney7 = UnPaymentMoney7 + '+cast(@TotalCost as varchar(30))+', 
					UnPaymentMoney8 = UnPaymentMoney8 + '+cast(@TotalCost as varchar(30))+', 
					UnPaymentMoney9 = UnPaymentMoney9 + '+cast(@TotalCost as varchar(30))+', 
					UnPaymentMoney10 = UnPaymentMoney10 + '+cast(@TotalCost as varchar(30))+', 
					UnPaymentMoney11 = UnPaymentMoney11 + '+cast(@TotalCost as varchar(30))+', 
					UnPaymentMoney12 = UnPaymentMoney12 + '+cast(@TotalCost as varchar(30))+'  where [Year] = '+cast(@Year as varchar(5))+' and  BusinessRegistrationNum = ''' + @BusinessRegNum + ''''
			Set @Year = @Year+1
		end
			
	
	-- 창고 수정 쿼리 실행
	exec(@SQL)
end
GO
