USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[SPEtcInStoreQuantity1]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SPEtcInStoreQuantity1]
	@ItemNum as varchar(100),
	@Year as int,
	@Month as int
AS
BEGIN
		Select sum(EtcInStoreQuantity ) as EtcInStoreQuantity 
		From
		(			
			Select isnull(Sum(InOutStorehouseQuantity) , 0)  as EtcInStoreQuantity From OIOS_HT where ItemNum  = @ItemNum  and datepart(yy,InOutDate) =@Year and datepart(mm,InOutDate) = @Month and InOutStorehouseDistinction = '1'
		
			union all
			Select isnull(Sum(CreateQuantity) , 0)  as EtcInStoreQuantity From E_HT where CreateItemNum  = @ItemNum and datepart(yy,ExhaustDate) =@Year and datepart(mm,ExhaustDate) = @Month
			union all
			Select isnull(Sum(InstoreQuantity) , 0)  as EtcInStoreQuantity From AS_HT where ItemNum  = @ItemNum and datepart(yy,InstoreDate) =@Year and datepart(mm,InstoreDate) = @Month
		)T

	
END
GO
