USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[UP_INSERT_BOARDNEW]    Script Date: 07/02/2026 08:48:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE      PROC [dbo].[UP_INSERT_BOARDNEW]
    @writer    Varchar(20),
    @title       Varchar(100),
    @AppendFile     image,
    @FileName       Varchar(50),
    @FileSize     int,
    @FileType         Varchar(50),
    @content    Text,
    @Division	varchar(50)
AS
  SET NOCOUNT ON
  DECLARE @NewThread int
	if(@Division = '업무일지')
	begin	
	    SELECT @NewThread = ISNULL(MAX(Thread),0) + 1000 FROM T_WorkDailyBoard
	
	    INSERT INTO T_WorkDailyBoard 
	        (thread, depth, writer, title, AppendFile, [FileName], FileSize, FileType, content) 
	    Values 
	        (@NewThread, 0, @writer, @title, @AppendFile, @FileName, @FileSize, @FileType, @content)
	end	
	else if(@Division = '공지사항')
	begin
	    SELECT @NewThread = ISNULL(MAX(Thread),0) + 1000 FROM T_Notice
	
	    INSERT INTO T_Notice
	        (thread, depth, writer, title, AppendFile, [FileName], FileSize, FileType, content) 
	    Values 
	        (@NewThread, 0, @writer, @title, @AppendFile, @FileName, @FileSize, @FileType, @content)
	end
	else if(@Division = '대표공지')
	begin
	    SELECT @NewThread = ISNULL(MAX(Thread),0) + 1000 FROM T_PresidentNotice
	
	    INSERT INTO T_PresidentNotice
	        (thread, depth, writer, title, AppendFile, [FileName], FileSize, FileType, content) 
	    Values 
	        (@NewThread, 0, @writer, @title, @AppendFile, @FileName, @FileSize, @FileType, @content)
	end
	else if(@Division = '개발실')
	begin
	    SELECT @NewThread = ISNULL(MAX(Thread),0) + 1000 FROM T_Development
	
	    INSERT INTO T_Development 
	        (thread, depth, writer, title, AppendFile, [FileName], FileSize, FileType, content) 
	    Values 
	        (@NewThread, 0, @writer, @title, @AppendFile, @FileName, @FileSize, @FileType, @content)
	end
	else if(@Division = '생산품질')
	begin
	    SELECT @NewThread = ISNULL(MAX(Thread),0) + 1000 FROM T_Product
	
	    INSERT INTO T_Product 
	        (thread, depth, writer, title, AppendFile, [FileName], FileSize, FileType, content) 
	    Values 
	        (@NewThread, 0, @writer, @title, @AppendFile, @FileName, @FileSize, @FileType, @content)
	end
	else if(@Division = '자재관리')
	begin
	    SELECT @NewThread = ISNULL(MAX(Thread),0) + 1000 FROM T_Materials
	
	    INSERT INTO T_Materials 
	        (thread, depth, writer, title, AppendFile, [FileName], FileSize, FileType, content) 
	    Values 
	        (@NewThread, 0, @writer, @title, @AppendFile, @FileName, @FileSize, @FileType, @content)
	end
	else if(@Division = '연구소')
	begin	
	    SELECT @NewThread = ISNULL(MAX(Thread),0) + 1000 FROM T_Institute
	
	    INSERT INTO T_Institute 
	        (thread, depth, writer, title, AppendFile, [FileName], FileSize, FileType, content) 
	    Values 
	        (@NewThread, 0, @writer, @title, @AppendFile, @FileName, @FileSize, @FileType, @content)
	end
	else if(@Division = '로더생산현황')
	begin	
	    SELECT @NewThread = ISNULL(MAX(Thread),0) + 1000 FROM T_Loader
	
	    INSERT INTO T_Loader 
	        (thread, depth, writer, title, AppendFile, [FileName], FileSize, FileType, content) 
	    Values 
	        (@NewThread, 0, @writer, @title, @AppendFile, @FileName, @FileSize, @FileType, @content)
	end
	else if(@Division = '파이프')
	begin
	    SELECT @NewThread = ISNULL(MAX(Thread),0) + 1000 FROM T_Pipe
	
	    INSERT INTO T_Pipe
	        (thread, depth, writer, title, AppendFile, [FileName], FileSize, FileType, content) 
	    Values 
	        (@NewThread, 0, @writer, @title, @AppendFile, @FileName, @FileSize, @FileType, @content)
	end
GO
