USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[SPUpdateReasonUCI]    Script Date: 07/02/2026 08:48:43 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE                    PROCEDURE [dbo].[SPUpdateReasonUCI]
@ItemNum AS VARCHAR(50), 
@ItemDrawNum AS VARCHAR(50), 
@ItemName AS VARCHAR(50), 
@CompanyName AS VARCHAR(50),
@BusinessRegistrationNum AS VARCHAR(50),
@BeginDate AS VARCHAR(50), 
@EndDate AS VARCHAR(50),
@UserName As Varchar(50)
 AS
	if(@BeginDate = '')
	Set @BeginDate = '2001-01-01'
	if(@EndDate = '')
	Set @EndDate = '2050-12-31'
	if(@UserName = '')
	begin
		Select UPUCI_HT.ItemNum as ItemNum, ItemDrawNum, ItemName, UnitCostDistinction
		, CompanyName, UPUCI_HT.BusinessRegistrationNum as BusinessRegistrationNum
		, PUC_MT1.SmallClassificationName as BeginProcess, PUC_MT1.SmallClassificationName as EndProcess, UPUCI_HT.StandardUnitCost, DiscountUnitCost
		, BeginDate,  UpdateReason, UPUCI_HT.UpdatingPerson, UPUCI_HT.UpdatingPersonID, UPUCI_HT.UpdatingDate
		From UPUCI_HT
		inner join II_MT on UPUCI_HT.ItemNum = II_MT.ItemNum
		inner join CI_MT on UPUCI_HT.BusinessRegistrationNum = CI_MT.BusinessRegistrationNum
		inner join PUC_MT PUC_MT1 on PUC_MT1.SmallClassificationCode = BeginProcessCode
		inner join PUC_MT PUC_MT2 on PUC_MT2.SmallClassificationCode = EndProcessCode
		Where II_MT.RecodingState = 1 and CI_MT.RecodingState = 1  and PUC_MT1.RecodingState = 1 and PUC_MT2.RecodingState = 1 and
		UPUCI_HT.ItemNum like '%'+@ItemNum+'%' and ItemDrawNum like '%'+@ItemDrawNum+'%' and ItemName like '%'+@ItemName+'%' and
		CompanyName like '%'+@CompanyName+'%' and UPUCI_HT.BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%' and 
		UPUCI_HT.UpdatingDate >= @BeginDate and UPUCI_HT.UpdatingDate <= @EndDate
		order by UPUCI_HT.UpdatingDate, UPUCI_HT.ItemNum, UPUCI_MTIndex desc
	end
	else
	begin
	
		Select UPUCI_HT.ItemNum as ItemNum, ItemDrawNum, ItemName, UnitCostDistinction
		, CompanyName, UPUCI_HT.BusinessRegistrationNum as BusinessRegistrationNum
		, PUC_MT1.SmallClassificationName as BeginProcess, PUC_MT1.SmallClassificationName as EndProcess, UPUCI_HT.StandardUnitCost, DiscountUnitCost
		, BeginDate,  UpdateReason, UPUCI_HT.UpdatingPerson, UPUCI_HT.UpdatingPersonID, UPUCI_HT.UpdatingDate
		From UPUCI_HT
		inner join II_MT on UPUCI_HT.ItemNum = II_MT.ItemNum
		inner join CI_MT on UPUCI_HT.BusinessRegistrationNum = CI_MT.BusinessRegistrationNum
		inner join PUC_MT PUC_MT1 on PUC_MT1.SmallClassificationCode = BeginProcessCode
		inner join PUC_MT PUC_MT2 on PUC_MT2.SmallClassificationCode = EndProcessCode
		
		Where II_MT.RecodingState = 1 and CI_MT.RecodingState = 1  and PUC_MT1.RecodingState = 1 and PUC_MT2.RecodingState = 1 and
		UPUCI_HT.ItemNum like '%'+@ItemNum+'%' and ItemDrawNum like '%'+@ItemDrawNum+'%' and ItemName like '%'+@ItemName+'%' and
		CompanyName like '%'+@CompanyName+'%' and UPUCI_HT.BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%' and 
		UPUCI_HT.UpdatingPersonID = @UserName and UPUCI_HT.UpdatingDate >= @BeginDate and UPUCI_HT.UpdatingDate <= @EndDate
		order by UPUCI_HT.UpdatingDate, UPUCI_HT.ItemNum,  UPUCI_MTIndex desc
	end
GO
