USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[NewDeleteCommand]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[NewDeleteCommand]
(
	@Original_BuyingRequestHistoryIndex int,
	@Original_BuyingRequestSourceCode varchar(10),
	@Original_ItemDrawNum varchar(50),
	@Original_ItemName varchar(50),
	@Original_ItemNum varchar(50)
)
AS
	SET NOCOUNT OFF;
DELETE FROM BR_HT WHERE (BuyingRequestHistoryIndex = @Original_BuyingRequestHistoryIndex) AND (BuyingRequestSourceCode = @Original_BuyingRequestSourceCode OR @Original_BuyingRequestSourceCode IS NULL AND BuyingRequestSourceCode IS NULL) AND (ItemDrawNum = @Original_ItemDrawNum OR @Original_ItemDrawNum IS NULL AND ItemDrawNum IS NULL) AND (ItemName = @Original_ItemName OR @Original_ItemName IS NULL AND ItemName IS NULL) AND (ItemNum = @Original_ItemNum OR @Original_ItemNum IS NULL AND ItemNum IS NULL)
GO
