USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[SPInOutStockSumming]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE             PROCEDURE [dbo].[SPInOutStockSumming]  AS
	-- 먼저 원자재 잉여창고와 외주 잉여재고 품목중에서 원자재인 것들만 모아서 수량을 누적해
 	-- 새로운 원자재 잉여창고 테이블을 만든다
	delete TBRawRedundantSum
	insert into TBRawRedundantSum
	select  T.ItemNum,'0','14000000', (isnull(T.Quantity,0) + isnull(O.Quantity,0)) as Quantity
	From  TBRawRedundant T left outer join TBOutOrderRedundant O
	on T.ItemNum = O.ItemNum
	select * From TBRawRedundantSum
	
	-- 생산잉여창고를 그룹바이 한 테이블과 외주 잉여재고 테이블을 조인(left ourt join)해서 그룹바이된 생산창고잉여테이블을 만들어
	-- TempTreeProductGroupby테이블에 저장한다.
	delete TBWorkRedundantSum
	
	Insert Into TBWorkRedundantSum
	select  W.ItemNum, W.ProcessSequenceNum, W.ProcessCode, (W.Quantity+isnull(O.Quantity,0)) as Quantity
	From  TBWorkRedundant W
	left outer join TBOutOrderRedundant O on W.ItemNum = O.ItemNum and W.ProcessSequenceNum = O.ProcessSequenceNum
	
	
	Select * From TBWorkRedundantSum T 
	order by  T.ItemNum, T.ProcessSequenceNum desc
GO
