USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[SPResultTransperState]    Script Date: 07/02/2026 08:48:43 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE  PROCEDURE [dbo].[SPResultTransperState] AS




--그룹별로 Sum해서 레코드에 입력
	IF exists (Select 1 From tempdb..sysobjects where name like '#LastTempTable%')
	DROP TABLE #LastTempTable
	create table #LastTempTable 
	( 
		[구분1]   varchar(20)					-- 구분1 (원자재, 상품 )
	,	[구분2]   varchar(20)					-- 구분2 (품목분류2)
	,	[구분3]   varchar(20)					-- 구분2 (품목분류3)
	,	[전월입고수량] decimal(20,2)	default 0			-- 전월입고수량
	,	[전월입고금액] decimal(20,2)	default 0			-- 전월입고금액
	,	[전월재고수량] decimal(20,2) 	default 0			-- 전월재고수량
	,	[전월재고금액] decimal(20,2)	default 0			-- 전월재고금액
	,	[금월입고수량] decimal(20,2) 	default 0			-- 금월입고수량
	,	[금월입고금액] decimal(20,2)	default 0			-- 금월입고금액	
	,	[금월출고수량] decimal(20,2)	default 0			-- 금월출고수량
	,	[금월재고수량] decimal(20,2)	default 0			-- 금월재고수량
	,	[금월재고금액] decimal(20,2)	default 0			-- 금월재고금액
	,	[증감매입수량] decimal(20,2)	default 0			-- 증감매입수량
	,	[증감매입금액] decimal(20,2)	default 0			-- 증감매입급액
	,	[증감재고수량] decimal(20,2)	default 0			-- 증감재고수량
	,	[증감재고금액] decimal(20,2)	default 0			-- 증감재고금액
	, 	ItemClassification3 varchar(10)
	)



	insert #LastTempTable(구분1, 구분2, 구분3) values( '구매품', '로더', '로더' )

	DECLARE cur_count CURSOR 
	FOR
	SELECT SmallClassificationName, SmallClassificationCode FROM PUC_MT 
	where RecodingState = 1 and LargeClassificationCode = '0230' and SmallClassificationName != ''
	and SmallClassificationCode < '02300120'
	
	--커서 오픈
	OPEN cur_count
	
	--변수 선언
	DECLARE @SmallClassificationName varchar(50)
	DECLARE @SmallClassificationCode varchar(50)
	--첫 로우 FETCH
	FETCH NEXT FROM cur_count INTO @SmallClassificationName, @SmallClassificationCode
	WHILE @@FETCH_STATUS = 0
	BEGIN
	--FETCH된 데이터를 tempdb에 삽입
	insert #LastTempTable(구분1, 구분2, 구분3, ItemClassification3) values( '구매품', '로더외', @SmallClassificationName, @SmallClassificationCode  )
	--다음 로우 FEETCH - 루프
	FETCH NEXT FROM cur_count INTO @SmallClassificationName, @SmallClassificationCode
	END
	--커서 CLOSE
	CLOSE cur_count
	
	--커서 DEALLOCATE
	DEALLOCATE cur_count




	insert #LastTempTable(구분1, 구분2, 구분3) values( '외주', '외주', '외주' )
	insert #LastTempTable(구분1, 구분2, 구분3) values( '부자재', '부자재', '부자재' )

	insert #LastTempTable(구분1, 구분2, 구분3) values( '기타', '개발품', '개발품'  )
	insert #LastTempTable(구분1, 구분2, 구분3) values( '기타', '소모품', '소모품'  )

-- (Select * From TempResultTransperStateTable where ItemClassification3 = '02300120')
	

	insert #LastTempTable(구분1, 구분2, 구분3) values( '계', '계', '계' )

	Update  #LastTempTable 
	Set [전월입고수량] = (Select sum([전월입고수량])	From TempResultTransperStateTable where ItemClassification3 = '02300120'),
	[전월입고금액] = (Select sum([전월입고금액])	From TempResultTransperStateTable where ItemClassification3 = '02300120'),
	[전월재고수량] = (Select sum([전월재고수량])	From TempResultTransperStateTable where ItemClassification3 = '02300120'),
	[전월재고금액] = (Select sum([전월재고금액])	From TempResultTransperStateTable where ItemClassification3 = '02300120'),
	[금월입고수량] = (Select sum([금월입고수량])	From TempResultTransperStateTable where ItemClassification3 = '02300120'),
	[금월입고금액] = (Select sum([금월입고금액])	From TempResultTransperStateTable where ItemClassification3 = '02300120'),
	[금월출고수량] = (Select sum([금월출고수량])	From TempResultTransperStateTable where ItemClassification3 = '02300120'),
	[금월재고수량] = (Select sum([금월재고수량])	From TempResultTransperStateTable where ItemClassification3 = '02300120'),
	[금월재고금액] = (Select sum([금월재고금액])	From TempResultTransperStateTable where ItemClassification3 = '02300120'),
	[증감매입수량] = (Select sum([증감매입수량])	From TempResultTransperStateTable where ItemClassification3 = '02300120'),
	[증감매입금액] = (Select sum([증감매입금액])	From TempResultTransperStateTable where ItemClassification3 = '02300120'),
	[증감재고수량] = (Select sum([증감재고수량])	From TempResultTransperStateTable where ItemClassification3 = '02300120'),
	[증감재고금액] = (Select sum([증감재고금액])	From TempResultTransperStateTable where ItemClassification3 = '02300120')
	where [구분1] = '구매품' and [구분2] = '로더' and [구분3] = '로더'

		Declare @Item varchar(20)
		Declare @count varchar(2)
		Set @count = 1		
		while(@count <=  (Select count(*) From PUC_MT where LargeClassificationCode = '0230' and SmallClassificationName <> '' and SmallClassificationCode < '02300120'))
		begin
			if(@count <10)
			begin
				Set @Item = '023000'+@count+'0'
				Update  #LastTempTable 
				Set [전월입고수량] = isnull((Select sum([전월입고수량])	From TempResultTransperStateTable where ItemClassification3 = @Item),0),
					[전월입고금액] = isnull((Select sum([전월입고금액])	From TempResultTransperStateTable where ItemClassification3 = @Item),0),
					[전월재고수량] = isnull((Select sum([전월재고수량]) From TempResultTransperStateTable where ItemClassification3 = @Item),0),
					[전월재고금액] = isnull((Select sum([전월재고금액])	From TempResultTransperStateTable where ItemClassification3 = @Item),0),
					[금월입고수량] = isnull((Select sum([금월입고수량]) From TempResultTransperStateTable where ItemClassification3 = @Item),0),
					[금월입고금액] = isnull((Select sum([금월입고금액]) From TempResultTransperStateTable where ItemClassification3 = @Item),0),
					[금월출고수량] = isnull((Select sum([금월출고수량]) From TempResultTransperStateTable where ItemClassification3 = @Item),0),
					[금월재고수량] = isnull((Select sum([금월재고수량]) From TempResultTransperStateTable where ItemClassification3 = @Item),0),
					[금월재고금액] = isnull((Select sum([금월재고금액])	From TempResultTransperStateTable where ItemClassification3 = @Item),0),
					[증감매입수량] = isnull((Select sum([증감매입수량])	From TempResultTransperStateTable where ItemClassification3 = @Item),0),
					[증감매입금액] = isnull((Select sum([증감매입금액])	From TempResultTransperStateTable where ItemClassification3 = @Item),0),
					[증감재고수량] = isnull((Select sum([증감재고수량])	From TempResultTransperStateTable where ItemClassification3 = @Item),0),
					[증감재고금액] = isnull((Select sum([증감재고금액])	From TempResultTransperStateTable where ItemClassification3 = @Item),0)
				where ItemClassification3 = @Item
				
			end
			else
			begin	
				Set @Item = '02300'+@count+'0'
				
				Update  #LastTempTable 
				Set [전월입고수량] = isnull((Select sum([전월입고수량])	From TempResultTransperStateTable where ItemClassification3 = @Item),0),
					[전월입고금액] = isnull((Select sum([전월입고금액])	From TempResultTransperStateTable where ItemClassification3 = @Item),0),
					[전월재고수량] = isnull((Select sum([전월재고수량]) From TempResultTransperStateTable where ItemClassification3 = @Item),0),
					[전월재고금액] = isnull((Select sum([전월재고금액])	From TempResultTransperStateTable where ItemClassification3 = @Item),0),
					[금월입고수량] = isnull((Select sum([금월입고수량]) From TempResultTransperStateTable where ItemClassification3 = @Item),0),
					[금월입고금액] = isnull((Select sum([금월입고금액]) From TempResultTransperStateTable where ItemClassification3 = @Item),0),
					[금월출고수량] = isnull((Select sum([금월출고수량]) From TempResultTransperStateTable where ItemClassification3 = @Item),0),
					[금월재고수량] = isnull((Select sum([금월재고수량]) From TempResultTransperStateTable where ItemClassification3 = @Item),0),
					[금월재고금액] = isnull((Select sum([금월재고금액])	From TempResultTransperStateTable where ItemClassification3 = @Item),0),
					[증감매입수량] = isnull((Select sum([증감매입수량])	From TempResultTransperStateTable where ItemClassification3 = @Item),0),
					[증감매입금액] = isnull((Select sum([증감매입금액])	From TempResultTransperStateTable where ItemClassification3 = @Item),0),
					[증감재고수량] = isnull((Select sum([증감재고수량])	From TempResultTransperStateTable where ItemClassification3 = @Item),0),
					[증감재고금액] = isnull((Select sum([증감재고금액])	From TempResultTransperStateTable where ItemClassification3 = @Item),0)
				where ItemClassification3 = @Item

			end
				Set @count = @count+1
				

		end

	Update  #LastTempTable 
	Set [전월입고수량] = (Select sum([전월입고수량])	From TempResultTransperStateTable where ItemClassification3 = '02300130'),
	[전월입고금액] = (Select sum([전월입고금액])	From TempResultTransperStateTable where ItemClassification3 = '02300130'),
	[전월재고수량] = (Select sum([전월재고수량])	From TempResultTransperStateTable where ItemClassification3 = '02300130'),
	[전월재고금액] = (Select sum([전월재고금액])	From TempResultTransperStateTable where ItemClassification3 = '02300130'),
	[금월입고수량] = (Select sum([금월입고수량])	From TempResultTransperStateTable where ItemClassification3 = '02300130'),
	[금월입고금액] = (Select sum([금월입고금액])	From TempResultTransperStateTable where ItemClassification3 = '02300130'),
	[금월출고수량] = (Select sum([금월출고수량])	From TempResultTransperStateTable where ItemClassification3 = '02300130'),
	[금월재고수량] = (Select sum([금월재고수량])	From TempResultTransperStateTable where ItemClassification3 = '02300130'),
	[금월재고금액] = (Select sum([금월재고금액])	From TempResultTransperStateTable where ItemClassification3 = '02300130'),
	[증감매입수량] = (Select sum([증감매입수량])	From TempResultTransperStateTable where ItemClassification3 = '02300130'),
	[증감매입금액] = (Select sum([증감매입금액])	From TempResultTransperStateTable where ItemClassification3 = '02300130'),
	[증감재고수량] = (Select sum([증감재고수량])	From TempResultTransperStateTable where ItemClassification3 = '02300130'),
	[증감재고금액] = (Select sum([증감재고금액])	From TempResultTransperStateTable where ItemClassification3 = '02300130')
	where [구분1] = '외주' and [구분2] = '외주' and [구분3] = '외주'


	Update  #LastTempTable 
	Set [전월입고수량] = (Select sum([전월입고수량])	From TempResultTransperStateTable where ItemClassification3 = '02300140'),
	[전월입고금액] = (Select sum([전월입고금액])	From TempResultTransperStateTable where ItemClassification3 = '02300140'),
	[전월재고수량] = (Select sum([전월재고수량])	From TempResultTransperStateTable where ItemClassification3 = '02300140'),
	[전월재고금액] = (Select sum([전월재고금액])	From TempResultTransperStateTable where ItemClassification3 = '02300140'),
	[금월입고수량] = (Select sum([금월입고수량])	From TempResultTransperStateTable where ItemClassification3 = '02300140'),
	[금월입고금액] = (Select sum([금월입고금액])	From TempResultTransperStateTable where ItemClassification3 = '02300140'),
	[금월출고수량] = (Select sum([금월출고수량])	From TempResultTransperStateTable where ItemClassification3 = '02300140'),
	[금월재고수량] = (Select sum([금월재고수량])	From TempResultTransperStateTable where ItemClassification3 = '02300140'),
	[금월재고금액] = (Select sum([금월재고금액])	From TempResultTransperStateTable where ItemClassification3 = '02300140'),
	[증감매입수량] = (Select sum([증감매입수량])	From TempResultTransperStateTable where ItemClassification3 = '02300140'),
	[증감매입금액] = (Select sum([증감매입금액])	From TempResultTransperStateTable where ItemClassification3 = '02300140'),
	[증감재고수량] = (Select sum([증감재고수량])	From TempResultTransperStateTable where ItemClassification3 = '02300140'),
	[증감재고금액] = (Select sum([증감재고금액])	From TempResultTransperStateTable where ItemClassification3 = '02300140')
	where [구분1] = '부자재'

	Update  #LastTempTable 
	Set [전월입고수량] = (Select sum([전월입고수량])	From TempResultTransperStateTable where ItemClassification3 = '02300150'),
	[전월입고금액] = (Select sum([전월입고금액])	From TempResultTransperStateTable where ItemClassification3 = '02300150'),
	[전월재고수량] = (Select sum([전월재고수량])	From TempResultTransperStateTable where ItemClassification3 = '02300150'),
	[전월재고금액] = (Select sum([전월재고금액])	From TempResultTransperStateTable where ItemClassification3 = '02300150'),
	[금월입고수량] = (Select sum([금월입고수량])	From TempResultTransperStateTable where ItemClassification3 = '02300150'),
	[금월입고금액] = (Select sum([금월입고금액])	From TempResultTransperStateTable where ItemClassification3 = '02300150'),
	[금월출고수량] = (Select sum([금월출고수량])	From TempResultTransperStateTable where ItemClassification3 = '02300150'),
	[금월재고수량] = (Select sum([금월재고수량])	From TempResultTransperStateTable where ItemClassification3 = '02300150'),
	[금월재고금액] = (Select sum([금월재고금액])	From TempResultTransperStateTable where ItemClassification3 = '02300150'),
	[증감매입수량] = (Select sum([증감매입수량])	From TempResultTransperStateTable where ItemClassification3 = '02300150'),
	[증감매입금액] = (Select sum([증감매입금액])	From TempResultTransperStateTable where ItemClassification3 = '02300150'),
	[증감재고수량] = (Select sum([증감재고수량])	From TempResultTransperStateTable where ItemClassification3 = '02300150'),
	[증감재고금액] = (Select sum([증감재고금액])	From TempResultTransperStateTable where ItemClassification3 = '02300150')
	where [구분1] = '기타' and [구분2] = '개발품' 


	Update  #LastTempTable 
	Set [전월입고수량] = (Select sum([전월입고수량])	From TempResultTransperStateTable where ItemClassification3 = '02300160'),
	[전월입고금액] = (Select sum([전월입고금액])	From TempResultTransperStateTable where ItemClassification3 = '02300160'),
	[전월재고수량] = (Select sum([전월재고수량])	From TempResultTransperStateTable where ItemClassification3 = '02300160'),
	[전월재고금액] = (Select sum([전월재고금액])	From TempResultTransperStateTable where ItemClassification3 = '02300160'),
	[금월입고수량] = (Select sum([금월입고수량])	From TempResultTransperStateTable where ItemClassification3 = '02300160'),
	[금월입고금액] = (Select sum([금월입고금액])	From TempResultTransperStateTable where ItemClassification3 = '02300160'),
	[금월출고수량] = (Select sum([금월출고수량])	From TempResultTransperStateTable where ItemClassification3 = '02300160'),
	[금월재고수량] = (Select sum([금월재고수량])	From TempResultTransperStateTable where ItemClassification3 = '02300160'),
	[금월재고금액] = (Select sum([금월재고금액])	From TempResultTransperStateTable where ItemClassification3 = '02300160'),
	[증감매입수량] = (Select sum([증감매입수량])	From TempResultTransperStateTable where ItemClassification3 = '02300160'),
	[증감매입금액] = (Select sum([증감매입금액])	From TempResultTransperStateTable where ItemClassification3 = '02300160'),
	[증감재고수량] = (Select sum([증감재고수량])	From TempResultTransperStateTable where ItemClassification3 = '02300160'),
	[증감재고금액] = (Select sum([증감재고금액])	From TempResultTransperStateTable where ItemClassification3 = '02300160')
	where [구분1] = '기타' and [구분2] = '소모품' 


--Select * From TempResultTransperStateTable where ItemNum = '디스크휠사포'
	Update  #LastTempTable 
	Set [전월입고수량] = (Select sum([전월입고수량])	From #LastTempTable where [구분1] != '계'),
	[전월입고금액] = (Select sum([전월입고금액]) From #LastTempTable where [구분1] != '계'),
	[전월재고수량] = (Select sum([전월재고수량])	From #LastTempTable where [구분1] != '계'),
	[전월재고금액] = (Select sum([전월재고금액])	From #LastTempTable where [구분1] != '계'),
	[금월입고수량] = (Select sum([금월입고수량])	From #LastTempTable where [구분1] != '계'),
	[금월입고금액] = (Select sum([금월입고금액]) From #LastTempTable where [구분1] != '계'),
	[금월출고수량] = (Select sum([금월출고수량])	From #LastTempTable where [구분1] != '계'),
	[금월재고수량] = (Select sum([금월재고수량])	From #LastTempTable where [구분1] != '계'),
	[금월재고금액] = (Select sum([금월재고금액])	From #LastTempTable where [구분1] != '계'),
	[증감매입수량] = (Select sum([증감매입수량])	From #LastTempTable where [구분1] != '계'),
	[증감매입금액] = (Select sum([증감매입금액])	From #LastTempTable where [구분1] != '계'),
	[증감재고수량] = (Select sum([증감재고수량])	From #LastTempTable where [구분1] != '계'),
	[증감재고금액] = (Select sum([증감재고금액])	From #LastTempTable where [구분1] != '계')
	where [구분1] = '계'

Select * From #LastTempTable
GO
