USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[EtcBuyingOrderPC_Delete]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  proc [dbo].[EtcBuyingOrderPC_Delete]
(
	@Delindex varchar(100)
)
as
begin
	declare @Sql varchar(500)
	set @Sql = 'DELETE EtcBO_HT WHERE EtcBuyingOrderHistoryIndex in( ' + @Delindex + ' ) '
	exec (@Sql)
end
GO
