USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[TTWork]    Script Date: 07/02/2026 08:48:43 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[TTWork] AS
	Insert into TempTreeWork
	SELECT ItemNum, ItemDrawNum, ItemName, isnull(sum(Quantity),0) 'Quantity'
	FROM TempTreeSum	
	Group by  ItemNum, ItemDrawNum, ItemName
	Delete TempTreeSum
GO
