USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[CooperationWebComboItem]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE    proc [dbo].[CooperationWebComboItem]
as
select ItemNum as [품목번호],ItemDrawNum as [도면번호],ItemName as [품목명]
from II_MT where RecodingState = 1
order by ItemName
GO
