USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[SPWorkPlaning]    Script Date: 07/02/2026 08:48:43 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE              PROCEDURE [dbo].[SPWorkPlaning] @ItemNum AS VARCHAR(50), @Quantity AS DECIMAL(20, 3) AS
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[TBWorkDivision]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[TBWorkDivision]
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[TBWorkPlanning]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[TBWorkPlanning]
CREATE TABLE [dbo].[TBWorkDivision] (
	[ItemNum] [varchar] (50) COLLATE Korean_Wansung_CI_AS NULL ,
	[ProcessSequenceNum] [tinyint] NULL ,
	[ProcessCode] [varchar] (50) COLLATE Korean_Wansung_CI_AS NULL ,
	[Quantity] [decimal](20, 2) NULL ,
	[Lvl] [tinyint] NULL ,
	[Path] [varchar] (400) COLLATE Korean_Wansung_CI_AS NULL 
) ON [PRIMARY]
CREATE TABLE [dbo].[TBWorkPlanning] (
	[ItemNum] [varchar] (50) COLLATE Korean_Wansung_CI_AS NOT NULL ,
	[ProcessSequenceNum] [tinyint] NULL ,
	[ProcessCode] [varchar] (50) COLLATE Korean_Wansung_CI_AS NOT NULL ,
	[WorkDistinction] [varchar] (50) COLLATE Korean_Wansung_CI_AS NOT NULL ,
	[Quantity] [decimal](20, 2) NULL ,
	[Lvl] [tinyint] NULL ,
	[Path] [varchar] (400) COLLATE Korean_Wansung_CI_AS NULL ,
	[ID] [int] IDENTITY (1, 1) NOT NULL 
) ON [PRIMARY]
ALTER TABLE [dbo].[TBWorkPlanning] ADD 
	CONSTRAINT [PK__TBWorkPlanning__2613D382] PRIMARY KEY  CLUSTERED 
	(
		[ID]
	)  ON [PRIMARY] 
	--delete TBWorkDivision
	--delete TBWorkPlanning
/*
	declare @ItemNum Varchar(50)
	declare @Quantity decimal(20,2)
	--declare @Tree bit
	Set @ItemNum ='M3245-00001'	
	Set @Quantity = '1'
	--Set @Tree = '1'
*/
	IF exists (Select 1 From tempdb..sysobjects where name like '#TempTree%')
		DROP TABLE #TempTree
	-- 특정제품을 생산하는데 필요한 부품과 수량을 임시로 기억할 Table
	CREATE TABLE #TempTree
	(
		ItemNum VARCHAR(50),
		ItemDrawNum VARCHAR(50),
		ItemName VARCHAR(50),
		Quantity FLOAT,
		Lvl TINYINT,
		Path VARCHAR(500),
	)  
	-- 품목을 구성하기 위해 임시로 만든 Table
	IF exists (Select 1 From tempdb..sysobjects where name like '#TempItem%')
		DROP TABLE #TempItem
	CREATE TABLE #TempItem
	(
		ItemNum	VARCHAR(50),
		ItemDrawNum VARCHAR(50),
		ItemName VARCHAR(50),
		NeedQuantityDenominator DECIMAL(20, 3),
		ParentItemNum VARCHAR(50),
	)
	-- 자품번호입력
	INSERT INTO #TempItem
	SELECT IOI_MT.ChildItemNum AS ItemNum, II_MT.ItemDrawNum AS ItemDrawNum, II_MT.ItemName AS ItemName, 
		IOI_MT.NeedQuantityNumerator / IOI_MT.NeedQuantityDenominator AS NeedQuantityDenominator,
		IOI_MT.ParentItemNum  AS ParentItemNum
	FROM II_MT JOIN IOI_MT ON II_MT.ItemNum = IOI_MT.ChildItemNum
	WHERE (II_MT.RecodingState = 1) AND (IOI_MT.RecodingState = 1)
	-- 모품번호입력
	INSERT INTO #TempItem 
	SELECT ItemNum, ItemDrawNum,  ItemName, 1 AS NeedQuantityDenominator, null AS ParentItemNum
	FROM II_MT WHERE II_MT.RecodingState = 1 AND ItemNum = @ItemNum
	DECLARE @Lvl TINYINT, @Path VARCHAR(500)
	
	SET @Lvl = 1
	-- 모품ItemNum + 자기ItemNum
	SET @Path = ''
	INSERT INTO #TempTree
	SELECT TOP 1 ItemNum, ItemDrawNum,  ItemName, @Quantity, @Lvl, @Path + CAST(ItemNum as varchar(50))
	FROM #TempItem WHERE ItemNum = @ItemNum
	WHILE ( @@ROWCOUNT > 0 )
	BEGIN
		SET @Lvl = @Lvl + 1
		INSERT INTO #TempTree
		SELECT TempItem.ItemNum, TempItem.ItemDrawNum, TempItem.ItemName,
			TempItem.NeedQuantityDenominator * TempTree.Quantity,
			@Lvl, (TempTree.Path + CAST(TempItem.ItemNum as varchar(50)) ) 
		FROM #TempItem AS TempItem JOIN #TempTree AS TempTree
		ON TempItem.ParentItemNum = TempTree.ItemNum AND TempTree.Lvl = @Lvl - 1
		
	END
	
	Insert Into TBWorkDivision
	SELECT #TempTree.ItemNum, isnull(PSI_MT.ProcessSequenceNum,0) as ProcessSequenceNum , isnull(PSI_MT.ProcessCode,'14000000') as ProcessCode, Quantity,Lvl,Path
	FROM #TempTree left outer join PSI_MT
	on #TempTree.ItemNum = PSI_MT.ItemNum
	Where PSI_MT.RecodingState = 1
	ORDER BY Path ASC , ProcessSequenceNum desc
/*
	Insert Into TBWorkPlanning (ItemNum,ProcessSequenceNum,ProcessCode,WorkDistinction,Quantity,Lvl,Path) 
	values (select T.ItemNum, P.ProcessSequenceNum, P.ProcessCode, P.WorkDistinction,T.Quantity, T.Lvl, T.Path
	From TBWorkDivision T join PSI_MT P on  T.ItemNum = P.ItemNum and T.ProcessSequenceNum = P.ProcessSequenceNum
	Where P.RecodingState = 1 order by Path, T.ProcessSequenceNum desc)
*/
	
	declare CUR INSENSITIVE cursor
	for
	select T.ItemNum, P.ProcessSequenceNum, P.ProcessCode, P.WorkDistinction,T.Quantity, T.Lvl, T.Path
	From TBWorkDivision T join PSI_MT P on  T.ItemNum = P.ItemNum and T.ProcessSequenceNum = P.ProcessSequenceNum
	Where P.RecodingState = 1 order by Path, T.ProcessSequenceNum desc
	for Read Only
	
	open	CUR
	declare @Item varchar(50)
	declare @seq int
	declare @code varchar(15)
	declare @distinct varchar(15)
	declare @quanity decimal(18,2)
	declare @level int
	declare @itempath varchar(200)
	fetch Next From CUR into @Item,@seq,@code,@distinct,@quanity,@level,@itempath
	WHILE @@FETCH_STATUS = 0
	BEGIN
		Insert Into TBWorkPlanning (ItemNum,ProcessSequenceNum,ProcessCode,WorkDistinction,Quantity,Lvl,Path) 
		values (@Item,@seq,@code,@distinct,@quanity,@level,@itempath)
		fetch Next From CUR into @Item,@seq,@code,@distinct,@quanity,@level,@itempath
	END
	--커서 CLOSE
	CLOSE CUR
	--커서 DEALLOCATE
	DEALLOCATE CUR
GO
