USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[ItemSearch]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE    proc [dbo].[ItemSearch] @PropertyClassification1 as varchar(6), @PropertyClassification2 as varchar(6)
as
    begin
        SELECT ItemNum AS '품목번호',  ItemDrawNum AS '도면번호', ItemName AS '품목명' FROM II_MT
 WHERE (PropertyClassification = @PropertyClassification1 OR PropertyClassification = @PropertyClassification2)
        AND RecodingState = '1'  order by ItemNum
    end
GO
