USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[SPSaleDailyReport]    Script Date: 07/02/2026 08:48:43 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE                                 PROCEDURE [dbo].[SPSaleDailyReport] 
@ItemNum AS VARCHAR(50), 
@ItemDrawNum AS VARCHAR(50), 
@ItemName AS VARCHAR(50), 
@CompanyName AS VARCHAR(50), 
@BusinessRegistrationNum AS VARCHAR(30), 
@StartDate AS smalldatetime, 
@EndDate AS smalldatetime,
@MinDate AS smalldatetime, 
@MaxDate AS smalldatetime,
 @ItemClassification1 varchar(15)	-- 품목분류1  키
,  @ItemClassification2 varchar(15)	-- 품목분류2  키
,  @ItemClassification3 varchar(15)	-- 품목분류3  키
,  @ItemClassification4 varchar(15)	-- 품목분류4  키
 AS
/*
declare @ItemNum AS VARCHAR(50) 
declare @ItemDrawNum AS VARCHAR(50)
declare @ItemName AS VARCHAR(50)
declare @CompanyName AS VARCHAR(50)
declare @BusinessRegistrationNum AS VARCHAR(30)
declare @StartDate AS smalldatetime
declare @EndDate AS smalldatetime
declare @MinDate AS smalldatetime
declare @MaxDate AS smalldatetime
declare @ItemClassification1 varchar(15)	-- 품목분류1  키
declare  @ItemClassification2 varchar(15)	-- 품목분류2  키
declare  @ItemClassification3 varchar(15)	-- 품목분류3  키
declare  @ItemClassification4 varchar(15)	-- 품목분류4  키
Set @ItemNum = ''
Set @ItemDrawNum = ''
Set @ItemName = ''
Set @CompanyName = ''
Set @BusinessRegistrationNum = ''
Set @StartDate = ''
Set @EndDate = ''
Set @MinDate = ''
Set @MaxDate = ''
Set @ItemClassification1  = ''	
Set  @ItemClassification2  = ''
Set  @ItemClassification3  = ''
Set  @ItemClassification4  = ''
*/
	if(@StartDate = '')
		Set @StartDate = '1999-01-01'
	if(@EndDate = '')
		Set @EndDate = '2050-12-31'
	if(@MinDate = '')
		Set @MinDate = '1999-01-01'
	if(@MaxDate = '')
		Set @MaxDate = '2050-12-31'
IF exists (Select 1 From tempdb..sysobjects where name like '#SaleDailyTemp%')
		DROP TABLE #SaleDailyTemp
	CREATE TABLE #SaleDailyTemp
	(
		CompanyName VARCHAR(50),
		BusinessRegistrationNum Varchar(20),
		ItemNum VARCHAR(50),		
		ItemName VARCHAR(50),
		Unit VARChar(15),
		ProcessName VARCHAR(50),
		DeliveryDate smalldatetime,
		SaleDate smalldatetime,
		Quantity decimal(18,2),
		SuitabilityQuantity decimal(18,2),
		UnSuitabilityQuantity decimal(18,2),
		ApplyUnitCost decimal(18,2),
		TotalCost decimal(18,2),
		MonthTotal decimal(18,2),
		YearTotal decimal(18,2),
		NowStockQuantity decimal(18,2),
	)  
	INSERT INTO #SaleDailyTemp
		Select S_HT.CompanyName,S_HT.BusinessRegistrationNum, S_HT.ItemNum, S_HT.ItemName,SmallClassificationName as Unit,  '최종품' as ProcessName, S_HT.RegistrationDate as DeliveryDate, S_HT.SaleDate
		,S_HT.OutStorehouseQuantity as Quantity, S_HT.SuitabilityQuantity, (S_HT.OutStorehouseQuantity-S_HT.SuitabilityQuantity) as UnSuitabilityQuantity,  S_HT.ApplyUnitCost, S_HT.SuitabilityQuantity* S_HT.ApplyUnitCost as TotalCost
		, null, null
		,(Select Sum(StockQuantity12) From BS_MT where BS_MT.RecodingState = 1 and BS_MT.ItemNum = S_HT.ItemNum) as NowStockQuantity
		From S_HT
		left outer join II_MT I on S_HT.ItemNum = I.ItemNum
		Inner join PUC_MT  on I.Unit = SmallClassificationCode
		Where 
		S_HT.RegistrationDate between @StartDate and @EndDate
		and S_HT.SaleDate between @MinDate and @MaxDate
		and S_HT.ItemNum like '%'+@ItemNum+'%' and S_HT.ItemDrawNum like '%'+@ItemDrawNum+'%'
		and S_HT.ItemName like '%'+@ItemName+'%' and S_HT.BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
		and S_HT.CompanyName like '%'+@CompanyName+'%'
		and I.RecodingState = 1 and PUC_MT.RecodingState = 1
		
		
		union all
		Select L.CompanyName, L.BusinessRegistrationNum, L.ItemNum, L.ItemName,SmallClassificationName as Unit, null as ProcessName,  L.RegistrationDate as  DeliveryDate, L.ReceiptDate as SaleDate
		,null as Quantity,  null as SuitabilityQuantity, L.ClaimQuantity as UnSuitabilityQuantity, null as ApplyUnitCost,  -L.ClaimCost as TotalCost
		, null, null, null
		From CL_HT L
		left outer join II_MT I on L.ItemNum = I.ItemNum
		Inner join PUC_MT  on I.Unit = SmallClassificationCode
		Where  
		L.RegistrationDate between @StartDate and @EndDate
		and L.ReceiptDate between @MinDate and @MaxDate
		and L.ItemNum like '%'+@ItemNum+'%' and L.ItemDrawNum like '%'+@ItemDrawNum+'%'
		and L.ItemName like '%'+@ItemName+'%' and L.BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
		and L.CompanyName like '%'+@CompanyName+'%'
		and I.RecodingState = 1  and PUC_MT.RecodingState = 1
		
	SELECT 
		CompanyName 
		, BusinessRegistrationNum 
		, ItemNum 
		, ItemName 
		, Unit
		, ProcessName 
		, DeliveryDate
		, SaleDate
		, Quantity
		, SuitabilityQuantity
		, UnSuitabilityQuantity
		, ApplyUnitCost
		, TotalCost 
		, MonthTotal
		, YearTotal
		, NowStockQuantity
	 FROM 
	(
		SELECT 
		DT.CompanyName 
		, DT.BusinessRegistrationNum 
		, DT.ItemNum 
		, DT.ItemName 
		, DT.Unit
		, DT.ProcessName 
		, DT.DeliveryDate
		, DT.SaleDate
		, DT.Quantity
		, DT.SuitabilityQuantity
		, DT.UnSuitabilityQuantity
		, DT.ApplyUnitCost
		, DT.TotalCost 
		, DT.MonthTotal
		, DT.YearTotal
		, DT.NowStockQuantity
		, DT.BusinessRegistrationNum as Num
		FROM #SaleDailyTemp DT
		inner join II_MT I on DT.ItemNum = I.ItemNum
		inner join PUC_MT on I.ItemClassification1 = puc_mt.SmallClassificationCode
		where I.RecodingState = 1 and PUC_MT.RecodingState = 1
		and ItemClassification1 like '%'+@ItemClassification1+'%'
		and ItemClassification2 like '%'+@ItemClassification2+'%'
		and ItemClassification3 like '%'+@ItemClassification3+'%'
		and ItemClassification4 like '%'+@ItemClassification4+'%'
		
	
		UNION ALL
	
		SELECT 
		NULL	-- CompanyName
		,  '소계'	-- BusinessRegistrationNum
		, '소 계'	--ItemNum
		, NULL	--ItemName
		, NULL	--단위
		, NULL	--ProcessName
		, NULL	--DeliveryDate
		, NULL	--SaleDate
		,ISNULL( Sum(d1.Quantity),0) as Quantity
		,ISNULL( Sum(d1.SuitabilityQuantity),0) as SuitabilityQuantity
		,ISNULL( Sum(d1.UnSuitabilityQuantity) ,0) as UnSuitabilityQuantity
		,isNULL(null,0)	as ApplyUnitCost
		,ISNULL( Sum(d1.TotalCost),0) AS TotalCost
		, (select isnull(Sum(d.TotalCost),0) 
			From #SaleDailyTemp d 
			--where d.BusinessRegistrationNum = d1.BusinessRegistrationNum and d.DeliveryDate between '2007-06-06' and '2007-06-11') as MonthTotal
			where d.BusinessRegistrationNum =d1.BusinessRegistrationNum and d.DeliveryDate between '2007-06-01' and '2007-06-11') as MonthTotal
		, (select isnull(Sum(d.SuitabilityQuantity* d.ApplyUnitCost),0)  
			From #SaleDailyTemp d 
			--where d.BusinessRegistrationNum = d1.BusinessRegistrationNum and d.DeliveryDate between @yearstartdate and @enddate) as MonthTotal
			where d.BusinessRegistrationNum = d1.BusinessRegistrationNum and d.DeliveryDate between '2007-01-01' and '2007-06-11') as YearTotal
		, null
		, d1.BusinessRegistrationNum as Num
		FROM #SaleDailyTemp d1
		GROUP BY d1.BusinessRegistrationNum
	
		UNION ALL
	
		SELECT 
		'합계'
		, NULL
		, NULL	--ItemNum
		, NULL	--ItemName
		, NULL	--단위
		, NULL	--ProcessName
		, NULL	--DeliveryDate
		, NULL	--SaleDate
		,ISNULL( Sum(d1.Quantity),0) as Quantity
		,ISNULL( Sum(d1.SuitabilityQuantity),0) as SuitabilityQuantity
		,ISNULL( Sum(d1.UnSuitabilityQuantity) ,0) as SuitabilityQuantity
		,NULL
		,ISNULL( Sum(d1.TotalCost),0) AS TotalCost
		, null --MonthTotal
		, null
		, null
--		, (select isnull(Sum(d.SuitabilityQuantity* d.ApplyUnitCost),0)  
--			From #SaleDailyTemp d 
--			--where d.BusinessRegistrationNum = d1.BusinessRegistrationNum and d.DeliveryDate between @yearstartdate and @enddate) as MonthTotal
--			where d.BusinessRegistrationNum = d1.BusinessRegistrationNum and d.DeliveryDate between '2007-01-01' and '200-06-11') as YearTotal
		, '999' as Num
		FROM #SaleDailyTemp d1
	
	
		
	) T
	
	
	ORDER BY Num, BusinessRegistrationNum, DeliveryDate
GO
