USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[SPBuyOrderDelivery]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[SPBuyOrderDelivery] 

@ItemNum AS VARCHAR(150), 		--품목번호
@ItemDrawNum AS VARCHAR(150), 	--도면번호
@ItemName AS VARCHAR(150), 		--품목명
@hdItemNum AS VARCHAR(150), 		--품목명
@CompanyName AS VARCHAR(50), 	--거래처명
@BusinessRegistrationNum AS VARCHAR(30), 	--사업자번호
@Division as varchar(10),		--구분(구매,외주)
@FromDate AS smalldatetime, 		--발주일자(시작일)
@ToDate AS smalldatetime,		--발주일자(종료일)
@StartDate AS smalldatetime, 		--납기일자(시작일)
@EndDate AS smalldatetime		--납기일자(종료일)
AS

/*


Declare @ItemNum AS VARCHAR(150)
Declare @ItemDrawNum AS VARCHAR(150)
Declare @ItemName AS VARCHAR(150)
Declare @hdItemNum AS VARCHAR(150)
Declare @CompanyName AS VARCHAR(50)
Declare @BusinessRegistrationNum AS VARCHAR(30)
Declare @StartDate AS smalldatetime
Declare @EndDate AS smalldatetime
Declare @FromDate AS smalldatetime 	
Declare @ToDate AS smalldatetime
Declare @Division AS varchar(10)

set @ItemNum ='T2546-38121-2'
set @ItemDrawNum =''
set @ItemName =''
set @CompanyName  =''
set @BusinessRegistrationNum  =''
set @StartDate ='2013-07-01'
set @EndDate  =''
Set @FromDate =''
Set @TODate =''
Set @Division = '구매'
if(@StartDate = '')
		Set @StartDate = '1999-01-01'
	if(@EndDate = '')
		Set @EndDate = '2050-12-31'

	if(@FromDate = '')
		Set @FromDate = '1999-01-01'
	if(@ToDate = '')
		Set @ToDate = '2050-12-31'

	set @hdItemNum = ''
*/


IF exists (Select 1 From tempdb..sysobjects where name like '#BO_BD_HT%')
		DROP TABLE #BO_BD_HT
	CREATE TABLE #BO_BD_HT
	(
		[Model] [nvarchar] (150) COLLATE Korean_Wansung_CI_AS NULL ,
		[ItemNum] [nvarchar] (150) COLLATE Korean_Wansung_CI_AS NULL ,
		[ItemDrawNum] [nvarchar] (150) COLLATE Korean_Wansung_CI_AS NULL ,
		[ItemName] [nvarchar] (150) COLLATE Korean_Wansung_CI_AS NULL ,
		[ProcessCode] [nvarchar] (50) COLLATE Korean_Wansung_CI_AS NULL ,
		[ProcessName] [nvarchar] (50) COLLATE Korean_Wansung_CI_AS NULL ,
		[CompanyName] [nvarchar] (50) COLLATE Korean_Wansung_CI_AS NULL ,
		[BusinessRegistrationNum] [nvarchar] (50) COLLATE Korean_Wansung_CI_AS NULL ,
		[OrderDate] [smalldatetime] NULL ,
		[OrderQuantity] [decimal](20, 2) NULL ,
		[OrderUnitCost] [decimal](20, 2) NULL ,
		[OrderTotalCost] [decimal](20, 2) NULL,
		[OrderPerson] [nvarchar] (50) COLLATE Korean_Wansung_CI_AS NULL ,
		[DeliveryRequestDate] [smalldatetime] NULL ,
		[DeliveryDate] [smalldatetime] NULL ,
		[DeliveryQuantity] [decimal](20, 2) NULL ,
		[DeliveryUnitCost] [decimal](20, 2) NULL ,
		[DeliveryTotalCost] [decimal](20, 2) NULL,
		[NowStockQuantity] [decimal](20, 2) NULL ,
		[QuantityDiffer] [decimal](20, 2) NULL ,
		[CostDiffer] [decimal](20, 2) NULL ,
		[Division] [nvarchar] (50) COLLATE Korean_Wansung_CI_AS NULL 

	)  
	begin
			insert into #BO_BD_HT
				Select VO.Model, VO.ItemNum, VO.ItemDrawNum, VO.ItemName, VO.EndProcessCode, VO.EndProcess, VO.CompanyName
				, VO.BusinessRegistrationNum, OrderDate, OrderQuantity, OrderUnitCost, OrderTotalCost, OrderPerson
				, VO.DeliveryRequestDate, VD.DeliveryDate, isnull(VD.DeliveryQuantity,0) as DeliveryQuantity
				, isnull(VD.DeliveryUnitCost,0) as DeliveryUnitCost, isnull(VD.DeliveryTotalCost,0) as DeliveryTotalCost
				, isnull(NowStockQuantity,0) as NowStockQuantity, isnull(OrderQuantity-DeliveryQuantity,0) as [QuantityDiffer]
				, isnull( OrderTotalCost - (DeliveryTotalCost) ,0  )as [CostDiffer], isnull(Division,'') as Division
				From ViewOrder as VO left outer join ViewDelivery as VD on VO.BuyingOrderHistoryIndex = HistoryIndex2
				where VO.ItemNum like '%'+@ItemNum+'%' and VO.ItemDrawNum like '%'+@ItemDrawNum+'%'
										and VO.ItemName like '%'+@ItemName+'%' and VO.BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
										and VO.CompanyName like '%'+@CompanyName+'%'
										and (OrderDate BETWEEN @FromDate and @ToDate) 
										and (DeliveryRequestDate BETWEEN @StartDate and @EndDate)
		end
	
		

		Select * From #BO_BD_HT
GO
