USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[SPUpdateWorkDistinction]    Script Date: 07/02/2026 08:48:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SPUpdateWorkDistinction] 
				@ItemNum Varchar(50),
				@ProcessSequenceNum tinyint,
				@ProcessCode Varchar(50),
				@Quantity decimal (20,2),
				@Lvl int,
				@Path varchar(500)
AS
BEGIN
	-- 먼저 자가/외주 레코드의 작업구분을 자가로 변경하고
	-- 동일한 레코드에 작업구분을 외주인 레코드를 인서트한다
	--Quantity에는 자가외주비율을 감안해서 결정한다
	declare @InRate decimal(20,2)
	declare @OutRate decimal(20,2)
/*	declare @ItemNum varchar(50)
	declare @ProcessCode  varchar(50)
	declare @Quantity decimal (20,2)
	
	Set @ItemNum = 'T550H'
	Set @ProcessCode = '14000220'
	Set @Quantity = '10'
	
*/
	Set @InRate = (Select (100 - OutsideOrderRate)/100 as Rate From PSI_MT Where ItemNum = @ItemNum and ProcessCode = @ProcessCode and RecodingState = 1)
	if(@InRate = 0)
		Set @InRate = '1'
	
	
	Update TBWorkPlanning Set WorkDistinction = '자가', Quantity = Quantity*@InRate  where
	ItemNum = @ItemNum and ProcessCode = @ProcessCode
	Set @OutRate = (Select (OutsideOrderRate)/100 From PSI_MT Where ItemNum = @ItemNum and ProcessCode = @ProcessCode and RecodingState = 1)	
	if(@OutRate= 0)
		Set @OutRate = '1'
	Set @Quantity = @Quantity * @OutRate
	Insert into TBWorkPlanning
	Values(@ItemNum, @ProcessSequenceNum, @ProcessCode,'외주',
		@Quantity, @Lvl,@Path )
	
	--
END
GO
