USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[WorkOrderPC_OrderCancel]    Script Date: 07/02/2026 08:48:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   proc [dbo].[WorkOrderPC_OrderCancel]
(
	@WCDailyWorkPlanHistoryIndex int
,	@RegistID varchar(50)
)
as
begin
	declare @RegistName varchar(50)
	set @RegistName = (select name from ui_mt where recodingstate = 1 and id = @RegistID)
	Update wdwp_ht set ProgressCondition = '대기' where WCDailyWorkPlanHistoryIndex = @WCDailyWorkPlanHistoryIndex
end
GO
