USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[SPSurplusStockTableMaking]    Script Date: 07/02/2026 08:48:43 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE       PROCEDURE [dbo].[SPSurplusStockTableMaking] AS
	--영업창고 잉여테이블 생성
	delete From TBSurplusStock
	insert into TBSurplusStock
	Select B.ItemNum, Sum(StockQuantity12) as  Quatity
	From BS_MT B inner join  II_MT I  on B.ItemNum = I.ItemNum
	Where B.RecodingState  = 1 and I.RecodingState = 1 and I.PropertyClassification = '상품'
	group by B.ItemNum
	order by B.ItemNum
GO
