USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[EtcBuyingDelivery_Update]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE                     proc [dbo].[EtcBuyingDelivery_Update]
(
	  @BusinessRegNum varchar(50)
	, @OrderQuantity decimal(20, 3)		-- 발주수량
	, @ExistingQuantity decimal(20, 3)		-- 기존 납품수량
	, @DeliveryQuantity decimal(20, 3)		-- 수정된 수량
	, @ApplyUnitCost decimal(20, 3)		-- 개별단가
	, @UpdatingPersonID varchar(50)		-- 수정자ID
	, @EtcBuyingDeliveryHistoryIndex int
	, @EtcBuyingOrderHistoryIndex int
	,@DeliveryDemandDate smalldatetime
	,@UpdateRegion varchar(50)
	,@CompanyName varchar(50)
	,@ItemNum varchar(50)
	, @DeliveryYear int
	, @DeliveryMon int
	, @OldYear int
	, @OldMon int
	, @ReasonCode varchar(20)
	, @ReasonName varchar(20)
	
)
as
begin
	declare @month smallint
	declare @Year int
	declare @SQL varchar(8000)
	declare @SQL1 varchar(8000)
	declare @UpdatingPerson varchar(50)
	set 	@UpdatingPerson = (select Name from ui_mt where id = @UpdatingPersonID and RecodingState = 1)
	declare @BeforeApplyUnitCost decimal(18,2)
	set	@BeforeApplyUnitCost = (Select ApplyUnitCost From EtcBD_HT where EtcBuyingDeliveryHistoryIndex = @EtcBuyingDeliveryHistoryIndex )
	-- 납품원장 수정
	update EtcBD_HT set  [Year] = @DeliveryYear, [Month] = @DeliveryMon, DeliveryQuantity = @DeliveryQuantity, ApplyUnitCost = @ApplyUnitCost, TotalCost = (@DeliveryQuantity * @ApplyUnitCost), DeliveryDemandDate = @DeliveryDemandDate
			,ReasonCode = @ReasonCode, ReasonName = @ReasonName, UpdatingPerson = @UpdatingPerson, UpdatingPersonID = @UpdatingPersonID, UpdatingDate = getdate()
	where EtcBuyingDeliveryHistoryIndex = @EtcBuyingDeliveryHistoryIndex
	--구매이력원장생성
	Insert into BOS_HT (ItemNum
			,ItemDrawNum
			,ItemName
			,ProcessSequenceNum
			,ProcessCode
			,ProcessName
			,CompanyName
			, BusinessRegistrationNum
			,Quantity
			,UnitCost
			,UpdateHistoryReason
			, [Date]
			,UpdatePerson
			, UpdatePersonID
			,HistoryDivision
			,HistoryIndex) 
	values(
		@ItemNum
		,@ItemNum
		,@ItemNum
		,null
		,''
		,''
		,@CompanyName
		,@BusinessRegNum
		,@DeliveryQuantity
		,@ApplyUnitCost
		,@UpdateRegion
		,@DeliveryDemandDate
		,@UpdatingPerson
		, @UpdatingPersonID
		,'기타구매'
		,@EtcBuyingDeliveryHistoryIndex
	)
	-- 의뢰원장 수정
	declare @RemainQuantity  decimal(20, 3)
	declare @UpdateQuantity   decimal(20, 3)
	-- 기존 잔량 가져오기
	set @RemainQuantity = (select RemainQuantity from EtcBO_HT where EtcBuyingOrderHistoryIndex = @EtcBuyingOrderHistoryIndex)
	-- 잔량에 (기존납품수량 - 수정수량)을 누적
	set @UpdateQuantity = @RemainQuantity + (@ExistingQuantity - @DeliveryQuantity)
	if (  @UpdateQuantity < 0  or  @UpdateQuantity = 0 )
	begin
		-- 잔량이 0 이거나 0 보다 작다면 완료로 수정
		update EtcBO_HT set RemainQuantity = @UpdateQuantity, RecodingState = '완료'
		where EtcBuyingOrderHistoryIndex = @EtcBuyingOrderHistoryIndex
	end
	else if ( @UpdateQuantity = @OrderQuantity )
	begin
		-- 잔량이 발주 수량과 같다면 
		update EtcBO_HT set RemainQuantity = @UpdateQuantity, RecodingState = '대기'
		where EtcBuyingOrderHistoryIndex = @EtcBuyingOrderHistoryIndex
	end
	else if ( @UpdateQuantity < @OrderQuantity  and @UpdateQuantity > 0 )
	begin
		-- 잔량이 발주수량보다 적으나 0 보다 크다면.
		update EtcBO_HT set RemainQuantity = @UpdateQuantity, RecodingState = '진행'
		where EtcBuyingOrderHistoryIndex = @EtcBuyingOrderHistoryIndex
	end
	declare @TotalCost decimal(18, 2)
	declare @BeforeTotalCost decimal(18,2)
	
	set @TotalCost = (@DeliveryQuantity*@ApplyUnitCost)
	set @BeforeTotalCost = (@ExistingQuantity*@BeforeApplyUnitCost)
	SET @Year = @OldYear
	SET @Month = @OldMon
	SET @SQL = 'UPDATE BSI_MT SET  TotalBuyingCost' + cast(@Month as varchar) + ' = (TotalBuyingCost' + cast(@Month as varchar) + ' - ' + cast(@BeforeTotalCost as varchar(20)) + '),   
	UnPaymentMoney' + cast(@Month as varchar) + ' = ( UnPaymentMoney' + cast(@Month as varchar) + ' - ' + cast(@BeforeTotalCost as varchar(20)) + ') '						
	SET @Month = @Month + 1
	While( @Month < 13 )
	BEGIN
		SET @SQL = @SQL + ' , TotalBuyingCost' + cast(@Month as varchar) + ' = ( TotalBuyingCost' + cast(@Month as varchar) + ' - ' + cast( @BeforeTotalCost as varchar(20) ) + ') 
		, UnPaymentMoney' + cast(@Month as varchar) + ' = ( UnPaymentMoney' + cast(@Month as varchar) + ' - ' + cast(@BeforeTotalCost as varchar(20)) + ')'
		SET @Month = @Month + 1
	END
	SET @SQL = @SQL + ' WHERE RecodingState = 1 and  [Year] =  '+cast(@Year as varchar(5))+' and  BusinessRegistrationNum = ''' + @BusinessRegNum + '''';
		
	declare @NowYear	int
	Set @NowYear = (Select datepart(yy,getdate()))
		while(@Year < @NowYear)
		begin
			set @SQL = @SQL + ' UPDATE BSI_MT SET TotalBuyingCost1 = TotalBuyingCost1 -'+cast(@BeforeTotalCost as varchar(30))+',
					TotalBuyingCost2 = TotalBuyingCost2 -'+cast(@BeforeTotalCost as varchar(30))+', 
					TotalBuyingCost3 = TotalBuyingCost3 - '+cast(@BeforeTotalCost as varchar(30))+', 
					TotalBuyingCost4 = TotalBuyingCost4 - '+cast(@BeforeTotalCost as varchar(30))+', 
					TotalBuyingCost5 = TotalBuyingCost5 - '+cast(@BeforeTotalCost as varchar(30))+', 
					TotalBuyingCost6 = TotalBuyingCost6 - '+cast(@BeforeTotalCost as varchar(30))+', 
					TotalBuyingCost7 = TotalBuyingCost7 - '+cast(@BeforeTotalCost as varchar(30))+', 
					TotalBuyingCost8 = TotalBuyingCost8 - '+cast(@BeforeTotalCost as varchar(30))+', 
					TotalBuyingCost9 = TotalBuyingCost9 - '+cast(@BeforeTotalCost as varchar(30))+', 
					TotalBuyingCost10 = TotalBuyingCost10 - '+cast(@BeforeTotalCost as varchar(30))+', 
					TotalBuyingCost11 = TotalBuyingCost11 - '+cast(@BeforeTotalCost as varchar(30))+', 
					TotalBuyingCost12 = TotalBuyingCost12 - '+cast(@BeforeTotalCost as varchar(30))+', 
					UnPaymentMoney1 = UnPaymentMoney1 - '+cast(@BeforeTotalCost as varchar(30))+', 
					UnPaymentMoney2 = UnPaymentMoney2 - '+cast(@BeforeTotalCost as varchar(30))+', 
					UnPaymentMoney3 = UnPaymentMoney3 - '+cast(@BeforeTotalCost as varchar(30))+', 
					UnPaymentMoney4 = UnPaymentMoney4 - '+cast(@BeforeTotalCost as varchar(30))+', 
					UnPaymentMoney5 = UnPaymentMoney5 - '+cast(@BeforeTotalCost as varchar(30))+', 
					UnPaymentMoney6 = UnPaymentMoney6  -'+cast(@BeforeTotalCost as varchar(30))+', 
					UnPaymentMoney7 = UnPaymentMoney7 - '+cast(@BeforeTotalCost as varchar(30))+', 
					UnPaymentMoney8 = UnPaymentMoney8 - '+cast(@BeforeTotalCost as varchar(30))+', 
					UnPaymentMoney9 = UnPaymentMoney9 - '+cast(@BeforeTotalCost as varchar(30))+', 
					UnPaymentMoney10 = UnPaymentMoney10 - '+cast(@BeforeTotalCost as varchar(30))+', 
					UnPaymentMoney11 = UnPaymentMoney11 - '+cast(@BeforeTotalCost as varchar(30))+', 
					UnPaymentMoney12 = UnPaymentMoney12 - '+cast(@BeforeTotalCost as varchar(30))+'  where   [Year] =  '+cast(@Year as varchar(5))+' and  BusinessRegistrationNum = ''' + @BusinessRegNum + '''';
			Set @Year = @Year+1
		end
	exec(@SQL)
	SET @Year = @DeliveryYear
	SET @Month = @DeliveryMon
	Set @NowYear = (Select datepart(yy,getdate()))
	SET @SQL1 =  'UPDATE BSI_MT SET  TotalBuyingCost' + cast(@Month as varchar) + ' = (TotalBuyingCost' + cast(@Month as varchar) + ' + ' + cast(@TotalCost as varchar(20)) + '),   
	UnPaymentMoney' + cast(@Month as varchar) + ' = ( UnPaymentMoney' + cast(@Month as varchar) + ' + ' + cast(@TotalCost as varchar(20)) + ') '						
	SET @Month = @Month + 1
	While( @Month < 13 )
	BEGIN
		SET @SQL1 = @SQL1 + ' , TotalBuyingCost' + cast(@Month as varchar) + ' = ( TotalBuyingCost' + cast(@Month as varchar) + ' + ' + cast( @TotalCost as varchar(20) ) + ') 
		, UnPaymentMoney' + cast(@Month as varchar) + ' = ( UnPaymentMoney' + cast(@Month as varchar) + ' + ' + cast(@TotalCost as varchar(20)) + ')'
		SET @Month = @Month + 1
	END
	SET @SQL1 = @SQL1 + ' WHERE RecodingState = 1 and   [Year] =  '+cast(@Year as varchar(5))+' and  BusinessRegistrationNum = ''' + @BusinessRegNum + '''';
		
	
	
		while(@Year < @NowYear)
		begin
			set @SQL1 = @SQL1 + ' UPDATE BSI_MT SET TotalBuyingCost1 = TotalBuyingCost1 +'+cast(@TotalCost as varchar(30))+',
					TotalBuyingCost2 = TotalBuyingCost2 +'+cast(@TotalCost as varchar(30))+', 
					TotalBuyingCost3 = TotalBuyingCost3 + '+cast(@TotalCost as varchar(30))+', 
					TotalBuyingCost4 = TotalBuyingCost4 + '+cast(@TotalCost as varchar(30))+', 
					TotalBuyingCost5 = TotalBuyingCost5 + '+cast(@TotalCost as varchar(30))+', 
					TotalBuyingCost6 = TotalBuyingCost6 + '+cast(@TotalCost as varchar(30))+', 
					TotalBuyingCost7 = TotalBuyingCost7 + '+cast(@TotalCost as varchar(30))+', 
					TotalBuyingCost8 = TotalBuyingCost8 + '+cast(@TotalCost as varchar(30))+', 
					TotalBuyingCost9 = TotalBuyingCost9 + '+cast(@TotalCost as varchar(30))+', 
					TotalBuyingCost10 = TotalBuyingCost10 + '+cast(@TotalCost as varchar(30))+', 
					TotalBuyingCost11 = TotalBuyingCost11 + '+cast(@TotalCost as varchar(30))+', 
					TotalBuyingCost12 = TotalBuyingCost12 + '+cast(@TotalCost as varchar(30))+', 
					UnPaymentMoney1 = UnPaymentMoney1 + '+cast(@TotalCost as varchar(30))+', 
					UnPaymentMoney2 = UnPaymentMoney2 + '+cast(@TotalCost as varchar(30))+', 
					UnPaymentMoney3 = UnPaymentMoney3 + '+cast(@TotalCost as varchar(30))+', 
					UnPaymentMoney4 = UnPaymentMoney4 + '+cast(@TotalCost as varchar(30))+', 
					UnPaymentMoney5 = UnPaymentMoney5 + '+cast(@TotalCost as varchar(30))+', 
					UnPaymentMoney6 = UnPaymentMoney6 + '+cast(@TotalCost as varchar(30))+', 
					UnPaymentMoney7 = UnPaymentMoney7 + '+cast(@TotalCost as varchar(30))+', 
					UnPaymentMoney8 = UnPaymentMoney8 +'+cast(@TotalCost as varchar(30))+', 
					UnPaymentMoney9 = UnPaymentMoney9 +'+cast(@TotalCost as varchar(30))+', 
					UnPaymentMoney10 = UnPaymentMoney10 + '+cast(@TotalCost as varchar(30))+', 
					UnPaymentMoney11 = UnPaymentMoney11 + '+cast(@TotalCost as varchar(30))+', 
					UnPaymentMoney12 = UnPaymentMoney12 + '+cast(@TotalCost as varchar(30))+'  where   [Year] =  '+cast(@Year as varchar(5))+' and  BusinessRegistrationNum = ''' + @BusinessRegNum + '''';
			Set @Year = @Year+1
		end
	
	
	exec(@SQL1)
end
GO
