USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[UP_INSERT_HGUESTNEW]    Script Date: 07/02/2026 08:48:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE    PROC [dbo].[UP_INSERT_HGUESTNEW]
    @RegistrationPerson     Varchar(50),
    @Title			Varchar(100),
    @Contents		Varchar(7000),
    @Password		Varchar(50)
    
AS
    SET NOCOUNT ON
    DECLARE @NewHGuestIndex int
    SELECT @NewHGuestIndex = ISNULL(MAX(HGuestIndex),0) + 1000 FROM HG_T
    INSERT INTO HG_T 
        (HGuestIndex, depth, RegistrationPerson, Title, Contents, Password) 
    Values 
        (@NewHGuestIndex, 0, @RegistrationPerson, @Title, @Contents, @Password)
GO
