USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[BuyingIndex_Search]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE           proc [dbo].[BuyingIndex_Search]
									( 
										@BusinessRegistrationNum varchar(50) = ''
										, @CompanyName varchar(50) = ''
										, @ItemClassification1 varchar(15) = ''
										, @ItemClassification2 varchar(15) = ''
										, @ItemClassification3 varchar(15) = ''
										, @ItemClassification4 varchar(15) = ''
										, @BuyDiv varchar(10) = ''
									)
as
begin
-- Cursor 에서 Fetch 할 변수
declare @m_Month varchar(2)
declare @m_BusinessRegistrationNum varchar(50)
declare @m_CompanyName varchar(50)
declare @m_TotalCost decimal(20, 2)
-- Cursor 에서 Fetch 할 변수 끝
declare @SQL1  varchar(8000)
declare @SQL2  varchar(8000)
declare @SQL3  varchar(8000)
declare @SQL4  varchar(8000)
declare @i smallint 
declare @CompanyCount smallint
set @i = 0
set @SQL1 = ''
set @SQL2 = ''
set @SQL3 = ''
set @SQL4 = ''
IF exists (Select 1 From tempdb..sysobjects where name like '#Buy_Index%')
	DROP TABLE #Buy_Index
	create table #Buy_Index 
	( 
		CompanyName	varchar(50)			-- 거래처명
	,	PreYear decimal(20,2)	default 0		-- 전년도
	,	[Total] decimal(20,2)	default 0		-- 누계
	,	[1Month] decimal(20,2) 	default 0
	,	[2Month] decimal(20,2)	default 0
	,	[3Month] decimal(20,2)	default 0
	,	[4Month] decimal(20,2)	default 0
	,	[5Month] decimal(20,2)	default 0
	,	[6Month] decimal(20,2)	default 0
	,	[7Month] decimal(20,2)	default 0
	,	[8Month] decimal(20,2)	default 0
	,	[9Month] decimal(20,2)	default 0
	,	[10Month] decimal(20,2)	default 0
	,	[11Month] decimal(20,2)	default 0
	,	[12Month] decimal(20,2)	default 0
	)
	insert into  #Buy_Index (CompanyName) values('합 계')
DECLARE CUR CURSOR
READ_ONLY
FOR 
		select 
		case when b_ht.UpdatingDate is not null then datepart(mm, b_ht.UpdatingDate) else datepart(mm, b_ht.RegistrationDate) end
		,  b_ht.BusinessRegistrationNum
		, ci_mt.CompanyName
		, sum(totalcost) as TotalCost
		 FROM b_ht 
		INNER JOIN CI_MT
		ON b_ht.BusinessRegistrationNum = CI_MT.BusinessRegistrationNum
		INNER JOIN II_MT
		on ii_mt.itemnum = b_ht.itemnum
		inner join puc_mt
		on puc_mt.SmallClassificationCode = ii_mt.ItemClassification1
		and	(
		(	case 	when	( @ItemClassification1 <> '' )	then		puc_mt.SmallClassificationCode	else ''	end 	)
			=
		(	case 	when	( @ItemClassification1 <> '' )	then		@ItemClassification1 	else		''	end		)
			and
		(	case 	when	( @ItemClassification2 <> '' )	then		puc_mt.SmallClassificationCode	else		''	end		)
			=
		(	case 	when	( @ItemClassification2 <> '' )	then		@ItemClassification2 	else		''	end		)
			and
		(	case 	when	( @ItemClassification3 <> '' )	then		puc_mt.SmallClassificationCode	else		''	end		)
			=
		(	case 	when	( @ItemClassification3 <> '' )	then		@ItemClassification3 	else		''	end		)
			and
		(	case 	when	( @ItemClassification4 <> '' )	then		puc_mt.SmallClassificationCode	else		''	end		)
			=
		(	case 	when	( @ItemClassification4 <> '' )	then		@ItemClassification4 	else		''	end		)	)
		where (case when b_ht.UpdatingDate is not null then datepart(yy, b_ht.UpdatingDate) else datepart(yy, b_ht.RegistrationDate) end)  = ( select datepart(yy, getdate()) )
		and CI_MT.RecodingState =1 and puc_mt.recodingstate = 1 and ii_mt.recodingstate =1
		and
		(
			case 	when	( @BusinessRegistrationNum <> '' )	then		b_ht.BusinessRegistrationNum 	else		''	end		
		)
		=
		(
			case 	when	( @BusinessRegistrationNum <> '' )	then		@BusinessRegistrationNum 	else		''	end		
		)
		and
		(
			case 	when	( @BuyDiv = '상품' or @BuyDiv = '원자재')	then		ii_mt.PropertyClassification 	 when ( @BuyDiv = '외주' ) then b_ht.HistorySection  else		''	end		
		)
		=
		(
			case 	when	(  @BuyDiv = '상품'  or @BuyDiv = '원자재' ) 	then		@BuyDiv 	 when ( @BuyDiv = '외주' ) then '외주납품'  else		''	end		
		)
		and
		(
			case 	when	( @CompanyName <> '' )	then		Ci_MT.CompanyName 	else		''	end		
		)
		like
		(
			case 	when	( @CompanyName <> '' )	then		'%'+ @CompanyName+'%'  	else		''	end		
		)
		
		GROUP BY 
		case when b_ht.UpdatingDate is not null then datepart(mm, b_ht.UpdatingDate) else datepart(mm, b_ht.RegistrationDate) end
		, b_ht.BusinessRegistrationNum
		, ci_mt.CompanyName
		union all
		select 
		case when cl_ht.UpdatingDate is not null then datepart(mm, cl_ht.UpdatingDate) else datepart(mm, cl_ht.RegistrationDate) end
		,  cl_ht.BusinessRegistrationNum
		, ci_mt.CompanyName
		, -sum(ClaimCost) as TotalCost
		 FROM cl_ht 
		INNER JOIN CI_MT
		ON cl_ht.BusinessRegistrationNum = CI_MT.BusinessRegistrationNum
		INNER JOIN II_MT
		on ii_mt.itemnum = cl_ht.itemnum
		inner join puc_mt
		on puc_mt.SmallClassificationCode = ii_mt.ItemClassification1
		and	(
		(	case 	when	( @ItemClassification1 <> '' )	then		puc_mt.SmallClassificationCode	else ''	end 	)
			=
		(	case 	when	( @ItemClassification1 <> '' )	then		@ItemClassification1 	else		''	end		)
			and
		(	case 	when	( @ItemClassification2 <> '' )	then		puc_mt.SmallClassificationCode	else		''	end		)
			=
		(	case 	when	( @ItemClassification2 <> '' )	then		@ItemClassification2 	else		''	end		)
			and
		(	case 	when	( @ItemClassification3 <> '' )	then		puc_mt.SmallClassificationCode	else		''	end		)
			=
		(	case 	when	( @ItemClassification3 <> '' )	then		@ItemClassification3 	else		''	end		)
			and
		(	case 	when	( @ItemClassification4 <> '' )	then		puc_mt.SmallClassificationCode	else		''	end		)
			=
		(	case 	when	( @ItemClassification4 <> '' )	then		@ItemClassification4 	else		''	end		)	)
		where (case when cl_ht.UpdatingDate is not null then datepart(yy, cl_ht.UpdatingDate) else datepart(yy, cl_ht.RegistrationDate) end)  = ( select datepart(yy, getdate()) )
		and CI_MT.RecodingState =1 and puc_mt.recodingstate = 1 and ii_mt.recodingstate =1
		and
		(
			case 	when	( @BusinessRegistrationNum <> '' )	then		cl_ht.BusinessRegistrationNum 	else		''	end		
		)
		=
		(
			case 	when	( @BusinessRegistrationNum <> '' )	then		@BusinessRegistrationNum 	else		''	end		
		)
		and		
		(
			case 	when	( @CompanyName <> '' )	then		Ci_MT.CompanyName 	else		''	end		
		)
		like
		(
			case 	when	( @CompanyName <> '' )	then		'%'+ @CompanyName+'%'  	else		''	end		
		)
		
		GROUP BY 
		case when cl_ht.UpdatingDate is not null then datepart(mm, cl_ht.UpdatingDate) else datepart(mm, cl_ht.RegistrationDate) end
		, cl_ht.BusinessRegistrationNum
		, ci_mt.CompanyName
open	CUR
IF( @@CURSOR_ROWS <> 0 )
BEGIN
		WHILE ( @i < @@CURSOR_ROWS)
		BEGIN
				fetch from CUR into 	@m_Month	,	@m_BusinessRegistrationNum,		@m_CompanyName,	@m_TotalCost
				IF	( @@FETCH_STATUS = 0 )		-- 정상적으로 읽었으면
				BEGIN
					if ( not exists(select companyname from #Buy_Index where companyname = @m_CompanyName) )
					begin
						insert into  #Buy_Index (CompanyName) values(@m_CompanyName)
					end
					-- 해당업체의 해당월에 업데이트
					set @SQL1 = ' update #Buy_Index set [' + @m_Month + 'month] =  [' + @m_Month + 'month] + ' + cast(@m_TotalCost as varchar(20)) +' where CompanyName = ''' +@m_CompanyName+''' '
					-- 합계행의 해당월에 업데이트
					set @SQL1 = @SQL1 + ' update #Buy_Index set [' + @m_Month + 'month] =  [' + @m_Month + 'month] + ' + cast( @m_TotalCost as varchar(20) ) +' where  CompanyName = ''합 계'''
			
					-- 해당업체의 total 컬럼 업데이트
					set @SQL1 = @SQL1 + ' update #Buy_Index set [Total] = [Total] + '+ cast(@m_TotalCost as varchar(20)) + ' where CompanyName = ''' +@m_CompanyName+''' '
					-- 합계행의 total 컬럼 업테이트
					set @SQL1 = @SQL1 +  ' update #Buy_Index set [Total] = [Total] + '+ cast( @m_TotalCost as varchar(20) ) + ' where CompanyName = ''합 계'''
					
				END
				exec (@sql1 )
		set @i = @i +1
		END
END
CLOSE 				CUR
DEALLOCATE CUR
-- =============================================
-- 임시 테이블 데이터 채우기 끝
-- =============================================
-- 실행
select 
		CompanyName	[거래처명]
	,	PreYear 		[전년도]
	,	[Total]		[누계]
	,	[1Month] 		[1월]
	,	[2Month]		[2월]
	,	[3Month]		[3월]
	,	[4Month]	 	[4월]
	,	[5Month]	 	[5월]
	,	[6Month]	 	[6월]
	,	[7Month]	 	[7월]
	,	[8Month]	 	[8월]
	,	[9Month] 		[9월]
	,	[10Month]		[10월]
	,	[11Month]		[11월]
	,	[12Month]		[12월]
	from #Buy_Index
end
GO
