USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[ProductivityIndex_Search]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--생산성지표
CREATE         proc [dbo].[ProductivityIndex_Search] ( @WCname varchar(50) = '' , @wcinfoindex int = '' )
as
begin
	IF exists (Select 1 From tempdb..sysobjects where name like '#PRoIndex%')
	DROP TABLE #PRoIndex
	create table #PRoIndex 
	( 
			Div1	varchar(20)			-- 구분1 ( 합계, WC1, WC2... )
		,	Div2   varchar(20)				-- 구분2 ( 가동률, 계획시간, 작업시간 )
		,	PreYear decimal(20,2)	default 0		-- 전년도
		,	[Total] decimal(20,2)	default 0		-- 누계
		,	[1Month] decimal(20,2) 	default 0
		,	[2Month] decimal(20,2)	default 0
		,	[3Month] decimal(20,2)	default 0
		,	[4Month] decimal(20,2)	default 0
		,	[5Month] decimal(20,2)	default 0
		,	[6Month] decimal(20,2)	default 0
		,	[7Month] decimal(20,2)	default 0
		,	[8Month] decimal(20,2)	default 0
		,	[9Month] decimal(20,2)	default 0
		,	[10Month] decimal(20,2)	default 0
		,	[11Month] decimal(20,2)	default 0
		,	[12Month] decimal(20,2)	default 0
	)
	insert into #PRoIndex ( Div1, Div2 ) values( '합 계' , '작업효율(%)')
	insert into #PRoIndex ( Div1, Div2 ) values( '합 계' , '표준시간')
	insert into #PRoIndex ( Div1, Div2 ) values( '합 계' , '작업시간')
	declare @m_Month varchar(3)
	declare @m_TotalWorkTime decimal(20, 2)
	declare @m_RealWorkTime decimal(20, 2)
	declare @m_WCName varchar(50)
	declare @SQL varchar(8000)
	declare @i int
	set @i = 0
	set @SQL = ''
		declare CUR INSENSITIVE cursor
		for
/*
			declare @WCname varchar(20)
			declare @WCinfoindex int 
			set @WCinfoindex = ''
			set @WCname = ''
*/
			select 
			WCName 
			, datepart(mm, WorkEndTime)as 월
			, sum(    DATEDIFF( minute, WorkBeginTime, WorkEndTime  )   )as [총 작업시간]
			, sum(   
				( case when NonWorkTime1 is not null or NonWorkTime1 <> ''  then DATEDIFF( minute, WorkBeginTime, WorkEndTime  ) - ( cast(nonworktime1 as int ) )
				   when NonWorkTime2 is not null   or NonWorkTime2  <> '' then  DATEDIFF( minute, WorkBeginTime, WorkEndTime  ) - ( cast(nonworktime1 as int ) - cast(nonworktime2 as int ) )
				   when NonWorkTime3 is not null   or NonWorkTime3  <> '' then  DATEDIFF( minute, WorkBeginTime, WorkEndTime  ) - ( cast(nonworktime1 as int ) - cast(nonworktime2 as int ) - cast(nonworktime3 as int ) )
			            	   else  DATEDIFF( minute, WorkBeginTime, WorkEndTime  )
			
			end )  )   as [실 작업시간]
			from wdr_ht
			where
			(
				case  when @WCName <> ''  then WCName   else '' end
			)
			like
			(
				case  when @WCName <> ''  then  '%' + @WCName + '%'   else '' end
			)
			and
			(
				case  when @WCinfoindex <> ''  then WCinfoindex   else '' end
			)
			=
			(
				case  when @WCinfoindex <> ''  then  @WCinfoindex   else '' end
			)
			group by 
			WCName
			, datepart(mm, WorkEndTime)
			, datepart(YY, WorkEndTime)
		for Read Only
		open	CUR
		IF( @@CURSOR_ROWS <> 0 )
		BEGIN
				WHILE ( @i < @@CURSOR_ROWS)
				BEGIN
						fetch from CUR into 	@m_WCname , @m_Month , @m_TotalWorkTime, @m_RealWorkTime
						IF	( @@FETCH_STATUS = 0 )		-- 정상적으로 읽었으면
						BEGIN
							if ( not exists ( select div1 from #PRoIndex where div1 = @m_WCname ) )
							begin
								insert into #PRoIndex( div1, div2 ) values( @m_WCname, '작업효율(%)' )
								insert into #PRoIndex( div1, div2 ) values( @m_WCname, '표준시간' )
								insert into #PRoIndex( div1, div2 ) values( @m_WCname, '작업시간' )
							end
							set @SQL = @SQL + ' update #PRoIndex set [' + @m_Month + 'month] =  [' + @m_Month + 'month] + ' + cast( @m_TotalWorkTime as varchar(10) ) + ' where div1 = ''' + @m_WCname + ''' and div2 = ''표준시간'' '
							set @SQL = @SQL + ' update #PRoIndex set [' + @m_Month + 'month] =  [' + @m_Month + 'month] + ' + cast( @m_RealWorkTime as varchar(10)) + ' where div1 = ''' + @m_WCname + ''' and div2 = ''작업시간'' '
							set @SQL = @SQL + ' update #PRoIndex set [' + @m_Month + 'month] =  [' + @m_Month + 'month] + ' + cast( @m_TotalWorkTime as varchar(10) ) + ' where div1 = ''합 계'' and div2 = ''표준시간'' '
							set @SQL = @SQL + ' update #PRoIndex set [' + @m_Month + 'month] =  [' + @m_Month + 'month] + ' + cast( @m_RealWorkTime as varchar(10)) + ' where div1 = ''합 계'' and div2 = ''작업시간'' '
							set @SQL = @SQL + ' update #PRoIndex set total =  total + ' + cast( @m_TotalWorkTime as varchar(10)) + ' where div1 = ''' + @m_WCname + ''' and div2 = ''표준시간'' '
							set @SQL = @SQL + ' update #PRoIndex set total =  total + ' + cast( @m_RealWorkTime as varchar(10)) + ' where div1 = ''' + @m_WCname + ''' and div2 = ''작업시간'' '						
							set @SQL = @SQL + ' update #PRoIndex set total =  total + ' + cast( @m_TotalWorkTime as varchar(10)) + ' where div1 = ''합 계'' and div2 = ''표준시간'' '
							set @SQL = @SQL + ' update #PRoIndex set total =  total + ' + cast( @m_RealWorkTime as varchar(10)) + ' where div1 = ''합 계'' and div2 = ''작업시간'' '
							exec (@SQL)
							set @SQL=''
						END
				set @i = @i +1
				END
		END
		CLOSE 				CUR
		DEALLOCATE CUR
select 
			Div1	 as [구분1]
		,	Div2    as [구분2]
		,	PreYear  as [전년도]
		,	[Total]  as [누계]
		,	[1Month]  as [1월]
		,	[2Month]  as [2월]
		,	[3Month]  as [3월]
		,	[4Month]  as [4월]
		,	[5Month]  as [5월]
		,	[6Month]  as [6월]
		,	[7Month]  as [7월]
		,	[8Month]  as [8월]
		,	[9Month]  as [9월]
		,	[10Month] as [10월]
		,	[11Month] as [11월]
		,	[12Month] as [12월]
from #PRoIndex
end
GO
