USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[SPTotalNeedCalculation2]    Script Date: 07/02/2026 08:48:43 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE      PROCEDURE [dbo].[SPTotalNeedCalculation2]  AS
	delete TBTotalNeedResult
	Insert into TBTotalNeedResult
	SELECT ItemNum, '0','14000000', isnull(sum(Quantity),0) 'Quantity'
	FROM TBTotalNeed
	Group by  ItemNum
GO
