USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[SPTransperState0]    Script Date: 07/02/2026 08:48:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE                   proc [dbo].[SPTransperState0]
(

		@Year varchar(10)
		, @Month varchar(10)
)
as
begin
	

	DECLARE @RC int
	--DECLARE @Year varchar(10)
	--DECLARE @Month varchar(10)
	--DECLARE @PrnLine nvarchar(4000)
	
	--Set @Year = '2009'
	--Set @Month = '5'
	
	EXEC @RC = [Sindong_ERP].[dbo].[SPTransperState] @Year, @Month
	
	--PRINT '저장 프로시저: Sindong_ERP.dbo.SPTransperState'
	--SELECT @PrnLine = '	반환 코드 = ' + CONVERT(nvarchar, @RC)
	--PRINT @PrnLine
	
	EXEC @RC = [Sindong_ERP].[dbo].[SPTransperState11] @Year, @Month
	--PRINT '저장 프로시저: Sindong_ERP.dbo.SPTransperState11'
	--SELECT @PrnLine = '	반환 코드 = ' + CONVERT(nvarchar, @RC)
	--PRINT @PrnLine
	
	
	EXEC @RC = [Sindong_ERP].[dbo].[SPTransperState12] @Year, @Month
	--PRINT '저장 프로시저: Sindong_ERP.dbo.SPTransperState12'
	--SELECT @PrnLine = '	반환 코드 = ' + CONVERT(nvarchar, @RC)
	--PRINT @PrnLine
	
	EXEC @RC = [Sindong_ERP].[dbo].[SPTransperState13] 
	--PRINT '저장 프로시저: Sindong_ERP.dbo.SPTransperState13'
	--SELECT @PrnLine = '	반환 코드 = ' + CONVERT(nvarchar, @RC)

	EXEC @RC = [Sindong_ERP].[dbo].[SPResultTransperState] 
	--PRINT '저장 프로시저: Sindong_ERP.dbo.SPResultTransperState'
	--SELECT @PrnLine = '	반환 코드 = ' + CONVERT(nvarchar, @RC)
end
GO
