USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[SPOutStoreQuantity]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPOutStoreQuantity] 
(
	@ItemNum varchar(150) = ''
	, @ItemDrawNum varchar(150) = ''
	, @ItemName varchar(150) = ''
	, @HiddenItem varchar(150) = ''
	, @BusinessRegistrationNum varchar(50) = ''
)
AS
BEGIN
	IF exists (Select 1 From tempdb..sysobjects where name like '#TempStoreQuantityTable%')
	DROP TABLE #TempStoreQuantityTable
		CREATE TABLE #TempStoreQuantityTable
		(
			[ItemDrawNum] [nvarchar] (150) COLLATE Korean_Wansung_CI_AS NULL ,
			[ItemName] [nvarchar] (150) COLLATE Korean_Wansung_CI_AS NULL ,
			[ItemNum] [nvarchar] (150) COLLATE Korean_Wansung_CI_AS NULL ,
			[ProcessName] [nvarchar] (50) COLLATE Korean_Wansung_CI_AS NULL ,
			[ProcessSequenceNum] [int] NULL , 
			[ProcessCode] [nvarchar] (50) COLLATE Korean_Wansung_CI_AS NULL ,
			[StockQuantity12] [decimal](20, 2) NULL ,
			[StockCost12] [decimal](20, 2) NULL ,
			[LastYearTransferQuantity] [decimal](20, 2) NULL ,
			[InStorehouseQuantity] [decimal](20, 2) NULL ,
			[OutStorehouseQuantity] [decimal](20, 2) NULL ,
			[StorehouseQuantity] [decimal](20, 2) NULL ,
			[CompanyName] [nvarchar] (50) COLLATE Korean_Wansung_CI_AS NULL ,
			[BusinessRegistrationNum] [nvarchar] (50) COLLATE Korean_Wansung_CI_AS NULL 
		)  



Declare @ProcessCode varchar(10)
Declare @StockQuantity decimal(20,2)
--자산분류
Declare @PropertyClassification nvarchar(15)
--창고년도
Declare @Year int
Set @Year = (datepart(year,getutcdate()))


	if(@HiddenItem = '')
	begin
		if(@BusinessRegistrationNum = '')
		begin		
			Insert into #TempStoreQuantityTable

			SELECT   II_MT.ItemDrawNum, II_MT.ItemName, II_MT.ItemNum
			, PUC_MT.SmallClassificationName AS ProcessName
			, OS_MT.ProcessSequenceNum, OS_MT.ProcessCode, OS_MT.StockQuantity12
			, ( (OS_MT.StockQuantity12 * ProgressRate/100) * (II_MT.StandardUnitCost) ) as StockCost12
			, LastYearTransferQuantity
			, (InStorehouseQuantity1 + InStorehouseQuantity2 + InStorehouseQuantity3 + InStorehouseQuantity4 + InStorehouseQuantity5 + InStorehouseQuantity6 + InStorehouseQuantity7 +  InStorehouseQuantity8 +  InStorehouseQuantity9 +  InStorehouseQuantity10 +  InStorehouseQuantity11 +  InStorehouseQuantity12 ) as 'InStorehouseQuantity'
			, (OutStorehouseQuantity1 + OutStorehouseQuantity2 + OutStorehouseQuantity3 + OutStorehouseQuantity4 + OutStorehouseQuantity5 + OutStorehouseQuantity6 + OutStorehouseQuantity7 +  OutStorehouseQuantity8 +  OutStorehouseQuantity9 +  OutStorehouseQuantity10 +  OutStorehouseQuantity11 +  OutStorehouseQuantity12 )  as 'OutStorehouseQuantity'
			, 0
			, CI_MT.CompanyName, CI_MT.BusinessRegistrationNum 
			FROM OS_MT
			INNER JOIN II_MT ON  II_MT.ItemNum = OS_MT.ItemNum 
			INNER JOIN PUC_MT ON OS_MT.ProcessCode =  PUC_MT.SmallClassificationCode 
			left outer JOIN PSI_MT on OS_MT.ItemNum = PSI_MT.ItemNum and OS_MT.ProcessCode = PSI_MT.ProcessCode
			INNER JOIN CI_MT ON OS_MT.BusinessRegistrationNum = CI_MT.BusinessRegistrationNum
			WHERE
			 II_MT.ItemNum Like '%'+ @ItemNum + '%' and
			 II_MT.ItemDrawNum Like '%'+ @ItemDrawNum + '%' and
			 II_MT.ItemName Like '%'+ @ItemName + '%' and 
			 OS_MT.BusinessRegistrationNum Like '%'+ @BusinessRegistrationNum + '%' and
			 [Year] = @Year AND
			 OS_MT.RecodingState = 1 and
			 II_MT.RecodingState = 1 and
			 CI_MT.RecodingState = 1 and
			 (StockQuantity12 !=0 or (InStorehouseQuantity1 + InStorehouseQuantity2 + InStorehouseQuantity3 + InStorehouseQuantity4 + InStorehouseQuantity5 + InStorehouseQuantity6 + InStorehouseQuantity7 +  InStorehouseQuantity8 +  InStorehouseQuantity9 +  InStorehouseQuantity10 +  InStorehouseQuantity11 +  InStorehouseQuantity12 ) != 0 or  (OutStorehouseQuantity1 + OutStorehouseQuantity2 + OutStorehouseQuantity3 + OutStorehouseQuantity4 + OutStorehouseQuantity5 + OutStorehouseQuantity6 + OutStorehouseQuantity7 +  OutStorehouseQuantity8 +  OutStorehouseQuantity9 +  OutStorehouseQuantity10 +  OutStorehouseQuantity11 +  OutStorehouseQuantity12 ) != 0 ) and
			 OS_MT.RecodingState = 1
			order by OS_MT.ItemNum, OS_MT.ProcessSequenceNum
		end
		else
		begin
			Insert into #TempStoreQuantityTable

			SELECT   II_MT.ItemDrawNum, II_MT.ItemName, II_MT.ItemNum
			, PUC_MT.SmallClassificationName AS ProcessName
			, OS_MT.ProcessSequenceNum, OS_MT.ProcessCode, OS_MT.StockQuantity12
			, ( (OS_MT.StockQuantity12 * ProgressRate/100) * (II_MT.StandardUnitCost) ) as StockCost12
			, LastYearTransferQuantity
			, (InStorehouseQuantity1 + InStorehouseQuantity2 + InStorehouseQuantity3 + InStorehouseQuantity4 + InStorehouseQuantity5 + InStorehouseQuantity6 + InStorehouseQuantity7 +  InStorehouseQuantity8 +  InStorehouseQuantity9 +  InStorehouseQuantity10 +  InStorehouseQuantity11 +  InStorehouseQuantity12 ) as 'InStorehouseQuantity'
			, (OutStorehouseQuantity1 + OutStorehouseQuantity2 + OutStorehouseQuantity3 + OutStorehouseQuantity4 + OutStorehouseQuantity5 + OutStorehouseQuantity6 + OutStorehouseQuantity7 +  OutStorehouseQuantity8 +  OutStorehouseQuantity9 +  OutStorehouseQuantity10 +  OutStorehouseQuantity11 +  OutStorehouseQuantity12 )  as 'OutStorehouseQuantity'
			, 0
			, CI_MT.CompanyName, CI_MT.BusinessRegistrationNum 
			FROM OS_MT
			INNER JOIN II_MT ON  II_MT.ItemNum = OS_MT.ItemNum 
			INNER JOIN PUC_MT ON OS_MT.ProcessCode =  PUC_MT.SmallClassificationCode 
			left outer JOIN PSI_MT on OS_MT.ItemNum = PSI_MT.ItemNum and OS_MT.ProcessCode = PSI_MT.ProcessCode
			INNER JOIN CI_MT ON OS_MT.BusinessRegistrationNum = CI_MT.BusinessRegistrationNum
			WHERE
			 II_MT.ItemNum Like '%'+ @ItemNum + '%' and
			 II_MT.ItemDrawNum Like '%'+ @ItemDrawNum + '%' and
			 II_MT.ItemName Like '%'+ @ItemName + '%' and 
			 OS_MT.BusinessRegistrationNum  = @BusinessRegistrationNum and
			 [Year] = @Year AND
			 OS_MT.RecodingState = 1 and
			 II_MT.RecodingState = 1 and
			 CI_MT.RecodingState = 1 and
			 (StockQuantity12 !=0 or (InStorehouseQuantity1 + InStorehouseQuantity2 + InStorehouseQuantity3 + InStorehouseQuantity4 + InStorehouseQuantity5 + InStorehouseQuantity6 + InStorehouseQuantity7 +  InStorehouseQuantity8 +  InStorehouseQuantity9 +  InStorehouseQuantity10 +  InStorehouseQuantity11 +  InStorehouseQuantity12 ) != 0 or  (OutStorehouseQuantity1 + OutStorehouseQuantity2 + OutStorehouseQuantity3 + OutStorehouseQuantity4 + OutStorehouseQuantity5 + OutStorehouseQuantity6 + OutStorehouseQuantity7 +  OutStorehouseQuantity8 +  OutStorehouseQuantity9 +  OutStorehouseQuantity10 +  OutStorehouseQuantity11 +  OutStorehouseQuantity12 ) != 0 ) and
			 OS_MT.RecodingState = 1
			order by OS_MT.ItemNum, OS_MT.ProcessSequenceNum
		end
	end
	else
	begin
		if(@BusinessRegistrationNum = '')
		begin
			Insert into #TempStoreQuantityTable

			SELECT   II_MT.ItemDrawNum, II_MT.ItemName, II_MT.ItemNum
			, PUC_MT.SmallClassificationName AS ProcessName
			, OS_MT.ProcessSequenceNum, OS_MT.ProcessCode, OS_MT.StockQuantity12
			, ( (OS_MT.StockQuantity12 * ProgressRate/100) * (II_MT.StandardUnitCost) ) as StockCost12
			, LastYearTransferQuantity
			, (InStorehouseQuantity1 + InStorehouseQuantity2 + InStorehouseQuantity3 + InStorehouseQuantity4 + InStorehouseQuantity5 + InStorehouseQuantity6 + InStorehouseQuantity7 +  InStorehouseQuantity8 +  InStorehouseQuantity9 +  InStorehouseQuantity10 +  InStorehouseQuantity11 +  InStorehouseQuantity12 ) as 'InStorehouseQuantity'
			, (OutStorehouseQuantity1 + OutStorehouseQuantity2 + OutStorehouseQuantity3 + OutStorehouseQuantity4 + OutStorehouseQuantity5 + OutStorehouseQuantity6 + OutStorehouseQuantity7 +  OutStorehouseQuantity8 +  OutStorehouseQuantity9 +  OutStorehouseQuantity10 +  OutStorehouseQuantity11 +  OutStorehouseQuantity12 )  as 'OutStorehouseQuantity'
			, 0
			, CI_MT.CompanyName, CI_MT.BusinessRegistrationNum 
			FROM OS_MT
			INNER JOIN II_MT ON  II_MT.ItemNum = OS_MT.ItemNum 
			INNER JOIN PUC_MT ON OS_MT.ProcessCode =  PUC_MT.SmallClassificationCode 
			left outer JOIN PSI_MT on OS_MT.ItemNum = PSI_MT.ItemNum and OS_MT.ProcessCode = PSI_MT.ProcessCode
			INNER JOIN CI_MT ON OS_MT.BusinessRegistrationNum = CI_MT.BusinessRegistrationNum
			WHERE
			 II_MT.ItemNum = @ItemNum and
			 OS_MT.BusinessRegistrationNum Like '%'+ @BusinessRegistrationNum + '%' and
			 [Year] = @Year AND
			 OS_MT.RecodingState = 1 and
			 II_MT.RecodingState = 1 and
			 CI_MT.RecodingState = 1 and
			 (StockQuantity12 !=0 or (InStorehouseQuantity1 + InStorehouseQuantity2 + InStorehouseQuantity3 + InStorehouseQuantity4 + InStorehouseQuantity5 + InStorehouseQuantity6 + InStorehouseQuantity7 +  InStorehouseQuantity8 +  InStorehouseQuantity9 +  InStorehouseQuantity10 +  InStorehouseQuantity11 +  InStorehouseQuantity12 ) != 0 or  (OutStorehouseQuantity1 + OutStorehouseQuantity2 + OutStorehouseQuantity3 + OutStorehouseQuantity4 + OutStorehouseQuantity5 + OutStorehouseQuantity6 + OutStorehouseQuantity7 +  OutStorehouseQuantity8 +  OutStorehouseQuantity9 +  OutStorehouseQuantity10 +  OutStorehouseQuantity11 +  OutStorehouseQuantity12 ) != 0 ) and
			 OS_MT.RecodingState = 1
			order by OS_MT.ItemNum, OS_MT.ProcessSequenceNum
		end
		else
		begin
			Insert into #TempStoreQuantityTable

			SELECT   II_MT.ItemDrawNum, II_MT.ItemName, II_MT.ItemNum
			, PUC_MT.SmallClassificationName AS ProcessName
			, OS_MT.ProcessSequenceNum, OS_MT.ProcessCode, OS_MT.StockQuantity12
			, ( (OS_MT.StockQuantity12 * ProgressRate/100) * (II_MT.StandardUnitCost) ) as StockCost12
			, LastYearTransferQuantity
			, (InStorehouseQuantity1 + InStorehouseQuantity2 + InStorehouseQuantity3 + InStorehouseQuantity4 + InStorehouseQuantity5 + InStorehouseQuantity6 + InStorehouseQuantity7 +  InStorehouseQuantity8 +  InStorehouseQuantity9 +  InStorehouseQuantity10 +  InStorehouseQuantity11 +  InStorehouseQuantity12 ) as 'InStorehouseQuantity'
			, (OutStorehouseQuantity1 + OutStorehouseQuantity2 + OutStorehouseQuantity3 + OutStorehouseQuantity4 + OutStorehouseQuantity5 + OutStorehouseQuantity6 + OutStorehouseQuantity7 +  OutStorehouseQuantity8 +  OutStorehouseQuantity9 +  OutStorehouseQuantity10 +  OutStorehouseQuantity11 +  OutStorehouseQuantity12 )  as 'OutStorehouseQuantity'
			, 0
			, CI_MT.CompanyName, CI_MT.BusinessRegistrationNum 
			FROM OS_MT
			INNER JOIN II_MT ON  II_MT.ItemNum = OS_MT.ItemNum 
			INNER JOIN PUC_MT ON OS_MT.ProcessCode =  PUC_MT.SmallClassificationCode 
			left outer JOIN PSI_MT on OS_MT.ItemNum = PSI_MT.ItemNum and OS_MT.ProcessCode = PSI_MT.ProcessCode
			INNER JOIN CI_MT ON OS_MT.BusinessRegistrationNum = CI_MT.BusinessRegistrationNum
			WHERE
			 II_MT.ItemNum = @ItemNum and
			 OS_MT.BusinessRegistrationNum = @BusinessRegistrationNum and
			 [Year] = @Year AND
			 OS_MT.RecodingState = 1 and
			 II_MT.RecodingState = 1 and
			 CI_MT.RecodingState = 1 and
			 (StockQuantity12 !=0 or (InStorehouseQuantity1 + InStorehouseQuantity2 + InStorehouseQuantity3 + InStorehouseQuantity4 + InStorehouseQuantity5 + InStorehouseQuantity6 + InStorehouseQuantity7 +  InStorehouseQuantity8 +  InStorehouseQuantity9 +  InStorehouseQuantity10 +  InStorehouseQuantity11 +  InStorehouseQuantity12 ) != 0 or  (OutStorehouseQuantity1 + OutStorehouseQuantity2 + OutStorehouseQuantity3 + OutStorehouseQuantity4 + OutStorehouseQuantity5 + OutStorehouseQuantity6 + OutStorehouseQuantity7 +  OutStorehouseQuantity8 +  OutStorehouseQuantity9 +  OutStorehouseQuantity10 +  OutStorehouseQuantity11 +  OutStorehouseQuantity12 ) != 0 ) and
			 OS_MT.RecodingState = 1
			order by OS_MT.ItemNum, OS_MT.ProcessSequenceNum
		end	
		
	end
	


			--커서 선언
			DECLARE cur CURSOR 
			FOR
			
			Select ItemNum, ProcessCode, BusinessRegistrationNum
			from #TempStoreQuantityTable
			
			--커서 오픈
			OPEN cur
			
			--첫 로우 FETCH
			FETCH NEXT FROM cur INTO @ItemNum, @ProcessCode, @BusinessRegistrationNum
			WHILE @@FETCH_STATUS = 0
			BEGIN
			--자산분류 가져오기
			Set @PropertyClassification = (Select PropertyClassification from II_MT where RecodingState =1 and ItemNum = @ItemNum)
			
			if(@PropertyClassification = '원자재')
			begin
				-- 원자재 창고에서 가져오기
				Set @StockQuantity = (Select StockQuantity12 from RMS_MT where RecodingState = 1 and [Year] = @Year and ItemNum = @ItemNum)
				Update #TempStoreQuantityTable set [StorehouseQuantity] = @StockQuantity where ItemNum = @ItemNum and ProcessCode = ProcessCode and BusinessRegistrationNum = @BusinessRegistrationNum
			end
			else if(@PropertyClassification = '반제품')
			begin
				-- 생산 창고에서 가져오기
				Set @StockQuantity = (Select StockQuantity12 from PS_MT where RecodingState = 1 and [Year] = @Year and ItemNum = @ItemNum and ProcessCode = @ProcessCode)
				Update #TempStoreQuantityTable set [StorehouseQuantity] = @StockQuantity where ItemNum = @ItemNum and ProcessCode = @ProcessCode and BusinessRegistrationNum = @BusinessRegistrationNum
			
			end
			else if(@PropertyClassification = '제품')
			begin
				-- 영업1창고에서 가져오기
				-- Set @StockQuantity = (Select StockQuantity12 from BS_MT where RecodingState = 1 and [Year] = @Year and ItemNum = @ItemNum and BusinessStorehouseNum = 1)
				-- 영업창고에서 가져오기
				Set @StockQuantity = (Select sum(StockQuantity12)  from BS_MT where RecodingState = 1 and [Year] = @Year and ItemNum = @ItemNum)
				
				-- 생산창고에서 가져와 누적하기				
				Set @StockQuantity = @StockQuantity + (Select StockQuantity12 from PS_MT where RecodingState = 1 and [Year] = @Year and ItemNum = @ItemNum and ProcessCode = @ProcessCode)
				
				Update #TempStoreQuantityTable set [StorehouseQuantity] = @StockQuantity where ItemNum = @ItemNum and ProcessCode = @ProcessCode and BusinessRegistrationNum = @BusinessRegistrationNum
			
			end
						
			--다음 로우 FEETCH - 루프
			FETCH NEXT FROM cur INTO @ItemNum, @ProcessCode, @BusinessRegistrationNum
			END
			--커서 CLOSE
			CLOSE cur
			
			--커서 DEALLOCATE
			DEALLOCATE cur
			

	Select * From #TempStoreQuantityTable
END
GO
