USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[EtcBuyingOrder_Regist]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE        proc [dbo].[EtcBuyingOrder_Regist]
(
	@itemNum varchar(50)
	, @ApplyUnitCost decimal(20, 3)
	, @OrderQuantity decimal(20, 3)
	, @TotalCost decimal(20, 3)
	, @CompanyName varchar(50)
	, @BusinessRegNum varchar(20)
	, @DeliveryDemandDate smalldatetime
	, @ReasonCode varchar(20)
	, @ReasonName varchar(20)
	, @RegistrationPersonID varchar(50)
)
as
begin
	declare @RegistrationPerson varchar(15)
	set 	@RegistrationPerson = (select Name from ui_mt where id = @RegistrationPersonID and RecodingState = 1)
	insert into EtcBO_HT( ItemName, CompanyName, BusinessRegistrationNum, OrderQuantity, RemainQuantity,
				ApplyUnitCost, TotalCost, DeliveryDemandDate, ReasonCode, ReasonName, RegistrationDate, RegistrationPerson, RegistrationPersonID  )
	values (
	@itemNum, @CompanyName, @BusinessRegNum, @OrderQuantity, @OrderQuantity, @ApplyUnitCost, @TotalCost, @DeliveryDemandDate, @ReasonCode, @ReasonName, getdate()
	, @RegistrationPerson, @RegistrationPersonID )
	select top 1
	ItemName
	, CompanyName
	, BusinessRegistrationNum
	, ApplyUnitCost
	, OrderQuantity
	, TotalCost
	, DeliveryDemandDate 
	, ReasonName
	, ReasonCode
	, EtcBuyingOrderHistoryIndex
	from EtcBO_HT 
	where EtcBuyingOrderHistoryIndex = (select @@identity)
end
GO
