USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[SPRecognition_Update]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE   PROCEDURE [dbo].[SPRecognition_Update] 
@Division varchar(10),
@HistoryIndex int,
@Recognition varchar(10)

AS

if(@Recognition = '승인')
begin
	if(@Division = '기타')
	 begin
		Update EtcBD_HT Set Recognition = '승인' where EtcBuyingDeliveryHistoryIndex = @HistoryIndex
	end
	else if(@Division = '부자재')
	begin
		Update SBD_HT Set Recognition = '승인' where SubBuyingDeliveryHistoryIndex = @HistoryIndex
	end
	else if(@Division ='공제')
	begin
		Update ECL_HT Set Recognition = '승인' where EtcClameHistoryIndex = @HistoryIndex
	end
	else
	begin
		Update QI_HT Set Recognition = '승인' where QualityInspectionHistoryIndex = @HistoryIndex
	end
end
else
begin
	if(@Division = '기타')
	 begin
		Update EtcBD_HT Set Recognition = '미승인' where EtcBuyingDeliveryHistoryIndex = @HistoryIndex
	end
	else if(@Division = '부자재')
	begin
		Update SBD_HT Set Recognition = '미승인' where SubBuyingDeliveryHistoryIndex = @HistoryIndex
	end
	else if(@Division ='공제')
	begin
		Update ECL_HT Set Recognition = '미승인' where EtcClameHistoryIndex = @HistoryIndex
	end
	else
	begin
		Update QI_HT Set Recognition = '미승인' where QualityInspectionHistoryIndex = @HistoryIndex
	end
end
GO
