USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[SPEtcOutStockQuantity]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE   PROCEDURE [dbo].[SPEtcOutStockQuantity]  
@ItemNum as varchar(100),
@Year as int,
@Month as int

 AS


--기타입출고 출고, 소진출고, 보용품출고(원자재만 해당)
	Select sum(EtcOutStockQuantity ) as EtcOutStockQuantity 
	From
	(
		Select isnull(Sum(InOutStorehouseQuantity) , 0)  as EtcOutStockQuantity From OIOS_HT where ItemNum  = @ItemNum and datepart(yy,InOutDate) =@Year and datepart(mm,InOutDate) = @Month and InOutStorehouseDistinction = '0'
		union all
		Select isnull(Sum(ExhaustQuantity) , 0)  as EtcOutStockQuantity From E_HT where ExhaustItemNum  = @ItemNum and datepart(yy,ExhaustDate) =@Year and datepart(mm,ExhaustDate) = @Month
		union all
		Select isnull(Sum(InstoreQuantity) , 0)  as EtcOutStockQuantity From AS_HT where ItemNum  = @ItemNum and datepart(yy,InstoreDate) =@Year and datepart(mm,InstoreDate) = @Month
	)T
GO
