USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[AutonomyInspectIndex_Search]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE                  proc [dbo].[AutonomyInspectIndex_Search]
(
------------------------ 자주검사지표-----------------------1111
		   @WCinfoindex smallint = 0		-- 작업장 키
		,  @WCName_arg varchar(50) = ''
		,  @ItemClassification1 varchar(15) = ''	-- 품목분류1  키
		,  @ItemClassification2 varchar(15) = ''	-- 품목분류2  키
		,  @ItemClassification3 varchar(15) = ''	-- 품목분류3  키
		,  @ItemClassification4 varchar(15) = ''	-- 품목분류4  키
)
as
begin
	declare @Month varchar(2)
	declare @UnSuitabilityQuantity varchar(20)
	declare @InspectionQuantity varchar(20)
	declare @PPM varchar(20)
	declare @i int
	set @i = 0
	declare @SQL1 varchar(7000)
	declare @SQL2 varchar(7000)
	declare @SQL3 varchar(7000)
	declare @SQL4 varchar(7000)
	declare @SQL5 varchar(7000)
	declare @SQL6 varchar(7000)
	declare @SQL7 varchar(7000)
	declare @SQL8 varchar(7000)
	declare @SQL9 varchar(7000)
	declare @WCname varchar(50)
	set @SQL1 = ''
	set @SQL2 = ''
	set @SQL3 = ''
	set @SQL4 = ''
	set @SQL5 = ''
	set @SQL6 = ''
	set @SQL7 = ''
	set @SQL8 = ''
	set @SQL9 = ''
	IF exists (Select 1 From tempdb..sysobjects where name like '#Index%')
		DROP TABLE #Index
		create table #Index 
		( 
			WCname	varchar(50)
		,	Div varchar(20)
		,	PreYear decimal(20,2)	default 0
		,	[Total] decimal(20,2)	default 0
		,	[1Month] decimal(20,2) 	default 0
		,	[2Month] decimal(20,2)	default 0
		,	[3Month] decimal(20,2)	default 0
		,	[4Month] decimal(20,2)	default 0
		,	[5Month] decimal(20,2)	default 0
		,	[6Month] decimal(20,2)	default 0
		,	[7Month] decimal(20,2)	default 0
		,	[8Month] decimal(20,2)	default 0
		,	[9Month] decimal(20,2)	default 0
		,	[10Month] decimal(20,2)	default 0
		,	[11Month] decimal(20,2)	default 0
		,	[12Month] decimal(20,2)	default 0
		)
		insert into  #Index (WCname, Div) values('합계', 'PPM')
		insert into  #Index (WCname, Div) values('합계', '부적합수량')
		insert into  #Index (WCname, Div) values('합계', '생산수량')
		declare CUR INSENSITIVE cursor
		for
			
			-- 디버깅시 아래의 주석을 풀고 커서질의를 따로 복사하여 디버깅 하시오.
			/*
				declare @ItemClassification1 varchar(20),@ItemClassification2 varchar(20),@ItemClassification3 varchar(20),@ItemClassification4 varchar(20), 
				@wcinfoindex int, @wcname varchar(20), @WCName_arg varchar(50)
				set @ItemClassification1 = ''
				set @ItemClassification2 = ''
				set @ItemClassification3 = ''
				set @ItemClassification4 = ''
				set @WCName_arg = ''
			*/
						
			select  
			  datepart(mm, wdr_ht.RegistrationDate) as 월 
			, sum(UnSuitabilityQuantity) as 부적합수량
			, sum(thisworkcompletionquantity) as 검사수량
			, cast(sum(UnSuitabilityQuantity) as  decimal(20,2))  / cast(sum(thisworkcompletionquantity) as decimal(20,2))  * 1000000   as  ppm
			, wcname
--			, case when  wdr_ht.updatingdate is null then datepart(YY, wdr_ht.RegistrationDate)  else datepart(YY, wdr_ht.updatingdate) end as 년 
			from wdr_ht  
			join II_mt 
			on ii_mt.itemnum = wdr_ht.itemnum
			join puc_mt
			on puc_mt.SmallClassificationCode = ii_mt.ItemClassification1
			and
			(
				(
					case 
					when	( @ItemClassification1 <> '' )
					then		ii_mt.ItemClassification1
					else		''
					end
				)
				=
				(
					case 
					when	( @ItemClassification1 <> '' )
					then		@ItemClassification1 
					else		''
					end
				)
				and
				(
					case 
					when	( @ItemClassification2 <> '' )
					then		ii_mt.ItemClassification2
					else		''
					end
				)
				=
				(
					case 
					when	( @ItemClassification2 <> '' )
					then		@ItemClassification2 
					else		''
					end
				)
				and
				(
					case 
					when	( @ItemClassification3 <> '' )
					then		ii_mt.ItemClassification3
					else		''
					end
				)
				=
				(
					case 
					when	( @ItemClassification3 <> '' )
					then		@ItemClassification3 
					else		''
					end
				)
				and
				(
					case 
					when	( @ItemClassification4 <> '' )
					then		ii_mt.ItemClassification4
					else		''
					end
				)
				=
				(
					case 
					when	( @ItemClassification4 <> '' )
					then		@ItemClassification4 
					else		''
					end
				)
			)
			where 
			(
				case  when @wcinfoindex <> '' then wcinfoindex else '' end
				=
				case  when @wcinfoindex <> '' then @wcinfoindex else '' end
				and
				case  when @WCName_arg <> '' then wcname else '' end
				like
				case  when @WCName_arg <> '' then '%' + @WCName_arg + '%'  else '' end
				and 
				( 
				    Datepart(YY,getdate()) 
				    =  
				    datepart(YY, wdr_ht.RegistrationDate)  
				)
			)
			group by 
			datepart(mm, wdr_ht.RegistrationDate)
			, datepart(YY, wdr_ht.RegistrationDate)
			, wcname
		for Read Only
		open	CUR
		IF( @@CURSOR_ROWS <> 0 )
		BEGIN
				WHILE ( @i < @@CURSOR_ROWS)
				BEGIN
						fetch from CUR into 	@Month , @UnSuitabilityQuantity, @InspectionQuantity, @PPM, @WCname
						IF	( @@FETCH_STATUS = 0 )		-- 정상적으로 읽었으면
						BEGIN
							if ( not exists (select wcname from #index where wcname = @WCname) )
							begin
								insert into  #Index (WCname, Div) values(@WCname, 'PPM')
								insert into  #Index (WCname, Div) values(@WCname, '부적합수량')
								insert into  #Index (WCname, Div) values(@WCname, '생산수량')								
							end
							-- 해당월의 해당 작업장에 부적합 수량 업데이트
							set @SQL1 = ' update #index set [' + @month + 'month] =  [' + @month + 'month] + ' + @UnSuitabilityQuantity +' where WCname = ''' +@wcname+''' and div = ''부적합수량'''
							-- 해당월의 해당 작업장에 PPM 업데이트
							set @SQL1 = @SQL1 + ' update #index set [' + @month + 'month] =  [' + @month + 'month] + ' + @PPM +' where WCname = ''' +@wcname+''' and div = ''PPM'''
							-- 해당월의 해당 작업장에 생산수량 업데이트
							set @SQL1 = @SQL1 +' update #index set [' + @month + 'month] =  [' + @month + 'month] + ' + @InspectionQuantity +' where WCname = ''' +@wcname+''' and div = ''생산수량'''
							
							-- total 컬럼 부적합수량 업데이트
							set @SQL1 = @SQL1 + ' update #index set [Total] = [Total] + '+ @UnSuitabilityQuantity + ' where WCname = ''' +@wcname+''' and div = ''부적합수량'''
							-- total 컬럼 PPM 업데이트
							--set @SQL = @SQL + ' update #index set [Total] = [Total] + '+ @PPM + ' where WCname = ''' +@wcname+''' and div = ''PPM'''							
							-- total 컬럼 생산수량 업데이트
							set @SQL1 = @SQL1 + ' update #index set [Total] = [Total] + '+ @InspectionQuantity + ' where WCname = ''' +@wcname+''' and div = ''생산수량'''							
							-- 해당 월 컬럼에 [합계 행의 부적합 수량 행] 에 부적합수량 누적
							set @SQL1 = @SQL1 + ' update #index set [' + @month + 'month] =  [' + @month + 'month] + ' + @UnSuitabilityQuantity +' where WCname = ''합계'' and div = ''부적합수량'''
							-- 해당 월 컬럼에 [합계 행의 생산 수량 행] 에 생산수량 누적
							set @SQL1 = @SQL1 + ' update #index set [' + @month + 'month] =  [' + @month + 'month] + ' + @InspectionQuantity +' where WCname = ''합계'' and div = ''생산수량'''
							-- [합계행의 부적합수량 행]에 total 컬럼에 부적합수량 누적
							set @SQL1 = @SQL1 + ' update #index set [Total] = [Total] + '+ @UnSuitabilityQuantity + ' where WCname = ''합계'' and div = ''부적합수량'''
							-- [합계행의 생산수량 행]에 total 컬럼에 생산수량 누적
							set @SQL1 = @SQL1 + ' update #index set [Total] = [Total] + '+ @InspectionQuantity + ' where WCname = ''합계'' and div = ''생산수량'''
						END
						exec (@SQL1)
						SET @SQL1 =''
					
				set @i = @i +1
				END
		END
		CLOSE 	CUR
		DEALLOCATE CUR
		
		select 
		wcname as [작업장 구분]
		,  Div as 구분
		, PreYear as 전년도
		, Total as 누계
		, [1Month] as [1월]
		, [2Month] as [2월]   
		, [3Month] as [3월]   
		, [4Month] as [4월]   
		, [5Month] as [5월]   
		, [6Month] as [6월]   
		, [7Month] as [7월]   
		, [8Month] as [8월]   
		, [9Month] as [9월]   
		, [10Month] as [10월]   
		, [11Month] as [11월]   
		, [12Month] as [12월]   
		from #index
end
GO
