USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[SPBuyingOrderDelivery]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE                                proc [dbo].[SPBuyingOrderDelivery] ( 
						  @ItemNum varchar(150) = '' 
						,  @ItemDrawNum varchar(150) = '' 
						,  @ItemName varchar(150) = '' 
						,  @hdItemNum varchar(150) = '' 
						,  @CompanyName varchar(50) = '' 
						,  @BusinessRegistrationNum varchar(50) = '' 
						,  @Division int
						,  @FromDate smalldatetime
						,  @ToDate smalldatetime
	)
as
/*

declare   @ItemNum varchar(150)
declare	 @ItemDrawNum varchar(150) 
declare	 @ItemName varchar(150) 
declare	 @CompanyName varchar(150) 
declare	 @BusinessRegistrationNum varchar(150) 
declare    @Division int
declare	 @FromDate smalldatetime
declare	 @ToDate smalldatetime
Set   @ItemNum = ''
Set	 @ItemDrawNum = ''
Set	 @ItemName = ''
Set	 @CompanyName =''
Set	 @BusinessRegistrationNum =''
Set          @Division = 0
Set	 @FromDate ='2010-09-30'
Set	 @ToDate =''

	if(@FromDate = '')
		Set @FromDate = '1900-01-01'
	if(@ToDate ='')
		Set @ToDate = '2076-01-01'

Select  OO_HT.CompanyName as CompanyName,  OO_HT.ItemNum as ItemNum, OO_HT.ItemDrawNum as ItemDrawNum, OO_HT.ItemName as ItemName
			, SmallClassificationName as Unit, II_MT.Standard as Standard , OO_HT.EndProcess as ProcessName
			, OO_HT.OrderQuantity as OrderQuantity, OO_HT.FirstDeliveryDemandDate as OrderDate, OSD_HT.DeliveryQuantity as  DeliveryQuantity
			, OSD_HT.ApplyUnitCost as UnitCost , OSD_HT.TotalCost as TotalCost, OSD_HT.DeliveryDate as DeliveryDate
			, (Select Sum(StockQuantity12) From PS_MT where PS_MT.RecodingState = 1 and PS_MT.ItemNum = OO_HT.ItemNum and PS_MT.ProcessCode = OO_HT.EndProcessCode and    PS_MT.Year =  DatePart(yyyy, getdate()) ) as NowStockQuantity
			, OSD_HT.OutSideOrderHistoryIndex , OO_HT.OutSideOrderHistoryIndex
			From OO_HT inner join  II_MT on OO_HT.ItemNum = II_MT.ItemNum
				inner join PUC_MT on II_MT.Unit = SmallClassificationCode
				left outer join OSD_HT on OO_HT.OutSideOrderHistoryIndex = OSD_HT.OutSideOrderHistoryIndex
			where II_MT.RecodingState = '1' and
			OSD_HT.ItemNum Like '%'+@ItemNum+'%' and OSD_HT.ItemDrawNum Like '%'+@ItemDrawNum+'%' and OSD_HT.ItemName Like '%'+@ItemName+'%' and 
			OSD_HT.CompanyName Like '%'+@CompanyName+'%' and OSD_HT.BusinessRegistrationNum Like '%'+@BusinessRegistrationNum+'%' and
			OSD_HT.DeliveryDate BETWEEN @FromDate AND @ToDate
			order by OSD_HT.CompanyName,  OSD_HT.ItemNum, OSD_HT.DeliveryDate , OSD_HT.OutSideOrderHistoryIndex desc


*/



	if(@FromDate = '')
		Set @FromDate = '1900-01-01'
	if(@ToDate ='')
		Set @ToDate = '2076-01-01'


if(@hdItemNum = '')
begin

	if(@BusinessRegistrationNum = '')
	begin
		if(@Division = 0)
		Begin	



			/*  구매발주대비 입고

		Select  BO_HT.CompanyName as CompanyName,  BO_HT.ItemNum as Num, BO_HT.ItemDrawNum as DrawNum, BO_HT.ItemName as Name, II_MT.Unit as Unit, II_MT.Standard as Standard
		, BO_HT.OrderQuantity as OrderQuantity, BO_HT.RegistrationDate as OrderDate
		, BD_HT.ApplyUnitCost as UnitCost , BD_HT.TotalCost as TotalCost, BD_HT.DeliveryDate as DeliveryDate
		, (Select Sum(StockQuantity12) From RMS_MT where RMS_MT.RecodingState = 1 and RMS_MT.ItemNum = BO_HT.ItemNum and RMS_MT.Year =  DatePart(yyyy, getdate()) ) as NowStockQuantity
		From BO_HT inner join  II_MT on BO_HT.ItemNum = II_MT.ItemNum
			left outer join BD_HT on BO_HT.BuyingOrderHistoryIndex = BD_HT.BuyingOrderHistoryIndex
		where II_MT.RecodingState = '1' and BD_HT.DeliveryDate >= '2011-09-01'






















			*/




			Select  BD_HT.CompanyName as CompanyName,  BD_HT.ItemNum as ItemNum, BD_HT.ItemDrawNum as ItemDrawNum, BD_HT.ItemName as ItemName
			, SmallClassificationName as Unit, II_MT.Standard as Standard ,  '소재' as ProcessName
			, BO_HT.OrderQuantity as OrderQuantity, BO_HT.RegistrationDate as OrderDate, BD_HT.DeliveryQuantity as  DeliveryQuantity
			, BD_HT.ApplyUnitCost as UnitCost , BD_HT.TotalCost as TotalCost, BD_HT.DeliveryDate as DeliveryDate
			, (Select Sum(StockQuantity12) From RMS_MT where RMS_MT.RecodingState = 1 and RMS_MT.ItemNum = BO_HT.ItemNum and RMS_MT.Year =  DatePart(yyyy, getdate()) ) as NowStockQuantity
			From BO_HT inner join  II_MT on BO_HT.ItemNum = II_MT.ItemNum
				inner join PUC_MT on II_MT.Unit = SmallClassificationCode
				right outer join BD_HT on BO_HT.BuyingOrderHistoryIndex = BD_HT.BuyingOrderHistoryIndex
			where II_MT.RecodingState = '1' and
			BD_HT.ItemNum Like '%'+@ItemNum+'%' and BD_HT.ItemDrawNum Like '%'+@ItemDrawNum+'%' and BD_HT.ItemName Like '%'+@ItemName+'%' and 
			BD_HT.CompanyName Like '%'+@CompanyName+'%' and BD_HT.BusinessRegistrationNum Like '%'+@BusinessRegistrationNum+'%' and
			BD_HT.DeliveryDate BETWEEN @FromDate AND @ToDate
			order by BD_HT.CompanyName,  BD_HT.ItemNum, BO_HT.RegistrationDate , BD_HT.DeliveryDate desc , BD_HT.BuyingOrderHistoryIndex desc
			
		end
		else if(@Division = 1)
		begin
			Select  OSD_HT.CompanyName as CompanyName,  OSD_HT.ItemNum as ItemNum, OSD_HT.ItemDrawNum as ItemDrawNum, OSD_HT.ItemName as ItemName
			, SmallClassificationName as Unit, II_MT.Standard as Standard , OO_HT.EndProcess as ProcessName
			, OO_HT.OrderQuantity as OrderQuantity, OO_HT.RegistrationDate as OrderDate, OSD_HT.DeliveryQuantity as  DeliveryQuantity
			, OSD_HT.ApplyUnitCost as UnitCost , OSD_HT.TotalCost as TotalCost, OSD_HT.DeliveryDate as DeliveryDate
			, (Select Sum(StockQuantity12) From PS_MT where PS_MT.RecodingState = 1 and PS_MT.ItemNum = OO_HT.ItemNum and PS_MT.ProcessCode = OO_HT.EndProcessCode and    PS_MT.Year =  DatePart(yyyy, getdate()) ) as NowStockQuantity			
			From OO_HT inner join  II_MT on OO_HT.ItemNum = II_MT.ItemNum
				inner join PUC_MT on II_MT.Unit = SmallClassificationCode
				right outer join OSD_HT on OO_HT.OutSideOrderHistoryIndex = OSD_HT.OutSideOrderHistoryIndex
			where II_MT.RecodingState = '1' and
			OSD_HT.ItemNum Like '%'+@ItemNum+'%' and OSD_HT.ItemDrawNum Like '%'+@ItemDrawNum+'%' and OSD_HT.ItemName Like '%'+@ItemName+'%' and 
			OSD_HT.CompanyName Like '%'+@CompanyName+'%' and OSD_HT.BusinessRegistrationNum Like '%'+@BusinessRegistrationNum+'%' and
			OSD_HT.DeliveryDate BETWEEN @FromDate AND @ToDate
			order by OSD_HT.CompanyName,  OSD_HT.ItemNum, OO_HT.RegistrationDate, OSD_HT.DeliveryDate desc , OSD_HT.OutSideOrderHistoryIndex desc

		end
		
	end
	else
	begin
		if(@Division = 0)
		Begin	
			Select  BD_HT.CompanyName as CompanyName,  BD_HT.ItemNum as ItemNum, BD_HT.ItemDrawNum as ItemDrawNum, BD_HT.ItemName as ItemName
			, SmallClassificationName as Unit, II_MT.Standard as Standard ,  '소재' as ProcessName
			, BO_HT.OrderQuantity as OrderQuantity, BO_HT.RegistrationDate as OrderDate, BD_HT.DeliveryQuantity as  DeliveryQuantity
			, BD_HT.ApplyUnitCost as UnitCost , BD_HT.TotalCost as TotalCost, BD_HT.DeliveryDate as DeliveryDate
			, (Select Sum(StockQuantity12) From RMS_MT where RMS_MT.RecodingState = 1 and RMS_MT.ItemNum = BO_HT.ItemNum and RMS_MT.Year =  DatePart(yyyy, getdate()) ) as NowStockQuantity
			From BO_HT inner join  II_MT on BO_HT.ItemNum = II_MT.ItemNum
				inner join PUC_MT on II_MT.Unit = SmallClassificationCode
				right outer join BD_HT on BO_HT.BuyingOrderHistoryIndex = BD_HT.BuyingOrderHistoryIndex
			where II_MT.RecodingState = '1' and
			 BD_HT.ItemNum Like '%'+@ItemNum+'%' and BD_HT.ItemDrawNum Like '%'+@ItemDrawNum+'%' and BD_HT.ItemName Like '%'+@ItemName+'%' and 
			BD_HT.BusinessRegistrationNum  = @BusinessRegistrationNum and
			BD_HT.DeliveryDate BETWEEN @FromDate AND @ToDate
			order by BD_HT.CompanyName,  BD_HT.ItemNum, BO_HT.RegistrationDate ,  BD_HT.DeliveryDate desc , BD_HT.BuyingOrderHistoryIndex desc
			
		end
		else if(@Division = 1)
		begin
			Select  OSD_HT.CompanyName as CompanyName,  OSD_HT.ItemNum as ItemNum, OSD_HT.ItemDrawNum as ItemDrawNum, OSD_HT.ItemName as ItemName
			, SmallClassificationName as Unit, II_MT.Standard as Standard , OO_HT.EndProcess as ProcessName
			, OO_HT.OrderQuantity as OrderQuantity, OO_HT.RegistrationDate as OrderDate, OSD_HT.DeliveryQuantity as  DeliveryQuantity
			, OSD_HT.ApplyUnitCost as UnitCost , OSD_HT.TotalCost as TotalCost, OSD_HT.DeliveryDate as DeliveryDate
			, (Select Sum(StockQuantity12) From PS_MT where PS_MT.RecodingState = 1 and PS_MT.ItemNum = OO_HT.ItemNum and PS_MT.ProcessCode = OO_HT.EndProcessCode and    PS_MT.Year =  DatePart(yyyy, getdate()) ) as NowStockQuantity			
			From OO_HT inner join  II_MT on OO_HT.ItemNum = II_MT.ItemNum
				inner join PUC_MT on II_MT.Unit = SmallClassificationCode
				right outer join OSD_HT on OO_HT.OutSideOrderHistoryIndex = OSD_HT.OutSideOrderHistoryIndex
			where II_MT.RecodingState = '1' and
			OSD_HT.ItemNum Like '%'+@ItemNum+'%' and OSD_HT.ItemDrawNum Like '%'+@ItemDrawNum+'%' and OSD_HT.ItemName Like '%'+@ItemName+'%' and 
			OSD_HT.BusinessRegistrationNum  = @BusinessRegistrationNum and 
			OSD_HT.DeliveryDate BETWEEN @FromDate AND @ToDate
			order by OSD_HT.CompanyName,  OSD_HT.ItemNum,OO_HT.RegistrationDate, OSD_HT.DeliveryDate desc , OSD_HT.OutSideOrderHistoryIndex desc
		end
		
		
	end

end
else
begin

	if(@BusinessRegistrationNum = '')
	begin
		if(@Division = 0)
		Begin	
			Select  BD_HT.CompanyName as CompanyName,  BD_HT.ItemNum as ItemNum, BD_HT.ItemDrawNum as ItemDrawNum, BD_HT.ItemName as ItemName
			, SmallClassificationName  as Unit, II_MT.Standard as Standard ,  '소재' as ProcessName
			, BO_HT.OrderQuantity as OrderQuantity, BO_HT.RegistrationDate as OrderDate, BD_HT.DeliveryQuantity as  DeliveryQuantity
			, BD_HT.ApplyUnitCost as UnitCost , BD_HT.TotalCost as TotalCost, BD_HT.DeliveryDate as DeliveryDate
			, (Select Sum(StockQuantity12) From RMS_MT where RMS_MT.RecodingState = 1 and RMS_MT.ItemNum = BO_HT.ItemNum and RMS_MT.Year =  DatePart(yyyy, getdate()) ) as NowStockQuantity
			From BO_HT inner join  II_MT on BO_HT.ItemNum = II_MT.ItemNum
				inner join PUC_MT on II_MT.Unit = SmallClassificationCode
				right outer join BD_HT on BO_HT.BuyingOrderHistoryIndex = BD_HT.BuyingOrderHistoryIndex
			where II_MT.RecodingState = '1' and
			 BD_HT.ItemNum  = @hdItemNum and 
			BD_HT.CompanyName Like '%'+@CompanyName+'%' and BD_HT.BusinessRegistrationNum Like '%'+@BusinessRegistrationNum+'%' and
			BD_HT.DeliveryDate BETWEEN @FromDate AND @ToDate
			order by BD_HT.CompanyName,  BD_HT.ItemNum, BO_HT.RegistrationDate ,  BD_HT.DeliveryDate desc , BD_HT.BuyingOrderHistoryIndex desc
			
		end
		else if(@Division = 1)
		begin
			Select  OSD_HT.CompanyName as CompanyName,  OSD_HT.ItemNum as ItemNum, OSD_HT.ItemDrawNum as ItemDrawNum, OSD_HT.ItemName as ItemName
			, SmallClassificationName as Unit, II_MT.Standard as Standard , OO_HT.EndProcess as ProcessName
			, OO_HT.OrderQuantity as OrderQuantity, OO_HT.RegistrationDate as OrderDate, OSD_HT.DeliveryQuantity as  DeliveryQuantity
			, OSD_HT.ApplyUnitCost as UnitCost , OSD_HT.TotalCost as TotalCost, OSD_HT.DeliveryDate as DeliveryDate
			, (Select Sum(StockQuantity12) From PS_MT where PS_MT.RecodingState = 1 and PS_MT.ItemNum = OO_HT.ItemNum and PS_MT.ProcessCode = OO_HT.EndProcessCode and    PS_MT.Year =  DatePart(yyyy, getdate()) ) as NowStockQuantity			
			From OO_HT inner join  II_MT on OO_HT.ItemNum = II_MT.ItemNum
				inner join PUC_MT on II_MT.Unit = SmallClassificationCode
				right outer join OSD_HT on OO_HT.OutSideOrderHistoryIndex = OSD_HT.OutSideOrderHistoryIndex
			where II_MT.RecodingState = '1' and
			OSD_HT.ItemNum  = @hdItemNum and 
			OSD_HT.CompanyName Like '%'+@CompanyName+'%' and OSD_HT.BusinessRegistrationNum Like '%'+@BusinessRegistrationNum+'%' and
			OSD_HT.DeliveryDate BETWEEN @FromDate AND @ToDate
			order by OSD_HT.CompanyName,  OSD_HT.ItemNum, OO_HT.RegistrationDate, OSD_HT.DeliveryDate desc , OSD_HT.OutSideOrderHistoryIndex desc

			
		end
		
	end
	else
	begin
		if(@Division = 0)
		Begin	
			Select  BD_HT.CompanyName as CompanyName,  BD_HT.ItemNum as ItemNum, BD_HT.ItemDrawNum as ItemDrawNum, BD_HT.ItemName as ItemName
			, SmallClassificationName  as Unit, II_MT.Standard as Standard ,  '소재' as ProcessName
			, BO_HT.OrderQuantity as OrderQuantity, BO_HT.RegistrationDate as OrderDate, BD_HT.DeliveryQuantity as  DeliveryQuantity
			, BD_HT.ApplyUnitCost as UnitCost , BD_HT.TotalCost as TotalCost, BD_HT.DeliveryDate as DeliveryDate
			, (Select Sum(StockQuantity12) From RMS_MT where RMS_MT.RecodingState = 1 and RMS_MT.ItemNum = BO_HT.ItemNum and RMS_MT.Year =  DatePart(yyyy, getdate()) ) as NowStockQuantity
			From BO_HT inner join  II_MT on BO_HT.ItemNum = II_MT.ItemNum
				inner join PUC_MT on II_MT.Unit = SmallClassificationCode
				right outer join BD_HT on BO_HT.BuyingOrderHistoryIndex = BD_HT.BuyingOrderHistoryIndex
			where II_MT.RecodingState = '1' and
			 BD_HT.ItemNum  = @hdItemNum and BD_HT.BusinessRegistrationNum  = @BusinessRegistrationNum and
			BD_HT.DeliveryDate BETWEEN @FromDate AND @ToDate
			order by BD_HT.CompanyName,  BD_HT.ItemNum, BO_HT.RegistrationDate , BD_HT.DeliveryDate desc , BD_HT.BuyingOrderHistoryIndex desc
			
		end
		else if(@Division = 1)
		begin
			
			Select  OSD_HT.CompanyName as CompanyName,  OSD_HT.ItemNum as ItemNum, OSD_HT.ItemDrawNum as ItemDrawNum, OSD_HT.ItemName as ItemName
			, SmallClassificationName as Unit, II_MT.Standard as Standard , OO_HT.EndProcess as ProcessName
			, OO_HT.OrderQuantity as OrderQuantity, OO_HT.RegistrationDate as OrderDate, OSD_HT.DeliveryQuantity as  DeliveryQuantity
			, OSD_HT.ApplyUnitCost as UnitCost , OSD_HT.TotalCost as TotalCost, OSD_HT.DeliveryDate as DeliveryDate
			, (Select Sum(StockQuantity12) From PS_MT where PS_MT.RecodingState = 1 and PS_MT.ItemNum = OO_HT.ItemNum and PS_MT.ProcessCode = OO_HT.EndProcessCode and    PS_MT.Year =  DatePart(yyyy, getdate()) ) as NowStockQuantity			
			From OO_HT inner join  II_MT on OO_HT.ItemNum = II_MT.ItemNum
				inner join PUC_MT on II_MT.Unit = SmallClassificationCode
				right outer join OSD_HT on OO_HT.OutSideOrderHistoryIndex = OSD_HT.OutSideOrderHistoryIndex
			where II_MT.RecodingState = '1' and
			OSD_HT.ItemNum  = @hdItemNum and 
			OSD_HT.BusinessRegistrationNum  = @BusinessRegistrationNum and 
			OSD_HT.DeliveryDate BETWEEN @FromDate AND @ToDate
			order by OSD_HT.CompanyName,  OSD_HT.ItemNum, OO_HT.RegistrationDate, OSD_HT.DeliveryDate desc , OSD_HT.OutSideOrderHistoryIndex desc
			
		end		
		
	end
end
GO
