USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[InOutquantity]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[InOutquantity]  AS
Select Identity(Int, 1,1) As RowNum 
          , ItemNum
          , SuitabilityQuantity
          , QualityInspectionCompleteDate
          , CompanyName
       Into #입고T
       From QI_HT where HistorySection1 like '구매%'
 
     Select Identity(Int, 1,1) As RowNum  
          , ItemNum     
          , SuitabilityQuantity    
          , SaleDate    
          , CompanyName
       Into #제품출고T
       From S_HT
   
    -- Null 만 처리하시면.....
       
     Select T1.ItemNum as InItemNum
          , T1.SuitabilityQuantity  as InQuantity  
          , T1.QualityInspectionCompleteDate  as InDate  
          , T1.CompanyName   as InCompanyName
          , T2.ItemNum     as OutItemNum
          , T2.SuitabilityQuantity    as OutQuantity
          , T2.SaleDate as OutDate
          , T2.CompanyName  as OutCompanyName
       From #입고T T1 Full Outer Join #제품출고T T2 On T1.RowNum = T2.RowNum
GO
