USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[SPSalePresentCondition]    Script Date: 07/02/2026 08:48:43 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE                   PROCEDURE [dbo].[SPSalePresentCondition] 
@ItemNum AS VARCHAR(50), 
@ItemDrawNum AS VARCHAR(50), 
@ItemName AS VARCHAR(50), 
@CompanyName AS varchar(50),
@BusinessRegistrationNum AS VARCHAR(30), 
@StartDate AS smalldatetime, 
@EndDate AS smalldatetime
 AS
/*
Declare @ItemNum AS VARCHAR(50)
Declare @ItemDrawNum AS VARCHAR(50)
Declare @ItemName AS VARCHAR(50)
Declare @CompanyName AS VARCHAR(50)
Declare @BusinessRegistrationNum AS VARCHAR(30)
Declare @StartDate AS smalldatetime
Declare @EndDate AS smalldatetime
set @ItemNum =''
set @ItemDrawNum =''
set @ItemName =''
set @CompanyName  =''
set @BusinessRegistrationNum  =''
set @StartDate =''
set @EndDate  =''
*/
	if(@StartDate = '')
		Set @StartDate = '1999-01-01'
	if(@EndDate = '')
		Set @EndDate = '2050-12-31'
IF exists (Select 1 From tempdb..sysobjects where name like '#SaleResultTemp%')
		DROP TABLE #SaleResultTemp
	CREATE TABLE #SaleResultTemp
	(
		CompanyName VARCHAR(50),
		BusinessRegistrationNum Varchar(20),
		ItemNum VARCHAR(50),		
		ItemDrawNum VARCHAR(50),	
		ItemName VARCHAR(50),
		SaleDate smalldatetime,
		SaleQuantity decimal(18,2),
		UnitCost decimal(18,2),
		TotalSaleCost decimal(18,2),
	)  
	INSERT INTO #SaleResultTemp
		Select CompanyName, BusinessRegistrationNum, ItemNum, ItemDrawNum, ItemName, SaleDate, avg(isnull(SuitabilityQuantity,0)), avg(isnull(ApplyUnitCost,0)), 
		avg(isnull(SuitabilityQuantity,0)) * avg(isnull(ApplyUnitCost,0)) as TotalSaleCost
		From S_HT 
		where ItemNum like '%'+@ItemNum+'%' and ItemDrawNum like '%'+@ItemDrawNum+'%'
		and ItemName like '%'+@ItemName+'%' and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
		and CompanyName like '%'+@CompanyName+'%'		
		and (SaleDate BETWEEN @StartDate and @EndDate) 
		Group by  CompanyName, BusinessRegistrationNum, ItemNum, ItemDrawNum, ItemName, SaleDate
		
	SELECT 
	CompanyName
	, BusinessRegistrationNum
	, ItemNum
	, ItemName 
	, SaleDate
	--, UnitCost
	, SaleQuantity
	, TotalSaleCost
 FROM 
(
	SELECT 
	CompanyName
	, BusinessRegistrationNum
	, ItemNum
	, ItemName
	, SaleDate
	, SaleQuantity
	, TotalSaleCost
	, BusinessRegistrationNum as Num
	FROM #SaleResultTemp
	UNION ALL
	SELECT 
	NULL
	,  '소 계'	
	, NULL
	, '소 계'
	, NULL
	, Sum(SaleQuantity)
	, Sum(TotalSaleCost)
	, BusinessRegistrationNum as Num
	FROM #SaleResultTemp
	GROUP BY BusinessRegistrationNum
	UNION ALL
	SELECT 
	NULL
	, NULL
	, '총 계'
	, NULL
	, NULL
	, Sum(SaleQuantity)
	, Sum(TotalSaleCost)
	, '999' as Num
	FROM #SaleResultTemp
	
) T
ORDER BY Num, BusinessRegistrationNum, SaleDate
GO
