USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[SPDeleteOS_MT]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE                     PROCEDURE [dbo].[SPDeleteOS_MT] 
 AS
	if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[OS_MT]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[OS_MT]
CREATE TABLE [dbo].[OS_MT] (
	[ItemNum] [nvarchar] (50) COLLATE Korean_Wansung_CI_AS NULL ,
	[ProcessSequenceNum] [tinyint] NULL ,
	[ProcessCode] [nvarchar] (50) COLLATE Korean_Wansung_CI_AS NULL ,
	[BusinessRegistrationNum] [nvarchar] (50) COLLATE Korean_Wansung_CI_AS NULL ,
	[LastYearTransferQuantity] [decimal](20, 2) NULL ,
	[LastYearTransferCost] [decimal](20, 2) NULL ,
	[InStorehouseQuantity1] [decimal](20, 2) NULL ,
	[InStorehouseCost1] [decimal](20, 2) NULL ,
	[OutStorehouseQuantity1] [decimal](20, 2) NULL ,
	[OutStorehouseCost1] [decimal](20, 2) NULL ,
	[StockQuantity1] [decimal](20, 2) NULL ,
	[StockCost1] [decimal](20, 2) NULL ,
	[InStorehouseQuantity2] [decimal](20, 2) NULL ,
	[InStorehouseCost2] [decimal](20, 2) NULL ,
	[OutStorehouseQuantity2] [decimal](20, 2) NULL ,
	[OutStorehouseCost2] [decimal](20, 2) NULL ,
	[StockQuantity2] [decimal](20, 2) NULL ,
	[StockCost2] [decimal](20, 2) NULL ,
	[InStorehouseQuantity3] [decimal](20, 2) NULL ,
	[InStorehouseCost3] [decimal](20, 2) NULL ,
	[OutStorehouseQuantity3] [decimal](20, 2) NULL ,
	[OutStorehouseCost3] [decimal](20, 2) NULL ,
	[StockQuantity3] [decimal](20, 2) NULL ,
	[StockCost3] [decimal](20, 2) NULL ,
	[InStorehouseQuantity4] [decimal](20, 2) NULL ,
	[InStorehouseCost4] [decimal](20, 2) NULL ,
	[OutStorehouseQuantity4] [decimal](20, 2) NULL ,
	[OutStorehouseCost4] [decimal](20, 2) NULL ,
	[StockQuantity4] [decimal](20, 2) NULL ,
	[StockCost4] [decimal](20, 2) NULL ,
	[InStorehouseQuantity5] [decimal](20, 2) NULL ,
	[InStorehouseCost5] [decimal](20, 2) NULL ,
	[OutStorehouseQuantity5] [decimal](20, 2) NULL ,
	[OutStorehouseCost5] [decimal](20, 2) NULL ,
	[StockQuantity5] [decimal](20, 2) NULL ,
	[StockCost5] [decimal](20, 2) NULL ,
	[InStorehouseQuantity6] [decimal](20, 2) NULL ,
	[InStorehouseCost6] [decimal](20, 2) NULL ,
	[OutStorehouseQuantity6] [decimal](20, 2) NULL ,
	[OutStorehouseCost6] [decimal](20, 2) NULL ,
	[StockQuantity6] [decimal](20, 2) NULL ,
	[StockCost6] [decimal](20, 2) NULL ,
	[InStorehouseQuantity7] [decimal](20, 2) NULL ,
	[InStorehouseCost7] [decimal](20, 2) NULL ,
	[OutStorehouseQuantity7] [decimal](20, 2) NULL ,
	[OutStorehouseCost7] [decimal](20, 2) NULL ,
	[StockQuantity7] [decimal](20, 2) NULL ,
	[StockCost7] [decimal](20, 2) NULL ,
	[InStorehouseQuantity8] [decimal](20, 2) NULL ,
	[InStorehouseCost8] [decimal](20, 2) NULL ,
	[OutStorehouseQuantity8] [decimal](20, 2) NULL ,
	[OutStorehouseCost8] [decimal](20, 2) NULL ,
	[StockQuantity8] [decimal](20, 2) NULL ,
	[StockCost8] [decimal](20, 2) NULL ,
	[InStorehouseQuantity9] [decimal](20, 2) NULL ,
	[InStorehouseCost9] [decimal](20, 2) NULL ,
	[OutStorehouseQuantity9] [decimal](20, 2) NULL ,
	[OutStorehouseCost9] [decimal](20, 2) NULL ,
	[StockQuantity9] [decimal](20, 2) NULL ,
	[StockCost9] [decimal](20, 2) NULL ,
	[InStorehouseQuantity10] [decimal](20, 2) NULL ,
	[InStorehouseCost10] [decimal](20, 2) NULL ,
	[OutStorehouseQuantity10] [decimal](20, 2) NULL ,
	[OutStorehouseCost10] [decimal](20, 2) NULL ,
	[StockQuantity10] [decimal](20, 2) NULL ,
	[StockCost10] [decimal](20, 2) NULL ,
	[InStorehouseQuantity11] [decimal](20, 2) NULL ,
	[InStorehouseCost11] [decimal](20, 2) NULL ,
	[OutStorehouseQuantity11] [decimal](20, 2) NULL ,
	[OutStorehouseCost11] [decimal](20, 2) NULL ,
	[StockQuantity11] [decimal](20, 2) NULL ,
	[StockCost11] [decimal](20, 2) NULL ,
	[InStorehouseQuantity12] [decimal](20, 2) NULL ,
	[InStorehouseCost12] [decimal](20, 2) NULL ,
	[OutStorehouseQuantity12] [decimal](20, 2) NULL ,
	[OutStorehouseCost12] [decimal](20, 2) NULL ,
	[StockQuantity12] [decimal](20, 2) NULL ,
	[StockCost12] [decimal](20, 2) NULL ,
	[RecodingState] [bit] NULL ,
	[OutSideStorehouseIndex] [int] IDENTITY (1, 1) NOT NULL 
) ON [PRIMARY]
ALTER TABLE [dbo].[OS_MT] ADD 
	CONSTRAINT [DF_OS_MT_LastYearTransferQuantity] DEFAULT (0) FOR [LastYearTransferQuantity],
	CONSTRAINT [DF_OS_MT_LastYearTransferCost] DEFAULT (0) FOR [LastYearTransferCost],
	CONSTRAINT [DF_OS_MT_InStorehouseQuantity1] DEFAULT (0) FOR [InStorehouseQuantity1],
	CONSTRAINT [DF_OS_MT_InStorehouseCost1] DEFAULT (0) FOR [InStorehouseCost1],
	CONSTRAINT [DF_OS_MT_OutStorehouseQuantity1] DEFAULT (0) FOR [OutStorehouseQuantity1],
	CONSTRAINT [DF_OS_MT_OutStorehouseCost1] DEFAULT (0) FOR [OutStorehouseCost1],
	CONSTRAINT [DF_OS_MT_StockQuantity1] DEFAULT (0) FOR [StockQuantity1],
	CONSTRAINT [DF_OS_MT_StockCost1] DEFAULT (0) FOR [StockCost1],
	CONSTRAINT [DF_OS_MT_InStorehouseQuantity2] DEFAULT (0) FOR [InStorehouseQuantity2],
	CONSTRAINT [DF_OS_MT_InStorehouseCost2] DEFAULT (0) FOR [InStorehouseCost2],
	CONSTRAINT [DF_OS_MT_OutStorehouseQuantity2] DEFAULT (0) FOR [OutStorehouseQuantity2],
	CONSTRAINT [DF_OS_MT_OutStorehouseCost2] DEFAULT (0) FOR [OutStorehouseCost2],
	CONSTRAINT [DF_OS_MT_StockQuantity2] DEFAULT (0) FOR [StockQuantity2],
	CONSTRAINT [DF_OS_MT_StockCost2] DEFAULT (0) FOR [StockCost2],
	CONSTRAINT [DF_OS_MT_InStorehouseQuantity3] DEFAULT (0) FOR [InStorehouseQuantity3],
	CONSTRAINT [DF_OS_MT_InStorehouseCost3] DEFAULT (0) FOR [InStorehouseCost3],
	CONSTRAINT [DF_OS_MT_OutStorehouseQuantity3] DEFAULT (0) FOR [OutStorehouseQuantity3],
	CONSTRAINT [DF_OS_MT_OutStorehouseCost3] DEFAULT (0) FOR [OutStorehouseCost3],
	CONSTRAINT [DF_OS_MT_StockQuantity3] DEFAULT (0) FOR [StockQuantity3],
	CONSTRAINT [DF_OS_MT_StockCost3] DEFAULT (0) FOR [StockCost3],
	CONSTRAINT [DF_OS_MT_InStorehouseQuantity4] DEFAULT (0) FOR [InStorehouseQuantity4],
	CONSTRAINT [DF_OS_MT_InStorehouseCost4] DEFAULT (0) FOR [InStorehouseCost4],
	CONSTRAINT [DF_OS_MT_OutStorehouseQuantity4] DEFAULT (0) FOR [OutStorehouseQuantity4],
	CONSTRAINT [DF_OS_MT_OutStorehouseCost4] DEFAULT (0) FOR [OutStorehouseCost4],
	CONSTRAINT [DF_OS_MT_StockQuantity4] DEFAULT (0) FOR [StockQuantity4],
	CONSTRAINT [DF_OS_MT_StockCost4] DEFAULT (0) FOR [StockCost4],
	CONSTRAINT [DF_OS_MT_InStorehouseQuantity5] DEFAULT (0) FOR [InStorehouseQuantity5],
	CONSTRAINT [DF_OS_MT_InStorehouseCost5] DEFAULT (0) FOR [InStorehouseCost5],
	CONSTRAINT [DF_OS_MT_OutStorehouseQuantity5] DEFAULT (0) FOR [OutStorehouseQuantity5],
	CONSTRAINT [DF_OS_MT_OutStorehouseCost5] DEFAULT (0) FOR [OutStorehouseCost5],
	CONSTRAINT [DF_OS_MT_StockQuantity5] DEFAULT (0) FOR [StockQuantity5],
	CONSTRAINT [DF_OS_MT_StockCost5] DEFAULT (0) FOR [StockCost5],
	CONSTRAINT [DF_OS_MT_InStorehouseQuantity6] DEFAULT (0) FOR [InStorehouseQuantity6],
	CONSTRAINT [DF_OS_MT_InStorehouseCost6] DEFAULT (0) FOR [InStorehouseCost6],
	CONSTRAINT [DF_OS_MT_OutStorehouseQuantity6] DEFAULT (0) FOR [OutStorehouseQuantity6],
	CONSTRAINT [DF_OS_MT_OutStorehouseCost6] DEFAULT (0) FOR [OutStorehouseCost6],
	CONSTRAINT [DF_OS_MT_StockQuantity6] DEFAULT (0) FOR [StockQuantity6],
	CONSTRAINT [DF_OS_MT_StockCost6] DEFAULT (0) FOR [StockCost6],
	CONSTRAINT [DF_OS_MT_InStorehouseQuantity7] DEFAULT (0) FOR [InStorehouseQuantity7],
	CONSTRAINT [DF_OS_MT_InStorehouseCost7] DEFAULT (0) FOR [InStorehouseCost7],
	CONSTRAINT [DF_OS_MT_OutStorehouseQuantity7] DEFAULT (0) FOR [OutStorehouseQuantity7],
	CONSTRAINT [DF_OS_MT_OutStorehouseCost7] DEFAULT (0) FOR [OutStorehouseCost7],
	CONSTRAINT [DF_OS_MT_StockQuantity7] DEFAULT (0) FOR [StockQuantity7],
	CONSTRAINT [DF_OS_MT_StockCost7] DEFAULT (0) FOR [StockCost7],
	CONSTRAINT [DF_OS_MT_InStorehouseQuantity8] DEFAULT (0) FOR [InStorehouseQuantity8],
	CONSTRAINT [DF_OS_MT_InStorehouseCost8] DEFAULT (0) FOR [InStorehouseCost8],
	CONSTRAINT [DF_OS_MT_OutStorehouseQuantity8] DEFAULT (0) FOR [OutStorehouseQuantity8],
	CONSTRAINT [DF_OS_MT_OutStorehouseCost8] DEFAULT (0) FOR [OutStorehouseCost8],
	CONSTRAINT [DF_OS_MT_StockQuantity8] DEFAULT (0) FOR [StockQuantity8],
	CONSTRAINT [DF_OS_MT_StockCost8] DEFAULT (0) FOR [StockCost8],
	CONSTRAINT [DF_OS_MT_InStorehouseQuantity9] DEFAULT (0) FOR [InStorehouseQuantity9],
	CONSTRAINT [DF_OS_MT_InStorehouseCost9] DEFAULT (0) FOR [InStorehouseCost9],
	CONSTRAINT [DF_OS_MT_OutStorehouseQuantity9] DEFAULT (0) FOR [OutStorehouseQuantity9],
	CONSTRAINT [DF_OS_MT_OutStorehouseCost9] DEFAULT (0) FOR [OutStorehouseCost9],
	CONSTRAINT [DF_OS_MT_StockQuantity9] DEFAULT (0) FOR [StockQuantity9],
	CONSTRAINT [DF_OS_MT_StockCost9] DEFAULT (0) FOR [StockCost9],
	CONSTRAINT [DF_OS_MT_InStorehouseQuantity10] DEFAULT (0) FOR [InStorehouseQuantity10],
	CONSTRAINT [DF_OS_MT_InStorehouseCost10] DEFAULT (0) FOR [InStorehouseCost10],
	CONSTRAINT [DF_OS_MT_OutStorehouseQuantity10] DEFAULT (0) FOR [OutStorehouseQuantity10],
	CONSTRAINT [DF_OS_MT_OutStorehouseCost10] DEFAULT (0) FOR [OutStorehouseCost10],
	CONSTRAINT [DF_OS_MT_StockQuantity10] DEFAULT (0) FOR [StockQuantity10],
	CONSTRAINT [DF_OS_MT_StockCost10] DEFAULT (0) FOR [StockCost10],
	CONSTRAINT [DF_OS_MT_InStorehouseQuantity11] DEFAULT (0) FOR [InStorehouseQuantity11],
	CONSTRAINT [DF_OS_MT_InStorehouseCost11] DEFAULT (0) FOR [InStorehouseCost11],
	CONSTRAINT [DF_OS_MT_OutStorehouseQuantity11] DEFAULT (0) FOR [OutStorehouseQuantity11],
	CONSTRAINT [DF_OS_MT_OutStorehouseCost11] DEFAULT (0) FOR [OutStorehouseCost11],
	CONSTRAINT [DF_OS_MT_StockQuantity11] DEFAULT (0) FOR [StockQuantity11],
	CONSTRAINT [DF_OS_MT_StockCost11] DEFAULT (0) FOR [StockCost11],
	CONSTRAINT [DF_OS_MT_InStorehouseQuantity12] DEFAULT (0) FOR [InStorehouseQuantity12],
	CONSTRAINT [DF_OS_MT_InStorehouseCost12] DEFAULT (0) FOR [InStorehouseCost12],
	CONSTRAINT [DF_OS_MT_OutStorehouseQuantity12] DEFAULT (0) FOR [OutStorehouseQuantity12],
	CONSTRAINT [DF_OS_MT_OutStorehouseCost12] DEFAULT (0) FOR [OutStorehouseCost12],
	CONSTRAINT [DF_OS_MT_StockQuantity12] DEFAULT (0) FOR [StockQuantity12],
	CONSTRAINT [DF_OS_MT_StockCost12] DEFAULT (0) FOR [StockCost12],
	CONSTRAINT [PK_OS_MT] PRIMARY KEY  CLUSTERED 
	(
		[OutSideStorehouseIndex]
	)  ON [PRIMARY]
GO
