USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[SPStorehouseReceiptsAndDisbursements]    Script Date: 07/02/2026 08:48:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE                       proc [dbo].[SPStorehouseReceiptsAndDisbursements] ( 
						   @Store varchar(50) = '' 
						,  @ItemNum varchar(150) = '' 
						,  @ItemDrawNum varchar(150) = '' 
						,  @ItemName varchar(150) = '' 
						,  @Year int
						,  @Month smallint
	)
as
/*
declare @ItemNum varchar(50)
declare @ItemDrawNum varchar(50)
declare @ItemName varchar(50)
declare @Year int
declare @Month smallint
declare @Store varchar(50)
declare @StoreName varchar(50)
Set @ItemNum =  ''
Set @ItemDrawNum = ''
Set @ItemName = ''
Set @Year = '2007'
Set @Month = '5'
Set @Store = '원자재창고'
/*
Set @ItemNum =  'SAM0003'
Set @ItemDrawNum = 'SAM0003'
Set @ItemName = '장석'
Set @Year = '2007'
Set @Month = '5'
Set @Store = '원자재창고'
*/
--*/
/*	
select ItemNum, ItemDrawNum, ItemName, ProcessSequenceNum, ProcessCode, ProcessName, Division, Sum(Quantity) as Quantity
From SH_HT
where ItemNum like '%'+@ItemNum+'%' and ItemDrawNum like '%'+@ItemDrawNum+'%'
	and ItemName like '%'+@ItemName+'%' and datepart(yy, [Date]) = @Year and datepart(mm, [Date]) = @Month
and StoreName = @Store
Group by  ItemNum, ItemDrawNum, ItemName, ProcessSequenceNum, ProcessCode, ProcessName, Division
order by ItemNum,Division
*/
--/*	
select ItemNum, ItemDrawNum, ItemName, ProcessSequenceNum, ProcessCode, ProcessName, Sum(Quantity) as Quantity
From SH_HT
where ItemNum like '%'+@ItemNum+'%' and ItemDrawNum like '%'+@ItemDrawNum+'%'
	and ItemName like '%'+@ItemName+'%' and datepart(yy, [Date]) = @Year and datepart(mm, [Date]) = @Month
and StoreName = @Store
Group by  ItemNum, ItemDrawNum, ItemName, ProcessSequenceNum, ProcessCode, ProcessName
order by ItemNum
--*/
GO
