USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[AutonomyInspectPC_Search]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE          proc [dbo].[AutonomyInspectPC_Search] 
									( 
-----------------------------AutonomyInspectPC -------------------------------
										   @WCinfoindex smallint = 0
										,  @wcName_arg varchar(50) = '' 
										,  @processName varchar(50) = '' 
										,  @itemName varchar(50) = '' 
										,  @startDate varchar(11) = '' 
										,  @endDate varchar(11) = ''
									)
as
begin
-- /QualityInspection/AutonomyInspectPC.aspx 에서 검색할 경우 호출됨
-- @wcName : 작업장명 ,  @processName : 공정명 ,  @itemName : 품목명 ,  @startDate : 검사일
	select 
	ItemNum
,	ItemDrawNum
,	ItemName
,	ProcessSequenceNum
,	ProcessName
,	WorkPlanQuantity
,	ThisWorkCompletionQuantity
,	SuitabilityQuantity
,	UnSuitabilityQuantity
,	UnSuitabilityCost
,	UnSuitabilityStatusMeaning
,	UnSuitabilityCauseMeaning
,	UnSuitabilityDetailMeaning
,	WorkBeginTime
,	WorkEndTime
,	Worker
,	RegistrationDate
,	RegistrationPerson
,	UpdatingDate
,	UpdatingPerson
,	wcname
	from wdr_ht where
(
	case
		when (@wcName_arg <> '')
		then		WCName
		else ''
	end	
)
like
(
	case
		when (@wcName_arg <> '')
		then		'%' + @wcName_arg + '%'
		else ''
	end	
)
and
(
	case 
		when (@WCinfoindex <> 0)
		then wcinfoindex
		else ''
	end
)	
=
(
	case 
		when (@WCinfoindex <> 0)
		then @WCinfoindex
		else ''
	end
)
and
(
	case 
		when (@processName <> '')
		then ProcessName
		else ''
	end
)	
like
(
	case 
		when (@processName <> '')
		then '%' + @processName + '%'
		else ''
	end
)
and
(
	case
		when ( @itemName <> '' )
		then itemName
		else ''
	end
)
like
(
	case
		when ( @itemName <> '' )
		then '%' + @itemName + '%'
		else ''
	end
)
and RegistrationDate between
(
	case 
		when( @startDate <> '' )
		then @startDate
		else '2004-01-01'
	end
)
and 
(
	case 
		when ( @endDate <> '')
		then @endDate
		else	 '2050-01-01'
	end
)
end
GO
