USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[EtcBuyingDeliveryPC_Delete]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE              proc [dbo].[EtcBuyingDeliveryPC_Delete]
(
	@ItemNum varchar(50)
	, @CompanyName varchar(50)
	, @BusinessRegNum varchar(50)
	, @OrderQuantity  decimal(18, 2)		-- 발주수량
	, @DeliveryQuantity  decimal(18, 2)		-- 수량
	, @TotalCost  decimal(18, 2)		-- 개별단가
	, @DeliveryDemandDate smalldatetime
	, @UpdatingPersonID varchar(30)		-- 수정자ID
	, @EtcBuyingDeliveryHistoryIndex int
	, @EtcBuyingOrderHistoryIndex int
	, @ApplyUnitCost decimal(18, 2)		-- 개별단가
	, @OldYear int
	, @OldMon int
)
as
begin
/*
	declare @BusinessRegNum varchar(50)
	declare  @OrderQuantity decimal(20, 3)		-- 발주수량
	declare  @ExistingQuantity decimal(20, 3)		-- 기존 납품수량
	declare  @DeliveryQuantity decimal(20, 3)		-- 수정된 수량
	declare  @TotalCost decimal(20, 3)		-- 개별단가
	declare  @DeliveryDemandDate smalldatetime
	declare  @UpdatingPersonID varchar(30)		-- 수정자ID
	declare  @EtcBuyingDeliveryHistoryIndex int
	declare  @EtcBuyingOrderHistoryIndex int
	
	set @BusinessRegNum = '613-81-06172'
	set  @OrderQuantity = '10'
	set  @ExistingQuantity ='10'
	set  @DeliveryQuantity ='0'
	set  @TotalCost = '10000'
	set  @DeliveryDemandDate = '2006-02-01'
	set  @UpdatingPersonID = '관리자'
	set  @EtcBuyingDeliveryHistoryIndex ='17'
	set  @EtcBuyingOrderHistoryIndex =  '15'
*/
	set nocount on
	declare @month smallint
	declare @Year int
	declare @SQL varchar(8000)
	declare @UpdatingPerson varchar(50)
	set 	@UpdatingPerson = (select Name from ui_mt where id = @UpdatingPersonID and RecodingState = 1)
	-- 납품원장 삭제
	delete EtcBD_HT where EtcBuyingDeliveryHistoryIndex = @EtcBuyingDeliveryHistoryIndex
	--구매이력원장생성
	Insert into BOS_HT (ItemNum
			,ItemDrawNum
			,ItemName
			,ProcessSequenceNum
			,ProcessCode
			,ProcessName
			,CompanyName
			, BusinessRegistrationNum
			,Quantity
			,UnitCost
			,UpdateHistoryReason
			, [Date]
			,UpdatePerson
			, UpdatePersonID
			,HistoryDivision
			,HistoryIndex) 
	values(
		@ItemNum
		,@ItemNum
		,@ItemNum
		,null
		,''
		,''
		,@CompanyName
		,@BusinessRegNum
		,@DeliveryQuantity
		,@ApplyUnitCost
		,'삭제'
		,@DeliveryDemandDate
		,@UpdatingPerson
		, @UpdatingPersonID
		,'기타구매'
		,@EtcBuyingDeliveryHistoryIndex
	)
	-- 의뢰원장 수정
	declare @RemainQuantity   decimal(18, 2)
	declare @UpdateQuantity    decimal(18, 2)
	-- 기존 잔량 가져오기
	set @RemainQuantity = (select RemainQuantity from EtcBO_HT where EtcBuyingOrderHistoryIndex = @EtcBuyingOrderHistoryIndex)
	-- 잔량에 (기존납품수량 - 수정수량)을 누적
	set @UpdateQuantity = @RemainQuantity + ( @DeliveryQuantity)
	if (  @UpdateQuantity < 0  or  @UpdateQuantity = 0 )
	begin
		-- 잔량이 0 이거나 0 보다 작다면 완료로 수정
		update EtcBO_HT set RemainQuantity = @UpdateQuantity, RecodingState = '완료'
		where EtcBuyingOrderHistoryIndex = @EtcBuyingOrderHistoryIndex
	end
	else if ( @UpdateQuantity = @OrderQuantity )
	begin
		-- 잔량이 발주 수량과 같다면 
		update EtcBO_HT set RemainQuantity = @UpdateQuantity, RecodingState = '대기'
		where EtcBuyingOrderHistoryIndex = @EtcBuyingOrderHistoryIndex
	end
	else if ( @UpdateQuantity < @OrderQuantity  and @UpdateQuantity > 0 )
	begin
		-- 잔량이 발주수량보다 적으나 0 보다 크다면.
		update EtcBO_HT set RemainQuantity = @UpdateQuantity, RecodingState = '진행'
		where EtcBuyingOrderHistoryIndex = @EtcBuyingOrderHistoryIndex
	end
	--declare @TotalCost decimal(20, 3)
	--set @TotalCost = -(@DeliveryQuantity*@ApplyUnitCost)
	SET @Month =  @OldMon
	SET @Year = @OldYear
	SET @SQL = 'UPDATE BSI_MT SET  TotalBuyingCost' + cast(@Month as varchar) + ' = (TotalBuyingCost' + cast(@Month as varchar) + ' - ' + cast(@TotalCost as varchar(20)) + '),   
	UnPaymentMoney' + cast(@Month as varchar) + ' = ( UnPaymentMoney' + cast(@Month as varchar) + ' - ' + cast(@TotalCost as varchar(20)) + ') '						
	SET @Month = @Month + 1
	While( @Month < 13 )
	BEGIN
		SET @SQL = @SQL + ' , TotalBuyingCost' + cast(@Month as varchar) + ' = ( TotalBuyingCost' + cast(@Month as varchar) + ' - ' + cast( @TotalCost as varchar(20) ) + ') 
		, UnPaymentMoney' + cast(@Month as varchar) + ' = ( UnPaymentMoney' + cast(@Month as varchar) + ' - ' + cast(@TotalCost as varchar(20)) + ')'
		SET @Month = @Month + 1
	END
	SET @SQL = @SQL + ' WHERE RecodingState = 1 and [Year] = ' + cast(@Year as varchar) + ' and  BusinessRegistrationNum = ''' + @BusinessRegNum + '''';
		
	declare @NowYear	int
	Set @NowYear = (Select datepart(yy,getdate()))
		while(@Year < @NowYear)
		begin
			set @SQL = @SQL + ' UPDATE BSI_MT SET TotalBuyingCost1 = TotalBuyingCost1 -'+cast(@TotalCost as varchar(30))+',
					TotalBuyingCost2 = TotalBuyingCost2 -'+cast(@TotalCost as varchar(30))+', 
					TotalBuyingCost3 = TotalBuyingCost3 - '+cast(@TotalCost as varchar(30))+', 
					TotalBuyingCost4 = TotalBuyingCost4 - '+cast(@TotalCost as varchar(30))+', 
					TotalBuyingCost5 = TotalBuyingCost5 - '+cast(@TotalCost as varchar(30))+', 
					TotalBuyingCost6 = TotalBuyingCost6 - '+cast(@TotalCost as varchar(30))+', 
					TotalBuyingCost7 = TotalBuyingCost7 - '+cast(@TotalCost as varchar(30))+', 
					TotalBuyingCost8 = TotalBuyingCost8 - '+cast(@TotalCost as varchar(30))+', 
					TotalBuyingCost9 = TotalBuyingCost9 - '+cast(@TotalCost as varchar(30))+', 
					TotalBuyingCost10 = TotalBuyingCost10 - '+cast(@TotalCost as varchar(30))+', 
					TotalBuyingCost11 = TotalBuyingCost11 - '+cast(@TotalCost as varchar(30))+', 
					TotalBuyingCost12 = TotalBuyingCost12 - '+cast(@TotalCost as varchar(30))+', 
					UnPaymentMoney1 = UnPaymentMoney1 - '+cast(@TotalCost as varchar(30))+', 
					UnPaymentMoney2 = UnPaymentMoney2 - '+cast(@TotalCost as varchar(30))+', 
					UnPaymentMoney3 = UnPaymentMoney3 - '+cast(@TotalCost as varchar(30))+', 
					UnPaymentMoney4 = UnPaymentMoney4 - '+cast(@TotalCost as varchar(30))+', 
					UnPaymentMoney5 = UnPaymentMoney5 - '+cast(@TotalCost as varchar(30))+', 
					UnPaymentMoney6 = UnPaymentMoney6 - '+cast(@TotalCost as varchar(30))+', 
					UnPaymentMoney7 = UnPaymentMoney7 - '+cast(@TotalCost as varchar(30))+', 
					UnPaymentMoney8 = UnPaymentMoney8 - '+cast(@TotalCost as varchar(30))+', 
					UnPaymentMoney9 = UnPaymentMoney9 - '+cast(@TotalCost as varchar(30))+', 
					UnPaymentMoney10 = UnPaymentMoney10 - '+cast(@TotalCost as varchar(30))+', 
					UnPaymentMoney11 = UnPaymentMoney11 - '+cast(@TotalCost as varchar(30))+', 
					UnPaymentMoney12 = UnPaymentMoney12 - '+cast(@TotalCost as varchar(30))+'  where  [Year] = ' + cast(@Year as varchar) + ' and BusinessRegistrationNum = ''' + @BusinessRegNum + '''';
			Set @Year = @Year+1
		end	
	
	exec(@SQL)
end
GO
