USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[SPBuyReceiveHistory]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE                               proc [dbo].[SPBuyReceiveHistory] ( 
						  @ItemNum varchar(100) = '' 
						,  @ItemDrawNum varchar(100) = '' 
						,  @ItemName varchar(100) = '' 
						,  @hdItemNum varchar(100) = '' 
						,  @CompanyName varchar(50) = '' 
						,  @BusinessRegistrationNum varchar(50) = '' 
						,  @Division int
						,  @FromDate smalldatetime
						,  @ToDate smalldatetime
	)
as
/*
declare   @ItemNum varchar(50)
declare	 @ItemDrawNum varchar(50) 
declare	 @ItemName varchar(50) 
declare	 @CompanyName varchar(50) 
declare	 @BusinessRegistrationNum varchar(50) 
declare    @Division int
declare	 @FromDate smalldatetime
declare	 @ToDate smalldatetime
Set   @ItemNum = 'L0600075'
Set	 @ItemDrawNum = ''
Set	 @ItemName = ''
Set	 @CompanyName =''
Set	 @BusinessRegistrationNum =''
Set          @Division = 0
Set	 @FromDate =''
Set	 @ToDate =''
*/
	if(@FromDate = '')
		Set @FromDate = '1900-01-01'
	if(@ToDate ='')
		Set @ToDate = '2076-01-01'

if(@hdItemNum = '')
begin

	if(@BusinessRegistrationNum = '')
	begin
		if(@Division = 0)
		Begin	
			Select ItemNum, ItemDrawNum, ItemName, ProcessSequenceNum, ProcessCode, ProcessName, CompanyName, BusinessRegistrationNum, Quantity, UnitCost, Quantity * UnitCost as TotalCost, UpdateHistoryReason, [Date] , UpdatePerson,  HistoryDivision, HistoryIndex
		 	From BOS_HT
			Where ItemNum Like '%'+@ItemNum+'%' and ItemDrawNum Like '%'+@ItemDrawNum+'%' and ItemName Like '%'+@ItemName+'%' and 
			CompanyName Like '%'+@CompanyName+'%' and BusinessRegistrationNum Like '%'+@BusinessRegistrationNum+'%' and
			[Date] BETWEEN @FromDate AND @ToDate
			order by [Date],ItemNum, CompanyName, [Index] desc
			
		end
		else if(@Division = 1)
		begin
			Select ItemNum, ItemDrawNum, ItemName, ProcessSequenceNum, ProcessCode, ProcessName, CompanyName, BusinessRegistrationNum, Quantity,  UnitCost, Quantity * UnitCost as TotalCost, UpdateHistoryReason, [Date] , UpdatePerson,   HistoryDivision, HistoryIndex
		 	From BOS_HT
			Where ItemNum Like '%'+@ItemNum+'%' and ItemDrawNum Like '%'+@ItemDrawNum+'%' and ItemName Like '%'+@ItemName+'%' and 
			CompanyName Like '%'+@CompanyName+'%' and BusinessRegistrationNum Like '%'+@BusinessRegistrationNum+'%' and
			[Date] BETWEEN @FromDate AND @ToDate and  (HistoryDivision = '구매납품' or HistoryDivision = '기타구매' or HistoryDivision ='부자재구매입고')
			order by [Date],ItemNum, CompanyName, [Index] desc
		end
		else if(@Division = 2)
		begin
			Select ItemNum, ItemDrawNum, ItemName, ProcessSequenceNum, ProcessCode, ProcessName, CompanyName, BusinessRegistrationNum, Quantity,  UnitCost, Quantity * UnitCost as TotalCost, UpdateHistoryReason, [Date] , UpdatePerson,   HistoryDivision, HistoryIndex
		 	From BOS_HT
			Where ItemNum Like '%'+@ItemNum+'%' and ItemDrawNum Like '%'+@ItemDrawNum+'%' and ItemName Like '%'+@ItemName+'%' and 
			CompanyName Like '%'+@CompanyName+'%' and BusinessRegistrationNum Like '%'+@BusinessRegistrationNum+'%' and
			[Date] BETWEEN @FromDate AND @ToDate and  HistoryDivision = '외주납품'
			order by [Date],ItemNum, CompanyName, [Index] desc
		end
		else if(@Division = 3)
		begin
			Select ItemNum, ItemDrawNum, ItemName, ProcessSequenceNum, ProcessCode, ProcessName, CompanyName, BusinessRegistrationNum, Quantity,  UnitCost, Quantity * UnitCost as TotalCost, UpdateHistoryReason, [Date] , UpdatePerson,  HistoryDivision, HistoryIndex
		 	From BOS_HT
			Where ItemNum Like '%'+@ItemNum+'%' and ItemDrawNum Like '%'+@ItemDrawNum+'%' and ItemName Like '%'+@ItemName+'%' and 
			CompanyName Like '%'+@CompanyName+'%' and BusinessRegistrationNum Like '%'+@BusinessRegistrationNum+'%' and
			[Date] BETWEEN @FromDate AND @ToDate and  HistoryDivision = '매출등록'
			order by [Date],ItemNum, CompanyName, [Index] desc
		end	
	end
	else
	begin
		if(@Division = 0)
		Begin	
			Select ItemNum, ItemDrawNum, ItemName, ProcessSequenceNum, ProcessCode, ProcessName, CompanyName, BusinessRegistrationNum, Quantity, UnitCost, Quantity * UnitCost as TotalCost, UpdateHistoryReason, [Date] , UpdatePerson,  HistoryDivision, HistoryIndex
		 	From BOS_HT
			Where ItemNum Like '%'+@ItemNum+'%' and ItemDrawNum Like '%'+@ItemDrawNum+'%' and ItemName Like '%'+@ItemName+'%' and 
			BusinessRegistrationNum  = @BusinessRegistrationNum and
			[Date] BETWEEN @FromDate AND @ToDate
			order by [Date],ItemNum, CompanyName, [Index] desc
			
		end
		else if(@Division = 1)
		begin
			Select ItemNum, ItemDrawNum, ItemName, ProcessSequenceNum, ProcessCode, ProcessName, CompanyName, BusinessRegistrationNum, Quantity,  UnitCost, Quantity * UnitCost as TotalCost, UpdateHistoryReason, [Date] , UpdatePerson,   HistoryDivision, HistoryIndex
		 	From BOS_HT
			Where ItemNum Like '%'+@ItemNum+'%' and ItemDrawNum Like '%'+@ItemDrawNum+'%' and ItemName Like '%'+@ItemName+'%' and 
			BusinessRegistrationNum  = @BusinessRegistrationNum and
			[Date] BETWEEN @FromDate AND @ToDate and  (HistoryDivision = '구매납품' or HistoryDivision = '기타구매' or HistoryDivision ='부자재구매입고')
			order by [Date],ItemNum, CompanyName, [Index] desc
		end
		else if(@Division = 2)
		begin
			Select ItemNum, ItemDrawNum, ItemName, ProcessSequenceNum, ProcessCode, ProcessName, CompanyName, BusinessRegistrationNum, Quantity,  UnitCost, Quantity * UnitCost as TotalCost, UpdateHistoryReason, [Date] , UpdatePerson,   HistoryDivision, HistoryIndex
		 	From BOS_HT
			Where ItemNum Like '%'+@ItemNum+'%' and ItemDrawNum Like '%'+@ItemDrawNum+'%' and ItemName Like '%'+@ItemName+'%' and 
			BusinessRegistrationNum  = @BusinessRegistrationNum and
			[Date] BETWEEN @FromDate AND @ToDate and  HistoryDivision = '외주납품'
			order by [Date],ItemNum, CompanyName, [Index] desc
		end
		else if(@Division = 3)
		begin
			Select ItemNum, ItemDrawNum, ItemName, ProcessSequenceNum, ProcessCode, ProcessName, CompanyName, BusinessRegistrationNum, Quantity,  UnitCost, Quantity * UnitCost as TotalCost, UpdateHistoryReason, [Date] , UpdatePerson,  HistoryDivision, HistoryIndex
		 	From BOS_HT
			Where ItemNum Like '%'+@ItemNum+'%' and ItemDrawNum Like '%'+@ItemDrawNum+'%' and ItemName Like '%'+@ItemName+'%' and 
			BusinessRegistrationNum  = @BusinessRegistrationNum and
			[Date] BETWEEN @FromDate AND @ToDate and  HistoryDivision = '매출등록'
			order by [Date],ItemNum, CompanyName, [Index] desc
		end	
		
	end

end
else
begin

	if(@BusinessRegistrationNum = '')
	begin
		if(@Division = 0)
		Begin	
			Select ItemNum, ItemDrawNum, ItemName, ProcessSequenceNum, ProcessCode, ProcessName, CompanyName, BusinessRegistrationNum, Quantity, UnitCost, Quantity * UnitCost as TotalCost, UpdateHistoryReason, [Date] , UpdatePerson,  HistoryDivision, HistoryIndex
		 	From BOS_HT
			Where ItemNum  = @hdItemNum and 
			CompanyName Like '%'+@CompanyName+'%' and BusinessRegistrationNum Like '%'+@BusinessRegistrationNum+'%' and
			[Date] BETWEEN @FromDate AND @ToDate
			order by [Date],ItemNum, CompanyName, [Index] desc
			
		end
		else if(@Division = 1)
		begin
			Select ItemNum, ItemDrawNum, ItemName, ProcessSequenceNum, ProcessCode, ProcessName, CompanyName, BusinessRegistrationNum, Quantity,  UnitCost, Quantity * UnitCost as TotalCost, UpdateHistoryReason, [Date] , UpdatePerson,   HistoryDivision, HistoryIndex
		 	From BOS_HT
			Where ItemNum  = @hdItemNum and 
			CompanyName Like '%'+@CompanyName+'%' and BusinessRegistrationNum Like '%'+@BusinessRegistrationNum+'%' and
			[Date] BETWEEN @FromDate AND @ToDate and  (HistoryDivision = '구매납품' or HistoryDivision = '기타구매' or HistoryDivision ='부자재구매입고')
			order by [Date],ItemNum, CompanyName, [Index] desc
		end
		else if(@Division = 2)
		begin
			Select ItemNum, ItemDrawNum, ItemName, ProcessSequenceNum, ProcessCode, ProcessName, CompanyName, BusinessRegistrationNum, Quantity,  UnitCost, Quantity * UnitCost as TotalCost, UpdateHistoryReason, [Date] , UpdatePerson,   HistoryDivision, HistoryIndex
		 	From BOS_HT
			Where ItemNum  = @hdItemNum and 
			CompanyName Like '%'+@CompanyName+'%' and BusinessRegistrationNum Like '%'+@BusinessRegistrationNum+'%' and
			[Date] BETWEEN @FromDate AND @ToDate and  HistoryDivision = '외주납품'
			order by [Date],ItemNum, CompanyName, [Index] desc
		end
		else if(@Division = 3)
		begin
			Select ItemNum, ItemDrawNum, ItemName, ProcessSequenceNum, ProcessCode, ProcessName, CompanyName, BusinessRegistrationNum, Quantity,  UnitCost, Quantity * UnitCost as TotalCost, UpdateHistoryReason, [Date] , UpdatePerson,  HistoryDivision, HistoryIndex
		 	From BOS_HT
			Where ItemNum  = @hdItemNum and 
			CompanyName Like '%'+@CompanyName+'%' and BusinessRegistrationNum Like '%'+@BusinessRegistrationNum+'%' and
			[Date] BETWEEN @FromDate AND @ToDate and  HistoryDivision = '매출등록'
			order by [Date],ItemNum, CompanyName, [Index] desc
		end	
	end
	else
	begin
		if(@Division = 0)
		Begin	
			Select ItemNum, ItemDrawNum, ItemName, ProcessSequenceNum, ProcessCode, ProcessName, CompanyName, BusinessRegistrationNum, Quantity, UnitCost, Quantity * UnitCost as TotalCost, UpdateHistoryReason, [Date] , UpdatePerson,  HistoryDivision, HistoryIndex
		 	From BOS_HT
			Where ItemNum  = @hdItemNum and 
			BusinessRegistrationNum  = @BusinessRegistrationNum and
			[Date] BETWEEN @FromDate AND @ToDate
			order by [Date],ItemNum, CompanyName, [Index] desc
			
		end
		else if(@Division = 1)
		begin
			Select ItemNum, ItemDrawNum, ItemName, ProcessSequenceNum, ProcessCode, ProcessName, CompanyName, BusinessRegistrationNum, Quantity,  UnitCost, Quantity * UnitCost as TotalCost, UpdateHistoryReason, [Date] , UpdatePerson,   HistoryDivision, HistoryIndex
		 	From BOS_HT
			Where ItemNum  = @hdItemNum and 
			BusinessRegistrationNum  = @BusinessRegistrationNum and
			[Date] BETWEEN @FromDate AND @ToDate and  (HistoryDivision = '구매납품' or HistoryDivision = '기타구매' or HistoryDivision ='부자재구매입고')
			order by [Date],ItemNum, CompanyName, [Index] desc
		end
		else if(@Division = 2)
		begin
			Select ItemNum, ItemDrawNum, ItemName, ProcessSequenceNum, ProcessCode, ProcessName, CompanyName, BusinessRegistrationNum, Quantity,  UnitCost, Quantity * UnitCost as TotalCost, UpdateHistoryReason, [Date] , UpdatePerson,   HistoryDivision, HistoryIndex
		 	From BOS_HT
			Where ItemNum  = @hdItemNum and 
			BusinessRegistrationNum  = @BusinessRegistrationNum and
			[Date] BETWEEN @FromDate AND @ToDate and  HistoryDivision = '외주납품'
			order by [Date],ItemNum, CompanyName, [Index] desc
		end
		else if(@Division = 3)
		begin
			Select ItemNum, ItemDrawNum, ItemName, ProcessSequenceNum, ProcessCode, ProcessName, CompanyName, BusinessRegistrationNum, Quantity,  UnitCost, Quantity * UnitCost as TotalCost, UpdateHistoryReason, [Date] , UpdatePerson,  HistoryDivision, HistoryIndex
		 	From BOS_HT
			Where ItemNum  = @hdItemNum and 
			BusinessRegistrationNum  = @BusinessRegistrationNum and
			[Date] BETWEEN @FromDate AND @ToDate and  HistoryDivision = '매출등록'
			order by [Date],ItemNum, CompanyName, [Index] desc
		end	
		
	end
end
GO
