USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[Delete]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[Delete]
(
	@Original_BuyingRequestHistoryIndex int,
	@Original_ApplyUnitCost float,
	@Original_BuyingRequestSource varchar(20),
	@Original_BuyingRequestSourceCode varchar(10),
	@Original_FifthDeliveryDemandDate smalldatetime,
	@Original_FifthDeliveryDemandQuantity float,
	@Original_FirstDeliveryDemandDate smalldatetime,
	@Original_FirstDeliveryDemandQuantity float,
	@Original_FourthDeliveryDemandDate smalldatetime,
	@Original_FourthDeliveryDemandQuantity float,
	@Original_ItemDrawNum varchar(50),
	@Original_ItemName varchar(50),
	@Original_ItemNum varchar(50),
	@Original_OrderQuantity float,
	@Original_ProgressCondition varchar(50),
	@Original_SecondDeliveryDemandDate smalldatetime,
	@Original_SecondDeliveryDemandQuantity float,
	@Original_ThirdDeliveryDemandDate smalldatetime,
	@Original_ThirdDeliveryDemandQuantity float,
	@Original_TotalCost float,
	@Original_VolumNum int
)
AS
	SET NOCOUNT OFF;
DELETE FROM BR_HT WHERE (BuyingRequestHistoryIndex = @Original_BuyingRequestHistoryIndex) AND (ApplyUnitCost = @Original_ApplyUnitCost OR @Original_ApplyUnitCost IS NULL AND ApplyUnitCost IS NULL) AND (BuyingRequestSource = @Original_BuyingRequestSource OR @Original_BuyingRequestSource IS NULL AND BuyingRequestSource IS NULL) AND (BuyingRequestSourceCode = @Original_BuyingRequestSourceCode OR @Original_BuyingRequestSourceCode IS NULL AND BuyingRequestSourceCode IS NULL) AND (FifthDeliveryDemandDate = @Original_FifthDeliveryDemandDate OR @Original_FifthDeliveryDemandDate IS NULL AND FifthDeliveryDemandDate IS NULL) AND (FifthDeliveryDemandQuantity = @Original_FifthDeliveryDemandQuantity OR @Original_FifthDeliveryDemandQuantity IS NULL AND FifthDeliveryDemandQuantity IS NULL) AND (FirstDeliveryDemandDate = @Original_FirstDeliveryDemandDate OR @Original_FirstDeliveryDemandDate IS NULL AND FirstDeliveryDemandDate IS NULL) AND (FirstDeliveryDemandQuantity = @Original_FirstDeliveryDemandQuantity OR @Original_FirstDeliveryDemandQuantity IS NULL AND FirstDeliveryDemandQuantity IS NULL) AND (FourthDeliveryDemandDate = @Original_FourthDeliveryDemandDate OR @Original_FourthDeliveryDemandDate IS NULL AND FourthDeliveryDemandDate IS NULL) AND (FourthDeliveryDemandQuantity = @Original_FourthDeliveryDemandQuantity OR @Original_FourthDeliveryDemandQuantity IS NULL AND FourthDeliveryDemandQuantity IS NULL) AND (ItemDrawNum = @Original_ItemDrawNum OR @Original_ItemDrawNum IS NULL AND ItemDrawNum IS NULL) AND (ItemName = @Original_ItemName OR @Original_ItemName IS NULL AND ItemName IS NULL) AND (ItemNum = @Original_ItemNum OR @Original_ItemNum IS NULL AND ItemNum IS NULL) AND (OrderQuantity = @Original_OrderQuantity OR @Original_OrderQuantity IS NULL AND OrderQuantity IS NULL) AND (ProgressCondition = @Original_ProgressCondition OR @Original_ProgressCondition IS NULL AND ProgressCondition IS NULL) AND (SecondDeliveryDemandDate = @Original_SecondDeliveryDemandDate OR @Original_SecondDeliveryDemandDate IS NULL AND SecondDeliveryDemandDate IS NULL) AND (SecondDeliveryDemandQuantity = @Original_SecondDeliveryDemandQuantity OR @Original_SecondDeliveryDemandQuantity IS NULL AND SecondDeliveryDemandQuantity IS NULL) AND (ThirdDeliveryDemandDate = @Original_ThirdDeliveryDemandDate OR @Original_ThirdDeliveryDemandDate IS NULL AND ThirdDeliveryDemandDate IS NULL) AND (ThirdDeliveryDemandQuantity = @Original_ThirdDeliveryDemandQuantity OR @Original_ThirdDeliveryDemandQuantity IS NULL AND ThirdDeliveryDemandQuantity IS NULL) AND (TotalCost = @Original_TotalCost OR @Original_TotalCost IS NULL AND TotalCost IS NULL) AND (VolumNum = @Original_VolumNum OR @Original_VolumNum IS NULL AND VolumNum IS NULL)
GO
