USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[SaleIndex_Search]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE               proc [dbo].[SaleIndex_Search]
------------------------------------------ 매출 지표 --------------------------------------
-- 클레임원장과 union 완료
									( 
										@BusinessRegistrationNum varchar(50) = ''
										, @CompanyName varchar(50) = ''
										, @ItemClassification1 varchar(30) = ''
										, @ItemClassification2 varchar(30) = ''
										, @ItemClassification3 varchar(30) = ''
										, @ItemClassification4 varchar(15) = ''		-- 거래처분류1 키	
									)
as
begin
	-- Cursor 에서 Fetch 할 변수
	declare @m_Month varchar(2)
	declare @m_BusinessRegistrationNum varchar(50)
	declare @m_CompanyName varchar(50)
	declare @m_TotalCost decimal(20, 2)
	-- Cursor 에서 Fetch 할 변수 끝
	
	declare @SQL1  varchar(8000)
	declare @SQL2 varchar(8000)
	declare @SQL3  varchar(8000)
	declare @SQL4  varchar(8000)
	declare @i smallint 
	declare @CompanyCount smallint
	
	set @i = 0
	set @SQL1 = ''
	set @SQL2 = ''
	set @SQL3 = ''
	set @SQL4 = ''
	
	
	IF exists (Select 1 From tempdb..sysobjects where name like '#BIndex%')
		DROP TABLE #BIndex
	
	create table #BIndex 
	( 
		CompanyName	varchar(50)			-- 거래처명
	,	PreYear decimal(20,2)	default 0		-- 전년도
	,	[Total] decimal(20,2)	default 0		-- 누계
	,	[1Month] decimal(20,2) 	default 0
	,	[2Month] decimal(20,2)	default 0
	,	[3Month] decimal(20,2)	default 0
	,	[4Month] decimal(20,2)	default 0
	,	[5Month] decimal(20,2)	default 0
	,	[6Month] decimal(20,2)	default 0
	,	[7Month] decimal(20,2)	default 0
	,	[8Month] decimal(20,2)	default 0
	,	[9Month] decimal(20,2)	default 0
	,	[10Month] decimal(20,2)	default 0
	,	[11Month] decimal(20,2)	default 0
	,	[12Month] decimal(20,2)	default 0
	)
	
	insert into  #BIndex (CompanyName) values('합 계')
	DECLARE CUR CURSOR
	READ_ONLY
	FOR 
/*
	================================================
				디버깅시 사용  
	================================================
		declare @ItemClassification1 varchar(15)
		declare @ItemClassification2 varchar(15)
		declare @ItemClassification3 varchar(15)
		declare @ItemClassification4 varchar(15)
		declare @CompanyName varchar(30)
		declare @BusinessRegistrationNum  varchar(20)
		declare @BuyDiv varchar(15)
		
		set @ItemClassification1 = ''
		set @ItemClassification2 = ''
		set @ItemClassification3 = ''
		set @ItemClassification4 = ''
		set @CompanyName = ''
		set @BusinessRegistrationNum = ''
*/
			-- 매출원장(s_ht)
			select 
			datepart(mm, S.SaleDate) as 월
			,  S.BusinessRegistrationNum
			, S.CompanyName
			, sum(totalcost) as TotalCost
			 FROM s_ht S
			inner join II_MT I on S.ItemNum = I.ItemNum
			inner join PUC_MT on puc_mt.SmallClassificationCode = I.ItemClassification1	
			where I.RecodingState = 1 and PUC_MT.RecodingState = 1 
			and datepart(yy, S.SaleDate)  = ( select datepart(yy, getdate()) )
			and S.BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
			and S.CompanyName like '%'+@CompanyName+'%'
			and ItemClassification1 like '%'+@ItemClassification1+'%'
			and ItemClassification2 like '%'+@ItemClassification2+'%'
			and ItemClassification3 like '%'+@ItemClassification3+'%'
			and ItemClassification4 like '%'+@ItemClassification4+'%'
			
			GROUP BY 
			S.BusinessRegistrationNum
			, S.CompanyName
			,  datepart(mm, S.SaleDate) 
			
			union all
	
			-- 클레임 원장(cl_ht)
			select 
			datepart(mm, CL.ReceiptDate) as 월
			, CL.BusinessRegistrationNum
			, CL.CompanyName
			, -sum(CL.ClaimCost) as TotalCost
			 FROM cl_ht CL
			inner join II_MT I on CL.ItemNum = I.ItemNum
			inner join PUC_MT on puc_mt.SmallClassificationCode = I.ItemClassification1	
			where I.RecodingState = 1 and PUC_MT.RecodingState = 1 
			and datepart(yy, CL.ReceiptDate)  = ( select datepart(yy, getdate()) )
			and CL.BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
			and CL.CompanyName like '%'+@CompanyName+'%'
			and ItemClassification1 like '%'+@ItemClassification1+'%'
			and ItemClassification2 like '%'+@ItemClassification2+'%'
			and ItemClassification3 like '%'+@ItemClassification3+'%'
			and ItemClassification4 like '%'+@ItemClassification4+'%'
			
			
			GROUP BY 
			CL.BusinessRegistrationNum
			, CL.CompanyName
			,  datepart(mm, CL.ReceiptDate) 	
	
	open	CUR
	IF( @@CURSOR_ROWS <> 0 )
	BEGIN
	
			WHILE ( @i < @@CURSOR_ROWS)
			BEGIN
					fetch from CUR into 	@m_Month	,	@m_BusinessRegistrationNum,		@m_CompanyName,	@m_TotalCost
	
					IF	( @@FETCH_STATUS = 0 )		-- 정상적으로 읽었으면
					BEGIN
	
						if ( not exists(select companyname from #Bindex where companyname = @m_CompanyName) )
						begin
							insert into  #BIndex (CompanyName) values(@m_CompanyName)
						end
	
						-- 해당업체의 해당월에 업데이트
						set @SQL1 = @SQL1 + ' update #Bindex set [' + @m_Month + 'month] =  [' + @m_Month + 'month] + ' + cast(@m_TotalCost as varchar(20)) +' where CompanyName = ''' +@m_CompanyName+''' '
	
						-- 합계행의 해당월에 업데이트
						set @SQL2 = @SQL2 + ' update #Bindex set [' + @m_Month + 'month] =  [' + @m_Month + 'month] + ' + cast( @m_TotalCost as varchar(20) ) +' where  CompanyName = ''합 계'''
				
	
	
						-- 해당업체의 total 컬럼 업데이트
						set @SQL3 = @SQL3 + ' update #Bindex set [Total] = [Total] + '+ cast(@m_TotalCost as varchar(20)) + ' where CompanyName = ''' +@m_CompanyName+''' '
	
						-- 합계행의 total 컬럼 업테이트
						set @SQL4 = @SQL4 + ' update #Bindex set [Total] = [Total] + '+ cast( @m_TotalCost as varchar(20) ) + ' where CompanyName = ''합 계'''
						
					END
	
			set @i = @i +1
	
			END
	END
	CLOSE 				CUR
	DEALLOCATE CUR
-- =============================================
-- 임시 테이블 데이터 채우기 끝
-- =============================================
-- 실행
exec (@sql1 )
exec (@sql2 )
exec (@sql3 )
exec (@sql4 )
select 
		CompanyName	[거래처명]
	,	PreYear 		[전년도]
	,	[Total]		[누계]
	,	[1Month] 		[1월]
	,	[2Month]		[2월]
	,	[3Month]		[3월]
	,	[4Month]	 	[4월]
	,	[5Month]	 	[5월]
	,	[6Month]	 	[6월]
	,	[7Month]	 	[7월]
	,	[8Month]	 	[8월]
	,	[9Month] 		[9월]
	,	[10Month]		[10월]
	,	[11Month]		[11월]
	,	[12Month]		[12월]
	from #Bindex
end
GO
