USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[procPreOutSotoreHousePopup]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   proc [dbo].[procPreOutSotoreHousePopup]
as
--품목 WebCombo 프로시져
select  ItemNum as '품목번호',ItemDrawNum as '도면번호' , ItemName as '품목명' from II_MT where Recodingstate =1 and PropertyClassification ='원자재' or propertyclassification ='반제품' or propertyclassification ='제품'
order by ItemName
--거래처 WebCombo 프로시져
select CompanyName as '거래처명', BusinessRegistrationNum as '사업자등록번호'  from CI_MT where Recodingstate =1 and OutSideOrderCompany = 1
order by CompanyName
 --공정명드롭다운리스트 프로시져
select  SmallClassificationCode,SmallClassificationName from puc_mt where LargeClassificationCode='1400'
--선출고 PopUp창에서 쓰는 프로시져!!
GO
