USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[PreSequenceNumExists]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   proc [dbo].[PreSequenceNumExists] @itemNum varchar(50), @BeginProcessSequenceNum int, @Quantity decimal(20,2)
as
	select 
	psi_mt.ItemNum
	, max(processSequenceNum) as processSequenceNum
	, ( ii_mt.StandardUnitCost * psi_mt.ProgressRate / 100.0 ) * @Quantity
/*
	, ProcessCode, WorkDistinction, WCName, OutsideOrderRate, ProgressRate
	, LeadTime, RecodingState, RegistrationPerson, RegistrationPersonID, RegistrationDate
	, UpdatingPerson, UpdatingPersonID, UpdatingDate, ProcessSequenceInfoIndex 
*/
	from psi_mt join ii_mt
	on psi_mt.itemnum = ii_mt.itemnum 
	where psi_mt.processSequenceNum < @BeginProcessSequenceNum
	and 
	psi_mt.itemnum = @itemNum
	and psi_mt.RecodingState =1
	group by psi_mt.ItemNum, ii_mt.StandardUnitCost, psi_mt.ProgressRate
	order by processsequencenum desc
GO
