USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[SPUpdateReasonRIOI]    Script Date: 07/02/2026 08:48:43 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE                      PROCEDURE [dbo].[SPUpdateReasonRIOI] 
@ChildItemNum AS VARCHAR(50), 
@ChildItemDrawNum AS VARCHAR(50), 
@ChildItemName AS VARCHAR(50), 
@ParentItemNum AS VARCHAR(50), 
@ParentItemDrawNum AS VARCHAR(50), 
@ParentItemName AS VARCHAR(50),
@Division as Varchar(5)
 AS
	
	if(@Division = '0')
	begin
		Select ParentItemNum,II_MT1.ItemDrawNum as ParentItemDrawNum , II_MT1.ItemName as ParentItemName, ChildItemNum, II_MT2.ItemDrawNum as ChildItemDrawNum, II_MT2.ItemName as ChildItemName, NeedQuantityNumerator, NeedQuantityDenominator
		, UPRIOI_HT.ProcessManagement, UPRIOI_HT.SubDivision, UPRIOI_HT.SupplyDivision, UPRIOI_HT.BOMUnit
		, UPRIOI_HT.BeginDate, UPRIOI_HT.EndDate, UPRIOI_HT.UpdateReason, UPRIOI_HT.UpdatingPerson, UPRIOI_HT.UpdatingPersonID, UPRIOI_HT.UpdatingDate
		, UPRIOI_HT.RealItemOrganizationInfoIndex, UPRIOI_HTIndex
		From  UPRIOI_HT inner join II_MT II_MT1 on ParentItemNum = II_MT1.ItemNum
		inner join II_MT II_MT2 on ChildItemNum  = II_MT2.ItemNum
		Where II_MT1.RecodingState = 1 and II_MT2.RecodingState =1 and
	--	ParentItemNum Like '%'+@ParentItemNum + '%' and II_MT1.ItemDrawNum  Like '%'+@ParentItemDrawNum + '%' and II_MT1.ItemName  Like '%'+@ParentItemName + '%' and
		ParentItemNum = @ParentItemNum  and II_MT1.ItemDrawNum  = @ParentItemDrawNum and II_MT1.ItemName  = @ParentItemName and
		 ChildItemNum Like '%'+@ChildItemNum + '%' and   II_MT2.ItemDrawNum Like '%'+@ChildItemDrawNum + '%' and  II_MT2.ItemName Like '%'+@ChildItemName + '%' 
		order by ParentItemNum , UPRIOI_HT.UpdatingDate,  UPRIOI_HTIndex desc
	end
	else
	begin
		Select ParentItemNum,II_MT1.ItemDrawNum as ParentItemDrawNum , II_MT1.ItemName as ParentItemName, ChildItemNum, II_MT2.ItemDrawNum as ChildItemDrawNum, II_MT2.ItemName as ChildItemName, NeedQuantityNumerator, NeedQuantityDenominator
		, UPRIOI_HT.ProcessManagement, UPRIOI_HT.SubDivision, UPRIOI_HT.SupplyDivision, UPRIOI_HT.BOMUnit
		, UPRIOI_HT.BeginDate, UPRIOI_HT.EndDate, UPRIOI_HT.UpdateReason, UPRIOI_HT.UpdatingPerson, UPRIOI_HT.UpdatingPersonID, UPRIOI_HT.UpdatingDate
		, UPRIOI_HT.RealItemOrganizationInfoIndex, UPRIOI_HTIndex
		From UPRIOI_HT inner join II_MT II_MT1 on ParentItemNum = II_MT1.ItemNum
		inner join II_MT II_MT2 on ChildItemNum  = II_MT2.ItemNum
		Where II_MT1.RecodingState = 1 and II_MT2.RecodingState =1 and
		ParentItemNum Like '%'+@ParentItemNum + '%' and II_MT1.ItemDrawNum  Like '%'+@ParentItemDrawNum + '%' and II_MT1.ItemName  Like '%'+@ParentItemName + '%' and
	--	ParentItemNum = @ParentItemNum  and II_MT1.ItemDrawNum  = @ParentItemDrawNum and II_MT1.ItemName  = @ParentItemName and
		 ChildItemNum Like '%'+@ChildItemNum + '%' and   II_MT2.ItemDrawNum Like '%'+@ChildItemDrawNum + '%' and  II_MT2.ItemName Like '%'+@ChildItemName + '%' 
		order by ParentItemNum , UPRIOI_HT.UpdatingDate,  UPRIOI_HTIndex desc
	
	end
GO
