USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[SPTransperState]    Script Date: 07/02/2026 08:48:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SPTransperState] (
			@Year varchar(10),
			@Month varchar(10)
		)	
as





/*
--Select * From TempResultTransperStateTable where ItemNum = '레이져절단기소모서부품구매'
declare @Year varchar(5)
Declare @Month varchar(2)
Set @Year = datepart(yy,getdate())
Set @Month =2
*/
Declare @Sql varchar(7000)
Declare @Division varchar(10)

Set @Division  ='상품'
Set @Month = @Month -1

Delete From TempResultTransperStateTable 

/*

IF exists (Select 1 From tempdb..sysobjects where name like 'TempResultTransperStateTable%')
	DROP TABLE TempResultTransperStateTable
	create table TempResultTransperStateTable 
	( 
		[Division]		varchar(20)
	,	[ItemNum]		varchar(100)					-- 구분1 (원자재, 상품 )
	,	[ItemDrawNum]		varchar(100)					-- 구분1 (원자재, 상품 )
	,	[ItemName]		varchar(100)					-- 구분1 (원자재, 상품 )
	,	[ProcessCode]		varchar(20)					-- 구분1 (원자재, 상품 )
	,	[ProcessName]		varchar(20)					-- 구분1 (원자재, 상품 )
	,	[전월입고수량]		decimal(20,2)	default 0			-- 전월입고수량
	,	[전월입고금액]		decimal(20,2)	default 0			-- 전월입고금액
	,	[전월재고수량]		decimal(20,2) 	default 0			-- 전월재고수량
	,	[전월재고금액]		decimal(20,2)	default 0			-- 전월재고금액
	,	[금월입고수량]		decimal(20,2) 	default 0			-- 금월입고수량
	,	[금월입고금액]		decimal(20,2)	default 0			-- 금월입고금액	
	,	[금월출고수량]		decimal(20,2)	default 0			-- 금월출고수량
	,	[금월재고수량]		decimal(20,2)	default 0			-- 금월재고수량
	,	[금월재고금액]		decimal(20,2)	default 0			-- 금월재고금액
	,	[증감매입수량]		decimal(20,2)	default 0			-- 증감매입수량
	,	[증감매입금액]		decimal(20,2)	default 0			-- 증감매입금액
	,	[증감재고수량]		decimal(20,2)	default 0			-- 증감재고수량
	,	[증감재고금액] 		decimal(20,2)	default 0			-- 증감재고금액
	,	[ItemClassification1]	varchar(20)					-- 구분1 (원자재, 상품 )
	,	[ItemClassification2]	varchar(20)					-- 구분1 (원자재, 상품 )
	,	[ItemClassification3]	varchar(20)					-- 구분1 (원자재, 상품 )
	,	[ItemClassification4]	varchar(20)					-- 구분1 (원자재, 상품 )
	)
*/

if(@Month  = 0)
begin

	Set @Year = @Year -1;
	Set @Month = '12'
		Insert into TempResultTransperStateTable
			Select PropertyClassification, II_MT.ItemNum, II_MT.ItemDrawNum, II_MT.ItemName, RMS_MT.ProcessCode, SmallClassificationName as ProcessName, 0,0,
			sum(LastYearTransferQuantity) as Quantity,0 as TotalCost,0,0,0,0,0,0,0,0,0,ItemClassification1,ItemClassification2,ItemClassification3,ItemClassification4
			From II_MT 
			inner join RMS_MT on II_MT.ItemNum = RMS_MT.ItemNum
			inner join PUC_MT on RMS_MT.ProcessCode = SmallClassificationCode
			where II_MT.RecodingState =1 and RMS_MT.RecodingState =1 and (RMS_MT.[Year] = @Year or  RMS_MT.[Year] = @Year +1)
			group by  II_MT.ItemNum, II_MT.ItemDrawNum, II_MT.ItemName, RMS_MT.ProcessCode,SmallClassificationName   ,ItemClassification1,ItemClassification2,ItemClassification3,ItemClassification4,PropertyClassification
			
			--커서 선언
			DECLARE cur CURSOR 
			FOR
			
			/*
			Select BD_HT.ItemNum,sum(DeliveryQuantity) as StockQuantity  ,sum( TotalCost) as StockCost
			From BD_HT
			inner join II_MT on BD_HT.ItemNum = II_MT.ItemNum
			where [Year] = @Year and [Month] = @Month and PropertyClassification = '원자재'
			and  ( (CheckDistinction =1 and  BD_HT.ProgressCondition = '완료') or (CheckDistinction =0 and BD_HT.ProgressCondition = '대기')) and RecodingState =1
			group by BD_HT.ItemNum, BD_HT.ItemDrawNum ,BD_HT.ItemName
			*/

			Select ItemNum, Sum(StockQuantity) as StockQuantity, sum(StockCost) as StockCost
			From(
				Select QI_HT.ItemNum,sum(QI_HT.SuitabilityQuantity) as StockQuantity  ,sum( QI_HT.SuitabilityQuantity * QI_HT.ApplyUnitCost) as StockCost
				From QI_HT
				inner join II_MT on QI_HT.ItemNum = II_MT.ItemNum
				where [Year] = @Year and [Month] = @Month and PropertyClassification = '원자재'
				--and  ( (CheckDistinction =1 and  BD_HT.ProgressCondition = '완료') or (CheckDistinction =0 and BD_HT.ProgressCondition = '대기')) and RecodingState =1
				and QI_HT.ProgressCondition != '대기' and RecodingState =1
				group by QI_HT.ItemNum, QI_HT.ItemDrawNum ,QI_HT.ItemName
				union all
				Select OIOS_HT.ItemNum, Sum(InOutStorehouseQuantity) as StockQuantity ,0 as StockCost
				From OIOS_HT
				inner join II_MT on OIOS_HT.ItemNum = II_MT.ItemNum
				where datepart(yy,InOutDate)  = @Year and datepart(mm,InOutDate) = @Month and PropertyClassification = '원자재' and InOutStorehouseDistinction = 1 
				--and OIOS_HT.ItemNum= '31150-7142-2' 
				group by OIOS_HT.ItemNum
				union all
				Select II_MT.ItemNum, Sum(CreateQuantity) as Quantity , sum(0) as TotalCost
				From E_HT 
				inner join II_MT on E_HT.CreateItemNum = II_MT.ItemNum
				--where  (datepart(yy,ExhaustDate) = 2009) and (datepart(mm,ExhaustDate) = 2)
				where  (datepart(yy,ExhaustDate) = @Year) and (datepart(mm,ExhaustDate) = @Month)
				and  II_MT.RecodingState =1  and PropertyClassification = '원자재'
				group by II_MT.ItemNum
				
				
			) T
			group by ItemNum
			
			
			--커서 오픈
			OPEN cur
			
			--변수 선언
			DECLARE @ItemNum varchar(50)
			DECLARE @StockQuantity decimal(20,2)
			DECLARE @StockCost decimal(20,2)
			--첫 로우 FETCH
			FETCH NEXT FROM cur INTO @ItemNum, @StockQuantity, @StockCost
			WHILE @@FETCH_STATUS = 0
			BEGIN
			--FETCH된 데이터를 tempdb에 삽입
			Update TempResultTransperStateTable Set [전월입고수량] = @StockQuantity, [전월입고금액]=@StockCost where ItemNum = @ItemNum
			
			--다음 로우 FEETCH - 루프
			FETCH NEXT FROM cur INTO @ItemNum, @StockQuantity, @StockCost
			END
			--커서 CLOSE
			CLOSE cur
			
			--커서 DEALLOCATE
			DEALLOCATE cur
--			GO
	Insert into TempResultTransperStateTable
			Select PropertyClassification, ItemNum, ItemDrawNum, ItemName,ProcessCode,ProcessName, sum(A),sum(B),sum(LastYearTransferQuantity) as Quantity ,sum(C),sum(D),sum(E),sum(F),sum(G),sum(H),sum(I),sum(J),sum(K),sum(L),ItemClassification1,ItemClassification2,ItemClassification3,ItemClassification4
			From (
					Select PropertyClassification, II_MT.ItemNum, ItemDrawNum, ItemName, PS_MT.ProcessCode, SmallClassificationName as ProcessName, 0 as A ,0 as B,LastYearTransferQuantity ,0 as C,0 as D,0 as E,0 as F, 0 as G,0 as H,0 as I,0 as J,0 as K,0 as L,ItemClassification1,ItemClassification2,ItemClassification3,ItemClassification4
					From II_MT 
					inner join PS_MT on II_MT.ItemNum = PS_MT.ItemNum
					inner join PUC_MT on PS_MT.ProcessCode = SmallClassificationCode
					where II_MT.RecodingState =1 and PS_MT.RecodingState =1 and  ( PS_MT.[Year] = @Year or PS_MT.[Year] = @Year+1)
					and II_MT.PropertyClassification = '상품'
					union all
					Select PropertyClassification,  II_MT.ItemNum, ItemDrawNum, ItemName, PS_MT.ProcessCode, SmallClassificationName as ProcessName, 0,0,Sum(LastYearTransferQuantity) as Quantity,0,0,0,0,0,0,0,0,0,0,ItemClassification1,ItemClassification2,ItemClassification3,ItemClassification4
					From II_MT 
					inner join PS_MT on II_MT.ItemNum = PS_MT.ItemNum
					inner join PUC_MT on PS_MT.ProcessCode = SmallClassificationCode
					where II_MT.RecodingState =1 and PS_MT.RecodingState =1 and  ( PS_MT.[Year] = @Year or PS_MT.[Year] = @Year+1)
					and II_MT.PropertyClassification = '상품'
					group by II_MT.ItemNum, ItemDrawNum, ItemName, PS_MT.ProcessCode, SmallClassificationName,ItemClassification1,ItemClassification2,ItemClassification3,ItemClassification4,PropertyClassification
			)T
			group by ItemNum, ItemDrawNum, ItemName, ProcessCode, ProcessName,ItemClassification1,ItemClassification2,ItemClassification3,ItemClassification4,PropertyClassification

				--커서 선언
			DECLARE cur CURSOR 
			FOR
			
			Select ItemNum, Sum(StockQuantity) as StockQuantity, sum(StockCost) as StockCost
			From(
				Select QI_HT.ItemNum,sum(QI_HT.SuitabilityQuantity) as StockQuantity  ,sum( QI_HT.SuitabilityQuantity * QI_HT.ApplyUnitCost) as StockCost
				From QI_HT
				inner join II_MT on QI_HT.ItemNum = II_MT.ItemNum
				where [Year] = @Year and [Month] = @Month and PropertyClassification = '상품'
				--and  ( (CheckDistinction =1 and  BD_HT.ProgressCondition = '완료') or (CheckDistinction =0 and BD_HT.ProgressCondition = '대기')) and RecodingState =1
				and QI_HT.ProgressCondition != '대기' and RecodingState =1
				group by QI_HT.ItemNum, QI_HT.ItemDrawNum ,QI_HT.ItemName
				union all
				Select OIOS_HT.ItemNum, Sum(InOutStorehouseQuantity) as StockQuantity ,0 as StockCost
				From OIOS_HT
				inner join II_MT on OIOS_HT.ItemNum = II_MT.ItemNum
				where datepart(yy,InOutDate)  = @Year and datepart(mm,InOutDate) = @Month and PropertyClassification = '상품' and InOutStorehouseDistinction = 1 
				group by OIOS_HT.ItemNum
			) T
			group by ItemNum
			
			--커서 오픈
			OPEN cur
			
			--변수 선언
			--DECLARE @ItemNum varchar(50)
			--DECLARE @StockQuantity decimal(20,2)
			--DECLARE @StockCost decimal(20,2)
			--첫 로우 FETCH
			FETCH NEXT FROM cur INTO @ItemNum, @StockQuantity, @StockCost
			WHILE @@FETCH_STATUS = 0
			BEGIN
			--FETCH된 데이터를 tempdb에 삽입
			Update TempResultTransperStateTable Set [전월입고수량] = @StockQuantity, [전월입고금액]=@StockCost where ItemNum = @ItemNum
			
			--다음 로우 FEETCH - 루프
			FETCH NEXT FROM cur INTO @ItemNum, @StockQuantity, @StockCost
			END
			--커서 CLOSE
			CLOSE cur
			
			--커서 DEALLOCATE
			DEALLOCATE cur
			--GO
	Set @Year = @Year +1;
	Set @Month = 0
end
else
begin

	Set @Sql = 'insert into TempResultTransperStateTable
			Select PropertyClassification, II_MT.ItemNum, ItemDrawNum, ItemName, RMS_MT.ProcessCode, SmallClassificationName as ProcessName, 0,0, StockQuantity'+@Month+' ,0,0,0,0,0,0,0,0,0,0,ItemClassification1,ItemClassification2,ItemClassification3,ItemClassification4
			From II_MT 
			inner join RMS_MT on II_MT.ItemNum = RMS_MT.ItemNum
			inner join PUC_MT on RMS_MT.ProcessCode = SmallClassificationCode
			where II_MT.RecodingState =1 and RMS_MT.RecodingState =1 and RMS_MT.[Year] = ' +@Year+' '
		exec(@Sql)
	--커서 선언
			DECLARE cur CURSOR 
			FOR
			
			Select ItemNum, Sum(StockQuantity) as StockQuantity, sum(StockCost) as StockCost
			From(
				Select QI_HT.ItemNum,sum(QI_HT.SuitabilityQuantity) as StockQuantity  ,sum( QI_HT.SuitabilityQuantity * QI_HT.ApplyUnitCost) as StockCost
				From QI_HT
				inner join II_MT on QI_HT.ItemNum = II_MT.ItemNum
				where [Year] = @Year and [Month] = @Month and PropertyClassification = '원자재'
				--and  ( (CheckDistinction =1 and  BD_HT.ProgressCondition = '완료') or (CheckDistinction =0 and BD_HT.ProgressCondition = '대기')) and RecodingState =1
				and QI_HT.ProgressCondition != '대기' and RecodingState =1
				group by QI_HT.ItemNum, QI_HT.ItemDrawNum ,QI_HT.ItemName
				union all
				Select OIOS_HT.ItemNum, Sum(InOutStorehouseQuantity) as StockQuantity ,0 as StockCost
				From OIOS_HT
				inner join II_MT on OIOS_HT.ItemNum = II_MT.ItemNum
				where datepart(yy,InOutDate)  = @Year and datepart(mm,InOutDate) = @Month and PropertyClassification = '원자재' and InOutStorehouseDistinction = 1 
				group by OIOS_HT.ItemNum, OIOS_HT.ItemDrawNum ,OIOS_HT.ItemName
				union all
				Select II_MT.ItemNum, Sum(CreateQuantity) as Quantity , sum(0) as TotalCost
				From E_HT 
				inner join II_MT on E_HT.CreateItemNum = II_MT.ItemNum
				--where  (datepart(yy,ExhaustDate) = 2009) and (datepart(mm,ExhaustDate) = 2)
				where  (datepart(yy,ExhaustDate) = @Year) and (datepart(mm,ExhaustDate) = @Month)
				and  II_MT.RecodingState =1  and PropertyClassification = '원자재'
				group by II_MT.ItemNum
			) T
			group by ItemNum
			
			
			--커서 오픈
			OPEN cur
			
			--변수 선언
			--DECLARE @ItemNum varchar(50)
			--DECLARE @StockQuantity decimal(20,2)
			--DECLARE @StockCost decimal(20,2)
			--첫 로우 FETCH
			FETCH NEXT FROM cur INTO @ItemNum, @StockQuantity, @StockCost
			WHILE @@FETCH_STATUS = 0
			BEGIN
			--FETCH된 데이터를 tempdb에 삽입
			Update TempResultTransperStateTable Set [전월입고수량] = @StockQuantity, [전월입고금액]=@StockCost where ItemNum = @ItemNum
			
			--다음 로우 FEETCH - 루프
			FETCH NEXT FROM cur INTO @ItemNum, @StockQuantity, @StockCost
			END
			--커서 CLOSE
			CLOSE cur
			
			--커서 DEALLOCATE
			DEALLOCATE cur
			--GO
	

	
	
	Set @Division  ='상품'
			
	Set @Sql = 'insert into TempResultTransperStateTable	
			Select  PropertyClassification, ItemNum, ItemDrawNum, ItemName,ProcessCode,ProcessName, sum(A),sum(B),sum(Quantity) as Quantity ,sum(C),sum(D),sum(E),sum(F),sum(G),sum(H),sum(I),sum(J),sum(K),sum(L),ItemClassification1,ItemClassification2,ItemClassification3,ItemClassification4
			From (

					Select  PropertyClassification, II_MT.ItemNum, ItemDrawNum, ItemName, PS_MT.ProcessCode, SmallClassificationName as ProcessName, 0 as A ,0 as B, StockQuantity'+@Month+' as Quantity,0 as C,0 as D,0 as E,0 as F, 0 as G,0 as H,0 as I,0 as J,0 as K,0 as L,ItemClassification1,ItemClassification2,ItemClassification3,ItemClassification4
					From II_MT 
					inner join PS_MT on II_MT.ItemNum = PS_MT.ItemNum
					inner join PUC_MT on PS_MT.ProcessCode = SmallClassificationCode
					where II_MT.RecodingState =1 and PS_MT.RecodingState =1 and PS_MT.[Year] = '+@Year+' 
					and II_MT.PropertyClassification = '''+@Division+'''
					union all 
					Select PropertyClassification, II_MT.ItemNum, ItemDrawNum, ItemName, BS_MT.ProcessCode, SmallClassificationName as ProcessName, 0,0,sum(StockQuantity'+@Month+') as Quantity,0,0,0,0,0,0,0,0,0,0,ItemClassification1,ItemClassification2,ItemClassification3,ItemClassification4
					From II_MT 
					inner join BS_MT on II_MT.ItemNum = BS_MT.ItemNum
					inner join PUC_MT on BS_MT.ProcessCode = SmallClassificationCode
					where II_MT.RecodingState =1 and BS_MT.RecodingState =1 and BS_MT.[Year] =  '+@Year+' 
					and II_MT.PropertyClassification =  '''+@Division+'''
					group by II_MT.ItemNum, ItemDrawNum, ItemName, BS_MT.ProcessCode, SmallClassificationName,ItemClassification1,ItemClassification2,ItemClassification3,ItemClassification4,PropertyClassification
			)T
			group by ItemNum, ItemDrawNum, ItemName, ProcessCode, ProcessName,ItemClassification1,ItemClassification2,ItemClassification3,ItemClassification4,PropertyClassification'
	exec(@Sql)
		--커서 선언
			DECLARE cur CURSOR 
			FOR
			
			Select ItemNum, Sum(StockQuantity) as StockQuantity, sum(StockCost) as StockCost
			From(
				Select QI_HT.ItemNum,sum(QI_HT.SuitabilityQuantity) as StockQuantity  ,sum( QI_HT.SuitabilityQuantity * QI_HT.ApplyUnitCost) as StockCost
				From QI_HT
				inner join II_MT on QI_HT.ItemNum = II_MT.ItemNum
				where [Year] = @Year and [Month] = @Month and PropertyClassification = '상품'
				--and  ( (CheckDistinction =1 and  BD_HT.ProgressCondition = '완료') or (CheckDistinction =0 and BD_HT.ProgressCondition = '대기')) and RecodingState =1
				and QI_HT.ProgressCondition != '대기' and RecodingState =1
				group by QI_HT.ItemNum, QI_HT.ItemDrawNum ,QI_HT.ItemName
				union all
				Select OIOS_HT.ItemNum, Sum(InOutStorehouseQuantity) as StockQuantity ,0 as StockCost
				From OIOS_HT
				inner join II_MT on OIOS_HT.ItemNum = II_MT.ItemNum
				where datepart(yy,InOutDate)  = @Year and datepart(mm,InOutDate) = @Month and PropertyClassification = '상품' and InOutStorehouseDistinction = 1 
				group by OIOS_HT.ItemNum
			) T
			group by ItemNum
			
			
			
			--커서 오픈
			OPEN cur
			
			--변수 선언
			--DECLARE @ItemNum varchar(50)
			--DECLARE @StockQuantity decimal(20,2)
			--DECLARE @StockCost decimal(20,2)
			--첫 로우 FETCH
			FETCH NEXT FROM cur INTO @ItemNum, @StockQuantity, @StockCost
			WHILE @@FETCH_STATUS = 0
			BEGIN
			--FETCH된 데이터를 tempdb에 삽입
			Update TempResultTransperStateTable Set [전월입고수량] = @StockQuantity, [전월입고금액]=@StockCost where ItemNum = @ItemNum
			
			--다음 로우 FEETCH - 루프
			FETCH NEXT FROM cur INTO @ItemNum, @StockQuantity, @StockCost
			END
			--커서 CLOSE
			CLOSE cur
			
			--커서 DEALLOCATE
			DEALLOCATE cur
			--GO
end
Update TempResultTransperStateTable Set ItemClassification3 = '02300120'
where ItemClassification2 = '02200050'

-------------------
-- 금월 재고수량 및 재고 금액 넣기 끝
-------------------


--Select * From TempResultTransperStateTable where ItemNum = 'SD-MC-00400'




/*
Update TempResultTransperStateTable Set 
Select * From TempResultTransperStateTable where ItemNum =' 레이져절단기소모서부품구매'
Select  TempResultTransperStateTable.* , isnull(P1.SmallClassificationName, '') , isnull(P2.SmallClassificationName, '') , isnull(P3.SmallClassificationName, '') , isnull(P4.SmallClassificationName, '')
From TempResultTransperStateTable  
left outer join  PUC_MT P1 on TempResultTransperStateTable.ItemClassification1 = P1.SmallClassificationCode
left outer join  PUC_MT P2 on TempResultTransperStateTable.ItemClassification2 = P2.SmallClassificationCode
left outer join  PUC_MT P3 on TempResultTransperStateTable.ItemClassification3 = P3.SmallClassificationCode
left outer join  PUC_MT P4 on TempResultTransperStateTable.ItemClassification4 = P4.SmallClassificationCode
where TempResultTransperStateTable.ItemClassification3 = '02300140' 
order by TempResultTransperStateTable.ItemNum
where ItemNum = 'M7555-51513-1'
order by  TempResultTransperStateTable.ItemNum
	IF exists (Select 1 From tempdb..sysobjects where name like '#TempTestTable%')
		DROP TABLE #TempTestTable
		create table #TempTestTable 
		( 
			[ItemNum]		varchar(100)					-- 구분1 (원자재, 상품 )
		,	[전월입고수량]		decimal(20,2)	default 0			-- 전월입고수량
		,	[전월입고금액]		decimal(20,2)	default 0			-- 전월입고금액
		,	[전월재고수량]		decimal(20,2) 	default 0			-- 전월재고수량
		,	[전월재고금액]		decimal(20,2)	default 0			-- 전월재고금액
		,	[금월입고수량]		decimal(20,2) 	default 0			-- 금월입고수량
		,	[금월입고금액]		decimal(20,2)	default 0			-- 금월입고금액	
		,	[금월출고수량]		decimal(20,2)	default 0			-- 금월출고수량
		,	[금월재고수량]		decimal(20,2)	default 0			-- 금월재고수량
		,	[금월재고금액]		decimal(20,2)	default 0			-- 금월재고금액
		,	[증감매입수량]		decimal(20,2)	default 0			-- 증감매입수량
		,	[증감매입금액]		decimal(20,2)	default 0			-- 증감매입금액
		,	[증감재고수량]		decimal(20,2)	default 0			-- 증감재고수량
		,	[증감재고금액] 		decimal(20,2)	default 0			-- 증감재고금액
		,	[ItemClassification3]	varchar(20)					-- 구분1 (원자재, 상품 )
		)
insert into #TempTestTable
	Select TempResultTransperStateTable.ItemNum
	,	isnull(sum([전월입고수량]),0) as [전월입고수량]
	,	isnull(sum([전월입고금액]),0) as [전월입고금액]
	,	isnull(sum([전월재고수량]),0) as [전월재고수량]
	,	isnull(sum([전월재고금액]),0) as [전월재고금액]
	,	isnull(sum([금월입고수량]),0) as [금월입고수량]
	,	isnull(sum([금월입고금액]),0) as [금월입고금액]
	,	isnull(sum([금월출고수량]),0) as [금월출고수량]
	,	isnull(sum([금월재고수량]),0) as [금월재고수량]
	,	isnull(sum([금월재고금액]),0) as [금월재고금액]
	,	isnull(sum([증감매입수량]),0) as [증감매입수량]
	,	isnull(sum([증감매입금액]),0) as [증감매입금액]
	,	isnull(sum([증감재고수량]),0) as [증감재고수량]
	,	isnull(sum([증감재고금액]),0) as [증감재고금액]
	, 	isnull(P3.SmallClassificationName, '')--, isnull(P1.SmallClassificationName, '') , isnull(P2.SmallClassificationName, '') , isnull(P3.SmallClassificationName, '') , isnull(P4.SmallClassificationName, '')
	From TempResultTransperStateTable 
	left outer join  PUC_MT P1 on TempResultTransperStateTable.ItemClassification1 = P1.SmallClassificationCode
	left outer join  PUC_MT P2 on TempResultTransperStateTable.ItemClassification2 = P2.SmallClassificationCode
	left outer join  PUC_MT P3 on TempResultTransperStateTable.ItemClassification3 = P3.SmallClassificationCode
	left outer join  PUC_MT P4 on TempResultTransperStateTable.ItemClassification4 = P4.SmallClassificationCode
--where P3.SmallClassificationName ='로더 관련'
group by P3.SmallClassificationName, TempResultTransperStateTable.ItemNum
--order by TempResultTransperStateTable.Division,  TempResultTransperStateTable.ItemNum
*/


--Select * From TempResultTransperStateTable where ItemNum = 'T4682-78252A'
GO
