USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[BizPlanResultIndex_Search]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE             proc [dbo].[BizPlanResultIndex_Search]
-------------------------------- BizPlanResultIndex.aspx (사업계획/실적지표) ------------------------------
								( 
									@BusinessRegistrationNum varchar(50) = ''
									, @CompanyName varchar(50) = ''
									, @ItemClassification1 varchar(15) = ''
									, @ItemClassification2 varchar(15) = ''
									, @ItemClassification3 varchar(15) = ''
									, @ItemClassification4 varchar(15) = ''
								)
as
begin
set nocount on
-- Cursor 에서 Fetch 할 변수
declare @m_PlanYear varchar(5)
declare @m_PlanMonth varchar(2)
declare @m_BusinessRegistrationNum varchar(50)
declare @m_CompanyName varchar(50)
declare @m_PlanTotalCost decimal(20, 2)
declare @m_TotalCost decimal(20, 2)
-- Cursor 에서 Fetch 할 변수 끝
declare @SQL1  varchar(8000)
declare @SQL2  varchar(8000)
declare @SQL3  varchar(8000)
declare @SQL4  varchar(8000)
declare @SQL5  varchar(8000)
declare @SQL6  varchar(8000)
declare @SQL7  varchar(8000)
declare @SQL8  varchar(8000)
declare @SQL9  varchar(8000)
declare @i smallint 
declare @CompanyCount smallint
set @i = 0
set @SQL1 = ''
set @SQL2 = ''
set @SQL3 = ''
set @SQL4 = ''
set @SQL5 = ''
set @SQL6 = ''
set @SQL7 = ''
set @SQL8 = ''
set @SQL9 = ''
IF exists (Select 1 From tempdb..sysobjects where name like '#BIndex%')
	DROP TABLE #BIndex
	create table #BIndex 
	( 
		CompanyName	varchar(50)			-- 거래처명
	,	Div varchar(20)					-- 구분
	,	PreYear decimal(20,2)	default 0			-- 전년도
	,	[Total] decimal(20,2)	default 0			-- 누계
	,	[1Month] decimal(20,2) 	default 0
	,	[2Month] decimal(20,2)	default 0
	,	[3Month] decimal(20,2)	default 0
	,	[4Month] decimal(20,2)	default 0
	,	[5Month] decimal(20,2)	default 0
	,	[6Month] decimal(20,2)	default 0
	,	[7Month] decimal(20,2)	default 0
	,	[8Month] decimal(20,2)	default 0
	,	[9Month] decimal(20,2)	default 0
	,	[10Month] decimal(20,2)	default 0
	,	[11Month] decimal(20,2)	default 0
	,	[12Month] decimal(20,2)	default 0
	)
	insert into  #BIndex (CompanyName, Div) values('합 계', '합계율(%)')
	insert into  #BIndex (CompanyName, Div) values('합 계', '계획금액')
	insert into  #BIndex (CompanyName, Div) values('합 계', '실적금액')
DECLARE CUR CURSOR
READ_ONLY
FOR 
	-- =============================================
	-- 커서 질의 시작
	-- =============================================
		/*		디버깅시 사용
		
		declare @BusinessRegistrationNum varchar(30)
		declare @CompanyName varchar(50)
		declare @ItemClassification1 varchar(15)
		declare @ItemClassification2 varchar(15)
		declare @ItemClassification3 varchar(15)
		declare @ItemClassification4 varchar(15)
		
		set @BusinessRegistrationNum = ''
		set @CompanyName = ''
		set @ItemClassification1 = ''
		set @ItemClassification2 = ''
		set @ItemClassification3 = ''
		set @ItemClassification4 = ''
		
		*/
		select planyear, PlanMonth, BusinessRegistrationNum, Companyname, sum(plantotalcost), sum(totalcost)
		from
			(
				(
					select 	-- 계획수량
					  bpi_mt.PlanYear
					,  bpi_mt.PlanMonth 
					,  BPI_MT.BusinessRegistrationNum
					, ci_mt.CompanyName
					, sum(plantotalcost) as PlanTotalCost
					, 0 as totalcost
					 FROM BPI_MT 
					INNER JOIN CI_MT
					ON BPI_MT.BusinessRegistrationNum = CI_MT.BusinessRegistrationNum
					INNER JOIN II_MT
					on ii_mt.itemnum = bpi_mt.itemnum
					inner join puc_mt
					on puc_mt.SmallClassificationCode = ii_mt.ItemClassification1
					and	(
					(	case 	when	( @ItemClassification1 <> '' )	then		ii_mt.ItemClassification1	else ''	end 	)
						=
					(	case 	when	( @ItemClassification1 <> '' )	then		@ItemClassification1 	else		''	end		)
						and
					(	case 	when	( @ItemClassification2 <> '' )	then		ii_mt.ItemClassification2	else		''	end		)
						=
					(	case 	when	( @ItemClassification2 <> '' )	then		@ItemClassification2 	else		''	end		)
						and
					(	case 	when	( @ItemClassification3 <> '' )	then		ii_mt.ItemClassification3	else		''	end		)
						=
					(	case 	when	( @ItemClassification3 <> '' )	then		@ItemClassification3 	else		''	end		)
						and
					(	case 	when	( @ItemClassification4 <> '' )	then		ii_mt.ItemClassification4	else		''	end		)
						=
					(	case 	when	( @ItemClassification4 <> '' )	then		@ItemClassification4 	else		''	end		)	)
					where  BPI_MT.PlanYear = ( select datepart(yy, getdate()) )
					and BPI_MT.RecodingState = 1 and CI_MT.RecodingState =1 and puc_mt.recodingstate = 1 and ii_mt.recodingstate =1
					and
					(
						case 	when	( @BusinessRegistrationNum <> '' )	then		BPI_MT.BusinessRegistrationNum 	else		''	end		
					)
					=
					(
						case 	when	( @BusinessRegistrationNum <> '' )	then		@BusinessRegistrationNum 	else		''	end		
					)
					and
					(
						case 	when	( @CompanyName <> '' )	then		Ci_MT.CompanyName 	else		''	end		
					)
					like
					(
						case 	when	( @CompanyName <> '' )	then		'%'+ @CompanyName+'%'  	else		''	end		
					)
			
					GROUP BY 
					BPI_MT.BusinessRegistrationNum
					, ci_mt.CompanyName
					, PlanYear
					, PlanMonth
				)
		
				union all		-- 판매수량
		
				(
					select 
					  datepart(yy, s_ht.registrationdate) as Syear
					, datepart(mm, s_ht.registrationdate) as SMonth
					, s_ht.BusinessRegistrationNum
					, ci_mt.CompanyName
					, 0 as aPlanTotalCost
					, sum(totalcost) as TotalCost
					from s_ht 
					INNER JOIN CI_MT
					ON s_ht.BusinessRegistrationNum = CI_MT.BusinessRegistrationNum
					INNER JOIN II_MT
					on ii_mt.itemnum = s_ht.itemnum
					inner join puc_mt
					on puc_mt.SmallClassificationCode = ii_mt.ItemClassification1
					and	(
					(	case 	when	( @ItemClassification1 <> '' )	then		ii_mt.ItemClassification1	else ''	end 	)
						=
					(	case 	when	( @ItemClassification1 <> '' )	then		@ItemClassification1 	else		''	end		)
						and
					(	case 	when	( @ItemClassification2 <> '' )	then		ii_mt.ItemClassification2	else		''	end		)
						=
					(	case 	when	( @ItemClassification2 <> '' )	then		@ItemClassification2 	else		''	end		)
						and
					(	case 	when	( @ItemClassification3 <> '' )	then		ii_mt.ItemClassification3	else		''	end		)
						=
					(	case 	when	( @ItemClassification3 <> '' )	then		@ItemClassification3 	else		''	end		)
						and
					(	case 	when	( @ItemClassification4 <> '' )	then		ii_mt.ItemClassification4	else		''	end		)
						=
					(	case 	when	( @ItemClassification4 <> '' )	then		@ItemClassification4 	else		''	end		)	)
					where  ( datepart(yy, s_ht.registrationdate)   = ( select datepart(yy, getdate()) ) )
					and CI_MT.RecodingState =1 and puc_mt.recodingstate = 1 and ii_mt.recodingstate =1
					and
					(
						case 	when	( @BusinessRegistrationNum <> '' )	then		s_ht.BusinessRegistrationNum 	else		''	end		
					)
					=
					(
						case 	when	( @BusinessRegistrationNum <> '' )	then		@BusinessRegistrationNum 	else		''	end		
					)
					and
					(
						case 	when	( @CompanyName <> '' )	then		Ci_MT.CompanyName 	else		''	end		
					)
					like
					(
						case 	when	( @CompanyName <> '' )	then		'%'+ @CompanyName+'%'  	else		''	end		
					)
			
					GROUP BY 
					s_ht.BusinessRegistrationNum
					, ci_mt.CompanyName
					,  datepart(yy, s_ht.registrationdate) 
					,  datepart(mm, s_ht.registrationdate)  
				)
			
		) BizPlanResultIndex
		group by planyear, PlanMonth, BusinessRegistrationNum, Companyname
open	CUR
IF( @@CURSOR_ROWS <> 0 )
BEGIN
		WHILE ( @i < @@CURSOR_ROWS)
		BEGIN
				fetch from CUR into 	@m_PlanYear,	@m_PlanMonth,	@m_BusinessRegistrationNum,		@m_CompanyName,	@m_PlanTotalCost, 	@m_TotalCost
				IF	( @@FETCH_STATUS = 0 )		-- 정상적으로 읽었으면
				BEGIN
					if ( not exists(select companyname from #Bindex where companyname = @m_CompanyName ) )
					begin				
						insert into  #BIndex (CompanyName, Div) values(@m_CompanyName, '합계율(%)')
						insert into  #BIndex (CompanyName, Div) values(@m_CompanyName, '계획금액')
						insert into  #BIndex (CompanyName, Div) values(@m_CompanyName, '실적금액')
							
					end
					-- 계획금액 업데이트
					set @SQL1 = @SQL1 + ' update #Bindex set [' + @m_PlanMonth + 'month] =  [' + @m_PlanMonth + 'month] + ' + cast(@m_PlanTotalCost as varchar(20)) +' where CompanyName = ''' +@m_CompanyName+''' and div = ''계획금액'''
					-- 실적금액 업데이트
					set @SQL1 = @SQL1 + ' update #Bindex set [' + @m_PlanMonth + 'month] =  [' + @m_PlanMonth + 'month] + ' + cast( @m_TotalCost as varchar(20) ) +' where  CompanyName = ''' +@m_CompanyName+''' and div = ''실적금액'''
					-- 합계율(%) 업데이트
					set @SQL1 = @SQL1 + ' update #Bindex set [' + @m_PlanMonth + 'month] =  [' + @m_PlanMonth + 'month] + ' + cast(  case when @m_PlanTotalCost <> 0 then ( ( @m_TotalCost / @m_PlanTotalCost) * 100.0 ) else 0  end   as varchar(30) )  +' where CompanyName = ''' + @m_CompanyName + ''' and div = ''합계율(%)'''
			
					-- total 컬럼 계획금액 업데이트
					set @SQL1 = @SQL1 + ' update #Bindex set [Total] = [Total] + '+ cast(@m_PlanTotalCost as varchar(20)) + ' where CompanyName = ''' +@m_CompanyName+''' and div = ''계획금액'''
					-- total 컬럼 실적금액 업데이트
					set @SQL1 = @SQL1 + ' update #Bindex set [Total] = [Total] + '+ cast( @m_TotalCost as varchar(20) ) + ' where CompanyName = ''' +@m_CompanyName+''' and div = ''실적금액'''
					
					-- 합계행의 실적금액 업데이트
					set @SQL1 = @SQL1 + ' update #Bindex set [' + @m_PlanMonth + 'month] =  [' + @m_PlanMonth + 'month] + ' + cast( @m_TotalCost as varchar(20) ) +' where  CompanyName = ''합 계'' and div = ''실적금액'' '
					
					-- 합계행의 계획금액 업데이트
					set @SQL1 = @SQL1 + ' update #Bindex set [' + @m_PlanMonth + 'month] =  [' + @m_PlanMonth + 'month] + ' + cast(@m_PlanTotalCost as varchar(20)) +' where CompanyName = ''합 계'' and div = ''계획금액'' '
					-- total 컬럼 합계행의 계획금액 업데이트
					set @SQL1 = @SQL1 + ' update #Bindex set [Total] = [Total] + '+ cast(@m_PlanTotalCost as varchar(20)) + ' where CompanyName = ''합 계'' and div = ''계획금액'''
					-- total 컬럼 합계행의 실적금액 업데이트
					set @SQL1 = @SQL1 + ' update #Bindex set [Total] = [Total] + '+ cast( @m_TotalCost as varchar(20) ) + ' where CompanyName = ''합 계'' and div = ''실적금액'''
				END
				exec (@SQL1 )
		set @i = @i +1
		END
END
CLOSE 				CUR
DEALLOCATE CUR
-- 실행
select 
		CompanyName	[거래처명]
	,	Div 			[구분]
	,	PreYear 		[전년도]
	,	[Total]		[누계]
	,	[1Month] 		[1월]
	,	[2Month]		[2월]
	,	[3Month]		[3월]
	,	[4Month]	 	[4월]
	,	[5Month]	 	[5월]
	,	[6Month]	 	[6월]
	,	[7Month]	 	[7월]
	,	[8Month]	 	[8월]
	,	[9Month] 		[9월]
	,	[10Month]		[10월]
	,	[11Month]		[11월]
	,	[12Month]		[12월]
	from #Bindex
end
GO
