USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[SPWorkRemainderProcessingNextLvl]    Script Date: 07/02/2026 08:48:43 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE     PROCEDURE [dbo].[SPWorkRemainderProcessingNextLvl] 
AS
	IF exists (Select 1 From tempdb..sysobjects where name like '#TBBom%')
		DROP TABLE #TBBom
	-- 공정정보를 임시로 기억할 Table
	CREATE TABLE #TBBom
	(
		ItemNum VARCHAR(50),
		ProcessSequenceNum tinyint,
		ProcessCode VARCHAR(50),
		Quantity decimal(20,2),
		Lvl TINYINT,
		Path VARCHAR(500)
	)
	insert into #TBBom
	select ItemNum,ProcessSequenceNum,ProcessCode, Quantity,Lvl,Path  From TBTreeItem T1 where T1.Lvl  =  2 and
	T1.ProcessSequenceNum = (Select Max(T2.ProcessSequenceNum) from TBTreeItem T2 where T2.ItemNum = T1.ItemNum Group by T2.ItemNum)
	select * From #TBBom
GO
