USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[Insert]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[Insert]
(
	@ItemNum varchar(50),
	@ItemDrawNum varchar(50),
	@ItemName varchar(50),
	@BuyingRequestSourceCode varchar(50),
	@BuyingRequestSource varchar(50),
	@FirstDeliveryDemandQuantity float,
	@FirstDeliveryDemandDate smalldatetime,
	@SecondDeliveryDemandQuantity float,
	@SecondDeliveryDemandDate smalldatetime,
	@ThirdDeliveryDemandQuantity float,
	@ThirdDeliveryDemandDate smalldatetime,
	@FourthDeliveryDemandQuantity float,
	@FourthDeliveryDemandDate smalldatetime,
	@FifthDeliveryDemandQuantity float,
	@FifthDeliveryDemandDate smalldatetime,
	@OrderQuantity float,
	@ApplyUnitCost float,
	@TotalCost float,
	@VolumNum int,
	@ProgressCondition varchar(50)
)
AS
	SET NOCOUNT OFF;
INSERT INTO BR_HT(ItemNum, ItemDrawNum, ItemName, BuyingRequestSourceCode, BuyingRequestSource, FirstDeliveryDemandQuantity, FirstDeliveryDemandDate, SecondDeliveryDemandQuantity, SecondDeliveryDemandDate, ThirdDeliveryDemandQuantity, ThirdDeliveryDemandDate, FourthDeliveryDemandQuantity, FourthDeliveryDemandDate, FifthDeliveryDemandQuantity, FifthDeliveryDemandDate, OrderQuantity, ApplyUnitCost, TotalCost, VolumNum, ProgressCondition) VALUES (@ItemNum, @ItemDrawNum, @ItemName, @BuyingRequestSourceCode, @BuyingRequestSource, @FirstDeliveryDemandQuantity, @FirstDeliveryDemandDate, @SecondDeliveryDemandQuantity, @SecondDeliveryDemandDate, @ThirdDeliveryDemandQuantity, @ThirdDeliveryDemandDate, @FourthDeliveryDemandQuantity, @FourthDeliveryDemandDate, @FifthDeliveryDemandQuantity, @FifthDeliveryDemandDate, @OrderQuantity, @ApplyUnitCost, @TotalCost, @VolumNum, @ProgressCondition);
	SELECT ItemNum, ItemDrawNum, ItemName, BuyingRequestSourceCode, BuyingRequestSource, FirstDeliveryDemandQuantity, FirstDeliveryDemandDate, SecondDeliveryDemandQuantity, SecondDeliveryDemandDate, ThirdDeliveryDemandQuantity, ThirdDeliveryDemandDate, FourthDeliveryDemandQuantity, FourthDeliveryDemandDate, FifthDeliveryDemandQuantity, FifthDeliveryDemandDate, OrderQuantity, ApplyUnitCost, TotalCost, VolumNum, ProgressCondition, BuyingRequestHistoryIndex FROM BR_HT WHERE (BuyingRequestHistoryIndex = @@IDENTITY)
GO
