USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[Select]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Select]
AS
	SET NOCOUNT ON;
SELECT ItemNum, ItemDrawNum, ItemName, BuyingRequestSourceCode, BuyingRequestSource, FirstDeliveryDemandQuantity, FirstDeliveryDemandDate, SecondDeliveryDemandQuantity, SecondDeliveryDemandDate, ThirdDeliveryDemandQuantity, ThirdDeliveryDemandDate, FourthDeliveryDemandQuantity, FourthDeliveryDemandDate, FifthDeliveryDemandQuantity, FifthDeliveryDemandDate, OrderQuantity, ApplyUnitCost, TotalCost, VolumNum, ProgressCondition, BuyingRequestHistoryIndex FROM BR_HT WHERE (ProgressCondition = '대기')
GO
