USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[SaleTatalProfitIndex_Search]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE              proc [dbo].[SaleTatalProfitIndex_Search]
							(
								  @ItemClassification1 varchar(30) = ''
								, @ItemClassification2 varchar(30) = ''
								, @ItemClassification3 varchar(30) = ''
								, @ItemClassification4 varchar(30) = ''
							)
as
begin
	IF exists (Select 1 From tempdb..sysobjects where name like '#STIndex%')
	DROP TABLE #STIndex
	create table #STIndex 
	( 
		Div1	varchar(20)					-- 구분1 ( 매입, 매출, 총이익 )
	,	Div2   varchar(20)					-- 구분2 ( 누계, 상품, 원자재, 제품 등 )
	,	PreYear decimal(20,2)	default 0		-- 전년도
	,	[Total] decimal(20,2)	default 0		-- 누계
	,	[1Month] decimal(20,2) 	default 0
	,	[2Month] decimal(20,2)	default 0
	,	[3Month] decimal(20,2)	default 0
	,	[4Month] decimal(20,2)	default 0
	,	[5Month] decimal(20,2)	default 0
	,	[6Month] decimal(20,2)	default 0
	,	[7Month] decimal(20,2)	default 0
	,	[8Month] decimal(20,2)	default 0
	,	[9Month] decimal(20,2)	default 0
	,	[10Month] decimal(20,2)	default 0
	,	[11Month] decimal(20,2)	default 0
	,	[12Month] decimal(20,2)	default 0
	)
	insert #STIndex(div1, div2) values( '총이익', '총이익' )
	insert #STIndex(div1, div2)  values( '매입', '누계' )
	insert #STIndex(div1, div2)  values( '매입', '상품' )
	insert #STIndex(div1, div2)  values( '매입', '원자재' )
	insert #STIndex(div1, div2)  values( '매입', '외주' )
	insert #STIndex(div1, div2)  values( '매출', '누계' )
	insert #STIndex(div1, div2)  values( '매출', '제품' )
	insert #STIndex(div1, div2)  values( '매출', '상품' )
	
	declare @m_Month varchar(3)
	declare @m_TotalCost varchar(20)
	declare @m_Div1 varchar(10)
	declare @m_Div2 varchar(15)
	declare @SQL1 varchar(8000)
	declare @SQL2 varchar(8000)
	declare @SQL3 varchar(8000)
	declare @SQL4 varchar(8000)
	declare @i int
	set @SQL1 = ''
	set @SQL2 = ''
	set @SQL3 = ''
	set @SQL4 = ''
	set @i = 0
	
	DECLARE CUR CURSOR
	READ_ONLY
	FOR 
			/*	
			declare @ItemClassification1 varchar(30)
			declare @ItemClassification2 varchar(30)
			declare @ItemClassification3 varchar(30)
			declare @TradeClassification1 varchar(30)
			
			set  @ItemClassification1 = '' 
			set  @ItemClassification2 = ''
			set  @ItemClassification3 = ''
			set  @TradeClassification1 = ''
			*/
	
			select  datepart(mm, S.SaleDate ) 
			, sum( S.totalcost ) 
			, PropertyClassification			
			, '매출'
			from s_ht S
			inner join II_MT I on S.ItemNum = I.ItemNum
			inner join PUC_MT on puc_mt.SmallClassificationCode = I.ItemClassification1	
			where I.RecodingState = 1 and PUC_MT.RecodingState = 1 
			and datepart(yy, S.SaleDate)  = ( select datepart(yy, getdate()) )
			and ItemClassification1 like '%'+@ItemClassification1+'%'
			and ItemClassification2 like '%'+@ItemClassification2+'%'
			and ItemClassification3 like '%'+@ItemClassification3+'%'
			and ItemClassification4 like '%'+@ItemClassification4+'%'
			group by PropertyClassification
			, datepart(mm, S.SaleDate )
			union all
			-- 클레임 원장(cl_ht)
			select 
			datepart(mm, CL.ReceiptDate) as 월
			, -sum(CL.ClaimCost) as TotalCost
			, PropertyClassification
			,'매출'
			 FROM cl_ht CL
			inner join II_MT I on CL.ItemNum = I.ItemNum
			inner join PUC_MT on puc_mt.SmallClassificationCode = I.ItemClassification1	
			where I.RecodingState = 1 and PUC_MT.RecodingState = 1 
			and datepart(yy, CL.ReceiptDate)  = ( select datepart(yy, getdate()) )
			and ItemClassification1 like '%'+@ItemClassification1+'%'
			and ItemClassification2 like '%'+@ItemClassification2+'%'
			and ItemClassification3 like '%'+@ItemClassification3+'%'
			and ItemClassification4 like '%'+@ItemClassification4+'%'
			
			GROUP BY 
			PropertyClassification
			,  datepart(mm, CL.ReceiptDate) 				
			
			union all
			
			select datepart(mm, B.registrationdate )
			, sum ( B.totalcost )
			, case qi_ht.historysection1 when '외주납품'  then '외주'  else I.PropertyClassification  end 
			, '매입'
			from b_ht B
			inner join II_MT I on B.ItemNum = I.ItemNum
			inner join PUC_MT on puc_mt.SmallClassificationCode = I.ItemClassification1	
			left outer join qi_ht on B.historyindex = qi_ht.qualityinspectionhistoryindex
			where I.RecodingState = 1 and PUC_MT.RecodingState = 1 
			and  datepart(yy, B.RegistrationDate ) = datepart(yy, getdate())
			and ItemClassification1 like '%'+@ItemClassification1+'%'
			and ItemClassification2 like '%'+@ItemClassification2+'%'
			and ItemClassification3 like '%'+@ItemClassification3+'%'
			and ItemClassification4 like '%'+@ItemClassification4+'%'
			group by PropertyClassification, datepart(mm, B.registrationdate )
			, qi_ht.historysection1
			union all
			-- 불량변상 원장(pcl_ht)
			select 
			datepart(mm, PCL.ReceiptDate) as 월
			, -sum(PCL.ClaimCost) as TotalCost
			, PropertyClassification
			,'매입'
			 FROM pcl_ht PCL
			inner join II_MT I on PCL.ItemNum = I.ItemNum
			inner join PUC_MT on puc_mt.SmallClassificationCode = I.ItemClassification1	
			where I.RecodingState = 1 and PUC_MT.RecodingState = 1 
			and datepart(yy, PCL.ReceiptDate)  = ( select datepart(yy, getdate()) )
			and ItemClassification1 like '%'+@ItemClassification1+'%'
			and ItemClassification2 like '%'+@ItemClassification2+'%'
			and ItemClassification3 like '%'+@ItemClassification3+'%'
			and ItemClassification4 like '%'+@ItemClassification4+'%'
			
			GROUP BY 
			PropertyClassification
			,  datepart(mm, PCL.ReceiptDate) 		
	
	
	open	CUR
	IF( @@CURSOR_ROWS <> 0 )
	BEGIN
		
	
	
			WHILE ( @i < @@CURSOR_ROWS)
			BEGIN
	
					fetch from CUR into 	@m_Month,	@m_TotalCost,		@m_Div2,	@m_Div1
	
					IF	( @@FETCH_STATUS = 0 )		-- 정상적으로 읽었으면
					BEGIN
						
		
						set @SQL1 =  ' update #STIndex set [' + @m_Month + 'month] = [' +@m_Month+ 'month] + ' + @m_TotalCost +' where div1 = ''' +@m_Div1 + ''' and div2 = ''' + @m_Div2 + ''' ' 
		
						set @SQL1 = @SQL1 +  ' update #STIndex set [' + @m_Month + 'month] = [' +@m_Month+ 'month] + ' + @m_TotalCost +' where div1 = ''' +@m_Div1 + ''' and div2 = ''누계'' '
		
						set @SQL1 = @SQL1 + ' update #STIndex set total = total + ' + @m_TotalCost + ' where div1 = ''' +@m_Div1 + ''' and div2 = ''' + @m_Div2 + ''' ' 
		
						set @SQL1 = @SQL1 + ' update #STIndex set total = total + ' + @m_TotalCost + ' where div1 = ''' +@m_Div1 + ''' and div2 = ''누계'' '
					exec ( @SQL1 )
		
					END
					
	
			set @i = @i +1
	
			END
	END
	CLOSE 				CUR
	DEALLOCATE CUR
	
	
	
	select 	Div1	as 구분
		,	Div2 	as  구분
		,	PreYear as 전년도
		,	[Total] as 누계
		,	[1Month] as [1월]
		,	[2Month]  as [2월]
		,	[3Month]  as [3월]
		,	[4Month]  as [4월]
		,	[5Month]  as [5월]
		,	[6Month]  as [6월]
		,	[7Month]  as [7월]
		,	[8Month]  as [8월]
		,	[9Month]  as [9월]
		,	[10Month] as [10월]
		,	[11Month] as [11월]
		,	[12Month] as [12월]
	from #STIndex
end
GO
