USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[ItemSequenceStock_Search]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE             proc [dbo].[ItemSequenceStock_Search] (@itemnum varchar(50))
as
begin
	declare @PropertyClassification varchar(50)
	set @PropertyClassification = (select PropertyClassification from ii_mt where itemnum = @itemnum and recodingstate = 1)
	
	if (@PropertyClassification = '원자재' )
	begin
		-- 원자재창고, 외주창고에서 집계
		exec ItemSequenceStock_Materials_Search @itemnum
	end
	else if (@PropertyClassification = '상품')
	begin
		--영업창고, 생산창고, 납품창고
		exec ItemSequenceStock_Commodity_Search @itemnum
	end
	else if (@PropertyClassification = '제품')
	begin
		--영업창고, 생산창고, 납품창고
		
		declare @maxsequence1 int
		set @maxsequence1 = (select max(processsequencenum) from psi_mt where itemnum = @itemnum and recodingstate = 1)
		
		select 
		psi_mt.itemnum as [품목번호]
		, psi_mt.processsequencenum as [공정순서번호]
		, puc_mt.SmallClassificationName as [공정명]
		, (case  when ps_mt2.totalquantity is not null then ps_mt2.totalquantity else 0 end ) as [생산 창고]
		, (case  when os_mt2.totalquantity is not null then os_mt2.totalquantity else 0 end ) as [외주 창고]
		, (case  when bs_mt2.totalquantity is not null then bs_mt2.totalquantity else 0 end ) as [완제품 창고]
		, (case  when ds_mt2.totalquantity is not null then ds_mt2.totalquantity else 0 end ) as [납품 창고]
		,
		(case  when ps_mt2.totalquantity is not null then ps_mt2.totalquantity else 0 end ) + 
		(case  when os_mt2.totalquantity is not null then os_mt2.totalquantity else 0 end ) +
		(case  when bs_mt2.totalquantity is not null then bs_mt2.totalquantity else 0 end ) +
		(case  when ds_mt2.totalquantity is not null then ds_mt2.totalquantity else 0 end ) as 계
		from psi_mt 
		join puc_mt
		on psi_mt.processcode = puc_mt.SmallClassificationCode
		left outer join 
		(
			select 
			itemnum
			, processsequencenum 
			, sum(stockquantity12) as totalquantity from ps_mt
			where itemnum = @itemnum and recodingstate = 1
			group by 
			itemnum
			, processsequencenum 
		) ps_mt2
		on ps_mt2.itemnum = psi_mt.itemnum and psi_mt.processsequencenum = ps_mt2.processsequencenum
		left outer join 
		(
			select 
			itemnum
			, processsequencenum 
			, sum(stockquantity12) as totalquantity from os_mt
			where itemnum = @itemnum and recodingstate = 1
			group by 
			itemnum
			, processsequencenum 
		) os_mt2
		on os_mt2.itemnum = psi_mt.itemnum and psi_mt.processsequencenum = os_mt2.processsequencenum
		left outer join 
		(
			select 
			itemnum
			, @maxsequence1 as processsequencenum
			, sum(stockquantity12) as totalquantity from bs_mt
			where itemnum = @itemnum and recodingstate = 1
			group by 
			itemnum
			, processsequencenum 
		) bs_mt2
		on bs_mt2.itemnum = psi_mt.itemnum and psi_mt.processsequencenum = bs_mt2.processsequencenum
		left outer join 
		(			
			select 
			itemnum
			, @maxsequence1 as processsequencenum
			, sum(stockquantity12) as totalquantity from ds_mt
			where itemnum = @itemnum and recodingstate = 1
			group by 
			itemnum
		) ds_mt2
		on ds_mt2.itemnum = psi_mt.itemnum and psi_mt.processsequencenum = @maxsequence1
		where psi_mt.itemnum = @itemnum and psi_mt.recodingstate = 1 
		order by psi_mt.processsequencenum asc
	end
	else	--  반제품인경우
	begin
		declare @maxsequence int
		set @maxsequence = (select max(processsequencenum) from psi_mt where itemnum = @itemnum and recodingstate = 1)
		
		select 
		psi_mt.itemnum as [품목번호]
		, psi_mt.processsequencenum as [공정순서번호]
		, puc_mt.SmallClassificationName as [공정명]
		, (case  when ps_mt2.totalquantity is not null then ps_mt2.totalquantity else 0 end ) as [생산 창고]
		, (case  when os_mt2.totalquantity is not null then os_mt2.totalquantity else 0 end ) as [외주 창고]
--		, (case  when bs_mt2.totalquantity is not null then bs_mt2.totalquantity else 0 end ) as [완제품 창고]
		,
		(case  when ps_mt2.totalquantity is not null then ps_mt2.totalquantity else 0 end ) + 
		(case  when os_mt2.totalquantity is not null then os_mt2.totalquantity else 0 end )  as 계
		from psi_mt 
		join puc_mt
		on psi_mt.processcode = puc_mt.SmallClassificationCode
		left outer join 
		(
			select 
			itemnum
			, processsequencenum 
			, sum(stockquantity12) as totalquantity from ps_mt
			where itemnum = @itemnum and recodingstate = 1
			group by 
			itemnum
			, processsequencenum 
		) ps_mt2
		on ps_mt2.itemnum = psi_mt.itemnum and psi_mt.processsequencenum = ps_mt2.processsequencenum
		left outer join 
		(
			select 
			itemnum
			, processsequencenum 
			, sum(stockquantity12) as totalquantity from os_mt
			where itemnum = @itemnum and recodingstate = 1
			group by 
			itemnum
			, processsequencenum 
		) os_mt2
		on os_mt2.itemnum = psi_mt.itemnum and psi_mt.processsequencenum = os_mt2.processsequencenum
		where psi_mt.itemnum = @itemnum and psi_mt.recodingstate = 1
		order by psi_mt.processsequencenum asc
	end
end
GO
