USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[QualityInspectionPC_Search]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE                   proc [dbo].[QualityInspectionPC_Search]
									(
										  @품목번호 varchar(50)=''
										, @도면번호 varchar(50) = ''
										, @품목명 varchar(50) = ''
										, @시작일자 varchar(15) = ''
										, @종료일자 varchar(15) = ''
										, @거래처명 varchar(50) = ''
										, @거래처번호 varchar(20) = ''
										, @진행상태 char
										, @구분 varchar(10) =''
									)
as
begin
	set nocount on

	if(@구분 = '전체')
	begin
	
	SELECT  
	CASE historysection1 WHEN '구매납품' THEN '구매' WHEN '외주납품' THEN '외주' WHEN '작업일보' THEN '자가' END AS historysection1
	, q.ItemNum
	, q.ItemDrawNum
	, q.ItemName
	, p3.SmallClassificationName as Unit
	, i.Standard
	, CompanyName
	, BusinessRegistrationNum
	, RequestQuantity
	, convert(varchar, q.RegistrationDate,111) as RegistrationDate
	, q.RegistrationPerson
	, CASE cast(q.BeginProcessSequenceNum as varchar) WHEN  '0' THEN '원자재' WHEN '99' THEN '상품' ELSE cast(q.BeginProcessSequenceNum as varchar) END as 시작공정순서
	, CASE cast(q.EndProcessSequenceNum as varchar) WHEN  '0' THEN '원자재' WHEN '99' THEN '상품' ELSE cast(q.EndProcessSequenceNum as varchar) END as 종료공정순서
	--, CASE   (q.BeginProcessName) WHEN 0000 THEN  '원자재' WHEN 9999 THEN '상품' ELSE p.SmallClassificationName END as 시작공정명
	--, CASE   (q.EndProcessName) WHEN 0000 THEN  '원자재' WHEN 9999 THEN '상품' ELSE p2.SmallClassificationName END as 종료공정명
	, case (q.BeginProcessName) when '14000000' then '원자재' when '14009999' then '상품' else p.SmallClassificationName end as 시작공정명
	, case (q.EndProcessName) when '14000000' then '원자재' when '14009999' then '상품' else p2.SmallClassificationName end as 종료공정명
	, q.NowStockQuantity
	, q.StandardUnitCost
	, ApplyUnitCost
	, HistoryIndex1
	, HistorySection2
	, HistoryIndex2 
	, QualityInspectionHistoryIndex
	, SuitabilityQuantity as 적합수량
	, isnull(UnSuitabilityCost,0) as 부적합금액
	, isnull(UnSuitabilityQuantity, 0) as 부적합수량
	, UnSuitabilityCauseMeaning as 부적합원인
	, UnSuitabilityStatusMeaning as 부적합현상
	, InspectionDecisionMeaning as 검사판정
	, UnSuitabilityDetailMeaning as 부적합세부내용 
	, convert(varchar, q.QualityInspectionCompleteDate,111) as QualityInspectionCompleteDate
	, Investigator as Investigator
	, p.SmallClassificationCode as [시작공정코드]
	, p2.SmallClassificationCode as [종료공정코드]
	, q.[Year]
	, q.[Month]
	, ProgressCondition as 진행상태
	
	FROM QI_HT  q left join puc_mt p 
	on q.BeginProcessName = p.SmallClassificationCode  
	join puc_mt p2 
	on q.EndProcessName = p2.SmallClassificationCode
	inner join II_MT i on q.ItemNum = i.ItemNum
	inner join puc_mt p3 on i.Unit = p3.SmallClassificationCode
	WHERE  
	-- ItemDrawNum 컬럼명 Setting
	(
		(	case
				when  @도면번호 <> ''		
				then q.ItemDrawNum
	         		 else ''
			   end
		)
	-- ItemDrawNum 조건 Setting
	like
		(	case 
				when @도면번호 <> '' 
				then '%' + @도면번호 + '%' 
				else ''
			end
		)
	and
	-- ItemNum 컬럼명 Setting
	
		(	case
				when  @품목번호 <> ''		
				then q.ItemNum
	         		 else ''
			   end
		)
	-- ItemNum 조건 Setting
	like
		(	case 
				when @품목번호 <> '' 
				then '%' + @품목번호 + '%' 
				else ''
			end
		)
	and 
	-- ItemName 컬럼명 Setting
	
		(	case
				when  @품목명 <> ''		
				then q.ItemName
	         		 else ''
			   end
		)
	-- ItemName 조건 Setting
	like
		(	case 
				when @품목명 <> '' 
				then '%' + @품목명 + '%' 
				else ''
			end
		)
	
	and 
		(	case
				when (@거래처명 <> '' )
				then CompanyName
	         		 else ''
			   end
		)
	-- CompanyName 조건 Setting 
	like
		(	case 
				when ( @거래처명 <> '')
				then '%' + @거래처명 + '%' 
	         		 else ''
			end
		)
	and 
		(	case
				when (@거래처번호 <> '' )
				then BusinessRegistrationNum
	         		 else ''
			   end
		)
	-- BusinessRegistrationNum 조건 Setting 
	like
		(	case 
				when ( @거래처번호 <> '')
				then '%' + @거래처번호 + '%' 
	         		 else ''
			end
		)
	
	-- 날짜 Setting
	and q.QualityInspectionCompleteDate between
	
		(
			case 
			when(@시작일자 <> '')
			then @시작일자
			else '2004-01-01'
			end
		)
	and 
		(
			case 
			when ( @종료일자 <> '')
			then @종료일자
			else	 '2050-01-01'
			end
		)
	and (q.ProgressCondition = 
		(
			case
			when @진행상태 = 0
			then '검사완료'
			when @진행상태 = 1
			then '검사완료'
			when @진행상태 = 2
			then '입고완료'
			end
		)
	or q.ProgressCondition = 
		(
			case
			when @진행상태 = 0
			then '입고완료'
			when @진행상태 = 1
			then '검사완료'
			when @진행상태 = 2
			then '입고완료'
			end
		))
	)
	and i.RecodingState = 1
	order by q.QualityInspectionCompleteDate  desc
	end

	else if(@구분 = '구매')
	begin
		SELECT  
		CASE historysection1 WHEN '구매납품' THEN '구매' WHEN '외주납품' THEN '외주' WHEN '작업일보' THEN '자가' END AS historysection1
		, q.ItemNum
		, q.ItemDrawNum
		, q.ItemName
		, p3.SmallClassificationName as Unit
		, i.Standard
		, CompanyName
		, BusinessRegistrationNum
		, RequestQuantity
		, convert(varchar, q.RegistrationDate,111) as RegistrationDate
		, q.RegistrationPerson
		, CASE cast(q.BeginProcessSequenceNum as varchar) WHEN  '0' THEN '원자재' WHEN '99' THEN '상품' ELSE cast(q.BeginProcessSequenceNum as varchar) END as 시작공정순서
		, CASE cast(q.EndProcessSequenceNum as varchar) WHEN  '0' THEN '원자재' WHEN '99' THEN '상품' ELSE cast(q.EndProcessSequenceNum as varchar) END as 종료공정순서
		--, CASE   (q.BeginProcessName) WHEN 0000 THEN  '원자재' WHEN 9999 THEN '상품' ELSE p.SmallClassificationName END as 시작공정명
		--, CASE   (q.EndProcessName) WHEN 0000 THEN  '원자재' WHEN 9999 THEN '상품' ELSE p2.SmallClassificationName END as 종료공정명
		, case (q.BeginProcessName) when '14000000' then '원자재' when '14009999' then '상품' else p.SmallClassificationName end as 시작공정명
		, case (q.EndProcessName) when '14000000' then '원자재' when '14009999' then '상품' else p2.SmallClassificationName end as 종료공정명
		, q.NowStockQuantity
		, q.StandardUnitCost
		, ApplyUnitCost
		, HistoryIndex1
		, HistorySection2
		, HistoryIndex2 
		, QualityInspectionHistoryIndex
		, SuitabilityQuantity as 적합수량
		, isnull(UnSuitabilityCost,0) as 부적합금액
		, isnull(UnSuitabilityQuantity, 0) as 부적합수량
		, UnSuitabilityCauseMeaning as 부적합원인
		, UnSuitabilityStatusMeaning as 부적합현상
		, InspectionDecisionMeaning as 검사판정
		, UnSuitabilityDetailMeaning as 부적합세부내용 
		, convert(varchar, q.QualityInspectionCompleteDate,111) as QualityInspectionCompleteDate
		, Investigator as Investigator
		, p.SmallClassificationCode as [시작공정코드]
		, p2.SmallClassificationCode as [종료공정코드]
		, q.[Year]
		, q.[Month]
		, ProgressCondition as 진행상태
		
		FROM QI_HT  q left join puc_mt p 
		on q.BeginProcessName = p.SmallClassificationCode  
		join puc_mt p2 
		on q.EndProcessName = p2.SmallClassificationCode
		inner join II_MT i on q.ItemNum = i.ItemNum
		inner join puc_mt p3 on i.Unit = p3.SmallClassificationCode
		WHERE  HistorySection2 = '구매발주' AND
		-- ItemDrawNum 컬럼명 Setting
		(
			(	case
					when  @도면번호 <> ''		
					then q.ItemDrawNum
		         		 else ''
				   end
			)
		-- ItemDrawNum 조건 Setting
		like
			(	case 
					when @도면번호 <> '' 
					then '%' + @도면번호 + '%' 
					else ''
				end
			)
		and
		-- ItemNum 컬럼명 Setting
		
			(	case
					when  @품목번호 <> ''		
					then q.ItemNum
		         		 else ''
				   end
			)
		-- ItemNum 조건 Setting
		like
			(	case 
					when @품목번호 <> '' 
					then '%' + @품목번호 + '%' 
					else ''
				end
			)
		and 
		-- ItemName 컬럼명 Setting
		
			(	case
					when  @품목명 <> ''		
					then q.ItemName
		         		 else ''
				   end
			)
		-- ItemName 조건 Setting
		like
			(	case 
					when @품목명 <> '' 
					then '%' + @품목명 + '%' 
					else ''
				end
			)
		
		and 
			(	case
					when (@거래처명 <> '' )
					then CompanyName
		         		 else ''
				   end
			)
		-- CompanyName 조건 Setting 
		like
			(	case 
					when ( @거래처명 <> '')
					then '%' + @거래처명 + '%' 
		         		 else ''
				end
			)
		and 
			(	case
					when (@거래처번호 <> '' )
					then BusinessRegistrationNum
		         		 else ''
				   end
			)
		-- BusinessRegistrationNum 조건 Setting 
		like
			(	case 
					when ( @거래처번호 <> '')
					then '%' + @거래처번호 + '%' 
		         		 else ''
				end
			)
		
		-- 날짜 Setting
		and q.QualityInspectionCompleteDate between
		
			(
				case 
				when(@시작일자 <> '')
				then @시작일자
				else '2004-01-01'
				end
			)
		and 
			(
				case 
				when ( @종료일자 <> '')
				then @종료일자
				else	 '2050-01-01'
				end
			)
		and (q.ProgressCondition = 
			(
				case
				when @진행상태 = 0
				then '검사완료'
				when @진행상태 = 1
				then '검사완료'
				when @진행상태 = 2
				then '입고완료'
				end
			)
		or q.ProgressCondition = 
			(
				case
				when @진행상태 = 0
				then '입고완료'
				when @진행상태 = 1
				then '검사완료'
				when @진행상태 = 2
				then '입고완료'
				end
			))
		)
		and i.RecodingState = 1
		order by q.QualityInspectionCompleteDate  desc

	end
	else if(@구분 = '외주')
	begin
		SELECT  
		CASE historysection1 WHEN '구매납품' THEN '구매' WHEN '외주납품' THEN '외주' WHEN '작업일보' THEN '자가' END AS historysection1
		, q.ItemNum
		, q.ItemDrawNum
		, q.ItemName
		, p3.SmallClassificationName as Unit
		, i.Standard
		, CompanyName
		, BusinessRegistrationNum
		, RequestQuantity
		, convert(varchar, q.RegistrationDate,111) as RegistrationDate
		, q.RegistrationPerson
		, CASE cast(q.BeginProcessSequenceNum as varchar) WHEN  '0' THEN '원자재' WHEN '99' THEN '상품' ELSE cast(q.BeginProcessSequenceNum as varchar) END as 시작공정순서
		, CASE cast(q.EndProcessSequenceNum as varchar) WHEN  '0' THEN '원자재' WHEN '99' THEN '상품' ELSE cast(q.EndProcessSequenceNum as varchar) END as 종료공정순서
		--, CASE   (q.BeginProcessName) WHEN 0000 THEN  '원자재' WHEN 9999 THEN '상품' ELSE p.SmallClassificationName END as 시작공정명
		--, CASE   (q.EndProcessName) WHEN 0000 THEN  '원자재' WHEN 9999 THEN '상품' ELSE p2.SmallClassificationName END as 종료공정명
		, case (q.BeginProcessName) when '14000000' then '원자재' when '14009999' then '상품' else p.SmallClassificationName end as 시작공정명
		, case (q.EndProcessName) when '14000000' then '원자재' when '14009999' then '상품' else p2.SmallClassificationName end as 종료공정명
		, q.NowStockQuantity
		, q.StandardUnitCost
		, ApplyUnitCost
		, HistoryIndex1
		, HistorySection2
		, HistoryIndex2 
		, QualityInspectionHistoryIndex
		, SuitabilityQuantity as 적합수량
		, isnull(UnSuitabilityCost,0) as 부적합금액
		, isnull(UnSuitabilityQuantity, 0) as 부적합수량
		, UnSuitabilityCauseMeaning as 부적합원인
		, UnSuitabilityStatusMeaning as 부적합현상
		, InspectionDecisionMeaning as 검사판정
		, UnSuitabilityDetailMeaning as 부적합세부내용 
		, convert(varchar, q.QualityInspectionCompleteDate,111) as QualityInspectionCompleteDate
		, Investigator as Investigator
		, p.SmallClassificationCode as [시작공정코드]
		, p2.SmallClassificationCode as [종료공정코드]
		, ProgressCondition as 진행상태
		, q.[Year]
		, q.[Month]
		
		FROM QI_HT  q left join puc_mt p 
		on q.BeginProcessName = p.SmallClassificationCode  
		join puc_mt p2 
		on q.EndProcessName = p2.SmallClassificationCode
		inner join II_MT i on q.ItemNum = i.ItemNum
		inner join puc_mt p3 on i.Unit = p3.SmallClassificationCode
		WHERE  HistorySection2 = '외주발주' and
		-- ItemDrawNum 컬럼명 Setting
		(
			(	case
					when  @도면번호 <> ''		
					then q.ItemDrawNum
		         		 else ''
				   end
			)
		-- ItemDrawNum 조건 Setting
		like
			(	case 
					when @도면번호 <> '' 
					then '%' + @도면번호 + '%' 
					else ''
				end
			)
		and
		-- ItemNum 컬럼명 Setting
		
			(	case
					when  @품목번호 <> ''		
					then q.ItemNum
		         		 else ''
				   end
			)
		-- ItemNum 조건 Setting
		like
			(	case 
					when @품목번호 <> '' 
					then '%' + @품목번호 + '%' 
					else ''
				end
			)
		and 
		-- ItemName 컬럼명 Setting
		
			(	case
					when  @품목명 <> ''		
					then q.ItemName
		         		 else ''
				   end
			)
		-- ItemName 조건 Setting
		like
			(	case 
					when @품목명 <> '' 
					then '%' + @품목명 + '%' 
					else ''
				end
			)
		
		and 
			(	case
					when (@거래처명 <> '' )
					then CompanyName
		         		 else ''
				   end
			)
		-- CompanyName 조건 Setting 
		like
			(	case 
					when ( @거래처명 <> '')
					then '%' + @거래처명 + '%' 
		         		 else ''
				end
			)
		and 
			(	case
					when (@거래처번호 <> '' )
					then BusinessRegistrationNum
		         		 else ''
				   end
			)
		-- BusinessRegistrationNum 조건 Setting 
		like
			(	case 
					when ( @거래처번호 <> '')
					then '%' + @거래처번호 + '%' 
		         		 else ''
				end
			)
		
		-- 날짜 Setting
		and q.QualityInspectionCompleteDate between
		
			(
				case 
				when(@시작일자 <> '')
				then @시작일자
				else '2004-01-01'
				end
			)
		and 
			(
				case 
				when ( @종료일자 <> '')
				then @종료일자
				else	 '2050-01-01'
				end
			)
		and (q.ProgressCondition = 
			(
				case
				when @진행상태 = 0
				then '검사완료'
				when @진행상태 = 1
				then '검사완료'
				when @진행상태 = 2
				then '입고완료'
				end
			)
		or q.ProgressCondition = 
			(
				case
				when @진행상태 = 0
				then '입고완료'
				when @진행상태 = 1
				then '검사완료'
				when @진행상태 = 2
				then '입고완료'
				end
			))
		)
		and i.RecodingState = 1
		order by q.QualityInspectionCompleteDate desc
	end
	else if(@구분 = '자가')
	begin
		SELECT  
		CASE historysection1 WHEN '구매납품' THEN '구매' WHEN '외주납품' THEN '외주' WHEN '작업일보' THEN '자가' END AS historysection1
		, q.ItemNum
		, q.ItemDrawNum
		, q.ItemName
		, p3.SmallClassificationName as Unit
		, i.Standard
		, CompanyName
		, BusinessRegistrationNum
		, RequestQuantity
		, convert(varchar, q.RegistrationDate,111) as RegistrationDate
		, q.RegistrationPerson
		, CASE cast(q.BeginProcessSequenceNum as varchar) WHEN  '0' THEN '원자재' WHEN '99' THEN '상품' ELSE cast(q.BeginProcessSequenceNum as varchar) END as 시작공정순서
		, CASE cast(q.EndProcessSequenceNum as varchar) WHEN  '0' THEN '원자재' WHEN '99' THEN '상품' ELSE cast(q.EndProcessSequenceNum as varchar) END as 종료공정순서
		--, CASE   (q.BeginProcessName) WHEN 0000 THEN  '원자재' WHEN 9999 THEN '상품' ELSE p.SmallClassificationName END as 시작공정명
		--, CASE   (q.EndProcessName) WHEN 0000 THEN  '원자재' WHEN 9999 THEN '상품' ELSE p2.SmallClassificationName END as 종료공정명
		, case (q.BeginProcessName) when '14000000' then '원자재' when '14009999' then '상품' else p.SmallClassificationName end as 시작공정명
		, case (q.EndProcessName) when '14000000' then '원자재' when '14009999' then '상품' else p2.SmallClassificationName end as 종료공정명
		, q.NowStockQuantity
		, q.StandardUnitCost
		, ApplyUnitCost
		, HistoryIndex1
		, HistorySection2
		, HistoryIndex2 
		, QualityInspectionHistoryIndex
		, SuitabilityQuantity as 적합수량
		, isnull(UnSuitabilityCost,0) as 부적합금액
		, isnull(UnSuitabilityQuantity,0) as 부적합수량
		, UnSuitabilityCauseMeaning as 부적합원인
		, UnSuitabilityStatusMeaning as 부적합현상
		, InspectionDecisionMeaning as 검사판정
		, UnSuitabilityDetailMeaning as 부적합세부내용 
		, convert(varchar, q.QualityInspectionCompleteDate,111) as QualityInspectionCompleteDate
		, Investigator as Investigator
		, p.SmallClassificationCode as [시작공정코드]
		, p2.SmallClassificationCode as [종료공정코드]
		, q.[Year]
		, q.[Month]
		, ProgressCondition as 진행상태
		
		FROM QI_HT  q left join puc_mt p 
		on q.BeginProcessName = p.SmallClassificationCode  
		join puc_mt p2 
		on q.EndProcessName = p2.SmallClassificationCode
		inner join II_MT i on q.ItemNum = i.ItemNum
		inner join puc_mt p3 on i.Unit = p3.SmallClassificationCode
		WHERE  HistorySection2 = '작업계획' and
		-- ItemDrawNum 컬럼명 Setting
		(
			(	case
					when  @도면번호 <> ''		
					then q.ItemDrawNum
		         		 else ''
				   end
			)
		-- ItemDrawNum 조건 Setting
		like
			(	case 
					when @도면번호 <> '' 
					then '%' + @도면번호 + '%' 
					else ''
				end
			)
		and
		-- ItemNum 컬럼명 Setting
		
			(	case
					when  @품목번호 <> ''		
					then q.ItemNum
		         		 else ''
				   end
			)
		-- ItemNum 조건 Setting
		like
			(	case 
					when @품목번호 <> '' 
					then '%' + @품목번호 + '%' 
					else ''
				end
			)
		and 
		-- ItemName 컬럼명 Setting
		
			(	case
					when  @품목명 <> ''		
					then q.ItemName
		         		 else ''
				   end
			)
		-- ItemName 조건 Setting
		like
			(	case 
					when @품목명 <> '' 
					then '%' + @품목명 + '%' 
					else ''
				end
			)
		
		and 
			(	case
					when (@거래처명 <> '' )
					then CompanyName
		         		 else ''
				   end
			)
		-- CompanyName 조건 Setting 
		like
			(	case 
					when ( @거래처명 <> '')
					then '%' + @거래처명 + '%' 
		         		 else ''
				end
			)
		and 
			(	case
					when (@거래처번호 <> '' )
					then BusinessRegistrationNum
		         		 else ''
				   end
			)
		-- BusinessRegistrationNum 조건 Setting 
		like
			(	case 
					when ( @거래처번호 <> '')
					then '%' + @거래처번호 + '%' 
		         		 else ''
				end
			)
		
		-- 날짜 Setting
		and q.QualityInspectionCompleteDate between
		
			(
				case 
				when(@시작일자 <> '')
				then @시작일자
				else '2004-01-01'
				end
			)
		and 
			(
				case 
				when ( @종료일자 <> '')
				then @종료일자
				else	 '2050-01-01'
				end
			)
		and (q.ProgressCondition = 
			(
				case
				when @진행상태 = 0
				then '검사완료'
				when @진행상태 = 1
				then '검사완료'
				when @진행상태 = 2
				then '입고완료'
				end
			)
		or q.ProgressCondition = 
			(
				case
				when @진행상태 = 0
				then '입고완료'
				when @진행상태 = 1
				then '검사완료'
				when @진행상태 = 2
				then '입고완료'
				end
			))
		)
		and i.RecodingState = 1
		order by q.QualityInspectionCompleteDate  desc
	end
end
GO
