USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[SPTransperState11]    Script Date: 07/02/2026 08:48:43 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE           PROCEDURE [dbo].[SPTransperState11]

@Year varchar(10),
@Month varchar(10)

AS


Declare @Sql varchar(7000)
Declare @Division varchar(10)

Set @Division  ='상품'
Set @Month = @Month -1




IF exists (Select 1 From tempdb..sysobjects where name like '#TempTransperStateTable%')
	DROP TABLE #TempTransperStateTable
	create table #TempTransperStateTable 
	( 
		[Division]		varchar(20)
	,	[ItemNum]		varchar(100)					-- 구분1 (원자재, 상품 )
	,	[ItemDrawNum]		varchar(100)					-- 구분1 (원자재, 상품 )
	,	[ItemName]		varchar(100)					-- 구분1 (원자재, 상품 )
	,	[ProcessCode]		varchar(20)					-- 구분1 (원자재, 상품 )
	,	[ProcessName]		varchar(20)					-- 구분1 (원자재, 상품 )
	,	[전월입고수량]		decimal(20,2)	default 0			-- 전월입고수량
	,	[전월입고금액]		decimal(20,2)	default 0			-- 전월입고금액
	,	[전월재고수량]		decimal(20,2) 	default 0			-- 전월재고수량
	,	[전월재고금액]		decimal(20,2)	default 0			-- 전월재고금액
	,	[금월입고수량]		decimal(20,2) 	default 0			-- 금월입고수량
	,	[금월입고금액]		decimal(20,2)	default 0			-- 금월입고금액	
	,	[금월출고수량]		decimal(20,2)	default 0			-- 금월출고수량
	,	[금월재고수량]		decimal(20,2)	default 0			-- 금월재고수량
	,	[금월재고금액]		decimal(20,2)	default 0			-- 금월재고금액
	,	[증감매입수량]		decimal(20,2)	default 0			-- 증감매입수량
	,	[증감매입금액]		decimal(20,2)	default 0			-- 증감매입금액
	,	[증감재고수량]		decimal(20,2)	default 0			-- 증감재고수량
	,	[증감재고금액] 		decimal(20,2)	default 0			-- 증감재고금액
	,	[ItemClassification1]	varchar(20)					-- 구분1 (원자재, 상품 )
	,	[ItemClassification2]	varchar(20)					-- 구분1 (원자재, 상품 )
	,	[ItemClassification3]	varchar(20)					-- 구분1 (원자재, 상품 )
	,	[ItemClassification4]	varchar(20)					-- 구분1 (원자재, 상품 )
	)

---------------------------------------------------------------------------------------------------
--창고에 존재하지 않고 이력에 존재하는 부자재, 기타구매, 기타공제, 불량변상, 외주입고에 대한 전월 금액 및 금월금액 넣기 사작
------------------------------------------------------------------------------------------------------
if(@Month = 0)
begin
	Set @Year = @Year -1;
	Set @Month = '12'

--전월
	--부자재처리
	insert into #TempTransperStateTable
	Select PropertyClassification, II_MT.ItemNum,  II_MT.ItemDrawNum,  II_MT.ItemName, '' as ProcessCode, '' as ProcessName, sum(0) as Quantity,sum(TotalCost) as Cost ,sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),ItemClassification1,ItemClassification2, '02300140' as ItemClassification3,ItemClassification4
	From SBD_HT 
	inner join II_MT on SBD_HT.ItemNum = II_MT.ItemNum
	where II_MT.RecodingState = 1 and ((SBD_HT.[Year] = @Year and SBD_HT.[Month] = @Month))-- or (SBD_HT.[Year] = @Year+1 and SBD_HT.[Month] = 1))
	group by II_MT.ItemNum,  II_MT.ItemDrawNum,  II_MT.ItemName,ItemClassification1,ItemClassification2,ItemClassification3,ItemClassification4,PropertyClassification
	
	--기타구매처리
	
	insert into #TempTransperStateTable
	Select '기타' as PropertyClassification, EtcBD_HT.ItemName as ItemNum , EtcBD_HT.ItemName as ItemDrawNum, EtcBD_HT.ItemName as ItemName, '' as ProcessCode, '' as ProcessName, sum(0) as Quantity,sum(EtcBD_HT.TotalCost) as Cost ,sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0), '' as ItemClassification1, '' as ItemClassification2,  
	case ReasonCode when '18000010' then '02300150' 	else '02300160' end  as  ItemClassification3, '' as ItemClassification4
	From EtcBD_HT
	inner join PUC_MT on ReasonCode = SmallClassificationCode  where (([Year] = @Year and [Month] = @Month) )--or ([Year] = @Year+1 and [Month] = 1))
	--and EtcBD_HT.ItemName =  '176*150*16T외'
	group by ItemName, ReasonCode
	
	--기타공제관리
	insert into #TempTransperStateTable
	Select '기타' as PropertyClassification, EtcClaimRegion  as ItemNum , EtcClaimRegion as ItemDrawNum, EtcClaimRegion as ItemName, '' as ProcessCode, '' as ProcessName, sum(0) as Quantity, -sum(ClaimCost) as Cost ,sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0), '' as ItemClassification1, '' as ItemClassification2, '02300110' as ItemClassification3, '' as ItemClassification4
	From ECL_HT where  ((datepart(yy,ReceiptDate) = @Year and datepart(mm,ReceiptDate) = @Month))-- or (datepart(yy,ReceiptDate) = @Year+1 and datepart(mm,ReceiptDate) = 1))
	group by EtcClaimRegion

	--클레임처리
 	insert into #TempTransperStateTable
	Select '기타' as PropertyClassification, ItemName as  ItemNum , ItemName as ItemDrawNum,  ItemName,  '' as ProcessCode, '' as ProcessName, sum(0) as Quantity, -sum(ClaimCost) as Cost ,sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0), '' as ItemClassification1, '' as ItemClassification2, '02300110' as ItemClassification3, '' as ItemClassification4
	From PCL_HT where  (datepart(yy,ReceiptDate) = @Year) and (datepart(mm,ReceiptDate) = @Month)--  or datepart(mm,ReceiptDate) = @Month +1)
	--From PCL_HT where  (datepart(yy,ReceiptDate) = 2009) and (datepart(mm,ReceiptDate) = 1  or datepart(mm,ReceiptDate) = 1 +1)
	group by ItemNum,ItemDrawNum,ItemName
	
	--외주입고처리
	insert into #TempTransperStateTable
	Select PropertyClassification,  II_MT.ItemNum, II_MT.ItemDrawNum, II_MT.ItemName,  OSD_HT.ProcessCode,  OSD_HT.ProcessName, Sum(0) as Quantity ,  sum(QI_HT.SuitabilityQuantity * QI_HT.ApplyUnitCost) as TotalCost, sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),  ItemClassification1,  ItemClassification2,  '02300130' as ItemClassification3,  ItemClassification4
	From OSD_HT 
	inner join QI_HT on  OSD_HT.OutSideDeliveryHistoryIndex  = QI_HT.HistoryIndex1
	inner join II_MT on OSD_HT.ItemNum = II_MT.ItemNum
	where (( QI_HT.[Year] = @Year and QI_HT.[Month] = @Month ) )--or ([Year] = @Year+1 and [Month] = 1 ))
	and  II_MT.RecodingState =1 and QI_HT.ProgressCondition != '대기' and II_MT.PropertyClassification != '상품'
	group by II_MT.ItemNum, II_MT.ItemDrawNum, II_MT.ItemName,  OSD_HT.ProcessCode,  OSD_HT.ProcessName, ItemClassification1,  ItemClassification2,  ItemClassification3,  ItemClassification4, II_MT.PropertyClassification

	
--금월
	--부자재처리
	insert into #TempTransperStateTable
	Select PropertyClassification, II_MT.ItemNum,  II_MT.ItemDrawNum,  II_MT.ItemName, '' as ProcessCode, '' as ProcessName, sum(0),sum(0),sum(0),sum(0), sum(0) as Quantity,sum(TotalCost) as Cost ,sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),ItemClassification1,ItemClassification2, '02300140' as ItemClassification3,ItemClassification4
	From SBD_HT 
	inner join II_MT on SBD_HT.ItemNum = II_MT.ItemNum
	where II_MT.RecodingState = 1 and ((SBD_HT.[Year] = @Year+1 and SBD_HT.[Month] = 1))
	group by II_MT.ItemNum,  II_MT.ItemDrawNum,  II_MT.ItemName,ItemClassification1,ItemClassification2,ItemClassification3,ItemClassification4,PropertyClassification
	
	--기타구매처리
	
	insert into #TempTransperStateTable
	Select '기타' as PropertyClassification, EtcBD_HT.ItemName as ItemNum , EtcBD_HT.ItemName as ItemDrawNum, EtcBD_HT.ItemName as ItemName, '' as ProcessCode, '' as ProcessName, sum(0),sum(0),sum(0),sum(0),sum(0) as Quantity,sum(EtcBD_HT.TotalCost) as Cost ,sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0), '' as ItemClassification1, '' as ItemClassification2,  
	case ReasonCode when '18000010' then '02300150' 	else '02300160' end  as  ItemClassification3, '' as ItemClassification4
	From EtcBD_HT
	inner join PUC_MT on ReasonCode = SmallClassificationCode  where (([Year] = @Year+1 and [Month] = 1))
	--and EtcBD_HT.ItemName =  '176*150*16T외'
	group by ItemName, ReasonCode
	
	--기타공제관리
	insert into #TempTransperStateTable
	Select '기타' as PropertyClassification, EtcClaimRegion  as ItemNum , EtcClaimRegion as ItemDrawNum, EtcClaimRegion as ItemName, '' as ProcessCode, '' as ProcessName, sum(0),sum(0),sum(0),sum(0),sum(0) as Quantity, -sum(ClaimCost) as Cost ,sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0), '' as ItemClassification1, '' as ItemClassification2, '02300110' as ItemClassification3, '' as ItemClassification4
	From ECL_HT where  ((datepart(yy,ReceiptDate) = @Year+1 and datepart(mm,ReceiptDate) = 1))
	group by EtcClaimRegion

	--클레임처리
 	insert into #TempTransperStateTable
	Select '기타' as PropertyClassification, ItemName as  ItemNum , ItemName as ItemDrawNum,  ItemName, '' as ProcessCode, '' as ProcessName, sum(0),sum(0),sum(0),sum(0),sum(0) as Quantity, -sum(ClaimCost) as Cost ,sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0), '' as ItemClassification1, '' as ItemClassification2, '02300110' as ItemClassification3, '' as ItemClassification4
	From PCL_HT where  (datepart(yy,ReceiptDate) = @Year+1) and (datepart(mm,ReceiptDate) = 1)
	--From PCL_HT where  (datepart(yy,ReceiptDate) = 2009) and (datepart(mm,ReceiptDate) = 1  or datepart(mm,ReceiptDate) = 1 +1)
	group by ItemNum,ItemDrawNum,ItemName
	
	--외주입고처리
	insert into #TempTransperStateTable
	Select PropertyClassification,   II_MT.ItemNum, II_MT.ItemDrawNum, II_MT.ItemName, ProcessCode, ProcessName, sum(0),sum(0),sum(0),sum(0),Sum(0) as Quantity , sum(QI_HT.SuitabilityQuantity * QI_HT.ApplyUnitCost) as TotalCost,sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),  ItemClassification1,  ItemClassification2,  '02300130' as ItemClassification3,  ItemClassification4
	From OSD_HT 
	inner join QI_HT on  OSD_HT.OutSideDeliveryHistoryIndex  = QI_HT.HistoryIndex1
	inner join II_MT on OSD_HT.ItemNum = II_MT.ItemNum
	where (( QI_HT.[Year] = @Year+1 and QI_HT.[Month] = @Month+1 ) )--or ([Year] = @Year+1 and [Month] = 1 ))
	and  II_MT.RecodingState =1 and QI_HT.ProgressCondition != '대기' and II_MT.PropertyClassification != '상품'
	group by II_MT.ItemNum, II_MT.ItemDrawNum, II_MT.ItemName,  OSD_HT.ProcessCode,  OSD_HT.ProcessName, ItemClassification1,  ItemClassification2,  ItemClassification3,  ItemClassification4, II_MT.PropertyClassification

	
	

end
else
begin
	Set @Year = @Year ;

-- 전월
	--부자재처리
	insert into #TempTransperStateTable
	Select PropertyClassification, II_MT.ItemNum,  II_MT.ItemDrawNum,  II_MT.ItemName, '' as ProcessCode, '' as ProcessName, sum(0) as Quantity,sum(TotalCost) as Cost ,sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),ItemClassification1,ItemClassification2, '02300140' as ItemClassification3,ItemClassification4
	From SBD_HT 
	inner join II_MT on SBD_HT.ItemNum = II_MT.ItemNum
	where II_MT.RecodingState = 1 and (SBD_HT.[Year] = @Year and (SBD_HT.[Month] = @Month))-- or  SBD_HT.[Month] = @Month+1))
	group by II_MT.ItemNum,  II_MT.ItemDrawNum,  II_MT.ItemName,ItemClassification1,ItemClassification2,ItemClassification3,ItemClassification4,PropertyClassification
	
	--기타구매처리
	
	insert into #TempTransperStateTable
	Select '기타' as PropertyClassification, EtcBD_HT.ItemName as ItemNum , EtcBD_HT.ItemName as ItemDrawNum, EtcBD_HT.ItemName as ItemName, '' as ProcessCode, '' as ProcessName, sum(0) as Quantity,sum(EtcBD_HT.TotalCost) as Cost ,sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0), '' as ItemClassification1, '' as ItemClassification2,  
	case ReasonCode when '18000010' then '02300150' 	else '02300160' end  as  ItemClassification3, '' as ItemClassification4
	From EtcBD_HT 
	inner join PUC_MT on ReasonCode = SmallClassificationCode  where (([Year] = @Year )and ([Month] = @Month))-- or  [Month] = @Month+1))
	--and EtcBD_HT.ItemName =  '176*150*16T외'
	group by ItemName, ReasonCode
	
	--기타공제관리
	insert into #TempTransperStateTable
	Select '기타' as PropertyClassification, EtcClaimRegion  as ItemNum , EtcClaimRegion as ItemDrawNum, EtcClaimRegion as ItemName, '' as ProcessCode, '' as ProcessName, sum(0) as Quantity, -sum(ClaimCost) as Cost ,sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0), '' as ItemClassification1, '' as ItemClassification2, '02300110' as ItemClassification3, '' as ItemClassification4
	From ECL_HT where  (datepart(yy,ReceiptDate) = @Year) and (datepart(mm,ReceiptDate) = @Month)--  or datepart(mm,ReceiptDate) = @Month +1)
	group by EtcClaimRegion

	--클레임처리
 	insert into #TempTransperStateTable
	Select '기타' as PropertyClassification, ItemName as  ItemNum , ItemName as ItemDrawNum,  ItemName,  '' as ProcessCode, '' as ProcessName, sum(0) as Quantity, -sum(ClaimCost) as Cost ,sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0), '' as ItemClassification1, '' as ItemClassification2, '02300110' as ItemClassification3, '' as ItemClassification4
	From PCL_HT where  (datepart(yy,ReceiptDate) = @Year) and (datepart(mm,ReceiptDate) = @Month)--  or datepart(mm,ReceiptDate) = @Month +1)
	--From PCL_HT where  (datepart(yy,ReceiptDate) = 2009) and (datepart(mm,ReceiptDate) = 1  or datepart(mm,ReceiptDate) = 1 +1)
	group by ItemNum,ItemDrawNum,ItemName

	--외주입고처리
	insert into #TempTransperStateTable
	Select PropertyClassification,  II_MT.ItemNum, II_MT.ItemDrawNum, II_MT.ItemName,  OSD_HT.ProcessCode,  OSD_HT.ProcessName, Sum(0) as Quantity ,  sum(QI_HT.SuitabilityQuantity * QI_HT.ApplyUnitCost) as TotalCost, sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),  ItemClassification1,  ItemClassification2,  '02300130' as ItemClassification3,  ItemClassification4
	From OSD_HT 
	inner join QI_HT on  OSD_HT.OutSideDeliveryHistoryIndex  = QI_HT.HistoryIndex1
	inner join II_MT on OSD_HT.ItemNum = II_MT.ItemNum
	where (( QI_HT.[Year] = @Year and QI_HT.[Month] = @Month ) )--or ([Year] = @Year+1 and [Month] = 1 ))
	and  II_MT.RecodingState =1 and QI_HT.ProgressCondition != '대기' and II_MT.PropertyClassification != '상품'
	group by II_MT.ItemNum, II_MT.ItemDrawNum, II_MT.ItemName,  OSD_HT.ProcessCode,  OSD_HT.ProcessName, ItemClassification1,  ItemClassification2,  ItemClassification3,  ItemClassification4, II_MT.PropertyClassification


	


-- 금월
	--부자재처리
	insert into #TempTransperStateTable
	Select PropertyClassification, II_MT.ItemNum,  II_MT.ItemDrawNum,  II_MT.ItemName, '' as ProcessCode, '' as ProcessName, sum(0),sum(0),sum(0),sum(0),sum(0) as Quantity,sum(TotalCost) as Cost ,sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),ItemClassification1,ItemClassification2, '02300140' as ItemClassification3,ItemClassification4
	From SBD_HT 
	inner join II_MT on SBD_HT.ItemNum = II_MT.ItemNum
	where II_MT.RecodingState = 1 and (SBD_HT.[Year] = @Year and ( SBD_HT.[Month] = @Month+1))
	group by II_MT.ItemNum,  II_MT.ItemDrawNum,  II_MT.ItemName,ItemClassification1,ItemClassification2,ItemClassification3,ItemClassification4,PropertyClassification
	
	--기타구매처리
	
	insert into #TempTransperStateTable
	Select '기타' as PropertyClassification, EtcBD_HT.ItemName as ItemNum , EtcBD_HT.ItemName as ItemDrawNum, EtcBD_HT.ItemName as ItemName, '' as ProcessCode, '' as ProcessName, sum(0),sum(0),sum(0),sum(0),sum(0) as Quantity,sum(EtcBD_HT.TotalCost) as Cost ,sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0), '' as ItemClassification1, '' as ItemClassification2,  
	case ReasonCode when '18000010' then '02300150' 	else '02300160' end  as  ItemClassification3, '' as ItemClassification4
	From EtcBD_HT
	inner join PUC_MT on ReasonCode = SmallClassificationCode  where (([Year] = @Year )and ( [Month] = @Month+1))
	--and EtcBD_HT.ItemName =  '176*150*16T외'
	group by ItemName, ReasonCode
	
	--기타공제관리
	insert into #TempTransperStateTable
	Select '기타' as PropertyClassification, EtcClaimRegion  as ItemNum , EtcClaimRegion as ItemDrawNum, EtcClaimRegion as ItemName, '' as ProcessCode, '' as ProcessName, sum(0),sum(0),sum(0),sum(0),sum(0) as Quantity, -sum(ClaimCost) as Cost ,sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0), '' as ItemClassification1, '' as ItemClassification2, '02300110' as ItemClassification3, '' as ItemClassification4
	From ECL_HT where  (datepart(yy,ReceiptDate) = @Year) and (datepart(mm,ReceiptDate) = @Month +1)
	group by EtcClaimRegion

	--클레임처리
 	insert into #TempTransperStateTable
	Select '기타' as PropertyClassification, ItemName as  ItemNum , ItemName as ItemDrawNum,  ItemName, '' as ProcessCode, '' as ProcessName, sum(0),sum(0),sum(0),sum(0),sum(0) as Quantity, -sum(ClaimCost) as Cost ,sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0), '' as ItemClassification1, '' as ItemClassification2, '02300110' as ItemClassification3, '' as ItemClassification4
	From PCL_HT where  (datepart(yy,ReceiptDate) = @Year) and (datepart(mm,ReceiptDate) = @Month +1)
	--From PCL_HT where  (datepart(yy,ReceiptDate) = 2009) and (datepart(mm,ReceiptDate) = 1  or datepart(mm,ReceiptDate) = 1 +1)
	group by ItemNum,ItemDrawNum,ItemName

	--외주입고처리
	insert into #TempTransperStateTable
	Select PropertyClassification,   II_MT.ItemNum, II_MT.ItemDrawNum, II_MT.ItemName, ProcessCode, ProcessName, sum(0),sum(0),sum(0),sum(0),Sum(0) as Quantity , sum(QI_HT.SuitabilityQuantity * QI_HT.ApplyUnitCost) as TotalCost,sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),  ItemClassification1,  ItemClassification2,  '02300130' as ItemClassification3,  ItemClassification4
	From OSD_HT 
	inner join QI_HT on  OSD_HT.OutSideDeliveryHistoryIndex  = QI_HT.HistoryIndex1
	inner join II_MT on OSD_HT.ItemNum = II_MT.ItemNum
	where (( QI_HT.[Year] = @Year and QI_HT.[Month] = @Month+1 ) )--or ([Year] = @Year+1 and [Month] = 1 ))
	and  II_MT.RecodingState =1 and QI_HT.ProgressCondition != '대기' and II_MT.PropertyClassification != '상품'
	group by II_MT.ItemNum, II_MT.ItemDrawNum, II_MT.ItemName,  OSD_HT.ProcessCode,  OSD_HT.ProcessName, ItemClassification1,  ItemClassification2,  ItemClassification3,  ItemClassification4, II_MT.PropertyClassification


	


end


insert  into TempResultTransperStateTable
Select Division, ItemNum, ItemDrawNum, ItemName, ProcessCode, ProcessName
, sum(전월입고수량) as 전월입고수량
, sum(전월입고금액) as 전월입고금액
, sum(전월재고수량) as 전월재고수량
, sum(전월재고금액) as 전월재고금액
, sum(금월입고수량) as 금월입고수량
, sum(금월입고금액) as 금월입고금액
, sum(금월출고수량) as 금월출고수량
, sum(금월재고수량) as 금월재고수량
, sum(금월재고금액) as 금월재고금액
, sum(증감매입수량) as 증감매입수량
, sum(증감매입금액) as 증감매입금액
, sum(증감재고수량) as 증감재고수량
, sum(증감재고금액) as 증감재고금액
, ItemClassification1
, ItemClassification2
, ItemClassification3
, ItemClassification4
  From #TempTransperStateTable
group by Division, ItemNum, ItemDrawNum, ItemName, ProcessCode, ProcessName , ItemClassification1, ItemClassification2, ItemClassification3, ItemClassification4
 order by ItemNum
---------------------------------------------------------------------------------------------------
--창고에 존재하지 않고 이력에 존재하는 부자재, 기타구매, 기타공제, 불량변상, 외주입고에 대한 전월 금액 및 금월금액 넣기 끝
------------------------------------------------------------------------------------------------------


/*


Select  #TempTransperStateTable.* , isnull(P1.SmallClassificationName, '') , isnull(P2.SmallClassificationName, '') , isnull(P3.SmallClassificationName, '') , isnull(P4.SmallClassificationName, '')
From #TempTransperStateTable 
left outer join  PUC_MT P1 on #TempTransperStateTable.ItemClassification1 = P1.SmallClassificationCode
left outer join  PUC_MT P2 on #TempTransperStateTable.ItemClassification2 = P2.SmallClassificationCode
left outer join  PUC_MT P3 on #TempTransperStateTable.ItemClassification3 = P3.SmallClassificationCode
left outer join  PUC_MT P4 on #TempTransperStateTable.ItemClassification4 = P4.SmallClassificationCode
--where [금월재고금액] is not null
where ItemNum ='15CNC 밴딩(Ø10) 콜릿척2차 가공'
order by  #TempTransperStateTable.ItemNum



*/
GO
