USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[SPTransperState13]    Script Date: 07/02/2026 08:48:43 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE    PROCEDURE  [dbo].[SPTransperState13] AS





-------------------
-- 금월 재고수량 및 재고 금액 넣기 시작
-- 동시에 매입과 재고 관련 전월대비 증감
-- 부분도 함께 넣는다
-------------------
			DECLARE cur CURSOR 
			FOR
			
			
			Select Division,  ItemNum,[전월입고수량],  [전월입고금액], [전월재고수량], isnull([전월재고금액],0) as [전월재고금액] ,	[금월입고수량], [금월입고금액], [금월출고수량]
			From TempResultTransperStateTable 	Where ((전월입고수량 !=0 ) or (전월입고금액 !=0 ) or ([전월재고수량] !=0) or( [금월입고수량] !=0 ) or (금월입고금액 !=0 ) or ( [금월출고수량] !=0 ) )
			--and ItemNum ='38265-45181'		
			order by ItemNum

			
			--커서 오픈
			OPEN cur
			
			--변수 선언
			Declare @Division Varchar(10)
			DECLARE @Number varchar(50)
			DECLARE @PreQuantity decimal(20,2)		--전월입고수량
			DECLARE @PCost decimal(20,2)		--전월입고금액
			DECLARE @PQuantity decimal(20,2)		--전월재고수량
			DECLARE @PreCost decimal(20,2)		--전월재고금액
			DECLARE @ThisQuantity decimal(20,2)	--금월입고수량	
			DECLARE @ThisCost decimal(20,2)		--금월입고금액
			DECLARE @OutQuantity decimal(20,2)	--금월출고수량

			--첫 로우 FETCH
			FETCH NEXT FROM cur INTO @Division, @Number, @PreQuantity, @PCost, @PQuantity, @PreCost, @ThisQuantity,@ThisCost,@OutQuantity
			WHILE @@FETCH_STATUS = 0
			BEGIN
			--FETCH된 데이터를 tempdb에 삽입
			DECLARE @NowQuantity decimal(20,2)	--금월재고수량
			DECLARE @TCost decimal(20,2)		--금월재고금액
			DECLARE @증감매입량 decimal(20,2)		--증감매입수량
			DECLARE @증감매입금 decimal(20,2)		--증감매입금액
			DECLARE @증감재고량 decimal(20,2)		--증감재고수량
			DECLARE @증감재고금 decimal(20,2)		--증감재고금액
			
			 	-- 금월재고수량  = 전월재고수량 + 금월입고수량 - 금월출고수량
				Set @NowQuantity = @PQuantity + @ThisQuantity - @OutQuantity

				-- 금월재고 금액	=> 대략적으로 단가테이블에서 해당 품목의 단가 하나를 들고와서 현재수량과 곱한다.
				-- 이때 단가구분은 구매단가를 가지고 온다.(외주품, 제품에 대한 단가는 안본다)
				Set @TCost = @NowQuantity * (
					Select Top 1  (U.StandardUnitCost) From UCI_MT U 
					where U.RecodingState =1 and U.ItemNum =  @Number 
					and U.UnitCostDistinction = '구매단가' 
					and (U.OrderRate = (Select Max(OrderRate) From UCI_MT where U.ItemNum = UCI_MT.ItemNum and UCI_MT.RecodingState =1))
					)

				--  증감매입량 = 금월입고수량 - 전월입고수량
				Set @증감매입량 = @ThisQuantity - @PreQuantity	

				--  증감매입금 = 금월입고금액 - 전월입고금액
				Set @증감매입금 = @ThisCost - @PCost		

				--  증감재고량 =  금월재고수량 - 전월재고수량
				Set @증감재고량 = @NowQuantity - @PQuantity	

				--  증감재고금 = 금월재고금액 - 전월재고금액
				Set @증감재고금 = @TCost - @PreCost		
				
				Update TempResultTransperStateTable Set [금월재고수량]=@NowQuantity, [금월재고금액]= isnull(@TCost,0) ,
				[증감매입수량]=@증감매입량, [증감매입금액]= isnull(@증감매입금,0) ,
				[증감재고수량]=@증감재고량, [증감재고금액]= isnull(@증감재고금,0) 
				where ItemNum = @Number and Division = @Division
			
			--다음 로우 FEETCH - 루프
			FETCH NEXT FROM cur INTO  @Division, @Number, @PreQuantity, @PCost, @PQuantity, @PreCost, @ThisQuantity,@ThisCost,@OutQuantity
			END
			--커서 CLOSE
			CLOSE cur
			
			--커서 DEALLOCATE
			DEALLOCATE cur

			Update TempResultTransperStateTable Set  전월재고금액 = 0 where 전월재고금액  is null
-------------------
-- 금월 재고수량 및 재고 금액 넣기 끝Division, ItemNum, ItemDrawNum, ItemName, ProcessCode, ProcessName, 
--전월입고수량, 전월입고금액, 전월재고수량, 전월재고금액, 금월입고수량, 금월입고금액, 금월출고수량, 금월재고수량, 금월재고금액, 증감매입수량, 증감매입금액, 증감재고수량, 증감재고금액, ItemClassification1, ItemClassification2, ItemClassification3, ItemClassification4
-------------------
GO
