USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[SPSaleYearCost]    Script Date: 07/02/2026 08:48:43 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE                         PROCEDURE [dbo].[SPSaleYearCost] 
@Num AS VARCHAR(30), 
@MonStartDate AS smalldatetime,
@MonEndDate AS smalldatetime
 AS
/*
declare @ItemNum AS VARCHAR(50) 
declare @ItemDrawNum AS VARCHAR(50)
declare @ItemName AS VARCHAR(50)
declare @CompanyName AS VARCHAR(50)
declare @BusinessRegistrationNum AS VARCHAR(30)
declare @StartDate AS smalldatetime
declare @EndDate AS smalldatetime
Set @ItemNum = ''
Set @ItemDrawNum = ''
Set @ItemName = ''
Set @CompanyName = ''
Set @BusinessRegistrationNum = ''
Set @StartDate = ''
Set @EndDate = ''
declare @YearStartDate AS smalldatetime
declare @YearEndDate AS smalldatetime
Set @YearStartDate = ''
Set @YearEndDate = ''
declare @Num AS VARCHAR(30)
declare @YearStartDate AS smalldatetime
declare @YearEndDate AS smalldatetime
Set @Num = ''
Set @MonStartDate = '1990-01-01'
Set @MonEndDate = '2050-12-31'
*/
	IF exists (Select 1 From tempdb..sysobjects where name like '#DailyTemp%')
		DROP TABLE #DailyTemp
	-- 특정제품을 생산하는데 필요한 부품과 수량을 임시로 기억할 Table
	CREATE TABLE #DailyTemp
	(
		CompanyName VARCHAR(50),
		BusinessRegistrationNum Varchar(20),
		ItemNum VARCHAR(50),		
		ItemName VARCHAR(50),
		ProcessName VARCHAR(50),
		DeliveryDate smalldatetime,
		SaleDate smalldatetime,
		Quantity decimal(18,2),
		SuitabilityQuantity decimal(18,2),
		UnSuitabilityQuantity decimal(18,2),
		ApplyUnitCost decimal(18,2),
		TotalCost decimal(18,2),
		MonthTotal decimal(18,2),
		YearTotal decimal(18,2),
	)  
	INSERT INTO #DailyTemp
		Select CompanyName,BusinessRegistrationNum,  ItemNum, ItemName, '최종품' as ProcessName, S_HT.RegistrationDate as DeliveryDate, SaleDate
		,OutStorehouseQuantity as Quantity, SuitabilityQuantity, (OutStorehouseQuantity-SuitabilityQuantity) as UnSuitabilityQuantity,  ApplyUnitCost, SuitabilityQuantity* ApplyUnitCost as TotalCost
		, null, null
		From S_HT 
		Where  BusinessRegistrationNum = @Num
		and S_HT.SaleDate between @MonStartDate and @MonEndDate
		
		union all
		Select CompanyName, BusinessRegistrationNum, ItemNum, ItemName, null as ProcessName,  RegistrationDate as  DeliveryDate, ReceiptDate as SaleDate
		,null as Quantity,  null as SuitabilityQuantity, ClaimQuantity as UnSuitabilityQuantity, null as ApplyUnitCost,  -ClaimCost as TotalCost
		, null, null
		From CL_HT
		where  BusinessRegistrationNum = @Num
		and ReceiptDate between @MonStartDate and @MonEndDate
	SELECT 	sum(TotalCost) as TotalCost 
	FROM #DailyTemp
GO
