USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[SPOutOrderRemainderProcessing]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE    PROCEDURE [dbo].[SPOutOrderRemainderProcessing]  AS
	IF exists (Select 1 From tempdb..sysobjects where name like '#RequestTable%')
		DROP TABLE #RequestTable
	--외주의뢰원장 대기량 저장하는 임시Table
	CREATE TABLE #RequestTable
	(
		ItemNum	VARCHAR(50),
		BeginProcessCode VARCHAR(50),
		EndProcessCode VARCHAR(50),
		Quantity DECIMAL(20, 3)
	)
	Insert into #RequestTable
	Select ItemNum,BeginProcessCode,EndProcessCode,Sum(OrderQuantity) as Quantity
	From OOR_HT
	Where ProgressCondition = '대기' and (datepart(yy,RegistrationDate) = datepart(yy,getdate()))
	Group by  ItemNum,BeginProcessCode,EndProcessCode
	IF exists (Select 1 From tempdb..sysobjects where name like '#RemainderTable%')
		DROP TABLE #RemainderTable
	--외주발주원장 대기량 저장하는 임시Table
	CREATE TABLE #RemainderTable
	(
		ItemNum	VARCHAR(50),
		BeginProcessCode VARCHAR(50),
		EndProcessCode VARCHAR(50),
		Quantity DECIMAL(20, 3)
	)
	Insert into #RequestTable
	Select ItemNum,BeginProcessCode,EndProcessCode,Sum(RemainQuantity) as Quantity
	From OO_HT
	Where ( ProgressCondition = '대기' or ProgressCondition = '진행' ) and (datepart(yy,RegistrationDate) = datepart(yy,getdate()))
	Group by  ItemNum,BeginProcessCode,EndProcessCode
	
	select R.ItemNum, R.BeginProcessCode, R.EndProcessCode, isnull(R.Quantity,0) + isnull(O.Quantity,0) as OrderQuantity
	From #RequestTable R full outer join #RemainderTable O
	on R.ItemNum = O.ItemNum
GO
