USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[QualityInspection_Register]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE     PROCEDURE [dbo].[QualityInspection_Register] 
											(							
												  @key int 					-- 품질검사원장 키		0
												, @successQuantity decimal(20, 3) 	= 0		-- 적합수량
												, @incongruityQuantity decimal(20, 3)	=0	-- 부적합수량
												, @incongruityDecision varchar(50)	= null		-- 검사판정
												, @incongruityCause varchar(50)		= null	-- 부적합원인
												, @incongruityCauseCode varchar(50)	=null	-- 부적합원인코드			5
												, @incongruityPhenomenon varchar(50)=null		-- 부적합현상
												, @incongruityPhenomenonCode varchar(50)=null  	-- 부적합현상 코드
												, @incongruityDetailContent varchar(100) = null 	-- 부적합세부내용
												, @inspectionPost varchar(50)			-- 검사자
												, @inspectionPostID varchar(50)			-- 검사자ID			10
												, @incongruityMoney decimal(20, 3)	=0		-- 부적합 금액
												, @hs1 varchar(10)				-- 원장구분1
												, @hindex1 int					-- 원장번호1
												, @hs2 varchar(10)				-- 원장구분2
												, @hindex2 int					-- 원장번호2			15
												, @ItemName varchar(50)				-- 품목명
												, @itemnumber varchar(50)			-- 품목번호
												, @ItemDrawNum varchar(50)			-- 도면번호
												, @CompanyName varchar(50)			-- 거래처명
												, @BusinessRegistrationNum varchar(50)		-- 사업자등록번호			20
												, @ApplyUnitCost decimal(20, 3) 			-- 품목단가
												, @BeginProcessSequenceNum tinyint		-- 시작 공정순서번호	
												, @EndProcessSequenceNum tinyint		-- 종료 공정순서번호	
												, @BeginProcessNameCode varchar(15)		-- 시작공정코드
												, @EndProcessName varchar(50)			-- 종료공정명
												, @EndProcessNameCode varchar(15)		-- 종료공정코드			26
												, @CompleteDate varchar(20)
												, @DeliveryYear int
												, @DeliveryMonth int
											)
AS
	SET NOCOUNT ON
	DECLARE @ExistingRemainQuantity decimal(20, 3)	-- ExistingRemainQuantity : 기존 잔량		 (구매, 외주 모두 사용)
	DECLARE @ResultQuantity decimal(20, 3)		-- 기존잔량 에 합격수량(납품수량)을 뺀 값   (구매, 외주 모두 사용)
	DECLARE @NowYear int 				--매입매출테이블등 창고에 기록을 위한 올해년도
	SET @NowYear = ( select datepart(yy, getdate()) )
	DECLARE @Year int				--매입매출테이블등 창고에 기록을 위한 검사완료년도
	SET @Year = ( select datepart(yy, @CompleteDate) )
	DECLARE @Month TINYINT				-- 품질검사완료월
	SET @Month = ( select datepart(mm, @CompleteDate) )
			-- 동적쿼리 변수
	DECLARE @Date varchar(20)
	DECLARE @InStoreWaitingQuantity decimal(20,2)	-- 입고대기수량
	SET @InStoreWaitingQuantity = @successQuantity + @incongruityQuantity --총입고수량
	DECLARE @TotalBuyingCost decimal(20,2)		-- 수량 * 매입금액( 외주가공비용 또는 매입품 단가 )  (구매, 외주 모두 사용)
	DECLARE @StandardUnitCost decimal(20, 2)		-- 표준단가
	SET @StandardUnitCost = (select StandardUnitCost from ii_mt where itemnum = @itemnumber and RecodingState = 1)

	DECLARE @SQL varchar(8000)	--창고테이블 함수기록변수
	SET @SQL = ''
	SET @Date = (select replace(convert(varchar(10), getdate(), 111), '/', '-'))
	-- 품질 검사 원장 에 적합수량, 부적합수량, 부적합 사유, 원인 등 기록
	UPDATE QI_HT SET  SuitabilityQuantity = @successQuantity
					, QualityInspectionCompleteDate = @CompleteDate
					, UnSuitabilityQuantity = @incongruityQuantity					
					, InspectionDecisionMeaning = @incongruityDecision
					, UnSuitabilityCauseMeaning = @incongruityCause
					, UnSuitabilityCauseCode = @incongruityCauseCode
					, UnSuitabilityStatusMeaning = @incongruityPhenomenon
					, UnSuitabilityStatusCode = @incongruityPhenomenonCode
					, UnSuitabilityDetailMeaning = @incongruityDetailContent
					, Investigator = @inspectionPost
					, InvestigatorID = @inspectionPostID
					, UnSuitabilityCost = @incongruityMoney
					, UpdatingPerson = @inspectionPost
					, UpdatingPersonID = @inspectionPostID
					, UpdatingDate = @Date
					, ProgressCondition = '검사완료'
					,[Year] = @DeliveryYear
					,[Month] = @DeliveryMonth
	FROM QI_HT
	WHERE QualityInspectionHistoryIndex = @key
IF ( @hs1 = '구매' )
BEGIN
/********************************************************************************************************************************
*********************************************************************************************************************************
*********************************************************   구매 처리   *************************************************************
*********************************************************************************************************************************
*********************************************************************************************************************************/
	-- 상품, 원자재의 검사결과를 
	-- 구매납품원장의 납품수량(검사완료수량) 과 납품수량의 단가와 진행상태를 고친다.
	-- 구매발주원장의 잔량을 기존잔량에 납품수량(검사완료수량) 을 뺀 값을 넣고 그 잔량이 0 이거나 0 보다 작다면 진행상태를 "완료" 로 고치고  
	-- 기존잔량이 총 발주수량과 같다면 진행상태를 "진행" 으로 고친다.

	DECLARE @PropertyClassification varchar(15)		-- 자산분류(원자재, 상품, 제품, 반제품) 가져온다. - 구매품이 원자재인지 상품인지를 구분값을 담을 변수

	set @TotalBuyingCost = ( @ApplyUnitCost * @successQuantity) -- 총 매입금액
		-- BD_HT - 구매납품원장
		UPDATE  BD_HT SET DeliveryQuantity =  @successQuantity 
							, TotalCost = @successQuantity * ApplyUnitCost
							, ProgressCondition = '완료'
							, UpdatingPerson = @inspectionPost
							, UpdatingPersonID = @inspectionPostID
							, UpdatingDate = @Date
							,[Year] = @DeliveryYear
							,[Month] = @DeliveryMonth
		WHERE BuyingDeliveryHistoryIndex = @hindex1





		
		-- 매입매출테이블에 입력될 BuyingCost(구매단가)

		
--		-- 매입매출 (BSI_MT) 테이블 

		set @SQL = @SQL + ' update bsi_mt set TotalBuyingCost'+cast(@DeliveryMonth as varchar(3))+' = TotalBuyingCost' +cast(@DeliveryMonth as varchar(3))+' + ' + cast(@TotalBuyingCost as varchar(30)) + ' , UnPaymentMoney'+ cast(@DeliveryMonth as varchar(3)) + ' = UnPaymentMoney'+ cast(@DeliveryMonth as varchar(3)) +' + ' + cast(@TotalBuyingCost as varchar(30))
		set @DeliveryMonth = @DeliveryMonth + 1
		while ( @DeliveryMonth < 13 )
		begin
			set @SQL = @SQL + ', TotalBuyingCost'+cast(@DeliveryMonth as varchar(3))+' = TotalBuyingCost' +cast(@DeliveryMonth as varchar(3))+' + ' + cast(@TotalBuyingCost as varchar) + ' , UnPaymentMoney'+ cast(@DeliveryMonth as varchar(3)) + ' = UnPaymentMoney'+ cast(@DeliveryMonth as varchar(3)) +' + ' + cast(@TotalBuyingCost as varchar)
			set @DeliveryMonth = @DeliveryMonth + 1
		end
		set @SQL = @SQL + ' where [Year] = '+cast(@DeliveryYear as varchar(5))+' and  BusinessRegistrationNum = ''' + @BusinessRegistrationNum + ''' '
		
		
		while(@DeliveryYear < @NowYear)
		begin
			set @SQL = @SQL + '  UPDATE BSI_MT SET TotalBuyingCost1 = TotalBuyingCost1 +'+cast(@TotalBuyingCost as varchar(30))+',
					TotalBuyingCost2 = TotalBuyingCost2 +'+cast(@TotalBuyingCost as varchar(30))+', 
					TotalBuyingCost3 = TotalBuyingCost3 + '+cast(@TotalBuyingCost as varchar(30))+', 
					TotalBuyingCost4 = TotalBuyingCost4 + '+cast(@TotalBuyingCost as varchar(30))+', 
					TotalBuyingCost5 = TotalBuyingCost5 + '+cast(@TotalBuyingCost as varchar(30))+', 
					TotalBuyingCost6 = TotalBuyingCost6 + '+cast(@TotalBuyingCost as varchar(30))+', 
					TotalBuyingCost7 = TotalBuyingCost7 + '+cast(@TotalBuyingCost as varchar(30))+', 
					TotalBuyingCost8 = TotalBuyingCost8 + '+cast(@TotalBuyingCost as varchar(30))+', 
					TotalBuyingCost9 = TotalBuyingCost9 + '+cast(@TotalBuyingCost as varchar(30))+', 
					TotalBuyingCost10 = TotalBuyingCost10 + '+cast(@TotalBuyingCost as varchar(30))+', 
					TotalBuyingCost11 = TotalBuyingCost11 + '+cast(@TotalBuyingCost as varchar(30))+', 
					TotalBuyingCost12 = TotalBuyingCost12 + '+cast(@TotalBuyingCost as varchar(30))+', 
					UnPaymentMoney1 = UnPaymentMoney1 + '+cast(@TotalBuyingCost as varchar(30))+', 
					UnPaymentMoney2 = UnPaymentMoney2 + '+cast(@TotalBuyingCost as varchar(30))+', 
					UnPaymentMoney3 = UnPaymentMoney3 + '+cast(@TotalBuyingCost as varchar(30))+', 
					UnPaymentMoney4 = UnPaymentMoney4 + '+cast(@TotalBuyingCost as varchar(30))+', 
					UnPaymentMoney5 = UnPaymentMoney5 + '+cast(@TotalBuyingCost as varchar(30))+', 
					UnPaymentMoney6 = UnPaymentMoney6 + '+cast(@TotalBuyingCost as varchar(30))+', 
					UnPaymentMoney7 = UnPaymentMoney7 + '+cast(@TotalBuyingCost as varchar(30))+', 
					UnPaymentMoney8 = UnPaymentMoney8 + '+cast(@TotalBuyingCost as varchar(30))+', 
					UnPaymentMoney9 = UnPaymentMoney9 + '+cast(@TotalBuyingCost as varchar(30))+', 
					UnPaymentMoney10 = UnPaymentMoney10 + '+cast(@TotalBuyingCost as varchar(30))+', 
					UnPaymentMoney11 = UnPaymentMoney11 + '+cast(@TotalBuyingCost as varchar(30))+', 
					UnPaymentMoney12 = UnPaymentMoney12 + '+cast(@TotalBuyingCost as varchar(30))+'  where [Year] = '+cast(@DeliveryYear as varchar(5))+' and  BusinessRegistrationNum = ''' + @BusinessRegistrationNum + ''''

			Set @DeliveryYear = @DeliveryYear+1

		end
			
		SET @Year = ( select datepart(yy, @CompleteDate) )	-- 다시 초기화
		SET @Month = ( select datepart(mm, @CompleteDate) )	-- 다시 초기화




--		-- 매입원장(B_HT) 매입금액 기록- 외주공정일 경우 공정비용(가공비용) 을 기록하고 구매일 경우 구매품의 단가를 기록한다.(Insert)
		insert b_ht (
					ItemNum, ItemDrawNum, ItemName, CompanyName, BusinessRegistrationNum
					, BuyingQuantity, ApplyUnitCost, TotalCost, RegistrationPerson, RegistrationPersonID
					, RegistrationDate, HistoryIndex, HistorySection 
				   )
					values(    
							  @Itemnumber, @ItemDrawNum, @itemname, @companyname, @BusinessRegistrationNum 
							, @successQuantity, @ApplyUnitCost, @TotalBuyingCost, @inspectionPost, @inspectionPostID
							, @Date, @key, '품질관리'  
						   )
--		-- BO_HT - 구매발주원장





		
		SET @ExistingRemainQuantity = ( SELECT RemainQuantity FROM BO_HT WHERE BuyingOrderHistoryIndex = @hindex2 )
		SET @ResultQuantity = ( @ExistingRemainQuantity - @successQuantity )
		IF ( @ResultQuantity <= 0.0 )
		BEGIN
				UPDATE BO_HT SET InStoreWaitingQuantity = InStoreWaitingQuantity - @InStoreWaitingQuantity , RemainQuantity = @ResultQuantity ,  ProgressCondition =  '완료' 
								, UpdatingPerson = @inspectionPost
								, UpdatingPersonID = @inspectionPostID
								, UpdatingDate = @Date
				WHERE BuyingOrderHistoryIndex = @hindex2
		END
		ELSE
		BEGIN
				UPDATE BO_HT SET InStoreWaitingQuantity = InStoreWaitingQuantity - @InStoreWaitingQuantity , RemainQuantity = @ResultQuantity , ProgressCondition = '진행' 
								, UpdatingPerson = @inspectionPost
								, UpdatingPersonID = @inspectionPostID
								, UpdatingDate = @Date
				WHERE BuyingOrderHistoryIndex = @hindex2
		END
		





		-- 현재 구매품이 상품인지 원자재인지 자산분류(PropertyClassification) 를 가져온다
		set @PropertyClassification = ( 		
										SELECT PropertyClassification 
										FROM II_MT
									 	WHERE itemnum = @itemnumber 
										AND ItemDrawNum = @ItemDrawNum 
										AND RecodingState = 1
								      )











/**============================================================================================================
			구매품 창고처리 - 구매품의 창고 입고는 상품(PS_MT)과 원자재(RMS_MT)로 분류
=============================================================================================================**/
/***********************************************
원자재의 경우 ( 원자재는 ISR 에 입고의뢰 하지 않음 )	
************************************************/
			
			IF ( @PropertyClassification = '원자재' )	
			BEGIN
					-- 원자재 창고(RMS_MT)에 현재달의 입고수량, 입고금액, 현재달의 입고재고, 입고금액을 업뎃하고 이후월 재고수량, 금액을 수정
					SET @SQL = @SQL + ' UPDATE RMS_MT SET InStorehouseQuantity' + cast(@Month as varchar) + ' = (InStorehouseQuantity' + cast(@Month as varchar) + ' + ' + cast(@successQuantity as varchar) + '), InStorehouseCost' + cast(@Month as varchar) + ' = ( InStorehouseCost' + cast(@Month as varchar) + ' + ' + cast((@StandardUnitCost * @successQuantity) as varchar) + ') , 
								StockQuantity' + cast(@Month as varchar) + ' = (StockQuantity' + cast(@Month as varchar) + ' + ' + cast( @successQuantity as varchar ) + '), StockCost' + cast(@Month as varchar) + ' = ( StockCost' + cast(@Month as varchar) + ' + ' + cast( (@StandardUnitCost * @successQuantity) as varchar) + ' ) ' 
					SET @Month = @Month + 1
					
					While( @Month < 13 )	-- 현재 월 보다 큰 월들의 재고수량과 재고금액을 업데이트
						BEGIN
							SET @SQL = @SQL + ' , StockQuantity' + cast(@Month as varchar) + ' = ( StockQuantity' + cast(@Month as varchar) + ' + ' + cast( @successQuantity as varchar ) + ') , StockCost' + cast(@Month as varchar) + ' = ( StockCost' + cast(@Month as varchar) + ' + ' + cast((@successQuantity * @StandardUnitCost) as varchar) + ')'
							SET @Month = @Month + 1
						END	
					SET @SQL = @SQL + ' WHERE [Year] = '+cast(@Year as varchar(5))+' and  RecodingState = 1 and itemnum = ''' + cast(@itemnumber as varchar) + ''''


					while(@Year < @NowYear)
					begin
						SET @SQL = @SQL +';  UPDATE RMS_MT SET 	InStorehouseQuantity1 = InStorehouseQuantity1 + ' + cast(@successQuantity as varchar) + ', 
						StockQuantity1 = StockQuantity1 + ' + cast(@successQuantity as varchar) + ', 
						StockQuantity2 = StockQuantity2 + ' + cast(@successQuantity as varchar) + ', 
						StockQuantity3 = StockQuantity3 + ' + cast(@successQuantity as varchar) + ', 
						StockQuantity4 = StockQuantity4 + ' + cast(@successQuantity as varchar) + ', 
						StockQuantity5 = StockQuantity5 + ' + cast(@successQuantity as varchar) + ', 
						StockQuantity6 = StockQuantity6 + ' + cast(@successQuantity as varchar) + ', 
						StockQuantity7 = StockQuantity7 + ' + cast(@successQuantity as varchar) + ', 
						StockQuantity8 = StockQuantity8 + ' + cast(@successQuantity as varchar) + ', 
						StockQuantity9 = StockQuantity9 + ' + cast(@successQuantity as varchar) + ', 
						StockQuantity10 = StockQuantity10 + ' + cast(@successQuantity as varchar) + ', 
						StockQuantity11 = StockQuantity11 + ' + cast(@successQuantity as varchar) + ', 
						StockQuantity12 = StockQuantity12 + ' + cast(@successQuantity as varchar) + ', 
						InStorehouseCost1 = InStorehouseCost1 + ' + cast((@StandardUnitCost * @successQuantity) as varchar) + ', 
						StockCost1 = StockCost1 + ' + cast((@StandardUnitCost * @successQuantity) as varchar) + ', 
						StockCost2 = StockCost2 + ' + cast((@StandardUnitCost * @successQuantity) as varchar) + ', 
						StockCost3 = StockCost3 + ' + cast((@StandardUnitCost * @successQuantity) as varchar) + ', 
						StockCost4 = StockCost4 + ' + cast((@StandardUnitCost * @successQuantity) as varchar) + ', 
						StockCost5 = StockCost5 + ' + cast((@StandardUnitCost * @successQuantity) as varchar) + ', 
						StockCost6 = StockCost6 + ' + cast((@StandardUnitCost * @successQuantity) as varchar) + ', 
						StockCost7 = StockCost7 + ' + cast((@StandardUnitCost * @successQuantity) as varchar) + ', 
						StockCost8 = StockCost8 + ' + cast((@StandardUnitCost * @successQuantity) as varchar) + ', 
						StockCost9 = StockCost9 + ' + cast((@StandardUnitCost * @successQuantity) as varchar) + ', 
						StockCost10 = StockCost10 + ' + cast((@StandardUnitCost * @successQuantity) as varchar) + ',
						StockCost11 = StockCost11 + ' + cast((@StandardUnitCost * @successQuantity) as varchar) + ',
						StockCost12 = StockCost12 + ' + cast((@StandardUnitCost * @successQuantity) as varchar) + ' WHERE [Year] = '+cast(@Year as varchar(5))+' and  RecodingState = 1 and itemnum = ''' + cast(@itemnumber as varchar) + ''''

						Set @Year = @Year+1
					end
			
					SET @Year = ( select datepart(yy, @CompleteDate) )	-- 다시 초기화
					SET @Month = ( select datepart(mm, @CompleteDate) )	-- 다시 초기화
				
			END
/***********************************************
			상품의 경우 
************************************************/
			ELSE IF ( @PropertyClassification = '상품' )
			BEGIN
			
			/*
					-- 영업창고(BS_MT)에 현재달의 입고수량, 입고금액, 현재달의 입고재고, 입고금액을 업뎃하고 이후월 재고수량, 금액을 반복문으로 동적 쿼리로 만들어 실행
					SET @SQL = @SQL + ' UPDATE BS_MT SET InStorehouseQuantity' + cast(@Month as varchar) + ' = (InStorehouseQuantity' + cast(@Month as varchar) + ' + ' + cast(@successQuantity as varchar) + '), InStorehouseCost' + cast(@Month as varchar) + ' = ( InStorehouseCost' + cast(@Month as varchar) + ' + ' + cast((@StandardUnitCost * @successQuantity) as varchar) + ') , 
								StockQuantity' + cast(@Month as varchar) + ' = (StockQuantity' + cast(@Month as varchar) + ' + ' + cast( @successQuantity as varchar ) + '), StockCost' + cast(@Month as varchar) + ' = ( StockCost' + cast(@Month as varchar) + ' + ' + cast( (@StandardUnitCost * @successQuantity) as varchar) + ' ) ' 
					SET @Month = @Month + 1
					
					WHILE( @Month < 13 )	-- 현재 월 보다 큰 월들의 재고수량과 재고금액을 업데이트
						BEGIN
							SET @SQL = @SQL + ' , StockQuantity' + cast(@Month as varchar) + ' = ( StockQuantity' + cast(@Month as varchar) + ' + ' + cast( @successQuantity as varchar ) + ') , StockCost' + cast(@Month as varchar) + ' = ( StockCost' + cast(@Month as varchar) + ' + ' + cast((@successQuantity * @StandardUnitCost) as varchar) + ')'
							SET @Month = @Month + 1
						END	
					SET @SQL = @SQL + ' WHERE BusinessStorehouseNum = 1 and [Year] = '+cast(@Year as varchar(5))+' and  RecodingState = 1 and  itemnum = ''' + cast(@itemnumber as varchar) + ''''

					while(@Year < @NowYear)
					begin
						SET @SQL = @SQL +'  UPDATE BS_MT SET 	InStorehouseQuantity1 = InStorehouseQuantity1 + ' + cast(@successQuantity as varchar) + ', 
						StockQuantity1 = StockQuantity1 + ' + cast(@successQuantity as varchar) + ', 
						StockQuantity2 = StockQuantity2 + ' + cast(@successQuantity as varchar) + ', 
						StockQuantity3 = StockQuantity3 + ' + cast(@successQuantity as varchar) + ', 
						StockQuantity4 = StockQuantity4 + ' + cast(@successQuantity as varchar) + ', 
						StockQuantity5 = StockQuantity5 + ' + cast(@successQuantity as varchar) + ', 
						StockQuantity6 = StockQuantity6 + ' + cast(@successQuantity as varchar) + ', 
						StockQuantity7 = StockQuantity7 + ' + cast(@successQuantity as varchar) + ', 
						StockQuantity8 = StockQuantity8 + ' + cast(@successQuantity as varchar) + ', 
						StockQuantity9 = StockQuantity9 + ' + cast(@successQuantity as varchar) + ', 
						StockQuantity10 = StockQuantity10 + ' + cast(@successQuantity as varchar) + ', 
						StockQuantity11 = StockQuantity11 + ' + cast(@successQuantity as varchar) + ', 
						StockQuantity12 = StockQuantity12 + ' + cast(@successQuantity as varchar) + ', 
						InStorehouseCost1 = InStorehouseCost1 + ' + cast((@StandardUnitCost * @successQuantity) as varchar) + ', 
						StockCost1 = StockCost1 + ' + cast((@StandardUnitCost * @successQuantity) as varchar) + ', 
						StockCost2 = StockCost2 + ' + cast((@StandardUnitCost * @successQuantity) as varchar) + ', 
						StockCost3 = StockCost3 + ' + cast((@StandardUnitCost * @successQuantity) as varchar) + ', 
						StockCost4 = StockCost4 + ' + cast((@StandardUnitCost * @successQuantity) as varchar) + ', 
						StockCost5 = StockCost5 + ' + cast((@StandardUnitCost * @successQuantity) as varchar) + ', 
						StockCost6 = StockCost6 + ' + cast((@StandardUnitCost * @successQuantity) as varchar) + ', 
						StockCost7 = StockCost7 + ' + cast((@StandardUnitCost * @successQuantity) as varchar) + ', 
						StockCost8 = StockCost8 + ' + cast((@StandardUnitCost * @successQuantity) as varchar) + ', 
						StockCost9 = StockCost9 + ' + cast((@StandardUnitCost * @successQuantity) as varchar) + ', 
						StockCost10 = StockCost10 + ' + cast((@StandardUnitCost * @successQuantity) as varchar) + ',
						StockCost11 = StockCost11 + ' + cast((@StandardUnitCost * @successQuantity) as varchar) + ',
						StockCost12 = StockCost12 + ' + cast((@StandardUnitCost * @successQuantity) as varchar) + ' WHERE BusinessStorehouseNum = 1 and [Year] = '+cast(@Year as varchar(5))+' and  RecodingState = 1 and  itemnum = ''' + cast(@itemnumber as varchar) + ''''

						Set @Year = @Year+1
					end
				
					SET @Year = ( select datepart(yy, @CompleteDate) )	-- 다시 초기화
					SET @Month = ( select datepart(mm, @CompleteDate) )	-- 다시 초기화

					-- 상품인 경우 입고 의뢰 원장 에 해당품목을 입력 ( 상품(제품) 인경우만 - 외주에서 가공된 제품이 최종 공정인 경우)
					INSERT ISR_HT
									(
										  HistoryIndex	, HistorySection		, ItemName		, ItemNum
										, ItemDrawNum	, CompanyName		, BusinessRegistrationNum	, ProcessName
										, ProcessCode	, ProcessSequenceNum
										, InstoreHouseRequestQuantity, InStoreDate		, ProgressCondition
										, RegistrationPerson	, RegistrationPersonID	, RegistrationDate
									) 
					VALUES 
									(
										  @key
										, '품질검사'
										, @ItemName
										, @ItemNumber
										, @ItemDrawNum
										, @CompanyName
										, @BusinessRegistrationNum
										, @EndProcessName
										, @EndProcessNameCode
										, @EndProcessSequenceNum
										, @successQuantity
										, @CompleteDate 
										, '대기'
										, @inspectionPost
										, @inspectionPostID
										, @Date
									)
			*/
			
			-- 생산창고(PS_MT)에 현재달의 입고수량, 입고금액, 현재달의 입고재고, 입고금액을 업뎃하고 이후월 재고수량, 금액을 반복문으로 동적 쿼리로 만들어 실행
					SET @SQL = @SQL + ' UPDATE PS_MT SET InStorehouseQuantity' + cast(@Month as varchar) + ' = (InStorehouseQuantity' + cast(@Month as varchar) + ' + ' + cast(@successQuantity as varchar) + '), InStorehouseCost' + cast(@Month as varchar) + ' = ( InStorehouseCost' + cast(@Month as varchar) + ' + ' + cast((@StandardUnitCost * @successQuantity) as varchar) + ') , 
								StockQuantity' + cast(@Month as varchar) + ' = (StockQuantity' + cast(@Month as varchar) + ' + ' + cast( @successQuantity as varchar ) + '), StockCost' + cast(@Month as varchar) + ' = ( StockCost' + cast(@Month as varchar) + ' + ' + cast( (@StandardUnitCost * @successQuantity) as varchar) + ' ) ' 
					SET @Month = @Month + 1
					
					WHILE( @Month < 13 )	-- 현재 월 보다 큰 월들의 재고수량과 재고금액을 업데이트
						BEGIN
							SET @SQL = @SQL + ' , StockQuantity' + cast(@Month as varchar) + ' = ( StockQuantity' + cast(@Month as varchar) + ' + ' + cast( @successQuantity as varchar ) + ') , StockCost' + cast(@Month as varchar) + ' = ( StockCost' + cast(@Month as varchar) + ' + ' + cast((@successQuantity * @StandardUnitCost) as varchar) + ')'
							SET @Month = @Month + 1
						END	
					SET @SQL = @SQL + ' WHERE [Year] = '+cast(@Year as varchar(5))+' and  RecodingState = 1 and  itemnum = ''' + cast(@itemnumber as varchar) + ''''

					while(@Year < @NowYear)
					begin
						SET @SQL = @SQL +'  UPDATE PS_MT SET 	InStorehouseQuantity1 = InStorehouseQuantity1 + ' + cast(@successQuantity as varchar) + ', 
						StockQuantity1 = StockQuantity1 + ' + cast(@successQuantity as varchar) + ', 
						StockQuantity2 = StockQuantity2 + ' + cast(@successQuantity as varchar) + ', 
						StockQuantity3 = StockQuantity3 + ' + cast(@successQuantity as varchar) + ', 
						StockQuantity4 = StockQuantity4 + ' + cast(@successQuantity as varchar) + ', 
						StockQuantity5 = StockQuantity5 + ' + cast(@successQuantity as varchar) + ', 
						StockQuantity6 = StockQuantity6 + ' + cast(@successQuantity as varchar) + ', 
						StockQuantity7 = StockQuantity7 + ' + cast(@successQuantity as varchar) + ', 
						StockQuantity8 = StockQuantity8 + ' + cast(@successQuantity as varchar) + ', 
						StockQuantity9 = StockQuantity9 + ' + cast(@successQuantity as varchar) + ', 
						StockQuantity10 = StockQuantity10 + ' + cast(@successQuantity as varchar) + ', 
						StockQuantity11 = StockQuantity11 + ' + cast(@successQuantity as varchar) + ', 
						StockQuantity12 = StockQuantity12 + ' + cast(@successQuantity as varchar) + ', 
						InStorehouseCost1 = InStorehouseCost1 + ' + cast((@StandardUnitCost * @successQuantity) as varchar) + ', 
						StockCost1 = StockCost1 + ' + cast((@StandardUnitCost * @successQuantity) as varchar) + ', 
						StockCost2 = StockCost2 + ' + cast((@StandardUnitCost * @successQuantity) as varchar) + ', 
						StockCost3 = StockCost3 + ' + cast((@StandardUnitCost * @successQuantity) as varchar) + ', 
						StockCost4 = StockCost4 + ' + cast((@StandardUnitCost * @successQuantity) as varchar) + ', 
						StockCost5 = StockCost5 + ' + cast((@StandardUnitCost * @successQuantity) as varchar) + ', 
						StockCost6 = StockCost6 + ' + cast((@StandardUnitCost * @successQuantity) as varchar) + ', 
						StockCost7 = StockCost7 + ' + cast((@StandardUnitCost * @successQuantity) as varchar) + ', 
						StockCost8 = StockCost8 + ' + cast((@StandardUnitCost * @successQuantity) as varchar) + ', 
						StockCost9 = StockCost9 + ' + cast((@StandardUnitCost * @successQuantity) as varchar) + ', 
						StockCost10 = StockCost10 + ' + cast((@StandardUnitCost * @successQuantity) as varchar) + ',
						StockCost11 = StockCost11 + ' + cast((@StandardUnitCost * @successQuantity) as varchar) + ',
						StockCost12 = StockCost12 + ' + cast((@StandardUnitCost * @successQuantity) as varchar) + ' WHERE [Year] = '+cast(@Year as varchar(5))+' and  RecodingState = 1 and  itemnum = ''' + cast(@itemnumber as varchar) + ''''

						Set @Year = @Year+1
					end
				
					SET @Year = ( select datepart(yy, @CompleteDate) )	-- 다시 초기화
					SET @Month = ( select datepart(mm, @CompleteDate) )	-- 다시 초기화

					-- 상품인 경우 입고 의뢰 원장 에 해당품목을 입력 ( 상품(제품) 인경우만 - 외주에서 가공된 제품이 최종 공정인 경우)
					INSERT ISR_HT
									(
										  HistoryIndex	, HistorySection		, ItemName		, ItemNum
										, ItemDrawNum	, CompanyName		, BusinessRegistrationNum	, ProcessName
										, ProcessCode	, ProcessSequenceNum
										, InstoreHouseRequestQuantity, InStoreDate		, ProgressCondition
										, RegistrationPerson	, RegistrationPersonID	, RegistrationDate
									) 
					VALUES 
									(
										  @key
										, '품질검사'
										, @ItemName
										, @ItemNumber
										, @ItemDrawNum
										, @CompanyName
										, @BusinessRegistrationNum
										, @EndProcessName
										, @EndProcessNameCode
										, @EndProcessSequenceNum
										, @successQuantity
										, @CompleteDate 
										, '대기'
										, @inspectionPost
										, @inspectionPostID
										, @Date
									)

			END
/*
					-- 생산창고(PS_MT)에 현재달의 입고수량, 입고금액, 현재달의 입고재고, 입고금액을 업뎃하고 이후월 재고수량, 금액을 반복문으로 동적 쿼리로 만들어 실행
					SET @SQL = @SQL + ' UPDATE PS_MT SET InStorehouseQuantity' + cast(@Month as varchar) + ' = (InStorehouseQuantity' + cast(@Month as varchar) + ' + ' + cast(@successQuantity as varchar) + '), InStorehouseCost' + cast(@Month as varchar) + ' = ( InStorehouseCost' + cast(@Month as varchar) + ' + ' + cast((@StandardUnitCost * @successQuantity) as varchar) + ') , 
								StockQuantity' + cast(@Month as varchar) + ' = (StockQuantity' + cast(@Month as varchar) + ' + ' + cast( @successQuantity as varchar ) + '), StockCost' + cast(@Month as varchar) + ' = ( StockCost' + cast(@Month as varchar) + ' + ' + cast( (@StandardUnitCost * @successQuantity) as varchar) + ' ) ' 
					SET @Month = @Month + 1
					
					WHILE( @Month < 13 )	-- 현재 월 보다 큰 월들의 재고수량과 재고금액을 업데이트
						BEGIN
							SET @SQL = @SQL + ' , StockQuantity' + cast(@Month as varchar) + ' = ( StockQuantity' + cast(@Month as varchar) + ' + ' + cast( @successQuantity as varchar ) + ') , StockCost' + cast(@Month as varchar) + ' = ( StockCost' + cast(@Month as varchar) + ' + ' + cast((@successQuantity * @StandardUnitCost) as varchar) + ')'
							SET @Month = @Month + 1
						END	
					SET @SQL = @SQL + ' WHERE [Year] = '+cast(@Year as varchar(5))+' and  RecodingState = 1 and  itemnum = ''' + cast(@itemnumber as varchar) + ''''

					while(@Year < @NowYear)
					begin
						SET @SQL = @SQL +'  UPDATE PS_MT SET 	InStorehouseQuantity1 = InStorehouseQuantity1 + ' + cast(@successQuantity as varchar) + ', 
						StockQuantity1 = StockQuantity1 + ' + cast(@successQuantity as varchar) + ', 
						StockQuantity2 = StockQuantity2 + ' + cast(@successQuantity as varchar) + ', 
						StockQuantity3 = StockQuantity3 + ' + cast(@successQuantity as varchar) + ', 
						StockQuantity4 = StockQuantity4 + ' + cast(@successQuantity as varchar) + ', 
						StockQuantity5 = StockQuantity5 + ' + cast(@successQuantity as varchar) + ', 
						StockQuantity6 = StockQuantity6 + ' + cast(@successQuantity as varchar) + ', 
						StockQuantity7 = StockQuantity7 + ' + cast(@successQuantity as varchar) + ', 
						StockQuantity8 = StockQuantity8 + ' + cast(@successQuantity as varchar) + ', 
						StockQuantity9 = StockQuantity9 + ' + cast(@successQuantity as varchar) + ', 
						StockQuantity10 = StockQuantity10 + ' + cast(@successQuantity as varchar) + ', 
						StockQuantity11 = StockQuantity11 + ' + cast(@successQuantity as varchar) + ', 
						StockQuantity12 = StockQuantity12 + ' + cast(@successQuantity as varchar) + ', 
						InStorehouseCost1 = InStorehouseCost1 + ' + cast((@StandardUnitCost * @successQuantity) as varchar) + ', 
						StockCost1 = StockCost1 + ' + cast((@StandardUnitCost * @successQuantity) as varchar) + ', 
						StockCost2 = StockCost2 + ' + cast((@StandardUnitCost * @successQuantity) as varchar) + ', 
						StockCost3 = StockCost3 + ' + cast((@StandardUnitCost * @successQuantity) as varchar) + ', 
						StockCost4 = StockCost4 + ' + cast((@StandardUnitCost * @successQuantity) as varchar) + ', 
						StockCost5 = StockCost5 + ' + cast((@StandardUnitCost * @successQuantity) as varchar) + ', 
						StockCost6 = StockCost6 + ' + cast((@StandardUnitCost * @successQuantity) as varchar) + ', 
						StockCost7 = StockCost7 + ' + cast((@StandardUnitCost * @successQuantity) as varchar) + ', 
						StockCost8 = StockCost8 + ' + cast((@StandardUnitCost * @successQuantity) as varchar) + ', 
						StockCost9 = StockCost9 + ' + cast((@StandardUnitCost * @successQuantity) as varchar) + ', 
						StockCost10 = StockCost10 + ' + cast((@StandardUnitCost * @successQuantity) as varchar) + ',
						StockCost11 = StockCost11 + ' + cast((@StandardUnitCost * @successQuantity) as varchar) + ',
						StockCost12 = StockCost12 + ' + cast((@StandardUnitCost * @successQuantity) as varchar) + ' WHERE [Year] = '+cast(@Year as varchar(5))+' and  RecodingState = 1 and  itemnum = ''' + cast(@itemnumber as varchar) + ''''

						Set @Year = @Year+1
					end
				
					SET @Year = ( select datepart(yy, @CompleteDate) )	-- 다시 초기화
					SET @Month = ( select datepart(mm, @CompleteDate) )	-- 다시 초기화

					-- 상품인 경우 입고 의뢰 원장 에 해당품목을 입력 ( 상품(제품) 인경우만 - 외주에서 가공된 제품이 최종 공정인 경우)
					INSERT ISR_HT
									(
										  HistoryIndex	, HistorySection		, ItemName		, ItemNum
										, ItemDrawNum	, CompanyName		, BusinessRegistrationNum	, ProcessName
										, ProcessCode	, ProcessSequenceNum
										, InstoreHouseRequestQuantity, InStoreDate		, ProgressCondition
										, RegistrationPerson	, RegistrationPersonID	, RegistrationDate
									) 
					VALUES 
									(
										  @key
										, '품질검사'
										, @ItemName
										, @ItemNumber
										, @ItemDrawNum
										, @CompanyName
										, @BusinessRegistrationNum
										, @EndProcessName
										, @EndProcessNameCode
										, @EndProcessSequenceNum
										, @successQuantity
										, @CompleteDate 
										, '대기'
										, @inspectionPost
										, @inspectionPostID
										, @Date
									)

			END
*/
end
else if (@hs1 = '외주')
begin
/********************************************************************************************************************************
*********************************************************************************************************************************
*********************************************************   외주 처리   *************************************************************
*********************************************************************************************************************************
*********************************************************************************************************************************/
		-- 외주의 경우 두 가지로 나누어 지는데 한품목이 나가서 한품목이 들어오는 경우와 
		-- 여러품목이 나가서 한품목이 들어오는 경우를 구별 되어야 된다
--	DECLARE @lowseqnum tinyint				-- 외주하위 중 최상위 공정을 계산 하기 위한 변수
	DECLARE @Cost decimal(20,3)				-- 진척률을 곱한 단가
	

		-- 현재 품목의 공정이 제일 최상위 공정( 제품이 된 경우 ) 일 경우만 입고의뢰원장(ISR_HT) 에 기록
		DECLARE @MaxSEQNum tinyint	
		Declare @Division varchar(50)
		set @Division = (Select PropertyClassification From II_MT Where RecodingState = '1' and ItemNum = @itemnumber)	
		set @MaxSEQNum = (select max(ProcessSequenceNum) from psi_mt where itemnum = @itemnumber and recodingstate = '1')

		-- 현재 검사 완료품의 종료 공정과 해당품목의 최상위공정 이 같다면 - (검사 완료후 최종제품이 된 경우)
		
		if ( @MaxSEQNum = @EndProcessSequenceNum and @Division = '제품')	
		BEGIN
			-- 영업창고(BS_MT)에 현재달의 입고수량, 입고금액, 현재달의 입고재고, 입고금액을 업뎃하고 이후월 재고수량, 금액을 반복문으로 동적 쿼리로 만들어 실행
					SET @SQL = @SQL + ' UPDATE BS_MT SET InStorehouseQuantity' + cast(@Month as varchar) + ' = (InStorehouseQuantity' + cast(@Month as varchar) + ' + ' + cast(@successQuantity as varchar) + '), InStorehouseCost' + cast(@Month as varchar) + ' = ( InStorehouseCost' + cast(@Month as varchar) + ' + ' + cast((@StandardUnitCost * @successQuantity) as varchar) + ') , 
								StockQuantity' + cast(@Month as varchar) + ' = (StockQuantity' + cast(@Month as varchar) + ' + ' + cast( @successQuantity as varchar ) + '), StockCost' + cast(@Month as varchar) + ' = ( StockCost' + cast(@Month as varchar) + ' + ' + cast( (@StandardUnitCost * @successQuantity) as varchar) + ' ) ' 
					SET @Month = @Month + 1
					
					WHILE( @Month < 13 )	-- 현재 월 보다 큰 월들의 재고수량과 재고금액을 업데이트
						BEGIN
							SET @SQL = @SQL + ' , StockQuantity' + cast(@Month as varchar) + ' = ( StockQuantity' + cast(@Month as varchar) + ' + ' + cast( @successQuantity as varchar ) + ') , StockCost' + cast(@Month as varchar) + ' = ( StockCost' + cast(@Month as varchar) + ' + ' + cast((@successQuantity * @StandardUnitCost) as varchar) + ')'
							SET @Month = @Month + 1
						END	
					SET @SQL = @SQL + ' WHERE BusinessStorehouseNum = 1 and [Year] = '+cast(@Year as varchar(5))+' and  RecodingState = 1 and  itemnum = ''' + cast(@itemnumber as varchar) + ''''

					while(@Year < @NowYear)
					begin
						SET @SQL = @SQL +'  UPDATE BS_MT SET 	InStorehouseQuantity1 = InStorehouseQuantity1 + ' + cast(@successQuantity as varchar) + ', 
						StockQuantity1 = StockQuantity1 + ' + cast(@successQuantity as varchar) + ', 
						StockQuantity2 = StockQuantity2 + ' + cast(@successQuantity as varchar) + ', 
						StockQuantity3 = StockQuantity3 + ' + cast(@successQuantity as varchar) + ', 
						StockQuantity4 = StockQuantity4 + ' + cast(@successQuantity as varchar) + ', 
						StockQuantity5 = StockQuantity5 + ' + cast(@successQuantity as varchar) + ', 
						StockQuantity6 = StockQuantity6 + ' + cast(@successQuantity as varchar) + ', 
						StockQuantity7 = StockQuantity7 + ' + cast(@successQuantity as varchar) + ', 
						StockQuantity8 = StockQuantity8 + ' + cast(@successQuantity as varchar) + ', 
						StockQuantity9 = StockQuantity9 + ' + cast(@successQuantity as varchar) + ', 
						StockQuantity10 = StockQuantity10 + ' + cast(@successQuantity as varchar) + ', 
						StockQuantity11 = StockQuantity11 + ' + cast(@successQuantity as varchar) + ', 
						StockQuantity12 = StockQuantity12 + ' + cast(@successQuantity as varchar) + ', 
						InStorehouseCost1 = InStorehouseCost1 + ' + cast((@StandardUnitCost * @successQuantity) as varchar) + ', 
						StockCost1 = StockCost1 + ' + cast((@StandardUnitCost * @successQuantity) as varchar) + ', 
						StockCost2 = StockCost2 + ' + cast((@StandardUnitCost * @successQuantity) as varchar) + ', 
						StockCost3 = StockCost3 + ' + cast((@StandardUnitCost * @successQuantity) as varchar) + ', 
						StockCost4 = StockCost4 + ' + cast((@StandardUnitCost * @successQuantity) as varchar) + ', 
						StockCost5 = StockCost5 + ' + cast((@StandardUnitCost * @successQuantity) as varchar) + ', 
						StockCost6 = StockCost6 + ' + cast((@StandardUnitCost * @successQuantity) as varchar) + ', 
						StockCost7 = StockCost7 + ' + cast((@StandardUnitCost * @successQuantity) as varchar) + ', 
						StockCost8 = StockCost8 + ' + cast((@StandardUnitCost * @successQuantity) as varchar) + ', 
						StockCost9 = StockCost9 + ' + cast((@StandardUnitCost * @successQuantity) as varchar) + ', 
						StockCost10 = StockCost10 + ' + cast((@StandardUnitCost * @successQuantity) as varchar) + ',
						StockCost11 = StockCost11 + ' + cast((@StandardUnitCost * @successQuantity) as varchar) + ',
						StockCost12 = StockCost12 + ' + cast((@StandardUnitCost * @successQuantity) as varchar) + ' WHERE BusinessStorehouseNum = 1 and [Year] = '+cast(@Year as varchar(5))+' and  RecodingState = 1 and  itemnum = ''' + cast(@itemnumber as varchar) + ''''

						Set @Year = @Year+1
					end
				
					SET @Year = ( select datepart(yy, @CompleteDate) )	-- 다시 초기화
					SET @Month = ( select datepart(mm, @CompleteDate) )	-- 다시 초기화
--			-- 입고 의뢰 원장( ISR_HT ) 에 해당품목을 입력 
			INSERT ISR_HT(  		  
					  HistoryIndex, HistorySection, ItemName, ItemNum, ItemDrawNum, CompanyName, BusinessRegistrationNum
					, ProcessName, ProcessCode	, ProcessSequenceNum, InstoreHouseRequestQuantity, InStoreDate, ProgressCondition
					, RegistrationPerson, RegistrationPersonID, RegistrationDate ) 
				Values (  @key, '품질검사', @ItemName, @ItemNumber, @ItemDrawNum, @CompanyName, @BusinessRegistrationNum
					, @EndProcessName, @EndProcessNameCode, @EndProcessSequenceNum, @successQuantity, @CompleteDate 
					, '대기', @inspectionPost, @inspectionPostID	, @Date	)
			-- 영업창고에 수량입력

		END

--		-- 외주납품원장 (OSD_HT) - 납품수량과 총금액 진행상태를 완료로 고침
		set @TotalBuyingCost = ( @ApplyUnitCost * @successQuantity )
		UPDATE  OSD_HT SET DeliveryQuantity =  @successQuantity 
							, TotalCost = @successQuantity * ApplyUnitCost
							, ProgressCondition = '완료'
							, UpdatingPerson = @inspectionPost
							, UpdatingPersonID = @inspectionPostID
							, UpdatingDate = @Date
		WHERE OutSideDeliveryHistoryIndex = @hindex1

--		-- 매입매출 (BSI_MT) 테이블  - 외주공정일 경우 공정비용(가공비용) 을 기록하고 구매일 경우 구매품의 단가를 기록한다.
		
		set @SQL = @SQL + ' update bsi_mt set TotalBuyingCost'+ cast(@DeliveryMonth as varchar)+' = TotalBuyingCost' + cast(@DeliveryMonth as varchar)+' + ' + cast(@TotalBuyingCost as varchar) + ' , UnPaymentMoney'+  cast(@DeliveryMonth as varchar) + ' = UnPaymentMoney'+  cast(@DeliveryMonth as varchar) +' + ' + cast(@TotalBuyingCost as varchar)
		set @DeliveryMonth = @DeliveryMonth + 1
		while ( @DeliveryMonth < 13 )
		begin
			set @SQL = @SQL + ', TotalBuyingCost'+ cast(@DeliveryMonth as varchar)+' = TotalBuyingCost' + cast(@DeliveryMonth as varchar)+' + ' + cast(@TotalBuyingCost as varchar) + ' , UnPaymentMoney'+  cast(@DeliveryMonth as varchar) + ' = UnPaymentMoney'+  cast(@DeliveryMonth as varchar) +' + ' + cast(@TotalBuyingCost as varchar)
			set @DeliveryMonth = @DeliveryMonth + 1
		end
		set @SQL = @SQL + ' where  [Year] = '+ cast(@DeliveryYear as varchar) +' and  RecodingState = 1 and BusinessRegistrationNum = ''' + @BusinessRegistrationNum + '''  '




		while(@DeliveryYear < @NowYear)
		begin
			set @SQL = @SQL + ' UPDATE BSI_MT SET TotalBuyingCost1 = TotalBuyingCost1 +'+cast(@TotalBuyingCost as varchar(30))+',
					TotalBuyingCost2 = TotalBuyingCost2 +'+cast(@TotalBuyingCost as varchar(30))+', 
					TotalBuyingCost3 = TotalBuyingCost3 + '+cast(@TotalBuyingCost as varchar(30))+', 
					TotalBuyingCost4 = TotalBuyingCost4 + '+cast(@TotalBuyingCost as varchar(30))+', 
					TotalBuyingCost5 = TotalBuyingCost5 + '+cast(@TotalBuyingCost as varchar(30))+', 
					TotalBuyingCost6 = TotalBuyingCost6 + '+cast(@TotalBuyingCost as varchar(30))+', 
					TotalBuyingCost7 = TotalBuyingCost7 + '+cast(@TotalBuyingCost as varchar(30))+', 
					TotalBuyingCost8 = TotalBuyingCost8 + '+cast(@TotalBuyingCost as varchar(30))+', 
					TotalBuyingCost9 = TotalBuyingCost9 + '+cast(@TotalBuyingCost as varchar(30))+', 
					TotalBuyingCost10 = TotalBuyingCost10 + '+cast(@TotalBuyingCost as varchar(30))+', 
					TotalBuyingCost11 = TotalBuyingCost11 + '+cast(@TotalBuyingCost as varchar(30))+', 
					TotalBuyingCost12 = TotalBuyingCost12 + '+cast(@TotalBuyingCost as varchar(30))+', 
					UnPaymentMoney1 = UnPaymentMoney1 + '+cast(@TotalBuyingCost as varchar(30))+', 
					UnPaymentMoney2 = UnPaymentMoney2 + '+cast(@TotalBuyingCost as varchar(30))+', 
					UnPaymentMoney3 = UnPaymentMoney3 + '+cast(@TotalBuyingCost as varchar(30))+', 
					UnPaymentMoney4 = UnPaymentMoney4 + '+cast(@TotalBuyingCost as varchar(30))+', 
					UnPaymentMoney5 = UnPaymentMoney5 + '+cast(@TotalBuyingCost as varchar(30))+', 
					UnPaymentMoney6 = UnPaymentMoney6 + '+cast(@TotalBuyingCost as varchar(30))+', 
					UnPaymentMoney7 = UnPaymentMoney7 + '+cast(@TotalBuyingCost as varchar(30))+', 
					UnPaymentMoney8 = UnPaymentMoney8 + '+cast(@TotalBuyingCost as varchar(30))+', 
					UnPaymentMoney9 = UnPaymentMoney9 + '+cast(@TotalBuyingCost as varchar(30))+', 
					UnPaymentMoney10 = UnPaymentMoney10 + '+cast(@TotalBuyingCost as varchar(30))+', 
					UnPaymentMoney11 = UnPaymentMoney11 + '+cast(@TotalBuyingCost as varchar(30))+', 
					UnPaymentMoney12 = UnPaymentMoney12 + '+cast(@TotalBuyingCost as varchar(30))+'
					  where  [Year] = '+ cast(@DeliveryYear as varchar) +' and    RecodingState = 1 and BusinessRegistrationNum = ''' + @BusinessRegistrationNum + ''' '

			Set @DeliveryYear = @DeliveryYear+1

		end

		SET @Year = ( select datepart(yy, @CompleteDate) )	-- 다시 초기화
		SET @Month = ( select datepart(mm, @CompleteDate) )	-- 다시 초기화
		
		INSERT b_ht (
					ItemNum, ItemDrawNum, ItemName, CompanyName, BusinessRegistrationNum
					, BuyingQuantity, ApplyUnitCost, TotalCost, RegistrationPerson, RegistrationPersonID
					, RegistrationDate, HistoryIndex, HistorySection 
				   )
					VALUES(    
							  @Itemnumber, @ItemDrawNum, @itemname, @companyname, @BusinessRegistrationNum 
							, @successQuantity, @ApplyUnitCost, @TotalBuyingCost, @inspectionPost, @inspectionPostID
							, @Date, @key, '품질관리'  
						   )
--		-- OO_HT - 외주발주원장  - 발주원장의 진행상태가 대기, 진행 에 따라 진행상태를 다르게 한다.
		-- 발주원장에서 기존잔량 가져오기 
		SET @ExistingRemainQuantity =( SELECT RemainQuantity FROM OO_HT WHERE OutSideOrderHistoryIndex = @hindex2 )
		-- (기존잔량 - 검사완료수량)
		SET @ResultQuantity = ( @ExistingRemainQuantity - @successQuantity )
		
		IF ( @ResultQuantity <= 0.00 )
		BEGIN
				UPDATE OO_HT SET InStoreWaitingQuantity = InStoreWaitingQuantity - @InStoreWaitingQuantity ,  RemainQuantity = @ResultQuantity ,  ProgressCondition =  '완료' 
								, UpdatingPerson = @inspectionPost
								, UpdatingPersonID = @inspectionPostID
								, UpdatingDate = @Date
				WHERE OutSideOrderHistoryIndex = @hindex2
		END
		else
		BEGIN
						
				UPDATE OO_HT SET InStoreWaitingQuantity = InStoreWaitingQuantity - @InStoreWaitingQuantity ,  RemainQuantity = @ResultQuantity , ProgressCondition = '진행' 
								, UpdatingPerson = @inspectionPost
								, UpdatingPersonID = @inspectionPostID
								, UpdatingDate = @Date
				WHERE OutSideOrderHistoryIndex = @hindex2
		END
	
END		-- 외주 끝
ELSE IF( @hs1 = '자가' )
BEGIN
	-- 현재 품목의 공정이 제일 최상위 공정( 제품이 된 경우 ) 일 경우만 입고의뢰원장(ISR_HT) 에 기록
	DECLARE @MaxSEQNum1 tinyint		
	set @MaxSEQNum1 = (select max(ProcessSequenceNum) from psi_mt where itemnum = @itemnumber and RecodingState=1)
	-- 현재 검사 완료품의 종료 공정과 해당품목의 최상위공정 이 같다면 - (검사 완료후 최종제품이 된 경우)
	if ( @MaxSEQNum1 = @EndProcessSequenceNum )	
	BEGIN
--			-- 입고 의뢰 원장( ISR_HT ) 에 해당품목을 입력 
		--if(@successQuantity <> 0)
		--begin

		INSERT ISR_HT(  		  
				  HistoryIndex, HistorySection, ItemName, ItemNum, ItemDrawNum, CompanyName, BusinessRegistrationNum
				, ProcessName, ProcessCode	, ProcessSequenceNum, InstoreHouseRequestQuantity,  InStoreDate, ProgressCondition
				, RegistrationPerson, RegistrationPersonID, RegistrationDate
				   ) Values (  @key, '작업일보', @ItemName, @ItemNumber, @ItemDrawNum, @CompanyName,  @BusinessRegistrationNum
				, @EndProcessName, @EndProcessNameCode, @EndProcessSequenceNum, @successQuantity, @CompleteDate
				, '대기', @inspectionPost, @inspectionPostID	, @Date	
				)
		--end
	END
	DECLARE @OrderQuantity decimal(20, 3)				-- 기존 총 발주량						  
		-- 계획수량 가져오기
		SET @OrderQuantity = ( SELECT WorkPlanQuantity FROM wdr_ht WHERE WorkDailyReportHistoryIndex = @key )
		UPDATE wdr_ht SET SuitabilityQuantity = @successQuantity
						, UnSuitabilityQuantity = @incongruityQuantity
						, RemainQuantity = ( @OrderQuantity - @successQuantity )
						, UnSuitabilityCost = @incongruityMoney
						, UnsuitabilityStatusCode = @incongruityPhenomenonCode
						, UnsuitabilityStatusMeaning = @incongruityPhenomenon
						, UnsuitabilityCauseCode = @incongruityCauseCode 
						, UnsuitabilityCauseMeaning = @incongruityCause
						, UnsuitabilityDetailMeaning = @incongruityDetailContent
						, UpdatingPerson = @inspectionPost
						, UpdatingPersonID = @inspectionPostID
						, UpdatingDate = @Date
						WHERE WorkDailyReportHistoryIndex = @key

	if ( @incongruityQuantity > 0 )
	begin
		-- 공정품목단가 * 수량 ( 제품단가 * 진척률 * 수량 )
		SET @Cost = 
		( 
			SELECT (  ii_mt.StandardUnitCost * psi_mt.ProgressRate / 100.0  ) * @incongruityQuantity
			FROM	 ii_mt JOIN psi_mt
			ON ii_mt.itemnum = psi_mt.itemnum
			WHERE psi_mt.itemnum = @itemnumber
			AND psi_mt.ProcessSequenceNum = @EndProcessSequenceNum
			AND ii_mt.RecodingState = 1 AND psi_mt.RecodingState = 1
			AND WorkDistinction = '자가' AND ProcessCode = @EndProcessNameCode
		)
		-- 영업창고(BS_MT)에 현재달의 입고수량, 입고금액, 현재달의 입고재고, 입고금액을 업뎃하고 이후월 재고수량, 금액을 반복문으로 동적 쿼리로 만들어 실행
		SET @SQL = @SQL + ' UPDATE BS_MT SET InStorehouseQuantity' + cast(@Month as varchar) + ' = (InStorehouseQuantity' + cast(@Month as varchar) + ' + ' + cast(@successQuantity as varchar) + '), InStorehouseCost' + cast(@Month as varchar) + ' = ( InStorehouseCost' + cast(@Month as varchar) + ' + ' + cast((@StandardUnitCost * @successQuantity) as varchar) + ') , 
					StockQuantity' + cast(@Month as varchar) + ' = (StockQuantity' + cast(@Month as varchar) + ' + ' + cast( @successQuantity as varchar ) + '), StockCost' + cast(@Month as varchar) + ' = ( StockCost' + cast(@Month as varchar) + ' + ' + cast( (@StandardUnitCost * @successQuantity) as varchar) + ' ) ' 
		SET @Month = @Month + 1
		
		WHILE( @Month < 13 )	-- 현재 월 보다 큰 월들의 재고수량과 재고금액을 업데이트
			BEGIN
				SET @SQL = @SQL + ' , StockQuantity' + cast(@Month as varchar) + ' = ( StockQuantity' + cast(@Month as varchar) + ' + ' + cast( @successQuantity as varchar ) + ') , StockCost' + cast(@Month as varchar) + ' = ( StockCost' + cast(@Month as varchar) + ' + ' + cast((@successQuantity * @StandardUnitCost) as varchar) + ')'
				SET @Month = @Month + 1
			END	

			SET @SQL = @SQL + ' WHERE BusinessStorehouseNum = 1 and [Year] = '+cast(@Year as varchar(5))+' and  RecodingState = 1 and  itemnum = ''' + cast(@itemnumber as varchar) + ''''

			while(@Year < @NowYear)
			begin
				SET @SQL = @SQL +'  UPDATE BS_MT SET 	InStorehouseQuantity1 = InStorehouseQuantity1 + ' + cast(@successQuantity as varchar) + ', 
				StockQuantity1 = StockQuantity1 + ' + cast(@successQuantity as varchar) + ', 
				StockQuantity2 = StockQuantity2 + ' + cast(@successQuantity as varchar) + ', 
				StockQuantity3 = StockQuantity3 + ' + cast(@successQuantity as varchar) + ', 
				StockQuantity4 = StockQuantity4 + ' + cast(@successQuantity as varchar) + ', 
				StockQuantity5 = StockQuantity5 + ' + cast(@successQuantity as varchar) + ', 
				StockQuantity6 = StockQuantity6 + ' + cast(@successQuantity as varchar) + ', 
				StockQuantity7 = StockQuantity7 + ' + cast(@successQuantity as varchar) + ', 
				StockQuantity8 = StockQuantity8 + ' + cast(@successQuantity as varchar) + ', 
				StockQuantity9 = StockQuantity9 + ' + cast(@successQuantity as varchar) + ', 
				StockQuantity10 = StockQuantity10 + ' + cast(@successQuantity as varchar) + ', 
				StockQuantity11 = StockQuantity11 + ' + cast(@successQuantity as varchar) + ', 
				StockQuantity12 = StockQuantity12 + ' + cast(@successQuantity as varchar) + ', 
				InStorehouseCost1 = InStorehouseCost1 + ' + cast((@StandardUnitCost * @successQuantity) as varchar) + ', 
				StockCost1 = StockCost1 + ' + cast((@StandardUnitCost * @successQuantity) as varchar) + ', 
				StockCost2 = StockCost2 + ' + cast((@StandardUnitCost * @successQuantity) as varchar) + ', 
				StockCost3 = StockCost3 + ' + cast((@StandardUnitCost * @successQuantity) as varchar) + ', 
				StockCost4 = StockCost4 + ' + cast((@StandardUnitCost * @successQuantity) as varchar) + ', 
				StockCost5 = StockCost5 + ' + cast((@StandardUnitCost * @successQuantity) as varchar) + ', 
				StockCost6 = StockCost6 + ' + cast((@StandardUnitCost * @successQuantity) as varchar) + ', 
				StockCost7 = StockCost7 + ' + cast((@StandardUnitCost * @successQuantity) as varchar) + ', 
				StockCost8 = StockCost8 + ' + cast((@StandardUnitCost * @successQuantity) as varchar) + ', 
				StockCost9 = StockCost9 + ' + cast((@StandardUnitCost * @successQuantity) as varchar) + ', 
				StockCost10 = StockCost10 + ' + cast((@StandardUnitCost * @successQuantity) as varchar) + ',
				StockCost11 = StockCost11 + ' + cast((@StandardUnitCost * @successQuantity) as varchar) + ',
				StockCost12 = StockCost12 + ' + cast((@StandardUnitCost * @successQuantity) as varchar) + ' WHERE BusinessStorehouseNum = 1 and [Year] = '+cast(@Year as varchar(5))+' and  RecodingState = 1 and  itemnum = ''' + cast(@itemnumber as varchar) + ''''
				Set @Year = @Year+1
			end
			
			SET @Year = ( select datepart(yy, @CompleteDate) )	-- 다시 초기화
			SET @Month = ( select datepart(mm, @CompleteDate) )	-- 다시 초기화
/*
	--	-- 생산 창고(PS_MT)에 현재달 부터 의 입고수량, 입고금액, 재고수량, 재고금액 더한다.
		SET @SQL = @SQL + ' UPDATE PS_MT SET InStorehouseQuantity' + cast(@Month as varchar) + ' = (InStorehouseQuantity' + cast(@Month as varchar) + ' + ' + cast(@incongruityQuantity as varchar(20)) + '),   InStorehouseCost' + cast(@Month as varchar) + ' = ( InStorehouseCost' + cast(@Month as varchar) + ' + ' + cast(@Cost as varchar(20)) + ') '						
		While( @Month < 13 )	-- 현재 월 보다 큰 월들의 재고수량과 재고금액을 업데이트
		BEGIN
				SET @SQL = @SQL + ' , StockQuantity' + cast(@Month as varchar) + ' = ( StockQuantity' + cast(@Month as varchar) + ' + ' + cast( @incongruityQuantity as varchar(20) ) + ') , StockCost' + cast(@Month as varchar) + ' = ( StockCost' + cast(@Month as varchar) + ' + ' + cast(@Cost as varchar(20)) + ')'
				SET @Month = @Month + 1
		END	
		SET @SQL = @SQL + ' WHERE [Year] = '+cast(@Year as varchar(5))+' and  RecodingState = 1 and  itemnum = ''' + cast(@itemnumber as varchar(50)) + ''' and ProcessSequenceNum = ' + cast(@EndProcessSequenceNum as varchar(5)) + ' '


		while(@Year < @NowYear)
			begin
				SET @SQL = @SQL +'  UPDATE PS_MT SET 	InStorehouseQuantity1 = InStorehouseQuantity1 +' + cast(@incongruityQuantity as varchar(20)) + ', 
				StockQuantity1 = StockQuantity1 + ' + cast(@incongruityQuantity as varchar(20)) + ', 
				StockQuantity2 = StockQuantity2 + ' + cast(@incongruityQuantity as varchar(20)) + ', 
				StockQuantity3 = StockQuantity3 + ' + cast(@incongruityQuantity as varchar(20)) + ', 
				StockQuantity4 = StockQuantity4 + ' + cast(@incongruityQuantity as varchar(20)) + ', 
				StockQuantity5 = StockQuantity5 + ' + cast(@incongruityQuantity as varchar(20)) + ', 
				StockQuantity6 = StockQuantity6 + ' + cast(@incongruityQuantity as varchar(20)) + ', 
				StockQuantity7 = StockQuantity7 + ' + cast(@incongruityQuantity as varchar(20)) + ', 
				StockQuantity8 = StockQuantity8 + ' + cast(@incongruityQuantity as varchar(20)) + ', 
				StockQuantity9 = StockQuantity9 + ' + cast(@incongruityQuantity as varchar(20)) + ', 
				StockQuantity10 = StockQuantity10 + ' + cast(@incongruityQuantity as varchar(20)) + ', 
				StockQuantity11 = StockQuantity11 + ' + cast(@incongruityQuantity as varchar(20)) + ', 
				StockQuantity12 = StockQuantity12 + ' + cast(@incongruityQuantity as varchar(20)) + ', 
				InStorehouseCost1 = InStorehouseCost1 + ' + cast((@StandardUnitCost * @incongruityQuantity) as varchar(20)) + ', 
				StockCost1 = StockCost1 + ' + cast((@Cost * @incongruityQuantity) as varchar(20)) + ', 
				StockCost2 = StockCost2 + ' + cast((@Cost * @incongruityQuantity) as varchar(20)) + ', 
				StockCost3 = StockCost3 + ' + cast((@Cost * @incongruityQuantity) as varchar(20)) + ', 
				StockCost4 = StockCost4 + ' + cast((@Cost * @incongruityQuantity) as varchar(20)) + ', 
				StockCost5 = StockCost5 + ' + cast((@Cost * @incongruityQuantity) as varchar(20)) + ', 
				StockCost6 = StockCost6 + ' + cast((@Cost * @incongruityQuantity) as varchar(20)) + ', 
				StockCost7 = StockCost7 + ' + cast((@Cost * @incongruityQuantity) as varchar(20)) + ', 
				StockCost8 = StockCost8 + ' + cast((@Cost * @incongruityQuantity) as varchar(20)) + ', 
				StockCost9 = StockCost9 + ' + cast((@Cost * @incongruityQuantity) as varchar(20)) + ', 
				StockCost10 = StockCost10 + ' + cast((@Cost * @incongruityQuantity) as varchar(20)) + ',
				StockCost11 = StockCost11 + ' + cast((@Cost * @incongruityQuantity) as varchar(20)) + ',
				StockCost12 = StockCost12 + ' + cast((@Cost * @incongruityQuantity) as varchar(20)) + 'WHERE [Year] = '+cast(@Year as varchar(5))+' and  itemnum = ''' + cast(@itemnumber as varchar(50)) + ''' and ProcessSequenceNum = ' + cast(@EndProcessSequenceNum as varchar(5)) + ' and  RecodingState = 1 '
			Set @Year = @Year+1
		end
		
		SET @Year = ( select datepart(yy, @CompleteDate) )	-- 다시 초기화
		SET @Month = ( select datepart(mm, @CompleteDate) )	-- 다시 초기화
*/
		update WDWP_HT set WorkCompletionQuantity = WorkCompletionQuantity - @incongruityQuantity , ProgressCondition = '진행' where WCDailyWorkPlanHistoryIndex = @hindex2
	end
	
	-- 1. 불량이 발생하면 의뢰된 수량만큼 생산창고에 빼고 그자리에 합격수량을 더해준다.
	-- 2. 불량이 발생하면 WDWP_HT 원장에 불량수량만큼 잔량을 더해주고 진행상태를 항상 진행으로 고쳐주어야 한다.(두번째 구분 인덱스 번호가 WDWP_HT의 인덱스 번호)
	

END

exec (@SQL)
GO
