USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[SPEtcItemOutStockQuantity]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE   PROCEDURE [dbo].[SPEtcItemOutStockQuantity]  
@ItemNum as varchar(100),
@ProcessCode as varchar(20),
@Year as int,
@Month as int

 AS


	--기타입출고 출고, 보용품출고(생산창고 품목만 해당)
	Select sum(EtcItemOutStockQuantity  ) as EtcItemOutStockQuantity  
	From
	(
		
		Select isnull(Sum(InOutStorehouseQuantity) , 0)  as EtcItemOutStockQuantity  From OIOS_HT where ItemNum  = @ItemNum and ProcessCode = @ProcessCode and datepart(yy,InOutDate) =@Year and datepart(mm,InOutDate) = @Month and InOutStorehouseDistinction  ='0'
		union all
		Select isnull(Sum(InstoreQuantity) , 0)  as EtcOutStockQuantity From AS_HT where ItemNum  = @ItemNum and ProcessCode = @ProcessCode and datepart(yy,InstoreDate) =@Year and datepart(mm,InstoreDate) = @Month
	)T
GO
