USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[SPWorkRemainderQuantity]    Script Date: 07/02/2026 08:48:43 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE    PROCEDURE [dbo].[SPWorkRemainderQuantity]  AS
	delete TBWorkRemainderQuantity
	Insert into TBWorkRemainderQuantity
	select ItemNum,ProcessSequenceNum, ProcessCode, sum(WorkPlanQuantity - WorkCompletionQuantity) AS Quantity
	from wdwp_ht
	where  (ProgressCondition = '대기' or ProgressCondition = '지시' or ProgressCondition = '진행') 
	group by ItemNum, ItemDrawNum, ItemName, ProcessCode, ProcessSequenceNum
	order by ItemNum,ProcessSequenceNum desc
	
	select * From TBWorkRemainderQuantity order by ItemNum,ProcessSequenceNum desc
GO
