USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[SPThisInStoreQuantity]    Script Date: 07/02/2026 08:48:43 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE     PROCEDURE [dbo].[SPThisInStoreQuantity]
@ItemNum as varchar(100),
@BusinessRegistrationNum as varchar(20),
@Year as int,
@Month as int

 AS

--정상입고(구매입고, 외주입고)
	Select sum(ThisInStoreQuantity) as ThisInStoreQuantity
	From
	(
		Select isnull(Sum(DeliveryQuantity), 0)  as ThisInStoreQuantity From BD_HT where BusinessRegistrationNum = @BusinessRegistrationNum and ItemNum  = @ItemNum and [Year] =@Year and [Month] = @Month
		union all
		Select isnull(Sum(DeliveryQuantity), 0)  as ThisInStoreQuantity From OSD_HT where BusinessRegistrationNum = @BusinessRegistrationNum and ItemNum  = @ItemNum and [Year] =@Year and [Month] = @Month
		
	)T



/*

Select isnull(Sum(DeliveryQuantity), 0)  as ThisInStoreQuantity From OSD_HT where [Year] = 2017 and [Month] = 4
*/
GO
