USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[SPOutStoreQuantityExcel]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SPOutStoreQuantityExcel]
(	@ItemNum varchar(150) = ''
	, @ItemDrawNum varchar(150) = ''
	, @ItemName varchar(150) = ''
	, @HiddenItem varchar(150) = ''
	, @BusinessRegistrationNum varchar(50) = ''
)
AS
BEGIN

IF exists (Select 1 From tempdb..sysobjects where name like '#TempExcelStoreQuantityTable%')
	DROP TABLE #TempExcelStoreQuantityTable
		CREATE TABLE #TempExcelStoreQuantityTable
		(
			[ItemDrawNum] [nvarchar] (150) COLLATE Korean_Wansung_CI_AS NULL ,
			[ItemName] [nvarchar] (150) COLLATE Korean_Wansung_CI_AS NULL ,
			[ItemNum] [nvarchar] (150) COLLATE Korean_Wansung_CI_AS NULL ,
			[ProcessName] [nvarchar] (50) COLLATE Korean_Wansung_CI_AS NULL ,
			[StandardUnitCost] [decimal](20, 2) NULL ,
			[ItemClassification1] [nvarchar] (50) COLLATE Korean_Wansung_CI_AS NULL ,
			[ItemClassification2] [nvarchar] (50) COLLATE Korean_Wansung_CI_AS NULL ,
			[ItemClassification3] [nvarchar] (50) COLLATE Korean_Wansung_CI_AS NULL ,
			[ItemClassification4] [nvarchar] (50) COLLATE Korean_Wansung_CI_AS NULL ,
			[ProcessSequenceNum] [int] NULL , 
			[ProcessCode] [nvarchar] (50) COLLATE Korean_Wansung_CI_AS NULL ,
			[StockQuantity12] [decimal](20, 2) NULL ,
			[StockCost12] [decimal](20, 2) NULL ,
			[LastYearTransferQuantity] [decimal](20, 2) NULL ,
			[InStorehouseQuantity] [decimal](20, 2) NULL ,
			[OutStorehouseQuantity] [decimal](20, 2) NULL ,
			[StorehouseQuantity] [decimal](20, 2) NULL ,
			[CompanyName] [nvarchar] (50) COLLATE Korean_Wansung_CI_AS NULL ,
			[BusinessRegistrationNum] [nvarchar] (50) COLLATE Korean_Wansung_CI_AS NULL 
		)  

IF exists (Select 1 From tempdb..sysobjects where name like '#TempStoreTable%')
	DROP TABLE #TempStoreTable
		CREATE TABLE #TempStoreTable
		(
			[ItemNum] [nvarchar] (50) COLLATE Korean_Wansung_CI_AS NULL ,
			[UnitCostDistinction] [nvarchar] (50) COLLATE Korean_Wansung_CI_AS NULL ,
			[BusinessRegistrationNum] [nvarchar] (50) COLLATE Korean_Wansung_CI_AS NULL ,
			[BeginProcessCode] [nvarchar] (50) COLLATE Korean_Wansung_CI_AS NULL ,
			[EndProcessCode] [nvarchar] (50) COLLATE Korean_Wansung_CI_AS NULL ,
			[OrderRate] [decimal](20, 2) NULL ,
			[StandardUnitCost] [decimal](20, 2) NULL ,
			[DiscountUnitCost] [decimal](20, 2) NULL ,			
			[BeginDate] [smalldatetime] NULL ,
			[EndDate] [smalldatetime] NULL ,
			[RegistrationPerson] [nvarchar] (50) COLLATE Korean_Wansung_CI_AS NULL ,
			[RegistrationPersonID] [nvarchar] (50) COLLATE Korean_Wansung_CI_AS NULL ,
			[RegistrationDate] [smalldatetime] NULL ,
			[UpdatingPerson] [nvarchar] (50) COLLATE Korean_Wansung_CI_AS NULL ,
			[UpdatingPersonID] [nvarchar] (50) COLLATE Korean_Wansung_CI_AS NULL ,
			[UpdatingDate] [smalldatetime] NULL ,
			[UnitCostInfoIndex] [int]   NULL 
		)

Insert into #TempStoreTable
		select ItemNum, UnitCostDistinction, BusinessRegistrationNum, BeginProcessCode, EndProcessCode, OrderRate, StandardUnitCost, DiscountUnitCost, BeginDate, EndDate, RegistrationPerson, RegistrationPersonID, RegistrationDate, UpdatingPerson, UpdatingPersonID, UpdatingDate, UnitCostInfoIndex
		From UCI_MT where RecodingState =1 and UnitCostDistinction <>'판매단가'



Declare @ProcessCode varchar(10)
Declare @StockQuantity decimal(20,2)
--자산분류
Declare @PropertyClassification nvarchar(15)
--창고년도
Declare @Year int
Set @Year = (datepart(year,getutcdate()))



if(@HiddenItem = '')
	begin
		if(@BusinessRegistrationNum = '')
			begin	
			
			Insert into #TempExcelStoreQuantityTable
				SELECT distinct  II_MT.ItemDrawNum, II_MT.ItemName, II_MT.ItemNum,  PUC_MT.SmallClassificationName AS ProcessName, 
					#TempStoreTable.StandardUnitCost,
					PUC1.SmallClassificationName as ItemClassification1, 
					PUC2.SmallClassificationName as ItemClassification2,
					PUC3.SmallClassificationName as ItemClassification3,
					PUC4.SmallClassificationName as ItemClassification4,
					OS_MT.ProcessSequenceNum, OS_MT.ProcessCode, OS_MT.StockQuantity12, 
					( (OS_MT.StockQuantity12 * ProgressRate/100) * (II_MT.StandardUnitCost) ) as StockCost12, LastYearTransferQuantity,
					(InStorehouseQuantity1 + InStorehouseQuantity2 + InStorehouseQuantity3 + InStorehouseQuantity4 + InStorehouseQuantity5 + InStorehouseQuantity6 + InStorehouseQuantity7 +  InStorehouseQuantity8 +  InStorehouseQuantity9 +  InStorehouseQuantity10 +  InStorehouseQuantity11 +  InStorehouseQuantity12 ) as 'InStorehouseQuantity',
					(OutStorehouseQuantity1 + OutStorehouseQuantity2 + OutStorehouseQuantity3 + OutStorehouseQuantity4 + OutStorehouseQuantity5 + OutStorehouseQuantity6 + OutStorehouseQuantity7 +  OutStorehouseQuantity8 +  OutStorehouseQuantity9 +  OutStorehouseQuantity10 +  OutStorehouseQuantity11 +  OutStorehouseQuantity12 )  as 'OutStorehouseQuantity',
					0 as StorehouseQuantity,
					CI_MT.CompanyName, CI_MT.BusinessRegistrationNum 
					FROM OS_MT
					INNER JOIN II_MT ON  II_MT.ItemNum = OS_MT.ItemNum 
					INNER JOIN PUC_MT ON OS_MT.ProcessCode =  PUC_MT.SmallClassificationCode 
					left outer JOIN PSI_MT on OS_MT.ItemNum = PSI_MT.ItemNum and OS_MT.ProcessCode = PSI_MT.ProcessCode
					INNER JOIN CI_MT ON OS_MT.BusinessRegistrationNum = CI_MT.BusinessRegistrationNum
					Left outer join #TempStoreTable ON II_MT.ItemNum = #TempStoreTable.ItemNum
					left outer join PUC_MT PUC1 on II_MT.ItemClassification1 = PUC1.SmallClassificationCode
					left outer join PUC_MT PUC2 on II_MT.ItemClassification2 = PUC2.SmallClassificationCode
					left outer join PUC_MT PUC3 on II_MT.ItemClassification3 = PUC3.SmallClassificationCode
					left outer join PUC_MT PUC4 on II_MT.ItemClassification4 = PUC4.SmallClassificationCode		
					WHERE OS_MT.RecodingState = 1 and II_MT.RecodingState = 1 and CI_MT.RecodingState = 1
					and II_MT.ItemNum Like '%'+ @ItemNum + '%' 
					and II_MT.ItemDrawNum Like '%'+ @ItemDrawNum + '%' 
					and II_MT.ItemName Like '%'+ @ItemName + '%' 
					and OS_MT.BusinessRegistrationNum Like '%'+ @BusinessRegistrationNum + '%' 
					and [Year] = @Year
					and (StockQuantity12 !=0 or (InStorehouseQuantity1 + InStorehouseQuantity2 + InStorehouseQuantity3 + InStorehouseQuantity4 + InStorehouseQuantity5 + InStorehouseQuantity6 + InStorehouseQuantity7 +  InStorehouseQuantity8 +  InStorehouseQuantity9 +  InStorehouseQuantity10 +  InStorehouseQuantity11 +  InStorehouseQuantity12 ) != 0 or  (OutStorehouseQuantity1 + OutStorehouseQuantity2 + OutStorehouseQuantity3 + OutStorehouseQuantity4 + OutStorehouseQuantity5 + OutStorehouseQuantity6 + OutStorehouseQuantity7 +  OutStorehouseQuantity8 +  OutStorehouseQuantity9 +  OutStorehouseQuantity10 +  OutStorehouseQuantity11 +  OutStorehouseQuantity12 ) != 0 )
					and (#TempStoreTable.StandardUnitCost =(Select isnull(Max(U.StandardUnitCost),0) From #TempStoreTable U Where U.ItemNum = #TempStoreTable.ItemNum and U.OrderRate = (Select isnull(Max(UI.OrderRate),0) From #TempStoreTable UI where UI.ItemNum = U.ItemNum) ) or #TempStoreTable.StandardUnitCost is null ) 
					and OS_MT.RecodingState = 1 
					order by II_MT.ItemDrawNum,ProcessName,
					OS_MT.ProcessSequenceNum, OS_MT.ProcessCode, LastYearTransferQuantity
		
			end
		else
			begin
			
			Insert into #TempExcelStoreQuantityTable
				SELECT distinct  II_MT.ItemDrawNum, II_MT.ItemName, II_MT.ItemNum,  PUC_MT.SmallClassificationName AS ProcessName, 
					#TempStoreTable.StandardUnitCost,
					PUC1.SmallClassificationName as ItemClassification1, 
					PUC2.SmallClassificationName as ItemClassification2,
					PUC3.SmallClassificationName as ItemClassification3,
					PUC4.SmallClassificationName as ItemClassification4,
					OS_MT.ProcessSequenceNum, OS_MT.ProcessCode, OS_MT.StockQuantity12, 
					( (OS_MT.StockQuantity12 * ProgressRate/100) * (II_MT.StandardUnitCost) ) as StockCost12, LastYearTransferQuantity,
					(InStorehouseQuantity1 + InStorehouseQuantity2 + InStorehouseQuantity3 + InStorehouseQuantity4 + InStorehouseQuantity5 + InStorehouseQuantity6 + InStorehouseQuantity7 +  InStorehouseQuantity8 +  InStorehouseQuantity9 +  InStorehouseQuantity10 +  InStorehouseQuantity11 +  InStorehouseQuantity12 ) as 'InStorehouseQuantity',
					(OutStorehouseQuantity1 + OutStorehouseQuantity2 + OutStorehouseQuantity3 + OutStorehouseQuantity4 + OutStorehouseQuantity5 + OutStorehouseQuantity6 + OutStorehouseQuantity7 +  OutStorehouseQuantity8 +  OutStorehouseQuantity9 +  OutStorehouseQuantity10 +  OutStorehouseQuantity11 +  OutStorehouseQuantity12 )  as 'OutStorehouseQuantity',
					0 as StorehouseQuantity,
					CI_MT.CompanyName, CI_MT.BusinessRegistrationNum 
					FROM OS_MT
					INNER JOIN II_MT ON  II_MT.ItemNum = OS_MT.ItemNum 
					INNER JOIN PUC_MT ON OS_MT.ProcessCode =  PUC_MT.SmallClassificationCode 
					left outer JOIN PSI_MT on OS_MT.ItemNum = PSI_MT.ItemNum and OS_MT.ProcessCode = PSI_MT.ProcessCode
					INNER JOIN CI_MT ON OS_MT.BusinessRegistrationNum = CI_MT.BusinessRegistrationNum
					Left outer join #TempStoreTable ON II_MT.ItemNum = #TempStoreTable.ItemNum
					left outer join PUC_MT PUC1 on II_MT.ItemClassification1 = PUC1.SmallClassificationCode
					left outer join PUC_MT PUC2 on II_MT.ItemClassification2 = PUC2.SmallClassificationCode
					left outer join PUC_MT PUC3 on II_MT.ItemClassification3 = PUC3.SmallClassificationCode
					left outer join PUC_MT PUC4 on II_MT.ItemClassification4 = PUC4.SmallClassificationCode		
					WHERE OS_MT.RecodingState = 1 and II_MT.RecodingState = 1 and CI_MT.RecodingState = 1
					and II_MT.ItemNum Like '%'+ @ItemNum + '%' 
					and II_MT.ItemDrawNum Like '%'+ @ItemDrawNum + '%' 
					and II_MT.ItemName Like '%'+ @ItemName + '%' 
					and OS_MT.BusinessRegistrationNum  = @BusinessRegistrationNum
					and [Year] = @Year
					and (StockQuantity12 !=0 or (InStorehouseQuantity1 + InStorehouseQuantity2 + InStorehouseQuantity3 + InStorehouseQuantity4 + InStorehouseQuantity5 + InStorehouseQuantity6 + InStorehouseQuantity7 +  InStorehouseQuantity8 +  InStorehouseQuantity9 +  InStorehouseQuantity10 +  InStorehouseQuantity11 +  InStorehouseQuantity12 ) != 0 or  (OutStorehouseQuantity1 + OutStorehouseQuantity2 + OutStorehouseQuantity3 + OutStorehouseQuantity4 + OutStorehouseQuantity5 + OutStorehouseQuantity6 + OutStorehouseQuantity7 +  OutStorehouseQuantity8 +  OutStorehouseQuantity9 +  OutStorehouseQuantity10 +  OutStorehouseQuantity11 +  OutStorehouseQuantity12 ) != 0 )
					and (#TempStoreTable.StandardUnitCost =(Select isnull(Max(U.StandardUnitCost),0) From #TempStoreTable U Where U.ItemNum = #TempStoreTable.ItemNum and U.OrderRate = (Select isnull(Max(UI.OrderRate),0) From #TempStoreTable UI where UI.ItemNum = U.ItemNum) ) or #TempStoreTable.StandardUnitCost is null ) 
					and OS_MT.RecodingState = 1 
					order by II_MT.ItemDrawNum,ProcessName,
					OS_MT.ProcessSequenceNum, OS_MT.ProcessCode, LastYearTransferQuantity
			
			
			end			
	end
else
	begin
		if(@BusinessRegistrationNum = '')
			begin	
			
			Insert into #TempExcelStoreQuantityTable
				SELECT distinct  II_MT.ItemDrawNum, II_MT.ItemName, II_MT.ItemNum,  PUC_MT.SmallClassificationName AS ProcessName, 
					#TempStoreTable.StandardUnitCost,
					PUC1.SmallClassificationName as ItemClassification1, 
					PUC2.SmallClassificationName as ItemClassification2,
					PUC3.SmallClassificationName as ItemClassification3,
					PUC4.SmallClassificationName as ItemClassification4,
					OS_MT.ProcessSequenceNum, OS_MT.ProcessCode, OS_MT.StockQuantity12, 
					( (OS_MT.StockQuantity12 * ProgressRate/100) * (II_MT.StandardUnitCost) ) as StockCost12, LastYearTransferQuantity,
					(InStorehouseQuantity1 + InStorehouseQuantity2 + InStorehouseQuantity3 + InStorehouseQuantity4 + InStorehouseQuantity5 + InStorehouseQuantity6 + InStorehouseQuantity7 +  InStorehouseQuantity8 +  InStorehouseQuantity9 +  InStorehouseQuantity10 +  InStorehouseQuantity11 +  InStorehouseQuantity12 ) as 'InStorehouseQuantity',
					(OutStorehouseQuantity1 + OutStorehouseQuantity2 + OutStorehouseQuantity3 + OutStorehouseQuantity4 + OutStorehouseQuantity5 + OutStorehouseQuantity6 + OutStorehouseQuantity7 +  OutStorehouseQuantity8 +  OutStorehouseQuantity9 +  OutStorehouseQuantity10 +  OutStorehouseQuantity11 +  OutStorehouseQuantity12 )  as 'OutStorehouseQuantity',
					0 as StorehouseQuantity,
					CI_MT.CompanyName, CI_MT.BusinessRegistrationNum 
					FROM OS_MT
					INNER JOIN II_MT ON  II_MT.ItemNum = OS_MT.ItemNum 
					INNER JOIN PUC_MT ON OS_MT.ProcessCode =  PUC_MT.SmallClassificationCode 
					left outer JOIN PSI_MT on OS_MT.ItemNum = PSI_MT.ItemNum and OS_MT.ProcessCode = PSI_MT.ProcessCode
					INNER JOIN CI_MT ON OS_MT.BusinessRegistrationNum = CI_MT.BusinessRegistrationNum
					Left outer join #TempStoreTable ON II_MT.ItemNum = #TempStoreTable.ItemNum
					left outer join PUC_MT PUC1 on II_MT.ItemClassification1 = PUC1.SmallClassificationCode
					left outer join PUC_MT PUC2 on II_MT.ItemClassification2 = PUC2.SmallClassificationCode
					left outer join PUC_MT PUC3 on II_MT.ItemClassification3 = PUC3.SmallClassificationCode
					left outer join PUC_MT PUC4 on II_MT.ItemClassification4 = PUC4.SmallClassificationCode		
					WHERE OS_MT.RecodingState = 1 and II_MT.RecodingState = 1 and CI_MT.RecodingState = 1
					and II_MT.ItemNum = @ItemNum
					and OS_MT.BusinessRegistrationNum Like '%'+ @BusinessRegistrationNum + '%' 
					and [Year] = @Year
					and (StockQuantity12 !=0 or (InStorehouseQuantity1 + InStorehouseQuantity2 + InStorehouseQuantity3 + InStorehouseQuantity4 + InStorehouseQuantity5 + InStorehouseQuantity6 + InStorehouseQuantity7 +  InStorehouseQuantity8 +  InStorehouseQuantity9 +  InStorehouseQuantity10 +  InStorehouseQuantity11 +  InStorehouseQuantity12 ) != 0 or  (OutStorehouseQuantity1 + OutStorehouseQuantity2 + OutStorehouseQuantity3 + OutStorehouseQuantity4 + OutStorehouseQuantity5 + OutStorehouseQuantity6 + OutStorehouseQuantity7 +  OutStorehouseQuantity8 +  OutStorehouseQuantity9 +  OutStorehouseQuantity10 +  OutStorehouseQuantity11 +  OutStorehouseQuantity12 ) != 0 )
					and (#TempStoreTable.StandardUnitCost =(Select isnull(Max(U.StandardUnitCost),0) From #TempStoreTable U Where U.ItemNum = #TempStoreTable.ItemNum and U.OrderRate = (Select isnull(Max(UI.OrderRate),0) From #TempStoreTable UI where UI.ItemNum = U.ItemNum) ) or #TempStoreTable.StandardUnitCost is null ) 
					and OS_MT.RecodingState = 1 
					order by II_MT.ItemDrawNum,ProcessName,
					OS_MT.ProcessSequenceNum, OS_MT.ProcessCode, LastYearTransferQuantity
		
			end
		else
			begin
			
			Insert into #TempExcelStoreQuantityTable
				SELECT distinct  II_MT.ItemDrawNum, II_MT.ItemName, II_MT.ItemNum,  PUC_MT.SmallClassificationName AS ProcessName, 
					#TempStoreTable.StandardUnitCost,
					PUC1.SmallClassificationName as ItemClassification1, 
					PUC2.SmallClassificationName as ItemClassification2,
					PUC3.SmallClassificationName as ItemClassification3,
					PUC4.SmallClassificationName as ItemClassification4,
					OS_MT.ProcessSequenceNum, OS_MT.ProcessCode, OS_MT.StockQuantity12, 
					( (OS_MT.StockQuantity12 * ProgressRate/100) * (II_MT.StandardUnitCost) ) as StockCost12, LastYearTransferQuantity,
					(InStorehouseQuantity1 + InStorehouseQuantity2 + InStorehouseQuantity3 + InStorehouseQuantity4 + InStorehouseQuantity5 + InStorehouseQuantity6 + InStorehouseQuantity7 +  InStorehouseQuantity8 +  InStorehouseQuantity9 +  InStorehouseQuantity10 +  InStorehouseQuantity11 +  InStorehouseQuantity12 ) as 'InStorehouseQuantity',
					(OutStorehouseQuantity1 + OutStorehouseQuantity2 + OutStorehouseQuantity3 + OutStorehouseQuantity4 + OutStorehouseQuantity5 + OutStorehouseQuantity6 + OutStorehouseQuantity7 +  OutStorehouseQuantity8 +  OutStorehouseQuantity9 +  OutStorehouseQuantity10 +  OutStorehouseQuantity11 +  OutStorehouseQuantity12 )  as 'OutStorehouseQuantity',
					0 as StorehouseQuantity,
					CI_MT.CompanyName, CI_MT.BusinessRegistrationNum 
					FROM OS_MT
					INNER JOIN II_MT ON  II_MT.ItemNum = OS_MT.ItemNum 
					INNER JOIN PUC_MT ON OS_MT.ProcessCode =  PUC_MT.SmallClassificationCode 
					left outer JOIN PSI_MT on OS_MT.ItemNum = PSI_MT.ItemNum and OS_MT.ProcessCode = PSI_MT.ProcessCode
					INNER JOIN CI_MT ON OS_MT.BusinessRegistrationNum = CI_MT.BusinessRegistrationNum
					Left outer join #TempStoreTable ON II_MT.ItemNum = #TempStoreTable.ItemNum
					left outer join PUC_MT PUC1 on II_MT.ItemClassification1 = PUC1.SmallClassificationCode
					left outer join PUC_MT PUC2 on II_MT.ItemClassification2 = PUC2.SmallClassificationCode
					left outer join PUC_MT PUC3 on II_MT.ItemClassification3 = PUC3.SmallClassificationCode
					left outer join PUC_MT PUC4 on II_MT.ItemClassification4 = PUC4.SmallClassificationCode		
					WHERE OS_MT.RecodingState = 1 and II_MT.RecodingState = 1 and CI_MT.RecodingState = 1
					and II_MT.ItemNum = @ItemNum
					and OS_MT.BusinessRegistrationNum  = @BusinessRegistrationNum
					and [Year] = @Year
					and (StockQuantity12 !=0 or (InStorehouseQuantity1 + InStorehouseQuantity2 + InStorehouseQuantity3 + InStorehouseQuantity4 + InStorehouseQuantity5 + InStorehouseQuantity6 + InStorehouseQuantity7 +  InStorehouseQuantity8 +  InStorehouseQuantity9 +  InStorehouseQuantity10 +  InStorehouseQuantity11 +  InStorehouseQuantity12 ) != 0 or  (OutStorehouseQuantity1 + OutStorehouseQuantity2 + OutStorehouseQuantity3 + OutStorehouseQuantity4 + OutStorehouseQuantity5 + OutStorehouseQuantity6 + OutStorehouseQuantity7 +  OutStorehouseQuantity8 +  OutStorehouseQuantity9 +  OutStorehouseQuantity10 +  OutStorehouseQuantity11 +  OutStorehouseQuantity12 ) != 0 )
					and (#TempStoreTable.StandardUnitCost =(Select isnull(Max(U.StandardUnitCost),0) From #TempStoreTable U Where U.ItemNum = #TempStoreTable.ItemNum and U.OrderRate = (Select isnull(Max(UI.OrderRate),0) From #TempStoreTable UI where UI.ItemNum = U.ItemNum) ) or #TempStoreTable.StandardUnitCost is null ) 
					and OS_MT.RecodingState = 1 
					order by II_MT.ItemDrawNum,ProcessName,
					OS_MT.ProcessSequenceNum, OS_MT.ProcessCode, LastYearTransferQuantity
			end	
	end


--커서 선언
			DECLARE cur CURSOR 
			FOR
			
			Select ItemNum, ProcessCode, BusinessRegistrationNum
			from #TempExcelStoreQuantityTable
			
			--커서 오픈
			OPEN cur
			
			--첫 로우 FETCH
			FETCH NEXT FROM cur INTO @ItemNum, @ProcessCode, @BusinessRegistrationNum
			WHILE @@FETCH_STATUS = 0
			BEGIN
			--자산분류 가져오기
			Set @PropertyClassification = (Select PropertyClassification from II_MT where RecodingState =1 and ItemNum = @ItemNum)
			
			if(@PropertyClassification = '원자재')
			begin
				-- 원자재 창고에서 가져오기
				Set @StockQuantity = (Select StockQuantity12 from RMS_MT where RecodingState = 1 and [Year] = @Year and ItemNum = @ItemNum)
				Update #TempExcelStoreQuantityTable set [StorehouseQuantity] = @StockQuantity where ItemNum = @ItemNum and ProcessCode = ProcessCode and BusinessRegistrationNum = @BusinessRegistrationNum
			end
			else if(@PropertyClassification = '반제품')
			begin
				-- 생산 창고에서 가져오기
				Set @StockQuantity = (Select StockQuantity12 from PS_MT where RecodingState = 1 and [Year] = @Year and ItemNum = @ItemNum and ProcessCode = @ProcessCode)
				Update #TempExcelStoreQuantityTable set [StorehouseQuantity] = @StockQuantity where ItemNum = @ItemNum and ProcessCode = @ProcessCode and BusinessRegistrationNum = @BusinessRegistrationNum
			
			end
			else if(@PropertyClassification = '제품')
			begin
				-- 영업1창고에서 가져오기
				-- Set @StockQuantity = (Select StockQuantity12 from BS_MT where RecodingState = 1 and [Year] = @Year and ItemNum = @ItemNum and BusinessStorehouseNum = 1)
				-- 영업창고에서 가져오기
				Set @StockQuantity = (Select sum(StockQuantity12)  from BS_MT where RecodingState = 1 and [Year] = @Year and ItemNum = @ItemNum)
				-- 생산창고에서 가져와 누적하기
				Set @StockQuantity = @StockQuantity + (Select StockQuantity12 from PS_MT where RecodingState = 1 and [Year] = @Year and ItemNum = @ItemNum and ProcessCode = @ProcessCode)
				
				Update #TempExcelStoreQuantityTable set [StorehouseQuantity] = @StockQuantity where ItemNum = @ItemNum and ProcessCode = @ProcessCode and BusinessRegistrationNum = @BusinessRegistrationNum
			
			end
						
			--다음 로우 FEETCH - 루프
			FETCH NEXT FROM cur INTO @ItemNum, @ProcessCode, @BusinessRegistrationNum
			END
			--커서 CLOSE
			CLOSE cur
			
			--커서 DEALLOCATE
			DEALLOCATE cur
			

	Select * From #TempExcelStoreQuantityTable









END
GO
