USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[SPItemGrouping]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE        PROCEDURE [dbo].[SPItemGrouping]  AS
	delete TBRawRedundantItemResult
	
	insert into TBRawRedundantItemResult
	--Select * From TBRawRedundant
	Select * From TBRawRedundantSum
	delete TBWorkRedundantItemResult
	
	insert into TBWorkRedundantItemResult
	--Select ItemNum,'0','14009999', Sum(Quantity) as Quantity From TBWorkRedundant
	Select ItemNum,'0','14009999', Sum(Quantity) as Quantity From TBWorkRedundantSum
	Group by ItemNum
GO
