USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[SPThisItemInStoreQuantity]    Script Date: 07/02/2026 08:48:43 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE   PROCEDURE [dbo].[SPThisItemInStoreQuantity]
@ItemNum as varchar(100),
@ProcessCode as varchar(20),
@Year as int,
@Month as int

 AS

	--정상입고(작업일보 등록으로 인한 입고)
	Select sum(ThisItemInStoreQuantity) as ThisItemInStoreQuantity
	From
	(
		Select isnull(Sum(SuitabilityQuantity) , 0)  as ThisItemInStoreQuantity From WDR_HT where ItemNum  = @ItemNum and ProcessCode = @ProcessCode and datepart(yy,WorkEndTime) =@Year and datepart(mm,WorkEndTime) = @Month  		
		
		/* 공정이 들어간 외주입고 포함 
			2017-04-28
		*/
		union all
		
		Select isnull(Sum(DeliveryQuantity), 0)  as ThisInStoreQuantity From OSD_HT where ItemNum  = @ItemNum and [Year] =@Year and [Month] = @Month
		
	)T
GO
