USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[SPEtcItemInStoreQuantity]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE   PROCEDURE [dbo].[SPEtcItemInStoreQuantity]  
@ItemNum as varchar(100),
@ProcessCode as varchar(30),
@Year as int,
@Month as int

 AS

	--기타입출고의 생산창고입고
	Select sum(EtcItemInStoreQuantity   ) as EtcItemInStoreQuantity   
	From
	(
		Select isnull(Sum(InOutStorehouseQuantity) , 0)  as EtcItemInStoreQuantity    From OIOS_HT where ItemNum  = @ItemNum and ProcessCode = @ProcessCode and datepart(yy,InOutDate) =@Year and datepart(mm,InOutDate) = @Month and InOutStorehouseDistinction  ='1'		
	)T
GO
