USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[SPReversalBOM]    Script Date: 07/02/2026 08:48:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE                         PROC [dbo].[SPReversalBOM] (
			@ItemNum AS VARCHAR(50)
			,@Bit as char(10))
AS
/*
Declare @ItemNum  varchar(50)
Declare @Bit char(1)
set @ItemNum = '02176-50380'
Set @Bit = '1'
*/
if(@Bit = '1')
begin
	Select  ChildItemNum, ParentItemNum, NeedQuantityNumerator, NeedQuantityDenominator
	From IOI_MT
	Where ChildItemNum = @ItemNum and RecodingState = 1
	--Where ParentItemNum = '01050-50630' and RecodingState = 1
end
else
begin
	Select  ChildItemNum, I.ItemName as ChildItemName, ParentItemNum, II.ItemName as ParentItemName,  (NeedQuantityNumerator/NeedQuantityDenominator) as NeedQuantity
	From IOI_MT inner join II_MT I on ChildItemNum = I.ItemNum
	inner join II_MT II on ParentItemNum = II.ItemNum
	Where ChildItemNum = @ItemNum and IOI_MT.RecodingState = 1 and I.RecodingState =1 and II.RecodingState=1
end
GO
