USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[StoreHouseStockIndex]    Script Date: 07/02/2026 08:48:43 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[StoreHouseStockIndex]  AS
Select * From RMS_MT where RecodingState = 1
GO
