USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[SPRedundantResult]    Script Date: 07/02/2026 08:48:43 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE      PROCEDURE [dbo].[SPRedundantResult]  AS
	delete TBRawRedundantResult
	delete TBWorkRedundantResult
	insert into TBRawRedundantResult
	Select ItemNum, ProcessSequenceNum, ProcessCode, isnull(Quantity,0) as Quantity From TBRawRedundantItemLastResult
--	Select ItemNum, ProcessSequenceNum, ProcessCode, isnull(Quantity,0) as Quantity From TBRawRedundantItemPlanResult
	insert into TBWorkRedundantResult
	Select ItemNum, ProcessSequenceNum, ProcessCode, isnull(Quantity,0) as Quantity From TBWorkRedundantItemLastResult
--	Select ItemNum, ProcessSequenceNum, ProcessCode, isnull(Quantity,0) as Quantity From TBWorkRedundantItemPlanResult
GO
