USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[SPMonthCost]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE                                 PROCEDURE [dbo].[SPMonthCost] 
@Num AS VARCHAR(100), 
@Division as varchar(10),
@Year as varchar(10),
@Month as varchar(10)
 AS
/*
declare @Num AS VARCHAR(30) 
declare @Division AS VARCHAR(10)
declare @Year AS VARCHAR(50)
declare @Month AS VARCHAR(50)
declare @BusinessRegistrationNum AS VARCHAR(30)
declare @StartDate AS smalldatetime
declare @EndDate AS smalldatetime
Set @Num = '134-09-97418'
Set @Division = '기타'
Set @Year = '2009'
Set @Month = '2'
*/

	if(@Year = '선택')
		Set @Year = datepart(yy,getdate())
	if(@Month = '선택')
		Set @Month = datepart(mm,getdate())

	IF exists (Select 1 From tempdb..sysobjects where name like '#MonthCostDailyTemp%')
		DROP TABLE #MonthCostDailyTemp
	CREATE TABLE #MonthCostDailyTemp
	(
		CompanyName VARCHAR(50),
		BusinessRegistrationNum Varchar(20),
		ItemNum VARCHAR(100),		
		ItemName VARCHAR(100),
		ProcessName VARCHAR(50),
		DeliveryDate smalldatetime,
		InStoreDate smalldatetime,
		Quantity decimal(18,2),
		SuitabilityQuantity decimal(18,2),
		UnSuitabilityQuantity decimal(18,2),
		ApplyUnitCost decimal(18,2),
		TotalCost decimal(18,2),
		MonthTotal decimal(18,2),
		YearTotal decimal(18,2),
	)  
	if(@Division = '전체')
	begin
	INSERT INTO #MonthCostDailyTemp
		Select CompanyName,BusinessRegistrationNum,  ItemNum, ItemName,  SmallClassificationName as ProcessName, QI_HT.RegistrationDate as DeliveryDate, QI_HT.QualityInspectionCompleteDate as InStoreDate
		,RequestQuantity as Quantity, SuitabilityQuantity, UnSuitabilityQuantity,  ApplyUnitCost, SuitabilityQuantity* ApplyUnitCost as TotalCost
		, null, null
		From QI_HT inner join PUC_MT on EndProcessName = SmallClassificationCode
		Where PUC_MT.RecodingState = 1 and CompanyName != '' and (SuitabilityQuantity+UnSuitabilityQuantity) != 0
		 and BusinessRegistrationNum = @Num
		and QI_HT.[Year] = @Year and QI_HT.[Month] = @Month
		union all
		Select CompanyName,BusinessRegistrationNum,  ItemName as ItemNum, ItemName,  null as ProcessName, RegistrationDate as DeliveryDate, DeliveryDemandDate as InStoreDate
		,DeliveryQuantity as Quantity, DeliveryQuantity as SuitabilityQuantity , 0 as UnSuitabilityQuantity ,  ApplyUnitCost, DeliveryQuantity* ApplyUnitCost as TotalCost
		, null, null
		From EtcBD_HT
		where BusinessRegistrationNum = @Num
		and [Year] = @Year and [Month] = @Month		
		union all
		Select CompanyName, BusinessRegistrationNum, ItemNum, ItemName, null as ProcessName,  RegistrationDate as  DeliveryDate , ReceiptDate as InStoreDate
		,null as Quantity,  null as SuitabilityQuantity, ClaimQuantity as UnSuitabilityQuantity, null as ApplyUnitCost,  -ClaimCost as TotalCost
		, null, null
		From PCL_HT
		where BusinessRegistrationNum = @Num 
		and datepart(yy,ReceiptDate) = datepart(yy,getdate()) and  datepart(mm,ReceiptDate) = datepart(mm,getdate())
		union all
		Select CompanyName, BusinessRegistrationNum, EtcClaimRegion as  ItemNum, EtcClaimRegion as  ItemName, null as ProcessName,  RegistrationDate as  DeliveryDate , ReceiptDate as InStoreDate
		,null as Quantity,  null as SuitabilityQuantity, null as UnSuitabilityQuantity, null as ApplyUnitCost,  -ClaimCost as TotalCost
		, null, null
		From ECL_HT
		where BusinessRegistrationNum = @Num 
		and datepart(yy,ReceiptDate) = datepart(yy,getdate()) and  datepart(mm,ReceiptDate) = datepart(mm,getdate())
		union all
		Select CompanyName,BusinessRegistrationNum,  ItemName as ItemNum, ItemName,  null as ProcessName, DeliveryDate as DeliveryDate, DeliveryDate as InStoreDate
		,DeliveryQuantity as Quantity, DeliveryQuantity as SuitabilityQuantity , 0 as UnSuitabilityQuantity ,  ApplyUnitCost, DeliveryQuantity* ApplyUnitCost as TotalCost
		, null, null
		From SBD_HT
		where BusinessRegistrationNum = @Num
		and [Year] = @Year and [Month] = @Month
		
		
	end
	else if(@Division = '구매')
	begin
	INSERT INTO #MonthCostDailyTemp
		Select CompanyName,BusinessRegistrationNum,  ItemNum, ItemName,  SmallClassificationName as ProcessName, QI_HT.RegistrationDate as DeliveryDate, QI_HT.QualityInspectionCompleteDate as InStoreDate
		,RequestQuantity as Quantity, SuitabilityQuantity, UnSuitabilityQuantity,  ApplyUnitCost, SuitabilityQuantity* ApplyUnitCost as TotalCost
		, null, null
		From QI_HT inner join PUC_MT on EndProcessName = SmallClassificationCode
		Where PUC_MT.RecodingState = 1 and CompanyName != '' and (SuitabilityQuantity+UnSuitabilityQuantity) != 0
		 and BusinessRegistrationNum = @Num and HistorySection2 = '구매발주'
		and QI_HT.[Year] = @Year and QI_HT.[Month] = @Month
		union all
		Select CompanyName, BusinessRegistrationNum, ItemNum, ItemName, null as ProcessName,  RegistrationDate as  DeliveryDate , ReceiptDate as InStoreDate
		,null as Quantity,  null as SuitabilityQuantity, ClaimQuantity as UnSuitabilityQuantity, null as ApplyUnitCost,  -ClaimCost as TotalCost
		, null, null
		From PCL_HT
		where BusinessRegistrationNum = @Num 
		and datepart(yy,ReceiptDate) = datepart(yy,getdate()) and  datepart(mm,ReceiptDate) = datepart(mm,getdate())
		
	end
	else if(@Division = '외주')
	begin
	INSERT INTO #MonthCostDailyTemp
		Select CompanyName,BusinessRegistrationNum,  ItemNum, ItemName,  SmallClassificationName as ProcessName, QI_HT.RegistrationDate as DeliveryDate, QI_HT.QualityInspectionCompleteDate as InStoreDate
		,RequestQuantity as Quantity, SuitabilityQuantity, UnSuitabilityQuantity,  ApplyUnitCost, SuitabilityQuantity* ApplyUnitCost as TotalCost
		, null, null
		From QI_HT inner join PUC_MT on EndProcessName = SmallClassificationCode
		Where PUC_MT.RecodingState = 1 and CompanyName != '' and (SuitabilityQuantity+UnSuitabilityQuantity) != 0
		 and BusinessRegistrationNum = @Num  and HistorySection2 = '외주발주'
		and QI_HT.[Year] = @Year and QI_HT.[Month] = @Month
	end
	else if(@Division = '기타')
	begin
	INSERT INTO #MonthCostDailyTemp
		Select CompanyName,BusinessRegistrationNum,  ItemName as ItemNum, ItemName,  null as ProcessName, RegistrationDate as DeliveryDate, DeliveryDemandDate as InStoreDate
		,DeliveryQuantity as Quantity, DeliveryQuantity as SuitabilityQuantity , 0 as UnSuitabilityQuantity ,  ApplyUnitCost, DeliveryQuantity* ApplyUnitCost as TotalCost
		, null, null
		From EtcBD_HT
		where BusinessRegistrationNum = @Num
		and [Year] = @Year and [Month] = @Month
		union all
		Select CompanyName, BusinessRegistrationNum, EtcClaimRegion as  ItemNum, EtcClaimRegion as  ItemName, null as ProcessName,  RegistrationDate as  DeliveryDate , ReceiptDate as InStoreDate
		,null as Quantity,  null as SuitabilityQuantity, null as UnSuitabilityQuantity, null as ApplyUnitCost,  -ClaimCost as TotalCost
		, null, null
		From ECL_HT
		where BusinessRegistrationNum = @Num 
		and datepart(yy,ReceiptDate) = datepart(yy,getdate()) and  datepart(mm,ReceiptDate) = datepart(mm,getdate())
		
		
	end
	else if(@Division = '부자재')
	begin
	INSERT INTO #MonthCostDailyTemp
		Select CompanyName,BusinessRegistrationNum,  ItemName as ItemNum, ItemName,  null as ProcessName, DeliveryDate as DeliveryDate, DeliveryDate as InStoreDate
		,DeliveryQuantity as Quantity, DeliveryQuantity as SuitabilityQuantity , 0 as UnSuitabilityQuantity ,  ApplyUnitCost, DeliveryQuantity* ApplyUnitCost as TotalCost
		, null, null
		From SBD_HT
		where BusinessRegistrationNum = @Num
		and [Year] = @Year and [Month] = @Month
		
	end
	SELECT 	sum(TotalCost) as TotalCost 
	FROM #MonthCostDailyTemp
GO
