USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[SPYearCost]    Script Date: 07/02/2026 08:48:43 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE                                  PROCEDURE [dbo].[SPYearCost] 
@Num AS VARCHAR(100), 
@Year AS varchar(10),
@Division as varchar(10)
 AS
/*
declare @ItemNum AS VARCHAR(50) 
declare @ItemDrawNum AS VARCHAR(50)
declare @ItemName AS VARCHAR(50)
declare @CompanyName AS VARCHAR(50)
declare @BusinessRegistrationNum AS VARCHAR(30)
declare @StartDate AS smalldatetime
declare @EndDate AS smalldatetime
Set @ItemNum = ''
Set @ItemDrawNum = ''
Set @ItemName = ''
Set @CompanyName = ''
Set @BusinessRegistrationNum = ''
Set @StartDate = ''
Set @EndDate = ''
declare @YearStartDate AS smalldatetime
declare @YearEndDate AS smalldatetime
Set @YearStartDate = ''
Set @YearEndDate = ''
declare @Num AS VARCHAR(30)
declare @YearStartDate AS smalldatetime
declare @YearEndDate AS smalldatetime
Set @Num = ''
Set @MonStartDate = '1990-01-01'
Set @MonEndDate = '2050-12-31'
*/

	if(@Year = '선택')
		Set @Year = datepart(yy,getdate())

	IF exists (Select 1 From tempdb..sysobjects where name like '#DailyTemp%')
		DROP TABLE #DailyTemp
	-- 특정제품을 생산하는데 필요한 부품과 수량을 임시로 기억할 Table
	CREATE TABLE #DailyTemp
	(
		CompanyName VARCHAR(50),
		BusinessRegistrationNum Varchar(20),
		ItemNum VARCHAR(100),		
		ItemName VARCHAR(100),
		ProcessName VARCHAR(50),
		DeliveryDate smalldatetime,
		InStoreDate smalldatetime,
		Quantity decimal(18,2),
		SuitabilityQuantity decimal(18,2),
		UnSuitabilityQuantity decimal(18,2),
		ApplyUnitCost decimal(18,2),
		TotalCost decimal(18,2),
		MonthTotal decimal(18,2),
		YearTotal decimal(18,2),
	)  
	
	if(@Division = '전체')
	begin	
	INSERT INTO #DailyTemp
		Select CompanyName,BusinessRegistrationNum,  ItemNum, ItemName,  SmallClassificationName as ProcessName, QI_HT.RegistrationDate as DeliveryDate, QI_HT.QualityInspectionCompleteDate as InStoreDate
		,RequestQuantity as Quantity, SuitabilityQuantity, UnSuitabilityQuantity,  ApplyUnitCost, SuitabilityQuantity* ApplyUnitCost as TotalCost
		, null, null
		From QI_HT inner join PUC_MT on EndProcessName = SmallClassificationCode
		Where PUC_MT.RecodingState = 1 and CompanyName != '' and (SuitabilityQuantity+UnSuitabilityQuantity) != 0
		 and BusinessRegistrationNum = @Num
		and QI_HT.[Year] = datepart(yy,getdate())
		union all		
		Select CompanyName,BusinessRegistrationNum,  ItemName as ItemNum, ItemName,  null as ProcessName, RegistrationDate as DeliveryDate, DeliveryDemandDate as InStoreDate
		,DeliveryQuantity as Quantity, DeliveryQuantity as SuitabilityQuantity , 0 as UnSuitabilityQuantity ,  ApplyUnitCost, DeliveryQuantity* ApplyUnitCost as TotalCost
		, null, null
		From EtcBD_HT
		where BusinessRegistrationNum = @Num
		and EtcBD_HT.[Year] = datepart(yy,getdate())
		union all
		Select CompanyName, BusinessRegistrationNum, ItemNum, ItemName, null as ProcessName,  RegistrationDate as  DeliveryDate, ReceiptDate as InStoreDate
		,null as Quantity,  null as SuitabilityQuantity, ClaimQuantity as UnSuitabilityQuantity, null as ApplyUnitCost,  -ClaimCost as TotalCost
		, null, null
		From PCL_HT
		where BusinessRegistrationNum = @Num and datepart(yy,ReceiptDate) = datepart(yy,getdate())
		union all
		Select CompanyName, BusinessRegistrationNum, EtcClaimRegion as ItemNum, EtcClaimRegion as ItemName, null as ProcessName,  RegistrationDate as  DeliveryDate, ReceiptDate as InStoreDate
		,null as Quantity,  null as SuitabilityQuantity, null as UnSuitabilityQuantity, null as ApplyUnitCost,  -ClaimCost as TotalCost
		, null, null
		From ECL_HT
		where BusinessRegistrationNum = @Num and datepart(yy,ReceiptDate) = datepart(yy,getdate())
		union all
		Select CompanyName,BusinessRegistrationNum,  ItemName as ItemNum, ItemName,  null as ProcessName, DeliveryDate as DeliveryDate, DeliveryDate as InStoreDate
		,DeliveryQuantity as Quantity, DeliveryQuantity as SuitabilityQuantity , 0 as UnSuitabilityQuantity ,  ApplyUnitCost, DeliveryQuantity* ApplyUnitCost as TotalCost
		, null, null
		From SBD_HT
		where BusinessRegistrationNum = @Num
		and [Year] = datepart(yy,getdate())
	end
	else if(@Division ='구매')
	begin
	INSERT INTO #DailyTemp
		Select CompanyName,BusinessRegistrationNum,  ItemNum, ItemName,  SmallClassificationName as ProcessName, QI_HT.RegistrationDate as DeliveryDate, QI_HT.QualityInspectionCompleteDate as InStoreDate
		,RequestQuantity as Quantity, SuitabilityQuantity, UnSuitabilityQuantity,  ApplyUnitCost, SuitabilityQuantity* ApplyUnitCost as TotalCost
		, null, null
		From QI_HT inner join PUC_MT on EndProcessName = SmallClassificationCode
		Where PUC_MT.RecodingState = 1 and CompanyName != '' and (SuitabilityQuantity+UnSuitabilityQuantity) != 0
		 and BusinessRegistrationNum = @Num
		and QI_HT.[Year] = datepart(yy,getdate()) and HistorySection2 = '구매발주'
		union all
		
		Select CompanyName, BusinessRegistrationNum, ItemNum, ItemName, null as ProcessName,  RegistrationDate as  DeliveryDate, ReceiptDate as InStoreDate
		,null as Quantity,  null as SuitabilityQuantity, ClaimQuantity as UnSuitabilityQuantity, null as ApplyUnitCost,  -ClaimCost as TotalCost
		, null, null
		From PCL_HT
		where BusinessRegistrationNum = @Num and datepart(yy,ReceiptDate) = datepart(yy,getdate())
	end
	else if(@Division ='외주')
	begin
	INSERT INTO #DailyTemp
		Select CompanyName,BusinessRegistrationNum,  ItemNum, ItemName,  SmallClassificationName as ProcessName, QI_HT.RegistrationDate as DeliveryDate, QI_HT.QualityInspectionCompleteDate as InStoreDate
		,RequestQuantity as Quantity, SuitabilityQuantity, UnSuitabilityQuantity,  ApplyUnitCost, SuitabilityQuantity* ApplyUnitCost as TotalCost
		, null, null
		From QI_HT inner join PUC_MT on EndProcessName = SmallClassificationCode
		Where PUC_MT.RecodingState = 1 and CompanyName != '' and (SuitabilityQuantity+UnSuitabilityQuantity) != 0
		 and BusinessRegistrationNum = @Num
		and QI_HT.[Year] = datepart(yy,getdate()) and HistorySection2 = '외주발주'
	end
	else if(@Division ='기타')
	begin
	INSERT INTO #DailyTemp
		Select CompanyName,BusinessRegistrationNum,  ItemName as ItemNum, ItemName,  null as ProcessName, RegistrationDate as DeliveryDate, DeliveryDemandDate as InStoreDate
		,DeliveryQuantity as Quantity, DeliveryQuantity as SuitabilityQuantity , 0 as UnSuitabilityQuantity ,  ApplyUnitCost, DeliveryQuantity* ApplyUnitCost as TotalCost
		, null, null
		From EtcBD_HT
		where BusinessRegistrationNum = @Num
		and EtcBD_HT.[Year] = datepart(yy,getdate())
		union all
		Select CompanyName, BusinessRegistrationNum, EtcClaimRegion as ItemNum, EtcClaimRegion as ItemName, null as ProcessName,  RegistrationDate as  DeliveryDate, ReceiptDate as InStoreDate
		,null as Quantity,  null as SuitabilityQuantity, null as UnSuitabilityQuantity, null as ApplyUnitCost,  -ClaimCost as TotalCost
		, null, null
		From ECL_HT
		where BusinessRegistrationNum = @Num and datepart(yy,ReceiptDate) = datepart(yy,getdate())
	end
	else if(@Division ='부자재')
	begin
	INSERT INTO #DailyTemp

		Select CompanyName,BusinessRegistrationNum,  ItemName as ItemNum, ItemName,  null as ProcessName, DeliveryDate as DeliveryDate, DeliveryDate as InStoreDate
		,DeliveryQuantity as Quantity, DeliveryQuantity as SuitabilityQuantity , 0 as UnSuitabilityQuantity ,  ApplyUnitCost, DeliveryQuantity* ApplyUnitCost as TotalCost
		, null, null
		From SBD_HT
		where BusinessRegistrationNum = @Num
		and [Year] = datepart(yy,getdate())
	end



	SELECT 	sum(TotalCost) as TotalCost 
	FROM #DailyTemp
GO
