USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[ItemSequenceStock_Materials_Search]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE        proc [dbo].[ItemSequenceStock_Materials_Search](@itemnum varchar(50))
-- 이 Stored Procedure 는 ItemSequenceStock_Search 에 의해서 호출된다. 
-- 원자재창고, 외주창고에서 집계
as
begin
	select 품목번호,'원자재' as 자산분류,   isnull(TmpTable.수량 ,0)as [원자재 창고] , isnull( t2.수량,0) as [외주 창고]
	from
	(
		select 
		itemnum as 품목번호
		, '원자재창고' as 창고명
		, sum(stockquantity12) as 수량
		from rms_mt
		where itemnum = @itemnum
		and recodingstate = 1
		group by 
		itemnum
		, processsequencenum 		
	) TmpTable left outer  join	(
		select 
		itemnum
		, '외주창고' as 창고명
		, isnull(sum(stockquantity12),0) as 수량
		from os_mt
		where itemnum = @itemnum
		and recodingstate = 1
		group by 
		itemnum
		, processsequencenum 
	) t2
	on TmpTable.품목번호 = t2.itemnum
	group by 품목번호,  TmpTable.수량 , t2.수량
end
GO
