USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[SPItemGroup]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE  PROCEDURE [dbo].[SPItemGroup] 
 @ItemNum varchar(50)
 ,@ItemDrawNum varchar(50)
 ,@ItemName varchar(50)
 ,@ItemClassification varchar(50)
 
AS
	IF exists (Select 1 From tempdb..sysobjects where name like '#TempTable%')
		DROP TABLE #TempTable
	CREATE TABLE #TempTree
	(
		ItemNum VARCHAR(50)
		,ItemName VARCHAR(50)
		,Quantity decimal(20,2)
		,DeliveryDate smalldatetime
	)  
	INSERT INTO #TempTable
	SELECT II_MT.ItemNum, II_MT.ItemName, Quantity, DeliveryDate
	From ItemGroup_HT
	inner join II_MT on ItemGroup_HT.ItemGroup = II_Mt.ItemNum
	left outer join PUC_MT on ItemClassification1 = SmallClassificationCode
	where II_Mt.RecodingState = 1 and ItemNum like '%'+@ItemNum +'%'
	and ItemDrawNum  like '%'+@ItemDrawNum +'%'
	and ItemName  like '%'+@ItemName +'%'
	and ItemClassification1 like '%'+@ItemClassification +'%'
	WHILE ( @@ROWCOUNT < 0 )
	BEGIN
		Select 'aaa'
	END
GO
