USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[SPRecognition]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE          PROCEDURE [dbo].[SPRecognition] 
@ItemNum AS VARCHAR(100), 
@ItemDrawNum AS VARCHAR(100), 
@ItemName AS VARCHAR(100), 
@CompanyName AS VARCHAR(50), 
@BusinessRegistrationNum AS VARCHAR(30), 
@StartDate AS smalldatetime, 
@EndDate AS smalldatetime,
@Division as varchar(10)

 AS
/*

declare @ItemNum AS VARCHAR(50) 
declare @ItemDrawNum AS VARCHAR(50)
declare @ItemName AS VARCHAR(50)
declare @CompanyName AS VARCHAR(50)
declare @BusinessRegistrationNum AS VARCHAR(30)
declare @StartDate AS smalldatetime
declare @EndDate AS smalldatetime
declare @Division AS varchar(10)
Set @ItemNum = ''
Set @ItemDrawNum = ''
Set @ItemName = ''
Set @CompanyName = ''
Set @BusinessRegistrationNum = ''
Set @Division = '전체'
Set @StartDate = ''
Set @EndDate = ''



			



*/
	if(@StartDate = '')
		Set @StartDate = '1999-01-01'
	if(@EndDate = '')
		Set @EndDate = '2050-12-31'

	 if(@Division = '승인')
		begin
Select Division, Recognition,  ItemNum, ItemDrawNum, ItemName,
CompanyName, BusinessRegistrationNum, 
BeginProcessSequenceNum, EndProcessSequenceNum,  BeginProcessName,  EndProcessName, SuitabilityQuantity, ProgressCondition, ApplyUnitCost, RegistrationDate , StandardUnitCost, TotalCost, HistoryIndex
From
(
			Select (case when HistorySection2 = '구매발주' then '구매' else '외주' end) as Division,  Recognition, QI_HT.ItemNum, ItemDrawNum, ItemName, CompanyName, QI_HT.BusinessRegistrationNum, BeginProcessSequenceNum, EndProcessSequenceNum, SmallClassificationName as BeginProcessName, SmallClassificationName as EndProcessName, SuitabilityQuantity, ProgressCondition, ApplyUnitCost,QI_HT. RegistrationDate as RegistrationDate,  UCI_MT.StandardUnitCost, (ApplyUnitCost * SuitabilityQuantity) as  TotalCost, QualityInspectionHistoryIndex as HistoryIndex
			From QI_HT inner join PUC_MT on BeginProcessName = SmallClassificationCode
			inner join UCI_MT on QI_HT.ItemNum = UCI_MT.ItemNum and QI_HT.BusinessRegistrationNum = UCI_MT.BusinessRegistrationNum
			where Recognition = '승인' and  HistorySection1 <>'작업일보' and  QI_HT.ItemNum like '%'+@ItemNum+'%' and ItemDrawNum  like '%'+@ItemDrawNum+'%' and ItemName  like '%'+@ItemName+'%' and
				CompanyName like '%'+@CompanyName+'%' and  QI_HT.BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%' and
				QI_HT.RegistrationDate between @StartDate and @EndDate and PUC_MT.RecodingState =1 and UCI_MT.RecodingState =1 and UnitCostDistinction <> '판매단가'
			and QI_HT.ProgressCondition != '대기' and SuitabilityQuantity <> 0
			--order by QI_HT.RegistrationDate desc
			union all
			Select '기타'as Division, Recognition,  ItemName as ItemNum, ItemName as ItemDrawNum, ItemName as ItemName, CompanyName, BusinessRegistrationNum, ' ' as BeginProcessSequenceNum, ' ' as EndProcessSequenceNum, ' ' as BeginProcessName, ' ' as EndProcessName, DeliveryQuantity as RequestQuantity , '입고완료' as ProgressCondition, ApplyUnitCost, RegistrationDate , ApplyUnitCost as StandardUnitCost, (ApplyUnitCost * DeliveryQuantity) as  TotalCost, EtcBuyingDeliveryHistoryIndex as HistoryIndex
			From etcbd_ht 
			where Recognition = '승인' and   ItemName like '%'+@ItemNum+'%' and ItemName  like '%'+@ItemDrawNum+'%' and ItemName  like '%'+@ItemName+'%' and
				CompanyName like '%'+@CompanyName+'%' and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%' and
				RegistrationDate between @StartDate and @EndDate  and DeliveryQuantity <> 0
			--order by RegistrationDate desc

			union all
			Select '부자재' as Division,  Recognition, SBD_HT.ItemNum, ItemDrawNum, ItemName, CompanyName, SBD_HT.BusinessRegistrationNum, ' ' as BeginProcessSequenceNum, ' ' as EndProcessSequenceNum, ' ' as BeginProcessName, ' ' as EndProcessName, DeliveryQuantity as RequestQuantity , '입고완료' as ProgressCondition, ApplyUnitCost,  SBD_HT.RegistrationDate  ,UCI_MT.StandardUnitCost, (ApplyUnitCost * DeliveryQuantity) as  TotalCost, SubBuyingDeliveryHistoryIndex as HistoryIndex
			From SBD_HT inner join UCI_MT on SBD_HT.ItemNum = UCI_MT.ItemNum and SBD_HT.BusinessRegistrationNum = UCI_MT.BusinessRegistrationNum
			where Recognition = '승인' and   SBD_HT.ItemNum like '%'+@ItemNum+'%' and ItemDrawNum  like '%'+@ItemDrawNum+'%' and ItemName  like '%'+@ItemName+'%' and
				CompanyName like '%'+@CompanyName+'%' and SBD_HT.BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%' and
				SBD_HT.RegistrationDate between @StartDate and @EndDate and UCI_MT.RecodingState =1 and UnitCostDistinction <> '판매단가'  and DeliveryQuantity <> 0

			union all
			Select '공제' as Division,  Recognition, EtcClaimRegion as ItemNum  , EtcClaimRegion as ItemDrawNum, EtcClaimRegion as ItemName, CompanyName, BusinessRegistrationNum, ' ' as BeginProcessSequenceNum, ' ' as EndProcessSequenceNum, ' ' as BeginProcessName, ' ' as EndProcessName, '0' as RequestQuantity , '완료' as ProgressCondition, ClaimCost as ApplyUnitCost,  ECL_HT.RegistrationDate  , ClaimCost as StandardUnitCost, (ClaimCost ) as  TotalCost, EtcClameHistoryIndex as HistoryIndex
			From ECL_HT  
			where Recognition = '승인' and   EtcClaimRegion like '%'+@ItemNum+'%' and EtcClaimRegion  like '%'+@ItemDrawNum+'%' and EtcClaimRegion  like '%'+@ItemName+'%' and
				CompanyName like '%'+@CompanyName+'%' and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%' and
				RegistrationDate between @StartDate and @EndDate and ClaimCost <> 0
			
) T
order by RegistrationDate desc
		end
	else if(@Division = '미승인')
		begin
Select Division, Recognition,  ItemNum, ItemDrawNum, ItemName,
CompanyName, BusinessRegistrationNum, 
BeginProcessSequenceNum, EndProcessSequenceNum,  BeginProcessName,  EndProcessName, SuitabilityQuantity, ProgressCondition, ApplyUnitCost, RegistrationDate , StandardUnitCost, TotalCost, HistoryIndex
From
(
			Select (case when HistorySection2 = '구매발주' then '구매' else '외주' end) as Division,  Recognition, QI_HT.ItemNum, ItemDrawNum, ItemName, CompanyName, QI_HT.BusinessRegistrationNum, BeginProcessSequenceNum, EndProcessSequenceNum, SmallClassificationName as BeginProcessName, SmallClassificationName as EndProcessName, SuitabilityQuantity, ProgressCondition, ApplyUnitCost,QI_HT. RegistrationDate as RegistrationDate,  UCI_MT.StandardUnitCost, (ApplyUnitCost * SuitabilityQuantity) as  TotalCost, QualityInspectionHistoryIndex as HistoryIndex
			From QI_HT inner join PUC_MT on BeginProcessName = SmallClassificationCode
			inner join UCI_MT on QI_HT.ItemNum = UCI_MT.ItemNum and QI_HT.BusinessRegistrationNum = UCI_MT.BusinessRegistrationNum
			where Recognition = '미승인' and  HistorySection1 <>'작업일보' and QI_HT.ItemNum like '%'+@ItemNum+'%' and ItemDrawNum  like '%'+@ItemDrawNum+'%' and ItemName  like '%'+@ItemName+'%' and
				CompanyName like '%'+@CompanyName+'%' and QI_HT.BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%' and
				QI_HT.RegistrationDate between @StartDate and @EndDate and PUC_MT.RecodingState =1  and UCI_MT.RecodingState =1 and UnitCostDistinction <> '판매단가'
				and QI_HT.ProgressCondition != '대기' and SuitabilityQuantity <> 0
			--order by QI_HT.RegistrationDate desc

			union all
			Select '기타'as Division, Recognition,  ItemName as ItemNum, ItemName as ItemDrawNum, ItemName as ItemName, CompanyName, BusinessRegistrationNum, ' ' as BeginProcessSequenceNum, ' ' as EndProcessSequenceNum, ' ' as BeginProcessName, ' ' as EndProcessName, DeliveryQuantity as RequestQuantity , '입고완료' as ProgressCondition, ApplyUnitCost, RegistrationDate , ApplyUnitCost as StandardUnitCost, (ApplyUnitCost * DeliveryQuantity) as  TotalCost, EtcBuyingDeliveryHistoryIndex as HistoryIndex
			From etcbd_ht 
			where Recognition = '미승인' and ItemName like '%'+@ItemNum+'%' and ItemName  like '%'+@ItemDrawNum+'%' and ItemName  like '%'+@ItemName+'%' and
				CompanyName like '%'+@CompanyName+'%' and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%' and
				RegistrationDate between @StartDate and @EndDate   and DeliveryQuantity <> 0
			--order by RegistrationDate desc

			union all
			Select '부자재' as Division,  Recognition, SBD_HT.ItemNum, ItemDrawNum, ItemName, CompanyName, SBD_HT.BusinessRegistrationNum, ' ' as BeginProcessSequenceNum, ' ' as EndProcessSequenceNum, ' ' as BeginProcessName, ' ' as EndProcessName, DeliveryQuantity as RequestQuantity , '입고완료' as ProgressCondition, ApplyUnitCost,  SBD_HT.RegistrationDate  ,UCI_MT.StandardUnitCost, (ApplyUnitCost * DeliveryQuantity) as  TotalCost, SubBuyingDeliveryHistoryIndex as HistoryIndex
			From SBD_HT inner join UCI_MT on SBD_HT.ItemNum = UCI_MT.ItemNum and SBD_HT.BusinessRegistrationNum = UCI_MT.BusinessRegistrationNum
			where Recognition = '미승인' and SBD_HT.ItemNum like '%'+@ItemNum+'%' and ItemDrawNum  like '%'+@ItemDrawNum+'%' and ItemName  like '%'+@ItemName+'%' and
				CompanyName like '%'+@CompanyName+'%' and SBD_HT.BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%' and
				SBD_HT.RegistrationDate between @StartDate and @EndDate  and UCI_MT.RecodingState =1 and UnitCostDistinction <> '판매단가'  and DeliveryQuantity <> 0

			union all
			Select '공제' as Division,  Recognition, EtcClaimRegion as ItemNum  , EtcClaimRegion as ItemDrawNum, EtcClaimRegion as ItemName, CompanyName, BusinessRegistrationNum, ' ' as BeginProcessSequenceNum, ' ' as EndProcessSequenceNum, ' ' as BeginProcessName, ' ' as EndProcessName, '0' as RequestQuantity , '완료' as ProgressCondition, ClaimCost as ApplyUnitCost,  ECL_HT.RegistrationDate  , ClaimCost as StandardUnitCost, (ClaimCost ) as  TotalCost, EtcClameHistoryIndex as HistoryIndex
			From ECL_HT  
			where Recognition = '미승인' and   EtcClaimRegion like '%'+@ItemNum+'%' and EtcClaimRegion  like '%'+@ItemDrawNum+'%' and EtcClaimRegion  like '%'+@ItemName+'%' and
				CompanyName like '%'+@CompanyName+'%' and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%' and
				RegistrationDate between @StartDate and @EndDate and ClaimCost <> 0
) T
 order by RegistrationDate desc
		end
		
		else-- if(@Division = '전체')
		begin
		Select Division, Recognition,  ItemNum, ItemDrawNum, ItemName,
CompanyName, BusinessRegistrationNum, 
BeginProcessSequenceNum, EndProcessSequenceNum,  BeginProcessName,  EndProcessName, SuitabilityQuantity, ProgressCondition, ApplyUnitCost, RegistrationDate , StandardUnitCost, TotalCost, HistoryIndex
From
(
			Select (case when HistorySection2 = '구매발주' then '구매' else '외주' end) as Division,  Recognition, QI_HT.ItemNum, ItemDrawNum, ItemName, CompanyName, QI_HT.BusinessRegistrationNum, BeginProcessSequenceNum, EndProcessSequenceNum, SmallClassificationName as BeginProcessName, SmallClassificationName as EndProcessName, SuitabilityQuantity, ProgressCondition, ApplyUnitCost,QI_HT. RegistrationDate as RegistrationDate,  UCI_MT.StandardUnitCost, (ApplyUnitCost * SuitabilityQuantity) as  TotalCost, QualityInspectionHistoryIndex as HistoryIndex
			From QI_HT inner join PUC_MT on BeginProcessName = SmallClassificationCode
			inner join UCI_MT on QI_HT.ItemNum = UCI_MT.ItemNum and QI_HT.BusinessRegistrationNum = UCI_MT.BusinessRegistrationNum
			where  HistorySection1 <>'작업일보' and QI_HT.ItemNum like '%'+@ItemNum+'%' and ItemDrawNum  like '%'+@ItemDrawNum+'%' and ItemName  like '%'+@ItemName+'%' and
				CompanyName like '%'+@CompanyName+'%' and QI_HT.BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%' and
				QI_HT.RegistrationDate between @StartDate and @EndDate and PUC_MT.RecodingState =1  and UCI_MT.RecodingState =1 and UnitCostDistinction <> '판매단가'
				and QI_HT.ProgressCondition != '대기' and SuitabilityQuantity <> 0

			union all
			Select '기타'as Division, Recognition,  ItemName as ItemNum, ItemName as ItemDrawNum, ItemName as ItemName, CompanyName, BusinessRegistrationNum, ' ' as BeginProcessSequenceNum, ' ' as EndProcessSequenceNum, ' ' as BeginProcessName, ' ' as EndProcessName, DeliveryQuantity as RequestQuantity , '입고완료' as ProgressCondition, ApplyUnitCost, RegistrationDate , ApplyUnitCost as StandardUnitCost, (ApplyUnitCost * DeliveryQuantity) as  TotalCost, EtcBuyingDeliveryHistoryIndex as HistoryIndex
			From etcbd_ht 
			where ItemName like '%'+@ItemNum+'%' and ItemName  like '%'+@ItemDrawNum+'%' and ItemName  like '%'+@ItemName+'%' and
				CompanyName like '%'+@CompanyName+'%' and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%' and
				RegistrationDate between @StartDate and @EndDate and DeliveryQuantity <> 0
			--order by RegistrationDate desc

			union all
			Select '부자재' as Division,  Recognition, SBD_HT.ItemNum, ItemDrawNum, ItemName, CompanyName, SBD_HT.BusinessRegistrationNum, ' ' as BeginProcessSequenceNum, ' ' as EndProcessSequenceNum, ' ' as BeginProcessName, ' ' as EndProcessName, DeliveryQuantity as RequestQuantity , '입고완료' as ProgressCondition, ApplyUnitCost,  SBD_HT.RegistrationDate  ,UCI_MT.StandardUnitCost, (ApplyUnitCost * DeliveryQuantity) as  TotalCost, SubBuyingDeliveryHistoryIndex as HistoryIndex
			From SBD_HT inner join UCI_MT on SBD_HT.ItemNum = UCI_MT.ItemNum and SBD_HT.BusinessRegistrationNum = UCI_MT.BusinessRegistrationNum
			where SBD_HT.ItemNum like '%'+@ItemNum+'%' and ItemDrawNum  like '%'+@ItemDrawNum+'%' and ItemName  like '%'+@ItemName+'%' and
				CompanyName like '%'+@CompanyName+'%' and SBD_HT.BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%' and
				SBD_HT.RegistrationDate between @StartDate and @EndDate  and UCI_MT.RecodingState =1 and UnitCostDistinction <> '판매단가'  and DeliveryQuantity <> 0

			union all
			Select '공제' as Division,  Recognition, EtcClaimRegion as ItemNum  , EtcClaimRegion as ItemDrawNum, EtcClaimRegion as ItemName, CompanyName, BusinessRegistrationNum, ' ' as BeginProcessSequenceNum, ' ' as EndProcessSequenceNum, ' ' as BeginProcessName, ' ' as EndProcessName, '0' as RequestQuantity , '완료' as ProgressCondition, ClaimCost as ApplyUnitCost,  ECL_HT.RegistrationDate  , ClaimCost as StandardUnitCost, (ClaimCost ) as  TotalCost, EtcClameHistoryIndex as HistoryIndex
			From ECL_HT  
			where  EtcClaimRegion like '%'+@ItemNum+'%' and EtcClaimRegion  like '%'+@ItemDrawNum+'%' and EtcClaimRegion  like '%'+@ItemName+'%' and
				CompanyName like '%'+@CompanyName+'%' and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%' and
				RegistrationDate between @StartDate and @EndDate and ClaimCost <> 0


) T
 order by RegistrationDate desc
		end
GO
