USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[EtcBuyingOrderPC_Update]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE      proc [dbo].[EtcBuyingOrderPC_Update]
(
	@itemNum varchar(50)
	, @ApplyUnitCost decimal(20, 3)
	, @OrderQuantity decimal(20, 3)
	, @TotalCost decimal(20, 3)
	, @DeliveryDemandDate smalldatetime
	, @UpdatePersonID varchar(50)
	, @ReasonCode varchar(20)
	, @ReasonName varchar(20)
	, @EtcBuyingOrderHistoryIndex int
)
as
begin
	declare @UpdatePerson varchar(50)
	set 	@UpdatePerson = (select Name from ui_mt where id = @UpdatePersonID and RecodingState = 1)
	Update EtcBO_HT
	set ItemName = @itemNum , OrderQuantity = @OrderQuantity, RemainQuantity = @OrderQuantity
	, ApplyUnitCost = @ApplyUnitCost, TotalCost = @TotalCost
	, DeliveryDemandDate = @DeliveryDemandDate, ReasonCode = @ReasonCode, ReasonName = @ReasonName
	, UpdatingPersonID = @UpdatePersonID, UpdatingPerson = @UpdatePerson, UpdatingDate = getdate()
	where 	EtcBuyingOrderHistoryIndex = @EtcBuyingOrderHistoryIndex
end
GO
