USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[ItemSearch_Popup]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE       proc [dbo].[ItemSearch_Popup]
(
	  @Tag varchar(20)
	, @Value varchar(50)
	, @상품 bit = 0
	, @제품 bit = 0
	, @팬텀 bit = 0
	, @반제품 bit = 0
	, @원자재 bit = 0
	, @부자재 bit = 0
	, @BusinessRegistrationNum varchar(50) = ''
	, @UnitCostDistinction varchar(20) = ''
)
as
begin
/*
declare @Tag varchar(50)
declare @Value varchar(50)
declare @BusinessRegistrationNum varchar(30)
declare @상품 bit
declare @제품 bit
declare @팬텀 bit
declare @반제품 bit
declare @원자재 bit
declare @UnitCostDistinction varchr(20)
set @Tag  = 'ItemNum'
set @Value  = ''
set @BusinessRegistrationNum  = 'ItemNum'
set @상품  = 1
set @제품  = 0
set @팬텀  = 0
set @반제품  = 0
set @원자재  = 1
set @UnitCostDistinction='구매단가'
*/
	declare @SQL varchar(3000)
	if ( @BusinessRegistrationNum <> '' )
	begin
		set @SQL = '
		select II_MT.itemnum as [품목번호]
		, II_MT.ItemDrawNum as [도면번호]
		, II_MT.ItemName as [품목명]
		, II_MT.Standard
		from ii_mt join uci_mt on ii_mt.itemnum = uci_mt.itemnum
		where (ii_mt.recodingstate = 1 and uci_mt.recodingstate = 1) and 
		ii_mt.' + @Tag + ' like ''%' + @Value + '%''
		and 
		(
			(	
				case when ' + cast (@상품 as varchar(1)) + ' = 1  then PropertyClassification else '''' end
				= 
				''상품'' 
			)
			or 	
			(	
				case when ' +  cast (@제품 as varchar(1)) + ' = 1  then PropertyClassification else '''' end
				= 
				''제품'' 
			)
			or 
			(	
				case when ' +  cast (@팬텀 as varchar(1)) + ' = 1  then PropertyClassification else '''' end
				= 
				''팬텀'' 
			)
			or 
			(	
				case when ' +  cast (@반제품 as varchar(1)) + ' = 1  then PropertyClassification else '''' end
				= 
				''반제품'' 
			)
			or 
			(	
				case when ' +  cast (@원자재 as varchar(1)) + ' = 1  then PropertyClassification else '''' end
				= 
				''원자재'' 
			)
			or 
			(	
				case when ' +  cast (@부자재 as varchar(1)) + ' = 1  then PropertyClassification else '''' end
				= 
				''부자재'' 
			)
		)
		and 
		(
			(	
				 UCI_MT.BusinessRegistrationNum 
				= 
				 ''' + @BusinessRegistrationNum + ''' 
			)
		)
		and 
		(
			(	
				case when ''' + @UnitCostDistinction + ''' <> ''''  then UCI_MT.UnitCostDistinction else '''' end
				= 
				case when ''' + @UnitCostDistinction + ''' <> ''''  then ''' + @UnitCostDistinction + ''' else '''' end
			)
		)
		 group by II_MT.itemnum, II_MT.ItemDrawNum, II_MT.ItemName,	 II_MT.Standard '
	end
	else
	begin
		set @SQL = '
		select II_MT.itemnum as [품목번호]
		, II_MT.ItemDrawNum as [도면번호]
		, II_MT.ItemName as [품목명]
		, II_MT.Standard
		from ii_mt 
		where (ii_mt.recodingstate = 1) and 
		ii_mt.' + @Tag + ' like ''%' + @Value + '%''
		and 
		(
			(	
				case when ' + cast (@상품 as varchar(1)) + ' = 1  then PropertyClassification else '''' end
				= 
				''상품'' 
			)
			or 	
			(	
				case when ' +  cast (@제품 as varchar(1)) + ' = 1  then PropertyClassification else '''' end
				= 
				''제품'' 
			)
			or 
			(	
				case when ' +  cast (@팬텀 as varchar(1)) + ' = 1  then PropertyClassification else '''' end
				= 
				''팬텀'' 
			)
			or 
			(	
				case when ' +  cast (@반제품 as varchar(1)) + ' = 1  then PropertyClassification else '''' end
				= 
				''반제품'' 
			)
			or 
			(	
				case when ' +  cast (@원자재 as varchar(1)) + ' = 1  then PropertyClassification else '''' end
				= 
				''원자재'' 
			)
			or 
			(	
				case when ' +  cast (@부자재 as varchar(1)) + ' = 1  then PropertyClassification else '''' end
				= 
				''부자재'' 
			)
		)
		 group by II_MT.itemnum, II_MT.ItemDrawNum, II_MT.ItemName	, II_MT.Standard '
	end
	exec ( @SQL )
end
GO
