USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[QualityInspection_Edit]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE                          PROCEDURE [dbo].[QualityInspection_Edit]
						(							
							  @key int 					-- 품질검사원장 키		0
							, @successQuantity decimal(20, 3) 	= 0		-- 적합수량
							, @incongruityQuantity decimal(20, 3)	=0		-- 부적합수량
							, @incongruityDecision varchar(50)	= null		-- 검사판정
							, @incongruityCause varchar(50)		= null	-- 부적합원인
							, @incongruityCauseCode varchar(20)	=null		-- 부적합원인코드			5
							, @incongruityPhenomenon varchar(50)=null		-- 부적합현상
							, @incongruityPhenomenonCode varchar(15)=null  	-- 부적합현상 코드
							, @incongruityDetailContent varchar(100) = null 		-- 부적합세부내용
							, @inspectionPost varchar(50)			-- 검사자
							, @inspectionPostID varchar(50)			-- 검사자ID			10
							, @incongruityMoney decimal(20, 3)	=0		-- 부적합 금액
							, @hs1 varchar(10)				-- 원장구분1
							, @hindex1 int					-- 원장번호1
							, @hs2 varchar(10)				-- 원장구분2
							, @hindex2 int					-- 원장번호2			15
							, @ItemName varchar(50)				-- 품목명
							, @itemnumber varchar(50)				-- 품목번호
							, @ItemDrawNum varchar(50)				-- 도면번호
							, @CompanyName varchar(50)			-- 거래처명
							, @BusinessRegistrationNum varchar(50)		-- 사업자등록번호			20
							, @ApplyUnitCost decimal(20, 3) 			-- 품목단가
							, @BeginProcessSequenceNum tinyint			-- 시작 공정순서번호	
							, @EndProcessSequenceNum tinyint			-- 종료 공정순서번호	
							, @BeginProcessNameCode varchar(15)		-- 시작공정코드
							, @EndProcessName varchar(20)			-- 종료공정명
							, @EndProcessNameCode varchar(15)			-- 종료공정코드			26
							, @DifferenceQuantity decimal(20, 2) = 0		-- 창고 업데이트시 사용		27  ( 차이수량 = 현재 수정한 적합 수량 - 이전 완료 적합 수량 )
							, @DeliveryYear int
							, @DeliveryMonth int
						)
AS
	SET NOCOUNT ON
	DECLARE @ExistingRemainQuantity decimal(20, 3)		-- ExistingRemainQuantity : 기존 잔량		 (구매, 외주 모두 사용)
	DECLARE @ResultQuantity decimal(20, 3)				-- 기존잔량 에 합격수량(납품수량)을 뺀 값   (구매, 외주 모두 사용)
	DECLARE @Month TINYINT						-- getdate() 로 얻어온 현재의 월
	DECLARE @SQL varchar(4000)						-- 동적쿼리 변수
	DECLARE @Date varchar(12)
	DECLARE @TotalBuyingCost decimal(20,2)				-- 수량 * 매입금액( 외주가공비용 또는 매입품 단가 )  (구매, 외주 모두 사용)
	DEclare @StandardUnitCost decimal(20, 2)				-- 표준단가
	set @StandardUnitCost = (select StandardUnitCost from ii_mt where itemnum = @itemnumber and recodingstate = 1)
	SET @Month = ( select datepart(mm, getdate()) )
	SET @SQL = ''
	SET @Date = (select replace(convert(varchar(10), getdate(), 111), '/', '-'))
	-- 품질 검사 원장 에 적합수량, 부적합수량, 부적합 사유, 원인 등 기록
	
IF ( @hs1 = '구매' )
BEGIN
	UPDATE QI_HT SET	[Year] = @DeliveryYear , [Month] = @DeliveryMonth
					,  SuitabilityQuantity = @successQuantity
					, UnSuitabilityQuantity = @incongruityQuantity
					, InspectionDecisionMeaning = @incongruityDecision
					, UnSuitabilityCauseMeaning = @incongruityCause
					, UnSuitabilityCauseCode = @incongruityCauseCode
					, UnSuitabilityStatusMeaning = @incongruityPhenomenon
					, UnSuitabilityStatusCode = @incongruityPhenomenonCode
					, UnSuitabilityDetailMeaning = @incongruityDetailContent
					, ApplyUnitCost = @ApplyUnitCost
					, Investigator = @inspectionPost
					, InvestigatorID = @inspectionPostID
					, UnSuitabilityCost = @incongruityMoney
					, UpdatingPerson = @inspectionPost
					, UpdatingPersonID = @inspectionPostID
					, UpdatingDate = @Date
					, ProgressCondition = '검사완료'
	FROM QI_HT
	WHERE QualityInspectionHistoryIndex = @key
/********************************************************************************************************************************
*********************************************************************************************************************************
*********************************************************   구매 처리   *************************************************************
*********************************************************************************************************************************
*********************************************************************************************************************************/
		-- 매입원장(B_HT) 매입금액 기록- 외주공정일 경우 공정비용(가공비용) 을 기록하고 구매일 경우 구매품의 단가를 기록한다.(Insert)
		-- ApplyUnitCost = 구매이면 품목단가 외주면 가공비용
		-- TotalCost = ApplyUnitCost * 수량
		set @TotalBuyingCost = ( @ApplyUnitCost * @DifferenceQuantity)
--		-- 매입매출 (BSI_MT) 테이블 
/*		set @SQL = @SQL + ' update bsi_mt set TotalBuyingCost'+cast(@Month as varchar)+' = TotalBuyingCost' +cast(@Month as varchar)+' + ' + cast(@TotalBuyingCost as varchar) + ' , UnPaymentMoney'+ cast(@Month as varchar) + ' = UnPaymentMoney'+ cast(@Month as varchar) +' + ' + cast(@TotalBuyingCost as varchar)
		set @Month = @Month + 1
		while ( @Month < 13 )
		begin
			set @SQL = @SQL + ', TotalBuyingCost'+cast(@Month as varchar)+' = TotalBuyingCost' +cast(@Month as varchar)+' + ' + cast(@TotalBuyingCost as varchar) + ' , UnPaymentMoney'+ cast(@Month as varchar) + ' = UnPaymentMoney'+ cast(@Month as varchar) +' + ' + cast(@TotalBuyingCost as varchar)
			set @Month = @Month + 1
		end
		set @SQL = @SQL + ' where BusinessRegistrationNum = ''' + @BusinessRegistrationNum + ''' and recodingstate = 1 '
		SET @Month = (select datepart(mm, getdate()))	-- 다시 초기화
*/		update b_ht set BuyingQuantity = @successQuantity, ApplyUnitCost = @ApplyUnitCost, TotalCost = (@ApplyUnitCost*@successQuantity)--@TotalBuyingCost
						, UpdatingPerson = @inspectionPost, UpdatingPersonID = @inspectionPostID, UpdatingDate = @Date
						where HistorySection = '품질관리' and HistoryIndex = @key

end
else if (@hs1 = '외주')
begin
	UPDATE QI_HT SET	[Year] = @DeliveryYear , [Month] = @DeliveryMonth
					,  SuitabilityQuantity = @successQuantity
					, UnSuitabilityQuantity = @incongruityQuantity
					, InspectionDecisionMeaning = @incongruityDecision
					, UnSuitabilityCauseMeaning = @incongruityCause
					, UnSuitabilityCauseCode = @incongruityCauseCode
					, UnSuitabilityStatusMeaning = @incongruityPhenomenon
					, UnSuitabilityStatusCode = @incongruityPhenomenonCode
					, UnSuitabilityDetailMeaning = @incongruityDetailContent
					, ApplyUnitCost = @ApplyUnitCost
					, Investigator = @inspectionPost
					, InvestigatorID = @inspectionPostID
					, UnSuitabilityCost = @incongruityMoney
					, UpdatingPerson = @inspectionPost
					, UpdatingPersonID = @inspectionPostID
					, UpdatingDate = @Date
					, ProgressCondition = '검사완료'
	FROM QI_HT
	WHERE QualityInspectionHistoryIndex = @key
/********************************************************************************************************************************
*********************************************************************************************************************************
*********************************************************   외주 처리   *************************************************************
*********************************************************************************************************************************
*********************************************************************************************************************************/
		-- 외주의 경우 두 가지로 나누어 지는데 한품목이 나가서 한품목이 들어오는 경우와 
		-- 매입원장(B_HT) 매입금액 기록- 외주공정일 경우 공정비용(가공비용) 을 기록하고 구매일 경우 구매품의 단가를 기록한다.
		-- ApplyUnitCost = 구매이면 품목단가 외주면 가공비용
		-- TotalCost = ApplyUnitCost * 수량
		DECLARE @BuyingCost decimal(20,2)
		SET @BuyingCost = (   SELECT StandardUnitCost 
							    FROM UCI_MT 
							    WHERE itemnum = @Itemnumber and BeginProcessCode = @BeginProcessNameCode and EndProcessCode = @EndProcessNameCode
							    and RecodingState = 1  and BusinessRegistrationNum = @BusinessRegistrationNum )
		-- 검사완료수량 * 가공비용
		set @TotalBuyingCost = ( @ApplyUnitCost * @DifferenceQuantity )
/*		set @SQL = @SQL + ' update bsi_mt set TotalBuyingCost'+ cast(@Month as varchar)+' = TotalBuyingCost' + cast(@Month as varchar)+' + ' + cast(@TotalBuyingCost as varchar) + ' , UnPaymentMoney'+  cast(@Month as varchar) + ' = UnPaymentMoney'+  cast(@Month as varchar) +' + ' + cast(@TotalBuyingCost as varchar)
		set @Month = @Month + 1
		while ( @Month < 13 )
		begin
			set @SQL = @SQL + ', TotalBuyingCost'+ cast(@Month as varchar)+' = TotalBuyingCost' + cast(@Month as varchar)+' + ' + cast(@TotalBuyingCost as varchar) + ' , UnPaymentMoney'+  cast(@Month as varchar) + ' = UnPaymentMoney'+  cast(@Month as varchar) +' + ' + cast(@TotalBuyingCost as varchar)
			set @Month = @Month + 1
		end
		set @SQL = @SQL + ' where BusinessRegistrationNum = ''' + @BusinessRegistrationNum + ''' AND RecodingState = 1'
*/
		update b_ht set BuyingQuantity = @successQuantity, ApplyUnitCost = @ApplyUnitCost, TotalCost = (@ApplyUnitCost*@successQuantity),
						UpdatingPerson = @inspectionPost, UpdatingPersonID = @inspectionPostID, UpdatingDate = @Date
						where HistorySection = '품질관리' and HistoryIndex = @key

END		-- 외주 끝

exec (@SQL)
GO
