USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[EtcBuyingDeliveryPC_Search]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE         proc [dbo].[EtcBuyingDeliveryPC_Search]
(
	@ItemName varchar(50) = ''
	, @CompanyName varchar(50) = ''
	, @BusinessRegistrationNum varchar(50) = ''
	, @DeliveryDemandDate varchar(50) = ''
	, @DeliveryDemandDate1 varchar(50) = ''	
)
as
begin
	
	if(@BusinessRegistrationNum = '')
	begin
	
	select 
	ItemName
	, CompanyName
	, BusinessRegistrationNum
	, OrderQuantity
	, DeliveryQuantity
	, ApplyUnitCost
	, TotalCost
	, ReasonCode
	, ReasonName
	, DeliveryDemandDate
	, RegistrationPerson
	, RegistrationPersonID
	, RegistrationDate
	, UpdatingPerson
	, UpdatingPersonID
	, UpdatingDate
	, EtcBuyingDeliveryHistoryIndex
	, EtcBuyingOrderHistoryIndex
	, [Year]
	, [Month]
	 from etcbd_ht
	where
	(
		( case when @ItemName <> '' then ItemName else '' end )
		like
		( case when @ItemName <> '' then '%' + @ItemName + '%' else '' end )
		and 
		( case when @CompanyName <> '' then CompanyName else '' end )
		like
		( case when @CompanyName <> '' then '%' + @CompanyName + '%' else '' end )
		and DeliveryDemandDate between
	
		(
			case 
			when(@DeliveryDemandDate <> '')
			then @DeliveryDemandDate
			else '2004-01-01'
			end
		)
		and 
		(
			case 
			when ( @DeliveryDemandDate1 <> '')
			then @DeliveryDemandDate1
			else	 '2050-01-01'
			end
		)
		--and DeliveryDemandDate
		--<=
		--( case when @DeliveryDemandDate <> '' then @DeliveryDemandDate else '2050-12-31' end )
	)
	order by DeliveryDemandDate desc
	end
	else
	begin
		select 
		ItemName
		, CompanyName
		, BusinessRegistrationNum
		, OrderQuantity
		, DeliveryQuantity
		, ApplyUnitCost
		, TotalCost
		, ReasonCode
		, ReasonName
		, DeliveryDemandDate
		, RegistrationPerson
		, RegistrationPersonID
		, RegistrationDate
		, UpdatingPerson
		, UpdatingPersonID
		, UpdatingDate
		, [Year]
		, [Month]
		, EtcBuyingDeliveryHistoryIndex
		, EtcBuyingOrderHistoryIndex
		 from etcbd_ht
		where
		(
			BusinessRegistrationNum = @BusinessRegistrationNum
			and
			( case when @ItemName <> '' then ItemName else '' end )
			like
			( case when @ItemName <> '' then '%' + @ItemName + '%' else '' end )
			and 
			( case when @CompanyName <> '' then CompanyName else '' end )
			like
			( case when @CompanyName <> '' then '%' + @CompanyName + '%' else '' end )
			and DeliveryDemandDate between
		
			(
				case 
				when(@DeliveryDemandDate <> '')
				then @DeliveryDemandDate
				else '2004-01-01'
				end
			)
			and 
			(
				case 
				when ( @DeliveryDemandDate1 <> '')
				then @DeliveryDemandDate1
				else	 '2050-01-01'
				end
			)
		)
		order by DeliveryDemandDate desc
	end	
end
GO
