USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[ItemErr]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[ItemErr] AS
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[ROErr_HT]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[ROErr_HT]
CREATE TABLE [dbo].[ROErr_HT] (
	[ItemNum] [nvarchar] (150) COLLATE Korean_Wansung_CI_AS NULL ,
	[CompanyName] [nvarchar] (150) COLLATE Korean_Wansung_CI_AS NULL ,
	[BusinessRegistrationNum] [nvarchar] (50) COLLATE Korean_Wansung_CI_AS NULL ,
	[ReceivingOrderDate] [smalldatetime] NULL ,
	[ApplyUnitCost] [decimal](20, 2) NULL ,
	[DeliveryRequestDate] [smalldatetime] NULL ,
	[TotalReceiveingOrderQuantity] [decimal](20, 2) NULL ,
	[OrderNum] [nvarchar] (50) COLLATE Korean_Wansung_CI_AS NULL ,
	[DeliveryPlace] [nvarchar] (50) COLLATE Korean_Wansung_CI_AS NULL ,
	[ErrorReason] [nvarchar] (500) COLLATE Korean_Wansung_CI_AS NULL ,
	[ReceivingOrderErrorHistoryIndex] [int] IDENTITY (1, 1) NOT NULL 
) ON [PRIMARY]
ALTER TABLE [dbo].[ROErr_HT] ADD 
	CONSTRAINT [PK_ROErr_HT] PRIMARY KEY  CLUSTERED 
	(
		[ReceivingOrderErrorHistoryIndex]
	)  ON [PRIMARY]
GO
