USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[BO_OO_ProgressCondition]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   proc [dbo].[BO_OO_ProgressCondition] (@userID varchar(50))
as 
Declare @BusinessRegistrationNum varchar(50)
set @BusinessRegistrationNum =(select BusinessRegistrationNum from UI_MT where ID =@userID)
 
select * from OrderPC where (progresscondition ='대기' or progresscondition = '진행') and OrderPC.BusinessRegistrationNum = @BusinessRegistrationNum
GO
