USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[OutOrder_ChildItem_BOM]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 특정제품을 생산하는데 필요한 부품과 수량
CREATE        PROC [dbo].[OutOrder_ChildItem_BOM] @ItemNum AS VARCHAR(50), @Quantity AS DECIMAL(20, 3), @Tree BIT = 1, @Level int
AS
IF exists (Select 1 From tempdb..sysobjects where name like '#TempTree%')
		DROP TABLE #TempTree
	-- 특정제품을 생산하는데 필요한 부품과 수량을 임시로 기억할 Table
	CREATE TABLE #TempTree
	(
		ItemNum VARCHAR(50),
		PropertyClassification Varchar(10),
		Quantity decimal(20, 2),
		Lvl TINYINT,
		Path VARCHAR(500),
		UnitCost decimal(20, 2)	--기준단가 창고업데이트 용 이므로...
	)  
	-- 품목을 구성하기 위해 임시로 만든 Table
	IF exists (Select 1 From tempdb..sysobjects where name like '#TempItem%')
		DROP TABLE #TempItem
	CREATE TABLE #TempItem
	(
		ItemNum	VARCHAR(50),
		PropertyClassification Varchar(10),		
		NeedQuantityDenominator DECIMAL(20, 3),
		ParentItemNum VARCHAR(50),
		UnitCost decimal(20, 2)	--기준단가 창고업데이트 용 이므로...
	)
	-- 자품번호입력
	INSERT INTO #TempItem
	SELECT 
		IOI_MT.ChildItemNum AS ItemNum
		, PropertyClassification
		, IOI_MT.NeedQuantityNumerator / IOI_MT.NeedQuantityDenominator AS NeedQuantityDenominator
		, IOI_MT.ParentItemNum  AS ParentItemNum
		, II_MT.StandardUnitCost as UnitCost
	FROM  II_MT JOIN IOI_MT 
	ON II_MT.ItemNum = IOI_MT.ChildItemNum	
	WHERE (II_MT.RecodingState = 1) AND (IOI_MT.RecodingState = 1)
	-- 모품번호입력
	INSERT INTO #TempItem 
	SELECT ItemNum
	,   PropertyClassification 
	, 1 AS NeedQuantityDenominator
	, null AS ParentItemNum
	, II_MT.StandardUnitCost as UnitCost
	FROM II_MT WHERE II_MT.RecodingState = 1 AND ItemNum = @ItemNum
	DECLARE @Lvl TINYINT, @Path VARCHAR(500)
	
	SET @Lvl = 1
	-- 모품ItemNum + 자기ItemNum
	SET @Path = ''
	INSERT INTO #TempTree
	SELECT TOP 1 ItemNum,   PropertyClassification ,@Quantity, @Lvl, @Path + CAST(ItemNum as varchar(50)), UnitCost
	FROM #TempItem WHERE ItemNum = @ItemNum
	WHILE ( @@ROWCOUNT > 0 )
	BEGIN
		SET @Lvl = @Lvl + 1
		INSERT INTO #TempTree
		SELECT TempItem.ItemNum
			, TempItem.PropertyClassification
			, TempItem.NeedQuantityDenominator * TempTree.Quantity
			, @Lvl
			, (TempTree.Path + CAST(TempItem.ItemNum as varchar(50)) ) 
			, TempItem.UnitCost
		FROM #TempItem AS TempItem JOIN #TempTree AS TempTree
		ON TempItem.ParentItemNum = TempTree.ItemNum AND TempTree.Lvl = @Lvl - 1
	END
	IF @Tree = 1
	BEGIN
		SELECT ItemNum, case when PropertyClassification = '원자재' then 0 end , PropertyClassification, Quantity, UnitCost as StandardUnitCost
		FROM #TempTree 
		where lvl = @Level
		ORDER BY Path ASC
	END
	ELSE
	BEGIN
		SELECT ItemNum, sum(Quantity) 'total' 
		FROM #TempTree
		GROUP BY ItemNum , Path
		ORDER BY Path
	END
RETURN 0
GO
