USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[SPStorehouseItemReceiptsAndDisbursements]    Script Date: 07/02/2026 08:48:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE                                proc [dbo].[SPStorehouseItemReceiptsAndDisbursements] ( 
						  @ItemNum varchar(150) = '' 
						,  @ItemDrawNum varchar(150) = '' 
						,  @ItemName varchar(150) = '' 
						,  @CompanyName varchar(150) = '' 
						,  @BusinessRegistrationNum varchar(50) = '' 
						,  @ProcessCode varchar(20) = ''
						,  @FromDate smalldatetime
						,  @ToDate smalldatetime
	)
as
/*
declare   @ItemNum varchar(50)
declare	 @ItemDrawNum varchar(50) 
declare	 @ItemName varchar(50) 
declare	 @CompanyName varchar(50) 
declare	 @BusinessRegistrationNum varchar(50) 
declare	 @FromDate smalldatetime
declare	 @ToDate smalldatetime
declare    @ProcessCode varchar(50)
Set   @ItemNum = 'M3235-11161'
Set	 @ItemDrawNum = ''
Set	 @ItemName = ''
Set	 @CompanyName =''
Set	 @BusinessRegistrationNum =''
Set	 @ProcessCode = ''
Set	 @FromDate =''
Set	 @ToDate =''
*/
	if(@FromDate = '')
		Set @FromDate = '1900-01-01'
	if(@ToDate ='')
		Set @ToDate = '2076-01-01'
	IF exists (Select 1 From tempdb..sysobjects where name like '#StorehouseItem%')
		DROP TABLE #StorehouseItem
	CREATE TABLE #StorehouseItem
	(
		ItemNum VARCHAR(50),
		ItemDrawNum Varchar(50),
		ItemName VARCHAR(50),		
		ProcessSequenceNum int,
		ProcessCode VARCHAR(50),
		ProcessName VARCHAR(50),
		Division Varchar(10),
		ReceiveStockQuantity decimal(20,2),		
		OutStockQuantity decimal(20,2),	
		CompanyName VARCHAR(50),
		BusinessRegistrationNum VARCHAR(50),
		InOutDate smalldatetime,
		HistoryDivision  VARCHAR(50),
		HistoryIndex int,
	)  
	Insert into #StorehouseItem
	Select ItemNum, ItemDrawNum, ItemName, ProcessSequenceNum, ProcessCode, ProcessName, Division, InQuantity as ReceiveStockQuantity,  OutQuantity as OutStockQuantity , CompanyName,  BusinessRegistrationNum, [Date] as InOutDate, HistoryDivision, [Index]
	From
	(
		
		select ItemNum, ItemDrawNum, ItemName, ProcessSequenceNum, ProcessCode, ProcessName, 
		case When Division = '0' then '출고' else '입고' end as Division,
		case  when Division = '1' then Quantity else 0 end as InQuantity,
		case  when Division = '0' then Quantity else 0 end as OutQuantity,
	
		case when HistoryDivision = '구매납품' then  (Select CompanyName From BD_HT Where BuyingDeliveryHistoryIndex = HistoryIndex) 
		--case when Division = '1' and HistoryDivision = '품질검사' then  (Select CompanyName From QI_HT Where QualityInspectionHistoryIndex = HistoryIndex) 	
		end as CompanyName ,  
		case when HistoryDivision = '구매납품' then  (Select BusinessRegistrationNum From BD_HT Where BuyingDeliveryHistoryIndex = HistoryIndex) 
		end as BusinessRegistrationNum ,[Date], HistoryDivision,[Index]
		From SH_HT
		Where HistoryDivision = '구매납품'
	
		union all
		select ItemNum, ItemDrawNum, ItemName, ProcessSequenceNum, ProcessCode, ProcessName, 
		case When Division = '0' then '출고' else '입고' end as Division,
		case  when Division = '1' then Quantity else 0 end as InQuantity,
		case  when Division = '0' then Quantity else 0 end as OutQuantity,
		'생산창고' as CompanyName ,  '999-99-99999' as BusinessRegistrationNum ,[Date], HistoryDivision,[Index]
		From SH_HT
		Where  HistoryDivision = '작업일보' 
		Union all
	
		select ItemNum, ItemDrawNum, ItemName, ProcessSequenceNum, ProcessCode, ProcessName, 
		case When Division = '0' then '출고' else '입고' end as Division,
		case  when Division = '1' then Quantity else 0 end as InQuantity,
		case  when Division = '0' then Quantity else 0 end as OutQuantity,
	
		case when HistoryDivision = '외주출고' then  (Select CompanyName From OOS_HT Where OutSideOutStorehouseHistoryIndex = HistoryIndex) 	
		end as CompanyName ,  
		case when HistoryDivision = '외주출고' then  (Select BusinessRegistrationNum From OOS_HT Where OutSideOutStorehouseHistoryIndex = HistoryIndex) 
		end as BusinessRegistrationNum ,[Date], HistoryDivision,[Index]
		From SH_HT
		Where  HistoryDivision = '외주출고' 
		
		union all
	
		select ItemNum, ItemDrawNum, ItemName, ProcessSequenceNum, ProcessCode, ProcessName, 
		case When Division = '0' then '출고' else '입고' end as Division,
		case  when Division = '1' then Quantity else 0 end as InQuantity,
		case  when Division = '0' then Quantity else 0 end as OutQuantity,
	
		case when HistoryDivision = '외주납품' then  (Select CompanyName From OSD_HT Where OutSideDeliveryHistoryIndex = HistoryIndex) 	
		end as CompanyName ,  
		case when HistoryDivision = '외주납품' then  (Select BusinessRegistrationNum From OSD_HT Where OutSideDeliveryHistoryIndex = HistoryIndex) 
		end as BusinessRegistrationNum ,[Date], HistoryDivision,[Index]
		From SH_HT
		Where  HistoryDivision = '외주납품'
		union all
	
		select ItemNum, ItemDrawNum, ItemName, ProcessSequenceNum, ProcessCode, ProcessName, 
		case When Division = '0' then '출고' else '입고' end as Division,
		case  when Division = '1' then Quantity else 0 end as InQuantity,
		case  when Division = '0' then Quantity else 0 end as OutQuantity,
	
		case when HistoryDivision = '품질검사' then  (Select CompanyName From QI_HT Where QualityInspectionHistoryIndex = HistoryIndex) 	
		end as CompanyName ,  
		case when HistoryDivision = '품질검사' then  (Select BusinessRegistrationNum From QI_HT Where QualityInspectionHistoryIndex = HistoryIndex) 
		end as BusinessRegistrationNum ,[Date], HistoryDivision,[Index]
		From SH_HT
		Where HistoryDivision = '품질검사'
	
		
		union all
		select ItemNum, ItemDrawNum, ItemName, ProcessSequenceNum, ProcessCode, ProcessName, 
		case When Division = '0' then '출고' else '입고' end as Division,
		case  when Division = '1' then Quantity else 0 end as InQuantity,
		case  when Division = '0' then Quantity else 0 end as OutQuantity,
	
		case When ProcessSequenceNum = '99' then '영업창고' else '생산창고' end as CompanyName ,  
		'999-99-99999' as  BusinessRegistrationNum ,[Date], HistoryDivision,[Index]
		From SH_HT
		Where  HistoryDivision = '제품입고'
		union all
		select ItemNum, ItemDrawNum, ItemName, ProcessSequenceNum, ProcessCode, ProcessName, 
		case When Division = '0' then '출고' else '입고' end as Division,
		case  when Division = '1' then Quantity else 0 end as InQuantity,
		case  when Division = '0' then Quantity else 0 end as OutQuantity,
	
		case when HistoryDivision = '제품출고' then  (Select CompanyName From OS_HT Where OutStorehouseHistoryIndex = HistoryIndex) 	
		end as CompanyName ,  
		case when HistoryDivision = '제품출고' then  (Select BusinessRegistrationNum From OS_HT Where OutStorehouseHistoryIndex = HistoryIndex) 
		end as BusinessRegistrationNum ,[Date], HistoryDivision,[Index]
		From SH_HT
		Where  HistoryDivision = '제품출고' 
		union all
		select ItemNum, ItemDrawNum, ItemName, ProcessSequenceNum, ProcessCode, ProcessName, 
		case When Division = '0' then '출고' else '입고' end as Division,
		case  when Division = '1' then Quantity else 0 end as InQuantity,
		case  when Division = '0' then Quantity else 0 end as OutQuantity,
	
		case when HistoryDivision = '매출등록' then  (Select CompanyName From S_HT Where SaleHistoryIndex = HistoryIndex) 	
		end as CompanyName ,  
		case when HistoryDivision = '매출등록' then  (Select BusinessRegistrationNum From S_HT Where SaleHistoryIndex = HistoryIndex) 
		end as BusinessRegistrationNum ,[Date], HistoryDivision,[Index]
		From SH_HT
		Where  HistoryDivision = '매출등록'
		union all
		select ItemNum, ItemDrawNum, ItemName, ProcessSequenceNum, ProcessCode, ProcessName, 
		case When Division = '0' then '출고' else '입고' end as Division,
		case  when Division = '1' then Quantity else 0 end as InQuantity,
		case  when Division = '0' then Quantity else 0 end as OutQuantity,
	
		case 
			 when StoreName = '생산창고'  then '생산창고' 
			 When StoreName = '원자재창고'  then '원자재창고'
			When StoreName = '외주창고'  then (Select isnull(CompanyName, '창고') From OIOS_HT Where OtherInOutStorehouseHistoryIndex = HistoryIndex) 	
			When StoreName = '납품창고'  then '납품창고'
			When StoreName = '보용품창고'  then '보용품창고'
			else '영업창고'
		
		end as CompanyName ,
		case when HistoryDivision = '기타입출고' then  (Select isnull(BusinessRegistrationNum, '999-99-99999')  From OIOS_HT Where OtherInOutStorehouseHistoryIndex = HistoryIndex) 
		end as BusinessRegistrationNum ,[Date], HistoryDivision,[Index]
		From SH_HT
		Where  HistoryDivision = '기타입출고' 

		union all
		select ItemNum, ItemDrawNum, ItemName, ProcessSequenceNum, ProcessCode, ProcessName, 
		case When Division = '0' then '출고' else '입고' end as Division,
		case  when Division = '1' then Quantity else 0 end as InQuantity,
		case  when Division = '0' then Quantity else 0 end as OutQuantity,
	
		case 
			 when StoreName = '생산창고'  then '생산창고' 
			 When StoreName = '원자재창고'  then '원자재창고'
			When StoreName = '외주창고'  then '외주창고'
			When StoreName = '납품창고'  then '납품창고'
			When StoreName = '보용품창고'  then '보용품창고'
			else '영업창고'
		
		end as CompanyName ,
		case when HistoryDivision = '보용품입고' then  (Select isnull(BusinessRegistrationNum, '999-99-99999')  From OIOS_HT Where OtherInOutStorehouseHistoryIndex = HistoryIndex) 
		end as BusinessRegistrationNum ,[Date], HistoryDivision,[Index]
		From SH_HT
		Where  HistoryDivision = '보용품입고' 

		union all
		select ItemNum, ItemDrawNum, ItemName, ProcessSequenceNum, ProcessCode, ProcessName, 
		case When Division = '0' then '출고' else '입고' end as Division,
		case  when Division = '1' then Quantity else 0 end as InQuantity,
		case  when Division = '0' then Quantity else 0 end as OutQuantity,
	
		case 
			 when StoreName = '생산창고'  then '생산창고' 
			 When StoreName = '원자재창고'  then '원자재창고'
			When StoreName = '외주창고'  then '외주창고' -- (Select isnull(CompanyName, '창고') From OIOS_HT Where OtherInOutStorehouseHistoryIndex = HistoryIndex) 	
			When StoreName = '납품창고'  then '납품창고'
			When StoreName = '보용품창고'  then '보용품창고'
			else '영업창고'
		
		end as CompanyName ,
		case when HistoryDivision = '공통소진' then '999-99-99999' --(Select isnull(BusinessRegistrationNum, '999-99-99999')  From OIOS_HT Where OtherInOutStorehouseHistoryIndex = HistoryIndex) 
		end as BusinessRegistrationNum ,[Date], HistoryDivision,[Index]
		From SH_HT
		Where  HistoryDivision = '공통소진' 

	
	)T
	where ItemNum like '%'+@ItemNum + '%' and ItemDrawNum like '%'+@ItemDrawNum + '%' and ItemName like '%'+@ItemName + '%' and
		CompanyName like '%'+@CompanyName + '%' and BusinessRegistrationNum like '%'+@BusinessRegistrationNum + '%' and
		ProcessCode like '%'+@ProcessCode + '%'  and
	[Date] BETWEEN @FromDate AND @ToDate
	Select 
		  ItemNum
		, ItemDrawNum
		, ItemName 
		, ProcessSequenceNum
		, ProcessCode
		, ProcessName
		, Division 
		, ReceiveStockQuantity 
		, OutStockQuantity 
		, CompanyName 
		, BusinessRegistrationNum
		, InOutDate
		, HistoryDivision 
		, HistoryIndex
	From
	(	
		Select 
			  ItemNum
			, ItemDrawNum
			, ItemName 
			, ProcessSequenceNum
			, ProcessCode
			, ProcessName
			, Division 
			, ReceiveStockQuantity 
			, OutStockQuantity 
			, CompanyName 
			, BusinessRegistrationNum
			, InOutDate
			, HistoryDivision 
			, ItemNum as Num
			, '1' as Idx
			, HistoryIndex
		From #StorehouseItem
	/*	union all
		Select 
			  null
			,  null
			, '소 계'
			, null
			, null
			, null
			, null
			, sum(ReceiveStockQuantity)
			, Sum(OutStockQuantity) 
			, null
			, null
			, null
			, null
			, ItemNum as Num
			, '2' as Idx
		From #StorehouseItem
		GROUP BY ItemNum
*/		
		union all
		
		Select 
			  '합 계'
			, null
			, null
			, null
			, null
			, null
			, null
			, sum(ReceiveStockQuantity)
			, Sum(OutStockQuantity) 
			, null
			, null
			, null
			, null
			, 'zzzzzz' as Num
			, '3' as Idx
			, null
		From #StorehouseItem		
)A
	Order by Num,  Idx, InOutDate desc, ProcessSequenceNum desc,  HistoryIndex desc
GO
