USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[NonWorkingRatioIndex_Search]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--비가동지표
CREATE          proc [dbo].[NonWorkingRatioIndex_Search] ( @WCname varchar(30) = '' ,  @WCInfoIndex int = null )
as
begin
	IF exists (	Select * From tempdb..sysobjects where name like '#NWRIndex%'    )
		DROP TABLE #NWRIndex
	create table  #NWRIndex
	( 
				Div1	varchar(20)					-- 구분1 ( 합계, WC1, WC2... )
			,	Div2   varchar(20)					-- 구분2 ( 가동률, 계획시간, 작업시간 )
			,	PreYear decimal(20,2)	default 0		-- 전년도
			,	[Total] decimal(20,2)	default 0		-- 누계
			,	[1Month] decimal(20,2) 	default 0
			,	[2Month] decimal(20,2)	default 0
			,	[3Month] decimal(20,2)	default 0
			,	[4Month] decimal(20,2)	default 0
			,	[5Month] decimal(20,2)	default 0
			,	[6Month] decimal(20,2)	default 0
			,	[7Month] decimal(20,2)	default 0
			,	[8Month] decimal(20,2)	default 0
			,	[9Month] decimal(20,2)	default 0
			,	[10Month] decimal(20,2)	default 0
			,	[11Month] decimal(20,2)	default 0
			,	[12Month] decimal(20,2)	default 0
	)
	
	insert into #NWRIndex ( Div1, Div2 ) values( '합 계' , '합 계')
	declare @m_WCname varchar(50)
	declare @m_WCMonth varchar(20)
	declare @m_NonWorkTimeReason1 varchar(20)
	declare @m_NonWorkTime1 decimal(20,2)
	declare @m_NonWorkTimeReason2 varchar(20)
	declare @m_NonWorkTime2 decimal(20,2)
	declare @m_NonWorkTimeReason3 varchar(20)
	declare @m_NonWorkTime3 decimal(20,2)
	declare @SQL1 varchar(8000)
	declare @SQL2 varchar(8000)
	declare @SQL3 varchar(8000)
	declare @SQL4 varchar(8000)
	declare @SQL5 varchar(8000)
	declare @i int
	set @SQL1 = ''
	set @SQL2 = ''
	set @SQL3 = ''
	set @SQL4 = ''
	set @SQL5 = ''
	set @i = 0
	DECLARE CUR CURSOR
	READ_ONLY
	FOR 
/*
			declare @WCname varchar(30)
			declare @WCInfoIndex int
			set @WCInfoIndex = null
			set @WCname = ''
*/			
			select WCName
			, datepart(mm, WorkEndTime) as [Month]
			, NonWorkTimeReason1
			, sum(NonWorkTime1)
			, NonWorkTimeReason2
			, sum(NonWorkTime2)
			, NonWorkTimeReason3
			, sum(NonWorkTime3)
			from wdr_ht 
			where (  datepart(yy, WorkEndTime) = datepart(yy, getdate()) and 
			(
				case when @WCname <> ''  then WCName else '' end
				like
				case when @WCname <> '' then '%' + @WCname + '%' else '' end
			)
			and
			(
				case when @WCInfoIndex is not null  then WCInfoIndex else '' end
				=
				case when @WCInfoIndex is not null  then @WCInfoIndex else '' end
			)
			and (NonWorkTime1 > 0  or NonWorkTime2 > 0 or NonWorkTime3 > 0 ) )
			Group by WCName 
			, datepart(mm, WorkEndTime)
			, datepart(YY, WorkEndTime)
			, NonWorkTimeReason1
			, NonWorkTimeReason2
			, NonWorkTimeReason3
	open	CUR
	IF( @@CURSOR_ROWS <> 0 )
	BEGIN
	
			WHILE ( @i < @@CURSOR_ROWS)
			BEGIN
					fetch from CUR into 	@m_WCname, @m_WCMonth, @m_NonWorkTimeReason1, @m_NonWorkTime1, @m_NonWorkTimeReason2
									, @m_NonWorkTime2, @m_NonWorkTimeReason3, @m_NonWorkTime3
	
					IF	( @@FETCH_STATUS = 0 )		-- 정상적으로 읽었으면
					BEGIN
						if ( not exists ( select Div1 from #NWRIndex where Div1 = @m_WCname)  )
						begin
							insert into #NWRIndex ( Div1, Div2 ) values( @m_WCname ,  '합계' )
						end
						if ( not exists ( select Div2 from #NWRIndex where Div1 = @m_WCname and Div2 = @m_NonWorkTimeReason1) and (@m_NonWorkTimeReason1 is not null  and @m_NonWorkTimeReason1 <> ''  ))
						begin
							insert into #NWRIndex ( Div1, Div2 ) values( @m_WCname ,  @m_NonWorkTimeReason1 )
						end
						if ( not exists ( select Div2 from #NWRIndex where Div1 = @m_WCname and Div2 = @m_NonWorkTimeReason2)  and (@m_NonWorkTimeReason2 is not null  and @m_NonWorkTimeReason2 <> ''))
						begin
							insert into #NWRIndex ( Div1, Div2 ) values( @m_WCname ,  @m_NonWorkTimeReason2 )
						end
						if ( not exists ( select Div2 from #NWRIndex where Div1 = @m_WCname and Div2 = @m_NonWorkTimeReason3) and (@m_NonWorkTimeReason3 is not null   and @m_NonWorkTimeReason3 <> ''))
						begin
							insert into #NWRIndex ( Div1, Div2 ) values( @m_WCname ,  @m_NonWorkTimeReason3 )
						end
						
						set @SQL1 = ''
						set @SQL2 = ''
						set @SQL3 = ''
						set @SQL4 = ''
						set @SQL5 = ''
						set @SQL5 = ''
						if ( @m_NonWorkTimeReason1 is not null and  @m_NonWorkTime1 is not null)
						begin
							set @SQL1 = @SQL1 + ' update #NWRIndex set [' + @m_WCMonth + 'month] =  [' + @m_WCMonth + 'month] + ' + cast(@m_NonWorkTime1 as varchar(20)) +' where Div1 = ''' +@m_WCname+''' and Div2 = '''+@m_NonWorkTimeReason1+''' '
							set @SQL2 = @SQL2 + ' update #NWRIndex set [' + @m_WCMonth + 'month] =  [' + @m_WCMonth + 'month] + ' + cast(@m_NonWorkTime1 as varchar(20)) +' where Div1 = ''' +@m_WCname+''' and Div2 = ''합계'' '
							set @SQL3 = @SQL3 + ' update #NWRIndex set [' + @m_WCMonth + 'month] =  [' + @m_WCMonth + 'month] + ' + cast(@m_NonWorkTime1 as varchar(20)) +' where Div1 = ''합 계'' and Div2 = ''합 계'' '
							set @SQL4 = @SQL4 + ' update #NWRIndex set total =  total + ' + cast(@m_NonWorkTime1 as varchar(20)) +' where Div1 = ''' +@m_WCname+''' and Div2 = '''+@m_NonWorkTimeReason1+''' '
							set @SQL5 = @SQL5 + ' update #NWRIndex set total =  total + ' + cast(@m_NonWorkTime1 as varchar(20)) +' where Div1 = ''' +@m_WCname+''' and Div2 = ''합계'' '
							set @SQL5 = @SQL5 + ' update #NWRIndex set total =  total + ' + cast(@m_NonWorkTime1 as varchar(20)) +' where Div1 = ''합 계'' and Div2 = ''합 계'' '
						end
						if ( @m_NonWorkTimeReason2 is not null and  @m_NonWorkTime2 is not null)
						begin
							set @SQL1 = @SQL1 + ' update #NWRIndex set [' + @m_WCMonth + 'month] =  [' + @m_WCMonth + 'month] + ' + cast(@m_NonWorkTime2 as varchar(20)) +' where Div1 = ''' +@m_WCname+''' and Div2 = '''+@m_NonWorkTimeReason2+''' '
							set @SQL2 = @SQL2 + ' update #NWRIndex set [' + @m_WCMonth + 'month] =  [' + @m_WCMonth + 'month] + ' + cast(@m_NonWorkTime2 as varchar(20)) +' where Div1 = ''' +@m_WCname+''' and Div2 = ''합계'' '						
							set @SQL3 = @SQL3 + ' update #NWRIndex set [' + @m_WCMonth + 'month] =  [' + @m_WCMonth + 'month] + ' + cast(@m_NonWorkTime2 as varchar(20)) +' where Div1 = ''합 계'' and Div2 = ''합 계'' '
							set @SQL4 = @SQL4 + ' update #NWRIndex set total =  total + ' + cast(@m_NonWorkTime2 as varchar(20)) +' where Div1 = ''' +@m_WCname+''' and Div2 = '''+@m_NonWorkTimeReason2+''' '
							set @SQL5 = @SQL5 + ' update #NWRIndex set total =  total + ' + cast(@m_NonWorkTime2 as varchar(20)) +' where Div1 = ''' +@m_WCname+''' and Div2 = ''합계'' '
							set @SQL5 = @SQL5 + ' update #NWRIndex set total =  total + ' + cast(@m_NonWorkTime2 as varchar(20)) +' where Div1 = ''합 계'' and Div2 = ''합 계'' '
						end
						if ( @m_NonWorkTimeReason3 is not null and  @m_NonWorkTime3 is not null)
						begin
							set @SQL1 = @SQL1 + ' update #NWRIndex set [' + @m_WCMonth + 'month] =  [' + @m_WCMonth + 'month] + ' + cast(@m_NonWorkTime3 as varchar(20)) +' where Div1 = ''' +@m_WCname+''' and Div2 = '''+@m_NonWorkTimeReason3+''' '
							set @SQL2 = @SQL2 + ' update #NWRIndex set [' + @m_WCMonth + 'month] =  [' + @m_WCMonth + 'month] + ' + cast(@m_NonWorkTime3 as varchar(20)) +' where Div1 = ''' +@m_WCname+''' and Div2 = ''합계'' '
							set @SQL3 = @SQL3 + ' update #NWRIndex set [' + @m_WCMonth + 'month] =  [' + @m_WCMonth + 'month] + ' + cast(@m_NonWorkTime3 as varchar(20)) +' where Div1 = ''합 계'' and Div2 = ''합 계'' '
							set @SQL4 = @SQL4 + ' update #NWRIndex set total =  total + ' + cast(@m_NonWorkTime3 as varchar(20)) +' where Div1 = ''' +@m_WCname+''' and Div2 = '''+@m_NonWorkTimeReason3+''' '
							set @SQL5 = @SQL5 + ' update #NWRIndex set total =  total + ' + cast(@m_NonWorkTime3 as varchar(20)) +' where Div1 = ''' +@m_WCname+''' and Div2 = ''합계'' '
							set @SQL5 = @SQL5 + ' update #NWRIndex set total =  total + ' + cast(@m_NonWorkTime3 as varchar(20)) +' where Div1 = ''합 계'' and Div2 = ''합 계'' '
						end
					END
					exec ( @SQL1 )
					exec ( @SQL2 )
					exec ( @SQL3 )
					exec ( @SQL4 )
					exec ( @SQL5 )
	
			set @i = @i +1
	
			END
	END
	CLOSE 				CUR
	DEALLOCATE CUR
		
				
			select 
			Div1	as [작업장 구분]
		,	Div2   as [구분]
		,	PreYear as [전년도]
		,	[Total] as [누계]
		,	[1Month] as [1월]
		,	[2Month] as [2월]
		,	[3Month] as [3월]
		,	[4Month] as [4월]
		,	[5Month] as [5월]
		,	[6Month] as [6월]
		,	[7Month] as [7월]
		,	[8Month] as [8월]
		,	[9Month] as [9월]
		,	[10Month] as [10월]
		,	[11Month] as [11월]
		,	[12Month] as [12월]
		from 
		#NWRIndex
end
GO
