USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[AutonomyInspectStatistics_Search]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE                     PROCEDURE [dbo].[AutonomyInspectStatistics_Search]
(
----------------------- AutonomyInspectStatistics.aspx ----------------------
		   @WCinfoindex smallint = 0			-- 작업장 번호키
		,  @WCName_arg varchar(50) = ''		-- 작업장 명 
		,  @ItemClassification1 varchar(15) = ''	-- 품목분류1  키
		,  @ItemClassification2 varchar(15) = ''	-- 품목분류2  키
		,  @ItemClassification3 varchar(15) = ''	-- 품목분류3  키
		,  @ItemClassification4 varchar(15) = ''	-- 품목분류4  키	
		,  @startDate varchar(11) = ''			-- 시작 등록날짜 
		,  @endDate varchar(11) = '' 			-- 종료 등록날짜
)
as
begin
select   
WCName  as [작업장 명]    
,  sum(wdr.cnt) AS [총 Lot 수]   
,  sum(wdr.y) as [부적합건수]
,  sum(cast(wdr.y AS decimal(20,2))) / CAST(sum(wdr.cnt) AS decimal(20,2)) * 100  AS [부적합율 (%)]
,  Sum(UnSuitabilityCost) as [손실 금액]    
,  sum(ThisWorkCompletionQuantity) as [거래 수량]    
,  sum(UnSuitabilityQuantity) as [부적합 수량]    
,  cast( SUM(UnSuitabilityQuantity) as decimal(20,2)) / cast(SUM(ThisWorkCompletionQuantity) as decimal(20,2))  * 1000000 as PPM   
from   
 (
	select WCName ,1 as cnt, 
	case 
		when	(UnSuitabilityStatusMeaning is not null and UnSuitabilityStatusMeaning <> '')		-- 부적합 사유가 발생하지 않았다면 1 발생하면 0
		then 	1
		else 	0
	end as y
	, UnSuitabilityCost
	, ThisWorkCompletionQuantity
	, UnSuitabilityQuantity
	from wdr_ht  
	join II_mt 
	on ii_mt.itemnum = wdr_ht.itemnum
	join puc_mt
	on puc_mt.SmallClassificationCode = ii_mt.ItemClassification1
	and
	(
		(
			case 
			when	( @ItemClassification1 <> '' )
			then		ii_mt.ItemClassification1
			else		''
			end
		)
		=
		(
			case 
			when	( @ItemClassification1 <> '' )
			then		@ItemClassification1 
			else		''
			end
		)
		and
		(
			case 
			when	( @ItemClassification2 <> '' )
			then		ii_mt.ItemClassification2
			else		''
			end
		)
		=
		(
			case 
			when	( @ItemClassification2 <> '' )
			then		@ItemClassification2 
			else		''
			end
		)
		and
		(
			case 
			when	( @ItemClassification3 <> '' )
			then		ii_mt.ItemClassification3
			else		''
			end
		)
		=
		(
			case 
			when	( @ItemClassification3 <> '' )
			then		@ItemClassification3 
			else		''
			end
		)
		and
		(
			case 
			when	( @ItemClassification4 <> '' )
			then		ii_mt.ItemClassification4
			else		''
			end
		)
		=
		(
			case 
			when	( @ItemClassification4 <> '' )
			then		@ItemClassification4 
			else		''
			end
		)
	
	)
	where 
	(
		wdr_ht.RegistrationDate between
		(
			case 
			when( @startDate <> '' )
			then @startDate
			else '2004-01-01'
			end
		)
		and 
		(
			case 
			when ( @endDate <> '' )
			then @endDate
			else	 '2050-01-01'
			end
		)
		and 
		(
			case 
			when ( @WCinfoindex <> 0 )
			then WCinfoindex
			else ''
			end
		)
		=
		(
			case 
			when ( @WCinfoindex <> 0 )
			then @WCinfoindex
			else  ''
			end
		)
		and 
		(
			case 
			when ( @WCName_arg <> '' )
			then WCname
			else ''
			end
		)
		like
		(
			case 
			when ( @WCName_arg <> '' )
			then '%' + @WCName_arg + '%'
			else  ''
			end
		)
	)	-- where
) as wdr
group by wdr.WCName
end
GO
