USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[BuyingWebComboItem]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   proc [dbo].[BuyingWebComboItem]
as
select  CompanyName as [거래처명],BusinessRegistrationNum as [사업자등록번호]
from CI_MT 
where BuyingCompany = 1 and RecodingState=1 
order by CompanyName
GO
