USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[SubBuyingOrderPC_Search]    Script Date: 07/02/2026 08:48:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE       proc [dbo].[SubBuyingOrderPC_Search]
(
	@ItemNum varchar(50) = ''
	,@ItemDrawNum varchar(50) = ''
	,@ItemName varchar(50) = ''
	, @CompanyName varchar(50) = ''
	, @BusinessRegistrationNum varchar(50) = ''
	, @DeliveryDate varchar(50) = ''
	, @DeliveryDate1 varchar(50) = ''
	, @ProgressCondition varchar(10) = '전체'
	, @Property  varchar(10) = '전체'
)
as
begin
	if(@BusinessRegistrationNum = '')
	begin
	
		
	select sbo_ht.ItemNum
	, sbo_ht.ItemDrawNum
	, sbo_ht.ItemName
	, CompanyName
	, BusinessRegistrationNum
	, DeliveryQuantity
	, sbo_ht.ApplyUnitCost
	, TotalCost
	, DeliveryDate
	, sbo_ht.RegistrationPerson
	, sbo_ht.RegistrationPersonID
	, sbo_ht.RegistrationDate
	, sbo_ht.UpdatingPerson
	, sbo_ht.UpdatingPersonID
	, sbo_ht.UpdatingDate
	, SubBuyingOrderHistoryIndex
	, ProgressCondition
	, PropertyClassification
	 from sbo_ht inner join ii_mt on sbo_ht.ItemNum = ii_mt.ItemNum
	where
	(
		( case when @ItemNum <> '' then sbo_ht.ItemNum else '' end )
		like
		( case when @ItemNum <> '' then '%' + @ItemNum + '%' else '' end )
		and 
		( case when @ItemDrawNum <> '' then sbo_ht.ItemDrawNum else '' end )
		like
		( case when @ItemDrawNum <> '' then '%' + @ItemDrawNum + '%' else '' end )
		and 

		( case when @ItemName <> '' then sbo_ht.ItemName else '' end )
		like
		( case when @ItemName <> '' then '%' + @ItemName + '%' else '' end )
		and 
		( case when @CompanyName <> '' then CompanyName else '' end )
		like
		( case when @CompanyName <> '' then '%' + @CompanyName + '%' else '' end )
		and DeliveryDate between
	
		(
			case 
			when(@DeliveryDate <> '')
			then @DeliveryDate
			else '2004-01-01'
			end
		)
		and 
		(
			case 
			when ( @DeliveryDate1 <> '')
			then @DeliveryDate1
			else	 '2050-01-01'
			end
		)
		and
		( case when @Property <> '' then PropertyClassification else '' end )
		like
		( case when @Property <> '' then '%' + @Property + '%' else '' end )
		and 
		( case when @ProgressCondition <> '전체' then ProgressCondition else '' end )
		=
		( case when @ProgressCondition <> '전체' then @ProgressCondition else '' end )

		and ii_mt.RecodingState = 1
	)
	order by DeliveryDate asc
	end
	else
	begin
		select sbo_ht.ItemNum
		, sbo_ht.ItemDrawNum
		, sbo_ht.ItemName
		, CompanyName
		, BusinessRegistrationNum
		, DeliveryQuantity
		, sbo_ht.ApplyUnitCost
		, TotalCost
		, DeliveryDate
		, sbo_ht.RegistrationPerson
		, sbo_ht.RegistrationPersonID
		, sbo_ht.RegistrationDate
		, sbo_ht.UpdatingPerson
		, sbo_ht.UpdatingPersonID
		, sbo_ht.UpdatingDate
		, SubBuyingOrderHistoryIndex
		, ProgressCondition
		, PropertyClassification
		 from sbo_ht inner join ii_mt on sbo_ht.ItemNum = ii_mt.ItemNum
		where
		( 
			BusinessRegistrationNum = @BusinessRegistrationNum
			and
			( case when @Property <> '' then PropertyClassification else '' end )
			like
			( case when @Property <> '' then '%' + @Property + '%' else '' end )
			and
			( case when @ItemNum <> '' then sbo_ht.ItemNum else '' end )
			like
			( case when @ItemNum <> '' then '%' + @ItemNum + '%' else '' end )
			and 
			( case when @ItemDrawNum <> '' then sbo_ht.ItemDrawNum else '' end )
			like
			( case when @ItemDrawNum <> '' then '%' + @ItemDrawNum + '%' else '' end )
			and 
			( case when @ItemName <> '' then sbo_ht.ItemName else '' end )
			like
			( case when @ItemName <> '' then '%' + @ItemName + '%' else '' end )
			and 
			( case when @CompanyName <> '' then CompanyName else '' end )
			like
			( case when @CompanyName <> '' then '%' + @CompanyName + '%' else '' end )
			and DeliveryDate between
		
			(
				case 
				when(@DeliveryDate <> '')
				then @DeliveryDate
				else '2004-01-01'
				end
			)
			and 
			(
				case 
				when ( @DeliveryDate1 <> '')
				then @DeliveryDate1
				else	 '2050-01-01'
				end
			)
			and 
			( case when @ProgressCondition <> '전체' then ProgressCondition else '' end )
			=
			( case when @ProgressCondition <> '전체' then @ProgressCondition else '' end )
		)
		order by DeliveryDate asc
	end
end
GO
