USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[SPInsertRealReversalBOM]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE                       PROC [dbo].[SPInsertRealReversalBOM] (
			@ChildItemNum AS VARCHAR(50)			
			,@ChildItemName AS VARCHAR(50)			
			,@EndItemNum AS VARCHAR(50)
			,@EndItemName AS VARCHAR(50)
			,@NeedQuantity AS decimal(20,2)
			)
AS
	Insert into TBRealReversalBOM	values(@ChildItemNum,@ChildItemName, @EndItemNum,@EndItemName,@NeedQuantity)
GO
