USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[SPTransperState1]    Script Date: 07/02/2026 08:48:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   proc [dbo].[SPTransperState1] (
			@Year varchar(10),
			@Month varchar(10)
		)	
as




/*
--Select * From #TempTable where ItemNum = '레이져절단기소모서부품구매'
declare @Year varchar(5)
Declare @Month varchar(2)
Set @Year = datepart(yy,getdate())
Set @Month =2

*/
Declare @Sql varchar(7000)
Declare @Division varchar(10)

Set @Division  ='상품'
Set @Month = @Month -1




IF exists (Select 1 From tempdb..sysobjects where name like '#TempTable%')
	DROP TABLE #TempTable
	create table #TempTable 
	( 
		[Division]		varchar(20)
	,	[ItemNum]		varchar(100)					-- 구분1 (원자재, 상품 )
	,	[ItemDrawNum]		varchar(100)					-- 구분1 (원자재, 상품 )
	,	[ItemName]		varchar(100)					-- 구분1 (원자재, 상품 )
	,	[ProcessCode]		varchar(20)					-- 구분1 (원자재, 상품 )
	,	[ProcessName]		varchar(20)					-- 구분1 (원자재, 상품 )
	,	[전월입고수량]		decimal(20,2)	default 0			-- 전월입고수량
	,	[전월입고금액]		decimal(20,2)	default 0			-- 전월입고금액
	,	[전월재고수량]		decimal(20,2) 	default 0			-- 전월재고수량
	,	[전월재고금액]		decimal(20,2)	default 0			-- 전월재고금액
	,	[금월입고수량]		decimal(20,2) 	default 0			-- 금월입고수량
	,	[금월입고금액]		decimal(20,2)	default 0			-- 금월입고금액	
	,	[금월출고수량]		decimal(20,2)	default 0			-- 금월출고수량
	,	[금월재고수량]		decimal(20,2)	default 0			-- 금월재고수량
	,	[금월재고금액]		decimal(20,2)	default 0			-- 금월재고금액
	,	[증감매입수량]		decimal(20,2)	default 0			-- 증감매입수량
	,	[증감매입금액]		decimal(20,2)	default 0			-- 증감매입금액
	,	[증감재고수량]		decimal(20,2)	default 0			-- 증감재고수량
	,	[증감재고금액] 		decimal(20,2)	default 0			-- 증감재고금액
	,	[ItemClassification1]	varchar(20)					-- 구분1 (원자재, 상품 )
	,	[ItemClassification2]	varchar(20)					-- 구분1 (원자재, 상품 )
	,	[ItemClassification3]	varchar(20)					-- 구분1 (원자재, 상품 )
	,	[ItemClassification4]	varchar(20)					-- 구분1 (원자재, 상품 )
	)


if(@Month  = 0)
begin
	Set @Year = @Year -1;
	Set @Month = '12'

		Insert into #TempTable
			Select PropertyClassification, II_MT.ItemNum, II_MT.ItemDrawNum, II_MT.ItemName, RMS_MT.ProcessCode, SmallClassificationName as ProcessName, 0,0,
			sum(LastYearTransferQuantity) as Quantity,0 as TotalCost,0,0,0,0,0,0,0,0,0,ItemClassification1,ItemClassification2,ItemClassification3,ItemClassification4
			From II_MT 
			inner join RMS_MT on II_MT.ItemNum = RMS_MT.ItemNum
			inner join PUC_MT on RMS_MT.ProcessCode = SmallClassificationCode
			where II_MT.RecodingState =1 and RMS_MT.RecodingState =1 and (RMS_MT.[Year] = @Year or RMS_MT.[Year] = @Year+1)
			group by  II_MT.ItemNum, II_MT.ItemDrawNum, II_MT.ItemName, RMS_MT.ProcessCode,SmallClassificationName   ,ItemClassification1,ItemClassification2,ItemClassification3,ItemClassification4,PropertyClassification
			
			--커서 선언
			DECLARE cur CURSOR 
			FOR
			
			/*
			Select BD_HT.ItemNum,sum(DeliveryQuantity) as StockQuantity  ,sum( TotalCost) as StockCost
			From BD_HT
			inner join II_MT on BD_HT.ItemNum = II_MT.ItemNum
			where [Year] = @Year and [Month] = @Month and PropertyClassification = '원자재'
			and  ( (CheckDistinction =1 and  BD_HT.ProgressCondition = '완료') or (CheckDistinction =0 and BD_HT.ProgressCondition = '대기')) and RecodingState =1
			group by BD_HT.ItemNum, BD_HT.ItemDrawNum ,BD_HT.ItemName
			*/

			Select ItemNum, Sum(StockQuantity) as StockQuantity, sum(StockCost) as StockCost
			From(
				Select QI_HT.ItemNum,sum(QI_HT.SuitabilityQuantity) as StockQuantity  ,sum( QI_HT.SuitabilityQuantity * QI_HT.ApplyUnitCost) as StockCost
				From QI_HT
				inner join II_MT on QI_HT.ItemNum = II_MT.ItemNum
				where [Year] = @Year and [Month] = @Month and PropertyClassification = '원자재'
				--and  ( (CheckDistinction =1 and  BD_HT.ProgressCondition = '완료') or (CheckDistinction =0 and BD_HT.ProgressCondition = '대기')) and RecodingState =1
				and QI_HT.ProgressCondition != '대기' and RecodingState =1
				group by QI_HT.ItemNum, QI_HT.ItemDrawNum ,QI_HT.ItemName
				union all
				Select OIOS_HT.ItemNum, Sum(InOutStorehouseQuantity) as StockQuantity ,0 as StockCost
				From OIOS_HT
				inner join II_MT on OIOS_HT.ItemNum = II_MT.ItemNum
				where datepart(yy,InOutDate)  = @Year and datepart(mm,InOutDate) = @Month and PropertyClassification = '원자재' and InOutStorehouseDistinction = 1 
				--and OIOS_HT.ItemNum= '31150-7142-2' 
				group by OIOS_HT.ItemNum
				union all
				Select II_MT.ItemNum, Sum(CreateQuantity) as Quantity , sum(0) as TotalCost
				From E_HT 
				inner join II_MT on E_HT.CreateItemNum = II_MT.ItemNum
				--where  (datepart(yy,ExhaustDate) = 2009) and (datepart(mm,ExhaustDate) = 2)
				where  (datepart(yy,ExhaustDate) = @Year) and (datepart(mm,ExhaustDate) = @Month)
				and  II_MT.RecodingState =1  and PropertyClassification = '원자재'
				group by II_MT.ItemNum
			) T
			group by ItemNum
			
			
			--커서 오픈
			OPEN cur
			
			--변수 선언
			DECLARE @ItemNum varchar(50)
			DECLARE @StockQuantity decimal(20,2)
			DECLARE @StockCost decimal(20,2)
			--첫 로우 FETCH
			FETCH NEXT FROM cur INTO @ItemNum, @StockQuantity, @StockCost
			WHILE @@FETCH_STATUS = 0
			BEGIN
			--FETCH된 데이터를 tempdb에 삽입
			Update #TempTable Set [전월입고수량] = @StockQuantity, [전월입고금액]=@StockCost where ItemNum = @ItemNum
			
			--다음 로우 FEETCH - 루프
			FETCH NEXT FROM cur INTO @ItemNum, @StockQuantity, @StockCost
			END
			--커서 CLOSE
			CLOSE cur
			
			--커서 DEALLOCATE
			DEALLOCATE cur
--			GO
	Insert into #TempTable
			Select PropertyClassification, ItemNum, ItemDrawNum, ItemName,ProcessCode,ProcessName, sum(A),sum(B),sum(LastYearTransferQuantity) as Quantity ,sum(C),sum(D),sum(E),sum(F),sum(G),sum(H),sum(I),sum(J),sum(K),sum(L),ItemClassification1,ItemClassification2,ItemClassification3,ItemClassification4
			From (
					Select PropertyClassification, II_MT.ItemNum, ItemDrawNum, ItemName, PS_MT.ProcessCode, SmallClassificationName as ProcessName, 0 as A ,0 as B,LastYearTransferQuantity ,0 as C,0 as D,0 as E,0 as F, 0 as G,0 as H,0 as I,0 as J,0 as K,0 as L,ItemClassification1,ItemClassification2,ItemClassification3,ItemClassification4
					From II_MT 
					inner join PS_MT on II_MT.ItemNum = PS_MT.ItemNum
					inner join PUC_MT on PS_MT.ProcessCode = SmallClassificationCode
					where II_MT.RecodingState =1 and PS_MT.RecodingState =1 and ( PS_MT.[Year] = @Year or PS_MT.[Year] = @Year+1)
					and II_MT.PropertyClassification = '상품'
					union all
					Select PropertyClassification,  II_MT.ItemNum, ItemDrawNum, ItemName, PS_MT.ProcessCode, SmallClassificationName as ProcessName, 0,0,Sum(LastYearTransferQuantity) as Quantity,0,0,0,0,0,0,0,0,0,0,ItemClassification1,ItemClassification2,ItemClassification3,ItemClassification4
					From II_MT 
					inner join PS_MT on II_MT.ItemNum = PS_MT.ItemNum
					inner join PUC_MT on PS_MT.ProcessCode = SmallClassificationCode
					where II_MT.RecodingState =1 and PS_MT.RecodingState =1 and  ( PS_MT.[Year] = @Year or PS_MT.[Year] = @Year+1)
					and II_MT.PropertyClassification = '상품'
					group by II_MT.ItemNum, ItemDrawNum, ItemName, PS_MT.ProcessCode, SmallClassificationName,ItemClassification1,ItemClassification2,ItemClassification3,ItemClassification4,PropertyClassification
			)T
			group by ItemNum, ItemDrawNum, ItemName, ProcessCode, ProcessName,ItemClassification1,ItemClassification2,ItemClassification3,ItemClassification4,PropertyClassification

				--커서 선언
			DECLARE cur CURSOR 
			FOR
			
			Select ItemNum, Sum(StockQuantity) as StockQuantity, sum(StockCost) as StockCost
			From(
				Select QI_HT.ItemNum,sum(QI_HT.SuitabilityQuantity) as StockQuantity  ,sum( QI_HT.SuitabilityQuantity * QI_HT.ApplyUnitCost) as StockCost
				From QI_HT
				inner join II_MT on QI_HT.ItemNum = II_MT.ItemNum
				where [Year] = @Year and [Month] = @Month and PropertyClassification = '상품'
				--and  ( (CheckDistinction =1 and  BD_HT.ProgressCondition = '완료') or (CheckDistinction =0 and BD_HT.ProgressCondition = '대기')) and RecodingState =1
				and QI_HT.ProgressCondition != '대기' and RecodingState =1
				group by QI_HT.ItemNum, QI_HT.ItemDrawNum ,QI_HT.ItemName
				union all
				Select OIOS_HT.ItemNum, Sum(InOutStorehouseQuantity) as StockQuantity ,0 as StockCost
				From OIOS_HT
				inner join II_MT on OIOS_HT.ItemNum = II_MT.ItemNum
				where datepart(yy,InOutDate)  = @Year and datepart(mm,InOutDate) = @Month and PropertyClassification = '상품' and InOutStorehouseDistinction = 1 
				group by OIOS_HT.ItemNum
			) T
			group by ItemNum
			
			--커서 오픈
			OPEN cur
			
			--변수 선언
			--DECLARE @ItemNum varchar(50)
			--DECLARE @StockQuantity decimal(20,2)
			--DECLARE @StockCost decimal(20,2)
			--첫 로우 FETCH
			FETCH NEXT FROM cur INTO @ItemNum, @StockQuantity, @StockCost
			WHILE @@FETCH_STATUS = 0
			BEGIN
			--FETCH된 데이터를 tempdb에 삽입
			Update #TempTable Set [전월입고수량] = @StockQuantity, [전월입고금액]=@StockCost where ItemNum = @ItemNum
			
			--다음 로우 FEETCH - 루프
			FETCH NEXT FROM cur INTO @ItemNum, @StockQuantity, @StockCost
			END
			--커서 CLOSE
			CLOSE cur
			
			--커서 DEALLOCATE
			DEALLOCATE cur
			--GO

	Set @Year = @Year +1;
	Set @Month = 0

end
else
begin

	Set @Year = @Year
	Set @Sql = 'insert into #TempTable
			Select PropertyClassification, II_MT.ItemNum, ItemDrawNum, ItemName, RMS_MT.ProcessCode, SmallClassificationName as ProcessName, 0,0, StockQuantity'+@Month+' ,0,0,0,0,0,0,0,0,0,0,ItemClassification1,ItemClassification2,ItemClassification3,ItemClassification4
			From II_MT 
			inner join RMS_MT on II_MT.ItemNum = RMS_MT.ItemNum
			inner join PUC_MT on RMS_MT.ProcessCode = SmallClassificationCode
			where II_MT.RecodingState =1 and RMS_MT.RecodingState =1 and RMS_MT.[Year] = ' +@Year+' '
		exec(@Sql)
	--커서 선언
			DECLARE cur CURSOR 
			FOR
			
			Select ItemNum, Sum(StockQuantity) as StockQuantity, sum(StockCost) as StockCost
			From(
				Select QI_HT.ItemNum,sum(QI_HT.SuitabilityQuantity) as StockQuantity  ,sum( QI_HT.SuitabilityQuantity * QI_HT.ApplyUnitCost) as StockCost
				From QI_HT
				inner join II_MT on QI_HT.ItemNum = II_MT.ItemNum
				where [Year] = @Year and [Month] = @Month and PropertyClassification = '원자재'
				--and  ( (CheckDistinction =1 and  BD_HT.ProgressCondition = '완료') or (CheckDistinction =0 and BD_HT.ProgressCondition = '대기')) and RecodingState =1
				and QI_HT.ProgressCondition != '대기' and RecodingState =1
				group by QI_HT.ItemNum, QI_HT.ItemDrawNum ,QI_HT.ItemName
				union all
				Select OIOS_HT.ItemNum, Sum(InOutStorehouseQuantity) as StockQuantity ,0 as StockCost
				From OIOS_HT
				inner join II_MT on OIOS_HT.ItemNum = II_MT.ItemNum
				where datepart(yy,InOutDate)  = @Year and datepart(mm,InOutDate) = @Month and PropertyClassification = '원자재' and InOutStorehouseDistinction = 1 
				group by OIOS_HT.ItemNum, OIOS_HT.ItemDrawNum ,OIOS_HT.ItemName
				union all
				Select II_MT.ItemNum, Sum(CreateQuantity) as Quantity , sum(0) as TotalCost
				From E_HT 
				inner join II_MT on E_HT.CreateItemNum = II_MT.ItemNum
				--where  (datepart(yy,ExhaustDate) = 2009) and (datepart(mm,ExhaustDate) = 2)
				where  (datepart(yy,ExhaustDate) = @Year) and (datepart(mm,ExhaustDate) = @Month)
				and  II_MT.RecodingState =1  and PropertyClassification = '원자재'
				group by II_MT.ItemNum
			) T
			group by ItemNum
			
			
			--커서 오픈
			OPEN cur
			
			--변수 선언
			--DECLARE @ItemNum varchar(50)
			--DECLARE @StockQuantity decimal(20,2)
			--DECLARE @StockCost decimal(20,2)
			--첫 로우 FETCH
			FETCH NEXT FROM cur INTO @ItemNum, @StockQuantity, @StockCost
			WHILE @@FETCH_STATUS = 0
			BEGIN
			--FETCH된 데이터를 tempdb에 삽입
			Update #TempTable Set [전월입고수량] = @StockQuantity, [전월입고금액]=@StockCost where ItemNum = @ItemNum
			
			--다음 로우 FEETCH - 루프
			FETCH NEXT FROM cur INTO @ItemNum, @StockQuantity, @StockCost
			END
			--커서 CLOSE
			CLOSE cur
			
			--커서 DEALLOCATE
			DEALLOCATE cur
			--GO
	

	
	
	Set @Division  ='상품'
			
	Set @Sql = 'insert into #TempTable	
			Select  PropertyClassification, ItemNum, ItemDrawNum, ItemName,ProcessCode,ProcessName, sum(A),sum(B),sum(Quantity) as Quantity ,sum(C),sum(D),sum(E),sum(F),sum(G),sum(H),sum(I),sum(J),sum(K),sum(L),ItemClassification1,ItemClassification2,ItemClassification3,ItemClassification4
			From (

					Select  PropertyClassification, II_MT.ItemNum, ItemDrawNum, ItemName, PS_MT.ProcessCode, SmallClassificationName as ProcessName, 0 as A ,0 as B, StockQuantity'+@Month+' as Quantity,0 as C,0 as D,0 as E,0 as F, 0 as G,0 as H,0 as I,0 as J,0 as K,0 as L,ItemClassification1,ItemClassification2,ItemClassification3,ItemClassification4
					From II_MT 
					inner join PS_MT on II_MT.ItemNum = PS_MT.ItemNum
					inner join PUC_MT on PS_MT.ProcessCode = SmallClassificationCode
					where II_MT.RecodingState =1 and PS_MT.RecodingState =1 and PS_MT.[Year] = '+@Year+' 
					and II_MT.PropertyClassification = '''+@Division+'''
					union all 
					Select PropertyClassification, II_MT.ItemNum, ItemDrawNum, ItemName, BS_MT.ProcessCode, SmallClassificationName as ProcessName, 0,0,sum(StockQuantity'+@Month+') as Quantity,0,0,0,0,0,0,0,0,0,0,ItemClassification1,ItemClassification2,ItemClassification3,ItemClassification4
					From II_MT 
					inner join BS_MT on II_MT.ItemNum = BS_MT.ItemNum
					inner join PUC_MT on BS_MT.ProcessCode = SmallClassificationCode
					where II_MT.RecodingState =1 and BS_MT.RecodingState =1 and BS_MT.[Year] =  '+@Year+' 
					and II_MT.PropertyClassification =  '''+@Division+'''
					group by II_MT.ItemNum, ItemDrawNum, ItemName, BS_MT.ProcessCode, SmallClassificationName,ItemClassification1,ItemClassification2,ItemClassification3,ItemClassification4,PropertyClassification
			)T
			group by ItemNum, ItemDrawNum, ItemName, ProcessCode, ProcessName,ItemClassification1,ItemClassification2,ItemClassification3,ItemClassification4,PropertyClassification'
	exec(@Sql)
		--커서 선언
			DECLARE cur CURSOR 
			FOR
			
			Select ItemNum, Sum(StockQuantity) as StockQuantity, sum(StockCost) as StockCost
			From(
				Select QI_HT.ItemNum,sum(QI_HT.SuitabilityQuantity) as StockQuantity  ,sum( QI_HT.SuitabilityQuantity * QI_HT.ApplyUnitCost) as StockCost
				From QI_HT
				inner join II_MT on QI_HT.ItemNum = II_MT.ItemNum
				where [Year] = @Year and [Month] = @Month and PropertyClassification = '상품'
				--and  ( (CheckDistinction =1 and  BD_HT.ProgressCondition = '완료') or (CheckDistinction =0 and BD_HT.ProgressCondition = '대기')) and RecodingState =1
				and QI_HT.ProgressCondition != '대기' and RecodingState =1
				group by QI_HT.ItemNum, QI_HT.ItemDrawNum ,QI_HT.ItemName
				union all
				Select OIOS_HT.ItemNum, Sum(InOutStorehouseQuantity) as StockQuantity ,0 as StockCost
				From OIOS_HT
				inner join II_MT on OIOS_HT.ItemNum = II_MT.ItemNum
				where datepart(yy,InOutDate)  = @Year and datepart(mm,InOutDate) = @Month and PropertyClassification = '상품' and InOutStorehouseDistinction = 1 
				group by OIOS_HT.ItemNum
			) T
			group by ItemNum
			
			
			
			--커서 오픈
			OPEN cur
			
			--변수 선언
			--DECLARE @ItemNum varchar(50)
			--DECLARE @StockQuantity decimal(20,2)
			--DECLARE @StockCost decimal(20,2)
			--첫 로우 FETCH
			FETCH NEXT FROM cur INTO @ItemNum, @StockQuantity, @StockCost
			WHILE @@FETCH_STATUS = 0
			BEGIN
			--FETCH된 데이터를 tempdb에 삽입
			Update #TempTable Set [전월입고수량] = @StockQuantity, [전월입고금액]=@StockCost where ItemNum = @ItemNum
			
			--다음 로우 FEETCH - 루프
			FETCH NEXT FROM cur INTO @ItemNum, @StockQuantity, @StockCost
			END
			--커서 CLOSE
			CLOSE cur
			
			--커서 DEALLOCATE
			DEALLOCATE cur
			--GO
end
Update #TempTable Set ItemClassification3 = '02300120'
where ItemClassification2 = '02200050'

---------------------------------------------------------------------------------------------------
--창고에 존재하지 않고 이력에 존재하는 부자재, 기타구매, 기타공제, 불량변상, 외주입고에 대한 전월 금액 및 금월금액 넣기 사작
------------------------------------------------------------------------------------------------------


IF exists (Select 1 From tempdb..sysobjects where name like '#TempTransperStateTable%')
	DROP TABLE #TempTransperStateTable
	create table #TempTransperStateTable 
	( 
		[Division]		varchar(20)
	,	[ItemNum]		varchar(100)					-- 구분1 (원자재, 상품 )
	,	[ItemDrawNum]		varchar(100)					-- 구분1 (원자재, 상품 )
	,	[ItemName]		varchar(100)					-- 구분1 (원자재, 상품 )
	,	[ProcessCode]		varchar(20)					-- 구분1 (원자재, 상품 )
	,	[ProcessName]		varchar(20)					-- 구분1 (원자재, 상품 )
	,	[전월입고수량]		decimal(20,2)	default 0			-- 전월입고수량
	,	[전월입고금액]		decimal(20,2)	default 0			-- 전월입고금액
	,	[전월재고수량]		decimal(20,2) 	default 0			-- 전월재고수량
	,	[전월재고금액]		decimal(20,2)	default 0			-- 전월재고금액
	,	[금월입고수량]		decimal(20,2) 	default 0			-- 금월입고수량
	,	[금월입고금액]		decimal(20,2)	default 0			-- 금월입고금액	
	,	[금월출고수량]		decimal(20,2)	default 0			-- 금월출고수량
	,	[금월재고수량]		decimal(20,2)	default 0			-- 금월재고수량
	,	[금월재고금액]		decimal(20,2)	default 0			-- 금월재고금액
	,	[증감매입수량]		decimal(20,2)	default 0			-- 증감매입수량
	,	[증감매입금액]		decimal(20,2)	default 0			-- 증감매입금액
	,	[증감재고수량]		decimal(20,2)	default 0			-- 증감재고수량
	,	[증감재고금액] 		decimal(20,2)	default 0			-- 증감재고금액
	,	[ItemClassification1]	varchar(20)					-- 구분1 (원자재, 상품 )
	,	[ItemClassification2]	varchar(20)					-- 구분1 (원자재, 상품 )
	,	[ItemClassification3]	varchar(20)					-- 구분1 (원자재, 상품 )
	,	[ItemClassification4]	varchar(20)					-- 구분1 (원자재, 상품 )
	)

---------------------------------------------------------------------------------------------------
--창고에 존재하지 않고 이력에 존재하는 부자재, 기타구매, 기타공제, 불량변상, 외주입고에 대한 전월 금액 및 금월금액 넣기 사작
------------------------------------------------------------------------------------------------------
if(@Month = 0)
begin
	Set @Year = @Year -1;
	Set @Month = '12'

--전월
	--부자재처리
	insert into #TempTransperStateTable
	Select PropertyClassification, II_MT.ItemNum,  II_MT.ItemDrawNum,  II_MT.ItemName, '' as ProcessCode, '' as ProcessName, sum(0) as Quantity,sum(TotalCost) as Cost ,sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),ItemClassification1,ItemClassification2, '02300140' as ItemClassification3,ItemClassification4
	From SBD_HT 
	inner join II_MT on SBD_HT.ItemNum = II_MT.ItemNum
	where II_MT.RecodingState = 1 and ((SBD_HT.[Year] = @Year and SBD_HT.[Month] = @Month))-- or (SBD_HT.[Year] = @Year+1 and SBD_HT.[Month] = 1))
	group by II_MT.ItemNum,  II_MT.ItemDrawNum,  II_MT.ItemName,ItemClassification1,ItemClassification2,ItemClassification3,ItemClassification4,PropertyClassification
	
	--기타구매처리
	
	insert into #TempTransperStateTable
	Select '기타' as PropertyClassification, EtcBD_HT.ItemName as ItemNum , EtcBD_HT.ItemName as ItemDrawNum, EtcBD_HT.ItemName as ItemName, '' as ProcessCode, '' as ProcessName, sum(0) as Quantity,sum(EtcBD_HT.TotalCost) as Cost ,sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0), '' as ItemClassification1, '' as ItemClassification2,  
	case ReasonCode when '18000010' then '02300150' 	else '02300160' end  as  ItemClassification3, '' as ItemClassification4
	From EtcBD_HT
	inner join PUC_MT on ReasonCode = SmallClassificationCode  where (([Year] = @Year and [Month] = @Month) )--or ([Year] = @Year+1 and [Month] = 1))
	--and EtcBD_HT.ItemName =  '176*150*16T외'
	group by ItemName, ReasonCode
	
	--기타공제관리
	insert into #TempTransperStateTable
	Select '기타' as PropertyClassification, EtcClaimRegion  as ItemNum , EtcClaimRegion as ItemDrawNum, EtcClaimRegion as ItemName, '' as ProcessCode, '' as ProcessName, sum(0) as Quantity, -sum(ClaimCost) as Cost ,sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0), '' as ItemClassification1, '' as ItemClassification2, '02300110' as ItemClassification3, '' as ItemClassification4
	From ECL_HT where  ((datepart(yy,ReceiptDate) = @Year and datepart(mm,ReceiptDate) = @Month))-- or (datepart(yy,ReceiptDate) = @Year+1 and datepart(mm,ReceiptDate) = 1))
	group by EtcClaimRegion

	--클레임처리
 	insert into #TempTransperStateTable
	Select '기타' as PropertyClassification, ItemName as  ItemNum , ItemName as ItemDrawNum,  ItemName,  '' as ProcessCode, '' as ProcessName, sum(0) as Quantity, -sum(ClaimCost) as Cost ,sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0), '' as ItemClassification1, '' as ItemClassification2, '02300110' as ItemClassification3, '' as ItemClassification4
	From PCL_HT where  (datepart(yy,ReceiptDate) = @Year) and (datepart(mm,ReceiptDate) = @Month)--  or datepart(mm,ReceiptDate) = @Month +1)
	--From PCL_HT where  (datepart(yy,ReceiptDate) = 2009) and (datepart(mm,ReceiptDate) = 1  or datepart(mm,ReceiptDate) = 1 +1)
	group by ItemNum,ItemDrawNum,ItemName
	
	--외주입고처리
	insert into #TempTransperStateTable
	Select PropertyClassification,  II_MT.ItemNum, II_MT.ItemDrawNum, II_MT.ItemName,  OSD_HT.ProcessCode,  OSD_HT.ProcessName, Sum(0) as Quantity ,  sum(QI_HT.SuitabilityQuantity * QI_HT.ApplyUnitCost) as TotalCost, sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),  ItemClassification1,  ItemClassification2,  '02300130' as ItemClassification3,  ItemClassification4
	From OSD_HT 
	inner join QI_HT on  OSD_HT.OutSideDeliveryHistoryIndex  = QI_HT.HistoryIndex1
	inner join II_MT on OSD_HT.ItemNum = II_MT.ItemNum
	where (( QI_HT.[Year] = @Year and QI_HT.[Month] = @Month ) )--or ([Year] = @Year+1 and [Month] = 1 ))
	and  II_MT.RecodingState =1 and QI_HT.ProgressCondition != '대기' and II_MT.PropertyClassification != '상품'
	group by II_MT.ItemNum, II_MT.ItemDrawNum, II_MT.ItemName,  OSD_HT.ProcessCode,  OSD_HT.ProcessName, ItemClassification1,  ItemClassification2,  ItemClassification3,  ItemClassification4, II_MT.PropertyClassification

	
--금월
	--부자재처리
	insert into #TempTransperStateTable
	Select PropertyClassification, II_MT.ItemNum,  II_MT.ItemDrawNum,  II_MT.ItemName, '' as ProcessCode, '' as ProcessName, sum(0),sum(0),sum(0),sum(0), sum(0) as Quantity,sum(TotalCost) as Cost ,sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),ItemClassification1,ItemClassification2, '02300140' as ItemClassification3,ItemClassification4
	From SBD_HT 
	inner join II_MT on SBD_HT.ItemNum = II_MT.ItemNum
	where II_MT.RecodingState = 1 and ((SBD_HT.[Year] = @Year+1 and SBD_HT.[Month] = 1))
	group by II_MT.ItemNum,  II_MT.ItemDrawNum,  II_MT.ItemName,ItemClassification1,ItemClassification2,ItemClassification3,ItemClassification4,PropertyClassification
	
	--기타구매처리
	
	insert into #TempTransperStateTable
	Select '기타' as PropertyClassification, EtcBD_HT.ItemName as ItemNum , EtcBD_HT.ItemName as ItemDrawNum, EtcBD_HT.ItemName as ItemName, '' as ProcessCode, '' as ProcessName, sum(0),sum(0),sum(0),sum(0),sum(0) as Quantity,sum(EtcBD_HT.TotalCost) as Cost ,sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0), '' as ItemClassification1, '' as ItemClassification2,  
	case ReasonCode when '18000010' then '02300150' 	else '02300160' end  as  ItemClassification3, '' as ItemClassification4
	From EtcBD_HT
	inner join PUC_MT on ReasonCode = SmallClassificationCode  where (([Year] = @Year+1 and [Month] = 1))
	--and EtcBD_HT.ItemName =  '176*150*16T외'
	group by ItemName, ReasonCode
	
	--기타공제관리
	insert into #TempTransperStateTable
	Select '기타' as PropertyClassification, EtcClaimRegion  as ItemNum , EtcClaimRegion as ItemDrawNum, EtcClaimRegion as ItemName, '' as ProcessCode, '' as ProcessName, sum(0),sum(0),sum(0),sum(0),sum(0) as Quantity, -sum(ClaimCost) as Cost ,sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0), '' as ItemClassification1, '' as ItemClassification2, '02300110' as ItemClassification3, '' as ItemClassification4
	From ECL_HT where  ((datepart(yy,ReceiptDate) = @Year+1 and datepart(mm,ReceiptDate) = 1))
	group by EtcClaimRegion

	--클레임처리
 	insert into #TempTransperStateTable
	Select '기타' as PropertyClassification, ItemName as  ItemNum , ItemName as ItemDrawNum,  ItemName, '' as ProcessCode, '' as ProcessName, sum(0),sum(0),sum(0),sum(0),sum(0) as Quantity, -sum(ClaimCost) as Cost ,sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0), '' as ItemClassification1, '' as ItemClassification2, '02300110' as ItemClassification3, '' as ItemClassification4
	From PCL_HT where  (datepart(yy,ReceiptDate) = @Year+1) and (datepart(mm,ReceiptDate) = 1)
	--From PCL_HT where  (datepart(yy,ReceiptDate) = 2009) and (datepart(mm,ReceiptDate) = 1  or datepart(mm,ReceiptDate) = 1 +1)
	group by ItemNum,ItemDrawNum,ItemName
	
	--외주입고처리
	insert into #TempTransperStateTable
	Select PropertyClassification,   II_MT.ItemNum, II_MT.ItemDrawNum, II_MT.ItemName, ProcessCode, ProcessName, sum(0),sum(0),sum(0),sum(0),Sum(0) as Quantity , sum(QI_HT.SuitabilityQuantity * QI_HT.ApplyUnitCost) as TotalCost,sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),  ItemClassification1,  ItemClassification2,  '02300130' as ItemClassification3,  ItemClassification4
	From OSD_HT 
	inner join QI_HT on  OSD_HT.OutSideDeliveryHistoryIndex  = QI_HT.HistoryIndex1
	inner join II_MT on OSD_HT.ItemNum = II_MT.ItemNum
	where (( QI_HT.[Year] = @Year+1 and QI_HT.[Month] = @Month+1 ) )--or ([Year] = @Year+1 and [Month] = 1 ))
	and  II_MT.RecodingState =1 and QI_HT.ProgressCondition != '대기' and II_MT.PropertyClassification != '상품'
	group by II_MT.ItemNum, II_MT.ItemDrawNum, II_MT.ItemName,  OSD_HT.ProcessCode,  OSD_HT.ProcessName, ItemClassification1,  ItemClassification2,  ItemClassification3,  ItemClassification4, II_MT.PropertyClassification

	
	

end
else
begin
	Set @Year = @Year ;

-- 전월
	--부자재처리
	insert into #TempTransperStateTable
	Select PropertyClassification, II_MT.ItemNum,  II_MT.ItemDrawNum,  II_MT.ItemName, '' as ProcessCode, '' as ProcessName, sum(0) as Quantity,sum(TotalCost) as Cost ,sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),ItemClassification1,ItemClassification2, '02300140' as ItemClassification3,ItemClassification4
	From SBD_HT 
	inner join II_MT on SBD_HT.ItemNum = II_MT.ItemNum
	where II_MT.RecodingState = 1 and (SBD_HT.[Year] = @Year and (SBD_HT.[Month] = @Month))-- or  SBD_HT.[Month] = @Month+1))
	group by II_MT.ItemNum,  II_MT.ItemDrawNum,  II_MT.ItemName,ItemClassification1,ItemClassification2,ItemClassification3,ItemClassification4,PropertyClassification
	
	--기타구매처리
	
	insert into #TempTransperStateTable
	Select '기타' as PropertyClassification, EtcBD_HT.ItemName as ItemNum , EtcBD_HT.ItemName as ItemDrawNum, EtcBD_HT.ItemName as ItemName, '' as ProcessCode, '' as ProcessName, sum(0) as Quantity,sum(EtcBD_HT.TotalCost) as Cost ,sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0), '' as ItemClassification1, '' as ItemClassification2,  
	case ReasonCode when '18000010' then '02300150' 	else '02300160' end  as  ItemClassification3, '' as ItemClassification4
	From EtcBD_HT 
	inner join PUC_MT on ReasonCode = SmallClassificationCode  where (([Year] = @Year )and ([Month] = @Month))-- or  [Month] = @Month+1))
	--and EtcBD_HT.ItemName =  '176*150*16T외'
	group by ItemName, ReasonCode
	
	--기타공제관리
	insert into #TempTransperStateTable
	Select '기타' as PropertyClassification, EtcClaimRegion  as ItemNum , EtcClaimRegion as ItemDrawNum, EtcClaimRegion as ItemName, '' as ProcessCode, '' as ProcessName, sum(0) as Quantity, -sum(ClaimCost) as Cost ,sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0), '' as ItemClassification1, '' as ItemClassification2, '02300110' as ItemClassification3, '' as ItemClassification4
	From ECL_HT where  (datepart(yy,ReceiptDate) = @Year) and (datepart(mm,ReceiptDate) = @Month)--  or datepart(mm,ReceiptDate) = @Month +1)
	group by EtcClaimRegion

	--클레임처리
 	insert into #TempTransperStateTable
	Select '기타' as PropertyClassification, ItemName as  ItemNum , ItemName as ItemDrawNum,  ItemName,  '' as ProcessCode, '' as ProcessName, sum(0) as Quantity, -sum(ClaimCost) as Cost ,sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0), '' as ItemClassification1, '' as ItemClassification2, '02300110' as ItemClassification3, '' as ItemClassification4
	From PCL_HT where  (datepart(yy,ReceiptDate) = @Year) and (datepart(mm,ReceiptDate) = @Month)--  or datepart(mm,ReceiptDate) = @Month +1)
	--From PCL_HT where  (datepart(yy,ReceiptDate) = 2009) and (datepart(mm,ReceiptDate) = 1  or datepart(mm,ReceiptDate) = 1 +1)
	group by ItemNum,ItemDrawNum,ItemName

	--외주입고처리
	insert into #TempTransperStateTable
	Select PropertyClassification,  II_MT.ItemNum, II_MT.ItemDrawNum, II_MT.ItemName,  OSD_HT.ProcessCode,  OSD_HT.ProcessName, Sum(0) as Quantity ,  sum(QI_HT.SuitabilityQuantity * QI_HT.ApplyUnitCost) as TotalCost, sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),  ItemClassification1,  ItemClassification2,  '02300130' as ItemClassification3,  ItemClassification4
	From OSD_HT 
	inner join QI_HT on  OSD_HT.OutSideDeliveryHistoryIndex  = QI_HT.HistoryIndex1
	inner join II_MT on OSD_HT.ItemNum = II_MT.ItemNum
	where (( QI_HT.[Year] = @Year and QI_HT.[Month] = @Month ) )--or ([Year] = @Year+1 and [Month] = 1 ))
	and  II_MT.RecodingState =1 and QI_HT.ProgressCondition != '대기' and II_MT.PropertyClassification != '상품'
	group by II_MT.ItemNum, II_MT.ItemDrawNum, II_MT.ItemName,  OSD_HT.ProcessCode,  OSD_HT.ProcessName, ItemClassification1,  ItemClassification2,  ItemClassification3,  ItemClassification4, II_MT.PropertyClassification


	


-- 금월
	--부자재처리
	insert into #TempTransperStateTable
	Select PropertyClassification, II_MT.ItemNum,  II_MT.ItemDrawNum,  II_MT.ItemName, '' as ProcessCode, '' as ProcessName, sum(0),sum(0),sum(0),sum(0),sum(0) as Quantity,sum(TotalCost) as Cost ,sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),ItemClassification1,ItemClassification2, '02300140' as ItemClassification3,ItemClassification4
	From SBD_HT 
	inner join II_MT on SBD_HT.ItemNum = II_MT.ItemNum
	where II_MT.RecodingState = 1 and (SBD_HT.[Year] = @Year and ( SBD_HT.[Month] = @Month+1))
	group by II_MT.ItemNum,  II_MT.ItemDrawNum,  II_MT.ItemName,ItemClassification1,ItemClassification2,ItemClassification3,ItemClassification4,PropertyClassification
	
	--기타구매처리
	
	insert into #TempTransperStateTable
	Select '기타' as PropertyClassification, EtcBD_HT.ItemName as ItemNum , EtcBD_HT.ItemName as ItemDrawNum, EtcBD_HT.ItemName as ItemName, '' as ProcessCode, '' as ProcessName, sum(0),sum(0),sum(0),sum(0),sum(0) as Quantity,sum(EtcBD_HT.TotalCost) as Cost ,sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0), '' as ItemClassification1, '' as ItemClassification2,  
	case ReasonCode when '18000010' then '02300150' 	else '02300160' end  as  ItemClassification3, '' as ItemClassification4
	From EtcBD_HT
	inner join PUC_MT on ReasonCode = SmallClassificationCode  where (([Year] = @Year )and ( [Month] = @Month+1))
	--and EtcBD_HT.ItemName =  '176*150*16T외'
	group by ItemName, ReasonCode
	
	--기타공제관리
	insert into #TempTransperStateTable
	Select '기타' as PropertyClassification, EtcClaimRegion  as ItemNum , EtcClaimRegion as ItemDrawNum, EtcClaimRegion as ItemName, '' as ProcessCode, '' as ProcessName, sum(0),sum(0),sum(0),sum(0),sum(0) as Quantity, -sum(ClaimCost) as Cost ,sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0), '' as ItemClassification1, '' as ItemClassification2, '02300110' as ItemClassification3, '' as ItemClassification4
	From ECL_HT where  (datepart(yy,ReceiptDate) = @Year) and (datepart(mm,ReceiptDate) = @Month +1)
	group by EtcClaimRegion

	--클레임처리
 	insert into #TempTransperStateTable
	Select '기타' as PropertyClassification, ItemName as  ItemNum , ItemName as ItemDrawNum,  ItemName, '' as ProcessCode, '' as ProcessName, sum(0),sum(0),sum(0),sum(0),sum(0) as Quantity, -sum(ClaimCost) as Cost ,sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0), '' as ItemClassification1, '' as ItemClassification2, '02300110' as ItemClassification3, '' as ItemClassification4
	From PCL_HT where  (datepart(yy,ReceiptDate) = @Year) and (datepart(mm,ReceiptDate) = @Month +1)
	--From PCL_HT where  (datepart(yy,ReceiptDate) = 2009) and (datepart(mm,ReceiptDate) = 1  or datepart(mm,ReceiptDate) = 1 +1)
	group by ItemNum,ItemDrawNum,ItemName

	--외주입고처리
	insert into #TempTransperStateTable
	Select PropertyClassification,   II_MT.ItemNum, II_MT.ItemDrawNum, II_MT.ItemName, ProcessCode, ProcessName, sum(0),sum(0),sum(0),sum(0),Sum(0) as Quantity , sum(QI_HT.SuitabilityQuantity * QI_HT.ApplyUnitCost) as TotalCost,sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),sum(0),  ItemClassification1,  ItemClassification2,  '02300130' as ItemClassification3,  ItemClassification4
	From OSD_HT 
	inner join QI_HT on  OSD_HT.OutSideDeliveryHistoryIndex  = QI_HT.HistoryIndex1
	inner join II_MT on OSD_HT.ItemNum = II_MT.ItemNum
	where (( QI_HT.[Year] = @Year and QI_HT.[Month] = @Month+1 ) )--or ([Year] = @Year+1 and [Month] = 1 ))
	and  II_MT.RecodingState =1 and QI_HT.ProgressCondition != '대기' and II_MT.PropertyClassification != '상품'
	group by II_MT.ItemNum, II_MT.ItemDrawNum, II_MT.ItemName,  OSD_HT.ProcessCode,  OSD_HT.ProcessName, ItemClassification1,  ItemClassification2,  ItemClassification3,  ItemClassification4, II_MT.PropertyClassification


	


end


insert  into #TempTable
Select Division, ItemNum, ItemDrawNum, ItemName, ProcessCode, ProcessName
, sum(전월입고수량) as 전월입고수량
, sum(전월입고금액) as 전월입고금액
, sum(전월재고수량) as 전월재고수량
, sum(전월재고금액) as 전월재고금액
, sum(금월입고수량) as 금월입고수량
, sum(금월입고금액) as 금월입고금액
, sum(금월출고수량) as 금월출고수량
, sum(금월재고수량) as 금월재고수량
, sum(금월재고금액) as 금월재고금액
, sum(증감매입수량) as 증감매입수량
, sum(증감매입금액) as 증감매입금액
, sum(증감재고수량) as 증감재고수량
, sum(증감재고금액) as 증감재고금액
, ItemClassification1
, ItemClassification2
, ItemClassification3
, ItemClassification4
  From #TempTransperStateTable
group by Division, ItemNum, ItemDrawNum, ItemName, ProcessCode, ProcessName , ItemClassification1, ItemClassification2, ItemClassification3, ItemClassification4
 order by ItemNum
---------------------------------------------------------------------------------------------------
--창고에 존재하지 않고 이력에 존재하는 부자재, 기타구매, 기타공제, 불량변상, 외주입고에 대한 전월 금액 및 금월금액 넣기 끝
------------------------------------------------------------------------------------------------------



/*


Select  #TempTable.* , isnull(P1.SmallClassificationName, '') , isnull(P2.SmallClassificationName, '') , isnull(P3.SmallClassificationName, '') , isnull(P4.SmallClassificationName, '')
From #TempTable 
left outer join  PUC_MT P1 on #TempTable.ItemClassification1 = P1.SmallClassificationCode
left outer join  PUC_MT P2 on #TempTable.ItemClassification2 = P2.SmallClassificationCode
left outer join  PUC_MT P3 on #TempTable.ItemClassification3 = P3.SmallClassificationCode
left outer join  PUC_MT P4 on #TempTable.ItemClassification4 = P4.SmallClassificationCode
--where [금월재고금액] is not null
where ItemNum ='15CNC 밴딩(Ø10) 콜릿척2차 가공'
order by  #TempTable.ItemNum



*/

-----------
-- 전월 재고 금액 넣기
--------------

			
			Update TempResultTransperStateTable Set [전월재고금액] = 
			isnull(([전월재고수량]* 
			(
				Select Top 1  (U.StandardUnitCost) From UCI_MT U 
						where U.RecodingState =1 and U.ItemNum =  TempResultTransperStateTable.ItemNum 	and U.UnitCostDistinction = '구매단가' 
						and 	(U.OrderRate = 
								(Select 
									Max(OrderRate) From UCI_MT
									 where U.ItemNum = UCI_MT.ItemNum and UCI_MT.RecodingState =1
								)
					)
			
			
			 )),0)
						
						where (ProcessCode = '14000000' or ProcessCode = '14009999') and [전월재고수량] !=0			
						
	
/*

			DECLARE cur CURSOR 
			FOR
			
			
			Select Division , ItemNum,ItemDrawNum,ItemName, [전월재고수량]
			From TempResultTransperStateTable 
			where (ProcessCode = '14000000' or ProcessCode = '14009999') and [전월재고수량] !=0			
			
			
			--커서 오픈
			OPEN cur
			
			--변수 선언
			--DECLARE @Division varchar(50)
			DECLARE @Num varchar(100)
			DECLARE @DrawNum varchar(100)
			DECLARE @Name varchar(100)
			DECLARE @Quantity decimal(20,2)
			
			--첫 로우 FETCH
			FETCH NEXT FROM cur INTO @Division,@Num,@DrawNum, @Name, @Quantity
			WHILE @@FETCH_STATUS = 0
			BEGIN
			--FETCH된 데이터를 tempdb에 삽입
				Declare @Cost decimal(20,2)
				Set @Cost = @Quantity * (
					Select Top 1  (U.StandardUnitCost) From UCI_MT U 
					where U.RecodingState =1 and U.ItemNum =  @Num 
					and U.UnitCostDistinction = '구매단가' 
					and (U.OrderRate = (Select Max(OrderRate) From UCI_MT where U.ItemNum = UCI_MT.ItemNum and UCI_MT.RecodingState =1))
					)

				Update TempResultTransperStateTable Set  [전월재고금액]=@Cost where ItemNum = @Num and ItemDrawNum = @DrawNum and ItemName = @Name and Division = @Division
			
			--다음 로우 FEETCH - 루프
			FETCH NEXT FROM cur INTO @Division,@Num,@DrawNum, @Name, @Quantity
			END
			--커서 CLOSE
			CLOSE cur
			
			--커서 DEALLOCATE
			DEALLOCATE cur

------------------
-- 전월 재고 넣기 끝
------------------

*/

------------------
-- 금월 입고수량 및 금액 넣기
------------------

Set @Month = @Month +1

			DECLARE cur CURSOR 
			FOR
	
--구매품입고수량			
			Select PropertyClassification, II_MT.ItemNum,sum(QI_HT.SuitabilityQuantity) as StockQuantity  ,sum( QI_HT.ApplyUnitCost *  QI_HT.SuitabilityQuantity) as StockCost,'02300120' as ItemClassification3
			From QI_HT
			inner join II_MT on QI_HT.ItemNum = II_MT.ItemNum
			--inner join PUC_MT on II_MT.ItemClassification3 = PUC_MT.SmallClassificationCode
			--where [Year] = 2009 and [Month] = 2 and (PropertyClassification = '원자재' or PropertyClassification = '상품') and II_MT.ItemNum = 'T2185-90264'
			where [Year] = @Year and [Month] = @Month and (PropertyClassification = '원자재' or PropertyClassification = '상품')
			and   QI_HT.ProgressCondition != '대기' and II_MT.RecodingState =1-- and PUC_MT.RecodingState =1
			group by II_MT.ItemNum, II_MT.ItemDrawNum ,II_MT.ItemName, PropertyClassification,ItemClassification3


			
			--커서 오픈
			OPEN cur
			
			--변수 선언
			DECLARE @ItemClassification varchar(50)
			--DECCLARE @Quantity decimal(20,2)
			--DECLARE @StockCost decimal(20,2)
			--첫 로우 FETCH
			FETCH NEXT FROM cur INTO @Division, @ItemNum, @StockQuantity, @StockCost,@ItemClassification
			WHILE @@FETCH_STATUS = 0
			BEGIN
			--FETCH된 데이터를 tempdb에 삽입
				

				Update #TempTable Set  [금월입고수량]=@StockQuantity, [금월입고금액] = @StockCost where ItemNum = @ItemNum and Division = @Division
			--다음 로우 FEETCH - 루프
			FETCH NEXT FROM cur INTO @Division, @ItemNum, @StockQuantity, @StockCost,@ItemClassification
			END
			--커서 CLOSE
			CLOSE cur
			
			--커서 DEALLOCATE
			DEALLOCATE cur
--------------------
-- 금월 입고수량 및 입고 금액넣기 끝
-- 기타구매의 경우 입고와 동시에 출고가 되므로 한번에 처리했음
-- Select * From #TempTable where ItemNum ='가스조정기'
--------------------


----------------
--금월출고수량 넣기
----------------

			DECLARE cur CURSOR 
			FOR
			
--출고가능한 곳(작업일보,공통소진,보용품)			
			Select  PropertyClassification, SH_HT.ItemNum,sum(Quantity) as StockQuantity 
			From SH_HT
			inner join II_MT on SH_HT.ItemNum = II_MT.ItemNum
			--where datepart(yy, [Date]) = 2009 and datepart(mm, [Date]) = 2 and (PropertyClassification = '원자재' or PropertyClassification ='상품')
			where datepart(yy, [Date]) = @Year and datepart(mm, [Date]) = @Month and (PropertyClassification = '원자재' or PropertyClassification ='상품')
			and RecodingState =1 and( HistoryDivision = '작업일보' or HistoryDivision = '보용품입고' or HistoryDivision = '공통소진') and Division = 0
			group by SH_HT.ItemNum, PropertyClassification
-- 출고가능한곳(기타입출고)
			union all

			Select PropertyClassification, OIOS_HT.ItemNum, Sum(InOutStorehouseQuantity) as Quantity 
			From OIOS_HT 
			inner join II_MT on OIOS_HT.ItemNum = II_MT.ItemNum
			--where RecodingState =1 and  InOutStorehouseDistinction = 0 and datepart(yy, [InOutDate]) = 2009 and datepart(mm, [InOutDate]) = 2 
			 where RecodingState =1 and  InOutStorehouseDistinction = 0 and datepart(yy, [InOutDate]) = @Year and datepart(mm, [InOutDate]) = @Month 
			group by OIOS_HT.ItemNum,PropertyClassification

-- 상품의 경우 출고는 매출원장에서 가져와 사용한다
			union all
			Select PropertyClassification, S_HT.ItemNum, Sum(OutStorehouseQuantity) as Quantity
			From S_HT
			inner join II_MT on S_HT.ItemNum = II_MT.ItemNum
			--where RecodingState =1 and  datepart(yy, [SaleDate]) = 2009 and datepart(mm, [SaleDate]) = 2 
			where RecodingState =1 and datepart(yy, [SaleDate]) = @Year and datepart(mm, [SaleDate]) = @Month 
			and PropertyClassification='상품'
			group by S_HT.ItemNum,PropertyClassification			

			--커서 오픈
			OPEN cur
			
			--변수 선언
			--DECLARE @Num varchar(50)
			--DECCLARE @Quantity decimal(20,2)
			--DECLARE @StockCost decimal(20,2)
			--첫 로우 FETCH
			FETCH NEXT FROM cur INTO @Division, @ItemNum, @StockQuantity
			WHILE @@FETCH_STATUS = 0
			BEGIN
			--FETCH된 데이터를 tempdb에 삽입
				Update #TempTable Set  [금월출고수량]=@StockQuantity where ItemNum = @ItemNum and Division =@Division
			
			--다음 로우 FEETCH - 루프
			FETCH NEXT FROM cur INTO @Division,@ItemNum, @StockQuantity
			END
			--커서 CLOSE
			CLOSE cur
			
			--커서 DEALLOCATE
			DEALLOCATE cur
-----------------
-- 금번 출고 수량 넣기 끝
------------------



-------------------
-- 금월 재고수량 및 재고 금액 넣기 시작
-- 동시에 매입과 재고 관련 전월대비 증감
-- 부분도 함께 넣는다
-------------------
			DECLARE cur CURSOR 
			FOR
			
			
			Select Division,  ItemNum,[전월입고수량],  [전월입고금액], [전월재고수량], isnull([전월재고금액],0) as [전월재고금액] ,	[금월입고수량], [금월입고금액], [금월출고수량]
			From #TempTable 	Where ((전월입고수량 !=0 ) or ([전월재고수량] !=0) or( [금월입고수량] !=0 )or ( [금월출고수량] !=0 ) )
			--and ItemNum ='15CNC 밴딩(Ø10) 콜릿척2차 가공'		
			order by ItemNum

			
			--커서 오픈
			OPEN cur
			
			--변수 선언
			--Declare @Division Varchar(10)
			DECLARE @Number varchar(50)
			DECLARE @PreQuantity decimal(20,2)		--전월입고수량
			DECLARE @PCost decimal(20,2)		--전월입고금액
			DECLARE @PQuantity decimal(20,2)		--전월재고수량
			DECLARE @PreCost decimal(20,2)		--전월재고금액
			DECLARE @ThisQuantity decimal(20,2)	--금월입고수량	
			DECLARE @ThisCost decimal(20,2)		--금월입고금액
			DECLARE @OutQuantity decimal(20,2)	--금월출고수량

			--첫 로우 FETCH
			FETCH NEXT FROM cur INTO @Division, @Number, @PreQuantity, @PCost, @PQuantity, @PreCost, @ThisQuantity,@ThisCost,@OutQuantity
			WHILE @@FETCH_STATUS = 0
			BEGIN
			--FETCH된 데이터를 tempdb에 삽입
			DECLARE @NowQuantity decimal(20,2)	--금월재고수량
			DECLARE @TCost decimal(20,2)		--금월재고금액
			DECLARE @증감매입량 decimal(20,2)		--증감매입수량
			DECLARE @증감매입금 decimal(20,2)		--증감매입금액
			DECLARE @증감재고량 decimal(20,2)		--증감재고수량
			DECLARE @증감재고금 decimal(20,2)		--증감재고금액
			
			 	-- 금월재고수량  = 전월재고수량 + 금월입고수량 - 금월출고수량
				Set @NowQuantity = @PQuantity + @ThisQuantity - @OutQuantity

				-- 금월재고 금액	=> 대략적으로 단가테이블에서 해당 품목의 단가 하나를 들고와서 현재수량과 곱한다.
				-- 이때 단가구분은 구매단가를 가지고 온다.(외주품, 제품에 대한 단가는 안본다)
				Set @TCost = @NowQuantity * (
					Select Top 1  (U.StandardUnitCost) From UCI_MT U 
					where U.RecodingState =1 and U.ItemNum =  @Number 
					and U.UnitCostDistinction = '구매단가' 
					and (U.OrderRate = (Select Max(OrderRate) From UCI_MT where U.ItemNum = UCI_MT.ItemNum and UCI_MT.RecodingState =1))
					)

				--  증감매입량 = 금월입고수량 - 전월입고수량
				Set @증감매입량 = @ThisQuantity - @PreQuantity	

				--  증감매입금 = 금월입고금액 - 전월입고금액
				Set @증감매입금 = @ThisCost - @PCost		

				--  증감재고량 =  금월재고수량 - 전월재고수량
				Set @증감재고량 = @NowQuantity - @PQuantity	

				--  증감재고금 = 금월재고금액 - 전월재고금액
				Set @증감재고금 = @TCost - @PreCost		
				
				Update #TempTable Set [금월재고수량]=@NowQuantity, [금월재고금액]= isnull(@TCost,0) ,
				[증감매입수량]=@증감매입량, [증감매입금액]= isnull(@증감매입금,0) ,
				[증감재고수량]=@증감재고량, [증감재고금액]= isnull(@증감재고금,0) 
				where ItemNum = @Number and Division = @Division
			
			--다음 로우 FEETCH - 루프
			FETCH NEXT FROM cur INTO  @Division, @Number, @PreQuantity, @PCost, @PQuantity, @PreCost, @ThisQuantity,@ThisCost,@OutQuantity
			END
			--커서 CLOSE
			CLOSE cur
			
			--커서 DEALLOCATE
			DEALLOCATE cur
	Update #TempTable Set 전월재고금액  = 0 where 전월재고금액 is null
-------------------
-- 금월 재고수량 및 재고 금액 넣기 끝
-------------------

/*

Select  #TempTable.* , isnull(P1.SmallClassificationName, '') as Division1 , isnull(P2.SmallClassificationName, '') as Division2 , isnull(P3.SmallClassificationName, '') as Division3 , isnull(P4.SmallClassificationName, '')  as Division4
From #TempTable  
left outer join  PUC_MT P1 on #TempTable.ItemClassification1 = P1.SmallClassificationCode
left outer join  PUC_MT P2 on #TempTable.ItemClassification2 = P2.SmallClassificationCode
left outer join  PUC_MT P3 on #TempTable.ItemClassification3 = P3.SmallClassificationCode
left outer join  PUC_MT P4 on #TempTable.ItemClassification4 = P4.SmallClassificationCode
-- where 전월재고금액 is null
--where  #TempTable.ItemNum = 'T4682-78252A'-- and 금월입고수량 <>0 
--where (금월입고수량 <>0  or  금월입고금액 <> 0) or  (전월입고수량 <>0  or  전월입고금액 <> 0) --and  Division ='기타'
order by   #TempTable.ItemNum 

*/

	



--/*



Select  #TempTable.Division, #TempTable.ItemNum, #TempTable.ItemDrawNum, #TempTable.ItemName
,	[ProcessCode]
	,	[ProcessName]
	,	sum([전월입고수량]) as 전월입고수량
	,	sum([전월입고금액])  as 전월입고금액
	,	sum([전월재고수량]) as 전월재고수량
	,	sum([전월재고금액]) as 전월재고금액
	,	sum([금월입고수량]) as 금월입고수량
	,	sum([금월입고금액]) as 금월입고금액
	,	sum([금월출고수량]) as 금월출고수량
	,	sum([금월재고수량]) as 금월재고수량
	,	sum([금월재고금액]) as 금월재고금액
	,	sum([증감매입수량]) as 증감매입수량
	,	sum([증감매입금액]) as 증감매입금액
	,	sum([증감재고수량]) as 증감재고수량
	,	sum([증감재고금액]) as 증감재고금액
	,	[ItemClassification2]
	,	[ItemClassification3]
	,	[ItemClassification4]
 , isnull(P1.SmallClassificationName, '') as Division1 , isnull(P2.SmallClassificationName, '') as Division2 , isnull(P3.SmallClassificationName, '') as Division3 , isnull(P4.SmallClassificationName, '')  as Division4
From #TempTable  
left outer join  PUC_MT P1 on #TempTable.ItemClassification1 = P1.SmallClassificationCode
left outer join  PUC_MT P2 on #TempTable.ItemClassification2 = P2.SmallClassificationCode
left outer join  PUC_MT P3 on #TempTable.ItemClassification3 = P3.SmallClassificationCode
left outer join  PUC_MT P4 on #TempTable.ItemClassification4 = P4.SmallClassificationCode
-- where 전월재고금액 is null
--where  #TempTable.ItemNum = 'T4682-78252A'-- and 금월입고수량 <>0 
where (전월입고수량 <> 0  or   전월입고금액 <> 0 or  전월재고수량 <>0  or  전월재고금액 <> 0 or 금월입고수량 <> 0
  or   금월입고금액 <> 0 or  금월출고수량 <>0  or  금월재고수량 <> 0   or   금월재고금액 <> 0 ) --and  Division ='기타'
group by #TempTable.Division, #TempTable.ItemNum, #TempTable.ItemDrawNum, #TempTable.ItemName,[ProcessCode],[ProcessName],[ItemClassification2],[ItemClassification3],[ItemClassification4],P1.SmallClassificationName,P2.SmallClassificationName,P3.SmallClassificationName,P4.SmallClassificationName
order by   #TempTable.ItemNum 



--*/
GO
