USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[SPWorkRemainderProcessingMinus]    Script Date: 07/02/2026 08:48:43 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE    PROCEDURE [dbo].[SPWorkRemainderProcessingMinus] @ItemNum AS VARCHAR(50), @ProcessCode AS VARCHAR(50), @Quantity AS DECIMAL(20, 3)
AS
	Update TBWorkRedundant Set  Quantity = Quantity - @Quantity
	Where ItemNum = @ItemNum and ProcessCode = @ProcessCode
	Update TBRawRedundant  Set  Quantity = Quantity - @Quantity
	Where ItemNum = @ItemNum and ProcessCode = @ProcessCode
GO
