USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[SPPurchaseDailyReport]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE                                                     PROCEDURE [dbo].[SPPurchaseDailyReport] 
@ItemNum AS VARCHAR(150), 
@ItemDrawNum AS VARCHAR(150), 
@ItemName AS VARCHAR(150), 
@CompanyName AS VARCHAR(150), 
@BusinessRegistrationNum AS VARCHAR(30), 
@StartDate AS smalldatetime, 
@EndDate AS smalldatetime,
@MinDate AS smalldatetime, 
@MaxDate AS smalldatetime,
@Division as varchar(10),
 @ItemClassification1 varchar(15)	-- 품목분류1  키
,  @ItemClassification2 varchar(15)	-- 품목분류2  키
,  @ItemClassification3 varchar(15)	-- 품목분류3  키
, @Year as varchar(10)
, @Month as varchar(10)

 AS
/*

declare @ItemNum AS VARCHAR(50) 
declare @ItemDrawNum AS VARCHAR(50)
declare @ItemName AS VARCHAR(50)
declare @CompanyName AS VARCHAR(50)
declare @BusinessRegistrationNum AS VARCHAR(30)
declare @StartDate AS smalldatetime
declare @EndDate AS smalldatetime
declare @MinDate AS smalldatetime
declare @MaxDate AS smalldatetime
declare @Division AS varchar(10)
		
declare @ItemClassification1 varchar(15)	-- 품목분류1  키
declare  @ItemClassification2 varchar(15)	-- 품목분류2  키
declare  @ItemClassification3 varchar(15)	-- 품목분류3  키
declare  @ItemClassification4 varchar(15)	-- 품목분류4  키
declare @Year AS varchar(10)
declare @Month AS varchar(10)

Set @ItemClassification1  = ''	
Set  @ItemClassification2  = ''
Set  @ItemClassification3  = ''
Set  @ItemClassification4  = ''
Set @ItemNum = ''
Set @ItemDrawNum = ''
Set @ItemName = ''
Set @CompanyName = ''
Set @BusinessRegistrationNum = ''
Set @Division = '전체'
Set @StartDate = ''
Set @EndDate = ''
Set @MinDate = ''
Set @MaxDate = ''
Set @Year ='2010'
Set @Month = '1'


*/



	if(@StartDate = '')
		Set @StartDate = '1999-01-01'
	if(@EndDate = '')
		Set @EndDate = '2050-12-31'
	if(@MinDate = '')
		Set @MinDate = '1999-01-01'
	if(@MaxDate = '')
		Set @MaxDate = '2050-12-31'

	if(@Year = '선택')
		Set @Year = ''
	if(@Month = '선택')
		Set @Month = ''

/*

declare @Monstartdate as varchar(20)
declare @Monenddate as varchar(20)
declare @year as int
declare @mon as int
	if(datePart(MM, @MinDate) = 1)
	begin
		
		Set @year = datePart(YY, @MinDate)-1
		Set @mon = datePart(MM, @MinDate)
		Set @Monstartdate = cast(@year as varchar(5))+'-12-26'
		Set @Monenddate =  cast(datePart(YY, @MinDate) as varchar(5))+'-'+cast(@mon as varchar(5))+'-26'
		
	end
	else 
	begin
		Set @year = datePart(YY, @MinDate)
		Set @mon = datePart(MM, @MinDate)-1
		Set @Monstartdate = cast(@year as varchar(5))+'-'+cast(@mon as varchar(5))+'-26'
		Set @Monenddate =  cast(datePart(YY, @MinDate) as varchar(5))+'-'+cast(datePart(MM, @MinDate) as varchar(5))+'-26'
	end

*/
--Select @Monstartdate
--Select @Monenddate

IF exists (Select 1 From tempdb..sysobjects where name like '#SPPurchaseUCITemp%')
		DROP TABLE #SPPurchaseUCITemp
	CREATE TABLE #SPPurchaseUCITemp
	(
		ItemNum VARCHAR(150),		
		BusinessRegistrationNum Varchar(20),
		UnitCostDistinction varchar(20),		
		BeginProcessCode VARCHAR(50),
		EndProcessCode VARCHAR(50),
		OrderRate decimal(18,2),
		StandardUnitCost decimal(18,2)
	)  
	
	Insert into #SPPurchaseUCITemp
		Select  ItemNum,	BusinessRegistrationNum, UnitCostDistinction, BeginProcessCode,
		EndProcessCode , OrderRate, StandardUnitCost 
		From UCI_MT where RecodingState =1


	
IF exists (Select 1 From tempdb..sysobjects where name like '#SPPurchaseDailyTemp%')
		DROP TABLE #SPPurchaseDailyTemp
	-- 특정제품을 생산하는데 필요한 부품과 수량을 임시로 기억할 Table
	CREATE TABLE #SPPurchaseDailyTemp
	(
		CompanyName VARCHAR(100),
		BusinessRegistrationNum Varchar(20),
		ItemNum VARCHAR(150),		
		ItemName VARCHAR(150),
		Unit varchar(15),
		ProcessName VARCHAR(50),
		ProcessCode VARCHAR(50),
		DeliveryDate smalldatetime,
		InStoreDate smalldatetime,		
		Quantity decimal(18,2),
		SuitabilityQuantity decimal(18,2),
		UnSuitabilityQuantity decimal(18,2),
		StandardUnitCost decimal(18,2),
		ApplyUnitCost decimal(18,2),
		TotalCost decimal(18,2),
		MonthTotal decimal(18,2),
		YearTotal decimal(18,2),
		NowStockQuantity decimal(18,2),
		[Year] int,
		[Month] int 
	)  
	if(@Division = '전체')
	begin
	
		if(@Year = '')
		begin
			if(@Month = '')
			begin
				INSERT INTO #SPPurchaseDailyTemp
				Select CompanyName,BusinessRegistrationNum,  QI_HT.ItemNum, QI_HT.ItemName, PUC2.SmallClassificationName as Unit,   PUC.SmallClassificationName as ProcessName,  PUC.SmallClassificationCode as ProcessCode, QI_HT.RegistrationDate as DeliveryDate, QI_HT.QualityInspectionCompleteDate as InStoreDate
				,RequestQuantity as Quantity, SuitabilityQuantity, UnSuitabilityQuantity, QI_HT.StandardUnitCost  , ApplyUnitCost, SuitabilityQuantity* ApplyUnitCost as TotalCost
				, null, null
				, case  PUC.SmallClassificationName 
					when '소재' 
					then (Select StockQuantity12 From RMS_MT where RMS_MT.RecodingState = 1 and [Year] = datePart(YY, getDate()) and RMS_MT.ItemNum = QI_HT.ItemNum)
					when '최종품'
					then (
							Select Sum(StockQuantity) as StockQuantity
							From
							(Select Sum(StockQuantity12) as StockQuantity From BS_MT
							where BS_MT.RecodingState = 1 and BS_MT.ItemNum = QI_HT.ItemNum and [Year] = datePart(YY, getDate())
							union all
							Select  StockQuantity12 From PS_MT
							where PS_MT.RecodingState = 1 and PS_MT.ItemNum = QI_HT.ItemNum and [Year] = datePart(YY, getDate())
							) T
						)
					else null
					end as NowStockQuantity , [Year], [Month]
				From QI_HT inner join PUC_MT PUC on EndProcessName = PUC.SmallClassificationCode
				inner join II_MT I on QI_HT.ItemNum = I.ItemNum
				inner join PUC_MT PUC1 on I.ItemClassification1 =  PUC1.SmallClassificationCode
				Inner join PUC_MT PUC2 on I.Unit = PUC2.SmallClassificationCode
				Where  I.RecodingState = 1 and PUC.RecodingState = 1 and PUC1.RecodingState = 1 and PUC2.RecodingState=1 and CompanyName != '' and (SuitabilityQuantity+UnSuitabilityQuantity) != 0
				and QI_HT.RegistrationDate between @StartDate and @EndDate
				and QI_HT.QualityInspectionCompleteDate between @MinDate and @MaxDate
				and QI_HT.ItemNum like '%'+@ItemNum+'%' and QI_HT.ItemDrawNum like '%'+@ItemDrawNum+'%'
				and QI_HT.ItemName like '%'+@ItemName+'%' and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
				and CompanyName like '%'+@CompanyName+'%'
				and QI_HT.ProgressCondition != '대기'
				and ItemClassification1 like '%'+@ItemClassification1+'%'
				and ItemClassification2 like '%'+@ItemClassification2+'%'
				and ItemClassification3 like '%'+@ItemClassification3+'%'
				and [Year] like '%'+@Year+'%'
				and [Month] like '%'+ @Month+'%'

				union all

				Select CompanyName, BusinessRegistrationNum, PCL_HT.ItemNum, PCL_HT.ItemName, PUC1.SmallClassificationName as Unit,  null as ProcessName, null as ProcessCode,  PCL_HT.RegistrationDate as  DeliveryDate, ReceiptDate as InStoreDate
				,null as Quantity,  null as SuitabilityQuantity, ClaimQuantity as UnSuitabilityQuantity, null as StandardUnitCost , null as ApplyUnitCost,  -ClaimCost as TotalCost
				, null, null, null ,  datePart(yy,ReceiptDate) as [Year], datepart(mm,ReceiptDate) as [Month]
				From PCL_HT
				inner join II_MT I on PCL_HT.ItemNum = I.ItemNum
				inner join PUC_MT PUC on I.ItemClassification1 =  PUC.SmallClassificationCode
				inner join PUC_MT PUC1 on I.Unit =  PUC1.SmallClassificationCode

				where I.RecodingState = 1 and PUC.RecodingState = 1 and PUC1.RecodingState = 1  and PCL_HT.RegistrationDate between @StartDate and @EndDate
				and ReceiptDate between @MinDate and @MaxDate
				and PCL_HT.ItemNum like '%'+@ItemNum+'%' and PCL_HT.ItemDrawNum like '%'+@ItemDrawNum+'%'
				and PCL_HT.ItemName like '%'+@ItemName+'%' and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
				and CompanyName like '%'+@CompanyName+'%'
				and ItemClassification1 like '%'+@ItemClassification1+'%'
				and ItemClassification2 like '%'+@ItemClassification2+'%'
				and ItemClassification3 like '%'+@ItemClassification3+'%'
				and datePart(yy,ReceiptDate) like '%'+@Year+'%'
				and datepart(mm,ReceiptDate) like '%'+ @Month+'%'

				union all
		
				Select CompanyName,BusinessRegistrationNum,  SBD_HT.ItemNum as ItemNum, SBD_HT.ItemName, PUC1.SmallClassificationName as Unit,  '부자재' as ProcessName, '14009999' as ProcessCode,  DeliveryDate, DeliveryDate as InStoreDate
				,DeliveryQuantity as Quantity, DeliveryQuantity as SuitabilityQuantity , 0 as UnSuitabilityQuantity ,  SBD_HT.StandardUnitCost , ApplyUnitCost, DeliveryQuantity* ApplyUnitCost as TotalCost
				, null, null, null , [Year],[Month]
				From SBD_HT 
				inner join II_MT I  on SBD_HT.ItemNum = I.ItemNum
				inner join PUC_MT PUC1 on I.Unit =  PUC1.SmallClassificationCode
				Where I.RecodingState = 1 and PUC1.RecodingState = 1 and SBD_HT.RegistrationDate between @StartDate and @EndDate
				and DeliveryDate between @MinDate and @MaxDate
				and SBD_HT.ItemName like '%'+@ItemNum+'%' and SBD_HT.ItemName like '%'+@ItemDrawNum+'%'
				and SBD_HT.ItemName like '%'+@ItemName+'%' and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
				and CompanyName like '%'+@CompanyName+'%'
				and ItemClassification1 like '%'+@ItemClassification1+'%'
				and ItemClassification2 like '%'+@ItemClassification2+'%'
				and ItemClassification3 like '%'+@ItemClassification3+'%'
				and [Year] like '%'+@Year+'%'
				and [Month] like '%'+ @Month+'%'		

				union all

				Select CompanyName,BusinessRegistrationNum,  ItemName as ItemNum, ItemName, null as Unit,   null as ProcessName, null as ProcessCode, RegistrationDate as DeliveryDate, DeliveryDemandDate as InStoreDate
				,DeliveryQuantity as Quantity, DeliveryQuantity as SuitabilityQuantity , 0 as UnSuitabilityQuantity ,  null as StandardUnitCost , ApplyUnitCost, DeliveryQuantity* ApplyUnitCost as TotalCost
				, null, null, null , [Year], [Month]
				From EtcBD_HT
				Where RegistrationDate between @StartDate and @EndDate
				and DeliveryDemandDate between @MinDate and @MaxDate
				and ItemName like '%'+@ItemNum+'%' and ItemName like '%'+@ItemDrawNum+'%'
				and ItemName like '%'+@ItemName+'%' and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
				and CompanyName like '%'+@CompanyName+'%'
				and [Year] like '%'+@Year+'%'
				and [Month] like '%'+ @Month+'%'

				union all

				Select CompanyName, BusinessRegistrationNum, EtcClaimRegion as ItemNum, EtcClaimRegion as ItemName, null as Unit,  null as ProcessName,  null as ProcessCode, RegistrationDate as  DeliveryDate, ReceiptDate as InStoreDate
				,null as Quantity,  null as SuitabilityQuantity, null as UnSuitabilityQuantity, null as StandardUnitCost , null as ApplyUnitCost,  -ClaimCost as TotalCost
				, null, null, null ,  datePart(yy,ReceiptDate) as [Year], datepart(mm,ReceiptDate) as [Month]
				From ECL_HT
				where RegistrationDate between @StartDate and @EndDate
				and ReceiptDate between @MinDate and @MaxDate
				and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
				and CompanyName like '%'+@CompanyName+'%'
				and datePart(yy,ReceiptDate) like '%'+@Year+'%'
				and datepart(mm,ReceiptDate)  like '%'+@Month+'%'
						
				
				
				
			end
			else -- 월만선택시
			begin
				INSERT INTO #SPPurchaseDailyTemp
				Select CompanyName,BusinessRegistrationNum,  QI_HT.ItemNum, QI_HT.ItemName, PUC2.SmallClassificationName as Unit,   PUC.SmallClassificationName as ProcessName, PUC.SmallClassificationCode as ProcessCode,QI_HT.RegistrationDate as DeliveryDate, QI_HT.QualityInspectionCompleteDate as InStoreDate
				,RequestQuantity as Quantity, SuitabilityQuantity, UnSuitabilityQuantity,  QI_HT.StandardUnitCost ,  ApplyUnitCost, SuitabilityQuantity* ApplyUnitCost as TotalCost
				, null, null
				, case  PUC.SmallClassificationName 
					when '소재' 
					then (Select StockQuantity12 From RMS_MT where RMS_MT.RecodingState = 1 and [Year] = datePart(YY, getDate()) and RMS_MT.ItemNum = QI_HT.ItemNum)
					when '최종품'
					then (
							Select Sum(StockQuantity) as StockQuantity
							From
							(Select Sum(StockQuantity12) as StockQuantity From BS_MT
							where BS_MT.RecodingState = 1 and BS_MT.ItemNum = QI_HT.ItemNum and [Year] = datePart(YY, getDate())
							union all
							Select  StockQuantity12 From PS_MT
							where PS_MT.RecodingState = 1 and PS_MT.ItemNum = QI_HT.ItemNum and [Year] = datePart(YY, getDate())
							) T
						)
					else null
					end as NowStockQuantity , [Year], [Month]
				From QI_HT inner join PUC_MT PUC on EndProcessName = PUC.SmallClassificationCode
				inner join II_MT I on QI_HT.ItemNum = I.ItemNum
				inner join PUC_MT PUC1 on I.ItemClassification1 =  PUC1.SmallClassificationCode
				Inner join PUC_MT PUC2 on I.Unit = PUC2.SmallClassificationCode
				Where  I.RecodingState = 1 and PUC.RecodingState = 1 and PUC1.RecodingState = 1 and PUC2.RecodingState=1 and CompanyName != '' and (SuitabilityQuantity+UnSuitabilityQuantity) != 0
				and QI_HT.RegistrationDate between @StartDate and @EndDate
				and QI_HT.QualityInspectionCompleteDate between @MinDate and @MaxDate
				and QI_HT.ItemNum like '%'+@ItemNum+'%' and QI_HT.ItemDrawNum like '%'+@ItemDrawNum+'%'
				and QI_HT.ItemName like '%'+@ItemName+'%' and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
				and CompanyName like '%'+@CompanyName+'%'
				and QI_HT.ProgressCondition != '대기'
				and ItemClassification1 like '%'+@ItemClassification1+'%'
				and ItemClassification2 like '%'+@ItemClassification2+'%'
				and ItemClassification3 like '%'+@ItemClassification3+'%'
				and [Year] like '%'+@Year+'%'
				and [Month] = @Month
				
				union all
					
				Select CompanyName,BusinessRegistrationNum,  ItemName as ItemNum, ItemName, null as Unit,   null as ProcessName, null as ProcessCode,  RegistrationDate as DeliveryDate, DeliveryDemandDate as InStoreDate
				,DeliveryQuantity as Quantity, DeliveryQuantity as SuitabilityQuantity , 0 as UnSuitabilityQuantity ,  null as StandardUnitCost , ApplyUnitCost, DeliveryQuantity* ApplyUnitCost as TotalCost
				, null, null, null , [Year], [Month]
				From EtcBD_HT
				Where RegistrationDate between @StartDate and @EndDate
				and DeliveryDemandDate between @MinDate and @MaxDate
				and ItemName like '%'+@ItemNum+'%' and ItemName like '%'+@ItemDrawNum+'%'		
				and ItemName like '%'+@ItemName+'%' and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
				and CompanyName like '%'+@CompanyName+'%'
				and [Year] like '%'+@Year+'%'
				and [Month] = @Month

				union all
			
				Select CompanyName,BusinessRegistrationNum,  SBD_HT.ItemNum as ItemNum, SBD_HT.ItemName, PUC1.SmallClassificationName as Unit,  '부자재' as ProcessName, '14009999' as ProcessCode, DeliveryDate, DeliveryDate as InStoreDate
				,DeliveryQuantity as Quantity, DeliveryQuantity as SuitabilityQuantity , 0 as UnSuitabilityQuantity ,  SBD_HT.StandardUnitCost , ApplyUnitCost, DeliveryQuantity* ApplyUnitCost as TotalCost
				, null, null, null , [Year],[Month]
				From SBD_HT 
				inner join II_MT I  on SBD_HT.ItemNum = I.ItemNum
				inner join PUC_MT PUC1 on I.Unit =  PUC1.SmallClassificationCode
				Where I.RecodingState = 1 and PUC1.RecodingState = 1 and SBD_HT.RegistrationDate between @StartDate and @EndDate
				and DeliveryDate between @MinDate and @MaxDate
				and SBD_HT.ItemName like '%'+@ItemNum+'%' and SBD_HT.ItemName like '%'+@ItemDrawNum+'%'
				and SBD_HT.ItemName like '%'+@ItemName+'%' and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
				and CompanyName like '%'+@CompanyName+'%'
				and ItemClassification1 like '%'+@ItemClassification1+'%'
				and ItemClassification2 like '%'+@ItemClassification2+'%'
				and ItemClassification3 like '%'+@ItemClassification3+'%'
				and [Year] like '%'+@Year+'%'
				and [Month] = @Month
				
				union all
				
				Select CompanyName, BusinessRegistrationNum, PCL_HT.ItemNum, PCL_HT.ItemName, PUC1.SmallClassificationName as Unit,  null as ProcessName,  null as ProcessCode, PCL_HT.RegistrationDate as  DeliveryDate, ReceiptDate as InStoreDate
				,null as Quantity,  null as SuitabilityQuantity, ClaimQuantity as UnSuitabilityQuantity, null as StandardUnitCost , null as ApplyUnitCost,  -ClaimCost as TotalCost
				, null, null, null ,  datePart(yy,ReceiptDate) as [Year], datepart(mm,ReceiptDate) as [Month]
				From PCL_HT
				inner join II_MT I on PCL_HT.ItemNum = I.ItemNum
				inner join PUC_MT PUC on I.ItemClassification1 =  PUC.SmallClassificationCode
				inner join PUC_MT PUC1 on I.Unit =  PUC1.SmallClassificationCode
				where I.RecodingState = 1 and PUC.RecodingState = 1 and PUC1.RecodingState = 1  and PCL_HT.RegistrationDate between @StartDate and @EndDate
				and ReceiptDate between @MinDate and @MaxDate
				and PCL_HT.ItemNum like '%'+@ItemNum+'%' and PCL_HT.ItemDrawNum like '%'+@ItemDrawNum+'%'
				and PCL_HT.ItemName like '%'+@ItemName+'%' and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
				and CompanyName like '%'+@CompanyName+'%'
				and ItemClassification1 like '%'+@ItemClassification1+'%'
				and ItemClassification2 like '%'+@ItemClassification2+'%'
				and ItemClassification3 like '%'+@ItemClassification3+'%'
				and datePart(yy,ReceiptDate) like '%'+@Year+'%'
				and datepart(mm,ReceiptDate) = @Month

				union all

				Select CompanyName, BusinessRegistrationNum, EtcClaimRegion as ItemNum, EtcClaimRegion as ItemName, null as Unit,  null as ProcessName,  null as ProcessCode, RegistrationDate as  DeliveryDate, ReceiptDate as InStoreDate
				,null as Quantity,  null as SuitabilityQuantity, null as UnSuitabilityQuantity, null as StandardUnitCost , null as ApplyUnitCost,  -ClaimCost as TotalCost
				, null, null, null ,  datePart(yy,ReceiptDate) as [Year], datepart(mm,ReceiptDate) as [Month]
				From ECL_HT
				where RegistrationDate between @StartDate and @EndDate
				and ReceiptDate between @MinDate and @MaxDate
				and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
				and CompanyName like '%'+@CompanyName+'%'
				and datePart(yy,ReceiptDate) like '%'+@Year+'%'
				and datepart(mm,ReceiptDate) = @Month
			end
		end
		else
		begin
			if(@Month = '')
			begin
				INSERT INTO #SPPurchaseDailyTemp
				Select CompanyName,BusinessRegistrationNum,  QI_HT.ItemNum, QI_HT.ItemName, PUC2.SmallClassificationName as Unit,   PUC.SmallClassificationName as ProcessName, PUC.SmallClassificationCode as ProcessCode, QI_HT.RegistrationDate as DeliveryDate, QI_HT.QualityInspectionCompleteDate as InStoreDate
				,RequestQuantity as Quantity, SuitabilityQuantity, UnSuitabilityQuantity,  QI_HT.StandardUnitCost , ApplyUnitCost, SuitabilityQuantity* ApplyUnitCost as TotalCost
				, null, null
				, case  PUC.SmallClassificationName 
					when '소재' 
					then (Select StockQuantity12 From RMS_MT where RMS_MT.RecodingState = 1 and [Year] = datePart(YY, getDate()) and RMS_MT.ItemNum = QI_HT.ItemNum)
					when '최종품'
					then (
							Select Sum(StockQuantity) as StockQuantity
							From
							(Select Sum(StockQuantity12) as StockQuantity From BS_MT
							where BS_MT.RecodingState = 1 and BS_MT.ItemNum = QI_HT.ItemNum and [Year] = datePart(YY, getDate())
							union all
							Select  StockQuantity12 From PS_MT
							where PS_MT.RecodingState = 1 and PS_MT.ItemNum = QI_HT.ItemNum and [Year] = datePart(YY, getDate())
							) T
						)
					else null
					end as NowStockQuantity , [Year], [Month]
				From QI_HT inner join PUC_MT PUC on EndProcessName = PUC.SmallClassificationCode
				inner join II_MT I on QI_HT.ItemNum = I.ItemNum
				inner join PUC_MT PUC1 on I.ItemClassification1 =  PUC1.SmallClassificationCode
				Inner join PUC_MT PUC2 on I.Unit = PUC2.SmallClassificationCode
				Where  I.RecodingState = 1 and PUC.RecodingState = 1 and PUC1.RecodingState = 1 and PUC2.RecodingState=1 and CompanyName != '' and (SuitabilityQuantity+UnSuitabilityQuantity) != 0
				and QI_HT.RegistrationDate between @StartDate and @EndDate
				and QI_HT.QualityInspectionCompleteDate between @MinDate and @MaxDate
				and QI_HT.ItemNum like '%'+@ItemNum+'%' and QI_HT.ItemDrawNum like '%'+@ItemDrawNum+'%'
				and QI_HT.ItemName like '%'+@ItemName+'%' and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
				and CompanyName like '%'+@CompanyName+'%'
				and QI_HT.ProgressCondition != '대기'
				and ItemClassification1 like '%'+@ItemClassification1+'%'
				and ItemClassification2 like '%'+@ItemClassification2+'%'
				and ItemClassification3 like '%'+@ItemClassification3+'%'
				and [Year] = @Year
				and [Month] like '%'+@Month+'%' 
		
				union all
				Select CompanyName,BusinessRegistrationNum,  ItemName as ItemNum, ItemName, null as Unit,   null as ProcessName,null as ProcessCode,  RegistrationDate as DeliveryDate, DeliveryDemandDate as InStoreDate
				,DeliveryQuantity as Quantity, DeliveryQuantity as SuitabilityQuantity , 0 as UnSuitabilityQuantity , null as StandardUnitCost ,  ApplyUnitCost, DeliveryQuantity* ApplyUnitCost as TotalCost	
				, null, null, null , [Year], [Month]
				From EtcBD_HT
				Where RegistrationDate between @StartDate and @EndDate
				and DeliveryDemandDate between @MinDate and @MaxDate
				and ItemName like '%'+@ItemNum+'%' and ItemName like '%'+@ItemDrawNum+'%'
				and ItemName like '%'+@ItemName+'%' and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
				and CompanyName like '%'+@CompanyName+'%'
				and [Year] = @Year
				and [Month] like '%'+@Month+'%' 
				union all
		
				Select CompanyName,BusinessRegistrationNum,  SBD_HT.ItemNum as ItemNum, SBD_HT.ItemName, PUC1.SmallClassificationName as Unit,  '부자재' as ProcessName, '14009999' as ProcessCode, DeliveryDate, DeliveryDate as InStoreDate
				,DeliveryQuantity as Quantity, DeliveryQuantity as SuitabilityQuantity , 0 as UnSuitabilityQuantity , SBD_HT.StandardUnitCost ,  ApplyUnitCost, DeliveryQuantity* ApplyUnitCost as TotalCost
				, null, null, null , [Year],[Month]
				From SBD_HT 
				inner join II_MT I  on SBD_HT.ItemNum = I.ItemNum
				inner join PUC_MT PUC1 on I.Unit =  PUC1.SmallClassificationCode
				Where I.RecodingState = 1 and PUC1.RecodingState = 1 and SBD_HT.RegistrationDate between @StartDate and @EndDate
				and DeliveryDate between @MinDate and @MaxDate
				and SBD_HT.ItemName like '%'+@ItemNum+'%' and SBD_HT.ItemName like '%'+@ItemDrawNum+'%'
				and SBD_HT.ItemName like '%'+@ItemName+'%' and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
				and CompanyName like '%'+@CompanyName+'%'
				and ItemClassification1 like '%'+@ItemClassification1+'%'
				and ItemClassification2 like '%'+@ItemClassification2+'%'
				and ItemClassification3 like '%'+@ItemClassification3+'%'
				and [Year] = @Year
				and [Month] like '%'+@Month+'%' 
	
				union all

				Select CompanyName, BusinessRegistrationNum, PCL_HT.ItemNum, PCL_HT.ItemName, PUC1.SmallClassificationName as Unit,  null as ProcessName, null as ProcessCode,  PCL_HT.RegistrationDate as  DeliveryDate, ReceiptDate as InStoreDate
				,null as Quantity,  null as SuitabilityQuantity, ClaimQuantity as UnSuitabilityQuantity, null as StandardUnitCost , null as ApplyUnitCost,  -ClaimCost as TotalCost
				, null, null, null ,  datePart(yy,ReceiptDate) as [Year], datepart(mm,ReceiptDate) as [Month]
				From PCL_HT
				inner join II_MT I on PCL_HT.ItemNum = I.ItemNum
				inner join PUC_MT PUC on I.ItemClassification1 =  PUC.SmallClassificationCode
				inner join PUC_MT PUC1 on I.Unit =  PUC1.SmallClassificationCode			
				where I.RecodingState = 1 and PUC.RecodingState = 1 and PUC1.RecodingState = 1  and PCL_HT.RegistrationDate between @StartDate and @EndDate
				and ReceiptDate between @MinDate and @MaxDate
				and PCL_HT.ItemNum like '%'+@ItemNum+'%' and PCL_HT.ItemDrawNum like '%'+@ItemDrawNum+'%'
				and PCL_HT.ItemName like '%'+@ItemName+'%' and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
				and CompanyName like '%'+@CompanyName+'%'
				and ItemClassification1 like '%'+@ItemClassification1+'%'
				and ItemClassification2 like '%'+@ItemClassification2+'%'
				and ItemClassification3 like '%'+@ItemClassification3+'%'
				and datePart(yy,ReceiptDate) = @Year
				and datepart(mm,ReceiptDate)  like '%'+@Month+'%' 


				union all

				Select CompanyName, BusinessRegistrationNum, EtcClaimRegion as ItemNum, EtcClaimRegion as ItemName, null as Unit,  null as ProcessName, null as ProcessCode,  RegistrationDate as  DeliveryDate, ReceiptDate as InStoreDate
				,null as Quantity,  null as SuitabilityQuantity, null as UnSuitabilityQuantity, null as StandardUnitCost , null as ApplyUnitCost,  -ClaimCost as TotalCost
				, null, null, null ,  datePart(yy,ReceiptDate) as [Year], datepart(mm,ReceiptDate) as [Month]
				From ECL_HT
				where RegistrationDate between @StartDate and @EndDate
				and ReceiptDate between @MinDate and @MaxDate
				and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
				and CompanyName like '%'+@CompanyName+'%'
				and datePart(yy,ReceiptDate) = @Year
				and datepart(mm,ReceiptDate)  like '%'+@Month+'%' 
			end
			else -- 년월모두선택
			begin
				INSERT INTO #SPPurchaseDailyTemp
					Select CompanyName,BusinessRegistrationNum,  QI_HT.ItemNum, QI_HT.ItemName, PUC2.SmallClassificationName as Unit,   PUC.SmallClassificationName as ProcessName, PUC.SmallClassificationCode as ProcessCode, QI_HT.RegistrationDate as DeliveryDate, QI_HT.QualityInspectionCompleteDate as InStoreDate
				,RequestQuantity as Quantity, SuitabilityQuantity, UnSuitabilityQuantity,  QI_HT.StandardUnitCost , ApplyUnitCost, SuitabilityQuantity* ApplyUnitCost as TotalCost
				, null, null
				, case  PUC.SmallClassificationName 
					when '소재' 
					then (Select StockQuantity12 From RMS_MT where RMS_MT.RecodingState = 1 and [Year] = datePart(YY, getDate()) and RMS_MT.ItemNum = QI_HT.ItemNum)
					when '최종품'
					then (
							Select Sum(StockQuantity) as StockQuantity
							From
							(Select Sum(StockQuantity12) as StockQuantity From BS_MT
							where BS_MT.RecodingState = 1 and BS_MT.ItemNum = QI_HT.ItemNum and [Year] = datePart(YY, getDate())
							union all
							Select  StockQuantity12 From PS_MT
							where PS_MT.RecodingState = 1 and PS_MT.ItemNum = QI_HT.ItemNum and [Year] = datePart(YY, getDate())
						) T
					)
				else null
				end as NowStockQuantity , [Year], [Month]
				From QI_HT inner join PUC_MT PUC on EndProcessName = PUC.SmallClassificationCode
				inner join II_MT I on QI_HT.ItemNum = I.ItemNum
				inner join PUC_MT PUC1 on I.ItemClassification1 =  PUC1.SmallClassificationCode
				Inner join PUC_MT PUC2 on I.Unit = PUC2.SmallClassificationCode
		
				Where  I.RecodingState = 1 and PUC.RecodingState = 1 and PUC1.RecodingState = 1 and PUC2.RecodingState=1 and CompanyName != '' and (SuitabilityQuantity+UnSuitabilityQuantity) != 0
				and QI_HT.RegistrationDate between @StartDate and @EndDate
				and QI_HT.QualityInspectionCompleteDate between @MinDate and @MaxDate
				and QI_HT.ItemNum like '%'+@ItemNum+'%' and QI_HT.ItemDrawNum like '%'+@ItemDrawNum+'%'
				and QI_HT.ItemName like '%'+@ItemName+'%' and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
				and CompanyName like '%'+@CompanyName+'%'
				and QI_HT.ProgressCondition != '대기'
				and ItemClassification1 like '%'+@ItemClassification1+'%'
				and ItemClassification2 like '%'+@ItemClassification2+'%'
				and ItemClassification3 like '%'+@ItemClassification3+'%'
				and [Year] = @Year
				and [Month] = @Month 
				union all
		
				Select CompanyName,BusinessRegistrationNum,  ItemName as ItemNum, ItemName, null as Unit,   null as ProcessName,null as ProcessCode,  RegistrationDate as DeliveryDate, DeliveryDemandDate as InStoreDate
				,DeliveryQuantity as Quantity, DeliveryQuantity as SuitabilityQuantity , 0 as UnSuitabilityQuantity ,  null as StandardUnitCost , ApplyUnitCost, DeliveryQuantity* ApplyUnitCost as TotalCost
				, null, null, null , [Year], [Month]
				From EtcBD_HT
				Where RegistrationDate between @StartDate and @EndDate
				and DeliveryDemandDate between @MinDate and @MaxDate
				and ItemName like '%'+@ItemNum+'%' and ItemName like '%'+@ItemDrawNum+'%'
				and ItemName like '%'+@ItemName+'%' and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
				and CompanyName like '%'+@CompanyName+'%'
				and [Year] = @Year
				and [Month]= @Month
				union all

				Select CompanyName,BusinessRegistrationNum,  SBD_HT.ItemNum as ItemNum, SBD_HT.ItemName, PUC1.SmallClassificationName as Unit,  '부자재' as ProcessName, '14009999' as ProcessCode, DeliveryDate, DeliveryDate as InStoreDate
				,DeliveryQuantity as Quantity, DeliveryQuantity as SuitabilityQuantity , 0 as UnSuitabilityQuantity ,  SBD_HT.StandardUnitCost , ApplyUnitCost, DeliveryQuantity* ApplyUnitCost as TotalCost
				, null, null, null , [Year],[Month]
				From SBD_HT 
				inner join II_MT I  on SBD_HT.ItemNum = I.ItemNum
				inner join PUC_MT PUC1 on I.Unit =  PUC1.SmallClassificationCode
				Where I.RecodingState = 1 and PUC1.RecodingState = 1 and SBD_HT.RegistrationDate between @StartDate and @EndDate
				and DeliveryDate between @MinDate and @MaxDate
				and SBD_HT.ItemName like '%'+@ItemNum+'%' and SBD_HT.ItemName like '%'+@ItemDrawNum+'%'
				and SBD_HT.ItemName like '%'+@ItemName+'%' and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
				and CompanyName like '%'+@CompanyName+'%'
				and ItemClassification1 like '%'+@ItemClassification1+'%'
				and ItemClassification2 like '%'+@ItemClassification2+'%'
				and ItemClassification3 like '%'+@ItemClassification3+'%'
				and [Year] = @Year
				and [Month]= @Month
				union all
				Select CompanyName, BusinessRegistrationNum, PCL_HT.ItemNum, PCL_HT.ItemName, PUC1.SmallClassificationName as Unit,  null as ProcessName, null as ProcessCode,  PCL_HT.RegistrationDate as  DeliveryDate, ReceiptDate as InStoreDate
				,null as Quantity,  null as SuitabilityQuantity, ClaimQuantity as UnSuitabilityQuantity, null as StandardUnitCost , null as ApplyUnitCost,  -ClaimCost as TotalCost
				, null, null, null ,  datePart(yy,ReceiptDate) as [Year], datepart(mm,ReceiptDate) as [Month]
				From PCL_HT
				inner join II_MT I on PCL_HT.ItemNum = I.ItemNum
				inner join PUC_MT PUC on I.ItemClassification1 =  PUC.SmallClassificationCode
				inner join PUC_MT PUC1 on I.Unit =  PUC1.SmallClassificationCode
				where I.RecodingState = 1 and PUC.RecodingState = 1 and PUC1.RecodingState = 1  and PCL_HT.RegistrationDate between @StartDate and @EndDate
				and ReceiptDate between @MinDate and @MaxDate
				and PCL_HT.ItemNum like '%'+@ItemNum+'%' and PCL_HT.ItemDrawNum like '%'+@ItemDrawNum+'%'
				and PCL_HT.ItemName like '%'+@ItemName+'%' and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
				and CompanyName like '%'+@CompanyName+'%'
				and ItemClassification1 like '%'+@ItemClassification1+'%'
				and ItemClassification2 like '%'+@ItemClassification2+'%'
				and ItemClassification3 like '%'+@ItemClassification3+'%'
				and datePart(yy,ReceiptDate) = @Year
				and datepart(mm,ReceiptDate)= @Month

				union all

				Select CompanyName, BusinessRegistrationNum, EtcClaimRegion as ItemNum, EtcClaimRegion as ItemName, null as Unit,  null as ProcessName, null as ProcessCode,  RegistrationDate as  DeliveryDate, ReceiptDate as InStoreDate
				,null as Quantity,  null as SuitabilityQuantity, null as UnSuitabilityQuantity, null as StandardUnitCost , null as ApplyUnitCost,  -ClaimCost as TotalCost
				, null, null, null ,  datePart(yy,ReceiptDate) as [Year], datepart(mm,ReceiptDate) as [Month]
				From ECL_HT
				where RegistrationDate between @StartDate and @EndDate
				and ReceiptDate between @MinDate and @MaxDate
				and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
				and CompanyName like '%'+@CompanyName+'%'
				and datePart(yy,ReceiptDate) = @Year
				and datepart(mm,ReceiptDate)= @Month
			end
		end
	end
	else if(@Division = '구매')
	begin
		if(@Year = '')
		begin
			if(@Month ='')
			begin
				INSERT INTO #SPPurchaseDailyTemp
				Select CompanyName,BusinessRegistrationNum,  QI_HT.ItemNum, QI_HT.ItemName, PUC2.SmallClassificationName as Unit,  PUC.SmallClassificationName as ProcessName, PUC.SmallClassificationCode as ProcessCode, QI_HT.RegistrationDate as DeliveryDate, QI_HT.QualityInspectionCompleteDate as InStoreDate
				,RequestQuantity as Quantity, SuitabilityQuantity, UnSuitabilityQuantity,  QI_HT.StandardUnitCost , ApplyUnitCost, SuitabilityQuantity* ApplyUnitCost as TotalCost
				, null, null
				, case  PUC.SmallClassificationName 
				when '소재' 
				then (Select StockQuantity12 From RMS_MT where RMS_MT.RecodingState = 1 and [Year] = datePart(YY, getDate()) and RMS_MT.ItemNum = QI_HT.ItemNum)
					when '최종품'
					then (
							Select Sum(StockQuantity) as StockQuantity
							From
							(Select Sum(StockQuantity12) as StockQuantity From BS_MT
							where BS_MT.RecodingState = 1 and BS_MT.ItemNum = QI_HT.ItemNum and [Year] = datePart(YY, getDate())
							union all
							Select  StockQuantity12 From PS_MT
							where PS_MT.RecodingState = 1 and PS_MT.ItemNum = QI_HT.ItemNum and [Year] = datePart(YY, getDate())
							) T
						)
					else null
					end as NowStockQuantity , [Year], [Month]
				From QI_HT inner join PUC_MT PUC on EndProcessName = PUC.SmallClassificationCode
				inner join II_MT I on QI_HT.ItemNum = I.ItemNum
				inner join PUC_MT PUC1 on I.ItemClassification1 =  PUC1.SmallClassificationCode
				Inner join PUC_MT PUC2 on I.Unit = PUC2.SmallClassificationCode
				Where  I.RecodingState = 1 and PUC.RecodingState = 1 and PUC1.RecodingState = 1 and PUC2.RecodingState =1 and CompanyName != '' and (SuitabilityQuantity+UnSuitabilityQuantity) != 0
				and QI_HT.RegistrationDate between @StartDate and @EndDate
				and QI_HT.QualityInspectionCompleteDate between @MinDate and @MaxDate
				and QI_HT.ItemNum like '%'+@ItemNum+'%' and QI_HT.ItemDrawNum like '%'+@ItemDrawNum+'%'
				and QI_HT.ItemName like '%'+@ItemName+'%' and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
				and CompanyName like '%'+@CompanyName+'%'
				and QI_HT.ProgressCondition != '대기' and HistorySection2 ='구매발주'
				and ItemClassification1 like '%'+@ItemClassification1+'%'
				and ItemClassification2 like '%'+@ItemClassification2+'%'
				and ItemClassification3 like '%'+@ItemClassification3+'%'
				and [Year] like '%'+@Year+'%'
				and [Month] like '%'+@Month+'%'
		
				union all

				Select CompanyName, BusinessRegistrationNum, PCL_HT.ItemNum, PCL_HT.ItemName, PUC1.SmallClassificationName as Unit,  null as ProcessName, null as ProcessCode,  PCL_HT.RegistrationDate as  DeliveryDate, ReceiptDate as InStoreDate
				,null as Quantity,  null as SuitabilityQuantity, ClaimQuantity as UnSuitabilityQuantity, null as StandardUnitCost , null as ApplyUnitCost,  -ClaimCost as TotalCost
				, null, null, null, datePart(yy,ReceiptDate) as [Year], datepart(mm,ReceiptDate) as [Month]
				From PCL_HT
				inner join II_MT I on PCL_HT.ItemNum = I.ItemNum
				inner join PUC_MT PUC on I.ItemClassification1 =  PUC.SmallClassificationCode
				inner join PUC_MT PUC1 on I.Unit =  PUC1.SmallClassificationCode
		
				where I.RecodingState = 1 and PUC.RecodingState = 1 and PUC1.RecodingState = 1  and PCL_HT.RegistrationDate between @StartDate and @EndDate
				and ReceiptDate between @MinDate and @MaxDate
				and PCL_HT.ItemNum like '%'+@ItemNum+'%' and PCL_HT.ItemDrawNum like '%'+@ItemDrawNum+'%'
				and PCL_HT.ItemName like '%'+@ItemName+'%' and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
				and CompanyName like '%'+@CompanyName+'%'
				and ItemClassification1 like '%'+@ItemClassification1+'%'
				and ItemClassification2 like '%'+@ItemClassification2+'%'
				and ItemClassification3 like '%'+@ItemClassification3+'%'
				and datePart(yy,ReceiptDate) like '%'+@Year+'%'
				and datepart(mm,ReceiptDate) like '%'+@Month+'%'
			end
			else	-- 월만 선택
			begin

				INSERT INTO #SPPurchaseDailyTemp
				Select CompanyName,BusinessRegistrationNum,  QI_HT.ItemNum, QI_HT.ItemName, PUC2.SmallClassificationName as Unit,  PUC.SmallClassificationName as ProcessName, PUC.SmallClassificationCode as ProcessCode, QI_HT.RegistrationDate as DeliveryDate, QI_HT.QualityInspectionCompleteDate as InStoreDate
				,RequestQuantity as Quantity, SuitabilityQuantity, UnSuitabilityQuantity,  QI_HT.StandardUnitCost , ApplyUnitCost, SuitabilityQuantity* ApplyUnitCost as TotalCost
				, null, null
				, case  PUC.SmallClassificationName 
				when '소재' 
				then (Select StockQuantity12 From RMS_MT where RMS_MT.RecodingState = 1 and [Year] = datePart(YY, getDate()) and RMS_MT.ItemNum = QI_HT.ItemNum)
					when '최종품'
					then (
							Select Sum(StockQuantity) as StockQuantity
							From
							(Select Sum(StockQuantity12) as StockQuantity From BS_MT
							where BS_MT.RecodingState = 1 and BS_MT.ItemNum = QI_HT.ItemNum and [Year] = datePart(YY, getDate())
							union all
							Select  StockQuantity12 From PS_MT
							where PS_MT.RecodingState = 1 and PS_MT.ItemNum = QI_HT.ItemNum and [Year] = datePart(YY, getDate())
							) T
						)
					else null
					end as NowStockQuantity , [Year], [Month]
				From QI_HT inner join PUC_MT PUC on EndProcessName = PUC.SmallClassificationCode
				inner join II_MT I on QI_HT.ItemNum = I.ItemNum
				inner join PUC_MT PUC1 on I.ItemClassification1 =  PUC1.SmallClassificationCode
				Inner join PUC_MT PUC2 on I.Unit = PUC2.SmallClassificationCode
				Where  I.RecodingState = 1 and PUC.RecodingState = 1 and PUC1.RecodingState = 1 and PUC2.RecodingState =1 and CompanyName != '' and (SuitabilityQuantity+UnSuitabilityQuantity) != 0
				and QI_HT.RegistrationDate between @StartDate and @EndDate
				and QI_HT.QualityInspectionCompleteDate between @MinDate and @MaxDate
				and QI_HT.ItemNum like '%'+@ItemNum+'%' and QI_HT.ItemDrawNum like '%'+@ItemDrawNum+'%'
				and QI_HT.ItemName like '%'+@ItemName+'%' and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
				and CompanyName like '%'+@CompanyName+'%'
				and QI_HT.ProgressCondition != '대기' and HistorySection2 ='구매발주'
				and ItemClassification1 like '%'+@ItemClassification1+'%'
				and ItemClassification2 like '%'+@ItemClassification2+'%'
				and ItemClassification3 like '%'+@ItemClassification3+'%'
				and [Year] like '%'+@Year+'%'
				and [Month] = @Month
		
				union all

				Select CompanyName, BusinessRegistrationNum, PCL_HT.ItemNum, PCL_HT.ItemName, PUC1.SmallClassificationName as Unit,  null as ProcessName, null as ProcessCode,  PCL_HT.RegistrationDate as  DeliveryDate, ReceiptDate as InStoreDate
				,null as Quantity,  null as SuitabilityQuantity, ClaimQuantity as UnSuitabilityQuantity, null as StandardUnitCost , null as ApplyUnitCost,  -ClaimCost as TotalCost
				, null, null, null, datePart(yy,ReceiptDate) as [Year], datepart(mm,ReceiptDate) as [Month]
				From PCL_HT
				inner join II_MT I on PCL_HT.ItemNum = I.ItemNum
				inner join PUC_MT PUC on I.ItemClassification1 =  PUC.SmallClassificationCode
				inner join PUC_MT PUC1 on I.Unit =  PUC1.SmallClassificationCode
		
				where I.RecodingState = 1 and PUC.RecodingState = 1 and PUC1.RecodingState = 1  and PCL_HT.RegistrationDate between @StartDate and @EndDate
				and ReceiptDate between @MinDate and @MaxDate
				and PCL_HT.ItemNum like '%'+@ItemNum+'%' and PCL_HT.ItemDrawNum like '%'+@ItemDrawNum+'%'
				and PCL_HT.ItemName like '%'+@ItemName+'%' and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
				and CompanyName like '%'+@CompanyName+'%'
				and ItemClassification1 like '%'+@ItemClassification1+'%'
				and ItemClassification2 like '%'+@ItemClassification2+'%'
				and ItemClassification3 like '%'+@ItemClassification3+'%'
				and datePart(yy,ReceiptDate) like '%'+@Year+'%'
				and datepart(mm,ReceiptDate) = @Month


			end
			
		end
		else
		begin
			if(@Month ='')	--년도만 선택
			begin

				INSERT INTO #SPPurchaseDailyTemp
				Select CompanyName,BusinessRegistrationNum,  QI_HT.ItemNum, QI_HT.ItemName, PUC2.SmallClassificationName as Unit,  PUC.SmallClassificationName as ProcessName, PUC.SmallClassificationCode as ProcessCode, QI_HT.RegistrationDate as DeliveryDate, QI_HT.QualityInspectionCompleteDate as InStoreDate
				,RequestQuantity as Quantity, SuitabilityQuantity, UnSuitabilityQuantity,  QI_HT.StandardUnitCost , ApplyUnitCost, SuitabilityQuantity* ApplyUnitCost as TotalCost
				, null, null
				, case  PUC.SmallClassificationName 
				when '소재' 
				then (Select StockQuantity12 From RMS_MT where RMS_MT.RecodingState = 1 and [Year] = datePart(YY, getDate()) and RMS_MT.ItemNum = QI_HT.ItemNum)
					when '최종품'
					then (
							Select Sum(StockQuantity) as StockQuantity
							From
							(Select Sum(StockQuantity12) as StockQuantity From BS_MT
							where BS_MT.RecodingState = 1 and BS_MT.ItemNum = QI_HT.ItemNum and [Year] = datePart(YY, getDate())
							union all
							Select  StockQuantity12 From PS_MT
							where PS_MT.RecodingState = 1 and PS_MT.ItemNum = QI_HT.ItemNum and [Year] = datePart(YY, getDate())
							) T
						)
					else null
					end as NowStockQuantity , [Year], [Month]
				From QI_HT inner join PUC_MT PUC on EndProcessName = PUC.SmallClassificationCode
				inner join II_MT I on QI_HT.ItemNum = I.ItemNum
				inner join PUC_MT PUC1 on I.ItemClassification1 =  PUC1.SmallClassificationCode
				Inner join PUC_MT PUC2 on I.Unit = PUC2.SmallClassificationCode
				Where  I.RecodingState = 1 and PUC.RecodingState = 1 and PUC1.RecodingState = 1 and PUC2.RecodingState =1 and CompanyName != '' and (SuitabilityQuantity+UnSuitabilityQuantity) != 0
				and QI_HT.RegistrationDate between @StartDate and @EndDate
				and QI_HT.QualityInspectionCompleteDate between @MinDate and @MaxDate
				and QI_HT.ItemNum like '%'+@ItemNum+'%' and QI_HT.ItemDrawNum like '%'+@ItemDrawNum+'%'
				and QI_HT.ItemName like '%'+@ItemName+'%' and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
				and CompanyName like '%'+@CompanyName+'%'
				and QI_HT.ProgressCondition != '대기' and HistorySection2 ='구매발주'
				and ItemClassification1 like '%'+@ItemClassification1+'%'
				and ItemClassification2 like '%'+@ItemClassification2+'%'
				and ItemClassification3 like '%'+@ItemClassification3+'%'
				and [Year] = @Year
				and [Month] like '%'+@Month+'%'
		
				union all

				Select CompanyName, BusinessRegistrationNum, PCL_HT.ItemNum, PCL_HT.ItemName, PUC1.SmallClassificationName as Unit,  null as ProcessName, null as ProcessCode,  PCL_HT.RegistrationDate as  DeliveryDate, ReceiptDate as InStoreDate
				,null as Quantity,  null as SuitabilityQuantity, ClaimQuantity as UnSuitabilityQuantity, null as StandardUnitCost , null as ApplyUnitCost,  -ClaimCost as TotalCost
				, null, null, null, datePart(yy,ReceiptDate) as [Year], datepart(mm,ReceiptDate) as [Month]
				From PCL_HT
				inner join II_MT I on PCL_HT.ItemNum = I.ItemNum
				inner join PUC_MT PUC on I.ItemClassification1 =  PUC.SmallClassificationCode
				inner join PUC_MT PUC1 on I.Unit =  PUC1.SmallClassificationCode
		
				where I.RecodingState = 1 and PUC.RecodingState = 1 and PUC1.RecodingState = 1  and PCL_HT.RegistrationDate between @StartDate and @EndDate
				and ReceiptDate between @MinDate and @MaxDate
				and PCL_HT.ItemNum like '%'+@ItemNum+'%' and PCL_HT.ItemDrawNum like '%'+@ItemDrawNum+'%'
				and PCL_HT.ItemName like '%'+@ItemName+'%' and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
				and CompanyName like '%'+@CompanyName+'%'
				and ItemClassification1 like '%'+@ItemClassification1+'%'
				and ItemClassification2 like '%'+@ItemClassification2+'%'
				and ItemClassification3 like '%'+@ItemClassification3+'%'
				and datePart(yy,ReceiptDate) = @Year
				and datepart(mm,ReceiptDate) like '%'+@Month+'%'

			end
			else	-- 년도,월 모두 선택
			begin

				INSERT INTO #SPPurchaseDailyTemp
				Select CompanyName,BusinessRegistrationNum,  QI_HT.ItemNum, QI_HT.ItemName, PUC2.SmallClassificationName as Unit,  PUC.SmallClassificationName as ProcessName, PUC.SmallClassificationCode as ProcessCode, QI_HT.RegistrationDate as DeliveryDate, QI_HT.QualityInspectionCompleteDate as InStoreDate
				,RequestQuantity as Quantity, SuitabilityQuantity, UnSuitabilityQuantity, QI_HT.StandardUnitCost ,  ApplyUnitCost, SuitabilityQuantity* ApplyUnitCost as TotalCost
				, null, null
				, case  PUC.SmallClassificationName 
				when '소재' 
				then (Select StockQuantity12 From RMS_MT where RMS_MT.RecodingState = 1 and [Year] = datePart(YY, getDate()) and RMS_MT.ItemNum = QI_HT.ItemNum)
					when '최종품'
					then (
							Select Sum(StockQuantity) as StockQuantity
							From
							(Select Sum(StockQuantity12) as StockQuantity From BS_MT
							where BS_MT.RecodingState = 1 and BS_MT.ItemNum = QI_HT.ItemNum and [Year] = datePart(YY, getDate())
							union all
							Select  StockQuantity12 From PS_MT
							where PS_MT.RecodingState = 1 and PS_MT.ItemNum = QI_HT.ItemNum and [Year] = datePart(YY, getDate())
							) T
						)
					else null
					end as NowStockQuantity , [Year], [Month]
				From QI_HT inner join PUC_MT PUC on EndProcessName = PUC.SmallClassificationCode
				inner join II_MT I on QI_HT.ItemNum = I.ItemNum
				inner join PUC_MT PUC1 on I.ItemClassification1 =  PUC1.SmallClassificationCode
				Inner join PUC_MT PUC2 on I.Unit = PUC2.SmallClassificationCode
				Where  I.RecodingState = 1 and PUC.RecodingState = 1 and PUC1.RecodingState = 1 and PUC2.RecodingState =1 and CompanyName != '' and (SuitabilityQuantity+UnSuitabilityQuantity) != 0
				and QI_HT.RegistrationDate between @StartDate and @EndDate
				and QI_HT.QualityInspectionCompleteDate between @MinDate and @MaxDate
				and QI_HT.ItemNum like '%'+@ItemNum+'%' and QI_HT.ItemDrawNum like '%'+@ItemDrawNum+'%'
				and QI_HT.ItemName like '%'+@ItemName+'%' and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
				and CompanyName like '%'+@CompanyName+'%'
				and QI_HT.ProgressCondition != '대기' and HistorySection2 ='구매발주'
				and ItemClassification1 like '%'+@ItemClassification1+'%'
				and ItemClassification2 like '%'+@ItemClassification2+'%'
				and ItemClassification3 like '%'+@ItemClassification3+'%'
				and [Year] = @Year
				and [Month]  = @Month
		
				union all

				Select CompanyName, BusinessRegistrationNum, PCL_HT.ItemNum, PCL_HT.ItemName, PUC1.SmallClassificationName as Unit,  null as ProcessName, null as ProcessCode,  PCL_HT.RegistrationDate as  DeliveryDate, ReceiptDate as InStoreDate
				,null as Quantity,  null as SuitabilityQuantity, ClaimQuantity as UnSuitabilityQuantity, null as StandardUnitCost , null as ApplyUnitCost,  -ClaimCost as TotalCost
				, null, null, null, datePart(yy,ReceiptDate) as [Year], datepart(mm,ReceiptDate) as [Month]
				From PCL_HT
				inner join II_MT I on PCL_HT.ItemNum = I.ItemNum
				inner join PUC_MT PUC on I.ItemClassification1 =  PUC.SmallClassificationCode
				inner join PUC_MT PUC1 on I.Unit =  PUC1.SmallClassificationCode
		
				where I.RecodingState = 1 and PUC.RecodingState = 1 and PUC1.RecodingState = 1  and PCL_HT.RegistrationDate between @StartDate and @EndDate
				and ReceiptDate between @MinDate and @MaxDate
				and PCL_HT.ItemNum like '%'+@ItemNum+'%' and PCL_HT.ItemDrawNum like '%'+@ItemDrawNum+'%'
				and PCL_HT.ItemName like '%'+@ItemName+'%' and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
				and CompanyName like '%'+@CompanyName+'%'
				and ItemClassification1 like '%'+@ItemClassification1+'%'
				and ItemClassification2 like '%'+@ItemClassification2+'%'
				and ItemClassification3 like '%'+@ItemClassification3+'%'
				and datePart(yy,ReceiptDate) = @Year
				and datepart(mm,ReceiptDate)  = @Month
			end
		end
	end

	else if(@Division = '외주')
	begin

		if(@Year = '')
		begin
			if(@Month = '')
			begin
				INSERT INTO #SPPurchaseDailyTemp
				Select CompanyName,BusinessRegistrationNum,   QI_HT.ItemNum, QI_HT.ItemName, PUC2.SmallClassificationName as Unit,  PUC.SmallClassificationName as ProcessName, PUC.SmallClassificationCode as ProcessCode, QI_HT.RegistrationDate as DeliveryDate, QI_HT.QualityInspectionCompleteDate as InStoreDate
				,RequestQuantity as Quantity, SuitabilityQuantity, UnSuitabilityQuantity,  QI_HT.StandardUnitCost ,  ApplyUnitCost, SuitabilityQuantity* ApplyUnitCost as TotalCost
				, null, null, null , [Year], [Month]
				From QI_HT inner join PUC_MT PUC on EndProcessName = PUC.SmallClassificationCode
				inner join II_MT I on QI_HT.ItemNum = I.ItemNum
				inner join PUC_MT PUC1 on I.ItemClassification1 =  PUC1.SmallClassificationCode
				inner join PUC_MT PUC2 on I.Unit =  PUC2.SmallClassificationCode
				Where  I.RecodingState = 1 and PUC.RecodingState = 1 and PUC1.RecodingState = 1 and  PUC2.RecodingState =1 and CompanyName != '' and (SuitabilityQuantity+UnSuitabilityQuantity) != 0
				and QI_HT.RegistrationDate between @StartDate and @EndDate
				and QI_HT.QualityInspectionCompleteDate between @MinDate and @MaxDate
				and QI_HT.ItemNum like '%'+@ItemNum+'%' and QI_HT.ItemDrawNum like '%'+@ItemDrawNum+'%'
				and QI_HT.ItemName like '%'+@ItemName+'%' and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
				and CompanyName like '%'+@CompanyName+'%'
				and QI_HT.ProgressCondition != '대기'  and HistorySection2 ='외주발주'
				and ItemClassification1 like '%'+@ItemClassification1+'%'
				and ItemClassification2 like '%'+@ItemClassification2+'%'
				and ItemClassification3 like '%'+@ItemClassification3+'%'
				and [Year] like '%'+@Year+'%'
				and [Month] like '%'+@Month+'%'
			end
			else -- 월만 선택
			begin
				INSERT INTO #SPPurchaseDailyTemp
				Select CompanyName,BusinessRegistrationNum,   QI_HT.ItemNum, QI_HT.ItemName, PUC2.SmallClassificationName as Unit,  PUC.SmallClassificationName as ProcessName, PUC.SmallClassificationCode as ProcessCode, QI_HT.RegistrationDate as DeliveryDate, QI_HT.QualityInspectionCompleteDate as InStoreDate
				,RequestQuantity as Quantity, SuitabilityQuantity, UnSuitabilityQuantity, QI_HT.StandardUnitCost ,  ApplyUnitCost, SuitabilityQuantity* ApplyUnitCost as TotalCost
				, null, null, null , [Year], [Month]
				From QI_HT inner join PUC_MT PUC on EndProcessName = PUC.SmallClassificationCode
				inner join II_MT I on QI_HT.ItemNum = I.ItemNum
				inner join PUC_MT PUC1 on I.ItemClassification1 =  PUC1.SmallClassificationCode
				inner join PUC_MT PUC2 on I.Unit =  PUC2.SmallClassificationCode
				Where  I.RecodingState = 1 and PUC.RecodingState = 1 and PUC1.RecodingState = 1 and  PUC2.RecodingState =1 and CompanyName != '' and (SuitabilityQuantity+UnSuitabilityQuantity) != 0
				and QI_HT.RegistrationDate between @StartDate and @EndDate
				and QI_HT.QualityInspectionCompleteDate between @MinDate and @MaxDate
				and QI_HT.ItemNum like '%'+@ItemNum+'%' and QI_HT.ItemDrawNum like '%'+@ItemDrawNum+'%'
				and QI_HT.ItemName like '%'+@ItemName+'%' and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
				and CompanyName like '%'+@CompanyName+'%'
				and QI_HT.ProgressCondition != '대기'  and HistorySection2 ='외주발주'
				and ItemClassification1 like '%'+@ItemClassification1+'%'
				and ItemClassification2 like '%'+@ItemClassification2+'%'
				and ItemClassification3 like '%'+@ItemClassification3+'%'
				and [Year] like '%'+@Year+'%'
				and [Month] =@Month
			end
		end
		else
		begin
			if(@Month='')	-- 년도만 선택
			begin
				INSERT INTO #SPPurchaseDailyTemp
				Select CompanyName,BusinessRegistrationNum,   QI_HT.ItemNum, QI_HT.ItemName, PUC2.SmallClassificationName as Unit,  PUC.SmallClassificationName as ProcessName, PUC.SmallClassificationCode as ProcessCode, QI_HT.RegistrationDate as DeliveryDate, QI_HT.QualityInspectionCompleteDate as InStoreDate
				,RequestQuantity as Quantity, SuitabilityQuantity, UnSuitabilityQuantity, QI_HT.StandardUnitCost ,  ApplyUnitCost, SuitabilityQuantity* ApplyUnitCost as TotalCost
				, null, null, null , [Year], [Month]
				From QI_HT inner join PUC_MT PUC on EndProcessName = PUC.SmallClassificationCode
				inner join II_MT I on QI_HT.ItemNum = I.ItemNum
				inner join PUC_MT PUC1 on I.ItemClassification1 =  PUC1.SmallClassificationCode
				inner join PUC_MT PUC2 on I.Unit =  PUC2.SmallClassificationCode
				Where  I.RecodingState = 1 and PUC.RecodingState = 1 and PUC1.RecodingState = 1 and  PUC2.RecodingState =1 and CompanyName != '' and (SuitabilityQuantity+UnSuitabilityQuantity) != 0
				and QI_HT.RegistrationDate between @StartDate and @EndDate
				and QI_HT.QualityInspectionCompleteDate between @MinDate and @MaxDate
				and QI_HT.ItemNum like '%'+@ItemNum+'%' and QI_HT.ItemDrawNum like '%'+@ItemDrawNum+'%'
				and QI_HT.ItemName like '%'+@ItemName+'%' and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
				and CompanyName like '%'+@CompanyName+'%'
				and QI_HT.ProgressCondition != '대기'  and HistorySection2 ='외주발주'
				and ItemClassification1 like '%'+@ItemClassification1+'%'
				and ItemClassification2 like '%'+@ItemClassification2+'%'
				and ItemClassification3 like '%'+@ItemClassification3+'%'
				and [Year] = @Year
				and [Month] like '%'+@Month+'%'

			end
			else -- 년도, 월 모두 선택
			begin
				INSERT INTO #SPPurchaseDailyTemp
				Select CompanyName,BusinessRegistrationNum,   QI_HT.ItemNum, QI_HT.ItemName, PUC2.SmallClassificationName as Unit,  PUC.SmallClassificationName as ProcessName, PUC.SmallClassificationCode as ProcessCode, QI_HT.RegistrationDate as DeliveryDate, QI_HT.QualityInspectionCompleteDate as InStoreDate
				,RequestQuantity as Quantity, SuitabilityQuantity, UnSuitabilityQuantity, QI_HT.StandardUnitCost ,  ApplyUnitCost, SuitabilityQuantity* ApplyUnitCost as TotalCost
				, null, null, null , [Year], [Month]
				From QI_HT inner join PUC_MT PUC on EndProcessName = PUC.SmallClassificationCode
				inner join II_MT I on QI_HT.ItemNum = I.ItemNum
				inner join PUC_MT PUC1 on I.ItemClassification1 =  PUC1.SmallClassificationCode
				inner join PUC_MT PUC2 on I.Unit =  PUC2.SmallClassificationCode
				Where  I.RecodingState = 1 and PUC.RecodingState = 1 and PUC1.RecodingState = 1 and  PUC2.RecodingState =1 and CompanyName != '' and (SuitabilityQuantity+UnSuitabilityQuantity) != 0
				and QI_HT.RegistrationDate between @StartDate and @EndDate
				and QI_HT.QualityInspectionCompleteDate between @MinDate and @MaxDate
				and QI_HT.ItemNum like '%'+@ItemNum+'%' and QI_HT.ItemDrawNum like '%'+@ItemDrawNum+'%'
				and QI_HT.ItemName like '%'+@ItemName+'%' and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
				and CompanyName like '%'+@CompanyName+'%'
				and QI_HT.ProgressCondition != '대기'  and HistorySection2 ='외주발주'
				and ItemClassification1 like '%'+@ItemClassification1+'%'
				and ItemClassification2 like '%'+@ItemClassification2+'%'
				and ItemClassification3 like '%'+@ItemClassification3+'%'
				and [Year] = @Year
				and [Month] = @Month
			end
		end
	end
	else if(@Division = '부자재')
	begin
		if(@Year = '')
		begin
			if(@Month='')
			begin
				INSERT INTO #SPPurchaseDailyTemp
				Select CompanyName,BusinessRegistrationNum,  SBD_HT.ItemNum as ItemNum, SBD_HT.ItemName, PUC1.SmallClassificationName as Unit, '부자재' as ProcessName, '14009999' as ProcessCode,  DeliveryDate, DeliveryDate as InStoreDate
				,DeliveryQuantity as Quantity, DeliveryQuantity as SuitabilityQuantity , 0 as UnSuitabilityQuantity , SBD_HT.StandardUnitCost ,  ApplyUnitCost, DeliveryQuantity* ApplyUnitCost as TotalCost
				, null, null, null , [Year],[Month]
				From SBD_HT 
				inner join II_MT I  on SBD_HT.ItemNum = I.ItemNum
				inner join PUC_MT PUC1 on I.Unit =  PUC1.SmallClassificationCode
				Where I.RecodingState = 1 and PUC1.RecodingState = 1 and SBD_HT.RegistrationDate between @StartDate and @EndDate
				and DeliveryDate between @MinDate and @MaxDate
				and SBD_HT.ItemName like '%'+@ItemNum+'%' and SBD_HT.ItemName like '%'+@ItemDrawNum+'%'
				and SBD_HT.ItemName like '%'+@ItemName+'%' and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
				and CompanyName like '%'+@CompanyName+'%'
				and ItemClassification1 like '%'+@ItemClassification1+'%'
				and ItemClassification2 like '%'+@ItemClassification2+'%'
				and ItemClassification3 like '%'+@ItemClassification3+'%'
				and [Year] like '%'+@Year+'%'
				and [Month] like '%'+@Month+'%'
			end
			else		--월만선택
			begin
				INSERT INTO #SPPurchaseDailyTemp
				Select CompanyName,BusinessRegistrationNum,  SBD_HT.ItemNum as ItemNum, SBD_HT.ItemName, PUC1.SmallClassificationName as Unit,  '부자재' as ProcessName, '14009999' as ProcessCode, DeliveryDate, DeliveryDate as InStoreDate
				,DeliveryQuantity as Quantity, DeliveryQuantity as SuitabilityQuantity , 0 as UnSuitabilityQuantity ,  SBD_HT.StandardUnitCost , ApplyUnitCost, DeliveryQuantity* ApplyUnitCost as TotalCost
				, null, null, null , [Year],[Month]
				From SBD_HT 
				inner join II_MT I  on SBD_HT.ItemNum = I.ItemNum
				inner join PUC_MT PUC1 on I.Unit =  PUC1.SmallClassificationCode
				Where I.RecodingState = 1 and PUC1.RecodingState = 1 and SBD_HT.RegistrationDate between @StartDate and @EndDate
				and DeliveryDate between @MinDate and @MaxDate
				and SBD_HT.ItemName like '%'+@ItemNum+'%' and SBD_HT.ItemName like '%'+@ItemDrawNum+'%'
				and SBD_HT.ItemName like '%'+@ItemName+'%' and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
				and CompanyName like '%'+@CompanyName+'%'
				and ItemClassification1 like '%'+@ItemClassification1+'%'
				and ItemClassification2 like '%'+@ItemClassification2+'%'
				and ItemClassification3 like '%'+@ItemClassification3+'%'
				and [Year] like '%'+@Year+'%'
				and [Month]=@Month
			end
		end
		else
		begin
			if(@Month ='')--년도만 선택
			begin
				INSERT INTO #SPPurchaseDailyTemp
				Select CompanyName,BusinessRegistrationNum,  SBD_HT.ItemNum as ItemNum, SBD_HT.ItemName, PUC1.SmallClassificationName as Unit,  '부자재' as ProcessName, '14009999' as ProcessCode, DeliveryDate, DeliveryDate as InStoreDate
				,DeliveryQuantity as Quantity, DeliveryQuantity as SuitabilityQuantity , 0 as UnSuitabilityQuantity ,  SBD_HT.StandardUnitCost , ApplyUnitCost, DeliveryQuantity* ApplyUnitCost as TotalCost
				, null, null, null , [Year],[Month]
				From SBD_HT 
				inner join II_MT I  on SBD_HT.ItemNum = I.ItemNum
				inner join PUC_MT PUC1 on I.Unit =  PUC1.SmallClassificationCode
				Where I.RecodingState = 1 and PUC1.RecodingState = 1 and SBD_HT.RegistrationDate between @StartDate and @EndDate
				and DeliveryDate between @MinDate and @MaxDate
				and SBD_HT.ItemName like '%'+@ItemNum+'%' and SBD_HT.ItemName like '%'+@ItemDrawNum+'%'
				and SBD_HT.ItemName like '%'+@ItemName+'%' and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
				and CompanyName like '%'+@CompanyName+'%'
				and ItemClassification1 like '%'+@ItemClassification1+'%'
				and ItemClassification2 like '%'+@ItemClassification2+'%'
				and ItemClassification3 like '%'+@ItemClassification3+'%'
				and [Year] = @Year
				and [Month] like '%'+@Month+'%'
			end
			else		--년도, 월 모두 선택
			begin
				INSERT INTO #SPPurchaseDailyTemp
				Select CompanyName,BusinessRegistrationNum,  SBD_HT.ItemNum as ItemNum, SBD_HT.ItemName, PUC1.SmallClassificationName as Unit, '부자재' as ProcessName, '14009999' as ProcessCode, DeliveryDate, DeliveryDate as InStoreDate
				,DeliveryQuantity as Quantity, DeliveryQuantity as SuitabilityQuantity , 0 as UnSuitabilityQuantity , SBD_HT.StandardUnitCost ,  ApplyUnitCost, DeliveryQuantity* ApplyUnitCost as TotalCost
				, null, null, null , [Year],[Month]
				From SBD_HT 
				inner join II_MT I  on SBD_HT.ItemNum = I.ItemNum
				inner join PUC_MT PUC1 on I.Unit =  PUC1.SmallClassificationCode
				Where I.RecodingState = 1 and PUC1.RecodingState = 1 and SBD_HT.RegistrationDate between @StartDate and @EndDate
				and DeliveryDate between @MinDate and @MaxDate
				and SBD_HT.ItemName like '%'+@ItemNum+'%' and SBD_HT.ItemName like '%'+@ItemDrawNum+'%'
				and SBD_HT.ItemName like '%'+@ItemName+'%' and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
				and CompanyName like '%'+@CompanyName+'%'
				and ItemClassification1 like '%'+@ItemClassification1+'%'
				and ItemClassification2 like '%'+@ItemClassification2+'%'
				and ItemClassification3 like '%'+@ItemClassification3+'%'
				and [Year] = @Year
				and [Month] = @Month
			end				
		end
	end
	else if(@Division = '기타')
	begin
		if(@Year ='')
		begin
			if(@Month='')
			begin
				INSERT INTO #SPPurchaseDailyTemp
				Select CompanyName,BusinessRegistrationNum,  ItemName as ItemNum, ItemName, null as Unit,  null as ProcessName, null as ProcessCode, RegistrationDate as DeliveryDate, DeliveryDemandDate as InStoreDate
				,DeliveryQuantity as Quantity, DeliveryQuantity as SuitabilityQuantity , 0 as UnSuitabilityQuantity , null as StandardUnitCost ,  ApplyUnitCost, DeliveryQuantity* ApplyUnitCost as TotalCost
				, null, null, null , [Year], [Month]
				From EtcBD_HT
				Where RegistrationDate between @StartDate and @EndDate
				and DeliveryDemandDate between @MinDate and @MaxDate
				and ItemName like '%'+@ItemNum+'%' and ItemName like '%'+@ItemDrawNum+'%'
				and ItemName like '%'+@ItemName+'%' and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
				and CompanyName like '%'+@CompanyName+'%'
				and [Year] like '%'+@Year+'%'
				and [Month] like '%'+@Month+'%'

				union all

				Select CompanyName, BusinessRegistrationNum, EtcClaimRegion as ItemNum, EtcClaimRegion as ItemName, null as Unit,  null as ProcessName,  null as ProcessCode, RegistrationDate as  DeliveryDate, ReceiptDate as InStoreDate
				,null as Quantity,  null as SuitabilityQuantity, null as UnSuitabilityQuantity, null as StandardUnitCost , null as ApplyUnitCost,  -ClaimCost as TotalCost
				, null, null, null ,  datePart(yy,ReceiptDate) as [Year], datepart(mm,ReceiptDate) as [Month]
				From ECL_HT
				where RegistrationDate between @StartDate and @EndDate
				and ReceiptDate between @MinDate and @MaxDate
				and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
				and CompanyName like '%'+@CompanyName+'%'
				and datePart(yy,ReceiptDate) like '%'+@Year+'%'
				and datepart(mm,ReceiptDate) like '%'+ @Month+'%'
			end
			else		--월만 선택
			begin
				INSERT INTO #SPPurchaseDailyTemp
				Select CompanyName,BusinessRegistrationNum,  ItemName as ItemNum, ItemName, null as Unit,  null as ProcessName, null as ProcessCode, RegistrationDate as DeliveryDate, DeliveryDemandDate as InStoreDate
				,DeliveryQuantity as Quantity, DeliveryQuantity as SuitabilityQuantity , 0 as UnSuitabilityQuantity , null as StandardUnitCost ,  ApplyUnitCost, DeliveryQuantity* ApplyUnitCost as TotalCost
				, null, null, null , [Year], [Month]
				From EtcBD_HT
				Where RegistrationDate between @StartDate and @EndDate
				and DeliveryDemandDate between @MinDate and @MaxDate
				and ItemName like '%'+@ItemNum+'%' and ItemName like '%'+@ItemDrawNum+'%'
				and ItemName like '%'+@ItemName+'%' and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
				and CompanyName like '%'+@CompanyName+'%'
				and [Year]  like '%'+@Year+'%'
				and [Month]  = @Month

				union all

				Select CompanyName, BusinessRegistrationNum, EtcClaimRegion as ItemNum, EtcClaimRegion as ItemName, null as Unit,  null as ProcessName,  null as ProcessCode, RegistrationDate as  DeliveryDate, ReceiptDate as InStoreDate
				,null as Quantity,  null as SuitabilityQuantity, null as UnSuitabilityQuantity, null as StandardUnitCost , null as ApplyUnitCost,  -ClaimCost as TotalCost
				, null, null, null ,  datePart(yy,ReceiptDate) as [Year], datepart(mm,ReceiptDate) as [Month]
				From ECL_HT
				where RegistrationDate between @StartDate and @EndDate
				and ReceiptDate between @MinDate and @MaxDate
				and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
				and CompanyName like '%'+@CompanyName+'%'
				and datePart(yy,ReceiptDate)  like '%'+@Year+'%'
				and datepart(mm,ReceiptDate) = @Month
			end
		end
		else
		begin
			if(@Month ='')--년도만 선택
			begin
				INSERT INTO #SPPurchaseDailyTemp

				Select CompanyName,BusinessRegistrationNum,  ItemName as ItemNum, ItemName, null as Unit,  null as ProcessName, null as ProcessCode, RegistrationDate as DeliveryDate, DeliveryDemandDate as InStoreDate
				,DeliveryQuantity as Quantity, DeliveryQuantity as SuitabilityQuantity , 0 as UnSuitabilityQuantity , null as StandardUnitCost ,  ApplyUnitCost, DeliveryQuantity* ApplyUnitCost as TotalCost
				, null, null, null , [Year], [Month]
				From EtcBD_HT
				Where RegistrationDate between @StartDate and @EndDate
				and DeliveryDemandDate between @MinDate and @MaxDate
				and ItemName like '%'+@ItemNum+'%' and ItemName like '%'+@ItemDrawNum+'%'
				and ItemName like '%'+@ItemName+'%' and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
				and CompanyName like '%'+@CompanyName+'%'
				and [Year] = @Year
				and [Month] like '%'+@Month+'%'

				union all
				Select CompanyName, BusinessRegistrationNum, EtcClaimRegion as ItemNum, EtcClaimRegion as ItemName, null as Unit,  null as ProcessName, null as ProcessCode,  RegistrationDate as  DeliveryDate, ReceiptDate as InStoreDate
				,null as Quantity,  null as SuitabilityQuantity, null as UnSuitabilityQuantity, null as StandardUnitCost , null as ApplyUnitCost,  -ClaimCost as TotalCost
				, null, null, null ,  datePart(yy,ReceiptDate) as [Year], datepart(mm,ReceiptDate) as [Month]
				From ECL_HT
				where RegistrationDate between @StartDate and @EndDate
				and ReceiptDate between @MinDate and @MaxDate
				and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
				and CompanyName like '%'+@CompanyName+'%'
				and datePart(yy,ReceiptDate) = @Year
				and datePart(yy,ReceiptDate) like '%'+@Month+'%'
			end
			else		-- 년도, 월 모두 선택
			begin
				INSERT INTO #SPPurchaseDailyTemp
				Select CompanyName,BusinessRegistrationNum,  ItemName as ItemNum, ItemName, null as Unit,  null as ProcessName, null as ProcessCode, RegistrationDate as DeliveryDate, DeliveryDemandDate as InStoreDate
				,DeliveryQuantity as Quantity, DeliveryQuantity as SuitabilityQuantity , 0 as UnSuitabilityQuantity , null as StandardUnitCost ,  ApplyUnitCost, DeliveryQuantity* ApplyUnitCost as TotalCost
				, null, null, null , [Year], [Month]
				From EtcBD_HT
				Where RegistrationDate between @StartDate and @EndDate
				and DeliveryDemandDate between @MinDate and @MaxDate
				and ItemName like '%'+@ItemNum+'%' and ItemName like '%'+@ItemDrawNum+'%'
				and ItemName like '%'+@ItemName+'%' and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
				and CompanyName like '%'+@CompanyName+'%'
				and [Year] = @Year
				and [Month] = @Month

				union all

				Select CompanyName, BusinessRegistrationNum, EtcClaimRegion as ItemNum, EtcClaimRegion as ItemName, null as Unit,  null as ProcessName,  null as ProcessCode, RegistrationDate as  DeliveryDate, ReceiptDate as InStoreDate
				,null as Quantity,  null as SuitabilityQuantity, null as UnSuitabilityQuantity, null as StandardUnitCost , null as ApplyUnitCost,  -ClaimCost as TotalCost
				, null, null, null ,  datePart(yy,ReceiptDate) as [Year], datepart(mm,ReceiptDate) as [Month]
				From ECL_HT
				where RegistrationDate between @StartDate and @EndDate
				and ReceiptDate between @MinDate and @MaxDate
				and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
				and CompanyName like '%'+@CompanyName+'%'
				and datePart(yy,ReceiptDate) = @Year
				and datepart(mm,ReceiptDate) = @Month
			end
		end
	end


	SELECT 
		CompanyName 
		, BusinessRegistrationNum 
		, ItemNum 
		, ItemName 
		, Unit
		, ProcessName 
		, DeliveryDate
		, InStoreDate
		, Quantity
		, SuitabilityQuantity
		, UnSuitabilityQuantity
		, StandardUnitCost 
		, ApplyUnitCost
		, TotalCost 
		, MonthTotal
		, YearTotal
		, NowStockQuantity
		,[Year]
		,[Month]
	 FROM 
	(


		SELECT 
		DT.CompanyName 
		, DT.BusinessRegistrationNum 
		, DT.ItemNum 
		, DT.ItemName 
		, DT.Unit
		, DT.ProcessName 
		, DT.DeliveryDate
		, DT.InStoreDate
		, DT.Quantity
		, DT.SuitabilityQuantity
		, DT.UnSuitabilityQuantity
		, DT.StandardUnitCost-- as StandardUnitCost
		, DT.ApplyUnitCost
		, DT.TotalCost 
		, DT.MonthTotal
		, DT.YearTotal
		, DT.NowStockQuantity
		, [Year]
		,[Month]
		, DT.BusinessRegistrationNum as Num
		FROM #SPPurchaseDailyTemp DT
		--FROM #SPPurchaseDailyTemp DT left outer join #SPPurchaseUCITemp UCI on DT.ItemNum = UCI.ItemNum and DT.BusinessRegistrationNum = UCI.BusinessRegistrationNum and DT.ProcessCode = UCI.EndProcessCode
			
		
		

		
	
		UNION ALL
	
		SELECT 
		NULL	-- CompanyName
		,  '소계'	-- BusinessRegistrationNum
		, '소 계'	--ItemNum
		, NULL	--ItemName
		, NULL	--Unit
		, NULL	--ProcessName
		,NULL	--DeliveryDate
		,NULL	--InStoreDate
		,ISNULL( Sum(d1.Quantity),0) as Quantity
		,ISNULL( Sum(d1.SuitabilityQuantity),0) as SuitabilityQuantity
		,ISNULL( Sum(d1.UnSuitabilityQuantity) ,0) as UnSuitabilityQuantity
		,NULL as StandardUnitCost
		,isNULL(null,0)	as ApplyUnitCost
		,ISNULL( Sum(d1.TotalCost),0) AS TotalCost
		, (select isnull(Sum(d.TotalCost),0) 
			From #SPPurchaseDailyTemp d )			
		, (select isnull(Sum(d.SuitabilityQuantity* d.ApplyUnitCost),0)  
			From #SPPurchaseDailyTemp d )
		,NULL
		,NULL
		,NULL
		, d1.BusinessRegistrationNum as Num
		FROM #SPPurchaseDailyTemp d1
		GROUP BY d1.BusinessRegistrationNum
	
		UNION ALL
	
		SELECT 
		'합계'
		, NULL
		, NULL	--ItemNum
		, NULL	--ItemName
		, NULL	--Unit
		, NULL	--ProcessName
		,NULL	--DeliveryDate
		,NULL	--InStoreDate
		,ISNULL( Sum(d1.Quantity),0) as Quantity
		,ISNULL( Sum(d1.SuitabilityQuantity),0) as SuitabilityQuantity
		,ISNULL( Sum(d1.UnSuitabilityQuantity) ,0) as SuitabilityQuantity
		,NULL as StandardUnitCost
		,NULL
		,ISNULL( Sum(d1.TotalCost),0) AS TotalCost
		, null --MonthTotal
		, null
		,NULL
		,NULL
		,NULL
		, '999' as Num
		FROM #SPPurchaseDailyTemp d1
		
	) T


	ORDER BY Num, BusinessRegistrationNum, DeliveryDate
GO
