USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[CompanySearch_Popup]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE   proc [dbo].[CompanySearch_Popup]
(
	  @Tag varchar(20)
	, @Value varchar(50)
	, @BusinessRegistrationNum varchar(50) = ''
	, @UnitCostDistinction varchar(20) = ''
)
as
begin
	declare @SQL varchar(3000)
	if ( @BusinessRegistrationNum <> '' )
	begin
		set @SQL = '
		select CI_MT.CompanyName as [거래처명]
		,CI_MT.BusinessRegistrationNum as [사업자등록번호]
		, CI_MT.PresidentName as [대표자명]
		from CI_MT  join uci_mt on CI_MT.BusinessRegistrationNum = uci_mt.BusinessRegistrationNum
		where (CI_mt.recodingstate = 1 and uci_mt.recodingstate = 1) and 
		CI_mt.' + @Tag + ' like ''%' + @Value + '%''
		and 
		(
			(	
				 UCI_MT.BusinessRegistrationNum 
				= 
				 ''' + @BusinessRegistrationNum + ''' 
			)
		)
		and 
		(
			(	
				case when ''' + @UnitCostDistinction + ''' <> ''''  then UCI_MT.UnitCostDistinction else '''' end
				= 
				case when ''' + @UnitCostDistinction + ''' <> ''''  then ''' + @UnitCostDistinction + ''' else '''' end
			)
		)
		 group by II_MT.itemnum, II_MT.ItemDrawNum, II_MT.ItemName '
	end
	else
	begin
		set @SQL = '
		select CI_MT.CompanyName as [거래처명]
		,CI_MT.BusinessRegistrationNum as [사업자등록번호]
		, CI_MT.PresidentName as [대표자명]
		from CI_MT 
		where (CI_MT.recodingstate = 1) and 
		CI_MT.' + @Tag + ' like ''%' + @Value + '%'''
	end
	exec ( @SQL )
end
GO
