USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[SPItemIncongruity]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE        PROCEDURE [dbo].[SPItemIncongruity]
@ItemNum AS VARCHAR(50), 
@ItemDrawNum AS VARCHAR(50), 
@ItemName AS VARCHAR(50), 
@Division AS VARCHAR(10), 
@StartDate AS smalldatetime, 
@EndDate AS smalldatetime
 AS
/*
Declare @ItemNum AS VARCHAR(50)
Declare @ItemDrawNum AS VARCHAR(50)
Declare @ItemName AS VARCHAR(50)
Declare @Division AS VARCHAR(50)
Declare @StartDate AS smalldatetime
Declare @EndDate AS smalldatetime
set @ItemNum =''
set @ItemDrawNum =''
set @ItemName =''
set @Division  =''
set @StartDate =''
set @EndDate  =''
*/
	if(@StartDate = '')
		Set @StartDate = '1999-01-01'
	if(@EndDate = '')
		Set @EndDate = '2050-12-31'
	if(@Division = '전체')
	begin
		
		Select 
		case Division
		when '구매발주' then '구매'
		when '외주발주' then '외주'	
		else '자가'
		end	Division,
		ItemNum, ItemDrawNum, ItemName, ProcessSequenceNum, ProcessName,
		CompanyName, TotalQuantity, 
		UnSuitabilityQuantity, UnSuitabilityStatusMeaning, 
             	UnSuitabilityCauseMeaning,
		 InspectionDate, InspectionDecision 
		From ItemIncongruity
		WHERE ItemNum like '%'+@ItemNum+'%'
		and ItemDrawNum like '%'+@ItemDrawNum+'%'
		and ItemName like '%'+@ItemName+'%'
		and InspectionDate BETWEEN @StartDate AND @EndDate
		and UnSuitabilityQuantity != 0
		order by InspectionDate, ItemNum, CompanyName,ProcessSequenceNum
	end
	else if(@Division = '자가')
	begin
		Select  '자가' as Division,
		ItemNum, ItemDrawNum, ItemName, ProcessSequenceNum, ProcessName,
		CompanyName, TotalQuantity, 
		UnSuitabilityQuantity, UnSuitabilityStatusMeaning, 
             	UnSuitabilityCauseMeaning,
		 InspectionDate, InspectionDecision 
		From ItemIncongruity
		WHERE ItemNum like '%'+@ItemNum+'%'
		and ItemDrawNum like '%'+@ItemDrawNum+'%'
		and ItemName like '%'+@ItemName+'%'
		and Division = '자가'
		and InspectionDate BETWEEN @StartDate AND @EndDate
		and UnSuitabilityQuantity != 0
		order by InspectionDate, ItemNum, CompanyName,ProcessSequenceNum
	end
	else if(@Division = '구매')
	begin
		Select '구매' as Division,
		ItemNum, ItemDrawNum, ItemName, ProcessSequenceNum, ProcessName,
		CompanyName, TotalQuantity, 
		UnSuitabilityQuantity, UnSuitabilityStatusMeaning, 
             	UnSuitabilityCauseMeaning,
		 InspectionDate, InspectionDecision 
		From ItemIncongruity
		WHERE ItemNum like '%'+@ItemNum+'%'
		and ItemDrawNum like '%'+@ItemDrawNum+'%'
		and ItemName like '%'+@ItemName+'%'
		and Division = '구매발주'
		and InspectionDate BETWEEN @StartDate AND @EndDate
		and UnSuitabilityQuantity != 0
		order by InspectionDate, ItemNum, CompanyName,ProcessSequenceNum
	end
	else if(@Division = '외주')
	begin
		Select  '외주' as Division,
		ItemNum, ItemDrawNum, ItemName, ProcessSequenceNum, ProcessName,
		CompanyName, TotalQuantity, 
		UnSuitabilityQuantity, UnSuitabilityStatusMeaning, 
             	UnSuitabilityCauseMeaning,
		InspectionDate, InspectionDecision 
		From ItemIncongruity
		WHERE ItemNum like '%'+@ItemNum+'%'
		and ItemDrawNum like '%'+@ItemDrawNum+'%'
		and ItemName like '%'+@ItemName+'%'
		and Division = '외주발주'
		and InspectionDate BETWEEN @StartDate AND @EndDate	
		and UnSuitabilityQuantity != 0
		order by InspectionDate, ItemNum, CompanyName,ProcessSequenceNum
	end
GO
