USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[SPThisItemOutStockQuantity]    Script Date: 07/02/2026 08:48:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE   PROCEDURE [dbo].[SPThisItemOutStockQuantity]  
@ItemNum as varchar(100),
@ProcessCode as varchar(20),
@Year as int,
@Month as int

 AS
	--정상금월 출고 :  제품입고등록시 생산창고 출고되는 것 밖에 없음
	Select sum(ThisItemOutStockQuantity) as ThisItemOutStockQuantity   
	From
	(
		Select isnull(Sum(InStorehouseQuantity), 0)  as ThisItemOutStockQuantity From IS_HT where ItemNum  = @ItemNum and ProcessCode = @ProcessCode and datepart(yy,InStoreDate) =@Year and datepart(mm,InStoreDate) = @Month
	)T
GO
