USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[RowMaterialRequirementCalculate]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE  PROCEDURE [dbo].[RowMaterialRequirementCalculate] AS
	
	delete  From TempTreeCommonRemainderTable
	IF exists (Select 1 From tempdb..sysobjects where name like '#CommonMaterial%')
		DROP TABLE #CommonMaterial
	-- 원자재 창고 join 품목정보(공통소재) => 공통소재원자재창고테이블
	CREATE TABLE #CommonMaterial
	(
		ItemNum VARCHAR(50),
		ItemDrawNum VARCHAR(50),
		ItemName VARCHAR(50),
		Quantity decimal(20,2),
	) 
	
	Insert  into #CommonMaterial
	select RMS_MT.ItemNum, II_MT.ItemDrawNum, II_MT.ItemName, StockQuantity12
	from RMS_MT join II_MT on RMS_MT.ItemNum = II_MT.ItemNum
	Where RMS_MT.RecodingState = 1 and II_MT.RecodingState = 1 and II_MT.Commonable = 1
	
	--작업계획원장의 대기/지시/진행인 품목 들의 Group by 품목 => 품목별 작업계획 잔량테이블
	IF exists (Select 1 From tempdb..sysobjects where name like '#WorkPlanRemainderQuantityTable%')
		DROP TABLE #WorkPlanRemainderQuantityTable
	CREATE TABLE #WorkPlanRemainderQuantityTable
	(
		ItemNum VARCHAR(50),
		ItemDrawNum VARCHAR(50),
		ItemName VARCHAR(50),
		Quantity decimal(20,2),
	) 
	Insert into #WorkPlanRemainderQuantityTable
	select ItemNum, ItemDrawNum, ItemName, sum(WorkPlanQuantity - WorkCompletionQuantity)
	from wdwp_ht
	where ProgressCondition = '대기' or ProgressCondition = '지시' or ProgressCondition = '진행'
	group by ItemNum, ItemDrawNum, ItemName
	--생산창고  Group by 품목 /sum(수량) => 품목별생산창고테이블
	IF exists (Select 1 From tempdb..sysobjects where name like '#ItemProductStoreTable%')
		DROP TABLE #ItemProductStoreTable
	CREATE TABLE #ItemProductStoreTable
	(
		ItemNum VARCHAR(50),
		ItemDrawNum VARCHAR(50),
		ItemName VARCHAR(50),
		Quantity decimal(20,2),
	) 
	Insert into #ItemProductStoreTable
	select PS_MT.ItemNum, II_MT.ItemDrawNum, II_MT.ItemName, sum(StockQuantity12)
	from PS_MT join II_MT on PS_MT.ItemNum = II_MT.ItemNum
	Where PS_MT.RecodingState = 1 and II_MT.RecodingState = 1
	Group by PS_MT.ItemNum, II_MT.ItemDrawNum, II_MT.ItemName
	-- #WorkPlanRemainderQuantityTable(작업계획 잔량테이블)에 존재하는
	-- 품목들의 BOM을 푼다음 자품목들에 대해서 
	-- 품목별 생산창고나 공통소재 원자재 창고에서 빼준다
	-- 먼저 품목을 하나꺼내 자품을 누적하는 테이블을 생성한다
	IF exists (Select 1 From tempdb..sysobjects where name like '#ChildItemProductStoreTable%')
		DROP TABLE #ChildItemProductStoreTable
	CREATE TABLE #ChildItemProductStoreTable
	(
		ItemNum VARCHAR(50),
		Quantity decimal(20,2),
	) 
	declare CUR Cursor
	READ_ONLY
	for
		select ItemNum,Quantity
		From #WorkPlanRemainderQuantityTable	
	open CUR
	declare @ItemNum varchar(50)
	declare @Quantity decimal(20,2)
		fetch Next from CUR into @ItemNum, @Quantity
	
	WHILE @@FETCH_STATUS = 0
	BEGIN	
		insert #ChildItemProductStoreTable
		select ChildItemNum as ItemNum, (@Quantity * NeedQuantityNumerator/NeedQuantityDenominator) as Quantity
		From IOI_MT 			
		Where IOI_MT.ParentItemNum = @ItemNum and RecodingState = 1
		fetch Next from CUR into @ItemNum, @Quantity
	END
	close CUR
	DEALLOCATE CUR
	--select * From #ChildItemProductStoreTable
	
	-- BOM을 푼 품목별 생산창고테이블(#ChildItemProductStoreTable)을 커서를 이용해
	-- 품목별 생산창고테이블 및 공통소재 원자재 창고에 수량을 뺀다.
	declare CUR1 Cursor
	READ_ONLY
	for
		select ItemNum,Quantity From #ChildItemProductStoreTable
		--select * From #ItemProductStoreTable
	open CUR1
	declare @ItemNum1 varchar(50)
	declare @Quantity1 decimal(20,2)
	declare @PropertyClassification varchar(50)
		fetch Next From CUR1 into @ItemNum1, @Quantity1
	WHILE @@FETCH_STATUS = 0
	BEGIN
		-- 꺼낸 품목의 자산분류가 무었인지 판단후 원자재이면 공통소재창고테이블에 수량을 빼고
		-- 자산분류가 반제품,제품이면 품목별 생산창고테이블에서 수량을 뺀다
		Set @PropertyClassification = (Select PropertyClassification From II_MT Where RecodingState = 1 and ItemNum = @ItemNum1)
		
		if(@PropertyClassification = '원자재')
			Update #CommonMaterial  Set Quantity = (Quantity - @Quantity1) Where ItemNum = @ItemNum1
		else if(@PropertyClassification = '반제품' or @PropertyClassification = '제품')
			Update #ItemProductStoreTable  Set Quantity = (Quantity - @Quantity1) Where ItemNum = @ItemNum1
		
		fetch Next From CUR1 into @ItemNum1, @Quantity1
	END
	close CUR1
	DEALLOCATE CUR1
	-- 품목별 생산창고 테이블(#ItemProductStoreTable)을 원자재로 환산후 레코드로 계속 추가
	-- 먼저 품목별 생산창고 원자재 환산분 테이블을 생성한다.
	IF exists (Select 1 From tempdb..sysobjects where name like '#ItemProductStoreChangeTable%')
		DROP TABLE #ItemProductStoreChangeTable
	CREATE TABLE #ItemProductStoreChangeTable
	(
		ItemNum VARCHAR(50),
		ItemDrawNum VARCHAR(50),
		ItemName VARCHAR(50),
		Quantity decimal(20,2),
	) 
	declare CUR2 Cursor	
	READ_ONLY
	for
		--select ItemNum,Quantity From #ItemProductStoreTable
		select ItemNum,Quantity From #ItemProductStoreTable where Quantity <0
	open CUR2
	declare @ItemNum2 varchar(50)
	declare @Quantity2 decimal(20,2)
	declare @ItemProductStoreItemNum varchar(50)
	declare @ItemProductStoreQuantity decimal(20,2)
		fetch Next From CUR2 into @ItemNum2, @Quantity2
	while @@FETCH_STATUS = 0
	BEGIN
		Set @ItemProductStoreItemNum = @ItemNum2
		Set @ItemProductStoreQuantity = @Quantity2
		
		
		
		IF exists (Select 1 From tempdb..sysobjects where name like '#TempTree%')
			DROP TABLE #TempTree
		-- 특정제품을 생산하는데 필요한 부품과 수량을 임시로 기억할 Table
		CREATE TABLE #TempTree
		(
			ItemNum VARCHAR(50),
			ItemDrawNum VARCHAR(50),
			ItemName VARCHAR(50),
			Quantity decimal(20,2),
			PropertyClassification VARCHAR(50),
			Lvl TINYINT,
			Path VARCHAR(500),
		)  
		-- 품목을 구성하기 위해 임시로 만든 Table
		IF exists (Select 1 From tempdb..sysobjects where name like '#TempItem%')
			DROP TABLE #TempItem
		CREATE TABLE #TempItem
		(
			ItemNum	VARCHAR(50),
			ItemDrawNum VARCHAR(50),
			ItemName VARCHAR(50),
			NeedQuantityDenominator DECIMAL(20, 3),
			ParentItemNum VARCHAR(50),
			PropertyClassification VARCHAR(50)
		)
		-- 자품번호입력
		INSERT INTO #TempItem
		SELECT IOI_MT.ChildItemNum AS ItemNum, II_MT.ItemDrawNum AS ItemDrawNum, II_MT.ItemName AS ItemName, 
			IOI_MT.NeedQuantityNumerator / IOI_MT.NeedQuantityDenominator AS NeedQuantityDenominator,
			IOI_MT.ParentItemNum  AS ParentItemNum, II_MT.PropertyClassification AS PropertyClassification
		FROM II_MT JOIN IOI_MT ON II_MT.ItemNum = IOI_MT.ChildItemNum
		WHERE (II_MT.RecodingState = 1) AND (IOI_MT.RecodingState = 1)
		-- 모품번호입력
		INSERT INTO #TempItem 
		SELECT ItemNum, ItemDrawNum,  ItemName, 1 AS NeedQuantityDenominator, null AS ParentItemNum, PropertyClassification
		FROM II_MT WHERE II_MT.RecodingState = 1 AND ItemNum = @ItemProductStoreItemNum
		DECLARE @Lvl TINYINT, @Path VARCHAR(500)
		
		SET @Lvl = 1
		-- 모품ItemNum + 자기ItemNum
		SET @Path = ''
		INSERT INTO #TempTree
		SELECT TOP 1 ItemNum, ItemDrawNum,  ItemName, @ItemProductStoreQuantity, PropertyClassification, @Lvl, @Path + CAST(ItemNum as varchar(50))
		FROM #TempItem WHERE ItemNum = @ItemProductStoreItemNum
		WHILE ( @@ROWCOUNT > 0 )
		BEGIN
			SET @Lvl = @Lvl + 1
			INSERT INTO #TempTree
			SELECT TempItem.ItemNum, TempItem.ItemDrawNum, TempItem.ItemName,
				TempItem.NeedQuantityDenominator * TempTree.Quantity, TempItem.PropertyClassification,
				@Lvl, (TempTree.Path + CAST(TempItem.ItemNum as varchar(50)) ) 
			FROM #TempItem AS TempItem JOIN #TempTree AS TempTree
			ON TempItem.ParentItemNum = TempTree.ItemNum AND TempTree.Lvl = @Lvl - 1
		END
		
		
		DELETE FROM #TempTree WHERE PropertyClassification != '원자재'
		
		Insert  into #ItemProductStoreChangeTable 
			SELECT ItemNum, ItemDrawNum, ItemName, sum(Quantity) 'Quantity' 
			FROM #TempTree
			GROUP BY ItemNum, ItemDrawNum, ItemName
		fetch Next From CUR2 into @ItemNum2, @Quantity2
	END
	close CUR2
	DEALLOCATE CUR2
	--select * From  #ItemProductStoreChangeTable
	--품목별 생산창고 원자재 환산분테이블(#ItemProductStoreChangeTable)과 품목정보(공통소재) join후
	--Where Quantity <0 인것만 고르면 품목별 작업소요 원자재 부족분테이블()이 생겨난다.
	
	IF exists (Select 1 From tempdb..sysobjects where name like '#ItemProductStoreChangeMinusTable%')
		DROP TABLE #ItemProductStoreChangeMinusTable
	CREATE TABLE #ItemProductStoreChangeMinusTable
	(
		ItemNum VARCHAR(50),
		Quantity decimal(20,2),
	) 
	
	insert into #ItemProductStoreChangeMinusTable
	select #ItemProductStoreChangeTable.ItemNum, Quantity 
	From #ItemProductStoreChangeTable inner join II_MT on #ItemProductStoreChangeTable.ItemNum = II_MT.ItemNum
	Where #ItemProductStoreChangeTable.Quantity < 0 
	if((select Count(*) From #CommonMaterial) > (select Count(*) From #ItemProductStoreChangeMinusTable))
	begin
		Insert into TempTreeCommonRemainderTable
		Select #CommonMaterial.ItemNum, isnull(isnull(#CommonMaterial.Quantity,0) + isnull(#ItemProductStoreChangeMinusTable.Quantity,0),0)
		From #CommonMaterial left outer join #ItemProductStoreChangeMinusTable on #CommonMaterial.ItemNum = #ItemProductStoreChangeMinusTable.ItemNum
	end
	else
	begin
		Insert into TempTreeCommonRemainderTable
		Select #ItemProductStoreChangeMinusTable.ItemNum,isnull(isnull(#CommonMaterial.Quantity,0) + isnull(#ItemProductStoreChangeMinusTable.Quantity,0),0)
		From #ItemProductStoreChangeMinusTable  left outer join #CommonMaterial on #ItemProductStoreChangeMinusTable.ItemNum = #CommonMaterial.ItemNum
	end
	select * From TempTreeCommonRemainderTable
GO
