USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[QuantityStandardIndex_Search]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--수량기준지표
CREATE                proc [dbo].[QuantityStandardIndex_Search] ( 
						@companyname varchar(50) = '' 
						, @div varchar(20 )= '' 
						, @ItemClassification1 varchar(30)  =''
						, @ItemClassification2 varchar(30) = ''
						, @ItemClassification3 varchar(30) = ''
						, @ItemClassification4 varchar(30)= '' 
						)
as
begin
declare @SQL1 varchar(8000)
declare @SQL2 varchar(8000)
declare @SQL3 varchar(8000)
declare @SQL4 varchar(8000)
declare @SQL5 varchar(8000)
declare @SQL6 varchar(8000)
declare @SQL7 varchar(8000)
declare @SQL8 varchar(8000)
set @SQL1 = ''
set @SQL2 = ''
set @SQL3 = ''
set @SQL4 = ''
set @SQL5 = ''
set @SQL6 = ''
set @SQL7 = ''
set @SQL8 = ''
declare @m_CompanyName varchar(50)
declare @m_Month varchar(3)
declare @m_TotalRequestQuantity varchar(20)
declare @m_UnSuiQuantity varchar(20)
declare @i int
set @i = 0
IF exists (Select 1 From tempdb..sysobjects where name like '#QS_Index%')
	DROP TABLE #QS_Index
	create table #QS_Index 
	( 
		CompanyName	varchar(50)			-- 거래처명
	,	Div varchar(20) default 0
	,	PreYear decimal(20,2)	default 0		-- 전년도
	,	[Total] decimal(20,2)	default 0		-- 누계
	,	[1Month] decimal(20,2) 	default 0
	,	[2Month] decimal(20,2)	default 0
	,	[3Month] decimal(20,2)	default 0
	,	[4Month] decimal(20,2)	default 0
	,	[5Month] decimal(20,2)	default 0
	,	[6Month] decimal(20,2)	default 0
	,	[7Month] decimal(20,2)	default 0
	,	[8Month] decimal(20,2)	default 0
	,	[9Month] decimal(20,2)	default 0
	,	[10Month] decimal(20,2)	default 0
	,	[11Month] decimal(20,2)	default 0
	,	[12Month] decimal(20,2)	default 0
	)
	insert into #QS_Index (companyname, div) values('합 계','PPM')
	insert into #QS_Index (companyname, div) values('합 계','부적합 수량')
	insert into #QS_Index (companyname, div) values('합 계','총 수량')
		declare CUR INSENSITIVE cursor
		for
			/*
			declare @ItemClassification1 varchar(20)
			declare @ItemClassification2 varchar(20)
			declare @ItemClassification3 varchar(20)
			declare @ItemClassification4 varchar(20)
			declare @companyname varchar(20)
			declare @div varchar(30)
			
			set @ItemClassification1 = ''
			set @ItemClassification2 = ''
			set @ItemClassification3 = ''
			set @ItemClassification4 = ''
			
			set @companyname = ''
			set @div = ''
			*/	
			select 
			(case  when companyname = '' then '자가'  else companyname end) as companyname
			,  datepart(mm, qi_ht.QualityInspectionCompleteDate)  as 월
			, RequestQuantity  as 총수량
			, unsuitabilityquantity as 부적합수량
--			, datepart(YY, qi_ht.registrationdate)  as 년
			from qi_ht
			left outer join
			ii_mt
			on ii_mt.itemnum = qi_ht.itemnum
			join puc_mt
			on puc_mt.smallclassificationcode = ii_mt.itemclassification1
			and	(
			(	case 	when	( @ItemClassification1 <> '' )	then		ii_mt.itemclassification1	else ''	end 	)
				=
			(	case 	when	( @ItemClassification1 <> '' )	then		@ItemClassification1 	else		''	end		)
				and
			(	case 	when	( @ItemClassification2 <> '' )	then		ii_mt.itemclassification2	else		''	end		)
				=
			(	case 	when	( @ItemClassification2 <> '' )	then		@ItemClassification2 	else		''	end		)
				and
			(	case 	when	( @ItemClassification3 <> '' )	then		ii_mt.itemclassification3	else		''	end		)
				=
			(	case 	when	( @ItemClassification3 <> '' )	then		@ItemClassification3 	else		''	end		)
				and
			(	case 	when	( @ItemClassification4 <> '' )	then		ii_mt.itemclassification4	else		''	end		)
				=
			(	case 	when	( @ItemClassification4 <> '' )	then		@ItemClassification4 	else		''	end		)	)
			
			where (Progresscondition = '검사완료' or Progresscondition = '입고완료')
			and
			(
				case when @div = '외주 부적합' or @div = '구매 부적합' or @div = '사내 부적합'  then historysection1 else '' end	
				=
				case when @div = '외주 부적합' then '외주납품' when @div = '구매 부적합' then '구매납품' when @div = '사내 부적합' then '작업일보' else '' end
			)
			and 
			(
				case when @companyname <> ''  then companyname else '' end
				like
				case when @companyname <> ''  then '%' + @companyname + '%' else '' end
			)
			and
			(
				-- 해당 년도만 걸러내기
				datepart(YY, getdate()) = (datepart(YY, qi_ht.QualityInspectionCompleteDate) )
			)
	for read only
	open	CUR
	IF( @@CURSOR_ROWS <> 0 )
	BEGIN
	
			WHILE ( @i < @@CURSOR_ROWS)
			BEGIN
					fetch from CUR into 	@m_CompanyName	,	@m_Month,		@m_TotalRequestQuantity,	@m_UnSuiQuantity
	
					IF	( @@FETCH_STATUS = 0 )		-- 정상적으로 읽었으면
					BEGIN
						if ( not exists (select companyname from #QS_Index where companyname = @m_CompanyName) )
						begin
							insert into #QS_Index(companyname, div) values( @m_CompanyName, 'PPM' )
							insert into #QS_Index(companyname, div) values( @m_CompanyName, '부적합 수량' )
							insert into #QS_Index(companyname, div) values( @m_CompanyName, '총 수량' )
						end
	
						-- 해당업체의 해당월에 업데이트
						set @SQL1 =  ' update #QS_Index set [' + @m_Month + 'month] =  [' + @m_Month + 'month] + ' + cast(@m_TotalRequestQuantity as varchar(20)) +' where CompanyName = ''' +@m_CompanyName+''' and div = ''총 수량'' '
						set @SQL1 = @SQL1 + ' update #QS_Index set [' + @m_Month + 'month] =  [' + @m_Month + 'month] + ' + cast(@m_UnSuiQuantity as varchar(20)) +' where CompanyName = ''' +@m_CompanyName+''' and div = ''부적합 수량'' '
						-- 합계행의 해당월에 업데이트
						set @SQL1 = @SQL1 + ' update #QS_Index set [' + @m_Month + 'month] =  [' + @m_Month + 'month] + ' + cast( @m_TotalRequestQuantity as varchar(20) ) +' where  CompanyName = ''합 계'' and div = ''총 수량'' '
						set @SQL1 = @SQL1 + ' update #QS_Index set [' + @m_Month + 'month] =  [' + @m_Month + 'month] + ' + cast( @m_UnSuiQuantity as varchar(20) ) +' where  CompanyName = ''합 계'' and div = ''부적합 수량'' '
				
	
	
						-- 해당업체의 total 컬럼 업데이트
						set @SQL1 = @SQL1 + ' update #QS_Index set [Total] = [Total] + '+ cast(@m_TotalRequestQuantity as varchar(20)) + ' where CompanyName = ''' +@m_CompanyName+''' and div = ''총 수량'' '
						set @SQL1 = @SQL1 + ' update #QS_Index set [Total] = [Total] + '+ cast(@m_UnSuiQuantity as varchar(20)) + ' where CompanyName = ''' +@m_CompanyName+''' and div = ''부적합 수량'' '
						set @SQL1 = @SQL1 + ' update #QS_Index set [Total] = [Total] + '+ cast(@m_TotalRequestQuantity as varchar(20)) + ' where CompanyName = ''합 계'' and div = ''총 수량'' '
						set @SQL1 = @SQL1 + ' update #QS_Index set [Total] = [Total] + '+ cast(@m_UnSuiQuantity as varchar(20)) + ' where CompanyName = ''합 계'' and div = ''부적합 수량'' '
						exec( @SQL1 )
						set @SQL1 =''					
					END
					
			set @i = @i +1
	
			END
	END
	CLOSE 				CUR
	DEALLOCATE CUR
select 		
		CompanyName	 as [거래처명]
	,	Div  as [구분]
	,	PreYear  as [전년도]
	,	[Total]  as [누계]
	,	[1Month] as [1월]
	,	[2Month] as [2월]
	,	[3Month] as [3월]
	,	[4Month] as [4월]
	,	[5Month] as [5월]
	,	[6Month] as [6월]
	,	[7Month] as [7월]
	,	[8Month] as [8월]
	,	[9Month] as [9월]
	,	[10Month]  as [10월]
	,	[11Month]  as [11월]
	,	[12Month] as [12월]
from
#QS_Index
end
GO
