USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[SPOutOrderRecordExtracting]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE       PROCEDURE [dbo].[SPOutOrderRecordExtracting] AS
	delete TBWOutOrderWorkPlanning
	Insert into TBWOutOrderWorkPlanning
	Select ItemNum,ProcessSequenceNum,ProcessCode,WorkDistinction,Quantity,Lvl,Path  From TBWorkPlanning
	Where WorkDistinction = '외주'
	
	Select * From TBWOutOrderWorkPlanning order by Path, ProcessSequenceNum desc
GO
