USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[SPSelectReversalBOM]    Script Date: 07/02/2026 08:48:43 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE  PROCEDURE [dbo].[SPSelectReversalBOM]  AS
	
	Select ChildItemNum, ChildItemName, EndItemNum, EndItemName, Sum(NeedQuantity) as NeedQuantity
	From TBReversalBOM
	Group by ChildItemNum, ChildItemName, EndItemNum, EndItemName
GO
