USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[SPNewCreate]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[SPNewCreate] AS

Delete From ItemTempTable

Insert into ItemTempTable
Select ItemNum, ItemDrawNum, ItemName, PropertyClassification, isnull(Standard, '') as Standard , PUC_MT.SmallClassificationName as ItemStateName
, PUC_MT1.SmallClassificationName as ItemClassificationName1  
, PUC_MT2.SmallClassificationName as ItemClassificationName2
, PUC_MT3.SmallClassificationName as ItemClassificationName3
,isnull( PUC_MT4.SmallClassificationName, '') as ItemClassificationName4
From II_MT 
left outer join PUC_MT on II_MT.ItemState = PUC_MT.SmallClassificationCode
left outer join PUC_MT PUC_MT1 on II_MT.ItemClassification1 = PUC_MT1.SmallClassificationCode
left outer join PUC_MT PUC_MT2 on II_MT.ItemClassification2 = PUC_MT2.SmallClassificationCode
left outer join PUC_MT PUC_MT3 on II_MT.ItemClassification3 = PUC_MT3.SmallClassificationCode
left outer join PUC_MT PUC_MT4 on II_MT.ItemClassification4 = PUC_MT4.SmallClassificationCode
where II_MT.RecodingState =1


Select ItemInfo.ItemNum
,ItemDrawNum, ItemName, PropertyClassification, Standard ,  ItemStateName
, ItemClassificationName1  
, ItemClassificationName2
, ItemClassificationName3
, ItemClassificationName4
From ItemInfo left outer join ItemTempTable on ItemInfo.ItemNum = ItemTempTable.ItemNum
order by ItemInfo.ItemNum

Select * From ItemInfo order by ItemNum
GO
