USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[DeliveryRequestBiding]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--협력사 페이지에서 납품의뢰(등록) 버튼을 누르면 해당 내용은 각각의 납품의뢰원장에 내용이 등록이 된다.
--등록된 내용은 아래의 그리드에 바인딩이 되어 사용자가 확인을 할수 있도록 한다.
--바인딩이 되고 헌데..조건은 오늘 등록한 납품의뢰에 대해서만 보여지도록 한다.
CREATE      proc [dbo].[DeliveryRequestBiding] (@userID varchar(50))
as 
Declare @BusinessRegistrationNum varchar(50)
set @BusinessRegistrationNum =(select BusinessRegistrationNum from UI_MT where ID =@userID)
 
select * from DeliveryRequestPC
where progresscondition ='대기' and BusinessRegistrationNum = @BusinessRegistrationNum and RegistrationDate = convert(varchar(10),getdate(),121)
GO
