USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[procPaymentPlanResultRegistration]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE    proc [dbo].[procPaymentPlanResultRegistration]
as
--결제방법드롭다운리스트 프로시져
select SmallClassificationCode,SmallClassificationName   from puc_mt where LargeClassificationCode = '0910' and Recodingstate = 1 and SmallClassificationName !=''
--결제은행드롭다운리스트 프로시져
select SmallClassificationCode,SmallClassificationName from puc_mt where LargeClassificationCode = '0920' and Recodingstate = 1 and SmallClassificationName !=''
--구매거래처,외주거래처를 거래처 WebCombo에 바인딩 시키는 프로시져
Declare @year int
Set @year = (Select datepart(yy,getdate()))
SELECT CompanyName  as '거래처명', CI_MT.BusinessRegistrationNum as '사업자등록번호', PresidentName,  CompanyInfoIndex, BSI_MT.UnPaymentMoney12 as UnPaymentMoney FROM CI_MT 
	inner JOIN BSI_MT On CI_MT.BusinessRegistrationNum = BSI_MT.BusinessRegistrationNum 
	where [Year] = @year and BSI_MT.RecodingState = 1 and CI_MT.RecodingState = 1 and (OutSideOrderCompany = 1 or  BuyingCompany= 1)order by CompanyName
--select CompanyName as '거래처명',BusinessRegistrationNum as '사업자등록번호' from CI_MT where RecodingState = 1 and  BuyingCompany = 1 or OutSideOrderCompany =1 
--order by CompanyName
GO
