USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[QualityInspection_RegisterCheck]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[QualityInspection_RegisterCheck]
(
	-- 잔량이 마이너스가 되면 0(flase)를 리턴한다.
	 @historyFlag bit		-- 0 이면 구매, 1이면 외주
	, @hindex int  		-- 구매발주원장 또는 외주발주원장 인덱스번호
	, @quantity decimal(20, 2)	-- 수량
)
as
begin
-- 잔량 가져오기
declare @remainQuantity decimal(20, 2)	
if ( @historyFlag = 0 )
	set @remainQuantity = (SELECT RemainQuantity FROM BO_HT WHERE BuyingOrderHistoryIndex = @hindex )
else
	set @remainQuantity = (SELECT RemainQuantity FROM OO_HT WHERE OutSideOrderHistoryIndex = @hindex )
if ( (@remainQuantity - @quantity) < 0 )
begin
	select 0	-- 등록 불가
end
else
	select 1	-- 등록 허용
end
GO
