USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[SPInStoreResult]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE                     PROCEDURE [dbo].[SPInStoreResult] 
 @ItemClassification1 varchar(15) = ''	-- 품목분류1  키
,  @ItemClassification2 varchar(15) = ''	-- 품목분류2  키
,  @ItemClassification3 varchar(15) = ''	-- 품목분류3  키
,  @ItemClassification4 varchar(15) = ''	-- 품목분류4  키
,  @CompanyName varchar(50) = ''		
, @BusinessRegistrationNum AS VARCHAR(30)
, @StartDate AS smalldatetime
, @EndDate AS smalldatetime
 AS
/*
declare @ItemClassification1 varchar(15)
declare  @ItemClassification2 varchar(15)
declare  @ItemClassification3 varchar(15)
declare  @ItemClassification4 varchar(15)
declare  @CompanyGroup varchar(15) 
declare  @CompanyName varchar(50)
declare @BusinessRegistrationNum AS VARCHAR(30)
declare @StartDate AS smalldatetime
declare @EndDate AS smalldatetime
set @ItemClassification1 =''
set  @ItemClassification2 =''
set  @ItemClassification3 =''
set  @ItemClassification4 =''
set  @CompanyGroup =''
set  @CompanyName =''
set @BusinessRegistrationNum =''
set @StartDate =''
set @EndDate =''
*/
	if(@StartDate = '')
		Set @StartDate = '1999-01-01'
	if(@EndDate = '')
		Set @EndDate = '2050-12-31'
	
	
	IF exists (Select 1 From tempdb..sysobjects where name like '#SaleTemp%')
		DROP TABLE #SaleTemp
	CREATE TABLE #SaleTemp
	(
		CompanyName VARCHAR(50),
		BusinessRegistrationNum Varchar(20),
		ItemNum VARCHAR(50),		
		ItemDrawNum VARCHAR(50),	
		ItemName VARCHAR(50),
		DeliveryDate smalldatetime,
		DeliveryQuantity decimal(18,2),
		ApplyUnitCost decimal(18,2),
		--OutStorehouseQuantity decimal(18,2),
		--SuitabilityQuantity decimal(18,2),
		--UnInspectionQuantity decimal(18,2),
		--RemainderQuantity decimal(18,2),
		TotalCost decimal(18,2),
	)  
	INSERT INTO #SaleTemp
		Select  CompanyName,  BusinessRegistrationNum,  ItemNum,  ItemDrawNum,  ItemName,  DeliveryDate, sum( DeliveryQuantity),avg( ApplyUnitCost),
		 (isnull(avg( ApplyUnitCost),0) * isnull(sum( DeliveryQuantity),0)) as TotalCost
		From BD_HT 
		where  BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
		and  CompanyName like '%'+@CompanyName+'%'
		and ( DeliveryDate BETWEEN @StartDate and @EndDate) 
		 and  ProgressCondition = '완료' and  DeliveryQuantity > 0 
		Group by  CompanyName,  BusinessRegistrationNum,  ItemNum,  ItemDrawNum,  ItemName,  DeliveryDate
		union all
		Select  CompanyName,  BusinessRegistrationNum,  ItemNum,  ItemDrawNum,  ItemName,  DeliveryDate, sum( DeliveryQuantity),avg( ApplyUnitCost),
		 (isnull(avg( ApplyUnitCost),0) * isnull(sum( DeliveryQuantity),0)) as TotalCost
		From SBD_HT 
		where  BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
		and  CompanyName like '%'+@CompanyName+'%'
		and ( DeliveryDate BETWEEN @StartDate and @EndDate) 
		 and  ProgressCondition = '완료' and  DeliveryQuantity > 0 
		Group by  CompanyName,  BusinessRegistrationNum,  ItemNum,  ItemDrawNum,  ItemName,  DeliveryDate
		
SELECT 
	S.ItemNum
	, S.ItemName 
	, S.BusinessRegistrationNum
	, S.CompanyName
	, DeliveryDate
	, ApplyUnitCost	
	, DeliveryQuantity
	, TotalCost
	, ItemClassification1
	, ItemClassification2
	, ItemClassification3
	, ItemClassification4
 FROM #SaleTemp S
inner join II_MT I on S.ItemNum = I.ItemNum
inner join PUC_MT on puc_mt.SmallClassificationCode = I.ItemClassification1	
where I.RecodingState = 1 and PUC_MT.RecodingState = 1 
and ItemClassification1 like '%'+@ItemClassification1+'%'
and ItemClassification2 like '%'+@ItemClassification2+'%'
and ItemClassification3 like '%'+@ItemClassification3+'%'
and ItemClassification4 like '%'+@ItemClassification4+'%' 
order by ItemClassification1, ItemClassification2, ItemClassification3, ItemClassification4, DeliveryDate, I.ItemNum, S.BusinessRegistrationNum
GO
