USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[SPEtcInStoreQuantity]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE   PROCEDURE [dbo].[SPEtcInStoreQuantity]  
@ItemNum as varchar(100),
@BusinessRegistrationNum as varchar(20),
@Year as int,
@Month as int

 AS

	--기타입출고 입고, 생성량입고(공통자재), 보용품입고(상품만 해당)
	Select sum(EtcInStoreQuantity ) as EtcInStoreQuantity 
	From
	(
		Select isnull(Sum(InOutStorehouseQuantity) , 0)  as EtcInStoreQuantity From OIOS_HT where BusinessRegistrationNum = @BusinessRegistrationNum and ItemNum  = @ItemNum  and datepart(yy,InOutDate) =@Year and datepart(mm,InOutDate) = @Month and InOutStorehouseDistinction = '1'
		union all
		Select isnull(Sum(CreateQuantity) , 0)  as EtcInStoreQuantity From E_HT where CreateItemNum  = @ItemNum and datepart(yy,ExhaustDate) =@Year and datepart(mm,ExhaustDate) = @Month
		union all
		Select isnull(Sum(InstoreQuantity) , 0)  as EtcInStoreQuantity From AS_HT where ItemNum  = @ItemNum and datepart(yy,InstoreDate) =@Year and datepart(mm,InstoreDate) = @Month
	)T
GO
