USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[NewInsertCommand]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[NewInsertCommand]
(
	@ItemNum varchar(50),
	@ItemDrawNum varchar(50),
	@ItemName varchar(50),
	@BuyingRequestSourceCode varchar(10)
)
AS
	SET NOCOUNT OFF;
INSERT INTO BR_HT(ItemNum, ItemDrawNum, ItemName, BuyingRequestSourceCode) VALUES (@ItemNum, @ItemDrawNum, @ItemName, @BuyingRequestSourceCode);
	SELECT ItemNum, ItemDrawNum, ItemName, BuyingRequestSourceCode, BuyingRequestHistoryIndex FROM BR_HT WHERE (BuyingRequestHistoryIndex = @@IDENTITY)
GO
