USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[DeleteItemGroupErr]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteItemGroupErr] AS
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[ItemGroupErr_HT]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[ItemGroupErr_HT]
CREATE TABLE [dbo].[ItemGroupErr_HT] (
	[ItemNum] [varchar] (50) COLLATE Korean_Wansung_CI_AS NULL ,
	[CompanyName] [varchar] (50) COLLATE Korean_Wansung_CI_AS NULL ,
	[BusinessRegistrationNum] [varchar] (50) COLLATE Korean_Wansung_CI_AS NULL ,
	[ReceivingOrderDate] [smalldatetime] NULL ,
	[DeliveryRequestDate] [smalldatetime] NULL ,
	[TotalReceiveingOrderQuantity] [decimal](20, 2) NULL ,
	[ErrRegion] [varchar] (200) COLLATE Korean_Wansung_CI_AS NULL ,
	[ItemGroupErrIndex] [int] IDENTITY (1, 1) NOT NULL 
) ON [PRIMARY]
ALTER TABLE [dbo].[ItemGroupErr_HT] ADD 
	CONSTRAINT [PK_ItemGroupErr] PRIMARY KEY  CLUSTERED 
	(
		[ItemGroupErrIndex]
	)  ON [PRIMARY]
GO
