USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[SPRedundantItemPlanResult]    Script Date: 07/02/2026 08:48:43 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE      PROCEDURE [dbo].[SPRedundantItemPlanResult]  AS
	delete TBRawRedundantItemPlanResult
	delete TBWorkRedundantItemPlanResult
	insert into TBRawRedundantItemPlanResult
	Select * From TBRawRedundantItemResult
	--Select * From TBRawRedundantSum
	
	insert into TBWorkRedundantItemPlanResult
	Select * From TBWorkRedundantItemResult
	--Select * From TBWorkRedundantSum
GO
