USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[UP_INSERT_HFREENEW]    Script Date: 07/02/2026 08:48:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE    PROC [dbo].[UP_INSERT_HFREENEW]
    @RegistrationPerson     Varchar(50),
    @Title			Varchar(100),
    @Contents		Varchar(7000),
    @Password		Varchar(50)
    
AS
    SET NOCOUNT ON
    DECLARE @NewHFreeBoardIndex int
    SELECT @NewHFreeBoardIndex = ISNULL(MAX(HFreeBoardIndex),0) + 1000 FROM HFB_T
    INSERT INTO HFB_T 
        (HFreeBoardIndex, depth, RegistrationPerson, Title, Contents, Password) 
    Values 
        (@NewHFreeBoardIndex, 0, @RegistrationPerson, @Title, @Contents, @Password)
GO
