USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[ItemStock_Search]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE           PROCEDURE [dbo].[ItemStock_Search] @itemNum varchar(50) AS
--Declare @ItemNum varchar(50)
--Set @ItemNum = '12X30갈정1020'
	delete TBWorkDivision
	delete TBWorkPlanning
	declare @PropertyClassification varchar(50)
	declare @Quantity decimal(20,2)
	Set @PropertyClassification = (Select PropertyClassification From II_MT Where ItemNum = @itemNum and RecodingState = 1)
	Set @Quantity = '1'
	IF exists (Select 1 From tempdb..sysobjects where name like '#TempTree%')
		DROP TABLE #TempTree
	-- 특정제품을 생산하는데 필요한 부품과 수량을 임시로 기억할 Table
	CREATE TABLE #TempTree
	(
		ItemNum VARCHAR(50),
		ItemDrawNum VARCHAR(50),
		ItemName VARCHAR(50),
		Quantity FLOAT,
		Lvl TINYINT,
		Path VARCHAR(500),
	)  
	-- 품목을 구성하기 위해 임시로 만든 Table
	IF exists (Select 1 From tempdb..sysobjects where name like '#TempItem%')
		DROP TABLE #TempItem
	CREATE TABLE #TempItem
	(
		ItemNum	VARCHAR(50),
		ItemDrawNum VARCHAR(50),
		ItemName VARCHAR(50),
		NeedQuantityDenominator DECIMAL(20, 3),
		ParentItemNum VARCHAR(50),
	)
	-- 자품번호입력
	INSERT INTO #TempItem
	SELECT IOI_MT.ChildItemNum AS ItemNum, II_MT.ItemDrawNum AS ItemDrawNum, II_MT.ItemName AS ItemName, 
		IOI_MT.NeedQuantityNumerator / IOI_MT.NeedQuantityDenominator AS NeedQuantityDenominator,
		IOI_MT.ParentItemNum  AS ParentItemNum
	FROM II_MT left outer JOIN IOI_MT ON II_MT.ItemNum = IOI_MT.ChildItemNum
	--FROM II_MT JOIN IOI_MT ON II_MT.ItemNum = IOI_MT.ChildItemNum
	WHERE (II_MT.RecodingState = 1) AND (IOI_MT.RecodingState = 1)
	-- 모품번호입력
	INSERT INTO #TempItem 
	SELECT ItemNum, ItemDrawNum,  ItemName, 1 AS NeedQuantityDenominator, null AS ParentItemNum
	FROM II_MT WHERE II_MT.RecodingState = 1 AND ItemNum = @ItemNum
	DECLARE @Lvl TINYINT, @Path VARCHAR(500)
	
	SET @Lvl = 1
	-- 모품ItemNum + 자기ItemNum
	SET @Path = ''
	INSERT INTO #TempTree
	SELECT TOP 1 ItemNum, ItemDrawNum,  ItemName, @Quantity, @Lvl, @Path + CAST(ItemNum as varchar(50))
	FROM #TempItem WHERE ItemNum = @ItemNum
	WHILE ( @@ROWCOUNT > 0 )
	BEGIN
		SET @Lvl = @Lvl + 1
		INSERT INTO #TempTree
		SELECT TempItem.ItemNum, TempItem.ItemDrawNum, TempItem.ItemName,
			TempItem.NeedQuantityDenominator * TempTree.Quantity,
			@Lvl, (TempTree.Path + CAST(TempItem.ItemNum as varchar(50)) ) 
		FROM #TempItem AS TempItem JOIN #TempTree AS TempTree
		ON TempItem.ParentItemNum = TempTree.ItemNum AND TempTree.Lvl = @Lvl - 1
	END
	delete TBTempPSI
	insert into TBTempPSI
	Select ItemNum, ProcessCode, ProcessSequenceNum
	From PSI_MT where RecodingState  =1 
	order by ItemNum, ProcessSequenceNum desc
	
	if(@PropertyClassification = '상품')
	begin
		Insert Into TBWorkDivision
		SELECT #TempTree.ItemNum,
		'99' as ProcessSequenceNum ,
		'14009999' as ProcessCode,
		Quantity,Lvl,Path
		FROM #TempTree left outer join TBTempPSI P
		on #TempTree.ItemNum = P.ItemNum
		inner join II_MT on #TempTree.ItemNum = II_MT.ItemNum
		Where II_MT.RecodingState = 1
		ORDER BY Path ASC , ProcessSequenceNum desc
		
	end
	else if(@PropertyClassification = '원자재')
	begin
		Insert Into TBWorkDivision
		SELECT #TempTree.ItemNum,
		'0' as ProcessSequenceNum ,
		'14000000' as ProcessCode,
		Quantity,Lvl,Path
		FROM #TempTree left outer join TBTempPSI P
		on #TempTree.ItemNum = P.ItemNum
		inner join II_MT on #TempTree.ItemNum = II_MT.ItemNum
		Where II_MT.RecodingState = 1
		ORDER BY Path ASC , ProcessSequenceNum desc
	end
	else
	begin
		
			Insert Into TBWorkDivision
			SELECT #TempTree.ItemNum,
			isnull(P.ProcessSequenceNum,0) as ProcessSequenceNum ,
			isnull(P.ProcessCode,'14000000') as ProcessCode,
			Quantity,Lvl,Path
			FROM #TempTree left outer join TBTempPSI P
			on #TempTree.ItemNum = P.ItemNum
			inner join II_MT on #TempTree.ItemNum = II_MT.ItemNum
			Where II_MT.RecodingState = 1
			ORDER BY Path ASC , ProcessSequenceNum desc
		
	end
	
	declare CUR INSENSITIVE cursor
	for
	select T.ItemNum, isnull(T.ProcessSequenceNum,0),  isnull(T.ProcessCode,'14000000') as ProcessCode, '',T.Quantity, T.Lvl, T.Path
	From TBWorkDivision T  left outer join TBTempPSI P on  T.ItemNum = P.ItemNum and T.ProcessSequenceNum = P.ProcessSequenceNum
	order by Path, T.ProcessSequenceNum desc
	for Read Only
	
	open	CUR
	declare @Item varchar(50)
	declare @seq int
	declare @code varchar(15)
	declare @distinct varchar(15)
	declare @quanity decimal(18,2)
	declare @level int
	declare @itempath varchar(200)
	fetch Next From CUR into @Item,@seq,@code,@distinct,@quanity,@level,@itempath
	WHILE @@FETCH_STATUS = 0
	BEGIN
		Insert Into TBWorkPlanning (ItemNum ,ProcessSequenceNum,ProcessCode,WorkDistinction,Quantity,Lvl,Path) 
		values (@Item,@seq,@code,@distinct,@quanity,@level,@itempath)
		fetch Next From CUR into @Item,@seq,@code,@distinct,@quanity,@level,@itempath
	END
	--커서 CLOSE
	CLOSE CUR
	--커서 DEALLOCATE
	DEALLOCATE CUR
	
	select REPLICATE('    ', Lvl) + i.ItemNum as ItemNum, ItemDrawNum, ItemName,  i.ProcessSequenceNum as '공정순서', i.ProcessName as '공정명', 
	Sum(원자재창고) as 원자재창고, sum(생산창고) as 생산창고,sum(외주창고) as 외주창고,sum(영업창고) as 영업창고,sum(납품창고) as 납품창고, sum(금액) as 금액
	From TBWorkPlanning t  inner join  ItemStockQuantity i on t.ItemNum = i.ItemNum and t.ProcessCode = i.ProcessCode
	inner join II_MT on t.ItemNum = II_MT.ItemNum
	where II_MT.RecodingState = 1
	Group by i.ItemNum,ItemDrawNum,ItemName, i.ProcessSequenceNum, i.ProcessName,Lvl,t.Path
	order by t.Path, i.ProcessSequenceNum desc
GO
