USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[SPPreQuantity]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE                proc [dbo].[SPPreQuantity]

as
GO
