USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[SPCustomerPurchaseTotalMonthResult1]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPCustomerPurchaseTotalMonthResult1]
@ItemNum AS VARCHAR(50), 
@ItemDrawNum AS VARCHAR(50), 
@ItemName AS VARCHAR(50), 
@CompanyName AS VARCHAR(50), 
@BusinessRegistrationNum AS VARCHAR(30), 
@ItemClassification1 varchar(15),	-- 품목분류1  키
@ItemClassification2 varchar(15),	-- 품목분류2  키
@ItemClassification3 varchar(15),	-- 품목분류3  키
@ItemClassification4 varchar(15),	-- 품목분류4  키
@Division as varchar(10),
@Year as varchar(10),
@Month as varchar(10)
 AS
 BEGIN
	
	if(@Year = '선택')
		Set @Year = ''
	if(@Month = '선택')
		Set @Month = ''
		
IF exists (Select 1 From tempdb..sysobjects where name like '#BD_OSD_HT%')
		DROP TABLE #BD_OSD_HT
	CREATE TABLE #BD_OSD_HT
	(
		[ItemNum] [nvarchar] (150) COLLATE Korean_Wansung_CI_AS NULL ,
		[ItemDrawNum] [nvarchar] (150) COLLATE Korean_Wansung_CI_AS NULL ,
		[ItemName] [nvarchar] (150) COLLATE Korean_Wansung_CI_AS NULL ,
		[ProcessCode] [nvarchar] (50) COLLATE Korean_Wansung_CI_AS NULL ,
		[ProcessName] [nvarchar] (50) COLLATE Korean_Wansung_CI_AS NULL ,
		[CompanyName] [nvarchar] (50) COLLATE Korean_Wansung_CI_AS NULL ,
		[BusinessRegistrationNum] [nvarchar] (50) COLLATE Korean_Wansung_CI_AS NULL ,
		[DeliveryQuantity] [decimal](20, 2) NULL ,
		/*
		2017-04-21
		단가 필드 추가
		
		*/
		[ApplyUnitCost] [decimal](20, 2) NULL ,
		[TotalCost] [decimal](20, 2) NULL,
		[ItemClassification1] [nvarchar] (20) COLLATE Korean_Wansung_CI_AS NULL ,
		[ItemClassification2] [nvarchar] (20) COLLATE Korean_Wansung_CI_AS NULL ,
		[ItemClassification3] [nvarchar] (20) COLLATE Korean_Wansung_CI_AS NULL ,
		[ItemClassification4] [nvarchar] (20) COLLATE Korean_Wansung_CI_AS NULL ,
		[Year] [int] NULL,
		[Month] [int] NULL 
	)  
	if(@Division = '전체')
	begin
		if(@Year ='')
		begin
			if(@Month ='')
			begin
				insert into #BD_OSD_HT
					Select ItemNum, ItemDrawNum, ItemName, EndProcessCode, EndProcess, CompanyName, BusinessRegistrationNum,  DeliveryQuantity ,ApplyUnitCost,  TotalCost,  ItemClassification1, isnull( ItemClassification2 , '-') as ItemClassification2, isnull(ItemClassification3,'-')as ItemClassification3, isnull(ItemClassification4, '-') as ItemClassification4 , [Year], [Month]
					From 
					(
						
					Select QI_HT.ItemNum, QI_HT.ItemDrawNum, QI_HT.ItemName, 
							(Select  
							case PropertyClassification
								when '원자재' then '14000000'
								when '상품' then '14009999'
								else EndProcessName
								end as EndProcess
							From II_MT where II_MT.RecodingState = 1 and II_MT.ItemNum = QI_HT.ItemNum
							) as EndProcessCode,
							(Select  
							case PropertyClassification
								when '원자재' then '소재'
								when '상품' then '최종품'
								else PropertyClassification
								end as EndProcess
							From II_MT where II_MT.RecodingState = 1 and II_MT.ItemNum = QI_HT.ItemNum
							) as EndProcess,
							CompanyName, BusinessRegistrationNum,  SuitabilityQuantity as DeliveryQuantity  , ApplyUnitCost, (ApplyUnitCost*SuitabilityQuantity) as TotalCost, isnull(P1.SmallClassificationName, '-') as ItemClassification1,   isnull(P2.SmallClassificationName, '-')  as ItemClassification2,  isnull(P3.SmallClassificationName, '-')  as ItemClassification3,   isnull(P4.SmallClassificationName, '-')  as ItemClassification4,  [Year], [Month]  From QI_HT
							Inner join  II_MT on QI_HT.ItemNum = II_MT.ItemNum
							Inner join  PUC_MT P1 on II_MT.ItemClassification1 = P1.SmallClassificationCode
							left outer  join  PUC_MT P2 on II_MT.ItemClassification2 = P2.SmallClassificationCode
							left outer join  PUC_MT P3 on II_MT.ItemClassification3 = P3.SmallClassificationCode
							left outer join  PUC_MT P4 on II_MT.ItemClassification4 = P4.SmallClassificationCode
							Where II_MT.RecodingState = 1 and II_MT.ItemNum = QI_HT.ItemNum
							and Recognition = '승인'
							and  ProgressCondition != '대기' and (HistorySection2 = '구매발주' or HistorySection2 = '외주발주')
							and (ItemClassification1 like '%'+@ItemClassification1+'%' or ItemClassification1 is null)
							and (ItemClassification2 like '%'+@ItemClassification2+'%' or ItemClassification2 is null)
							and (ItemClassification3 like '%'+@ItemClassification3+'%' or ItemClassification3 is null)
							and (ItemClassification4 like '%'+@ItemClassification4+'%' or ItemClassification4 is null)


							union all	
									
							Select EtcBD_HT.ItemName as ItemNum, EtcBD_HT.ItemName as ItemDrawNum, EtcBD_HT.ItemName as ItemName, null,null,  CompanyName, BusinessRegistrationNum,  
								DeliveryQuantity, ApplyUnitCost, TotalCost, '-' as ItemClassification1,'-' as ItemClassification2,'-' as ItemClassification3,'-' as ItemClassification4,  [Year], [Month]
							From EtcBD_HT where Recognition = '승인' 

							union all
							
							Select SBD_HT.ItemNum as ItemNum, SBD_HT.ItemDrawNum as ItemDrawNum, SBD_HT.ItemName as ItemName, null,null,  CompanyName, BusinessRegistrationNum,  
								DeliveryQuantity, ApplyUnitCost, TotalCost, isnull(P1.SmallClassificationName, '-') as ItemClassification1,   isnull(P2.SmallClassificationName, '-')  as ItemClassification2,  isnull(P3.SmallClassificationName, '-')  as ItemClassification3,   isnull(P4.SmallClassificationName, '-')  as ItemClassification4,   [Year], [Month]
							From SBD_HT Inner join  II_MT on SBD_HT.ItemNum = II_MT.ItemNum 
							Inner join  PUC_MT P1 on II_MT.ItemClassification1 = P1.SmallClassificationCode
							left outer join  PUC_MT P2 on II_MT.ItemClassification2 = P2.SmallClassificationCode
							left outer join  PUC_MT P3 on II_MT.ItemClassification3 = P3.SmallClassificationCode
							left outer join  PUC_MT P4 on II_MT.ItemClassification4 = P4.SmallClassificationCode
							Where II_MT.RecodingState =1 and Recognition = '승인'
							and (ItemClassification1 like '%'+@ItemClassification1+'%' or ItemClassification1 is null)
							and (ItemClassification2 like '%'+@ItemClassification2+'%' or ItemClassification2 is null)
							and (ItemClassification3 like '%'+@ItemClassification3+'%' or ItemClassification3 is null)
							and (ItemClassification4 like '%'+@ItemClassification4+'%' or ItemClassification4 is null)
							
							union all
							
							Select PCL_HT.ItemNum as ItemNum, PCL_HT.ItemDrawNum as ItemDrawNum, PCL_HT.ItemName as ItemName, null,null,  CompanyName, BusinessRegistrationNum,  
								ClaimQuantity, -ClaimCost, -ClaimCost,   isnull(P1.SmallClassificationName, '-') as ItemClassification1,   isnull(P2.SmallClassificationName, '-')  as ItemClassification2,  isnull(P3.SmallClassificationName, '-')  as ItemClassification3,   isnull(P4.SmallClassificationName, '-')  as ItemClassification4,    datepart(yy, ReceiptDate) as [Year], datepart(mm, ReceiptDate) as [Month]
							From PCL_HT Inner join  II_MT on PCL_HT.ItemNum = II_MT.ItemNum 
							Inner join  PUC_MT P1 on II_MT.ItemClassification1 = P1.SmallClassificationCode
							left outer join  PUC_MT P2 on II_MT.ItemClassification2 = P2.SmallClassificationCode
							left outer join  PUC_MT P3 on II_MT.ItemClassification3 = P3.SmallClassificationCode
							left outer join  PUC_MT P4 on II_MT.ItemClassification4 = P4.SmallClassificationCode
							Where II_MT.RecodingState =1 
							and (ItemClassification1 like '%'+@ItemClassification1+'%' or ItemClassification1 is null)
							and (ItemClassification2 like '%'+@ItemClassification2+'%' or ItemClassification2 is null)
							and (ItemClassification3 like '%'+@ItemClassification3+'%' or ItemClassification3 is null)
							and (ItemClassification4 like '%'+@ItemClassification4+'%' or ItemClassification4 is null)
							
							union all
							
							Select EtcClaimRegion as ItemNum, EtcClaimRegion as ItemDrawNum, EtcClaimRegion as ItemName, null,null,  CompanyName, BusinessRegistrationNum,  
								'0',  -ClaimCost, -ClaimCost,  '-' as ItemClassification1,'-' as ItemClassification2,'-' as ItemClassification3,'-' as ItemClassification4,  datepart(yy, ReceiptDate) as [Year], datepart(mm, ReceiptDate) as [Month]							
							From ECL_HT
							where Recognition = '승인'

							
		
						)T
						where ItemNum like '%'+@ItemNum+'%' and ItemDrawNum like '%'+@ItemDrawNum+'%'
						and ItemName like '%'+@ItemName+'%' and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
						and CompanyName like '%'+@CompanyName+'%'
						and [Year]  like '%'+@Year+'%'
						and [Month] like '%'+@Month+'%'
						order by CompanyName,  ItemName
			end
			else	--월만 선택시
			begin
				insert into #BD_OSD_HT
					Select ItemNum, ItemDrawNum, ItemName, EndProcessCode, EndProcess, CompanyName, BusinessRegistrationNum,  DeliveryQuantity , ApplyUnitCost, TotalCost,  ItemClassification1, isnull( ItemClassification2 , '-') as ItemClassification2, isnull(ItemClassification3,'-')as ItemClassification3, isnull(ItemClassification4, '-') as ItemClassification4 , [Year], [Month]
					From 
					(
						Select QI_HT.ItemNum, QI_HT.ItemDrawNum, QI_HT.ItemName, 
							(Select  
								case PropertyClassification
									when '원자재' then '14000000'
									when '상품' then '14009999'
									else EndProcessName
								end as EndProcess
								From II_MT where II_MT.RecodingState = 1 and II_MT.ItemNum = QI_HT.ItemNum
							) as EndProcessCode,
							(Select  
								case PropertyClassification
									when '원자재' then '소재'
									when '상품' then '최종품'
									else PropertyClassification
								end as EndProcess
								From II_MT where II_MT.RecodingState = 1 and II_MT.ItemNum = QI_HT.ItemNum
							) as EndProcess,
							CompanyName, BusinessRegistrationNum,  SuitabilityQuantity as DeliveryQuantity ,  ApplyUnitCost, (ApplyUnitCost*SuitabilityQuantity) as TotalCost, isnull(P1.SmallClassificationName, '-') as ItemClassification1,   isnull(P2.SmallClassificationName, '-')  as ItemClassification2,  isnull(P3.SmallClassificationName, '-')  as ItemClassification3,   isnull(P4.SmallClassificationName, '-')  as ItemClassification4,  [Year], [Month]  From QI_HT
							Inner join  II_MT on QI_HT.ItemNum = II_MT.ItemNum
							Inner join  PUC_MT P1 on II_MT.ItemClassification1 = P1.SmallClassificationCode
							left outer  join  PUC_MT P2 on II_MT.ItemClassification2 = P2.SmallClassificationCode
							left outer join  PUC_MT P3 on II_MT.ItemClassification3 = P3.SmallClassificationCode
							left outer join  PUC_MT P4 on II_MT.ItemClassification4 = P4.SmallClassificationCode
							where Recognition = '승인' and II_MT.RecodingState = 1 and II_MT.ItemNum = QI_HT.ItemNum
							and  ProgressCondition != '대기' and (HistorySection2 = '구매발주' or HistorySection2 = '외주발주')
							and (ItemClassification1 like '%'+@ItemClassification1+'%' or ItemClassification1 is null)
							and (ItemClassification2 like '%'+@ItemClassification2+'%' or ItemClassification2 is null)
							and (ItemClassification3 like '%'+@ItemClassification3+'%' or ItemClassification3 is null)
							and (ItemClassification4 like '%'+@ItemClassification4+'%' or ItemClassification4 is null)

							union all			
							Select EtcBD_HT.ItemName as ItemNum, EtcBD_HT.ItemName as ItemDrawNum, EtcBD_HT.ItemName as ItemName, null,null,  CompanyName, BusinessRegistrationNum,  
								DeliveryQuantity,  ApplyUnitCost,  TotalCost, '-' as ItemClassification1,'-' as ItemClassification2,'-' as ItemClassification3,'-' as ItemClassification4,  [Year], [Month]							
							From EtcBD_HT
							where Recognition = '승인'

							union all
							
							Select SBD_HT.ItemNum as ItemNum, SBD_HT.ItemDrawNum as ItemDrawNum, SBD_HT.ItemName as ItemName, null,null,  CompanyName, BusinessRegistrationNum,  
								DeliveryQuantity, ApplyUnitCost,  TotalCost, isnull(P1.SmallClassificationName, '-') as ItemClassification1,   isnull(P2.SmallClassificationName, '-')  as ItemClassification2,  isnull(P3.SmallClassificationName, '-')  as ItemClassification3,   isnull(P4.SmallClassificationName, '-')  as ItemClassification4,   [Year], [Month]
							From SBD_HT Inner join  II_MT on SBD_HT.ItemNum = II_MT.ItemNum 
							Inner join  PUC_MT P1 on II_MT.ItemClassification1 = P1.SmallClassificationCode
							left outer join  PUC_MT P2 on II_MT.ItemClassification2 = P2.SmallClassificationCode
							left outer join  PUC_MT P3 on II_MT.ItemClassification3 = P3.SmallClassificationCode
							left outer join  PUC_MT P4 on II_MT.ItemClassification4 = P4.SmallClassificationCode
							where Recognition = '승인' and II_MT.RecodingState =1 
							and (ItemClassification1 like '%'+@ItemClassification1+'%' or ItemClassification1 is null)
							and (ItemClassification2 like '%'+@ItemClassification2+'%' or ItemClassification2 is null)
							and (ItemClassification3 like '%'+@ItemClassification3+'%' or ItemClassification3 is null)
							and (ItemClassification4 like '%'+@ItemClassification4+'%' or ItemClassification4 is null)
							
							union all
							
							Select PCL_HT.ItemNum as ItemNum, PCL_HT.ItemDrawNum as ItemDrawNum, PCL_HT.ItemName as ItemName, null,null,  CompanyName, BusinessRegistrationNum,  
								ClaimQuantity,  -ClaimCost, -ClaimCost,   isnull(P1.SmallClassificationName, '-') as ItemClassification1,   isnull(P2.SmallClassificationName, '-')  as ItemClassification2,  isnull(P3.SmallClassificationName, '-')  as ItemClassification3,   isnull(P4.SmallClassificationName, '-')  as ItemClassification4,    datepart(yy, ReceiptDate) as [Year], datepart(mm, ReceiptDate) as [Month]
							From PCL_HT Inner join  II_MT on PCL_HT.ItemNum = II_MT.ItemNum 
							Inner join  PUC_MT P1 on II_MT.ItemClassification1 = P1.SmallClassificationCode
							left outer join  PUC_MT P2 on II_MT.ItemClassification2 = P2.SmallClassificationCode
							left outer join  PUC_MT P3 on II_MT.ItemClassification3 = P3.SmallClassificationCode
							left outer join  PUC_MT P4 on II_MT.ItemClassification4 = P4.SmallClassificationCode
							Where II_MT.RecodingState =1 
							and (ItemClassification1 like '%'+@ItemClassification1+'%' or ItemClassification1 is null)
							and (ItemClassification2 like '%'+@ItemClassification2+'%' or ItemClassification2 is null)
							and (ItemClassification3 like '%'+@ItemClassification3+'%' or ItemClassification3 is null)
							and (ItemClassification4 like '%'+@ItemClassification4+'%' or ItemClassification4 is null)
							
							union all
							
							Select EtcClaimRegion as ItemNum, EtcClaimRegion as ItemDrawNum, EtcClaimRegion as ItemName, null,null,  CompanyName, BusinessRegistrationNum,  
								'0',  -ClaimCost, -ClaimCost,  '-' as ItemClassification1,'-' as ItemClassification2,'-' as ItemClassification3,'-' as ItemClassification4,  datepart(yy, ReceiptDate) as [Year], datepart(mm, ReceiptDate) as [Month]
							From ECL_HT
							where Recognition = '승인'

							
		
						)T
						where ItemNum like '%'+@ItemNum+'%' and ItemDrawNum like '%'+@ItemDrawNum+'%'
						and ItemName like '%'+@ItemName+'%' and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
						and CompanyName like '%'+@CompanyName+'%'
						and [Year]  like '%'+@Year+'%'
						and [Month] = @Month
						order by CompanyName,  ItemName	
			end
		end
		else
		begin
			if(@Month ='') --년도만 선택시
			begin
				insert into #BD_OSD_HT
					Select ItemNum, ItemDrawNum, ItemName, EndProcessCode, EndProcess, CompanyName, BusinessRegistrationNum,  DeliveryQuantity , ApplyUnitCost, TotalCost,  ItemClassification1, isnull( ItemClassification2 , '-') as ItemClassification2, isnull(ItemClassification3,'-')as ItemClassification3, isnull(ItemClassification4, '-') as ItemClassification4 , [Year], [Month]
					From 
					(
						Select QI_HT.ItemNum, QI_HT.ItemDrawNum, QI_HT.ItemName, 
							(Select  
								case PropertyClassification
									when '원자재' then '14000000'
									when '상품' then '14009999'
									else EndProcessName
								end as EndProcess
								From II_MT where II_MT.RecodingState = 1 and II_MT.ItemNum = QI_HT.ItemNum
							) as EndProcessCode,
							(Select  
								case PropertyClassification
									when '원자재' then '소재'
									when '상품' then '최종품'
									else PropertyClassification
								end as EndProcess
								From II_MT where II_MT.RecodingState = 1 and II_MT.ItemNum = QI_HT.ItemNum
							) as EndProcess,
							CompanyName, BusinessRegistrationNum,  SuitabilityQuantity as DeliveryQuantity ,  ApplyUnitCost, (ApplyUnitCost*SuitabilityQuantity) as TotalCost, isnull(P1.SmallClassificationName, '-') as ItemClassification1,   isnull(P2.SmallClassificationName, '-')  as ItemClassification2,  isnull(P3.SmallClassificationName, '-')  as ItemClassification3,   isnull(P4.SmallClassificationName, '-')  as ItemClassification4,  [Year], [Month]  From QI_HT
							Inner join  II_MT on QI_HT.ItemNum = II_MT.ItemNum
							Inner join  PUC_MT P1 on II_MT.ItemClassification1 = P1.SmallClassificationCode
							left outer  join  PUC_MT P2 on II_MT.ItemClassification2 = P2.SmallClassificationCode
							left outer join  PUC_MT P3 on II_MT.ItemClassification3 = P3.SmallClassificationCode
							left outer join  PUC_MT P4 on II_MT.ItemClassification4 = P4.SmallClassificationCode
							where Recognition = '승인' and  II_MT.RecodingState = 1 and II_MT.ItemNum = QI_HT.ItemNum
							and  ProgressCondition != '대기' and (HistorySection2 = '구매발주' or HistorySection2 = '외주발주')
							and (ItemClassification1 like '%'+@ItemClassification1+'%' or ItemClassification1 is null)
							and (ItemClassification2 like '%'+@ItemClassification2+'%' or ItemClassification2 is null)
							and (ItemClassification3 like '%'+@ItemClassification3+'%' or ItemClassification3 is null)
							and (ItemClassification4 like '%'+@ItemClassification4+'%' or ItemClassification4 is null)

							union all			
							
							Select EtcBD_HT.ItemName as ItemNum, EtcBD_HT.ItemName as ItemDrawNum, EtcBD_HT.ItemName as ItemName, null,null,  CompanyName, BusinessRegistrationNum,  
								DeliveryQuantity,  ApplyUnitCost, TotalCost, '-' as ItemClassification1,'-' as ItemClassification2,'-' as ItemClassification3,'-' as ItemClassification4,  [Year], [Month]
							From EtcBD_HT where Recognition = '승인'

							union all
							
							Select SBD_HT.ItemNum as ItemNum, SBD_HT.ItemDrawNum as ItemDrawNum, SBD_HT.ItemName as ItemName, null,null,  CompanyName, BusinessRegistrationNum,  
								DeliveryQuantity,  ApplyUnitCost, TotalCost, isnull(P1.SmallClassificationName, '-') as ItemClassification1,   isnull(P2.SmallClassificationName, '-')  as ItemClassification2,  isnull(P3.SmallClassificationName, '-')  as ItemClassification3,   isnull(P4.SmallClassificationName, '-')  as ItemClassification4,   [Year], [Month]
							From SBD_HT Inner join  II_MT on SBD_HT.ItemNum = II_MT.ItemNum 
							Inner join  PUC_MT P1 on II_MT.ItemClassification1 = P1.SmallClassificationCode
							left outer join  PUC_MT P2 on II_MT.ItemClassification2 = P2.SmallClassificationCode
							left outer join  PUC_MT P3 on II_MT.ItemClassification3 = P3.SmallClassificationCode
							left outer join  PUC_MT P4 on II_MT.ItemClassification4 = P4.SmallClassificationCode
							where Recognition = '승인' and   II_MT.RecodingState =1 
							and (ItemClassification1 like '%'+@ItemClassification1+'%' or ItemClassification1 is null)
							and (ItemClassification2 like '%'+@ItemClassification2+'%' or ItemClassification2 is null)
							and (ItemClassification3 like '%'+@ItemClassification3+'%' or ItemClassification3 is null)
							and (ItemClassification4 like '%'+@ItemClassification4+'%' or ItemClassification4 is null)
							
							union all
							
							Select PCL_HT.ItemNum as ItemNum, PCL_HT.ItemDrawNum as ItemDrawNum, PCL_HT.ItemName as ItemName, null,null,  CompanyName, BusinessRegistrationNum,  
								ClaimQuantity,  -ClaimCost,  -ClaimCost,   isnull(P1.SmallClassificationName, '-') as ItemClassification1,   isnull(P2.SmallClassificationName, '-')  as ItemClassification2,  isnull(P3.SmallClassificationName, '-')  as ItemClassification3,   isnull(P4.SmallClassificationName, '-')  as ItemClassification4,    datepart(yy, ReceiptDate) as [Year], datepart(mm, ReceiptDate) as [Month]
							From PCL_HT Inner join  II_MT on PCL_HT.ItemNum = II_MT.ItemNum 
							Inner join  PUC_MT P1 on II_MT.ItemClassification1 = P1.SmallClassificationCode
							left outer join  PUC_MT P2 on II_MT.ItemClassification2 = P2.SmallClassificationCode
							left outer join  PUC_MT P3 on II_MT.ItemClassification3 = P3.SmallClassificationCode
							left outer join  PUC_MT P4 on II_MT.ItemClassification4 = P4.SmallClassificationCode
							Where II_MT.RecodingState =1 
							and (ItemClassification1 like '%'+@ItemClassification1+'%' or ItemClassification1 is null)
							and (ItemClassification2 like '%'+@ItemClassification2+'%' or ItemClassification2 is null)
							and (ItemClassification3 like '%'+@ItemClassification3+'%' or ItemClassification3 is null)
							and (ItemClassification4 like '%'+@ItemClassification4+'%' or ItemClassification4 is null)
							
							union all
							
							Select EtcClaimRegion as ItemNum, EtcClaimRegion as ItemDrawNum, EtcClaimRegion as ItemName, null,null,  CompanyName, BusinessRegistrationNum,  
								'0',  -ClaimCost,  -ClaimCost,  '-' as ItemClassification1,'-' as ItemClassification2,'-' as ItemClassification3,'-' as ItemClassification4,  datepart(yy, ReceiptDate) as [Year], datepart(mm, ReceiptDate) as [Month]
							 From ECL_HT where Recognition = '승인'

							
		
						)T
						where ItemNum like '%'+@ItemNum+'%' and ItemDrawNum like '%'+@ItemDrawNum+'%'
						and ItemName like '%'+@ItemName+'%' and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
						and CompanyName like '%'+@CompanyName+'%'
						
						and [Year]  = @Year
						and [Month] like '%'+@Month+'%'
						order by CompanyName,  ItemName
			end
			else	-- 년도, 월 모두 선택시
			begin
				insert into #BD_OSD_HT
					Select ItemNum, ItemDrawNum, ItemName, EndProcessCode, EndProcess, CompanyName, BusinessRegistrationNum,  DeliveryQuantity ,  ApplyUnitCost, TotalCost,  ItemClassification1, isnull( ItemClassification2 , '-') as ItemClassification2, isnull(ItemClassification3,'-')as ItemClassification3, isnull(ItemClassification4, '-') as ItemClassification4 , [Year], [Month]
					From 
					(
						Select QI_HT.ItemNum, QI_HT.ItemDrawNum, QI_HT.ItemName, 
							(Select  
								case PropertyClassification
									when '원자재' then '14000000'
									when '상품' then '14009999'
									else EndProcessName
								end as EndProcess
								From II_MT where II_MT.RecodingState = 1 and II_MT.ItemNum = QI_HT.ItemNum
							) as EndProcessCode,
							(Select  
								case PropertyClassification
									when '원자재' then '소재'
									when '상품' then '최종품'
									else PropertyClassification
								end as EndProcess
								From II_MT where II_MT.RecodingState = 1 and II_MT.ItemNum = QI_HT.ItemNum
							) as EndProcess,
							CompanyName, BusinessRegistrationNum,  SuitabilityQuantity as DeliveryQuantity , ApplyUnitCost, (ApplyUnitCost*SuitabilityQuantity) as TotalCost, isnull(P1.SmallClassificationName, '-') as ItemClassification1,   isnull(P2.SmallClassificationName, '-')  as ItemClassification2,  isnull(P3.SmallClassificationName, '-')  as ItemClassification3,   isnull(P4.SmallClassificationName, '-')  as ItemClassification4,  [Year], [Month]  From QI_HT
							Inner join  II_MT on QI_HT.ItemNum = II_MT.ItemNum
							Inner join  PUC_MT P1 on II_MT.ItemClassification1 = P1.SmallClassificationCode
							left outer  join  PUC_MT P2 on II_MT.ItemClassification2 = P2.SmallClassificationCode
							left outer join  PUC_MT P3 on II_MT.ItemClassification3 = P3.SmallClassificationCode
							left outer join  PUC_MT P4 on II_MT.ItemClassification4 = P4.SmallClassificationCode
							where Recognition = '승인' and   II_MT.RecodingState = 1 and II_MT.ItemNum = QI_HT.ItemNum
							and  ProgressCondition != '대기' and (HistorySection2 = '구매발주' or HistorySection2 = '외주발주')
							and (ItemClassification1 like '%'+@ItemClassification1+'%' or ItemClassification1 is null)
							and (ItemClassification2 like '%'+@ItemClassification2+'%' or ItemClassification2 is null)
							and (ItemClassification3 like '%'+@ItemClassification3+'%' or ItemClassification3 is null)
							and (ItemClassification4 like '%'+@ItemClassification4+'%' or ItemClassification4 is null)

							union all			
							
							Select EtcBD_HT.ItemName as ItemNum, EtcBD_HT.ItemName as ItemDrawNum, EtcBD_HT.ItemName as ItemName, null,null,  CompanyName, BusinessRegistrationNum,  
								DeliveryQuantity, ApplyUnitCost,  TotalCost, '-' as ItemClassification1,'-' as ItemClassification2,'-' as ItemClassification3,'-' as ItemClassification4,  [Year], [Month]
							From EtcBD_HT where Recognition = '승인'

							union all
							
							Select SBD_HT.ItemNum as ItemNum, SBD_HT.ItemDrawNum as ItemDrawNum, SBD_HT.ItemName as ItemName, null,null,  CompanyName, BusinessRegistrationNum,  
								DeliveryQuantity, ApplyUnitCost, TotalCost, isnull(P1.SmallClassificationName, '-') as ItemClassification1,   isnull(P2.SmallClassificationName, '-')  as ItemClassification2,  isnull(P3.SmallClassificationName, '-')  as ItemClassification3,   isnull(P4.SmallClassificationName, '-')  as ItemClassification4,   [Year], [Month]
							From SBD_HT Inner join  II_MT on SBD_HT.ItemNum = II_MT.ItemNum 
							Inner join  PUC_MT P1 on II_MT.ItemClassification1 = P1.SmallClassificationCode
							left outer join  PUC_MT P2 on II_MT.ItemClassification2 = P2.SmallClassificationCode
							left outer join  PUC_MT P3 on II_MT.ItemClassification3 = P3.SmallClassificationCode
							left outer join  PUC_MT P4 on II_MT.ItemClassification4 = P4.SmallClassificationCode
							where Recognition = '승인' and   II_MT.RecodingState =1 
							and (ItemClassification1 like '%'+@ItemClassification1+'%' or ItemClassification1 is null)
							and (ItemClassification2 like '%'+@ItemClassification2+'%' or ItemClassification2 is null)
							and (ItemClassification3 like '%'+@ItemClassification3+'%' or ItemClassification3 is null)
							and (ItemClassification4 like '%'+@ItemClassification4+'%' or ItemClassification4 is null)
							
							union all
							
							Select PCL_HT.ItemNum as ItemNum, PCL_HT.ItemDrawNum as ItemDrawNum, PCL_HT.ItemName as ItemName, null,null,  CompanyName, BusinessRegistrationNum,  
								ClaimQuantity,  -ClaimCost, -ClaimCost,   isnull(P1.SmallClassificationName, '-') as ItemClassification1,   isnull(P2.SmallClassificationName, '-')  as ItemClassification2,  isnull(P3.SmallClassificationName, '-')  as ItemClassification3,   isnull(P4.SmallClassificationName, '-')  as ItemClassification4,    datepart(yy, ReceiptDate) as [Year], datepart(mm, ReceiptDate) as [Month]
							From PCL_HT Inner join  II_MT on PCL_HT.ItemNum = II_MT.ItemNum 
							Inner join  PUC_MT P1 on II_MT.ItemClassification1 = P1.SmallClassificationCode
							left outer join  PUC_MT P2 on II_MT.ItemClassification2 = P2.SmallClassificationCode
							left outer join  PUC_MT P3 on II_MT.ItemClassification3 = P3.SmallClassificationCode
							left outer join  PUC_MT P4 on II_MT.ItemClassification4 = P4.SmallClassificationCode
							Where II_MT.RecodingState =1 
							and (ItemClassification1 like '%'+@ItemClassification1+'%' or ItemClassification1 is null)
							and (ItemClassification2 like '%'+@ItemClassification2+'%' or ItemClassification2 is null)
							and (ItemClassification3 like '%'+@ItemClassification3+'%' or ItemClassification3 is null)
							and (ItemClassification4 like '%'+@ItemClassification4+'%' or ItemClassification4 is null)
							union all
							Select EtcClaimRegion as ItemNum, EtcClaimRegion as ItemDrawNum, EtcClaimRegion as ItemName, null,null,  CompanyName, BusinessRegistrationNum,  
								'0', -ClaimCost, -ClaimCost,  '-' as ItemClassification1,'-' as ItemClassification2,'-' as ItemClassification3,'-' as ItemClassification4,  datepart(yy, ReceiptDate) as [Year], datepart(mm, ReceiptDate) as [Month]
							From ECL_HT where Recognition = '승인' 

							
		
						)T
						where ItemNum like '%'+@ItemNum+'%' and ItemDrawNum like '%'+@ItemDrawNum+'%'
						and ItemName like '%'+@ItemName+'%' and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
						and CompanyName like '%'+@CompanyName+'%'
						
						and [Year]  = @Year
						and [Month] = @Month
						order by CompanyName,  ItemName
			end
		end

	
	end
	else if(@Division = '구매')
	begin
		if(@Year ='')
		begin
			if(@Month ='')
			begin
				insert into #BD_OSD_HT
						Select ItemNum, ItemDrawNum, ItemName, EndProcessCode, EndProcess, CompanyName, BusinessRegistrationNum,  DeliveryQuantity , ApplyUnitCost, TotalCost,  ItemClassification1, ItemClassification2, ItemClassification3, ItemClassification4,  [Year],[Month]
						From 
						(
						Select QI_HT.ItemNum, QI_HT.ItemDrawNum, QI_HT.ItemName, 
							(Select  
								case PropertyClassification
									when '원자재' then '14000000'
									when '상품' then '14009999'
									else EndProcessName
								end as EndProcess
								From II_MT where II_MT.RecodingState = 1 and II_MT.ItemNum = QI_HT.ItemNum
							) as EndProcessCode,
							(Select  
								case PropertyClassification
									when '원자재' then '소재'
									when '상품' then '최종품'
									else PropertyClassification
								end as EndProcess
								From II_MT where II_MT.RecodingState = 1 and II_MT.ItemNum = QI_HT.ItemNum
							) as EndProcess,
							CompanyName, BusinessRegistrationNum,  SuitabilityQuantity as DeliveryQuantity , ApplyUnitCost,  (ApplyUnitCost*SuitabilityQuantity) as TotalCost, isnull(P1.SmallClassificationName, '-') as ItemClassification1,   isnull(P2.SmallClassificationName, '-')  as ItemClassification2,  isnull(P3.SmallClassificationName, '-')  as ItemClassification3,   isnull(P4.SmallClassificationName, '-')  as ItemClassification4,  [Year], [Month]  From QI_HT
							Inner join  II_MT on QI_HT.ItemNum = II_MT.ItemNum
							Inner join  PUC_MT P1 on II_MT.ItemClassification1 = P1.SmallClassificationCode
							left outer  join  PUC_MT P2 on II_MT.ItemClassification2 = P2.SmallClassificationCode
							left outer join  PUC_MT P3 on II_MT.ItemClassification3 = P3.SmallClassificationCode
							left outer join  PUC_MT P4 on II_MT.ItemClassification4 = P4.SmallClassificationCode
							where Recognition = '승인' and   II_MT.RecodingState = 1 and II_MT.ItemNum = QI_HT.ItemNum
							and  ProgressCondition != '대기' and HistorySection2 = '구매발주'
							and (ItemClassification1 like '%'+@ItemClassification1+'%' or ItemClassification1 is null)
							and (ItemClassification2 like '%'+@ItemClassification2+'%' or ItemClassification2 is null)
							and (ItemClassification3 like '%'+@ItemClassification3+'%' or ItemClassification3 is null)
							and (ItemClassification4 like '%'+@ItemClassification4+'%' or ItemClassification4 is null)

							union all
							
							Select EtcBD_HT.ItemName as ItemNum, EtcBD_HT.ItemName as ItemDrawNum, EtcBD_HT.ItemName as ItemName, null,null,  CompanyName, BusinessRegistrationNum,  
								DeliveryQuantity, ApplyUnitCost,  TotalCost,  '-' as ItemClassification1,'-' as ItemClassification2,'-' as ItemClassification3,'-' as ItemClassification4, [Year],[Month]
							From EtcBD_HT where Recognition = '승인' 
							union all
							Select PCL_HT.ItemNum as ItemNum, PCL_HT.ItemDrawNum as ItemDrawNum, PCL_HT.ItemName as ItemName, null,null,  CompanyName, BusinessRegistrationNum,  
								ClaimQuantity,-ClaimCost,  -ClaimCost,     isnull(P1.SmallClassificationName, '-') as ItemClassification1,   isnull(P2.SmallClassificationName, '-')  as ItemClassification2,  isnull(P3.SmallClassificationName, '-')  as ItemClassification3,   isnull(P4.SmallClassificationName, '-')  as ItemClassification4, datepart(yy, ReceiptDate) as [Year], datepart(mm, ReceiptDate) as [Month]
							From PCL_HT Inner join  II_MT on PCL_HT.ItemNum = II_MT.ItemNum 
							Inner join  PUC_MT P1 on II_MT.ItemClassification1 = P1.SmallClassificationCode
								left outer join  PUC_MT P2 on II_MT.ItemClassification2 = P2.SmallClassificationCode
								left outer join  PUC_MT P3 on II_MT.ItemClassification3 = P3.SmallClassificationCode
								left outer join  PUC_MT P4 on II_MT.ItemClassification4 = P4.SmallClassificationCode
								Where II_MT.RecodingState =1 
								and (ItemClassification1 like '%'+@ItemClassification1+'%' or ItemClassification1 is null)
								and (ItemClassification2 like '%'+@ItemClassification2+'%' or ItemClassification2 is null)
								and (ItemClassification3 like '%'+@ItemClassification3+'%' or ItemClassification3 is null)
								and (ItemClassification4 like '%'+@ItemClassification4+'%' or ItemClassification4 is null)
								
							
						)T
						where ItemNum like '%'+@ItemNum+'%' and ItemDrawNum like '%'+@ItemDrawNum+'%'
						and ItemName like '%'+@ItemName+'%' and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
						and CompanyName like '%'+@CompanyName+'%'
						
						and [Year]  like '%'+@Year+'%'
						and [Month] like '%'+@Month+'%'
						order by CompanyName,  ItemName
			end
			else	--월만 선택시
			begin
				insert into #BD_OSD_HT
						Select ItemNum, ItemDrawNum, ItemName, EndProcessCode, EndProcess, CompanyName, BusinessRegistrationNum,  DeliveryQuantity , ApplyUnitCost, TotalCost,  ItemClassification1, ItemClassification2, ItemClassification3, ItemClassification4,  [Year],[Month]
						From 
						(

							Select QI_HT.ItemNum, QI_HT.ItemDrawNum, QI_HT.ItemName, 
							(Select  
								case PropertyClassification
									when '원자재' then '14000000'
									when '상품' then '14009999'
									else EndProcessName
								end as EndProcess
								From II_MT where II_MT.RecodingState = 1 and II_MT.ItemNum = QI_HT.ItemNum
							) as EndProcessCode,
							(Select  
								case PropertyClassification
									when '원자재' then '소재'
									when '상품' then '최종품'
									else PropertyClassification
								end as EndProcess
								From II_MT where II_MT.RecodingState = 1 and II_MT.ItemNum = QI_HT.ItemNum
							) as EndProcess,
							CompanyName, BusinessRegistrationNum,  SuitabilityQuantity as DeliveryQuantity , ApplyUnitCost, (ApplyUnitCost*SuitabilityQuantity) as TotalCost, isnull(P1.SmallClassificationName, '-') as ItemClassification1,   isnull(P2.SmallClassificationName, '-')  as ItemClassification2,  isnull(P3.SmallClassificationName, '-')  as ItemClassification3,   isnull(P4.SmallClassificationName, '-')  as ItemClassification4,  [Year], [Month]  From QI_HT
							Inner join  II_MT on QI_HT.ItemNum = II_MT.ItemNum
							Inner join  PUC_MT P1 on II_MT.ItemClassification1 = P1.SmallClassificationCode
							left outer  join  PUC_MT P2 on II_MT.ItemClassification2 = P2.SmallClassificationCode
							left outer join  PUC_MT P3 on II_MT.ItemClassification3 = P3.SmallClassificationCode
							left outer join  PUC_MT P4 on II_MT.ItemClassification4 = P4.SmallClassificationCode
							where Recognition = '승인' and   II_MT.RecodingState = 1 and II_MT.ItemNum = QI_HT.ItemNum
							and  ProgressCondition != '대기' and HistorySection2 = '구매발주'
							and (ItemClassification1 like '%'+@ItemClassification1+'%' or ItemClassification1 is null)
							and (ItemClassification2 like '%'+@ItemClassification2+'%' or ItemClassification2 is null)
							and (ItemClassification3 like '%'+@ItemClassification3+'%' or ItemClassification3 is null)
							and (ItemClassification4 like '%'+@ItemClassification4+'%' or ItemClassification4 is null)



							
							union all
							
							Select EtcBD_HT.ItemName as ItemNum, EtcBD_HT.ItemName as ItemDrawNum, EtcBD_HT.ItemName as ItemName, null,null,  CompanyName, BusinessRegistrationNum,  
								DeliveryQuantity, ApplyUnitCost, TotalCost,  '-' as ItemClassification1,'-' as ItemClassification2,'-' as ItemClassification3,'-' as ItemClassification4, [Year],[Month]
							From EtcBD_HT where Recognition = '승인' 
							union all
							Select PCL_HT.ItemNum as ItemNum, PCL_HT.ItemDrawNum as ItemDrawNum, PCL_HT.ItemName as ItemName, null,null,  CompanyName, BusinessRegistrationNum,  
								ClaimQuantity, -ClaimCost, -ClaimCost,     isnull(P1.SmallClassificationName, '-') as ItemClassification1,   isnull(P2.SmallClassificationName, '-')  as ItemClassification2,  isnull(P3.SmallClassificationName, '-')  as ItemClassification3,   isnull(P4.SmallClassificationName, '-')  as ItemClassification4, datepart(yy, ReceiptDate) as [Year], datepart(mm, ReceiptDate) as [Month]
							From PCL_HT Inner join  II_MT on PCL_HT.ItemNum = II_MT.ItemNum 
							Inner join  PUC_MT P1 on II_MT.ItemClassification1 = P1.SmallClassificationCode
								left outer join  PUC_MT P2 on II_MT.ItemClassification2 = P2.SmallClassificationCode
								left outer join  PUC_MT P3 on II_MT.ItemClassification3 = P3.SmallClassificationCode
								left outer join  PUC_MT P4 on II_MT.ItemClassification4 = P4.SmallClassificationCode
								Where II_MT.RecodingState =1 
								and (ItemClassification1 like '%'+@ItemClassification1+'%' or ItemClassification1 is null)
								and (ItemClassification2 like '%'+@ItemClassification2+'%' or ItemClassification2 is null)
								and (ItemClassification3 like '%'+@ItemClassification3+'%' or ItemClassification3 is null)
								and (ItemClassification4 like '%'+@ItemClassification4+'%' or ItemClassification4 is null)
								
							
						)T
						where ItemNum like '%'+@ItemNum+'%' and ItemDrawNum like '%'+@ItemDrawNum+'%'
						and ItemName like '%'+@ItemName+'%' and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
						and CompanyName like '%'+@CompanyName+'%'
						
						and [Year]  like '%'+@Year+'%'
						and [Month] like '%'+@Month+'%'
						order by CompanyName,  ItemName
			end
		end
		else
		begin
			if(@Month ='') --년도만 선택시
			begin
				insert into #BD_OSD_HT
						Select ItemNum, ItemDrawNum, ItemName, EndProcessCode, EndProcess, CompanyName, BusinessRegistrationNum,  DeliveryQuantity , ApplyUnitCost, TotalCost,  ItemClassification1, ItemClassification2, ItemClassification3, ItemClassification4,  [Year],[Month]
						From 
						(
							Select QI_HT.ItemNum, QI_HT.ItemDrawNum, QI_HT.ItemName, 
							(Select  
								case PropertyClassification
									when '원자재' then '14000000'
									when '상품' then '14009999'
									else EndProcessName
								end as EndProcess
								From II_MT where II_MT.RecodingState = 1 and II_MT.ItemNum = QI_HT.ItemNum
							) as EndProcessCode,
							(Select  
								case PropertyClassification
									when '원자재' then '소재'
									when '상품' then '최종품'
									else PropertyClassification
								end as EndProcess
								From II_MT where II_MT.RecodingState = 1 and II_MT.ItemNum = QI_HT.ItemNum
							) as EndProcess,
							CompanyName, BusinessRegistrationNum,  SuitabilityQuantity as DeliveryQuantity , ApplyUnitCost, (ApplyUnitCost*SuitabilityQuantity) as TotalCost, isnull(P1.SmallClassificationName, '-') as ItemClassification1,   isnull(P2.SmallClassificationName, '-')  as ItemClassification2,  isnull(P3.SmallClassificationName, '-')  as ItemClassification3,   isnull(P4.SmallClassificationName, '-')  as ItemClassification4,  [Year], [Month]  From QI_HT
							Inner join  II_MT on QI_HT.ItemNum = II_MT.ItemNum
							Inner join  PUC_MT P1 on II_MT.ItemClassification1 = P1.SmallClassificationCode
							left outer  join  PUC_MT P2 on II_MT.ItemClassification2 = P2.SmallClassificationCode
							left outer join  PUC_MT P3 on II_MT.ItemClassification3 = P3.SmallClassificationCode
							left outer join  PUC_MT P4 on II_MT.ItemClassification4 = P4.SmallClassificationCode
							where Recognition = '승인' and   II_MT.RecodingState = 1 and II_MT.ItemNum = QI_HT.ItemNum
							and  ProgressCondition != '대기' and HistorySection2 = '구매발주'
							and (ItemClassification1 like '%'+@ItemClassification1+'%' or ItemClassification1 is null)
							and (ItemClassification2 like '%'+@ItemClassification2+'%' or ItemClassification2 is null)
							and (ItemClassification3 like '%'+@ItemClassification3+'%' or ItemClassification3 is null)
							and (ItemClassification4 like '%'+@ItemClassification4+'%' or ItemClassification4 is null)


							
							union all
							
							Select EtcBD_HT.ItemName as ItemNum, EtcBD_HT.ItemName as ItemDrawNum, EtcBD_HT.ItemName as ItemName, null,null,  CompanyName, BusinessRegistrationNum,  
								DeliveryQuantity, ApplyUnitCost, TotalCost,  '-' as ItemClassification1,'-' as ItemClassification2,'-' as ItemClassification3,'-' as ItemClassification4, [Year],[Month]
							From EtcBD_HT where Recognition = '승인' 
							union all
							Select PCL_HT.ItemNum as ItemNum, PCL_HT.ItemDrawNum as ItemDrawNum, PCL_HT.ItemName as ItemName, null,null,  CompanyName, BusinessRegistrationNum,  
								ClaimQuantity, -ClaimCost, -ClaimCost,     isnull(P1.SmallClassificationName, '-') as ItemClassification1,   isnull(P2.SmallClassificationName, '-')  as ItemClassification2,  isnull(P3.SmallClassificationName, '-')  as ItemClassification3,   isnull(P4.SmallClassificationName, '-')  as ItemClassification4, datepart(yy, ReceiptDate) as [Year], datepart(mm, ReceiptDate) as [Month]
							From PCL_HT Inner join  II_MT on PCL_HT.ItemNum = II_MT.ItemNum 
							Inner join  PUC_MT P1 on II_MT.ItemClassification1 = P1.SmallClassificationCode
								left outer join  PUC_MT P2 on II_MT.ItemClassification2 = P2.SmallClassificationCode
								left outer join  PUC_MT P3 on II_MT.ItemClassification3 = P3.SmallClassificationCode
								left outer join  PUC_MT P4 on II_MT.ItemClassification4 = P4.SmallClassificationCode
								Where II_MT.RecodingState =1 
								and (ItemClassification1 like '%'+@ItemClassification1+'%' or ItemClassification1 is null)
								and (ItemClassification2 like '%'+@ItemClassification2+'%' or ItemClassification2 is null)
								and (ItemClassification3 like '%'+@ItemClassification3+'%' or ItemClassification3 is null)
								and (ItemClassification4 like '%'+@ItemClassification4+'%' or ItemClassification4 is null)
								
							
						)T
						where ItemNum like '%'+@ItemNum+'%' and ItemDrawNum like '%'+@ItemDrawNum+'%'
						and ItemName like '%'+@ItemName+'%' and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
						and CompanyName like '%'+@CompanyName+'%'
						
						and [Year]  like '%'+@Year+'%'
						and [Month] like '%'+@Month+'%'
						order by CompanyName,  ItemName
			end
			else	-- 년도, 월 모두 선택시
			begin
				insert into #BD_OSD_HT
						Select ItemNum, ItemDrawNum, ItemName, EndProcessCode, EndProcess, CompanyName, BusinessRegistrationNum,  DeliveryQuantity , ApplyUnitCost, TotalCost,  ItemClassification1, ItemClassification2, ItemClassification3, ItemClassification4,  [Year],[Month]
						From 
						(
							Select QI_HT.ItemNum, QI_HT.ItemDrawNum, QI_HT.ItemName, 
							(Select  
								case PropertyClassification
									when '원자재' then '14000000'
									when '상품' then '14009999'
									else EndProcessName
								end as EndProcess
								From II_MT where II_MT.RecodingState = 1 and II_MT.ItemNum = QI_HT.ItemNum
							) as EndProcessCode,
							(Select  
								case PropertyClassification
									when '원자재' then '소재'
									when '상품' then '최종품'
									else PropertyClassification
								end as EndProcess
								From II_MT where II_MT.RecodingState = 1 and II_MT.ItemNum = QI_HT.ItemNum
							) as EndProcess,
							CompanyName, BusinessRegistrationNum,  SuitabilityQuantity as DeliveryQuantity , ApplyUnitCost, (ApplyUnitCost*SuitabilityQuantity) as TotalCost, isnull(P1.SmallClassificationName, '-') as ItemClassification1,   isnull(P2.SmallClassificationName, '-')  as ItemClassification2,  isnull(P3.SmallClassificationName, '-')  as ItemClassification3,   isnull(P4.SmallClassificationName, '-')  as ItemClassification4,  [Year], [Month]  From QI_HT
							Inner join  II_MT on QI_HT.ItemNum = II_MT.ItemNum
							Inner join  PUC_MT P1 on II_MT.ItemClassification1 = P1.SmallClassificationCode
							left outer  join  PUC_MT P2 on II_MT.ItemClassification2 = P2.SmallClassificationCode
							left outer join  PUC_MT P3 on II_MT.ItemClassification3 = P3.SmallClassificationCode
							left outer join  PUC_MT P4 on II_MT.ItemClassification4 = P4.SmallClassificationCode
							where Recognition = '승인' and   II_MT.RecodingState = 1 and II_MT.ItemNum = QI_HT.ItemNum
							and  ProgressCondition != '대기' and HistorySection2 = '구매발주'
							and (ItemClassification1 like '%'+@ItemClassification1+'%' or ItemClassification1 is null)
							and (ItemClassification2 like '%'+@ItemClassification2+'%' or ItemClassification2 is null)
							and (ItemClassification3 like '%'+@ItemClassification3+'%' or ItemClassification3 is null)
							and (ItemClassification4 like '%'+@ItemClassification4+'%' or ItemClassification4 is null)

							union all
							
							Select EtcBD_HT.ItemName as ItemNum, EtcBD_HT.ItemName as ItemDrawNum, EtcBD_HT.ItemName as ItemName, null,null,  CompanyName, BusinessRegistrationNum,  
								DeliveryQuantity, ApplyUnitCost, TotalCost,  '-' as ItemClassification1,'-' as ItemClassification2,'-' as ItemClassification3,'-' as ItemClassification4, [Year],[Month]
							From EtcBD_HT where Recognition = '승인' 
							union all
							Select PCL_HT.ItemNum as ItemNum, PCL_HT.ItemDrawNum as ItemDrawNum, PCL_HT.ItemName as ItemName, null,null,  CompanyName, BusinessRegistrationNum,  
								ClaimQuantity, -ClaimCost, -ClaimCost,     isnull(P1.SmallClassificationName, '-') as ItemClassification1,   isnull(P2.SmallClassificationName, '-')  as ItemClassification2,  isnull(P3.SmallClassificationName, '-')  as ItemClassification3,   isnull(P4.SmallClassificationName, '-')  as ItemClassification4, datepart(yy, ReceiptDate) as [Year], datepart(mm, ReceiptDate) as [Month]
							From PCL_HT Inner join  II_MT on PCL_HT.ItemNum = II_MT.ItemNum 
							Inner join  PUC_MT P1 on II_MT.ItemClassification1 = P1.SmallClassificationCode
								left outer join  PUC_MT P2 on II_MT.ItemClassification2 = P2.SmallClassificationCode
								left outer join  PUC_MT P3 on II_MT.ItemClassification3 = P3.SmallClassificationCode
								left outer join  PUC_MT P4 on II_MT.ItemClassification4 = P4.SmallClassificationCode
								Where II_MT.RecodingState =1 
								and (ItemClassification1 like '%'+@ItemClassification1+'%' or ItemClassification1 is null)
								and (ItemClassification2 like '%'+@ItemClassification2+'%' or ItemClassification2 is null)
								and (ItemClassification3 like '%'+@ItemClassification3+'%' or ItemClassification3 is null)
								and (ItemClassification4 like '%'+@ItemClassification4+'%' or ItemClassification4 is null)
								
							
						)T
						where ItemNum like '%'+@ItemNum+'%' and ItemDrawNum like '%'+@ItemDrawNum+'%'
						and ItemName like '%'+@ItemName+'%' and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
						and CompanyName like '%'+@CompanyName+'%'
						
						and [Year]  like '%'+@Year+'%'
						and [Month] like '%'+@Month+'%'
						order by CompanyName,  ItemName
			end
		end		
	end
	else if(@Division = '외주')
	begin
		if(@Year ='')
		begin
			if(@Month ='')
			begin
				insert into #BD_OSD_HT
				Select ItemNum, ItemDrawNum, ItemName, ProcessCode, ProcessName, CompanyName, BusinessRegistrationNum,  DeliveryQuantity , ApplyUnitCost, TotalCost,  ItemClassification1, ItemClassification2, ItemClassification3, ItemClassification4,  [Year],[Month]
				From 
				(
					Select QI_HT.ItemNum, QI_HT.ItemDrawNum, QI_HT.ItemName, 
						(Select  
							case PropertyClassification
								when '원자재' then '14000000'
								when '상품' then '14009999'
								else EndProcessName
								end as EndProcess
							From II_MT where II_MT.RecodingState = 1 and II_MT.ItemNum = QI_HT.ItemNum
						) as ProcessCode,
						(Select  
							case PropertyClassification
								when '원자재' then '소재'
								when '상품' then '최종품'
								else PropertyClassification
								end as EndProcess
						From II_MT where II_MT.RecodingState = 1 and II_MT.ItemNum = QI_HT.ItemNum
						) as ProcessName,
						CompanyName, BusinessRegistrationNum,  SuitabilityQuantity as DeliveryQuantity , ApplyUnitCost,  (ApplyUnitCost*SuitabilityQuantity) as TotalCost, isnull(P1.SmallClassificationName, '-') as ItemClassification1,   isnull(P2.SmallClassificationName, '-')  as ItemClassification2,  isnull(P3.SmallClassificationName, '-')  as ItemClassification3,   isnull(P4.SmallClassificationName, '-')  as ItemClassification4,  [Year], [Month]  From QI_HT
						Inner join  II_MT on QI_HT.ItemNum = II_MT.ItemNum
						Inner join  PUC_MT P1 on II_MT.ItemClassification1 = P1.SmallClassificationCode
						left outer  join  PUC_MT P2 on II_MT.ItemClassification2 = P2.SmallClassificationCode
						left outer join  PUC_MT P3 on II_MT.ItemClassification3 = P3.SmallClassificationCode
						left outer join  PUC_MT P4 on II_MT.ItemClassification4 = P4.SmallClassificationCode
						where Recognition = '승인' and   II_MT.RecodingState = 1 and II_MT.ItemNum = QI_HT.ItemNum
						and  ProgressCondition != '대기' and HistorySection2 = '외주발주'
						and (ItemClassification1 like '%'+@ItemClassification1+'%' or ItemClassification1 is null)
						and (ItemClassification2 like '%'+@ItemClassification2+'%' or ItemClassification2 is null)
						and (ItemClassification3 like '%'+@ItemClassification3+'%' or ItemClassification3 is null)
						and (ItemClassification4 like '%'+@ItemClassification4+'%' or ItemClassification4 is null)
				)T
				where ItemNum like '%'+@ItemNum+'%' and ItemDrawNum like '%'+@ItemDrawNum+'%'
				and ItemName like '%'+@ItemName+'%' and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
				and CompanyName like '%'+@CompanyName+'%'
				and [Year]  like '%'+@Year+'%'
				and [Month] like '%'+@Month+'%'
				order by CompanyName,  ItemName
			end
			else	--월만 선택시
			begin
				insert into #BD_OSD_HT
				Select ItemNum, ItemDrawNum, ItemName, ProcessCode, ProcessName, CompanyName, BusinessRegistrationNum,  DeliveryQuantity , ApplyUnitCost, TotalCost,  ItemClassification1, ItemClassification2, ItemClassification3, ItemClassification4,  [Year],[Month]
				From 
				(
					Select QI_HT.ItemNum, QI_HT.ItemDrawNum, QI_HT.ItemName, 
						(Select  
							case PropertyClassification
								when '원자재' then '14000000'
								when '상품' then '14009999'
								else EndProcessName
								end as EndProcess
							From II_MT where II_MT.RecodingState = 1 and II_MT.ItemNum = QI_HT.ItemNum
						) as ProcessCode,
						(Select  
							case PropertyClassification
								when '원자재' then '소재'
								when '상품' then '최종품'
								else PropertyClassification
								end as EndProcess
						From II_MT where II_MT.RecodingState = 1 and II_MT.ItemNum = QI_HT.ItemNum
						) as ProcessName,
						CompanyName, BusinessRegistrationNum,  SuitabilityQuantity as DeliveryQuantity ,ApplyUnitCost,  (ApplyUnitCost*SuitabilityQuantity) as TotalCost, isnull(P1.SmallClassificationName, '-') as ItemClassification1,   isnull(P2.SmallClassificationName, '-')  as ItemClassification2,  isnull(P3.SmallClassificationName, '-')  as ItemClassification3,   isnull(P4.SmallClassificationName, '-')  as ItemClassification4,  [Year], [Month]  From QI_HT
						Inner join  II_MT on QI_HT.ItemNum = II_MT.ItemNum
						Inner join  PUC_MT P1 on II_MT.ItemClassification1 = P1.SmallClassificationCode
						left outer  join  PUC_MT P2 on II_MT.ItemClassification2 = P2.SmallClassificationCode
						left outer join  PUC_MT P3 on II_MT.ItemClassification3 = P3.SmallClassificationCode
						left outer join  PUC_MT P4 on II_MT.ItemClassification4 = P4.SmallClassificationCode
						where Recognition = '승인' and   II_MT.RecodingState = 1 and II_MT.ItemNum = QI_HT.ItemNum
						and  ProgressCondition != '대기' and HistorySection2 = '외주발주'
						and (ItemClassification1 like '%'+@ItemClassification1+'%' or ItemClassification1 is null)
						and (ItemClassification2 like '%'+@ItemClassification2+'%' or ItemClassification2 is null)
						and (ItemClassification3 like '%'+@ItemClassification3+'%' or ItemClassification3 is null)
						and (ItemClassification4 like '%'+@ItemClassification4+'%' or ItemClassification4 is null)
								
				)T
				where ItemNum like '%'+@ItemNum+'%' and ItemDrawNum like '%'+@ItemDrawNum+'%'
				and ItemName like '%'+@ItemName+'%' and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
				and CompanyName like '%'+@CompanyName+'%'
				and [Year]  like '%'+@Year+'%'
				and [Month] like '%'+@Month+'%'
				order by CompanyName,  ItemName
			end
		end
		else
		begin
			if(@Month ='') --년도만 선택시
			begin
				insert into #BD_OSD_HT
				Select ItemNum, ItemDrawNum, ItemName, ProcessCode, ProcessName, CompanyName, BusinessRegistrationNum,  DeliveryQuantity , ApplyUnitCost,  TotalCost,  ItemClassification1, ItemClassification2, ItemClassification3, ItemClassification4,  [Year],[Month]
				From 
				(
					Select QI_HT.ItemNum, QI_HT.ItemDrawNum, QI_HT.ItemName, 
						(Select  
							case PropertyClassification
								when '원자재' then '14000000'
								when '상품' then '14009999'
								else EndProcessName
								end as EndProcess
							From II_MT where II_MT.RecodingState = 1 and II_MT.ItemNum = QI_HT.ItemNum
						) as ProcessCode,
						(Select  
							case PropertyClassification
								when '원자재' then '소재'
								when '상품' then '최종품'
								else PropertyClassification
								end as EndProcess
						From II_MT where II_MT.RecodingState = 1 and II_MT.ItemNum = QI_HT.ItemNum
						) as ProcessName,
						CompanyName, BusinessRegistrationNum,  SuitabilityQuantity as DeliveryQuantity , ApplyUnitCost, (ApplyUnitCost*SuitabilityQuantity) as TotalCost, isnull(P1.SmallClassificationName, '-') as ItemClassification1,   isnull(P2.SmallClassificationName, '-')  as ItemClassification2,  isnull(P3.SmallClassificationName, '-')  as ItemClassification3,   isnull(P4.SmallClassificationName, '-')  as ItemClassification4,  [Year], [Month]  From QI_HT
						Inner join  II_MT on QI_HT.ItemNum = II_MT.ItemNum
						Inner join  PUC_MT P1 on II_MT.ItemClassification1 = P1.SmallClassificationCode
						left outer  join  PUC_MT P2 on II_MT.ItemClassification2 = P2.SmallClassificationCode
						left outer join  PUC_MT P3 on II_MT.ItemClassification3 = P3.SmallClassificationCode
						left outer join  PUC_MT P4 on II_MT.ItemClassification4 = P4.SmallClassificationCode
						where Recognition = '승인' and   II_MT.RecodingState = 1 and II_MT.ItemNum = QI_HT.ItemNum
						and  ProgressCondition != '대기' and HistorySection2 = '외주발주'
						and (ItemClassification1 like '%'+@ItemClassification1+'%' or ItemClassification1 is null)
						and (ItemClassification2 like '%'+@ItemClassification2+'%' or ItemClassification2 is null)
						and (ItemClassification3 like '%'+@ItemClassification3+'%' or ItemClassification3 is null)
						and (ItemClassification4 like '%'+@ItemClassification4+'%' or ItemClassification4 is null)
								
				)T
				where ItemNum like '%'+@ItemNum+'%' and ItemDrawNum like '%'+@ItemDrawNum+'%'
				and ItemName like '%'+@ItemName+'%' and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
				and CompanyName like '%'+@CompanyName+'%'
				and [Year]  like '%'+@Year+'%'
				and [Month] like '%'+@Month+'%'
				order by CompanyName,  ItemName
			end
			else	-- 년도, 월 모두 선택시
			begin
				insert into #BD_OSD_HT
				Select ItemNum, ItemDrawNum, ItemName, ProcessCode, ProcessName, CompanyName, BusinessRegistrationNum,  DeliveryQuantity , ApplyUnitCost, TotalCost,  ItemClassification1, ItemClassification2, ItemClassification3, ItemClassification4,  [Year],[Month]
				From 
				(
					Select QI_HT.ItemNum, QI_HT.ItemDrawNum, QI_HT.ItemName, 
						(Select  
							case PropertyClassification
								when '원자재' then '14000000'
								when '상품' then '14009999'
								else EndProcessName
								end as EndProcess
							From II_MT where II_MT.RecodingState = 1 and II_MT.ItemNum = QI_HT.ItemNum
						) as ProcessCode,
						(Select  
							case PropertyClassification
								when '원자재' then '소재'
								when '상품' then '최종품'
								else PropertyClassification
								end as EndProcess
						From II_MT where II_MT.RecodingState = 1 and II_MT.ItemNum = QI_HT.ItemNum
						) as ProcessName,
						CompanyName, BusinessRegistrationNum,  SuitabilityQuantity as DeliveryQuantity , ApplyUnitCost,  (ApplyUnitCost*SuitabilityQuantity) as TotalCost, isnull(P1.SmallClassificationName, '-') as ItemClassification1,   isnull(P2.SmallClassificationName, '-')  as ItemClassification2,  isnull(P3.SmallClassificationName, '-')  as ItemClassification3,   isnull(P4.SmallClassificationName, '-')  as ItemClassification4,  [Year], [Month]  From QI_HT
						Inner join  II_MT on QI_HT.ItemNum = II_MT.ItemNum
						Inner join  PUC_MT P1 on II_MT.ItemClassification1 = P1.SmallClassificationCode
						left outer  join  PUC_MT P2 on II_MT.ItemClassification2 = P2.SmallClassificationCode
						left outer join  PUC_MT P3 on II_MT.ItemClassification3 = P3.SmallClassificationCode
						left outer join  PUC_MT P4 on II_MT.ItemClassification4 = P4.SmallClassificationCode
						where Recognition = '승인' and   II_MT.RecodingState = 1 and II_MT.ItemNum = QI_HT.ItemNum
						and  ProgressCondition != '대기' and HistorySection2 = '외주발주'
						and (ItemClassification1 like '%'+@ItemClassification1+'%' or ItemClassification1 is null)
						and (ItemClassification2 like '%'+@ItemClassification2+'%' or ItemClassification2 is null)
						and (ItemClassification3 like '%'+@ItemClassification3+'%' or ItemClassification3 is null)
						and (ItemClassification4 like '%'+@ItemClassification4+'%' or ItemClassification4 is null)
				)T
				where ItemNum like '%'+@ItemNum+'%' and ItemDrawNum like '%'+@ItemDrawNum+'%'
				and ItemName like '%'+@ItemName+'%' and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
				and CompanyName like '%'+@CompanyName+'%'
				and [Year]  like '%'+@Year+'%'
				and [Month] like '%'+@Month+'%'
				order by CompanyName,  ItemName
			end
		end		
	end
	else if(@Division = '기타')
	begin

		if(@Year ='')
		begin
			if(@Month ='')
			begin
				insert into #BD_OSD_HT
				Select ItemNum, ItemDrawNum, ItemName, ProcessCode, ProcessName, CompanyName, BusinessRegistrationNum,  DeliveryQuantity , ApplyUnitCost,  TotalCost,  ItemClassification1, ItemClassification2, ItemClassification3, ItemClassification4,  [Year],[Month]
				From 
				(
					Select EtcBD_HT.ItemName as ItemNum,EtcBD_HT.ItemName as ItemDrawNum, EtcBD_HT.ItemName as ItemName, null as  ProcessCode,null as ProcessName,
						 CompanyName, BusinessRegistrationNum, DeliveryQuantity, ApplyUnitCost,  TotalCost,  '-' as ItemClassification1,'-' as ItemClassification2,'-' as ItemClassification3,'-' as ItemClassification4,  [Year],[Month]	
					From EtcBD_HT
					where Recognition = '승인' 
					union all
					Select EtcClaimRegion as ItemNum, EtcClaimRegion as ItemDrawNum, EtcClaimRegion as ItemName, null,null,  CompanyName, BusinessRegistrationNum,  
						'0', -ClaimCost, -ClaimCost,  '-' as ItemClassification1,'-' as ItemClassification2,'-' as ItemClassification3,'-' as ItemClassification4,  datepart(yy, ReceiptDate) as [Year], datepart(mm, ReceiptDate) as [Month]
					From ECL_HT				
					where Recognition = '승인' 

				)T
				where ItemName like '%'+@ItemName+'%' and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
				and CompanyName like '%'+@CompanyName+'%'
				
				and [Year]  like '%'+@Year+'%'
				and [Month] like '%'+@Month+'%'
				order by CompanyName, ItemName
			end
			else	--월만 선택시
			begin
				insert into #BD_OSD_HT
				Select ItemNum, ItemDrawNum, ItemName, ProcessCode, ProcessName, CompanyName, BusinessRegistrationNum,  DeliveryQuantity , ApplyUnitCost, TotalCost,  ItemClassification1, ItemClassification2, ItemClassification3, ItemClassification4,  [Year],[Month]
				From 
				(
					Select EtcBD_HT.ItemName as ItemNum,EtcBD_HT.ItemName as ItemDrawNum, EtcBD_HT.ItemName as ItemName, null as  ProcessCode,null as ProcessName,
						 CompanyName, BusinessRegistrationNum, DeliveryQuantity, ApplyUnitCost,  TotalCost,  '-' as ItemClassification1,'-' as ItemClassification2,'-' as ItemClassification3,'-' as ItemClassification4,  [Year],[Month]	
					From EtcBD_HT
					where Recognition = '승인' 
					union all
					Select EtcClaimRegion as ItemNum, EtcClaimRegion as ItemDrawNum, EtcClaimRegion as ItemName, null,null,  CompanyName, BusinessRegistrationNum,  
						'0', -ClaimCost, -ClaimCost,  '-' as ItemClassification1,'-' as ItemClassification2,'-' as ItemClassification3,'-' as ItemClassification4,  datepart(yy, ReceiptDate) as [Year], datepart(mm, ReceiptDate) as [Month]
					From ECL_HT				
					where Recognition = '승인' 

				)T
				where ItemName like '%'+@ItemName+'%' and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
				and CompanyName like '%'+@CompanyName+'%'
				
				and [Year]  like '%'+@Year+'%'
				and [Month]= @Month
				order by CompanyName, ItemName
			end
		end
		else
		begin
			if(@Month ='') --년도만 선택시
			begin
				insert into #BD_OSD_HT
				Select ItemNum, ItemDrawNum, ItemName, ProcessCode, ProcessName, CompanyName, BusinessRegistrationNum,  DeliveryQuantity , ApplyUnitCost, TotalCost,  ItemClassification1, ItemClassification2, ItemClassification3, ItemClassification4,  [Year],[Month]
				From 
				(
					Select EtcBD_HT.ItemName as ItemNum,EtcBD_HT.ItemName as ItemDrawNum, EtcBD_HT.ItemName as ItemName, null as  ProcessCode,null as ProcessName,
						 CompanyName, BusinessRegistrationNum, DeliveryQuantity,  ApplyUnitCost, TotalCost,  '-' as ItemClassification1,'-' as ItemClassification2,'-' as ItemClassification3,'-' as ItemClassification4,  [Year],[Month]	
					From EtcBD_HT
					where Recognition = '승인' 
					union all
					Select EtcClaimRegion as ItemNum, EtcClaimRegion as ItemDrawNum, EtcClaimRegion as ItemName, null,null,  CompanyName, BusinessRegistrationNum,  
						'0',  -ClaimCost,  -ClaimCost,  '-' as ItemClassification1,'-' as ItemClassification2,'-' as ItemClassification3,'-' as ItemClassification4,  datepart(yy, ReceiptDate) as [Year], datepart(mm, ReceiptDate) as [Month]
					From ECL_HT				
					where Recognition = '승인' 

				)T
				where ItemName like '%'+@ItemName+'%' and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
				and CompanyName like '%'+@CompanyName+'%'
				
				and [Year]= @Year
				and [Month] like '%'+@Month+'%'
				order by CompanyName, ItemName
			end
			else	-- 년도, 월 모두 선택시
			begin
				insert into #BD_OSD_HT
				Select ItemNum, ItemDrawNum, ItemName, ProcessCode, ProcessName, CompanyName, BusinessRegistrationNum,  DeliveryQuantity , ApplyUnitCost, TotalCost,  ItemClassification1, ItemClassification2, ItemClassification3, ItemClassification4,  [Year],[Month]
				From 
				(
					Select EtcBD_HT.ItemName as ItemNum,EtcBD_HT.ItemName as ItemDrawNum, EtcBD_HT.ItemName as ItemName, null as  ProcessCode,null as ProcessName,
						 CompanyName, BusinessRegistrationNum, DeliveryQuantity, ApplyUnitCost, TotalCost,  '-' as ItemClassification1,'-' as ItemClassification2,'-' as ItemClassification3,'-' as ItemClassification4,  [Year],[Month]	
					From EtcBD_HT
					where Recognition = '승인' 
					union all
					Select EtcClaimRegion as ItemNum, EtcClaimRegion as ItemDrawNum, EtcClaimRegion as ItemName, null,null,  CompanyName, BusinessRegistrationNum,  
						'0', -ClaimCost, -ClaimCost,  '-' as ItemClassification1,'-' as ItemClassification2,'-' as ItemClassification3,'-' as ItemClassification4,  datepart(yy, ReceiptDate) as [Year], datepart(mm, ReceiptDate) as [Month]
					From ECL_HT				
					where Recognition = '승인' 

				)T
				where ItemName like '%'+@ItemName+'%' and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
				and CompanyName like '%'+@CompanyName+'%'
				
				and [Year] = @Year
				and [Month]=@Month
				order by CompanyName,  ItemName
			end
		end
	end
	else if(@Division = '부자재')
	begin

		if(@Year ='')
		begin
			if(@Month ='')
			begin
				insert into #BD_OSD_HT
				Select ItemNum, ItemDrawNum, ItemName, ProcessCode, ProcessName, CompanyName, BusinessRegistrationNum,  DeliveryQuantity , ApplyUnitCost,  TotalCost,  ItemClassification1, ItemClassification2, ItemClassification3, ItemClassification4,  [Year],[Month]
				From 
				(
					Select SBD_HT.ItemNum as ItemNum, SBD_HT.ItemDrawNum as ItemDrawNum, SBD_HT.ItemName as ItemName, null as ProcessCode,null as ProcessName,  CompanyName, BusinessRegistrationNum, 
						DeliveryQuantity, ApplyUnitCost,  TotalCost,  isnull(P1.SmallClassificationName, '-') as ItemClassification1,   isnull(P2.SmallClassificationName, '-')  as ItemClassification2,  isnull(P3.SmallClassificationName, '-')  as ItemClassification3,   isnull(P4.SmallClassificationName, '-')  as ItemClassification4, [Year],[Month]
					From SBD_HT	inner join II_MT on SBD_HT.ItemNum = II_MT.ItemNum	
					Inner join  PUC_MT P1 on II_MT.ItemClassification1 = P1.SmallClassificationCode
						left outer join  PUC_MT P2 on II_MT.ItemClassification2 = P2.SmallClassificationCode
						left outer join  PUC_MT P3 on II_MT.ItemClassification3 = P3.SmallClassificationCode
						left outer join  PUC_MT P4 on II_MT.ItemClassification4 = P4.SmallClassificationCode
						where Recognition = '승인' and  II_MT.RecodingState = 1	
					and (ItemClassification1 like '%'+@ItemClassification1+'%' or ItemClassification1 is null)
								and (ItemClassification2 like '%'+@ItemClassification2+'%' or ItemClassification2 is null)
								and (ItemClassification3 like '%'+@ItemClassification3+'%' or ItemClassification3 is null)
								and (ItemClassification4 like '%'+@ItemClassification4+'%' or ItemClassification4 is null)
								

				)T
				where ItemName like '%'+@ItemName+'%' and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
				and CompanyName like '%'+@CompanyName+'%'
				
				and [Year]  like '%'+@Year+'%'
				and [Month] like '%'+@Month+'%'
				order by CompanyName,  ItemName
			end
			else	--월만 선택시
			begin
				insert into #BD_OSD_HT
				Select ItemNum, ItemDrawNum, ItemName, ProcessCode, ProcessName, CompanyName, BusinessRegistrationNum,  DeliveryQuantity , ApplyUnitCost, TotalCost,  ItemClassification1, ItemClassification2, ItemClassification3, ItemClassification4,  [Year],[Month]
				From 
				(
					Select SBD_HT.ItemNum as ItemNum, SBD_HT.ItemDrawNum as ItemDrawNum, SBD_HT.ItemName as ItemName, null as ProcessCode,null as ProcessName,  CompanyName, BusinessRegistrationNum, 
						DeliveryQuantity, ApplyUnitCost,  TotalCost,  isnull(P1.SmallClassificationName, '-') as ItemClassification1,   isnull(P2.SmallClassificationName, '-')  as ItemClassification2,  isnull(P3.SmallClassificationName, '-')  as ItemClassification3,   isnull(P4.SmallClassificationName, '-')  as ItemClassification4, [Year],[Month]
					From SBD_HT	inner join II_MT on SBD_HT.ItemNum = II_MT.ItemNum	
					Inner join  PUC_MT P1 on II_MT.ItemClassification1 = P1.SmallClassificationCode
						left outer join  PUC_MT P2 on II_MT.ItemClassification2 = P2.SmallClassificationCode
						left outer join  PUC_MT P3 on II_MT.ItemClassification3 = P3.SmallClassificationCode
						left outer join  PUC_MT P4 on II_MT.ItemClassification4 = P4.SmallClassificationCode
						where Recognition = '승인' and   II_MT.RecodingState = 1	
					and (ItemClassification1 like '%'+@ItemClassification1+'%' or ItemClassification1 is null)
								and (ItemClassification2 like '%'+@ItemClassification2+'%' or ItemClassification2 is null)
								and (ItemClassification3 like '%'+@ItemClassification3+'%' or ItemClassification3 is null)
								and (ItemClassification4 like '%'+@ItemClassification4+'%' or ItemClassification4 is null)
								

				)T
				where ItemName like '%'+@ItemName+'%' and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
				and CompanyName like '%'+@CompanyName+'%'
				
				and [Year]  like '%'+@Year+'%'
				and [Month]= @Month
				order by CompanyName, ItemName
			end
		end
		else
		begin
			if(@Month ='') --년도만 선택시
			begin
				insert into #BD_OSD_HT
				Select ItemNum, ItemDrawNum, ItemName, ProcessCode, ProcessName, CompanyName, BusinessRegistrationNum,  DeliveryQuantity , ApplyUnitCost, TotalCost,  ItemClassification1, ItemClassification2, ItemClassification3, ItemClassification4,  [Year],[Month]
				From 
				(
					Select SBD_HT.ItemNum as ItemNum, SBD_HT.ItemDrawNum as ItemDrawNum, SBD_HT.ItemName as ItemName, null as ProcessCode,null as ProcessName,  CompanyName, BusinessRegistrationNum, 
						DeliveryQuantity, ApplyUnitCost,  TotalCost,  isnull(P1.SmallClassificationName, '-') as ItemClassification1,   isnull(P2.SmallClassificationName, '-')  as ItemClassification2,  isnull(P3.SmallClassificationName, '-')  as ItemClassification3,   isnull(P4.SmallClassificationName, '-')  as ItemClassification4, [Year],[Month]
					From SBD_HT	inner join II_MT on SBD_HT.ItemNum = II_MT.ItemNum	
					Inner join  PUC_MT P1 on II_MT.ItemClassification1 = P1.SmallClassificationCode
						left outer join  PUC_MT P2 on II_MT.ItemClassification2 = P2.SmallClassificationCode
						left outer join  PUC_MT P3 on II_MT.ItemClassification3 = P3.SmallClassificationCode
						left outer join  PUC_MT P4 on II_MT.ItemClassification4 = P4.SmallClassificationCode
						where Recognition = '승인' and   II_MT.RecodingState = 1	
					and (ItemClassification1 like '%'+@ItemClassification1+'%' or ItemClassification1 is null)
								and (ItemClassification2 like '%'+@ItemClassification2+'%' or ItemClassification2 is null)
								and (ItemClassification3 like '%'+@ItemClassification3+'%' or ItemClassification3 is null)
								and (ItemClassification4 like '%'+@ItemClassification4+'%' or ItemClassification4 is null)
								

				)T
				where ItemName like '%'+@ItemName+'%' and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
				and CompanyName like '%'+@CompanyName+'%'
				
				and [Year]= @Year
				and [Month] like '%'+@Month+'%'
				order by CompanyName, ItemName
			end
			else	-- 년도, 월 모두 선택시
			begin
				insert into #BD_OSD_HT
				Select ItemNum, ItemDrawNum, ItemName, ProcessCode, ProcessName, CompanyName, BusinessRegistrationNum,  DeliveryQuantity , ApplyUnitCost, TotalCost,  ItemClassification1, ItemClassification2, ItemClassification3, ItemClassification4,  [Year],[Month]
				From 
				(
					Select SBD_HT.ItemNum as ItemNum, SBD_HT.ItemDrawNum as ItemDrawNum, SBD_HT.ItemName as ItemName, null as ProcessCode,null as ProcessName,  CompanyName, BusinessRegistrationNum, 
						DeliveryQuantity,  ApplyUnitCost, TotalCost,  isnull(P1.SmallClassificationName, '-') as ItemClassification1,   isnull(P2.SmallClassificationName, '-')  as ItemClassification2,  isnull(P3.SmallClassificationName, '-')  as ItemClassification3,   isnull(P4.SmallClassificationName, '-')  as ItemClassification4, [Year],[Month]
					From SBD_HT	inner join II_MT on SBD_HT.ItemNum = II_MT.ItemNum	
					Inner join  PUC_MT P1 on II_MT.ItemClassification1 = P1.SmallClassificationCode
						left outer join  PUC_MT P2 on II_MT.ItemClassification2 = P2.SmallClassificationCode
						left outer join  PUC_MT P3 on II_MT.ItemClassification3 = P3.SmallClassificationCode
						left outer join  PUC_MT P4 on II_MT.ItemClassification4 = P4.SmallClassificationCode
						where Recognition = '승인' and   II_MT.RecodingState = 1	
					and (ItemClassification1 like '%'+@ItemClassification1+'%' or ItemClassification1 is null)
								and (ItemClassification2 like '%'+@ItemClassification2+'%' or ItemClassification2 is null)
								and (ItemClassification3 like '%'+@ItemClassification3+'%' or ItemClassification3 is null)
								and (ItemClassification4 like '%'+@ItemClassification4+'%' or ItemClassification4 is null)
								

				)T
				where ItemName like '%'+@ItemName+'%' and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
				and CompanyName like '%'+@CompanyName+'%'
				
				and [Year] = @Year
				and [Month]=@Month
				order by CompanyName, ItemName
			end
		end
	end
	SELECT 
	CompanyName
	, BusinessRegistrationNum
	, ItemNum
	, ItemDrawNum
	, ItemName	, ProcessCode
	, ProcessName
	, Sum(DeliveryQuantity) as DeliveryQuantity
	, ApplyUnitCost
	, Sum(TotalCost) as TotalCost
	, ItemClassification1
	, ItemClassification2
	, ItemClassification3
	, ItemClassification4
	, [Year]	, [Month]
 FROM #BD_OSD_HT

Group by CompanyName,BusinessRegistrationNum, ItemNum, ItemDrawNum, ItemName, ProcessCode, ProcessName, ApplyUnitCost, ItemClassification1,ItemClassification2,ItemClassification3,ItemClassification4, [Year], [Month]
ORDER BY  CompanyName
END
GO
