USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[SPRealReversalBOM]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE                        PROC [dbo].[SPRealReversalBOM] (
			@ItemNum AS VARCHAR(50)
			,@Bit as char(10))
AS
if(@Bit = '1')
begin
	Select  ChildItemNum, ParentItemNum, NeedQuantityNumerator, NeedQuantityDenominator
	From RIOI_MT
	Where ChildItemNum = @ItemNum and RecodingState = 1
	--Where ParentItemNum = '01050-50630' and RecodingState = 1
end
else
begin
	Select  ChildItemNum, I.ItemName as ChildItemName, ParentItemNum, II.ItemName as ParentItemName,  (NeedQuantityNumerator/NeedQuantityDenominator) as NeedQuantity
	From RIOI_MT inner join II_MT I on ChildItemNum = I.ItemNum
	inner join II_MT II on ParentItemNum = II.ItemNum
	Where ChildItemNum = @ItemNum and RIOI_MT.RecodingState = 1 and I.RecodingState =1 and II.RecodingState=1
end
GO
