USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[SPOrderToDelivery]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPOrderToDelivery] 

@ItemNum AS VARCHAR(150), 		--품목번호
@ItemDrawNum AS VARCHAR(150), 	--도면번호
@ItemName AS VARCHAR(150), 		--품목명
@hdItemNum AS VARCHAR(150), 		--품목명
@CompanyName AS VARCHAR(50), 	--거래처명
@BusinessRegistrationNum AS VARCHAR(30), 	--사업자번호
@Division as varchar(10),		--구분(구매,외주)
@FromDate AS smalldatetime, 		--발주일자(시작일)
@ToDate AS smalldatetime,		--발주일자(종료일)
@StartDate AS smalldatetime, 		--납기일자(시작일)
@EndDate AS smalldatetime		--납기일자(종료일)
AS
	begin
			Select VO.Model, VO.ItemNum, VO.ItemDrawNum, VO.ItemName, VO.EndProcessCode, VO.EndProcess, VO.CompanyName
					, VO.BusinessRegistrationNum, OrderDate, OrderQuantity, OrderUnitCost, OrderTotalCost, OrderPerson
					, VO.DeliveryRequestDate, VD.DeliveryDate, isnull(VD.DeliveryQuantity,0) as DeliveryQuantity
					, isnull(VD.DeliveryUnitCost,0) as DeliveryUnitCost, isnull(VD.DeliveryTotalCost,0) as DeliveryTotalCost
					, isnull(NowStockQuantity,0) as NowStockQuantity, isnull(OrderQuantity-DeliveryQuantity,0) as [QuantityDiffer]
					, isnull( OrderTotalCost - (DeliveryTotalCost) ,0  )as [CostDiffer], isnull(Division,'') as Division
					From ViewOrder as VO left outer join ViewDelivery as VD on VO.BuyingOrderHistoryIndex = HistoryIndex2
					where VO.ItemNum like '%'+@ItemNum+'%' and VO.ItemDrawNum like '%'+@ItemDrawNum+'%'
											and VO.ItemName like '%'+@ItemName+'%' and VO.BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
											and VO.CompanyName like '%'+@CompanyName+'%'
											and (OrderDate BETWEEN @FromDate and @ToDate) 
											and (DeliveryRequestDate BETWEEN @StartDate and @EndDate)
					Order by CompanyName, OrderDate desc,  DeliveryDate desc, DeliveryRequestDate desc, VO.ItemNum
		end
GO
