USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[StockItemBOM]    Script Date: 07/02/2026 08:48:43 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE   PROCEDURE  [dbo].[StockItemBOM] @ItemNum AS VARCHAR(50), @Quantity AS DECIMAL(20, 3), @Tree BIT AS
	delete TempTreeItem
/*
	declare @ItemNum Varchar(50)
	declare @Quantity decimal(20,2)
	declare @Tree bit
	Set @ItemNum ='T550A'	
	Set @Quantity = '1'
	Set @Tree = '1'
*/
	IF exists (Select 1 From tempdb..sysobjects where name like '#TempTree%')
		DROP TABLE #TempTree
	-- 특정제품을 생산하는데 필요한 부품과 수량을 임시로 기억할 Table
	CREATE TABLE #TempTree
	(
		ItemNum VARCHAR(50),
		ItemDrawNum VARCHAR(50),
		ItemName VARCHAR(50),
		Quantity FLOAT,
		Lvl TINYINT,
		Path VARCHAR(500),
	)  
	-- 품목을 구성하기 위해 임시로 만든 Table
	IF exists (Select 1 From tempdb..sysobjects where name like '#TempItem%')
		DROP TABLE #TempItem
	CREATE TABLE #TempItem
	(
		ItemNum	VARCHAR(50),
		ItemDrawNum VARCHAR(50),
		ItemName VARCHAR(50),
		NeedQuantityDenominator DECIMAL(20, 3),
		ParentItemNum VARCHAR(50),
	)
	-- 자품번호입력
	INSERT INTO #TempItem
	SELECT IOI_MT.ChildItemNum AS ItemNum, II_MT.ItemDrawNum AS ItemDrawNum, II_MT.ItemName AS ItemName, 
		IOI_MT.NeedQuantityNumerator / IOI_MT.NeedQuantityDenominator AS NeedQuantityDenominator,
		IOI_MT.ParentItemNum  AS ParentItemNum
	FROM II_MT JOIN IOI_MT ON II_MT.ItemNum = IOI_MT.ChildItemNum
	WHERE (II_MT.RecodingState = 1) AND (IOI_MT.RecodingState = 1)
	-- 모품번호입력
	INSERT INTO #TempItem 
	SELECT ItemNum, ItemDrawNum,  ItemName, 1 AS NeedQuantityDenominator, null AS ParentItemNum
	FROM II_MT WHERE II_MT.RecodingState = 1 AND ItemNum = @ItemNum
	DECLARE @Lvl TINYINT, @Path VARCHAR(500)
	
	SET @Lvl = 1
	-- 모품ItemNum + 자기ItemNum
	SET @Path = ''
	INSERT INTO #TempTree
	SELECT TOP 1 ItemNum, ItemDrawNum,  ItemName, @Quantity, @Lvl, @Path + CAST(ItemNum as varchar(50))
	FROM #TempItem WHERE ItemNum = @ItemNum
	WHILE ( @@ROWCOUNT > 0 )
	BEGIN
		SET @Lvl = @Lvl + 1
		INSERT INTO #TempTree
		SELECT TempItem.ItemNum, TempItem.ItemDrawNum, TempItem.ItemName,
			TempItem.NeedQuantityDenominator * TempTree.Quantity,
			@Lvl, (TempTree.Path + CAST(TempItem.ItemNum as varchar(50)) ) 
		FROM #TempItem AS TempItem JOIN #TempTree AS TempTree
		ON TempItem.ParentItemNum = TempTree.ItemNum AND TempTree.Lvl = @Lvl - 1
		
	END
	
	Insert Into TempTreeItem
	SELECT #TempTree.ItemNum, ItemDrawNum, ItemName, isnull(TBTempPSI.ProcessSequenceNum,0) as ProcessSequenceNum , isnull(TBTempPSI.ProcessCode,'14000000') as ProcessCode, Quantity,Lvl,Path
	FROM #TempTree left outer join TBTempPSI
	on #TempTree.ItemNum = TBTempPSI.ItemNum
	ORDER BY Path ASC , ProcessSequenceNum desc
	--select * From TempTreeItem
	
	select T.ItemNum, T.ItemDrawNum, T.ItemName, isnull(T.ProcessSequenceNum,0) as ProcessSequenceNum , T.ProcessCode, C.SmallClassificationName as ProcessName, Path,
		Sum(isnull(R.StockQuantity12 ,0)) as RMSQuantity,
		Sum(isnull(P.StockQuantity12 ,0)) as PSQuantity,
		Sum(isnull(B.StockQuantity12 ,0)) as BSQuantity,
		Sum(isnull(D.StockQuantity12 ,0)) as DSQuantity
		From TempTreeItem T inner join PUC_MT C on T.ProcessCode = C.SmallClassificationCode
		left outer join RMS_MT R on T.ItemNum = R.ItemNum
		left outer join PS_MT P on  T.ItemNum = P.ItemNum
		left outer join BS_MT B on   T.ItemNum = B.ItemNum
		left outer join DS_MT D on T.ItemNum = D.ItemNum
		Where T.ProcessSequenceNum = R.ProcessSequenceNum or T.ProcessSequenceNum	 = P.ProcessSequenceNum
			or T.ProcessSequenceNum = B.ProcessSequenceNum or T.ProcessSequenceNum = D.ProcessSequenceNum
		Group by T.ItemNum, T.ItemDrawNum, T.ItemName, T.ProcessSequenceNum, T.ProcessCode, C.SmallClassificationName, Path
		order by Path, ProcessSequenceNum desc
GO
