USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[PageLoad_GetDataSource]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE                    proc [dbo].[PageLoad_GetDataSource] ( 
							  @Wcname bit  =0
							, @ItemNum bit = 0				-- 전체품목
							, @ItemNum_Materials bit = 0			-- 원자재
							, @ItemNum_MiddleItem bit = 0			-- 반제품
							, @ItemNum_Products bit = 0			-- 제품
							, @ItemNum_Commerce bit = 0			-- 상품
							, @CompanyName  bit  = 0				-- 거래처명
							, @ReceiveingOrderCompanyName bit = 0		-- 수주거래처 명
							, @BuyOrderCompanyName bit = 0			-- 구매거래처 명( 외주거래처 와 합처서 결과낸다.)
							, @BuyOrderCompanyName2 bit = 0			-- 순수 구매 거래처
							, @ProcessName bit = 0				-- 공정명
							, @IncongruityCause bit = 0			-- 부적합원인
							, @IncongruityPhenomenon bit = 0 			-- 부적합 현상
							, @IncongruityDecision bit = 0 			-- 검사판정
							, @UserName bit = 0				-- 사용자 이름
							, @ItemClassification1 varchar(30) =''		-- 품목분류 1
							, @ItemClassification2 varchar(30) =''		-- 품목분류 2
							, @ItemClassification3 varchar(30) =''
							, @ItemClassification4 varchar(30) =''
							, @TradeClassification1 varchar(30) =''
				             )
as
begin
	
	-- 작업장 명
	if ( @Wcname = 1 )
	begin
			select 
				  WCI_MT.WCInfoIndex 
				,  WCI_MT.WCName [작업장 명]
				, puc_mt.SmallClassificationName [대표 공정] 
				, case State when 1 then '가동중' else '비가동중' end as [가동 여부]
			from WCI_MT
			join Puc_mt
			on puc_mt.SmallClassificationCode = WCI_MT.MainProcessCode 
			and WCI_MT.RecodingState = 1
			order by [작업장 명] asc
	end
	
	-- 품목 번호(전체)
	if ( @ItemNum = 1 )
	begin
		select 
			  ItemName [품목 명] 
			, Itemnum [품목 번호]
			, ItemDrawNum [도면 번호] 
		from ii_mt 
		where RecodingState = 1
		order by [품목 명] asc
	end
	
	-- 공정명
	if ( @ProcessName =1 )
	begin
		select SmallClassificationName [공정 명] , SmallClassificationCode
		from puc_mt
		where LargeClassificationName = '공정명' and SmallClassificationCode != '14000000' and SmallClassificationCode != '14009999'
		and RecodingState = 1
		order by [공정 명] asc
	end
	-- 거래처명
	if ( @CompanyName = 1 )
	begin
		select 
			  CompanyName [거래처 명]
			, PresidentName [대표자 명]
			, BusinessRegistrationNum 사업자등록번호 
		from CI_MT
		where RecodingState = 1
		order by [거래처 명] asc
	end
	if ( @ReceiveingOrderCompanyName = 1 )
	begin
		select 
			  CompanyName [거래처 명]
			, PresidentName [대표자 명]
			, BusinessRegistrationNum 사업자등록번호 
		from CI_MT
		where RecodingState = 1 and  ReceiveingOrderCompany = 1 
		order by [거래처 명] asc
	end
	-- 구매거래처, 외주거래처
	if ( @BuyOrderCompanyName  = 1)
	begin
		select 
			  CompanyName [거래처 명]
			, PresidentName [대표자 명]
			, BusinessRegistrationNum 사업자등록번호 
		from CI_MT
		where ( RecodingState = 1 ) and ( BuyingCompany = 1 or OutSideOrderCompany = 1 )
		order by [거래처 명] asc
	end
	
	-- 순수 구매 거래처
	if ( @BuyOrderCompanyName2  = 1)
	begin
		select 
			  CompanyName [거래처 명]
			, PresidentName [대표자 명]
			, BusinessRegistrationNum 사업자등록번호 
		from CI_MT
		where ( RecodingState = 1 ) and ( BuyingCompany = 1 )
		order by [거래처 명] asc
	end
	 -- 부적합 원인	
	if ( @IncongruityCause = 1 )
	begin
		select 
			  SmallClassificationCode
			, SmallClassificationName 
		from PUC_MT 
		where LargeClassificationName='부적합원인'		
		and RecodingState = 1
		order by SmallClassificationName asc
	end
	-- 부적합 현상
	if ( @IncongruityPhenomenon = 1 )
	begin
		select 
			  SmallClassificationCode
			, SmallClassificationName 
		from PUC_MT 
		where LargeClassificationName = '부적합현상'
		and RecodingState = 1
		order by SmallClassificationName asc
	end
	-- 검사 판정
	if ( @IncongruityDecision = 1)
	begin
		select 
			  SmallClassificationCode
			, SmallClassificationName 
		from PUC_MT 
		where LargeClassificationName = '검사판정'
		and RecodingState = 1
		order by SmallClassificationName asc
	end
	
	-- 사용자 아이디(이름)
	if ( @UserName = 1 )
	begin
		select ID, Name from UI_MT		where RecodingState = 1
		order by Name asc
	end
	
	if ( @ItemClassification1 <> '' )	-- 품목분류1
	begin
		select SmallClassificationCode, SmallClassificationName from puc_mt
		where LargeClassificationName = '품목분류1' and SmallClassificationName != ''
		and RecodingState = 1
		order by SmallClassificationName asc
	end
	if ( @ItemClassification2 <> '' )	-- 품목분류2
	begin
		select SmallClassificationCode, SmallClassificationName from puc_mt
		where LargeClassificationName = '품목분류2' and SmallClassificationName != ''
		and RecodingState = 1
		order by SmallClassificationName asc
	end
	if ( @ItemClassification3 <> '' )	-- 품목분류3
	begin
		select SmallClassificationCode, SmallClassificationName from puc_mt
		where LargeClassificationName = '품목분류3' and SmallClassificationName != ''
		and RecodingState = 1
		order by SmallClassificationName asc
	end
	if ( @ItemClassification4 <> '' )	-- 품목분류4
	begin
		select SmallClassificationCode, SmallClassificationName from puc_mt
		where LargeClassificationName = '품목분류4' and SmallClassificationName != ''
		and RecodingState = 1
		order by SmallClassificationName asc
	end
	if ( @TradeClassification1 <> '' )	-- 거래처분류1
	begin
		select SmallClassificationCode, SmallClassificationName from puc_mt
		where LargeClassificationName = '거래처분류1' and SmallClassificationName != ''
		and RecodingState = 1
		order by SmallClassificationName asc
	end
	if ( @ItemNum_Materials = 1 )
	begin
		select 
			  ItemName [품목 명] 
			, Itemnum [품목 번호]
			, ItemDrawNum [도면 번호] 
		from ii_mt 
		where RecodingState = 1 and PropertyClassification = '원자재'
		order by [품목 명] asc
	end
	if ( @ItemNum_MiddleItem = 1 )
	begin
		select 
			  ItemName [품목 명] 
			, Itemnum [품목 번호]
			, ItemDrawNum [도면 번호] 
		from ii_mt 
		where RecodingState = 1 and PropertyClassification = '반제품'
		order by [품목 명] asc
	end
	if ( @ItemNum_Products = 1 )
	begin
		select 
			  ItemName [품목 명] 
			, Itemnum [품목 번호]
			, ItemDrawNum [도면 번호] 
		from ii_mt 
		where RecodingState = 1 and PropertyClassification = '제품'
		order by [품목 명] asc
	end
	if ( @ItemNum_Commerce = 1 )
	begin
		select 
			  ItemName [품목 명] 
			, Itemnum [품목 번호]
			, ItemDrawNum [도면 번호] 
		from ii_mt 
		where RecodingState = 1 and PropertyClassification = '상품'
		order by [품목 명] asc
	end
end
GO
