USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[StockMoneyIndex_Load]    Script Date: 07/02/2026 08:48:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  proc [dbo].[StockMoneyIndex_Load]
as
begin
		
		select 
		ii_mt.PropertyClassification as [구분]
		, Sum( LastYearTransferCost ) as [전년도 금액]
		, case when 1 <= datepart(mm, getdate())  then Sum(StockCost1) else null end as [1월]
		, case when 2 <= datepart(mm, getdate())  then Sum(StockCost2) else null end as [2월]
		, case when 3 <= datepart(mm, getdate())  then Sum(StockCost3) else null end as [3월]
		, case when 4 <= datepart(mm, getdate())  then Sum(StockCost4) else null end as [4월]
		, case when 5 <= datepart(mm, getdate())  then Sum(StockCost5) else null end as [5월]
		, case when 6 <= datepart(mm, getdate())  then Sum(StockCost6) else null end as [6월]
		, case when 7 <= datepart(mm, getdate())  then Sum(StockCost7) else null end as [7월]
		, case when 8 <= datepart(mm, getdate())  then Sum(StockCost8) else null end as [8월]
		, case when 9 <= datepart(mm, getdate())  then Sum(StockCost9) else null end as [9월]
		, case when 10 <= datepart(mm, getdate())  then Sum(StockCost10) else null end as [10월]
		, case when 11 <= datepart(mm, getdate())  then Sum(StockCost11) else null end as [11월]
		, case when 12 <= datepart(mm, getdate())  then Sum(StockCost12) else null end as [12월]
		
		From 
		(
			select
			ItemNum
			, ProcessSequenceNum
			, ProcessCode
			, LastYearTransferCost
			, StockCost1
			, StockCost2
			, StockCost3
			, StockCost4
			, StockCost5
			, StockCost6
			, StockCost7
			, StockCost8
			, StockCost9
			, StockCost10
			, StockCost11
			, StockCost12
		
			from ps_mt 
			where RecodingState = 1
		
			union all 
		
			select
			ItemNum
			, ProcessSequenceNum
			, ProcessCode
			, LastYearTransferCost
			, StockCost1
			, StockCost2
			, StockCost3
			, StockCost4
			, StockCost5
			, StockCost6
			, StockCost7
			, StockCost8
			, StockCost9
			, StockCost10
			, StockCost11
			, StockCost12
			from bs_mt
			where RecodingState = 1
		
			union all 
		
			select
			ItemNum
			, ProcessSequenceNum
			, ProcessCode
			, LastYearTransferCost
			, StockCost1
			, StockCost2
			, StockCost3
			, StockCost4
			, StockCost5
			, StockCost6
			, StockCost7
			, StockCost8
			, StockCost9
			, StockCost10
			, StockCost11
			, StockCost12
			from ds_mt
			where RecodingState = 1
		
			union all 
		
			select
			ItemNum
			, ProcessSequenceNum
			, ProcessCode
			, LastYearTransferCost
			, StockCost1
			, StockCost2
			, StockCost3
			, StockCost4
			, StockCost5
			, StockCost6
			, StockCost7
			, StockCost8
			, StockCost9
			, StockCost10
			, StockCost11
			, StockCost12
			from rms_mt
			where RecodingState = 1
		)	
		as WareHouse
		inner join ii_mt
		on ii_mt.itemnum = WareHouse.itemnum  
		where (ii_mt.RecodingState = 1) and 
		( ii_mt.PropertyClassification = '제품' or ii_mt.PropertyClassification = '반제품' or ii_mt.PropertyClassification = '상품' or ii_mt.PropertyClassification = '원자재' )
		Group by ii_mt.PropertyClassification
end
GO
