USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[EtcBuyingOrder_Update]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE        proc [dbo].[EtcBuyingOrder_Update]
(
	@itemNum varchar(50)
	, @ApplyUnitCost decimal(20, 3)
	, @OrderQuantity decimal(20, 3)
	, @TotalCost decimal(20, 3)
	, @CompanyName varchar(50)
	, @BusinessRegNum varchar(20)
	, @ReasonCode varchar(20)
	, @ReasonName varchar(20)
	, @DeliveryDemandDate smalldatetime
	, @IndexNum int
)
as
begin
	update EtcBO_HT set ItemName = @itemNum, CompanyName = @CompanyName, BusinessRegistrationNum = @BusinessRegNum
	, OrderQuantity = @OrderQuantity, ApplyUnitCost = @ApplyUnitCost, TotalCost = @TotalCost, DeliveryDemandDate = @DeliveryDemandDate
	, RemainQuantity = @OrderQuantity, ReasonCode = @ReasonCode, ReasonName = @ReasonName,  UpdatingDate = getdate()
	where EtcBuyingOrderHistoryIndex = @IndexNum
	select top 1
	ItemName
	, CompanyName
	, BusinessRegistrationNum
	, ApplyUnitCost
	, OrderQuantity
	, TotalCost
	, DeliveryDemandDate 
	, ReasonName
	, ReasonCode	
	, EtcBuyingOrderHistoryIndex
	from EtcBO_HT 
	where EtcBuyingOrderHistoryIndex = @IndexNum
end
GO
