USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[SPThisOutStockQuantity]    Script Date: 07/02/2026 08:48:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE    PROCEDURE [dbo].[SPThisOutStockQuantity]  
@ItemNum as varchar(100),
@Year as int,
@Month as int

 AS
	--정상금월 출고 :  외주출고(원자재), 제품출고(상품), 작업일보 출고
	Select sum(ThisOutStockQuantity) as ThisOutStockQuantity   
	From
	(
		Select isnull(Sum(DeliveryQuantity), 0)  as ThisOutStockQuantity From OSD_HT where ItemNum  = @ItemNum  and datepart(yy,DeliveryDate) =@Year and datepart(mm,DeliveryDate) = @Month
		union all
		Select isnull(Sum(OutStorehouseQuantity) , 0)  as ThisOutStockQuantity From OS_HT where ItemNum  = @ItemNum and datepart(yy,OutStoreDate) =@Year and datepart(mm,OutStoreDate) = @Month
		union all
		Select isnull(Sum(Quantity) ,0) as ThisOutStockQuantity From SH_HT where ItemNum  = @ItemNum and datepart(yy,[Date]) =@Year and datepart(mm,[Date]) = @Month and Division = '0' and StoreName <> '외주창고' and (HistoryDivision = '작업일보')
	)T
GO
