USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[BuyingAddWebComboCompany]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE         proc [dbo].[BuyingAddWebComboCompany]
(
	@ItemNum varchar(50)
)
as
	select  CI_MT.CompanyName as [거래처명],UCI_MT.BusinessRegistrationNum as [사업자등록번호],CI_MT.PresidentName as [대표자명]
	from CI_MT inner join UCI_MT
	on UCI_MT.BusinessRegistrationNum = CI_MT.BusinessRegistrationNum
	where CI_MT.RecodingState=1 and UCI_MT.ItemNum = @ItemNum and  CI_MT.BuyingCompany = 1  and UnitCostDistinction = '구매단가'
	order by CI_MT.CompanyName
GO
