USE [Sindong_ERP]
GO
/****** Object:  StoredProcedure [dbo].[SPCustomerPurchaseResult]    Script Date: 07/02/2026 08:48:42 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE                        PROCEDURE [dbo].[SPCustomerPurchaseResult]
@ItemNum AS VARCHAR(50), 
@ItemDrawNum AS VARCHAR(50), 
@ItemName AS VARCHAR(50), 
@CompanyName AS VARCHAR(50), 
@BusinessRegistrationNum AS VARCHAR(30), 
@StartDate AS smalldatetime, 
@EndDate AS smalldatetime,
@Division as varchar(10),
@Year as varchar(10),
@Month as varchar(10)
 AS
/*
Declare @ItemNum AS VARCHAR(50)
Declare @ItemDrawNum AS VARCHAR(50)
Declare @ItemName AS VARCHAR(50)
Declare @CompanyName AS VARCHAR(50)
Declare @BusinessRegistrationNum AS VARCHAR(30)
Declare @StartDate AS smalldatetime
Declare @EndDate AS smalldatetime
Declare @Division AS varchar(10)
Declare @Year as varchar(10)
Declare @Month as varchar(10)
set @ItemNum =''
set @ItemDrawNum =''
set @ItemName =''
set @CompanyName  =''
set @BusinessRegistrationNum  =''
set @StartDate =''
set @EndDate  =''
Set @Division = '전체'
Set @Year ='선택'
Set @Month = '선택'

*/
	if(@StartDate = '')
		Set @StartDate = '1999-01-01'
	if(@EndDate = '')
		Set @EndDate = '2050-12-31'

	if(@Year = '선택')
		Set @Year = ''
	if(@Month = '선택')
		Set @Month = ''

IF exists (Select 1 From tempdb..sysobjects where name like '#BD_OSD_HT%')
		DROP TABLE #BD_OSD_HT
	CREATE TABLE #BD_OSD_HT
	(
		[ItemNum] [nvarchar] (50) COLLATE Korean_Wansung_CI_AS NULL ,
		[ItemDrawNum] [nvarchar] (50) COLLATE Korean_Wansung_CI_AS NULL ,
		[ItemName] [nvarchar] (50) COLLATE Korean_Wansung_CI_AS NULL ,
		[ProcessCode] [nvarchar] (50) COLLATE Korean_Wansung_CI_AS NULL ,
		[ProcessName] [nvarchar] (50) COLLATE Korean_Wansung_CI_AS NULL ,
		[CompanyName] [nvarchar] (50) COLLATE Korean_Wansung_CI_AS NULL ,
		[BusinessRegistrationNum] [nvarchar] (50) COLLATE Korean_Wansung_CI_AS NULL ,
		[DeliveryDate] [smalldatetime] NULL ,
		[DeliveryQuantity] [decimal](20, 2) NULL ,
		[NowStockQuantity] [decimal](20, 2) NULL ,
		[ApplyUnitCost] [decimal](20, 2) NULL ,
		[TotalCost] [decimal](20, 2) NULL,
		[Division] [nvarchar] (50) COLLATE Korean_Wansung_CI_AS NULL ,
		[Year] [int] NULL,
		[Month] [int] NULL 
	)  


	if(@Division = '전체')
	begin
		if(@Year ='')
		begin
			if(@Month ='')
			begin
				insert into #BD_OSD_HT
					Select ItemNum, ItemDrawNum, ItemName, EndProcessCode, EndProcess, CompanyName, BusinessRegistrationNum,DeliveryDate,  DeliveryQuantity , NowStockQuantity,  ApplyUnitCost,  TotalCost, Division,  [Year], [Month]
					From 
					(
						Select QI_HT.ItemNum, QI_HT.ItemDrawNum, QI_HT.ItemName, 
							(Select  
								case PropertyClassification
									when '원자재' then '14000000'
									when '상품' then '14009999'
									else EndProcessName end as EndProcess
								From II_MT where II_MT.RecodingState = 1 and II_MT.ItemNum = QI_HT.ItemNum
							) as EndProcessCode,
							(Select  
							case PropertyClassification
								when '원자재' then '소재'
								when '상품' then '최종품'
								else PUC.SmallClassificationName end as EndProcess
							From II_MT where II_MT.RecodingState = 1 and II_MT.ItemNum = QI_HT.ItemNum
							) as EndProcess,
							CompanyName, BusinessRegistrationNum, QualityInspectionCompleteDate as DeliveryDate, SuitabilityQuantity as DeliveryQuantity , NowStockQuantity,   ApplyUnitCost,  SuitabilityQuantity * ApplyUnitCost as TotalCost, '' as Division,  [Year], [Month]  From QI_HT
							Inner join  II_MT on QI_HT.ItemNum = II_MT.ItemNum
							 inner join PUC_MT PUC on EndProcessName = PUC.SmallClassificationCode
							where Recognition = '승인' and II_MT.RecodingState = 1 and II_MT.ItemNum = QI_HT.ItemNum
							and ProgressCondition != '대기'
							
							union all
			
							Select EtcBD_HT.ItemName as ItemNum, EtcBD_HT.ItemName as ItemDrawNum, EtcBD_HT.ItemName as ItemName, null,null,  CompanyName, BusinessRegistrationNum, DeliveryDemandDate, 
								DeliveryQuantity,'0', ApplyUnitCost, TotalCost, ReasonName as Division,  [Year], [Month]
							From EtcBD_HT where Recognition = '승인' 

							union all
							
							Select SBD_HT.ItemNum as ItemNum, SBD_HT.ItemDrawNum as ItemDrawNum, SBD_HT.ItemName as ItemName, null,null,  CompanyName, BusinessRegistrationNum, DeliveryDate, 
								DeliveryQuantity,'0', ApplyUnitCost, TotalCost, '' as Division,  [Year], [Month]
							From SBD_HT where Recognition = '승인' 

							union all
							Select PCL_HT.ItemName as ItemNum, PCL_HT.ItemName as ItemDrawNum, PCL_HT.ItemName as ItemName, null,null,  CompanyName, BusinessRegistrationNum, ReceiptDate, 
								ClaimQuantity, '0','0', -ClaimCost,'' as Division, datepart(yy, ReceiptDate) as [Year], datepart(mm, ReceiptDate) as [Month]
							From PCL_HT
							union all
							Select EtcClaimRegion as ItemNum, EtcClaimRegion as ItemDrawNum, EtcClaimRegion as ItemName, null,null,  CompanyName, BusinessRegistrationNum, ReceiptDate, 
								'0', '0', '0', -ClaimCost,'' as Division,  datepart(yy, ReceiptDate) as [Year], datepart(mm, ReceiptDate) as [Month]
							From ECL_HT where Recognition = '승인' 
		
						)T
						where ItemNum like '%'+@ItemNum+'%' and ItemDrawNum like '%'+@ItemDrawNum+'%'
						and ItemName like '%'+@ItemName+'%' and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
						and CompanyName like '%'+@CompanyName+'%'
						and (DeliveryDate BETWEEN @StartDate and @EndDate) 
						and [Year]  like '%'+@Year+'%'
						and [Month] like '%'+@Month+'%'
						order by CompanyName, DeliveryDate, ItemName
			end
			else	--월만 선택시
			begin
				insert into #BD_OSD_HT
					Select ItemNum, ItemDrawNum, ItemName, EndProcessCode, EndProcess, CompanyName, BusinessRegistrationNum,DeliveryDate,  DeliveryQuantity , NowStockQuantity,  ApplyUnitCost,  TotalCost,  Division, [Year], [Month]
					From 
					(
						Select QI_HT.ItemNum, QI_HT.ItemDrawNum, QI_HT.ItemName, 
							(Select  
								case PropertyClassification
									when '원자재' then '14000000'
									when '상품' then '14009999'
									else EndProcessName end as EndProcess
								From II_MT where II_MT.RecodingState = 1 and II_MT.ItemNum = QI_HT.ItemNum
							) as EndProcessCode,
							(Select  
							case PropertyClassification
								when '원자재' then '소재'
								when '상품' then '최종품'
								else PUC.SmallClassificationName end as EndProcess
							From II_MT where II_MT.RecodingState = 1 and II_MT.ItemNum = QI_HT.ItemNum
							) as EndProcess,
							CompanyName, BusinessRegistrationNum, QualityInspectionCompleteDate as DeliveryDate, SuitabilityQuantity as DeliveryQuantity , NowStockQuantity,    ApplyUnitCost,  SuitabilityQuantity * ApplyUnitCost as TotalCost, '' as Division,  [Year], [Month]  From QI_HT
							Inner join  II_MT on QI_HT.ItemNum = II_MT.ItemNum
							 inner join PUC_MT PUC on EndProcessName = PUC.SmallClassificationCode
							where Recognition = '승인'  and  II_MT.RecodingState = 1 and II_MT.ItemNum = QI_HT.ItemNum
							and ProgressCondition != '대기'
							
							union all
			
							Select EtcBD_HT.ItemName as ItemNum, EtcBD_HT.ItemName as ItemDrawNum, EtcBD_HT.ItemName as ItemName, null,null,  CompanyName, BusinessRegistrationNum, DeliveryDemandDate, 
								DeliveryQuantity,'0', ApplyUnitCost, TotalCost, ReasonName as Division,  [Year], [Month]
							From EtcBD_HT where Recognition = '승인' 

							union all
							
							Select SBD_HT.ItemNum as ItemNum, SBD_HT.ItemDrawNum as ItemDrawNum, SBD_HT.ItemName as ItemName, null,null,  CompanyName, BusinessRegistrationNum, DeliveryDate, 
								DeliveryQuantity,'0', ApplyUnitCost, TotalCost,  '' as Division,  [Year], [Month]
							 From SBD_HT where Recognition = '승인' 

							union all
							Select PCL_HT.ItemName as ItemNum, PCL_HT.ItemName as ItemDrawNum, PCL_HT.ItemName as ItemName, null,null,  CompanyName, BusinessRegistrationNum, ReceiptDate, 
								ClaimQuantity,'0', '0', -ClaimCost, '' as Division,  datepart(yy, ReceiptDate) as [Year], datepart(mm, ReceiptDate) as [Month]
							From PCL_HT
							union all
							Select EtcClaimRegion as ItemNum, EtcClaimRegion as ItemDrawNum, EtcClaimRegion as ItemName, null,null,  CompanyName, BusinessRegistrationNum, ReceiptDate, 
								'0','0', '0', -ClaimCost, '' as Division,  datepart(yy, ReceiptDate) as [Year], datepart(mm, ReceiptDate) as [Month]
							From ECL_HT where Recognition = '승인' 
		
						)T
						where ItemNum like '%'+@ItemNum+'%' and ItemDrawNum like '%'+@ItemDrawNum+'%'
						and ItemName like '%'+@ItemName+'%' and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
						and CompanyName like '%'+@CompanyName+'%'
						and (DeliveryDate BETWEEN @StartDate and @EndDate) 
						and [Year]  like '%'+@Year+'%'
						and [Month] = @Month
						order by CompanyName, DeliveryDate, ItemName	
			end
		end
		else
		begin
			if(@Month ='') --년도만 선택시
			begin
				insert into #BD_OSD_HT
					Select ItemNum, ItemDrawNum, ItemName, EndProcessCode, EndProcess, CompanyName, BusinessRegistrationNum,DeliveryDate,  DeliveryQuantity , NowStockQuantity,   ApplyUnitCost,  TotalCost, Division, [Year], [Month]
					From 
					(
						Select QI_HT.ItemNum, QI_HT.ItemDrawNum, QI_HT.ItemName, 
							(Select  
								case PropertyClassification
									when '원자재' then '14000000'
									when '상품' then '14009999'
									else EndProcessName end as EndProcess
								From II_MT where II_MT.RecodingState = 1 and II_MT.ItemNum = QI_HT.ItemNum
							) as EndProcessCode,
							(Select  
							case PropertyClassification
								when '원자재' then '소재'
								when '상품' then '최종품'
								else PUC.SmallClassificationName end as EndProcess
							From II_MT where II_MT.RecodingState = 1 and II_MT.ItemNum = QI_HT.ItemNum
							) as EndProcess,
							CompanyName, BusinessRegistrationNum, QualityInspectionCompleteDate as DeliveryDate, SuitabilityQuantity as DeliveryQuantity , NowStockQuantity,   ApplyUnitCost,  SuitabilityQuantity * ApplyUnitCost as TotalCost, '' as Division,  [Year], [Month]  From QI_HT
							Inner join  II_MT on QI_HT.ItemNum = II_MT.ItemNum
							 inner join PUC_MT PUC on EndProcessName = PUC.SmallClassificationCode
							where Recognition = '승인'  and II_MT.RecodingState = 1 and II_MT.ItemNum = QI_HT.ItemNum
							and ProgressCondition != '대기'
							
							union all
			
							Select EtcBD_HT.ItemName as ItemNum, EtcBD_HT.ItemName as ItemDrawNum, EtcBD_HT.ItemName as ItemName, null,null,  CompanyName, BusinessRegistrationNum, DeliveryDemandDate, 
								DeliveryQuantity,'0', ApplyUnitCost, TotalCost,  ReasonName as Division,  [Year], [Month]
							From EtcBD_HT where Recognition = '승인' 

							union all
							
							Select SBD_HT.ItemNum as ItemNum, SBD_HT.ItemDrawNum as ItemDrawNum, SBD_HT.ItemName as ItemName, null,null,  CompanyName, BusinessRegistrationNum, DeliveryDate, 
								DeliveryQuantity,'0', ApplyUnitCost, TotalCost,  '' as Division,  [Year], [Month]
							 From SBD_HT where Recognition = '승인' 

							union all
							Select PCL_HT.ItemName as ItemNum, PCL_HT.ItemName as ItemDrawNum, PCL_HT.ItemName as ItemName, null,null,  CompanyName, BusinessRegistrationNum, ReceiptDate, 
								ClaimQuantity, '0','0', -ClaimCost, '' as Division,  datepart(yy, ReceiptDate) as [Year], datepart(mm, ReceiptDate) as [Month]
							From PCL_HT
							union all
							Select EtcClaimRegion as ItemNum, EtcClaimRegion as ItemDrawNum, EtcClaimRegion as ItemName, null,null,  CompanyName, BusinessRegistrationNum, ReceiptDate, 
								'0', '0','0', -ClaimCost, '' as Division, datepart(yy, ReceiptDate) as [Year], datepart(mm, ReceiptDate) as [Month]
							From ECL_HT where Recognition = '승인'  
						)T
						where ItemNum like '%'+@ItemNum+'%' and ItemDrawNum like '%'+@ItemDrawNum+'%'
						and ItemName like '%'+@ItemName+'%' and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
						and CompanyName like '%'+@CompanyName+'%'
						and (DeliveryDate BETWEEN @StartDate and @EndDate) 
						and [Year]  = @Year
						and [Month] like '%'+@Month+'%'
						order by CompanyName, DeliveryDate, ItemName
			end
			else	-- 년도, 월 모두 선택시
			begin
				insert into #BD_OSD_HT
					Select ItemNum, ItemDrawNum, ItemName, EndProcessCode, EndProcess, CompanyName, BusinessRegistrationNum,DeliveryDate,  DeliveryQuantity ,NowStockQuantity,   ApplyUnitCost,  TotalCost,  Division,    [Year], [Month]
					From 
					(
						Select QI_HT.ItemNum, QI_HT.ItemDrawNum, QI_HT.ItemName, 
							(Select  
								case PropertyClassification
									when '원자재' then '14000000'
									when '상품' then '14009999'
									else EndProcessName end as EndProcess
								From II_MT where II_MT.RecodingState = 1 and II_MT.ItemNum = QI_HT.ItemNum
							) as EndProcessCode,
							(Select  
							case PropertyClassification
								when '원자재' then '소재'
								when '상품' then '최종품'
								else PUC.SmallClassificationName end as EndProcess
							From II_MT where II_MT.RecodingState = 1 and II_MT.ItemNum = QI_HT.ItemNum
							) as EndProcess,
							CompanyName, BusinessRegistrationNum, QualityInspectionCompleteDate as DeliveryDate, SuitabilityQuantity as DeliveryQuantity ,  NowStockQuantity,  ApplyUnitCost,  SuitabilityQuantity * ApplyUnitCost as TotalCost, '' as Division, [Year], [Month]  From QI_HT
							Inner join  II_MT on QI_HT.ItemNum = II_MT.ItemNum
							 inner join PUC_MT PUC on EndProcessName = PUC.SmallClassificationCode
							where Recognition = '승인'  and  II_MT.RecodingState = 1 and II_MT.ItemNum = QI_HT.ItemNum
							and ProgressCondition != '대기'
							
							union all
			
							Select EtcBD_HT.ItemName as ItemNum, EtcBD_HT.ItemName as ItemDrawNum, EtcBD_HT.ItemName as ItemName, null,null,  CompanyName, BusinessRegistrationNum, DeliveryDemandDate, 
								DeliveryQuantity,'0', ApplyUnitCost, TotalCost, ReasonName as Division,   [Year], [Month]
							 From EtcBD_HT where Recognition = '승인'  

							union all
							
							Select SBD_HT.ItemNum as ItemNum, SBD_HT.ItemDrawNum as ItemDrawNum, SBD_HT.ItemName as ItemName, null,null,  CompanyName, BusinessRegistrationNum, DeliveryDate, 
								DeliveryQuantity,'0', ApplyUnitCost, TotalCost,'' as Division,   [Year], [Month]
							From SBD_HT where Recognition = '승인'  

							union all
							Select PCL_HT.ItemName as ItemNum, PCL_HT.ItemName as ItemDrawNum, PCL_HT.ItemName as ItemName, null,null,  CompanyName, BusinessRegistrationNum, ReceiptDate, 
								ClaimQuantity, '0','0', -ClaimCost, '' as Division,  datepart(yy, ReceiptDate) as [Year], datepart(mm, ReceiptDate) as [Month]
							From PCL_HT
							union all
							Select EtcClaimRegion as ItemNum, EtcClaimRegion as ItemDrawNum, EtcClaimRegion as ItemName, null,null,  CompanyName, BusinessRegistrationNum, ReceiptDate, 
								'0', '0', '0',-ClaimCost, '' as Division,  datepart(yy, ReceiptDate) as [Year], datepart(mm, ReceiptDate) as [Month]
							 From ECL_HT where Recognition = '승인'  
		
						)T
						where ItemNum like '%'+@ItemNum+'%' and ItemDrawNum like '%'+@ItemDrawNum+'%'
						and ItemName like '%'+@ItemName+'%' and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
						and CompanyName like '%'+@CompanyName+'%'
						and (DeliveryDate BETWEEN @StartDate and @EndDate) 
						and [Year]  = @Year
						and [Month] = @Month
						order by CompanyName, DeliveryDate, ItemName
			end
		end

	
	end
	else if(@Division = '구매')
	begin
		if(@Year ='')
		begin
			if(@Month ='')
			begin
				insert into #BD_OSD_HT
						Select ItemNum, ItemDrawNum, ItemName, EndProcessCode, EndProcess, CompanyName, BusinessRegistrationNum,DeliveryDate,  DeliveryQuantity ,NowStockQuantity,   ApplyUnitCost,  TotalCost, Division, [Year],[Month]
						From 
						(
							Select QI_HT.ItemNum, QI_HT.ItemDrawNum, QI_HT.ItemName, 
							(Select  
								case PropertyClassification
									when '원자재' then '14000000'
									when '상품' then '14009999'
									else EndProcessName end as EndProcess
								From II_MT where II_MT.RecodingState = 1 and II_MT.ItemNum = QI_HT.ItemNum
							) as EndProcessCode,
							(Select  
							case PropertyClassification
								when '원자재' then '소재'
								when '상품' then '최종품'
								else PUC.SmallClassificationName end as EndProcess
							From II_MT where II_MT.RecodingState = 1 and II_MT.ItemNum = QI_HT.ItemNum
							) as EndProcess,
							CompanyName, BusinessRegistrationNum, QualityInspectionCompleteDate as DeliveryDate, SuitabilityQuantity as DeliveryQuantity , NowStockQuantity,   ApplyUnitCost,  (SuitabilityQuantity * ApplyUnitCost) as TotalCost, ''as Division,  [Year], [Month]  From QI_HT
							Inner join  II_MT on QI_HT.ItemNum = II_MT.ItemNum
							 inner join PUC_MT PUC on EndProcessName = PUC.SmallClassificationCode
							where Recognition = '승인'  and  II_MT.RecodingState = 1 and II_MT.ItemNum = QI_HT.ItemNum
							and ProgressCondition != '대기' and HistorySection2 ='구매발주'

							union all
							
							Select EtcBD_HT.ItemName as ItemNum, EtcBD_HT.ItemName as ItemDrawNum, EtcBD_HT.ItemName as ItemName, null,null,  CompanyName, BusinessRegistrationNum, DeliveryDemandDate, 
								DeliveryQuantity,'0', ApplyUnitCost, TotalCost, ReasonName as Division, [Year],[Month]
							From EtcBD_HT where Recognition = '승인'  
							union all
							Select PCL_HT.ItemName as ItemNum, PCL_HT.ItemName as ItemDrawNum, PCL_HT.ItemName as ItemName, null,null,  CompanyName, BusinessRegistrationNum, ReceiptDate, 
								ClaimQuantity,'0', '0', -ClaimCost, '' as Division,  datepart(yy, ReceiptDate) as [Year], datepart(mm, ReceiptDate) as [Month]
							From PCL_HT
							
						)T
						where ItemNum like '%'+@ItemNum+'%' and ItemDrawNum like '%'+@ItemDrawNum+'%'
						and ItemName like '%'+@ItemName+'%' and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
						and CompanyName like '%'+@CompanyName+'%'
						and (DeliveryDate BETWEEN @StartDate and @EndDate) 
						and [Year]  like '%'+@Year+'%'
						and [Month] like '%'+@Month+'%'
						order by CompanyName, DeliveryDate, ItemName
			end
			else	--월만 선택시
			begin
				insert into #BD_OSD_HT
						Select ItemNum, ItemDrawNum, ItemName, EndProcessCode, EndProcess, CompanyName, BusinessRegistrationNum,DeliveryDate,  DeliveryQuantity ,  NowStockQuantity,  ApplyUnitCost,  TotalCost, Division, [Year],[Month]
						From 
						(
							Select QI_HT.ItemNum, QI_HT.ItemDrawNum, QI_HT.ItemName, 
							(Select  
								case PropertyClassification
									when '원자재' then '14000000'
									when '상품' then '14009999'
									else EndProcessName end as EndProcess
								From II_MT where II_MT.RecodingState = 1 and II_MT.ItemNum = QI_HT.ItemNum
							) as EndProcessCode,
							(Select  
							case PropertyClassification
								when '원자재' then '소재'
								when '상품' then '최종품'
								else PUC.SmallClassificationName end as EndProcess
							From II_MT where II_MT.RecodingState = 1 and II_MT.ItemNum = QI_HT.ItemNum
							) as EndProcess,
							CompanyName, BusinessRegistrationNum, QualityInspectionCompleteDate as DeliveryDate, SuitabilityQuantity as DeliveryQuantity , NowStockQuantity,   ApplyUnitCost,  SuitabilityQuantity * ApplyUnitCost as TotalCost, '' as Division,  [Year], [Month]  From QI_HT
							Inner join  II_MT on QI_HT.ItemNum = II_MT.ItemNum
							 inner join PUC_MT PUC on EndProcessName = PUC.SmallClassificationCode
							where Recognition = '승인'  and  II_MT.RecodingState = 1 and II_MT.ItemNum = QI_HT.ItemNum
							and ProgressCondition != '대기' and HistorySection2 ='구매발주'

							union all
							
							Select EtcBD_HT.ItemName as ItemNum, EtcBD_HT.ItemName as ItemDrawNum, EtcBD_HT.ItemName as ItemName, null,null,  CompanyName, BusinessRegistrationNum, DeliveryDemandDate, 
								DeliveryQuantity,'0', ApplyUnitCost, TotalCost,ReasonName as Division,  [Year],[Month]
							From EtcBD_HT where Recognition = '승인'  
							union all
							Select PCL_HT.ItemName as ItemNum, PCL_HT.ItemName as ItemDrawNum, PCL_HT.ItemName as ItemName, null,null,  CompanyName, BusinessRegistrationNum, ReceiptDate, 
								ClaimQuantity, '0','0', -ClaimCost, '' as Division,  datepart(yy, ReceiptDate) as [Year], datepart(mm, ReceiptDate) as [Month]
							From PCL_HT
							
						)T
						where ItemNum like '%'+@ItemNum+'%' and ItemDrawNum like '%'+@ItemDrawNum+'%'
						and ItemName like '%'+@ItemName+'%' and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
						and CompanyName like '%'+@CompanyName+'%'
						and (DeliveryDate BETWEEN @StartDate and @EndDate) 
						and [Year]  like '%'+@Year+'%'
						and [Month] = @Month
						order by CompanyName, DeliveryDate, ItemName	
			end
		end
		else
		begin
			if(@Month ='') --년도만 선택시
			begin
				insert into #BD_OSD_HT
						Select ItemNum, ItemDrawNum, ItemName, EndProcessCode, EndProcess, CompanyName, BusinessRegistrationNum,DeliveryDate,  DeliveryQuantity , NowStockQuantity,  ApplyUnitCost,  TotalCost, Division, [Year],[Month]
						From 
						(
							Select QI_HT.ItemNum, QI_HT.ItemDrawNum, QI_HT.ItemName, 
							(Select  
								case PropertyClassification
									when '원자재' then '14000000'
									when '상품' then '14009999'
									else EndProcessName end as EndProcess
								From II_MT where II_MT.RecodingState = 1 and II_MT.ItemNum = QI_HT.ItemNum
							) as EndProcessCode,
							(Select  
							case PropertyClassification
								when '원자재' then '소재'
								when '상품' then '최종품'
								else PUC.SmallClassificationName end as EndProcess
							From II_MT where II_MT.RecodingState = 1 and II_MT.ItemNum = QI_HT.ItemNum
							) as EndProcess,
							CompanyName, BusinessRegistrationNum, QualityInspectionCompleteDate as DeliveryDate, SuitabilityQuantity as DeliveryQuantity ,  NowStockQuantity,  ApplyUnitCost,  SuitabilityQuantity * ApplyUnitCost as TotalCost, '' as Division, [Year], [Month]  From QI_HT
							Inner join  II_MT on QI_HT.ItemNum = II_MT.ItemNum
							 inner join PUC_MT PUC on EndProcessName = PUC.SmallClassificationCode
							where Recognition = '승인'  and  II_MT.RecodingState = 1 and II_MT.ItemNum = QI_HT.ItemNum
							and ProgressCondition != '대기' and HistorySection2 ='구매발주'

							union all
							
							Select EtcBD_HT.ItemName as ItemNum, EtcBD_HT.ItemName as ItemDrawNum, EtcBD_HT.ItemName as ItemName, null,null,  CompanyName, BusinessRegistrationNum, DeliveryDemandDate, 
								DeliveryQuantity,'0', ApplyUnitCost, TotalCost,ReasonName as Division,  [Year],[Month]
							From EtcBD_HT where Recognition = '승인'  
							union all
							Select PCL_HT.ItemName as ItemNum, PCL_HT.ItemName as ItemDrawNum, PCL_HT.ItemName as ItemName, null,null,  CompanyName, BusinessRegistrationNum, ReceiptDate, 
								ClaimQuantity, '0','0', -ClaimCost,'' as Division,  datepart(yy, ReceiptDate) as [Year], datepart(mm, ReceiptDate) as [Month]
							From PCL_HT
							
						)T
						where ItemNum like '%'+@ItemNum+'%' and ItemDrawNum like '%'+@ItemDrawNum+'%'
						and ItemName like '%'+@ItemName+'%' and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
						and CompanyName like '%'+@CompanyName+'%'
						and (DeliveryDate BETWEEN @StartDate and @EndDate) 
						and [Year]  =@Year
						and [Month] like '%'+@Month+'%'
						order by CompanyName, DeliveryDate, ItemName
			end
			else	-- 년도, 월 모두 선택시
			begin
				insert into #BD_OSD_HT
						Select ItemNum, ItemDrawNum, ItemName, EndProcessCode, EndProcess, CompanyName, BusinessRegistrationNum,DeliveryDate,  DeliveryQuantity , NowStockQuantity,  ApplyUnitCost,  TotalCost, Division, [Year],[Month]
						From 
						(
							Select QI_HT.ItemNum, QI_HT.ItemDrawNum, QI_HT.ItemName, 
							(Select  
								case PropertyClassification
									when '원자재' then '14000000'
									when '상품' then '14009999'
									else EndProcessName end as EndProcess
								From II_MT where II_MT.RecodingState = 1 and II_MT.ItemNum = QI_HT.ItemNum
							) as EndProcessCode,
							(Select  
							case PropertyClassification
								when '원자재' then '소재'
								when '상품' then '최종품'
								else PUC.SmallClassificationName end as EndProcess
							From II_MT where II_MT.RecodingState = 1 and II_MT.ItemNum = QI_HT.ItemNum
							) as EndProcess,
							CompanyName, BusinessRegistrationNum, QualityInspectionCompleteDate as DeliveryDate, SuitabilityQuantity as DeliveryQuantity , NowStockQuantity,   ApplyUnitCost,  SuitabilityQuantity * ApplyUnitCost as TotalCost, '' as Division,  [Year], [Month]  From QI_HT
							Inner join  II_MT on QI_HT.ItemNum = II_MT.ItemNum
							 inner join PUC_MT PUC on EndProcessName = PUC.SmallClassificationCode
							where Recognition = '승인'  and  II_MT.RecodingState = 1 and II_MT.ItemNum = QI_HT.ItemNum
							and ProgressCondition != '대기' and HistorySection2 ='구매발주'

							union all
							
							Select EtcBD_HT.ItemName as ItemNum, EtcBD_HT.ItemName as ItemDrawNum, EtcBD_HT.ItemName as ItemName, null,null,  CompanyName, BusinessRegistrationNum, DeliveryDemandDate, 
								DeliveryQuantity, '0',ApplyUnitCost, TotalCost, ReasonName as Division,  [Year],[Month]
							From EtcBD_HT where Recognition = '승인'  
							union all
							Select PCL_HT.ItemName as ItemNum, PCL_HT.ItemName as ItemDrawNum, PCL_HT.ItemName as ItemName, null,null,  CompanyName, BusinessRegistrationNum, ReceiptDate, 
								ClaimQuantity,'0', '0', -ClaimCost, '' as Division,  datepart(yy, ReceiptDate) as [Year], datepart(mm, ReceiptDate) as [Month]
							From PCL_HT
							
						)T
						where ItemNum like '%'+@ItemNum+'%' and ItemDrawNum like '%'+@ItemDrawNum+'%'
						and ItemName like '%'+@ItemName+'%' and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
						and CompanyName like '%'+@CompanyName+'%'
						and (DeliveryDate BETWEEN @StartDate and @EndDate) 
						and [Year] = @Year
						and [Month]= @Month
						order by CompanyName, DeliveryDate, ItemName
			end
		end		
	end
	else if(@Division = '외주')
	begin
		if(@Year ='')
		begin
			if(@Month ='')
			begin
				insert into #BD_OSD_HT
				Select ItemNum, ItemDrawNum, ItemName, EndProcessName, PUC.SmallClassificationName as ProcessName, CompanyName, BusinessRegistrationNum,  QualityInspectionCompleteDate as DeliveryDate, SuitabilityQuantity as DeliveryQuantity , NowStockQuantity,   ApplyUnitCost,  SuitabilityQuantity * ApplyUnitCost as TotalCost, '' as Division, [Year],[Month]
				From QI_HT
				inner join PUC_MT PUC on QI_HT.EndProcessName = PUC.SmallClassificationCode
				where Recognition = '승인'  and   PUC.RecodingState =1 and ItemNum like '%'+@ItemNum+'%' and ItemDrawNum like '%'+@ItemDrawNum+'%'
				and ItemName like '%'+@ItemName+'%' and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
				and CompanyName like '%'+@CompanyName+'%'
				and (QualityInspectionCompleteDate BETWEEN @StartDate and @EndDate) 
				and [Year]  like '%'+@Year+'%'
				and [Month] like '%'+@Month+'%'		
				and ProgressCondition != '대기' and HistorySection2 ='외주발주'		
				order by CompanyName, QualityInspectionCompleteDate, ItemName
			end
			else	--월만 선택시
			begin
				insert into #BD_OSD_HT
				Select ItemNum, ItemDrawNum, ItemName, EndProcessName, PUC.SmallClassificationName as ProcessName, CompanyName, BusinessRegistrationNum,  QualityInspectionCompleteDate as DeliveryDate, SuitabilityQuantity as DeliveryQuantity ,NowStockQuantity,    ApplyUnitCost,  SuitabilityQuantity * ApplyUnitCost as TotalCost,  '' as Division, [Year],[Month]
				From QI_HT
				inner join PUC_MT PUC on QI_HT.EndProcessName = PUC.SmallClassificationCode
				where Recognition = '승인'  and  PUC.RecodingState =1 and ItemNum like '%'+@ItemNum+'%' and ItemDrawNum like '%'+@ItemDrawNum+'%'
				and ItemName like '%'+@ItemName+'%' and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
				and CompanyName like '%'+@CompanyName+'%'
				and (QualityInspectionCompleteDate BETWEEN @StartDate and @EndDate) 
				and [Year]  like '%'+@Year+'%'
				and [Month] = @Month
				and ProgressCondition != '대기' and HistorySection2 ='외주발주'	
				order by CompanyName, QualityInspectionCompleteDate, ItemName
			end
		end
		else
		begin
			if(@Month ='') --년도만 선택시
			begin
				insert into #BD_OSD_HT
				Select ItemNum, ItemDrawNum, ItemName, EndProcessName, PUC.SmallClassificationName as ProcessName, CompanyName, BusinessRegistrationNum,  QualityInspectionCompleteDate as DeliveryDate, SuitabilityQuantity as DeliveryQuantity , NowStockQuantity,   ApplyUnitCost,  SuitabilityQuantity * ApplyUnitCost as TotalCost, '' as Division,[Year],[Month]
				From QI_HT
				inner join PUC_MT PUC on QI_HT.EndProcessName = PUC.SmallClassificationCode
				where Recognition = '승인'  and  PUC.RecodingState =1 and ItemNum like '%'+@ItemNum+'%' and ItemDrawNum like '%'+@ItemDrawNum+'%'
				and ItemName like '%'+@ItemName+'%' and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
				and CompanyName like '%'+@CompanyName+'%'
				and (QualityInspectionCompleteDate BETWEEN @StartDate and @EndDate) 
				and [Year]=@Year
				and [Month] like '%'+@Month+'%'
				and ProgressCondition != '대기' and HistorySection2 ='외주발주'	
				order by CompanyName, QualityInspectionCompleteDate, ItemName
			end
			else	-- 년도, 월 모두 선택시
			begin
				insert into #BD_OSD_HT
				Select ItemNum, ItemDrawNum, ItemName, EndProcessName, PUC.SmallClassificationName as ProcessName, CompanyName, BusinessRegistrationNum,  QualityInspectionCompleteDate as DeliveryDate, SuitabilityQuantity as DeliveryQuantity ,NowStockQuantity,    ApplyUnitCost,  SuitabilityQuantity * ApplyUnitCost as TotalCost, '' as Division, [Year],[Month]
				From QI_HT
				inner join PUC_MT PUC on QI_HT.EndProcessName = PUC.SmallClassificationCode
				where Recognition = '승인'  and  PUC.RecodingState =1 and ItemNum like '%'+@ItemNum+'%' and ItemDrawNum like '%'+@ItemDrawNum+'%'
				and ItemName like '%'+@ItemName+'%' and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
				and CompanyName like '%'+@CompanyName+'%'
				and (QualityInspectionCompleteDate BETWEEN @StartDate and @EndDate) 
				and [Year]=@Year
				and [Month]=@Month
				and ProgressCondition != '대기' and HistorySection2 ='외주발주'	
				order by CompanyName, QualityInspectionCompleteDate, ItemName
			end
		end		
	end
	else if(@Division = '기타')
	begin

		if(@Year ='')
		begin
			if(@Month ='')
			begin
				insert into #BD_OSD_HT
				Select ItemNum, ItemDrawNum, ItemName, ProcessCode, ProcessName,CompanyName, BusinessRegistrationNum, DeliveryDemandDate,  DeliveryQuantity , '0' as NowStockQuantity , ApplyUnitCost,  TotalCost,   Division, [Year],[Month]	
				From 
				(
					Select EtcBD_HT.ItemName as ItemNum,EtcBD_HT.ItemName as ItemDrawNum, EtcBD_HT.ItemName as ItemName, null as  ProcessCode,null as ProcessName,
						 CompanyName, BusinessRegistrationNum,DeliveryDemandDate, DeliveryQuantity,'0' as NowStockQuantity,  ApplyUnitCost, TotalCost,  ReasonName as Division,  [Year],[Month]	
					From EtcBD_HT where Recognition = '승인' 
					union all
					Select EtcClaimRegion as ItemNum, EtcClaimRegion as ItemDrawNum, EtcClaimRegion as ItemName, null,null,  CompanyName, BusinessRegistrationNum, ReceiptDate as DeliveryDemandDate, 
						'0', '0' as NowStockQuantity, '0', -ClaimCost,  '' as Division,  datepart(yy, ReceiptDate) as [Year], datepart(mm, ReceiptDate) as [Month]
					From ECL_HT where Recognition = '승인' 

				)T
				where ItemName like '%'+@ItemName+'%' and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
				and CompanyName like '%'+@CompanyName+'%'
				and (DeliveryDemandDate BETWEEN @StartDate and @EndDate) 
				and [Year]  like '%'+@Year+'%'
				and [Month] like '%'+@Month+'%'
				order by CompanyName, DeliveryDemandDate, ItemName
			end
			else	--월만 선택시
			begin
				insert into #BD_OSD_HT
				Select ItemNum, ItemDrawNum, ItemName, ProcessCode, ProcessName,CompanyName, BusinessRegistrationNum, DeliveryDemandDate,  DeliveryQuantity ,'0' as NowStockQuantity,   ApplyUnitCost,  TotalCost, Division,  [Year],[Month]	
				From 
				(
					Select EtcBD_HT.ItemName as ItemNum,EtcBD_HT.ItemName as ItemDrawNum, EtcBD_HT.ItemName as ItemName, null as  ProcessCode,null as ProcessName,
						 CompanyName, BusinessRegistrationNum,DeliveryDemandDate, DeliveryQuantity,'0'  as NowStockQuantity,  ApplyUnitCost, TotalCost,  ReasonName as Division,   [Year],[Month]	
					From EtcBD_HT where Recognition = '승인' 
					union all
					Select EtcClaimRegion as ItemNum, EtcClaimRegion as ItemDrawNum, EtcClaimRegion as ItemName, null,null,  CompanyName, BusinessRegistrationNum, ReceiptDate as DeliveryDemandDate, 
						'0', '0'  as NowStockQuantity, '0', -ClaimCost,  '' as Division,  datepart(yy, ReceiptDate) as [Year], datepart(mm, ReceiptDate) as [Month]
					From ECL_HT where Recognition = '승인' 

				)T
				where ItemName like '%'+@ItemName+'%' and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
				and CompanyName like '%'+@CompanyName+'%'
				and (DeliveryDemandDate BETWEEN @StartDate and @EndDate) 
				and [Year]  like '%'+@Year+'%'
				and [Month]= @Month
				order by CompanyName, DeliveryDemandDate, ItemName
			end
		end
		else
		begin
			if(@Month ='') --년도만 선택시
			begin
				insert into #BD_OSD_HT
				Select ItemNum, ItemDrawNum, ItemName, ProcessCode, ProcessName,CompanyName, BusinessRegistrationNum, DeliveryDemandDate,  DeliveryQuantity , '0' as NowStockQuantity, ApplyUnitCost,  TotalCost, Division, [Year],[Month]	
				From 
				(
					Select EtcBD_HT.ItemName as ItemNum,EtcBD_HT.ItemName as ItemDrawNum, EtcBD_HT.ItemName as ItemName, null as  ProcessCode,null as ProcessName,
						 CompanyName, BusinessRegistrationNum,DeliveryDemandDate, DeliveryQuantity,'0' as NowStockQuantity, ApplyUnitCost, TotalCost,  ReasonName as Division,   [Year],[Month]	
					From EtcBD_HT where Recognition = '승인' 
					union all
					Select EtcClaimRegion as ItemNum, EtcClaimRegion as ItemDrawNum, EtcClaimRegion as ItemName, null,null,  CompanyName, BusinessRegistrationNum, ReceiptDate as DeliveryDemandDate, 
						'0','0' as NowStockQuantity, '0', -ClaimCost,  '' as Division,  datepart(yy, ReceiptDate) as [Year], datepart(mm, ReceiptDate) as [Month]
					From ECL_HT where Recognition = '승인' 

				)T
				where ItemName like '%'+@ItemName+'%' and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
				and CompanyName like '%'+@CompanyName+'%'
				and (DeliveryDemandDate BETWEEN @StartDate and @EndDate) 
				and [Year]= @Year
				and [Month] like '%'+@Month+'%'
				order by CompanyName, DeliveryDemandDate, ItemName
			end
			else	-- 년도, 월 모두 선택시
			begin
				insert into #BD_OSD_HT
				Select ItemNum, ItemDrawNum, ItemName, ProcessCode, ProcessName,CompanyName, BusinessRegistrationNum, DeliveryDemandDate,  DeliveryQuantity ,'0' as NowStockQuantity,  ApplyUnitCost,  TotalCost, Division, [Year],[Month]	
				From 
				(
					Select EtcBD_HT.ItemName as ItemNum,EtcBD_HT.ItemName as ItemDrawNum, EtcBD_HT.ItemName as ItemName, null as  ProcessCode,null as ProcessName,
						 CompanyName, BusinessRegistrationNum,DeliveryDemandDate, DeliveryQuantity,'0' as NowStockQuantity, ApplyUnitCost, TotalCost,  ReasonName as Division,   [Year],[Month]	
					From EtcBD_HT where Recognition = '승인' 
					union all
					Select EtcClaimRegion as ItemNum, EtcClaimRegion as ItemDrawNum, EtcClaimRegion as ItemName, null,null,  CompanyName, BusinessRegistrationNum, ReceiptDate as DeliveryDemandDate, 
						'0','0' as NowStockQuantity, '0', -ClaimCost, '' as Division,   datepart(yy, ReceiptDate) as [Year], datepart(mm, ReceiptDate) as [Month]
					From ECL_HT where Recognition = '승인' 

				)T
				where ItemName like '%'+@ItemName+'%' and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
				and CompanyName like '%'+@CompanyName+'%'
				and (DeliveryDemandDate BETWEEN @StartDate and @EndDate) 
				and [Year] = @Year
				and [Month]=@Month
				order by CompanyName, DeliveryDemandDate, ItemName
			end
		end
	end
	else if(@Division = '부자재')
	begin

		if(@Year ='')
		begin
			if(@Month ='')
			begin
				insert into #BD_OSD_HT
				Select ItemNum, ItemDrawNum, ItemName, ProcessCode, ProcessName,CompanyName, BusinessRegistrationNum, DeliveryDemandDate,  DeliveryQuantity , '0' as NowStockQuantity, ApplyUnitCost,  TotalCost, Division, [Year],[Month]	
				From 
				(
					Select SBD_HT.ItemNum as ItemNum, SBD_HT.ItemDrawNum as ItemDrawNum, SBD_HT.ItemName as ItemName, null as ProcessCode,null as ProcessName,  CompanyName, BusinessRegistrationNum, DeliveryDate as DeliveryDemandDate, 
						DeliveryQuantity, '0' as NowStockQuantity, ApplyUnitCost, TotalCost,  '' as Division, [Year],[Month]
					From SBD_HT where Recognition = '승인'  

				)T
				where ItemName like '%'+@ItemName+'%' and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
				and CompanyName like '%'+@CompanyName+'%'
				and (DeliveryDemandDate BETWEEN @StartDate and @EndDate) 
				and [Year]  like '%'+@Year+'%'
				and [Month] like '%'+@Month+'%'
				order by CompanyName, DeliveryDemandDate, ItemName
			end
			else	--월만 선택시
			begin
				insert into #BD_OSD_HT
				Select ItemNum, ItemDrawNum, ItemName, ProcessCode, ProcessName,CompanyName, BusinessRegistrationNum, DeliveryDemandDate,  DeliveryQuantity ,'0' as NowStockQuantity,  ApplyUnitCost,  TotalCost, Division,  [Year],[Month]	
				From 
				(
					Select SBD_HT.ItemNum as ItemNum, SBD_HT.ItemDrawNum as ItemDrawNum, SBD_HT.ItemName as ItemName, null as ProcessCode,null as ProcessName,  CompanyName, BusinessRegistrationNum, DeliveryDate as DeliveryDemandDate, 
						DeliveryQuantity,'0' as NowStockQuantity, ApplyUnitCost, TotalCost, '' as Division, [Year],[Month]
					From SBD_HT where Recognition = '승인'  	
				)T
				where ItemName like '%'+@ItemName+'%' and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
				and CompanyName like '%'+@CompanyName+'%'
				and (DeliveryDemandDate BETWEEN @StartDate and @EndDate) 
				and [Year]  like '%'+@Year+'%'
				and [Month]= @Month
				order by CompanyName, DeliveryDemandDate, ItemName
			end
		end
		else
		begin
			if(@Month ='') --년도만 선택시
			begin
				insert into #BD_OSD_HT
				Select ItemNum, ItemDrawNum, ItemName, ProcessCode, ProcessName,CompanyName, BusinessRegistrationNum, DeliveryDemandDate,  DeliveryQuantity ,'0' as NowStockQuantity,  ApplyUnitCost,  TotalCost, Division, [Year],[Month]	
				From 
				(
					Select SBD_HT.ItemNum as ItemNum, SBD_HT.ItemDrawNum as ItemDrawNum, SBD_HT.ItemName as ItemName, null as ProcessCode,null as ProcessName,  CompanyName, BusinessRegistrationNum, DeliveryDate as DeliveryDemandDate, 
						DeliveryQuantity,'0' as NowStockQuantity, ApplyUnitCost, TotalCost,  '' as Division, [Year],[Month]
					From SBD_HT where Recognition = '승인'  
				)T
				where ItemName like '%'+@ItemName+'%' and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
				and CompanyName like '%'+@CompanyName+'%'
				and (DeliveryDemandDate BETWEEN @StartDate and @EndDate) 
				and [Year]= @Year
				and [Month] like '%'+@Month+'%'
				order by CompanyName, DeliveryDemandDate, ItemName
			end
			else	-- 년도, 월 모두 선택시
			begin
				insert into #BD_OSD_HT
				Select ItemNum, ItemDrawNum, ItemName, ProcessCode, ProcessName,CompanyName, BusinessRegistrationNum, DeliveryDemandDate,  DeliveryQuantity , '0' as NowStockQuantity, ApplyUnitCost,  TotalCost, Division,  [Year],[Month]	
				From 
				(
					Select SBD_HT.ItemNum as ItemNum, SBD_HT.ItemDrawNum as ItemDrawNum, SBD_HT.ItemName as ItemName, null as ProcessCode,null as ProcessName,  CompanyName, BusinessRegistrationNum, DeliveryDate as DeliveryDemandDate, 
						DeliveryQuantity,'0' as NowStockQuantity, ApplyUnitCost, TotalCost,  '' as Division, [Year],[Month]
					From SBD_HT where Recognition = '승인'  
				)T
				where ItemName like '%'+@ItemName+'%' and BusinessRegistrationNum like '%'+@BusinessRegistrationNum+'%'
				and CompanyName like '%'+@CompanyName+'%'
				and (DeliveryDemandDate BETWEEN @StartDate and @EndDate) 
				and [Year] = @Year
				and [Month]=@Month
				order by CompanyName, DeliveryDemandDate, ItemName
			end
		end
	end
	SELECT 
	CompanyName
	, BusinessRegistrationNum
	, ItemNum
	, ItemDrawNum
	, ItemName
	, ProcessCode
	, ProcessName
	, DeliveryDate
	, DeliveryQuantity
	, NowStockQuantity
	, ApplyUnitCost
	, TotalCost
	, Division
	, [Year]
	, [Month]
 FROM 
(
	SELECT 
	CompanyName
	, BusinessRegistrationNum
	, ItemNum
	, ItemDrawNum
	, ItemName
	, ProcessCode
	, ProcessName
	, DeliveryDate
	, DeliveryQuantity
	, NowStockQuantity
	, ApplyUnitCost
	, TotalCost
	, Division	
	, [Year]
	, [Month]
	, BusinessRegistrationNum as Num
	FROM #BD_OSD_HT
	UNION ALL
	SELECT 
	NULL
	,  '소 계'	
	, '소 계'	
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL
	, Sum(DeliveryQuantity)
	, NULL
	, avg(ApplyUnitCost)
	, Sum(TotalCost)
	, null
	, NULL
	, NULL
	, BusinessRegistrationNum as Num
	FROM #BD_OSD_HT
	GROUP BY BusinessRegistrationNum
	UNION ALL
	SELECT 
	 '총 계'
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL
	, Sum(DeliveryQuantity)
	, NULL
	, avg(ApplyUnitCost)
	, Sum(TotalCost)
	, null
	, NULL
	, NULL
	, 'zzz' as Num
	FROM #BD_OSD_HT
	
) T
ORDER BY Num, BusinessRegistrationNum, DeliveryDate
GO
