body
{
	
	font-size: 9pt;
	font-family: ±¼¸²;
	SCROLLBAR-FACE-COLOR: #f7f6f6; SCROLLBAR-HIGHLIGHT-COLOR: #f7f6f6; 
	SCROLLBAR-SHADOW-COLOR: #f7f6f6; SCROLLBAR-3DLIGHT-COLOR: #808080; 
	SCROLLBAR-ARROW-COLOR: #400040; SCROLLBAR-TRACK-COLOR: #f7f6f6; 
	SCROLLBAR-DARKSHADOW-COLOR: #808080
}
TD
{
	font-size: 9pt;
	font-family: ±¼¸²;
}
.size
{
	font-size:12pt;
	font-family: ±¼¸²;
	text-align:center;
	width:80px;
	height:25px;
}


#LoaderState_Table TD
{
	font-size: 12pt;
	font-family: ±¼¸²;
}
